@import "../fixed-plans/globalStyles.less";
@import "../plans.less";
@import "../mod.duicons.less";
@import "../du-custom-icons.less";
@import "../variable";

/* MIXINS */
.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.border-radius(@radius) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    -khtml-border-radius: @radius;
    border-radius: @radius;
}

.border-radius-topleft(@radius) {
    -moz-border-radius-topleft: @radius;
    -webkit-border-top-left-radius: @radius;
    -ms-border-radius-topleft: @radius;
    -o-border-radius-topleft: @radius;
    border-top-left-radius: @radius;
}

.border-radius-topright(@radius) {
    -moz-border-radius-topright: @radius;
    -webkit-border-top-right-radius: @radius;
    -ms-border-radius-topright: @radius;
    -o-border-radius-topright: @radius;
    border-top-right-radius: @radius;
}

.border-radius-bottomleft(@radius) {
    -moz-border-radius-bottomleft: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -ms-border-radius-bottomleft: @radius;
    -o-border-radius-bottomleft: @radius;
    border-bottom-left-radius: @radius;
}

.border-radius-bottomright(@radius) {
    -moz-border-radius-bottomright: @radius;
    -webkit-border-bottom-right-radius: @radius;
    -ms-border-radius-bottomright: @radius;
    -o-border-radius-bottomright: @radius;
    border-bottom-right-radius: @radius;
}

.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
    box-shadow: @shadow;
}

.transform(@arguments) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}

[dir="ltr"] .plans .plan-cards.innerContainer .item0,
[dir="ltr"] .plans .plan-cards.innerContainer .item1 {
    width: 100%;
    display: inline-block;
    float: none;
    border: none;
}

.widget {
    margin-top: 40px;
}

.plans.dataSim {
    .plan-filters-mobile-sim {
        text-align: center;
        margin: 10px 0;
        width: auto;

        h4 {
            color: #777777;
            font-size: 14px;
            margin-bottom: 16px;
        }

        .price, .dataContract {
            margin-top: 10px;
        }

        .price {
            [dir=rtl] & {
                border-left: 1px solid #ddd;
            }

            [dir=ltr] & {
                border-right: 1px solid #ddd;
            }
        }
    }

    .filter-catg {
        @media only screen and (max-width: @screen-xs) {
            padding-top: 15px;
        }

        .catg-content {
            width: 100%;
            padding: 0 55px;
            height: 60px;
            position: relative;

            .noUi-base {
                background-color: #0099cc;

                [dir=rtl] & {
                    background-color: #ddd;
                }
            }

            .noUi-origin {
                background-color: #ddd;

                [dir=rtl] & {
                    background-color: #0099cc;
                }
            }
        }

        .du-slider {
            border-top: 1px solid #0099cc;
            border-bottom: 1px solid #0099cc;
            width: 100%;
            height: 60px;
            background: #ffffff;
            padding: 20px 16px 16px !important;

            .noUi-handle {
                width: 20px;
                height: 20px;
                top: -9px;

                &::before {
                    font-size: 10px;
                    left: 26%;
                    top: 18%;

                    [dir=rtl] & {
                        left: 5px;
                    }
                }
            }
        }

        .half-round {
            border-radius: 50% !important;
            border: 1px solid #0099CC;
            width: 60px;
            height: 60px;
            position: absolute;
            z-index: -1;
            top: 0;

            &.left {
                right: auto;
                left: 23px;
            }

            &.right {
                right: 23px;
                left: auto;
            }
        }

        .labels {
            ul {
                [dir=ltr] & {
                    padding-left: 40px;
                }
                [dir=rtl] & {
                    //padding-right: 40px;
                }
            }

            li {
                display: inline-block;
                font-size: 12px;
                cursor: pointer;
                margin-top: 10px;
                color: #777777;

                &:nth-child(2) {
                    [dir=ltr] & {
                        margin-left: -25px;
                    }

                    [dir=rtl] & {
                        margin-right: 0;
                    }
                }

                &:first-child {
                    [dir=ltr] & {
                        margin-left: -45px;
                        float: left;
                    }

                    [dir=rtl] & {
                        margin-right: -25px;
                        float: right;
                    }
                }

                &:last-child {
                    [dir=ltr] & {
                        float: right;
                        margin-right: -15px;
                    }

                    [dir=rtl] & {
                        float: left;
                        margin-left: -20px;
                    }
                }
            }
        }
    }

    .sticky-top {
        padding-top: 0;
        padding-bottom: 20px !important;
        width: auto;
        margin: -10px 0 0 0;

        &.sticky {
            top: -500px !important;
        }

        .headerWrapper {
            .header-image {
                background: #000 url(../../../images/Data-Sim_English_web.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 0;
                height: 110px;

                [dir=rtl] & {
                    background: #000 url(../../../images/Data-Sim_Arabic_web.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 110px;
                }
            }

            .header-content {
                width: auto;

                .txt-box {
                    padding: 20px 35px;
                    margin: 0;
                    position: relative;
                    height: 88px;
                    top: ~"calc(50% - 44px)";

                    h1 {
                        margin-bottom: 0;
                        line-height: 44px;
                        font-size: 34px;
                        margin-top: -15px;

                        @media (max-width: @screen-sm) {
                            margin-top: -12px;
                        }

                        [dir=rtl] & {
                            line-height: 48px !important;
                        }
                    }

                    p {
                        font-size: 18px;
                        position: relative;
                        z-index: 2;
                        margin-top: 5px;
                        color: #0099cc;

                        @media (max-width: @screen-sm) {
                            margin-top: 8px;
                        }
                    }

                    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                        height: 77px;
                        top: ~"calc(50% - 38.5px)";

                        h1 {
                            line-height: 34px;

                            [dir=rtl] & {
                                line-height: 38px !important;
                            }
                        }
                    }

                    @media (max-width: @screen-sm-max) {
                        height: 62px;
                        top: ~"calc(50% - 31px)";

                        h1 {
                            line-height: 20px;

                            [dir=rtl] & {
                                line-height: 20px !important;
                            }
                        }
                    }

                    @media (max-width: @screen-xs-max) {
                        padding: 20px;

                        h1 {
                            font-size: 24px;
                        }
                        
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        &.bgwhite div.arrow {
            z-index: 100;
        }

        .tv-not-available {
            display: none;
            font-size: 14px;
            color: #ff8200;
            background-color: #f9f0c9;
            margin-top: 15px;
            padding: 5px 10px;
            .border-radius(8px);

            &.is-visible {
                display: inline-block;
            }

            .icon::before {
                color: #ff8200;
                font-size: 12px;
                position: relative;
                top: -1px;
            }
        }

        .choose-package-title.sub-title {
            h4 {
                font-family: 'DuCoHeadlineRegular';
                font-size: 18px;

                @media (max-width: @screen-xxs-max) {
                    font-size: 14px;
                }
            }
        }

        .plan-sub-filters {
            padding-bottom: 0;

            a {
                font-size: 14px;
                font-family: 'DuCoHeadlineRegular';
                color: #09c;
                margin: 0 32px 5px 0;
                color: #777777;

                [dir=rtl] & {
                    margin: 0 0 5px 32px;
                }

                &:before {
                    width: 27px;
                    height: 27px;
                    font-size: 31px;
                    margin: 0 15px -4px 15px;
                    margin-bottom: -8px;
                }

                @media (max-width: @screen-sm-max) {
                    &::before {
                        overflow: hidden;
                    }
                }
            }

            a.selected {
                position: relative;
                color: #777777;

                &:before {
                    font-size: 8px;
                    margin-bottom: -4px;
                    padding-top: 4px;
                    text-align: center;
                    font-family: 'duicons-custom';
                    content: '';
                    border: 1px solid #09c;
                    .border-radius(50%) !important;
                    bottom: -4px;
                }

                &:after {
                    position: absolute;
                    content: '';
                    //background-image: url(http://dutest.prototype-interactive.com/images/default-source/local/data-sim/check.png?Status=Master&sfvrsn=4);
                    background-image: url('../../../images/check-dark.png');
                    background-repeat: no-repeat;
                    color: #777777;
                    width: 25px;
                    height: 25px;
                    top: 8px;

                    @media (max-width: @screen-sm-max) {
                        top: 5px;
                    }

                    [dir=ltr] & {
                        left: 21px;
                    }

                    [dir=rtl] & {
                        right: 12px;
                    }
                }

                @media (max-width: @screen-sm-max) {
                    &::before {
                        bottom: 0;
                        margin-bottom: -8px;
                    }

                    &.disabled::before {
                        bottom: -3px;
                    }
                }
            }

            a.disabled {
                pointer-events: none;
                color: #DDD;

                &::before {
                    content: ' ';
                    border: 1px solid #DDD;
                    .border-radius(50%) !important;
                    background-color: transparent;
                    bottom: -8px;
                }
            }

            @media (max-width: @screen-xs-max) {
                [dir=ltr] & {
                    text-align: left;
                    margin-left: 20%;
                    padding-top: 0;
                }

                [dir=rtl] & {
                    text-align: center;
                    padding-top: 0;
                }
            }

            @media (max-width: @screen-xxs-max) {
                padding-left: 0;
                padding-right: 0;
                width: 100%;

                a {
                    white-space: nowrap;
                }
            }
        }

        .plan-filters {
            select {
                display: none;

                & + .bootstrap-select {
                    width: 100%;
                    height: 50px;
                    position: relative;
                    text-align: center;

                    &.open {
                        button {
                            border: 1px solid #09c;

                            span.filter-option {
                                color: #09c;
                            }
                        }

                        &::before {
                            content: "\A";
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            border-left: 1px solid #09c;
                            border-right: 1px solid #09c;
                            height: ~"calc(50% + 2px)";
                        }

                        &::after {
                            color: #09c;
                        }
                    }

                    button {
                        width: 100%;
                        height: 100%;
                        background: none;
                        border: 0;
                        border: 1px solid #09c;
                        .border-radius(25px) !important;
                        .box-shadow(none) !important;
                        z-index: 100;

                        span.filter-option {
                            width: 100%;
                            font-weight: normal;
                            font-family: 'DuCoHeadlineLightRegular';
                            font-size: 14px;
                            color: #09c;
                        }

                        span.caret {
                            display: none;
                        }
                    }

                    .dropdown-menu.open {
                        width: 100%;
                        background-color: #FFF !important;
                        padding: 0;
                        margin: 0;
                        border: 1px solid #09c;
                        border-top: 0;
                        .box-shadow(none) !important;
                        top: 100%;
                        z-index: 101;
                        min-height: 200px !important;
                        .border-radius-topleft(0);
                        .border-radius-topright(0);

                        ul.dropdown-menu.inner.selectpicker {
                            position: relative;
                            top: 0;
                            width: 100%;
                            border: 0;
                            padding: 0;
                            margin: 0;
                            min-height: 200px !important;

                            li {
                                &.disabled:first-child {
                                    display: none;
                                }

                                .glyphicon {
                                    display: none;
                                }

                                span.text {
                                    font-weight: normal;
                                    font-family: 'DuCoHeadlineLightRegular';
                                    font-size: 14px;
                                    color: #09c;
                                }

                                a {
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    margin: 0 25px;
                                    vertical-align: middle;
                                    line-height: 50px;
                                    cursor: pointer;
                                    border-bottom: 1px solid #ddd;

                                    &:hover, &:focus {
                                        text-decoration: none;
                                    }
                                }

                                &:last-child a {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }

                    &::after {
                        font-family: 'duicons';
                        content: '\e80e';
                        color: #09c;
                        border: 0 none;
                        .border-radius(0);
                        font-size: 22px;
                        position: absolute;
                        z-index: 100;
                        pointer-events: none;

                        [dir=ltr] & {
                            right: 30px;
                            top: 10px;
                        }

                        [dir=rtl] & {
                            left: 30px;
                            top: 15px;
                        }
                    }
                }

                &[disabled] + .bootstrap-select {
                    button {
                        border: 1px solid #777;

                        span.filter-option {
                            color: #777;
                        }
                    }

                    &::after {
                        color: #777;
                    }
                }
            }

            .filter-catg {
                padding-bottom: 0;
            }
        }

        .main-title {
            height: 59.5px;
            background-color: #f7f7f7;
            box-shadow: 0.4px 3px 3px 0 rgba(197, 197, 197, 0.34);
            border: solid 1px #dddddd;

            h2 {
                font-size: 20px;
                color: #333;
                line-height: 59.5px;
            }
        }

        .sub-title {
            padding-top: 20px;

            h4 {
                font-weight: normal;
                font-family: 'DuCoHeadlineLightRegular';
                font-size: 16px;
                color: #777;
            }

            @media (max-width: @screen-sm-max) {
                padding-top: 15px;
            }
        }

        &.sticky {
            body.mobile & {
                padding-bottom: 0px !important;

                .plan-sub-filters {
                    visibility: hidden;
                }

                .tv-not-available {
                    display: none;
                }

                .container-fluid {
                    padding-top: 5px;
                }

                @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
                    padding-top: 30px;
                }

                @media (max-width: @screen-xs-max) {
                    .main-title {
                        display: none;
                    }

                    .sub-title {
                        padding-top: 25px;
                    }
                }
            }

            @media (min-width: @screen-md-min) {
                padding-bottom: 0 !important;

                .plan-filters-summary {
                    max-height: 1000px;
                    position: static;
                }

                .arrow {
                    display: none;
                }
            }
        }
    }

    .sticky-filters-summary {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
        height: 0;
        z-index: 101;

        @media (min-width: 1000px) {
            [dir=ltr] & {
                left: 160px;
            }

            [dir=rtl] & {
                right: 160px;
            }
        }

        @media (min-width: 1170px) {
            [dir=ltr] & {
                right: 160px;
            }

            [dir=rtl] & {
                left: 160px;
            }
        }

        .show-filters-link, .plan-filters-summary, .plan-filters-summary-mobile {
            max-height: 0;
            overflow: hidden;
            .transition(max-height .3s ease-out);
        }

        .show-filters-link {
            position: relative;
            top: 35px;
            background-color: #FFF;
            border-bottom: 1px solid #cccccc;
            .box-shadow(0px 5px 25px -14px rgba(0, 0, 0, 0.75));
            text-align: center;
            height: 40px;
            line-height: 40px;
        }

        .plan-filters-summary,
        .plan-filters-summary-mobile {
            position: relative;
            top: 20px;
            text-align: center;
            background-color: #FFF;
            border-bottom: 1px solid #cccccc;
            
            @media (min-width: @screen-md-min) {
                margin-top: 30px;
                padding-bottom: 6px;
            }
            visibility: hidden;
            .box-shadow(0px 5px 25px -14px rgba(0, 0, 0, 0.75));

            a {
                display: inline-block;
                padding: 0 0 12px 0;
                padding: 12px 0;
                margin-bottom: 12px;
                position: relative;
                top: 18px;

                & > div {
                    display: inline-block;
                    padding: 0 15px;
                    float: left;

                    [dir=ltr] & {
                        border-right: 1px solid #ddd;

                        &:last-child {
                            border-right: 0;
                        }
                    }

                    [dir=rtl] & {
                        float: right;
                        border-left: 1px solid #ddd;

                        &:last-child {
                            border-left: 0;
                        }
                    }

                    h6 {
                        margin-bottom: 0px;

                        small {
                            font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
                            font-size: 14px;
                            color: #000;
                        }
                    }
                    h5 {
                        font-size: 18px;
                    }
                }
            }
        }

        &.sticky {
            .show-filters-link, .plan-filters-summary, .plan-filters-summary-mobile {
                max-height: 120px;
                visibility: visible;

                @media (max-width: @screen-md) {
                    max-height: 80px;
                }
            }
        }
    }

    .plan-cards {
        min-height: 500px;
        padding-top: 80px;

        &.loaded .card-item {
            display: block;
        }

        .card-item {
            display: none;
            padding: 0 10px;

            @media (max-width: 767px) {
                width: 100% !important;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                width: 49.5% !important;
            }
            @media (min-width: 1025px) and (max-width: 1599px) {
                width: 33% !important;
            }
            @media (min-width: 1600px) {
                width: 33% !important;
            }

            @media (max-width: @screen-xs) {
                padding: 0 20px;
            }

            @media (max-width: 320px) {
                padding: 0 15px;
            }

            .card-content .you-pay {
                h4 {
                    font-size: 18px;
                    font-family: 'DuCoHeadlineLightRegular';
                }

                h5 {
                    line-height: 20px;

                    mark {
                        font-weight: bold;
                        font-size: 14px;
                        font-family: "DuCoHeadlineLightRegular";

                        strong {
                            font-size: 34px;
                            font-family: 'DuCoHeadlineRegular';
                            font-weight: lighter;
                        }
                    }

                    a.activationFeeInformation i.icon {
                        position: relative;
                        top: 2px;
                    }
                }
            }

            .card-content .you-get {
                padding-bottom: 0;

                img[title="Download"] {
                    display: none;
                }

                h4 {
                    font-size: 18px;
                    font-family: 'DuCoHeadlineLightRegular';
                }

                .you-get-title {
                    padding: 20px 0;

                    &:after {
                        position: absolute;
                        content: '';
                        bottom: 0;
                        height: 1px;
                        left: 0;
                        right: 0;
                        background-color: #0099cc;
                    }

                    mark {
                        line-height: 30px;
                    }
                }

                .you-get-period,
                .you-get-multisim {
                    position: relative;

                    &:after {
                        position: absolute;
                        content: '';
                        bottom: 0;
                        height: 1px;
                        left: 10%;
                        right: 10%;
                        background-color: #ddd;
                    }
                }

                .you-get-multisim {

                    & > div {
                        padding: 20px;
                    }

                    p:last-child {
                        margin-bottom: 0;
                    }
                }

                .extra {
                    padding: 10px 20px 30px 20px !important;

                    .center-align {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;

                        p:last-child {
                            margin-bottom: 0;
                        }
                    }

                    .freebie {
                        display: inline-block;
                        line-height: 30px;

                        img {
                            width: auto;
                            height: 18px;
                            vertical-align: middle;
                        }
                    }
                }

                .item0, .item1 {
                    //min-height: 76px;
                    height: auto !important;
                    width: 100%;
                    display: inline-block;

                    [dir=ltr] & {
                        float: none;
                    }

                    [dir=rtl] & {
                        float: none;
                        border: none;
                    }

                    h5 {
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 25px;
                        padding: 20px 5px;
                        height: auto;

                        mark {
                            img {
                                position: relative;
                                bottom: 4px;
                            }
                        }

                        strong {
                            font-size: 26.6px;
                            font-weight: bold;
                            font-family: "DuCoHeadlineBold";
                            color: #0099cc;
                            word-break: break-all;
                        }
                    }
                }

                .benefits {
                    padding-top: 76px;
                    padding-bottom: 10px;
                }
            }

            .card-content .offers {
                display: inline-block;
                padding-bottom: 20px;
                border: solid 1px #0099cc;
                border-top: none;
                width: 100%;
                .border-radius-topleft(0) !important;
                .border-radius-topright(0) !important;

                h4 {
                    margin: 0 !important;
                    font-size: 12px;
                    position: relative;
                    top: -12px;
                    display: inline-block;
                    background-color: #FFF;
                    padding: 0 15px;
                    font-family: 'DuCoHeadlineRegular';
                    color: #777777;

                    i.icon {
                        [dir=ltr] & {
                            margin-right: 5px;
                        }

                        [dir=rtl] & {
                            margin-left: 5px;
                        }

                        &::before {
                            font-size: 12px;
                            line-height: 12px;
                            color: #777777;
                        }
                    }
                }

                a {
                    &:hover {
                        text-decoration: none;
                    }
                }

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    min-height: 20px;

                    li {
                        display: block;
                        -webkit-align-items: center;
                        align-items: center;
                        padding: 20px 12px;
                        padding-top: 0;

                        @media (min-width: 992px) and (max-width: 1400px) {
                            padding: 0 20px 20px;
                            margin-top: -10px;
                        }

                        @media (max-width: 375px) {
                            padding: 0 10px 20px 10px;
                        }

                        img {
                            max-width: 70px;
                            max-height: 100%;
                            margin: 0 auto;

                            @media (max-width: @screen-sm) {
                                [dir=rtl] & {
                                    margin-right: -10px;
                                }
                            }

                            @media (min-width: 992px) and (max-width: 1400px) {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }

                        .image-prod {
                            width: 25%;
                            display: inline-block;
                            vertical-align: middle;

                            [dir="ltr"] {
                                float: left;
                            }

                            [dir="ltr"] {
                                float: right;
                            }

                            @media (min-width: 992px) and (max-width: 1400px) {
                                position: relative;
                                height: 70px;
                                float: none;
                            }
                        }

                        .offer-text-wrapper-left {
                            display: inline-block;
                        }

                        .offer-text-wrapper-right {
                            float: right;

                            [dir=rtl] & {
                                float: left;
                            }
                        }

                        .offer-text-container {
                            color: #777;
                            padding: 0 10px;
                            width: 73%;
                            text-align: left;
                            line-height: 1.25em;
                            display: inline-block;
                            vertical-align: middle;
                            min-height: 72px;

                            @media (min-width: 992px) and (max-width: 1400px) {
                                padding: 0;
                                width: 100%;

                                [dir=rtl] & {
                                    padding-right: 5px;
                                }

                                [dir=ltr] & {
                                    padding-left: 5px;
                                }
                            }

                            @media (max-width: 374px) {
                                [dir=rtl] & {
                                    padding: 0 10px 0 0;
                                    margin-right: -10px;
                                }
                            }

                            p {
                                color: inherit;
                            }

                            [dir=rtl] & {
                                text-align: right;
                            }

                            strong {
                                font-size: 14px;
                                font-family: "DuCoHeadlineREgular";
                                color: #333;
                                font-weight: 800;
                                display: block;
                                line-height: 20px;

                                span {
                                    float: right;

                                    [dir=rtl] & {
                                        float: left;
                                    }
                                }

                                .offer-text-added {
                                    color: rgb(120, 190, 32);
                                    display: none;
                                }
                            }

                            .offer-non-selected-text {
                                display: inline;

                                span.text-side {
                                    [dir=ltr] & {
                                        float: right;
                                    }

                                    [dir=rtl] & {
                                        float: left;
                                    }
                                }
                            }
                        }

                        button {
                            background: none;
                            border: 0;
                            font-size: 14px;
                            padding: 0;
                            color: #0099cc;
                            min-width: 46px;
                            width: 76px;
                            height: 30px;
                            border: solid 1px #0099cc;
                            border-radius: 23px;
                            font-family: "DuCoHeadlineRegular";

                            [dir=ltr] & {
                                margin-right: auto;
                            }

                            [dir=rtl] & {
                                margin-left: auto;
                            }

                            &[data-offers-remove] {
                                color: rgb(120, 190, 32);
                                border: solid 1px rgb(120, 190, 32);
                            }

                            &[data-offers-add],
                            &[data-offers-remove] {
                                [dir=ltr] & {
                                    float: right;
                                }

                                [dir=rtl] & {
                                    float: left;
                                }
                            }

                            &[data-offers-customize] {
                                border: none;
                            }
                        }

                        &.from-page {
                            span {
                                .offer-non-selected-text {
                                    display: none;
                                }

                                .offer-selected-text {
                                    display: inline;
                                }
                            }
                        }
                    }
                }

                .card-cta {
                    padding: 0px 20px;
                    border-top: solid 1px #0099cc;
                    padding-top: 20px;

                    a {
                        margin: 0;
                        width: 48%;

                        [dir=rtl] & i.icon {
                            margin-left: 5px;
                        }
                    }

                    [dir=ltr] & {
                        a:first-child {
                            float: left;
                        }

                        a:last-child {
                            float: right;
                        }
                    }

                    [dir=rtl] & {
                        a:first-child {
                            float: right;
                        }

                        a:last-child {
                            float: left;
                        }
                    }
                }
            }

            .inline-icon-container-20 {
                height: 15px;
            }

            .card-content {
                .benefits {
                    div:last-child h5 {
                        border-bottom: 0;
                    }
                }
            }

            &.without-tv .card-content .you-get .item0,
            &.without-tv .card-content .you-get .item1 {
                [dir=ltr] & {
                    min-height: 76px;

                    h5 {
                        min-height: 76px;
                        padding: 20px 0;
                    }
                }

                [dir=rtl] & {
                    min-height: 76px;

                    h5 {
                        min-height: 76px;
                    }
                }

                @media (min-width: @screen-md-min) and (max-width: 1030px) {
                    [dir=ltr] & {
                        min-height: 101px;

                        h5 {
                            min-height: 101px;
                        }
                    }
                }
            }

            &.without-tv .card-content .you-get .benefits {
                [dir=ltr] & {
                    padding-top: 76px !important;
                }

                [dir=rtl] & {
                    padding-top: 76px !important;
                }

                @media (min-width: @screen-md-min) and (max-width: 1030px) {
                    [dir=ltr] & {
                        padding-top: 101px !important;
                    }
                }
            }

            &.with-tv .card-content .you-get .item0,
            &.with-tv .card-content .you-get .item1 {
                h5 strong {
                    font-size: 22px;
                }

                [dir=ltr] & {
                    min-height: 72px;

                    h5 {
                        min-height: 72px;
                    }
                }

                [dir=rtl] & {
                    min-height: 76px;

                    h5 {
                        min-height: 76px;
                    }

                    @media (min-width: @screen-lg-min) and (max-width: 1250px) {
                        min-height: 97px;

                        h5 {
                            min-height: 97px;
                        }
                    }

                    @media (min-width: @screen-md-min) and (max-width: 1080px) {
                        min-height: 97px;

                        h5 {
                            min-height: 97px;
                        }
                    }
                }
            }

            &.with-tv .card-content .you-get .benefits {
                [dir=ltr] & {
                    padding-top: 72px !important;
                }

                [dir=rtl] & {
                    padding-top: 76px !important;
                }

                @media (min-width: @screen-lg-min) and (max-width: 1250px) {
                    [dir=rtl] & {
                        padding-top: 97px !important;
                    }
                }

                @media (min-width: @screen-md-min) and (max-width: 1080px) {
                    [dir=rtl] & {
                        padding-top: 97px !important;
                    }
                }
            }
            // Hide Without-TV Channel
            &.without-tv .card-content .you-get {
                .item0 {
                    width: 100% !important;
                    border-left: 0;
                    border-right: 0;
                }

                .item1 {
                    display: none;
                }
            }
        }
    }

    .planDetailsPopup .popupBody .footer .actionButtonsContainer .printButton i.icon {
        &::before {
            font-size: 22px !important;
            position: relative;
            top: 3px;
        }

        [dir=ltr] & {
            margin-right: 10px;
        }

        [dir=rtl] & {
            margin-left: 10px;
        }
    }

    .btn {
        padding: 0 5px;
    }

    .hidden-mobile {
        @media (max-width: @screen-sm-max) {
            display: none !important;
        }
    }

    .hidden-desktop {
        @media (min-width: @screen-md-min) {
            display: none !important;
        }
    }
}

html.touch {
    #PublicWrapper .plans.dataSim {
        .plan-filters {
            .filter-catg > div {
                position: relative;
            }

            select {
                display: inline-block;
                font-family: 'DuCoHeadlineLightRegular';
                font-size: 14px;
                width: 100%;
                color: #09c;
                background-color: #FFF;
                border: 1px solid #09c;
                .border-radius(25px) !important;
                height: 50px;
                -webkit-appearance: none;
                // text-align-last:center;
                outline: none;

                & + .filter-dropdown-caret::after {
                    font-family: 'duicons';
                    content: '\e80e';
                    color: #09c;
                    font-size: 22px;
                    position: absolute;
                    right: 30px;
                    top: 10px;
                }

                &[disabled] {
                    color: #777;
                    border: 1px solid #777;

                    & + .filter-dropdown-caret::after {
                        color: #777;
                    }
                }
            }
        }
    }
}

.buttons-prod {
    @media (min-width: 992px) and (max-width: 1400px) {
        text-align: left;

        [dir=rtl] & {
            text-align: right;
        }
    }
}

.prototype-legacy a.customize {
    font-family: "DuCoHeadlineRegular";

    [dir=rtl] & {
        margin-left: -5px;
    }

    [dir=rtl] & {
        margin-right: -5px;
    }

    .icon.icon-modify {
        &:before {
            content: ' ';
            background-repeat: no-repeat;
            background-position: center center;
            width: 12px;
            height: 12px;
            background-image: url('../../../images/ico-edit.svg');
            width: .6em !important;
        }
    }
}


.page-popup {
    position: fixed;
    max-height: 800px;
    bottom: -1000px;
    width: 100%;
    background-color: #f7f7f7;
    border-top: solid 1px #DDD;
    text-align: center;
    z-index: 100000;
    left: 0;
    padding: 30px 0 90px 0;
    .transition(bottom .3s ease-out);

    &.popup-visible {
        bottom: 0;

        .popup-action {
            bottom: 0 !important;

            .breakdown-totals {
                h4 {
                    font-family: "DuCoHeadlineRegular" !important;
                    font-size: 14px important !;
                    line-height: 19px;
                }
            }
        }
    }

    .close-button {
        //background-image: url('/images/default-source/local/data-sim/close-button.png?Status=Master&sfvrsn=4');
        background-image: url('../../../images/close-button.png');
        background-color: transparent;
        background-position: center;
        color: transparent;
        -webkit-appearance: none;
        border: 0;
        height: 50px;
        width: 50px;
        display: inline-block;
        padding: 0;
        min-width: 0;
        background-repeat: no-repeat;
    }

    &.customize-popup {
        background-color: #ffffff;

        .container {
            @media only screen and (min-width: @screen-xs) {
                margin-top: 50px;
            }
        }

        & > .page-popup-padded-container > .container {
            @media only screen and (max-width: @screen-md-max) {
                margin-top: 0;

            
            @media (min-width: 1600px) {
                width: 33%;
            }
            @media (min-width: 1025px) and (max-width: 1599px) {
                width: 33%;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                width: 49.5%;
            }
            @media (min-width: 767px) {
                width: 100%;
            }
            }
        }

        img {
            display: block;
            margin: 20px auto 10px auto;
        }

        .title {
            font-family: 'DuCoHeadlineLightRegular' !important;
        }

        .image-desc {
            max-width: 100%;
            margin: 0 auto;
            height: 250px;

            @media (max-width: @screen-sm-max) {
                height: 150px;
                margin: 20px auto;
            }
        }

        .popup-text {
            text-align: left;

            @media (max-width: @screen-sm-max) {
                text-align: center;

                [dir=rtl] & {
                    text-align: center !important;
                }
            }

            [data-product-plan] {
                font-family: 'DuCoHeadlineBold' !important;
                margin-top: 5px;
                margin-bottom: 30px !important;
            }

            [data-color-selected] {
                text-transform: capitalize;
            }

            [dir=rtl] & {
                text-align: right;
            }

            .desc {
                @media (min-width: @screen-sm-max) {
                    max-width: 400px;
                }
            }

            .regular {
                font-family: 'DuCoHeadlineRegular';
            }

            input[type=radio] {
                display: none;
            }

            .regular {
                margin-bottom: 0px !important;
            }

            label {
                &.choose-color {
                    width: 44px;
                    padding: 0 4px;
                    margin: 0 3px;

                    &:first-of-type {
                        [dir="ltr"] & {
                            margin-left: 0;
                            padding-left: 0;
                        }

                        [dir="rtl"] & {
                            margin-right: 0;
                            padding-right: 0;
                        }
                    }

                    input[type="radio"] + .radio {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        cursor: pointer;

                        &.black {
                            background-color: #3B3B3B;
                        }

                        &.silver {
                            background-color: #C7C7C7;
                        }

                        &.gold {
                            background-color: #EBDA9E;
                        }
                    }

                    input[type="radio"]:checked + .radio {
                        border: 3px solid #fff;
                        box-shadow: 0px 0px 0px 3px #0099cc;
                        width: 37px;
                        height: 37px;
                    }
                }

                &.choose-storage {
                    display: inline-block;
                    margin: 10px 0 30px 0;
                    font-family: 'DuCoHeadlineLightRegular' !important;

                    input[type="radio"] + .radio {
                        display: inline-block;
                        /*width: 120px;*/
                        height: 50px;
                        border: 2px solid #0099cc;
                        color: #0099cc;
                        margin: -3px;
                        text-align: center;
                        vertical-align: sub;
                        line-height: 45px;
                        padding: 0 50px !important;
                        cursor: pointer;
                    }

                    &.first {
                        input[type="radio"] + .radio {
                            [dir=rtl] & {
                                border-top-right-radius: 30px;
                                border-bottom-right-radius: 30px;
                            }

                            [dir=ltr] & {
                                border-top-left-radius: 30px;
                                border-bottom-left-radius: 30px;
                            }
                        }
                    }

                    &.last {
                        input[type="radio"] + .radio {
                            [dir=rtl] & {
                                border-top-left-radius: 30px;
                                border-bottom-left-radius: 30px;
                            }

                            [dir=ltr] & {
                                border-top-right-radius: 30px;
                                border-bottom-right-radius: 30px;
                            }
                        }
                    }

                    & + .choose-storage {
                        input[type="radio"] + .radio {
                            [dir=rtl] & {
                                border-right: none;
                            }

                            [dir=ltr] & {
                                border-left: none;
                            }
                        }
                    }

                    input[type="radio"]:checked + .radio {
                        background-color: #0099cc;
                        color: #ffffff;
                    }
                }
            }
        }

        .popup-action {
            background-color: #F7F7F7;
            display: block;
            width: 100%;
            left: 0;
            right: 0;
            bottom: -200px;
            border-top: 1px solid lightgray;
            padding: 20px;
            text-align: left;
            position: fixed;

            [dir="rtl"] & {
                text-align: right;
            }

            @media (max-width: @screen-sm-max) {
                text-align: center;

                [dir="rtl"] & {
                    text-align: center;
                }
            }

            .h4 {
                font-family: "DuCoHeadlineRegular";
                font-weight: bold;
            }

            .button {
                position: relative;
                height: 50px;
                width: 100%;
                text-align: center;
                max-width: 350px;

                @media (max-width: @screen-sm-max) {
                    max-width: 100%;
                }

                a.buy-button,
                a.customize-button {
                    width: 100%;
                    background-color: #0099cc;
                    height: 40px;
                    color: #ffffff !important;
                    padding: 10px;
                    border-radius: 22px;
                    min-width: 200px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    font-family: "DuCoHeadlineRegular", Arial, sans-serif;

                    &:hover {
                        text-decoration: none !important;
                    }
                }
            }

            .monthly-payment-total,
            .one-time-payment-total {
                .heading {
                    font-family: "DuCoHeadlineRegular";
                    font-size: 15px !important;

                    @media (max-width: @screen-sm-max) {
                        text-align: left;
                    }
                }

                .details {
                    @media (max-width: @screen-sm-max) {
                        font-size: 12px;
                        text-align: left;
                    }
                }
            }
        }

        @media (max-width: @screen-sm-max) {
            overflow: auto;
            max-height: 93vh;
            padding-bottom: 150px;

            @media (orientation: landscape) {
                max-height: 100vh;
            }

            .popup-text {
                text-align: center;
            }

            /*label.choose-storage input[type="radio"] + .radio {
                width: 100px !important;
            }*/

            .button {
                margin-top: 10px;
            }
        }
    }

    .visually-hidden {
        display: none;
    }

    .page-popup-padded-container {
        h1 {
            [dir="rtl"] & {
                line-height: 1em !important;
            }
        }
    }
}

.page-popup-overlay {
    position: absolute;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

html.page-popup-open .page-popup-overlay {
    opacity: 0.2;
    pointer-events: auto;
    cursor: pointer;
}

.prototype-legacy a.customize {
    vertical-align: text-bottom;
    line-height: 2;
}

html.touch[dir=rtl] .plans.dataSim .plan-filters select + .filter-dropdown-caret::after {
    left: 30px;
    top: 15px;
    right: auto;
}

body {
    & > div.popover {
        z-index: 99999;

        p {
            margin-bottom: 15px;
        }
    }
}


.image-row, .details-row {
    @media (max-width: @screen-sm-max) {
        width: 100%;
    }
}

.calculate-text-length {
    display: none;
    position: absolute;
    font-family: 'DuCoHeadlineLightRegular';
    font-size: 14px;
}

.faqs-tc-with-tv, .faqs-tc-without-tv {
    display: none;

    &.active {
        display: block;
    }

    .sfPageEditor & {
        display: block;
    }
}



//TODO: Temporarily remove multi-sim
.you-get-multisim {
    display: none !important;
}
