@import "../fixed-plans/globalStyles.less";
@import "../mod.duicons.less";
@import "../du-custom-icons.less";
@import "../variable";
//Overrides
.data-sim-summary-root .icon.icon-modify {
    &:before {
        content: ' ';
        background-repeat: no-repeat;
        background-position: center center;
        width: 15px;
        height: 15px;
        background-image: url('../../../images/ico-edit.svg');
    }
}

.data-sim-summary-root .popover {
    z-index: 99999;
    html[dir=rtl] & {
        right: auto !important;
        direction: rtl;
        text-align: right; 
    }
}

//Fixed plans summary styles
.data-sim-summary {
    h3 {
        [dir="rtl"] & {
            font-size: 13px !important;
        }
    }
    .display-flex();
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    .data-sim-summary-description {
        border-bottom: solid 1px #dddddd;
        box-shadow: 0.4px 3px 3px 0 rgba(197, 197, 197, 0.34);
        width: 100%;
        text-align: center;
        position: relative; 
        padding: 40px 0 10px 0;
        h1 {
            font-size: 24px;
            line-height: 1em;
            font-family: "DuCoHeadlineRegular";
        }
        h2 {
            font-family: 'DuCoHeadlineBold';
            font-weight: normal;
            line-height: 1.32em;
            padding: 18px 12px;
        }
        .arrow {
            bottom: -30px;
            left: 50%;
            transform: translateX(3s);
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-top-color: #dadada;
            border-width: 15px;
            z-index: 999;
            margin-left: -15px;
            .arrow-inner {
                top: -16px;
                left: -14px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: relative;
                pointer-events: none;
                border-top-color: #ffffff;
                border-width: 14px;
                [dir="rtl"] & {
                    right: -14px;
                }
                [dir="ltr"] & {
                    left: -14px;
                }
            }
        }
        .order-box {
            padding: 20px;
        }
        .order-box-product,
        .order-box-total {
            max-width: 500px;
            margin: 0 auto;
            text-align: left;
            padding: 10px 0;
            padding-bottom: 60px;
            [dir="rtl"] & {
                text-align: right;
            }
            &>div {
                display: inline-block;
            }
            h3 {
                margin-bottom: 0;
                color: #333;
            }
            .plan {
                width: 100%;
                position: relative;
                [dir="rtl"] & {
                    float: left;
                }
                [dir="ltr"] & {
                    float: left;
                }
                .plan-period {
                    font-size: 14px;
                }
                &.line {
                    border-top: 1px solid #dddddd;
                    padding-top: 10px;
                }
                span.plan-duration,
                span.plan-price,
                span[data-monthly-cost],
                span.text-side {
                    float: right;
                    [dir="rtl"] & {
                        float: left;
                    }
                }
                .remove {
                    display: none;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    [dir="rtl"] & {
                        left: 0;
                    }
                    [dir="ltr"] & {
                        right: 0;
                    }
                }
                .text {
                    .btn {
                        padding: 0;
                        margin-top: -30px;
                        font-weight: bold;
                    }
                }
                &.edit {
                    .remove {
                        display: block;
                    }
                    .text {
                        [dir="rtl"] & {
                            margin-left: 40px;
                        }
                        [dir="ltr"] & {
                            margin-right: 40px;
                        }
                    }
                    .hide-text {
                        [dir="ltr"] & {
                            margin-right: 20px;
                        }
                        [dir="ltr"] & {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .total,
            .price {
                float: right;
                text-align: right;
                [dir="rtl"] & {
                    float: left;
                    text-align: left;
                }
            }
        }
        .order-box-product {
            .close-button {
                background-image: url('../../../images/close-icon-circle-blue.svg');
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                color: transparent;
                -webkit-appearance: none;
                border: 0;
                height: 22px;
                width: 20px;
                display: inline-block;
                padding: 0;
                min-width: 0;
                box-shadow: none !important;
            }
        }
        .change-plan-button,
        .change-confirm {
            clear: both;
            display: block;
            border: 1px solid;
            max-width: 110px;
            padding: 2px;
            margin: 0 auto;
            border-radius: 20px;
            &:hover {
                text-decoration: none;
            }
        }
        .order-box-total {
            clear: both;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                width: 100%;
                background-color: #333;
                height: 2px;
                top: 0;
                left: 0;
                right: 0;
            }
        }
    }
    .data-sim-summary-addons {
        background-color: #f7f7f7;
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 40px 8px 60px;
        box-sizing: border-box;
        [dir="rtl"] & {
            text-align: right;
        }
        @media only screen and (max-width: 767px) {
            text-align: center;
            [dir="rtl"] & {
                text-align: center;
            }
        }
        // @media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
        //     text-align: center;
        //     [dir="rtl"] & {
        //         text-align: center;
        //     }
        // }
        h2 {
            font-family: "DuCoHeadlineRegular", Arial, sans-serif;
            padding: 10px 0;
            text-align: center;
        }
        .full-box {
            display: inline-block;
            min-width: 350px;
            vertical-align: top;
        }
        .add-on-box {
            background-color: #ffffff;
            border: 1px solid #dddddd;
            //display: inline-block;
            width: 100%;
            padding: 15px;
            border-radius: 20px;
            margin: 5px;
            //min-height: 161px;
            position: relative;
            max-width: 350px;
            display: flex;
            flex-flow: row wrap;
            box-sizing: border-box;
            @media only screen and (max-width: 320px) {
                max-width: 300px;
            }
            @media only screen and (max-width: @screen-xs) {
                margin: 5px 0;
            }
            .image,
            .text {
                display: inline-block;
                text-align: left;
                vertical-align: middle;
                strong {
                    font-family: "DuCoHeadlineRegular", Arial, sans-serif;
                    font-weight: bold;
                }
                [dir="ltr"] & {
                    text-align: left;
                }
                [dir="rtl"] & {
                    text-align: right;
                }
                span.text-side {
                    [dir="ltr"] & {
                        float: right;
                    }
                    [dir="rtl"] & {
                        float: left;
                    }
                }
            }
            .image {
                //min-width: 30%;
                //position: absolute;
                //top: 50%;
                //transform: translateY(-80%);
                flex: 0 0 auto;
                min-width: 70px;
                box-sizing: border-box;
                [dir="ltr"] & {
                    left: 10px;
                    padding-right: 8px;
                }
                [dir="rtl"] & {
                    right: 10px;
                    padding-left: 8px;
                }
                img {
                    max-width: 70px;
                    max-height: 70px;
                    vertical-align: middle;
                    margin: 0 auto;
                    display: block;
                    box-sizing: border-box;
                }
            }
            .text {
                //min-width: 63%;
                //position: absolute;
                //top: 15px;
                flex: 1 1 100px;
                min-width: 100px;
                /*@media (max-width: @screen-sm-max) {
                    min-width: 60%;
                }*/
                [dir="ltr"] & {
                    right: 25px;
                }
                [dir="rtl"] & {
                    left: 25px;
                }
                &>p:first-child,
                &>p:last-child {
                    margin-bottom: 0px;
                }
                .duration {
                    font-size: 12px;
                }
            }
            .totals {
                flex: 0 0 auto;
                width: auto;
                display: inline-block;
                [dir="ltr"] & {
                    padding-left: 8px;
                }
                [dir="rtl"] & {
                    padding-right: 8px;
                }
                &>p:first-child,
                &>p:last-child {
                    margin-bottom: 0px;
                }
                .duration {
                    font-size: 12px;
                }
            }
            .buttons {
                //position: absolute;
                width: 100%;
                //left: 0;
                //right: 0;
                padding-top: 16px;
                bottom: 0;
                flex: 1 1 auto;
                max-height: 47px;
                a.btn {
                    width: 44%;
                    border: 1px solid;
                    border-radius: 22.6px !important;
                    height: 31px;
                    line-height: 1.1;
                    [dir="ltr"] & {
                        float: left;
                    }
                    [dir="rtl"] & {
                        float: right;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                button.btn {
                    width: 45%;
                    border-radius: 22.6px !important;
                    color: white;
                    background-color: #0099cc;
                    height: 31px;
                    line-height: 1.1;
                    [dir="ltr"] & {
                        float: right;
                    }
                    [dir="rtl"] & {
                        float: left;
                    }
                }
            }
        }
    }
    &>h3 {
        font-family: 'DuCoHeadlineBold';
        font-size: 20px;
        color: #333;
        line-height: 1.2em;
        margin-top: 32px;
    }
    .icon {
        vertical-align: middle;
        [dir="ltr"] & {
            margin-right: 4px;
        }
        [dir="rtl"] & {
            margin-left: 4px;
        }
    }
    *+.icon {
        [dir="ltr"] & {
            margin-left: 4px;
        }
        [dir="rtl"] & {
            margin-right: 4px;
        }
    }
    input[type="radio"] {
        position: absolute;
        opacity: 0;
    }
    input[type="radio"]+label {
        padding-top: 4px;
        color: rgb(0, 169, 206);
        cursor: pointer;
        &:before {
            content: ' ';
            cursor: pointer;
            width: 32px;
            height: 32px;
            display: inline-block;
            background-color: white;
            border-radius: 16px;
            border: 1px solid rgb(0, 169, 206);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 14px;
            vertical-align: middle;
            margin-top: -4px;
            [dir="ltr"] & {
                margin-right: 10px;
            }
            [dir="rtl"] & {
                margin-left: 10px;
            }
        }
    }
    input[type="radio"]:checked+label {
        pointer-events: auto;
        &:before {
            background-color: rgb(0, 169, 206);
            background-image: url('../../../images/ico-check-light.svg');
        }
    }
}

.data-sim-summary .breakdown {
    border-radius: 10px;
    border: solid 1.5px #dddddd;
    display: inline-block;
    text-align: initial;
    padding: 22px;
    width: 100%;
    max-width: 375px;
    margin-top: 12px;
    @media only screen and (max-width: @screen-xs) {
        width: auto;
        padding: 16px;
        body.iphone & {
            padding: 22px;
        }
        [dir="ltr"] & {
            margin-left: 12px;
            margin-right: 12px;
        }
        [dir="rtl"] & {
            margin-right: 12px;
            margin-left: 12px;
        }
    }
    .breakdown-item {
        pointer-events: auto;
        .display-flex();
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding-top: 12px;
        a {
            font-family: 'DuCoHeadlineRegular';
        }
    }
    .breakdown-item.addon {
        pointer-events: auto;
        .description {
            position: relative;
            &:before {
                content: '+';
                display: inline-block;
                position: absolute;
                font-family: 'DuCoHeadlineBold';
            }
            .header,
            .details {
                [dir="ltr"] & {
                    padding-left: 24px;
                    @media only screen and (max-width: @screen-xs) {
                        padding-left: 16px;
                    }
                }
                [dir="rtl"] & {
                    padding-right: 24px;
                    @media only screen and (max-width: @screen-xs) {
                        padding-right: 16px;
                    }
                }
            }
        }
        .header,
        .details {
            /*[dir="ltr"] & {
                padding-left: 8px;
            }

            [dir="rtl"] & {
                padding-right: 8px;
            }*/
        }
    }
    .breakdown-item .description {
        [dir="ltr"] & {
            margin-right: 24px;
        }
        [dir="rtl"] & {
            margin-left: 24px;
        }
    }
    .breakdown-item .price {
        text-align: end;
        white-space: nowrap;
    }
    .breakdown-item .header {
        font-family: 'DuCoHeadlineBold';
    }
    .breakdown-item .details {
        color: #777777;
    }
    .detail-information-popup {
        display: block;
        margin-top: 8px;
        text-decoration: none;
        [dir="ltr"] & {
            padding-left: 24px;
            @media only screen and (max-width: @screen-xs) {
                padding-left: 16px;
            }
        }
        [dir="rtl"] & {
            padding-right: 24px;
            @media only screen and (max-width: @screen-xs) {
                padding-right: 16px;
            }
        }
    }
    .change-plan-button {
        display: block;
        text-align: center;
        margin-top: 20px;
        border: solid 1.5px #00a9ce;
        border-radius: 22.6px;
        font-family: 'DuCoHeadlineRegular';
        color: #00a9ce;
        padding: 11px 12px 9px 12px;
        pointer-events: auto;
        text-decoration: none !important;
        span {
            pointer-events: auto;
        }
    }
}

.data-sim-summary .offers {
    margin-top: 16px;
    width: 100%;
    max-width: 375px;
    @media only screen and (max-width: @screen-xs) {
        width: auto;
        [dir="ltr"] & {
            margin-left: 12px;
            margin-right: 12px;
        }
        [dir="rtl"] & {
            margin-right: 12px;
            margin-left: 12px;
        }
    }
    .offer {
        border-radius: 10px;
        border: solid 1.5px #dddddd;
        .display-flex();
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        justify-content: center;
        text-align: initial;
        padding: 22px;
        width: 100%;
        max-width: 375px;
        margin-top: 12px;
        @media only screen and (max-width: @screen-xs) {
            padding: 16px;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    .offer .image {
        width: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        text-align: center;
        [dir="ltr"] & {
            margin-right: 4px;
        }
        [dir="rtl"] & {
            margin-left: 4px;
        }
        @media only screen and (max-width: @screen-xs) {
            //flex: 1 1 100%;
            [dir="ltr"] & {
                margin-right: 0;
            }
            [dir="rtl"] & {
                margin-left: 0;
            }
        }
        img {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
        }
    }
    .breakdown-item {
        pointer-events: auto;
        .display-flex();
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        a {
            font-family: 'DuCoHeadlineRegular';
        }
        .icon {
            pointer-events: auto;
        }
    }
    .breakdown-item .description {
        [dir="ltr"] & {
            margin-right: 24px;
        }
        [dir="rtl"] & {
            margin-left: 24px;
        }
        @media only screen and (max-width: @screen-xs) {
            [dir="ltr"] & {
                margin-right: 4px;
            }
            [dir="rtl"] & {
                margin-left: 4px;
            }
        }
    }
    .breakdown-item .price {
        text-align: end;
    }
    .breakdown-item .header {
        font-family: 'DuCoHeadlineBold';
        height: 22px;
    }
    .breakdown-item .details {
        color: #777777;
    }
    .offer .information {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    .variations {
        margin-top: 16px;
        .display-flex();
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .variations>.variation {
        display: inline-block;
        [dir="ltr"] & {
            margin-right: 12px;
        }
        [dir="rtl"] & {
            margin-left: 12px;
        }
        flex: 1 1 auto;
    }
    .toggle-offer-button {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        border: solid 1.5px #00a9ce;
        border-radius: 22.6px;
        font-family: 'DuCoHeadlineRegular';
        padding: 11px 12px 7px 12px;
        background-color: #00a9ce;
        color: white;
        text-decoration: none !important;
        .add-text {
            display: inline;
        }
        .remove-text {
            display: none;
        }
        .icon {
            display: inline-block;
            width: 28px;
            height: 28px;
            margin-top: -4px;
            &.icon-add,
            &.icon-remove {
                &:before {
                    content: ' ';
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 28px;
                    height: 28px;
                }
            }
            &.icon-add:before {
                background-image: url('../../../images/ico-Plus.svg');
            }
            &.icon-remove:before {
                background-image: url('../../../images/ico-Remove.svg');
            }
        }
    }
    .offer[data-state="added"] {
        pointer-events: auto;
        .toggle-offer-button {
            color: #00a9ce;
            background: none;
            .add-text {
                display: none;
            }
            .remove-text {
                display: inline;
            }
        }
    }
}

.data-sim-summary .breakdown-totals {
    background-color: #f7f7f7;
    border-top: solid 1px #ddd;
    padding: 24px 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .display-flex();
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    z-index: 99999;
    @media only screen and (max-width: @screen-md-max) {
        [dir="ltr"] & {
            right: 0;
        }
        [dir="rtl"] & {
            left: 0;
        }
    }
    @media only screen and (max-width: @screen-sm-max) {
        [dir="ltr"] & {
            left: 0;
        }
        [dir="rtl"] & {
            right: 0;
        }
        padding: 20px;
    }
    @media only screen and (max-width: @screen-xs-min) {
        padding: 20px;
    }
    &>* {
        &:first-child {
            [dir="ltr"] & {
                margin-left: 20px;
            }
            [dir="rtl"] & {
                margin-right: 20px;
            }
        }
        &:last-child {
            [dir="ltr"] & {
                margin-right: 0;
            }
            [dir="rtl"] & {
                margin-left: 0;
            }
        }
        @media only screen and (min-width: @screen-md-min) {
            [dir="ltr"] & {
                margin-left: 80px;
            }
            [dir="rtl"] & {
                margin-right: 80px;
            }
        }
        @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            [dir="ltr"] & {
                margin-left: 60px;
            }
            [dir="rtl"] & {
                margin-right: 60px;
            }
        }
        @media only screen and (max-width: 340px) {
            [dir="ltr"] & {
                margin-right: 0;
            }
            [dir="rtl"] & {
                margin-left: 0;
            }
        }
    }
    &>h4 {
        font-size: 14px;
    }
    .heading {
        font-size: 14px;
        font-family: 'DuCoHeadlineBold';
    }
    .buy-button,
    .customize-button {
        border-radius: 22.6px;
        background-color: #c724b1;
        color: white;
        display: inline-block;
        padding: 12px 12px;
        min-width: 30%;
        width: auto;
        float: none;
        margin-bottom: 0;
        text-align: center;
        text-decoration: none !important;
        @media only screen and (min-width: @screen-sm-min) {
            [dir="ltr"] & {
                margin-left: auto;
            }
            [dir="rtl"] & {
                margin-right: auto;
            }
        }
        @media only screen and (max-width: @screen-xs-max) {
            -webkit-flex: 1 1 100%;
            -ms-flex: 1 1 100%;
            flex: 1 1 100%;
            margin-top: 12px;
        }
    }
}

@product-page-gutter-external: 26.5px;
@product-page-gutter-internal: 24.3px;
.data-sim-summary-root {
    .page-popup {
        position: fixed;
        max-height: 800px;
        bottom: -1000px;
        width: 100%;
        border-top: solid 1px #DDD;
        text-align: center;
        z-index: 100000;
        left: 0;
        padding: 30px 0 90px 0;
        .transition(bottom .3s ease-out);
        @media (max-width: @screen-sm-max) {
            padding: 45px 0;
            max-height: 350px;
            .buttons-wrapper .btn-rounded {
                width: 100% !important;
                margin: 0 0 18px 0 !important;
            }
        }
        .close-button {
            //background-image: url('/images/default-source/local/data-sim/close-button.png?Status=Master&sfvrsn=4');
            background-image: url('../../../images/close-button.png');
            background-color: transparent;
            color: transparent;
            -webkit-appearance: none;
            border: 0;
            height: 50px;
            width: 50px;
            display: inline-block;
            padding: 0;
            min-width: 0;
            background-repeat: no-repeat;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 20px;
            line-height: 30px;
            @media only screen and (max-width: @screen-xs) {
                font-size: 16px;
                line-height: 16px;
            }
        }
        .buttons-wrapper {
            padding-top: 10px;
            .btn-rounded {
                color: #09c;
                font-size: 14px;
                font-family: "DuCoHeadlineRegular";
                height: 45px;
                border-radius: 22.5px;
                border: solid 1.5px #09c;
                display: inline-block;
                line-height: 45px;
                width: 48%;
                [dir=ltr] & {
                    //float: left;
                    margin-right: @product-page-gutter-external;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                [dir=rtl] & {
                    //float: right;
                    margin-left: @product-page-gutter-external;
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
        }
        &.change-plan-confirmation-popup {
            background-color: #f7f7f7;
        }
        &.customize-popup {
            background-color: #ffffff;
            .container {
                @media only screen and (min-width: @screen-xs) {
                    margin-top: 50px;
                }
            }
            img {
                display: block;
                margin: 20px auto 10px auto;
            }
            .title {
                font-family: 'DuCoHeadlineLightRegular' !important;
            }
            .image-desc {
                max-width: 100%;
                margin: 0 auto;
                height: 250px;
                @media (max-width: @screen-sm-max) {
                    height: 150px;
                    margin: 20px auto;
                }
            }
            .popup-text {
                text-align: left;
                @media (max-width: @screen-sm-max) {
                    text-align: center;
                }
                [data-product-plan] {
                    font-family: 'DuCoHeadlineBold' !important;
                    margin-top: 5px;
                    margin-bottom: 30px !important;
                }
                [data-color-selected] {
                    text-transform: capitalize;
                }
                [dir=rtl] & {
                    text-align: right;
                    @media (max-width: @screen-sm-max) {
                        text-align: center;
                    }
                }
                .desc {
                    @media (min-width: @screen-sm-max) {
                        max-width: 400px;
                    }
                }
                .regular {
                    font-family: 'DuCoHeadlineRegular';
                }
                input[type=radio] {
                    display: none;
                }
                .regular {
                    margin-bottom: 0px !important;
                }
                label {
                    &.choose-color {
                        width: 44px;
                        padding: 0 4px;
                        margin: 0 3px;
                        &:first-of-type {
                            [dir="ltr"] & {
                                margin-left: 0;
                                padding-left: 0;
                            }
                            [dir="rtl"] & {
                                margin-right: 0;
                                padding-right: 0;
                            }
                        }
                        input[type="radio"]+.radio {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            cursor: pointer;
                            &.black {
                                background-color: #3B3B3B;
                            }
                            &.silver {
                                background-color: #C7C7C7;
                            }
                            &.gold {
                                background-color: #EBDA9E;
                            }
                        }
                        input[type="radio"]:checked+.radio {
                            border: 3px solid #fff;
                            box-shadow: 0px 0px 0px 3px #0099cc;
                            width: 37px;
                            height: 37px;
                        }
                    }
                    &.choose-storage {
                        margin: 10px 0 30px 0;
                        font-family: 'DuCoHeadlineLightRegular' !important;
                        input[type="radio"]+.radio {
                            display: inline-block;
                            width: 120px;
                            height: 50px;
                            border: 2px solid #0099cc;
                            color: #0099cc;
                            margin: -3px;
                            text-align: center;
                            vertical-align: sub;
                            line-height: 45px;
                            padding: 0 !important;
                            cursor: pointer;
                        }
                        &.first {
                            input[type="radio"]+.radio {
                                [dir=rtl] & {
                                    border-top-right-radius: 30px;
                                    border-bottom-right-radius: 30px;
                                }
                                [dir=ltr] & {
                                    border-top-left-radius: 30px;
                                    border-bottom-left-radius: 30px;
                                }
                            }
                        }
                        &.last {
                            input[type="radio"]+.radio {
                                [dir=rtl] & {
                                    border-top-left-radius: 30px;
                                    border-bottom-left-radius: 30px;
                                }
                                [dir=ltr] & {
                                    border-top-right-radius: 30px;
                                    border-bottom-right-radius: 30px;
                                }
                            }
                        }
                        &+.choose-storage {
                            input[type="radio"]+.radio {
                                [dir=rtl] & {
                                    border-right: none;
                                }
                                [dir=ltr] & {
                                    border-left: none;
                                }
                            }
                        }
                        input[type="radio"]:checked+.radio {
                            background-color: #0099cc;
                            color: #ffffff;
                        }
                    }
                }
            }
            .popup-action {
                background-color: #F7F7F7;
                display: block;
                width: 100%;
                left: 0;
                right: 0;
                bottom: -200px;
                border-top: 1px solid lightgray;
                padding: 20px;
                text-align: left;
                position: fixed;
                [dir="rtl"] & {
                    text-align: right;
                }
                @media (max-width: @screen-sm-max) {
                    text-align: center;
                    [dir="rtl"] & {
                        text-align: center;
                    }
                }
                .h4 {
                    font-family: "DuCoHeadlineRegular";
                    font-weight: bold;
                }
                .button {
                    position: relative;
                    height: 50px;
                    width: 100%;
                    text-align: center;
                    max-width: 350px;
                    a.buy-button,
                    a.customize-button {
                        width: 100%;
                        background-color: #0099cc;
                        height: 40px;
                        color: #ffffff !important;
                        padding: 10px;
                        border-radius: 22px;
                        min-width: 200px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        font-family: "DuCoHeadlineRegular", Arial, sans-serif;
                        cursor: pointer;
                        &:hover {
                            text-decoration: none !important;
                        }
                    }
                }
                .monthly-payment-total,
                .one-time-payment-total {
                    .heading {
                        font-family: "DuCoHeadlineRegular";
                        font-size: 15px !important;
                        @media (max-width: @screen-sm-max) {
                            text-align: left;
                        }
                    }
                    .details {
                        @media (max-width: @screen-sm-max) {
                            font-size: 12px;
                            text-align: left;
                        }
                    }
                }
            }
            @media (max-width: @screen-sm-max) {
                overflow: auto;
                max-height: 95vh;
                padding-bottom: 150px;
                .popup-text {
                    text-align: center;
                }
                /*label.choose-storage input[type="radio"] + .radio {
                    width: 100px !important;
                }*/
                .button {
                    margin-top: 10px;
                }
            }
            @media (max-width: 320px) {
                label.choose-storage input[type="radio"]+.radio {
                    width: 88px !important;
                }
            }
        }
        .page-popup-padded-container {
            h1 {
                [dir="rtl"] & {
                    line-height: 1em !important;
                }
            }
        }
    }
    .page-popup-padded-container {
        min-width: 0;
        margin: 0 auto;
        @media only screen and (min-width: @screen-xl-min) {
            width: 1015px;
        }
        @media only screen and (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
            width: 790px;
        }
        @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            width: 720px;
        }
        @media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
            width: 460px;
        }
        @media only screen and (max-width: @screen-xxs-max) {
            width: 100%;
        }
        @media (max-width: @screen-sm-max) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    .page-popup-overlay {
        position: absolute;
        background-color: #000;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        pointer-events: none;
        .transition(opacity .3s ease-out);
    }
    .image-row,
    .details-row {
        @media (max-width: @screen-sm-max) {
            width: 100%;
        }
    }
}

html.page-popup-open {
    overflow-y: hidden;
    .data-sim-summary-root {
        .page-popup {
            bottom: 0;
        }
        .page-popup-overlay {
            opacity: 0.2;
            pointer-events: auto;
            cursor: pointer;
        }
    }
}

.data-sim-summary-root .page-popup {
    &.popup-visible {
        .popup-action {
            bottom: 0 !important;
            .breakdown-totals {
                h4 {
                    font-family: "DuCoHeadlineRegular" !important;
                    font-size: 14px !important;
                }
            }
        }
    }
    .visually-hidden {
        display: none;
    }
}

html.page-popup-open .page-popup-overlay {
    opacity: 0.2;
    pointer-events: auto;
    cursor: pointer;
}