/*@import '../Plans/duAccordion.less';
@import 'orderSummaryStatus.less';
@import 'tooltip.less';
@import '../../LESS/prototype/rtl.less';
*/

#content.device-details {
    padding: 51px 0 0;
    .deviceDetails {
        pointer-events: auto;
        font-family: 'DuCoHeadlineRegular';
        font-size: 14px;
        line-height: 16px;
        color: #262626;
        @media (max-width: @screen-md-max) {
            padding-top: 20px;
            text-align: center;
        }
        & > .container {
            margin-bottom: 48px;
            width: auto !important;
            @media (max-width: @screen-md-max) {
                margin-bottom: 10px;
            }
            & > .row > .col-xs-12,
            & > .row > .col-sm-12 {
                padding: 0 16px;
            }
        }
        h1 {
            pointer-events: auto;
            font-size: 30px !important;
            line-height: 40px !important;
            text-align: center;
            font-family: 'DuCoHeadlineLightRegular';
            color: #333;
            margin-bottom: 14px;
            direction: ltr;
            @media (max-width: @screen-md-max) {
                margin-bottom: 20px;
                font-size: 25px !important;
                line-height: 37px !important;
            }
            strong {
                pointer-events: auto;
                font-weight: normal;
                font-family: 'DuCoHeadlineBold';
            }
        }
        h2 {
            pointer-events: auto;
            font-family: 'DuCoHeadlineBold';
            font-size: 20px;
            color: #333;
            font-weight: normal;
            margin-bottom: 24px;
        }
        h3 {
            pointer-events: auto;
            font-family: 'DuCoHeadlineRegular';
            font-size: 14px;
            line-height: 20px;
            color: #262626;
            font-weight: normal;
            margin-bottom: 8px;
        }
        p {
            pointer-events: auto;
        }
        .deviceDetails-deviceInfo {
            .clearfix();
            clear: both;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 43px 0;
            @media (max-width: @screen-md-max) {
                padding: 16px 0;
                border-top: none;
            }
        }
        .deviceDetails-customization {
            border: 0px solid #ccc;
            .border-left-width(1px);
            .padding-left(44px);
            @media (max-width: @screen-md-max) {
                .padding-left(0);
                .border-left-width(0);
            }
        }
        .deviceDetails-imageContainer {
            pointer-events: auto;
            text-align: center;
            @media (max-width: @screen-md-max) {
                margin-bottom: 24px;
            }
            .deviceDetails-image {
                pointer-events: auto;
                max-height: 360px;
                max-width: 100%;
                @media (max-width: @screen-md-max) {
                    max-height: 257px;
                }
            }
        }
        .deviceDetails-buttonGroup {
            text-align: center;
            margin-bottom: 18px;
            font-size: 14px;
            font-family: 'DuCoHeadlineRegular';
            a {
                text-decoration: none !important;
                border: solid 1px #09c;
                border-radius: 30px;
                padding: 6px 21px;
                display: inline-block;
                transition: all ease-in-out 100ms;
                &:hover {
                    color: white !important;
                    background-color: #09c !important;
                    border-color: #09c !important;
                }
                &.active {
                    color: #777;
                    border-color: #ddd;
                }
            }
        }
        .deviceDetails-description {
            pointer-events: auto;
            color: #777777;
            margin-bottom: 24px;
            text-align: center;
            font-family: 'DuCoHeadlineRegular';
            @media (max-width: @screen-md-max) {
                margin-bottom: 0;
            }
        }
    }
    .deviceDetails .deviceDetails-colorContainer {
        pointer-events: auto;
        margin-bottom: 24px;
        @media (max-width: @screen-md-max) {
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(221, 221, 221);
        }
        .deviceDetails-selectedColorText {
            pointer-events: auto;
            font-family: 'DuCoHeadlineBold';
            font-weight: normal;
        }
        .deviceDetails-availability {
            pointer-events: auto;
            &-limited {
                pointer-events: auto;
                display: none;
            }
            &-none {
                pointer-events: auto;
                display: none;
                color: #fb0007;
                display: none;
            }
        }
        .deviceDetails-colorsList {
            pointer-events: auto;
            padding: 0;
            list-style: none;
            & > li {
                pointer-events: auto;
                display: inline-block;
                width: 40px;
                height: 40px;
                position: relative;
                & > a {
                    pointer-events: auto;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    border-radius: 20px;
                    border: 0 solid transparent;
                    padding: 0;
                    transition: all linear 50ms;
                }
                .deviceDetails-colorText {
                    pointer-events: auto;
                    display: none;
                }
                .deviceDetails-colorImage {
                    pointer-events: auto;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
            }
            & > li.active,
            & > li:hover {
                pointer-events: auto;
                & > a {
                    pointer-events: auto;
                    border-color: #0099cc;
                    border-width: 3px;
                    padding: 3px;
                }
                .deviceDetails-colorText {
                    pointer-events: auto;
                }
                .deviceDetails-colorImage {
                    pointer-events: auto;
                }
            }
        }
    }
    .deviceDetails .deviceDetails-modelContainer {
        pointer-events: auto;
        margin-bottom: 24px;
        @media (max-width: @screen-md-max) {
            padding-bottom: 14px;
            border-bottom: 1px solid rgb(221, 221, 221);
        }
        .deviceDetails-modelsList {
            pointer-events: auto;
            padding: 0;
            list-style: none;
            display: flex;
            flex-flow: row wrap;
            @media (max-width: @screen-md-max) {
                margin-bottom: 0;
                justify-content: center;
                padding: 0 7.5px;
            }
            & > li {
                pointer-events: auto;
                display: inline-block;
                .margin(0, 10px, 15px, 0);
                flex: 1 0 160px;
                display: block;
                max-width: 160px;
                & > a {
                    pointer-events: auto;
                    color: #0099cc;
                    padding: 14px 42px;
                    display: inline-block;
                    border-radius: 10px;
                    font-family: 'DuCoHeadlineBold';
                    font-size: 14px;
                    text-decoration: none !important;
                    border: 2px solid #ddd;
                    transition: all linear 50ms;
                    text-align: center;
                    width: 100%;
                    min-width: 132px;
                    transition: all ease-in-out 200ms;
                }
                .deviceDetails-modelText {
                    pointer-events: auto;
                }
            }
            & > li.active {
                pointer-events: auto;
                & > a {
                    pointer-events: auto;
                    color: white;
                    background-color: #0099cc;
                    border-color: #0099cc;
                }
                .deviceDetails-modelText {
                    pointer-events: auto;
                }
            }
            & > li:hover {
                pointer-events: auto;
                & > a {
                    pointer-events: auto;
                    border-color: #0099cc;
                }
                .deviceDetails-modelText {
                    pointer-events: auto;
                }
            }
        }
    }
    .deviceDetails-contentContainer {
        margin-bottom: 16px;
        p {
            font-family: 'DuCoHeadlineRegular';
            &:last-child {
                margin-bottom: 0;
            }
        }
        @media (max-width: @screen-md-max) {
            margin-bottom: 16px;
            padding-bottom: 24px;
            border-bottom: 1px solid rgb(221, 221, 221);
        }
    }
    .deviceDetails .deviceDetails-bestPlanContainer {
        pointer-events: auto;
        font-family: 'DuCoHeadlineLightRegular';
        .deviceDetails-upfrontPrice {
            pointer-events: auto;
            font-size: 30px;
            line-height: 16px;
            margin-bottom: 10px;
            [dir="rtl"] & {
                font-size: 30px !important;
                line-height: 1.1em;
            }
        }
        .deviceDetails-lowestUpfrontPrice {
            pointer-events: auto;
        }
        & > p {
            pointer-events: auto;
        }
        strong {
            font-family: 'DuCoHeadlineBold';
            font-weight: normal;
        }
    }
    .deviceDetails-featuresListContainer {
        pointer-events: auto;
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        margin: 32px auto 40px auto;
        & > h2 {
            flex: 1 0 100%;
            text-align: center;
            font-family: 'DuCoHeadlineRegular';
        }
        @media (max-width: @screen-md-max) {
            width: 100%;
            display: block;
            margin-top: 24px;
        }
    }
    .deviceDetails-featuresList {
        pointer-events: auto;
        color: #777;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        list-style: disc;
        .padding(0, 0, 0, 40px);
        flex: 1 1 50%;
        @media (max-width: @screen-md-max) {
            .text-align(left);
            width: auto;
        }
        & > li {
            pointer-events: auto;
            margin-bottom: 10px;
            @media (max-width: @screen-md-max) {
                .text-align(left);
                width: auto;
            }
        }
    }
    .deviceDetails-availabilityStatus {
        pointer-events: auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 105px;
        padding: 20px 160px;
        background-color: #f8f8f8;
        display: flex;
        flex-flow: row wrap;
        z-index: 999999;
        border-top: 1px solid #ddd;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: all ease-in-out 200ms;
        transition-delay: 250ms;
        transform: translateY(100%);
        &.show {
            display: flex !important;
            transform: translateY(0%);
        }
        @media (max-width: @screen-lg-max) {
            padding-left: 75px;
            padding-right: 75px;
        }
        @media (max-width: @screen-md-max) {
            display: block;
            min-height: 130px;
            padding: 20px 20px;
        }
        h2 {
            flex: 1 0 auto;
            .text-align(right);
            font-size: 24px;
            font-family: 'DuCoHeadlineLightRegular';
            line-height: 24px;
            margin-bottom: 0;
            padding: 20px 0px;
            flex: 1 0 auto;
            order: 2;
            @media (max-width: @screen-md-max) {
                pointer-events: auto;
                .text-align(center);
                line-height: 1.4em;
                font-size: 18px;
                padding: 0;
                flex: 1 0 100%;
                order: 1;
            }
            strong {
                font-family: 'DuCoHeadlineBold';
                font-weight: normal;
            }
        }
        .deviceDetails-availabilityStatusActionsContainer {
            pointer-events: auto;
            padding: 12px 0;
            order: 1;
            @media (max-width: @screen-md-max) {
                padding-bottom: 0;
                flex: 1 0 100%;
                order: 2;
                text-align: center;
            }
        }
        .deviceDetails-chooseAnotherDeviceButton {
            pointer-events: auto;
            font-family: 'DuCoHeadlineRegular';
            font-size: 16px;
            color: #0099cc;
            border: 1px solid #0099cc;
            border-radius: 22.5px;
            padding: 8px 60px;
            display: inline-block;
            text-decoration: none !important;
            @media (max-width: @screen-md-max) {
                width: 100%;
                min-width: 0px;
                padding-left: 20px;
                padding-right: 20px;
                max-width: 400px;
            }
        }
    }
    .deviceDetails-backToTopPopup {
        pointer-events: auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        //min-height: 105px;
        padding: 20px 160px;
        background-color: #f8f8f8;
        z-index: 999999;
        border-top: 1px solid #ddd;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        transition: all ease-in-out 200ms;
        transition-delay: 250ms;
        transform: translateY(100%);
        &.show {
            display: block !important;
            transform: translateY(0%);
        }
        @media (max-width: @screen-lg-max) {
            padding-left: 75px;
            padding-right: 75px;
        }
        @media (max-width: @screen-md-max) {
            display: block;
            padding: 20px 20px;
        }
        .deviceDetails-actionsContainer {
            pointer-events: auto;
            padding: 12px 0;
            text-align: center;
            @media (max-width: @screen-md-max) {
                padding-bottom: 0;
            }
            a {
                pointer-events: auto;
                font-family: 'DuCoHeadlineRegular';
                font-size: 16px;
                color: #0099cc;
                border: 1px solid #0099cc;
                border-radius: 22.5px;
                padding: 8px 102px;
                display: inline-block;
                text-decoration: none !important;
                @media (max-width: @screen-md-max) {
                    width: 100%;
                    min-width: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                    max-width: 400px;
                }
            }
        }
    }
    .orderSummaryStatus .orderSummaryStatus-deviceContainer {
        & > a {
            pointer-events: none;
            cursor: default;
        }
    }
}

 #MainWrapper {
    pointer-events: auto;
    padding-bottom: 100px;
    .deviceDetails-section {
        display: none;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;
        position: relative;

        .deviceDetails-sectionCloseButton {
            display: inline-block;
            position: absolute;
            top: 0;
            .right(0);
            z-index: 100;
            cursor: pointer;
            width: 64px;
            height: 64px;

            &.fixed {
                position: fixed;
                top: 40px;

                @media (min-width: 1200px) {
                    .right(160px);
                }
            }

            span {
                display: none;
            }

            &:after {
                content: ' ';
                display: inline-block;
                background-image: url(../../../images/icon-section-close.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 16px 16px;
                width: 100%;
                height: 100%;
            }
        }
    }

    .orderSummaryStatus {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px 160px;
        background-color: #f8f8f8;
        z-index: 99999;
        border-top: 1px solid #ddd;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        font-size: 14px;
        font-family: 'DuCoHeadlineLightRegular';
        transition: all ease-in-out 200ms;
        transform: translateY(0%);

        &.hide {
            display: block !important;
            transform: translateY(100%);
        }

        @media (max-width: @screen-lg-max) {
            padding-left: 50px;
            padding-right: 50px;
        }

        @media (max-width: @screen-md-max) {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding: 10px 15px 15px 15px;

            &.hide {
                display: flex !important;
            }
        }

        h2 {
            font-family: 'DuCoHeadlineRegular';
            font-size: 16px;
        }

        h3 {
            font-family: 'DuCoHeadlineBold';
            font-weight: normal;
            margin-bottom: 0;
            font-size: 16px;
            line-height: 18px;
            color: inherit;
        }

        p {
            margin-bottom: 0;
        }

        .orderSummaryStatus-deviceContainer,
        .orderSummaryStatus-planContainer {
            .floatleft();
            margin-right: 34px;
            margin-left: 0;
            padding: 10px 0 10px 55px;
            position: relative;
            color: #09c;
            [dir="rtl"] & {
                padding: 10px 55px 10px 0;
                margin-left: 34px;
                margin-right: 0;
            }
            & > a {
                text-decoration: none !important;
                color: inherit;
            }

            @media (max-width: @screen-md-max) {
                display: none;
            }

            .orderSummaryStatus-icon {
                background-size: 45px 45px;
                width: 45px;
                height: 45px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                [dir="rtl"] & {
                    right:0;
                    left: auto;
                }
            }

            &.disabled {
                color: #777;

                .orderSummaryStatus-icon {
                }
                a {
                    pointer-events: none;
                    cursor: default;
                }
            }

            &.active {
                color: #0099cc;

                .orderSummaryStatus-icon {
                }
            }

            &.checked {
                &:after {
                    content: ' ';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 30px;
                    right: auto;
                    width: 22px;
                    height: 22px;
                    background: url('../../../images/icon-check-green.svg') center center no-repeat;
                    [dir="rtl"] & {
                        right: 30px;
                        left: auto;
                    }
                }
            }
        }

        .orderSummaryStatus-deviceContainer {

            .orderSummaryStatus-icon {
                // background-image: url(../../../../images/beats/icon-device.svg);
                 background-image: url('../../../images/icon-device.svg');

            }

            &.disabled {
                .orderSummaryStatus-icon {
                    // background-image: url(../../../../images/beats/icon-device.svg);
                     background-image: url('../../../images/icon-device.svg');

                }
            }

            &.active {
                .orderSummaryStatus-icon {
                    // background-image: url(../../../../images/beats/icon-device-active.svg);
                     background-image: url('../../../images/icon-device-active.svg');

                }
            }
        }

        .orderSummaryStatus-planContainer {
            border-right:2px solid #ddd;
            border-left: none;
            padding: 10px 34px 10px 55px;
            [dir="rtl"] & {
                border-left: 2px solid #ddd;
                border-right: none;
                padding: 10px 55px 10px 34px;

            }

            .orderSummaryStatus-icon {
                background-image: url("../../../images/icon-sim.svg");
            }

            &.disabled {
                .orderSummaryStatus-icon {
                    background-image: url("../../../images/icon-sim-inactive.svg");
                }
            }

            &.active {
                .orderSummaryStatus-icon {
                    background-image: url("../../../images/icon-sim-active.svg");
                }
            }
        }

        .orderSummaryStatus-totalLabel {
            .floatleft();
            margin-right: 34px;
            margin-left: 0;
            margin-bottom: 0;
            display: none;
            padding-top: 10px;
            [dir="rtl"] & {
                margin-left: 34px;
                margin-right: 0;
            }
            @media (max-width: @screen-md-max) {
                flex: 1 0 auto;
                float: none;
                margin: 0 0 18px 0;
                padding: 0;
                display: block;
            }
        }

        .orderSummaryStatus-upfrontPriceContainer,
        .orderSummaryStatus-monthlyPriceContainer {
            .floatleft();
            margin-right: 34px;
            margin-left: 0;
            padding: 10px 0;
            [dir="rtl"] & {
                margin-left: 34px;
                margin-right: 0;
            }
            @media (max-width: @screen-md-max) {
                float: none;
                margin: 0;
                padding: 0;
                flex: 2 0 auto;
            }
        }

        .orderSummaryStatus-actionsContainer {
            .floatright();
            padding: 11px 0;

            @media (max-width: @screen-md-max) {
                flex: 1 0 auto;
                padding-top: 7px;
                padding-bottom: 4px;
                text-align: center;
            }

            .orderSummaryStatus-orderButton {
                font-family: 'DuCoHeadlineBold';
                font-size: 16px;
                background-color: #c724b1;
                color: white;
                border-radius: 22.5px;
                padding: 8px 60px;
                display: inline-block;
                text-decoration: none !important;
                max-width: 300px;
                text-align: center;
                transition: background-color ease-in-out 100ms;
                &:hover {
                    background-color: #da59b4;
                }

                &.disabled,
                &[data-disabled] {
                    background-color: #ddd;
                    pointer-events: none;
                }

                @media (max-width: @screen-md-max) {
                    width: 100%;
                    min-width: 0px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
     .popupSlider {
        pointer-events: auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 100vh;
        padding: 30px 10px 7% 10px;
        background-color: white;
        z-index: 999999;
        text-align: center;
        transform: translateY(100%);
        transition: transform 200ms ease-in-out;
    }
}

#FooterWrapper {
    display: none;
}



