
// @import (reference) "../../LESS/bootstrap/variables.less";
// @import (reference) "../../LESS/bootstrap/mixins.less";
// @import (reference) "../../LESS/bootstrap/grid.less";

@popup-screen-xs-max: (@screen-xs-max * 0.95 - 1);
@popup-screen-sm-min: (@popup-screen-xs-max + 1);


.plans.plan-information {
    margin-top: 0;
}

#sfSkip {
    display: none;
}

#ScrollNavContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    -webkit-transform: translate3d(0,0,0); 
    -moz-transform: translate3d(0,0,0); 
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); 

    .ipad & {
        display: none;
    }
}

#ScrollNavContainer .nav {
    padding: 0 20px;
}

@media (max-width: @popup-screen-xs-max) {

    #ScrollNavContainer {
        display: none;
    }
}

@media (min-width: @popup-screen-sm-min) {

    #ScrollNavContainer .nav li {
        float: left;
    }
}

@media print {

    #ScrollNavContainer {
        display: none;
    }

    .visible-print {
        display: block !important;
    }
}

.plan-information {
    display: table;
    padding: 20px 20px 20px 20px;
}

@media (max-width: @popup-screen-xs-max) {
    .plan-information {
        padding-bottom: 10px;
    }

    .plan-information {
        padding-top: 0;
    }
}

@media print {

    .plan-information {
        padding-top: 0;
    }
}

.plan-information .sfContentBlock  {
    h4, strong {
        font-weight: normal;
    }
}

.plan-information .headered-content-layout {
    display: table-row;
}

.plan-information .headered-content-layout .header {
    display: table-cell;
    padding: 8px;
    vertical-align: top;
}

.plan-information .headered-content-layout .header .sfContentBlock {
    margin: 0 !important;
}

.plan-information .headered-content-layout .header h4 {
    white-space: nowrap;
    margin: 0 !important;
}

.plan-information .headered-content-layout .content {
    display: table-cell;
    padding: 8px;
    vertical-align: top;
}



@media (max-width: @popup-screen-xs-max) {

    .plan-information .headered-content-layout {
        display: block;
    }

    .plan-information .headered-content-layout .header {
        display: block;
        padding: 8px;
    }

    .plan-information .headered-content-layout .content {
        display: block;
    }
}

@import "planInformationNew.less";