.btn-default() {
    // .rounded-corners(3px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 37px;
    line-height: 35px;
    padding: 0 15px;
    min-width: 75px;
    font-size: 1.1em;
    text-align: center;
    outline: none;
    float: left;
}

.btn-info-strong() {
    // .btn-default();
    // .gradient-aqua();
    color: #fff;
    &:hover {
        color: #fff;
    }
    &:active {
        color: #fff;
    }
}

.btn-primary-strong() {
    // .btn-default();
    // .gradient-magenta();
    color: #fff;
    &:hover {
        color: #fff;
    }
    &:active {
        color: #fff;
    }
}

#HeaderWrapper {
    .sfBreadcrumbWrp {
        display: none;
    }
}

#MainWrapper {
    pointer-events: auto;
    .plansSelection {
        pointer-events: auto;
        background-color: #efefef;
        .container {
            width: 100% !important;
        }
        .plansSelection-banner {
            display: none;
        }
        .plansSelection-headline {
            pointer-events: auto;
            padding: 20px;
            border-bottom: 1px solid #ddd;
            background-color: white;
            @media (max-width: @screen-sm-max) {
                padding: 11px;
            }
            h2 {
                pointer-events: auto;
                font-size: 24px !important;
                font-weight: normal;
                font-family: 'DuCoHeadlineRegular';
                text-align: center;
                margin: 0;
                line-height: 30px;
                @media (max-width: @screen-sm-max) {
                    font-size: 16px;
                }
            }
        }
        .plansSelection-filters {
            pointer-events: auto;
            position: relative;
            color: #777;
            text-align: center;
            padding-bottom: 15px;
            border-bottom: 1px solid #ddd;
            background-color: white;
            box-shadow: 0px 5px 25px -14px rgba(0, 0, 0, 0.75);
            h3 {
                pointer-events: auto;
                font-family: 'DuCoHeadlineLightRegular';
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 8px;
                @media (max-width: @screen-sm-max) {
                    font-size: 14px;
                }
            }
            strong {
                pointer-events: auto;
                font-weight: normal;
                font-family: 'DuCoHeadlineRegular';
            }
            .plansSelection-filterArrow {
                pointer-events: auto;
                width: 0;
                height: 0;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-top: 16px solid #ddd;
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                &:before {
                    content: ' ';
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid white;
                    position: absolute;
                    bottom: 2px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .plansSelection-radioFilter {
            pointer-events: auto;
            margin-top: 15px;
            margin-bottom: 15px;
            h3 {
                [dir="rtl"] & {
                    font-size: 16px;
                }
            }
            .plansSelection-radioButtons {
                pointer-events: auto;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                &>label {
                    pointer-events: auto;
                    cursor: pointer;
                    position: relative;
                    position: relative;
                    padding-left: 25px;
                    display: inline-block;
                    .padding(5px, 5px, 5px, 25px);
                    text-align: start;
                    margin: 0 10px;
                    @media (max-width: @screen-sm-max) {
                        width: 130px;
                        .padding(0, 5px, 0, 35px);
                        margin: 0;
                    }
                    &>input[type="radio"] {
                        pointer-events: auto;
                        order: 1;
                        position: absolute;
                        left: -99999px;
                    }
                    &>input[type="radio"]+span {
                        pointer-events: auto;
                        order: 2;
                        font-size: 14px;
                        font-family: 'DuCoHeadlineLightRegular';
                        font-weight: normal;
                        color: #777;
                        strong {
                            font-family: 'DuCoHeadlineRegular';
                        }
                        &:before {
                            content: ' ';
                            display: inline-block;
                            position: absolute;
                            .left(0);
                            top: 50%;
                            transform: translateY(-50%);
                            background-image: url('../../../images/icon-radio-empty.svg');
                            background-repeat: no-repeat;
                            background-position: center center;
                            width: 20px;
                            height: 20px;
                            @media (max-width: @screen-sm-max) {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                    &>input[type="radio"]:checked+span {
                        pointer-events: auto;
                        &:before {
                            background-image: url('../../../images/icon-radio-checked.svg');
                        }
                    }
                }
            }
        }
        .plansSelection-sliderFilter,
        .plansSelection-priceFilter {
            pointer-events: auto;
            width: 100%;
            max-width: 560px;
            margin: 15px auto;
            input {
                display: none;
            }
            .plansSelection-sliderContainer {
                pointer-events: auto;
                margin: 0 auto;
                min-height: 60px;
                border: 1px solid #00a9ce;
                border-radius: 30px;
                padding: 21px 47px;
                &:before {
                    content: ' ';
                }
                &:after {
                    content: ' ';
                }
            }
            .plansSelection-slider {
                pointer-events: auto;
                background: #ddd;
                border: 0 none;
                box-shadow: none;
                border-radius: 0 !important;
                background: #ddd;
                .noUi-connect {
                    background: #09c;
                    box-shadow: none;
                }
                &.noUi-horizontal {
                    height: 3px;
                }
                .noUi-base {}
                .noUi-origin {
                    background: #ddd;
                    border-radius: 0 !important;
                }
                &.noUi-horizontal .noUi-handle {
                    width: 25px;
                    height: 25px;
                    // .rounded-corners(50%);
                    background: @blu;
                    top: -11px;
                    left: -13px;
                    box-shadow: none;
                    border: 0 none;
                    cursor: pointer;
                    &:before {
                        font-family: "duicons";
                        content: '\E85B';
                        background: none;
                        top: 4px;
                        left: 6px;
                        color: @white;
                        font-size: 13px;
                        [dir="rtl"] & {
                            top: 2px;
                        }
                    }
                    &:after {
                        content: "";
                        width: 45px;
                        height: 45px;
                        display: inline-block !important;
                        background-color: rgba(255, 255, 255, 0.0);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        z-index: 9999;
                        font-size: 50px;
                        -webkit-transform: translate3d(-50%, -50%, 0);
                        -ms-transform: translate3d(-50%, -50%, 0);
                        transform: translate3d(-50%, -50%, 0);
                    }
                }
                &.noUi-horizontal .noUi-connect {
                    .noUi-handle {
                        .noUi-handle-lower {
                            &:before {
                                top: 1px !important;
                            }
                        }
                    }
                }
                .noUi-pips-horizontal {
                    padding: 0;
                    height: 50px;
                    padding-top: 10px;
                    .noUi-marker-horizontal.noUi-marker-large {
                        height: 10px;
                        background: transparent;
                    }
                    .noUi-value {
                        font-size: 12px;
                        white-space: nowrap;
                        top: 2px;
                        cursor: pointer;
                        [dir="rtl"] & {
                            top: 0;
                        }
                        &.active {
                            font-family: "DuCoHeadlineRegular";
                            color: #0099cc;
                        }
                    }
                    .noUi-value-horizontal {
                        [dir="ltr"] & {
                            -webkit-transform: translate(-50%, 50%, 0);
                            transform: translate(-50%, 50%);
                        }
                        [dir="rtl"] & {
                            //-webkit-transform: translate(50%, 50%, 0);
                            //transform: translate(50%, 50%);
                        }
                    }
                }
            }
        }
        .plansSelection-filterStatus {
            pointer-events: auto;
            position: fixed;
            top: 40px;
            left: 160px;
            right: 160px;
            z-index: 100;
            border-bottom: 1px solid #ddd;
            background-color: white;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            font-size: 18px;
            font-family: 'DuCoHeadlineRegular';
            font-weight: normal;
            line-height: 1em;
            padding: 12px 0;
            cursor: pointer;
            transition: all ease-in-out 100ms;
            transform: translateY(-100%);
            &.show {
                display: flex !important;
                box-shadow: 0px 5px 25px -14px rgba(0, 0, 0, 0.75);
                transform: translateY(0%);
            }
            &.mobileHidden {
                @media (max-width: @screen-sm-max) {
                    transform: translateY(-100%);
                }
            }
            @media (max-width: 991px) {
                padding: 10px 0;
                font-size: 16px;
                .left(0);
            }
            @media (max-width: 1199px) {
                .right(0);
            }
            h3 {
                pointer-events: auto;
                font-family: 'DuCoHeadlineLightRegular';
                font-size: 14px;
                color: black;
                line-height: 1em;
                margin-bottom: 4px;
            }
            p {
                pointer-events: auto;
                font-size: inherit;
                line-height: inherit;
                margin-bottom: 0;
            }
            .plansSelection-filterStatusInfo {
                pointer-events: auto;
                padding: 3px 15px 5px 15px;
                color: #0099cc;
                border: 0px solid #ddd;
                .border-left-width(1px);
                text-align: center;
                p {
                    color: inherit;
                    font-weight: inherit;
                    font-family: inherit;
                    line-height: inherit;
                }
                &:first-child {
                    pointer-events: auto;
                    .border-left-width(0);
                }
            }
        }
        .plansSelection-cardsContainer {
            pointer-events: auto;
            background-color: transparent;
            max-width: 1280px;
            margin: 0 auto;
            padding: 20px 0;
            padding-bottom: 40px;
            /*[dir="rtl"] & {
                padding-bottom: 40px;
            }*/
            @media (max-width: @screen-sm-max) {
                padding-top: 0;
            }
            &>.container {
                pointer-events: auto;
                width: 100% !important;
                @media (max-width: @screen-sm-max) {
                    width: 100% !important;
                    padding-left: 0;
                    padding-right: 0;
                }
                &>.row,
                &>div>.row {
                    pointer-events: auto;
                }
            }
        }
        .plansSelection-emptyResultSet {
            pointer-events: auto;
            display: none;
            margin-top: 40px;
            text-align: center;
            font-size: 18px;
            p {
                font-size: inherit;
                line-height: inherit;
            }
        }
        .plansSelection-cardItems {
            pointer-events: auto;
            .row {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .plansSelection-cardItem {
            pointer-events: auto;
            margin: 40px 0 15px;
            padding: 0 15px;
            @media (min-width: 1600px) {
                &.col-lg-3 {
                    width: 24.75%;
                }
                &.col-lg-4 {
                    width: 33%;
                }
            }
            @media (min-width: 1025px) and (max-width: 1599px) {
                &.col-lg-4 {
                    width: 33%;
                }
                &.col-md-4 {
                    width: 33%;
                }
            }
            @media (min-width: 768px) and (max-width: 1024px) {
                &.col-lg-4 {
                    width: 33%;
                }
                &.col-md-4 {
                    width: 33%;
                }
                &.col-sm-6 {
                    width: 49.5%;
                }
            }
            @media (min-width: 480px) and (max-width: 767px) {
                &.col-sm-6 {
                    width: 49.5%;
                }
            }
            @media (max-width: 479px) {
                &.col-sm-6 {
                    width: 100%;
                }
            }
            .plansSelection-cardContent {
                pointer-events: auto;
                font-family: 'DuCoHeadlineLightRegular';
                font-size: 14px;
                line-height: 14px;
                color: #808285;
                position: relative;
                text-align: center;
                background-color: white;
                border-top-left-radius: 12px !important;
                border-top-right-radius: 12px !important;
                border-bottom-right-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                [dir="rtl"] & {
                    line-height: 1.4em;
                }
                h3 {
                    pointer-events: auto;
                    border: 1px solid #cc3399;
                    border-top-left-radius: 12px !important;
                    border-top-right-radius: 12px !important;
                    border-bottom-right-radius: 0 !important;
                    border-bottom-left-radius: 0 !important;
                    background-color: #cc3399;
                    color: white;
                    font-family: 'DuCoHeadlineRegular';
                    font-size: 18px;
                    line-height: 2em;
                    padding: 4px 0;
                    margin: 0;
                }
                p {
                    pointer-events: auto;
                    margin-bottom: 0;
                    font-size: inherit;
                    line-height: inherit;
                }
                strong {
                    pointer-events: auto;
                    font-family: 'DuCoHeadlineRegular';
                    font-weight: normal;
                }
                mark {
                    pointer-events: auto;
                    background: none;
                    color: #09c;
                    b {
                        color: inherit;
                    }
                }
                b {
                    pointer-events: auto;
                    font-weight: normal;
                    font-family: 'DuCoHeadlineRegular';
                    color: #414141;
                }
            }
            .plansSelection-fees {
                pointer-events: auto;
                border: 1px solid #cc3399;
                border-top: none;
                border-bottom: none;
                padding: 12px 10px 12px 10px !important;
                strong {
                    font-size: 36px;
                    line-height: 1em;
                }
                mark {
                    color: #cc3399;
                }
            }
            .plansSelection-productSummary {
                pointer-events: auto;
                background: #0099cc;
                color: white;
                border: 1px solid #0099cc;
                font-family: 'DuCoHeadlineLightRegular';
                font-size: 14px;
                margin: 0 !important;
                padding: 10px 10px;
                line-height: 1.2em;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    color: white;
                }
            }
            .plansSelection-featureHighlight {
                pointer-events: auto;
                border: 1px solid #09c;
                border-top: none;
                padding: 10px 0;
                &:hover,
                &.hover {
                    background-color: #f8f8f8;
                }
                strong {
                    font-size: 36px;
                    line-height: 1em;
                }
                @media (max-width: @screen-xs-max) {
                    float: left;
                    width: 50%;
                    &+.plansSelection-featureHighlight {
                        border-left: none;
                    }
                    &+.plansSelection-feature {
                        clear: both;
                    }
                }
            }
            .plansSelection-feature {
                pointer-events: auto;
                border-left: 1px solid #09c;
                border-right: 1px solid #09c;
                padding-top: 12px;
                p {
                    min-height: 20px;
                }
                @media (max-width: @screen-xs-max) {
                    &.empty {
                        display: none;
                    }
                }
                &:hover,
                &.hover {
                    background-color: #f8f8f8;
                }
                &:after {
                    content: ' ';
                    border-bottom: 1px solid #ddd;
                    display: block;
                    margin: 12px 30px 0 30px;
                }
            }
            .plansSelection-freebies {
                pointer-events: auto;
                border-left: 1px solid #09c;
                border-right: 1px solid #09c;
                padding: 16px 0;
                @media (max-width: @screen-xs-max) {
                    &.empty {
                        display: none;
                    }
                }
                .plansSelection-freebieLink {
                    pointer-events: auto;
                    &>img {
                        pointer-events: auto;
                        vertical-align: middle;
                        display: inline-block;
                        width: 35%;
                    }
                    &>span {
                        display: none;
                    }
                    &:before {
                        content: '+';
                        color: #808285;
                        font-size: 16px;
                        padding: 0 4px;
                    }
                    &:first-child {
                        pointer-events: auto;
                        &:before {
                            display: none;
                        }
                    }
                }
            }
            .plansSelection-actionsContainer {
                pointer-events: auto;
                border: 1px solid #09c;
                border-top: none;
                padding: 0 3% 10px 3%;
                display: flex;
            }
            .plansSelection-planSelectedIndicator {
                display: none;
                position: relative;
                border-radius: 3px !important;
                background-color: #78be20;
                color: white;
                font-size: 14px;
                margin: 0 1%;
                .padding(7px,
                7px,
                7px,
                38px);
                flex: 1 0 auto;
                .text-align(left);
                justify-content: space-between;
                &:before {
                    content: ' ';
                    position: absolute;
                    .left(8px);
                    top: 50%;
                    transform: translateY(-50%);
                    width: 22px;
                    height: 22px;
                    background: url('../../../images/icon-check-white.svg') center center no-repeat;
                }
                .plansSelection-planSelectedMessage {
                    pointer-events: auto;
                    font-family: 'DuCoHeadlineBold';
                    font-weight: normal;
                    display: inline-block;
                    line-height: 22px;
                    color: white;
                }
                .plansSelection-deselectPlanButton {
                    pointer-events: auto;
                    border: 1px solid white;
                    border-radius: 35px;
                    font-family: 'DuCoHeadlineRegular';
                    font-weight: normal;
                    font-size: 12px;
                    text-align: center;
                    float: right;
                    color: inherit;
                    text-decoration: none !important;
                    opacity: 0.7;
                    padding: 3px 15px;
                }
            }
            .plansSelection-viewDetailsButton,
            .plansSelection-buyPlanButton {
                pointer-events: auto;
                vertical-align: middle;
                font-weight: normal;
                text-decoration: none !important;
                color: white !important;
                float: none;
                display: inline-block;
                cursor: pointer;
                height: 37px;
                font-family: 'DuCoHeadlineRegular';
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 35px;
                padding: 0 10px;
                min-width: 75px;
                text-align: center;
                box-sizing: border-box;
                box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset !important;
                text-shadow: none !important;
                border: 0 none;
                background-color: #0099cc;
                width: auto;
                min-width: 0px;
                margin: 0 1%;
                flex: 1 1 50%;
                border-radius: 3px !important;
                transition: all ease-in-out 100ms;
                .icon::before {
                    font-size: 14px;
                }
                &:hover {
                    background-color: #00b4da;
                }
            }
            &.active {
                .plansSelection-planSelectedIndicator {
                    display: flex;
                }
                .plansSelection-viewDetailsButton,
                .plansSelection-buyPlanButton {
                    display: none;
                }
            }
            .plansSelection-viewDetailsButton {
                pointer-events: auto;
            }
            .plansSelection-buyPlanButton {
                pointer-events: auto;
                background-color: #cc3399;
                &:hover {
                    background-color: #da59b4;
                }
            }
        }
    }
    .reveal-modal-bg {
        background: rgba(0, 0, 0, 0.7) !important;
        z-index: 999999;
    }
    .planDetailsPopup {
        .reveal-modal();
        width: 95%;
        max-width: 1200px;
        height: 90vh;
        display: none;
        z-index: 9999999;
        @media (min-width: @screen-sm-min) {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate(0, -50px);
        }
        .planDetailsPopup-content {
            height: 100%;
            position: relative;
        }
        .planDetailsPopup-header {
            position: absolute;
            top: 0;
            height: 150px;
            width: 100%;
            background: #04a5d1;
            text-align: center;
            z-index: 1;
            @media (max-width: @screen-xs-max) {
                height: 90px;
            }
            h2 {
                color: white;
                margin-top: 100px;
                font-weight: normal;
                @media (max-width: @screen-xs-max) {
                    font-size: 20px;
                    margin-top: 60px !important;
                }
            }
            a {
                position: absolute;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                display: block;
                text-decoration: none !important;
                font-size: 1px;
                margin-top: 30px;
                background-image: url(../../../images/ico-close-cross-light.svg);
                background-size: 50px;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
                color: transparent;
                border: none;
                text-align: center;
                @media (max-width: @screen-xs-max) {
                    width: 36px;
                    height: 36px;
                    margin-top: 16px;
                    background-size: 35px 35px;
                }
            }
        }
        .planDetailsPopup-body {
            height: 100%;
            padding-top: 150px;
            padding-bottom: 70px;
            position: relative;
            box-sizing: border-box;
            @media (max-width: @screen-xs-max) {
                padding-top: 90px;
                padding-bottom: 0;
            }
            .planDetailsPopup-frame {
                width: 100%;
                height: 100%;
                border: 0;
                overflow: auto;
            }
            .applios & {
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
        .planDetailsPopup-loadingOverlay {
            position: absolute;
            top: 150px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
            z-index: 2;
            @media (max-width: @screen-xs-max) {
                top: 90px;
            }
            p {
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate(-50%, -50%);
            }
        }
        .planDetailsPopup-footer {
            position: absolute;
            bottom: 0;
            height: 70px;
            width: 100%;
            padding: 16px 0;
            background-color: #f8f8f8;
            border-top: 1px solid #e7e7e7;
            z-index: 1;
        }
        .planDetailsPopup-actionButtonsContainer {
            padding: 0 16px;
            margin-right: 16px;
            @media (max-width: @screen-xs-max) {
                margin-right: 0;
            }
        }
        .planDetailsPopup-actionButtonsContainer .downloadButton {
            float: left;
            min-width: 150px;
            display: none !important;
            border: none !important;
            @media (max-width: @screen-xs-max) {
                min-width: 0;
            }
            &:focus {
                color: #FFF !important;
            }
        }
        .planDetailsPopup-printButton {
            float: left !important;
            min-width: 150px;
            border: none !important;
            @media (max-width: @screen-xs-max) {
                min-width: 100px;
            }
            .icon-print:before {
                vertical-align: middle;
            }
            &:focus {
                color: #FFF !important;
            }
        }
        .planDetailsPopup-buyButton {
            min-width: 150px;
            border: none !important;
            float: right !important;
            margin-right: 0;
            @media (max-width: @screen-xs-max) {
                min-width: 100px;
            }
            &:focus {
                color: #FFF !important;
            }
        }
    }
    .orderSummaryStatus {
        // @media (max-width: @screen-sm-max) {
        //     transform: translateY(100%);
        // }
        &.mobileVisible {
            transform: translateY(0%);
        }
    }
}

[dir="rtl"] {
    @media (min-width: 996px) {
        .col-md-offset-3 {
            margin-right: 25%;
        }
    }
}

#MainWrapper .plansSelection .noUi-handle {
    border-radius: 50% !important;
}

.sflistitem {
    ol,
    ul {
        .padding-left(40px);
    }
    ol {
        list-style-type: decimal;
    }
    ul {
        list-style-type: circle;
    }
}

#MainWrapper .deviceModelPlans {
    pointer-events: auto;
    .deviceModelPlans-filters {
        &>.row {
            padding: 10px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    .deviceModelPlans-preFilters {
        pointer-events: auto;
        border-bottom: 1px solid #ddd;
    }
    .deviceModelPlans-contractPeriodFilter {
        pointer-events: auto;
        padding-top: 3px;
        padding-bottom: 3px;
        @media (max-width: @screen-md-max) {
            border-bottom: 1px solid #ddd;
            margin: 0 0 10px 0;
            padding-top: 0;
            padding-bottom: 20px;
        }
    }
    .deviceModelPlans-callingMinutesFilter {
        pointer-events: auto;
        border: 0px solid #ddd;
        .border-left-width(1px);
        padding-top: 3px;
        padding-bottom: 3px;
        @media (max-width: @screen-md-max) {
            .border-left-width(0);
            margin: 0 0 10px 0;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .deviceModelPlans-monthlyFeeFilter {
        pointer-events: auto;
    }
    .plansSelection-filterStatus {
        .deviceModelPlans-monthlyFeeFilterStatus {
            color: #cc3399;
        }
    }
}

.orderSummaryStatus .orderSummaryStatus-planContainer {
    &>a {
        pointer-events: none;
        cursor: default;
    }
}