﻿.plans.plan-information {
    .purple {
        color: #c39;
    }
    
    h4 {
        font-family: "DuCoHeadlineBold";
        color: #09c;

        i.icon {
            display: none;
        }

        i.icon::before {
            color: #09c;
        }

        &.purple {
            color: #c39;

            i.icon::before {
                color: #c39;
            }
        }
    }

    ul {
        //.padding-push(20px);
    }

    table {
        border: 2px solid #323434 !important;
        .border-radius(20px);
        border-spacing: 0;
        border-collapse: separate;

        & > tbody,
        & > thead {

            & > tr {

                & > th,
                & > td {
                    background-color: transparent !important;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    line-height: 12px;
                    border: 0px solid #323434 !important;
                    border-bottom-width: 1px !important;
                    text-align: center;

                    [dir='ltr'] & {
                        border-right-width: 1px !important;
                    }

                    [dir='rtl'] & {
                        border-left-width: 1px !important;
                    }

                    &:last-child {

                        [dir='ltr'] & {
                            border-right-width: 0 !important;
                        }

                        [dir='rtl'] & {
                            border-left-width: 0 !important;
                        }
                    }
                }

                &:last-child td {
                    border-bottom-width: 0 !important;
                }

                & > th {
                    border-bottom-width: 2px !important;

                    [dir='ltr'] & {
                        // border-right-width: 2px !important;
                    }

                    [dir='rtl'] & {
                        // border-left-width: 2px !important;
                    }
                }

                & > td {
                    small {
                        font-size: 11px;
                    }
                }
            }

            thead {
                &:not(.hide) + tbody {
                    tr {
                        &:first-child {
                            td {
                                border-top: 1px solid #323434;
                            }
                        }
                    }
                }
            }
        }
    }
}
