 #MainWrapper {
    pointer-events: auto;

    .popupSlider {
        pointer-events: auto;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: 100vh;
        padding: 30px 10px 7% 10px;
        background-color: white;
        z-index: 999999;
        text-align: center;
        transform: translateY(100%);
        transition: transform 200ms ease-in-out;

        @media (max-height: 400px) {
            padding-top: 2%;
            padding-bottom: 2%;
        }

        &.show {
            transform: translateY(0%);
        }

        h2 {
            font-family: 'DuCoHeadlineRegular';
            font-weight: normal;
            margin-top: 5%;
            margin-bottom: 20px;

            @media (max-height: 400px) {
                margin-top: 2%;
                margin-bottom: 2%;
            }
        }

        .popupSlider-closeButton {
            display: inline-block;
            height: 40px;
            width: 40px;
            background-image: url('../../../images/ico-close-cross.svg');
            background-color: transparent;
            background-size: 40px;
            text-decoration: none !important;
            cursor: pointer;

            span {
                display: none;
            }
        }

        .popupSlider-actionButtonsContainer {
            pointer-events: auto;
            pointer-events: auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        .popupSlider-button {
            pointer-events: auto;
            border: 2px solid #09c;
            border-radius: 100px;
            font-family: 'DuCoHeadlineRegular';
            font-size: 16px;
            line-height: 21px;
            min-width: 320px;
            padding: 12px;
            margin: 7.5px 18px;
            text-decoration: none !important;

            @media (max-width: @screen-sm-max) {
                min-width: 0;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .popupSlider-loadingOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(51, 51, 51, 0.3);
        pointer-events: none;
        z-index: 99999;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }

    .popupSlider.show + .popupSlider-loadingOverlay {
        pointer-events: auto;
        opacity: 1;
    }
}
