#MainWrapper {
    pointer-events: auto;
    @media (max-width: @screen-sm-max) {
        margin-bottom: 75px;
    }
    .orderSummary {
        pointer-events: auto;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
        color: #333;
        @media (max-width: @screen-md-max) {
            margin: 20px;
            font-size: 12px;
            line-height: 16px;
            color: rbg(51, 51, 51);
        }
        h1 {
            pointer-events: auto;
            font-weight: normal;
            font-size: 30px !important;
            line-height: 1em !important;
            margin-bottom: 12px;
            font-family: 'DuCoHeadlineBold';
            @media (max-width: @screen-md-max) {
                font-size: 25px !important;
                margin-bottom: 8px;
                + p {
                    font-size: 14px;
                }
            }
        }
        h2 {
            pointer-events: auto;
            font-family: 'DuCoHeadlineBold';
            font-weight: normal;
            font-size: 20px;
            margin-bottom: 4px;
            line-height: 1.4em;
            [dir="rtl"] & {
                font-size: 16px;
            }
            @media (max-width: @screen-md-max) {
                font-size: 16px;
            }
        }
        h3 {
            font-family: 'DuCoHeadlineLightRegular';
            font-size: 20px;
            margin-bottom: 4px;
            line-height: 1.4em;
            color: inherit;
            [dir="rtl"] & {
                font-size: 16px;
            }
            @media (max-width: @screen-md-max) {
                font-family: 'DuCoHeadlineRegular';
                font-size: 16px;
                color: rgb(51, 51, 51);
            }
        }
        p {
            pointer-events: auto;
            font-size: inherit;
            line-height: inherit;
        }
        hr {
            pointer-events: auto;
            border-color: #c1c1c1;
            margin-top: 25px;
            margin-bottom: 25px;
            @media (max-width: @screen-md-max) {
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        .orderSummary-breakdownItems {
            pointer-events: auto;
            padding-top: 20px;
            width: 100%;
            max-width: 520px;
            margin: 0 auto;
        }
        .orderSummary-breakdownItem {
            pointer-events: auto;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            margin-top: 25px;
            @media (max-width: @screen-md-max) {
                margin-top: 15px;
            }
            &:first-child {
                margin-top: 0;
            }
            h2 {
                pointer-events: auto;
            }
            p {
                pointer-events: auto;
                max-width: 260px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .orderSummary-description {
            pointer-events: auto;
            .defaulttextalign();
            @media (max-width: @screen-md-max) {
                font-family: 'DuCoHeadlineRegular';
            }
        }
        .orderSummary-price {
            pointer-events: auto;
            text-align: right;
          //  in-width: 1: 0px;
            [dir="rtl"] & {
                text-align: left;
            }
            @media (max-width: @screen-md-max) {
                font-family: 'DuCoHeadlineLightRegular';
               // in-width: 1: 0px;
            }
        }
        .orderSummary-totals {
            poiner-events: auto;
            border-top: 2px solid #333;
            padding-top: 20px;
            width: 100%;
            max-width: 520px;
            margin: 25px auto 0 auto;
            display: flex;
            flex-flow: row wrap;
            @media (max-width: @screen-md-max) {
                font-size: 12px;
            }
            h2 {
                pointer-events: auto;
                flex: 1 0 auto;
                .defaulttextalign();
            }
            h3 {
                pointer-events: auto;
                font-family: 'DuCoHeadlineBold';
                font-size: 20px;
                color: #c724b1;
                [dir="rtl"] & {
                    font-size: 16px;
                }
                @media (max-width: @screen-md-max) {
                    font-size: 16px;
                }
            }
            span {
                pointer-events: auto;
            }
            .orderSummary-upfrontPriceContainer,
            .orderSummary-oneTimePriceContainer,
            .orderSummary-monthlyPriceContainer {
                pointer-events: auto;
                text-align: right;
                margin-left: 40px;
                margin-right: 0;
                [dir="rtl"] & {
                    margin-right: 40px;
                    margin-left: 0;
                    text-align: left;
                }
                @media (max-width: @screen-md-max) {
                    margin-left: 20px;
                }
                @media (max-width: @screen-sm-max) {
                    margin-left: 15px;
                }
            }
        }
        .orderSummary-upfrontPriceContainer {
            pointer-events: auto;
        }
        .orderSummaryStatus-upfrontPriceValue {
            pointer-events: auto;
        }
        .orderSummary-oneTimePriceContainer {
            pointer-events: auto;
        }
        .orderSummaryStatus-oneTimePriceValue {
            pointer-events: auto;
        }
        .orderSummary-monthlyPriceContainer {
            pointer-events: auto;
        }
        .orderSummaryStatus-monthlyPriceValue {
            pointer-events: auto;
        }
    }
}
