﻿            body
            {
                font-family: DuCoHeadlineLightRegular, Sans-serif;
                font-weight: normal;
                margin: 10px;
            }
        
            h2, td
            {
                font-family: DuCoHeadlineLightRegular, Sans-serif;
                font-weight: normal;
            }
        
            h3, th
            {
                font-family: DuCoHeadlineRegular, Sans-serif;
                font-weight: normal;
            }
        
            h2, h3
            {
                /*  /*text-transform: uppercase;*/  */
            }
        
            h2
            {
                font-size: 18px;
                line-height: 24px;
            }
        
            h3
            {
                font-size: 14px;
                line-height: 20px;
            }
        
            p
            {
                margin-bottom: 20px;
            }
        
            .import-header
            {
                margin-bottom: 30px;
            }
        
            .subsection
            {
                margin-bottom: 40px;
                max-width: 960px;
                width: auto;
            }
        
            .subsection-header
            {
                margin-bottom: 20px;
            }
        
            fieldset
            {
                display: block;
                height: auto;
                overflow: hidden;
            }
        
            select, input, label
            {
                display: block;
                float: left;
                height: 31px;
                line-height: 31px;
                margin-right: 20px;
            }
        
            select
            {
                font-family: DuCoHeadlineLightRegular, Sans-serif;
                padding: 5px;
            }
        
            .file
            {
            }
        
            .submit
            {
                min-width: 100px;
            }
        
            .table, table
            {
                border-bottom: 1px solid #cbcbcb;
                width: 100%;
            }
        
            tr
            {
                border-bottom: 1px solid #cbcbcb;
            }
        
            th, td
            {
                height: 20px;
                line-height: 20px;
                padding: 10px 20px;
            }
        
            th
            {
                padding: 0px;
            }
        
            th > div
            {
                background-color: #f8f8f8;
                border: 1px solid #cbcbcb;
                border-bottom: 0px;
                border-right: 0px;
                display: block;
                overflow: hidden;
                padding: 20px;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: auto;
            }
        
            th:last-child > div
            {
                -webkit-border-top-left-radius: 0 !important;
                -webkit-border-top-right-radius: 10px !important;
                -webkit-border-bottom-right-radius: 0 !important;
                -webkit-border-bottom-left-radius: 0 !important;
                -moz-border-radius-topleft: 0 !important;
                -moz-border-radius-topright: 10px !important;
                -moz-border-radius-bottomright: 0 !important;
                -moz-border-radius-bottomleft: 0 !important;
                -o-border-radius-topleft: 0 !important;
                -o-border-radius-topright: 10px !important;
                -o-border-radius-bottomright: 0 !important;
                -o-border-radius-bottomleft: 0 !important;
                -ms-border-radius-topleft: 0 !important;
                -ms-border-radius-topright: 10px !important;
                -ms-border-radius-bottomright: 0 !important;
                -ms-border-radius-bottomleft: 0 !important;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 10px !important;
                border-bottom-right-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                border-right: 1px solid #cbcbcb;
            }
        
            th:first-child > div
            {
                -webkit-border-top-left-radius: 10px !important;
                -webkit-border-top-right-radius: 0 !important;
                -webkit-border-bottom-right-radius: 0 !important;
                -webkit-border-bottom-left-radius: 0 !important;
                -moz-border-radius-topleft: 10px !important;
                -moz-border-radius-topright: 0 !important;
                -moz-border-radius-bottomright: 0 !important;
                -moz-border-radius-bottomleft: 0 !important;
                -o-border-radius-topleft: 10px !important;
                -o-border-radius-topright: 0 !important;
                -o-border-radius-bottomright: 0 !important;
                -o-border-radius-bottomleft: 0 !important;
                -ms-border-radius-topleft: 10px !important;
                -ms-border-radius-topright: 0 !important;
                -ms-border-radius-bottomright: 0 !important;
                -ms-border-radius-bottomleft: 0 !important;
                border-top-left-radius: 10px !important;
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
            }
