@font-family-bold: 'DuCoHeadlineBold';
@font-family-regular: 'DuCoHeadlineRegular';
@font-family-light: 'DuCoHeadlineLightRegular';
@import 'globalStyles.less';
@import 'plan_details.less';
/*@import 'ucSppTenure.less';*/
@import '../lib.reveal.less';
//@import '../prototype/lib.reveal.less';
@import 'search-map.less';
@import '../du-custom-icons.less';

.apple-tv-details {
    .ucSPPHeader {
        padding-top: 80px;
    }
    .plan-detail-content {
        .btn.btn-info-strong {
            line-height: 26px;
        }
    }
    .learn-more-btn {
        width: 250px;
        margin-top: 20px !important;
        font-weight: bold;
        @media only screen and (max-width: 991px) {
            float: none;
            margin: 0 auto !important;
        }
        @media only screen and (max-width: 768px) {
            float: none;
            margin: 0 auto !important;
            margin-bottom: 20px;
        }
    }
    .installment-step-two .btn>span {
        display: table;
        width: 100%;
        height: 100%;
        white-space: normal;
    }
    .installment-step-two .btn>span>.price {
        float: none;
        display: table-cell;
        padding: 0;
        vertical-align: middle;
        font-size: 22px;
        line-height: 1.2em;
        text-align: center;
    }
    //POPUP /START
    .reveal-modal-bg {
        background: rgba(0, 0, 0, 0.7) !important;
        z-index: 999999;
    }
    .planDetailsPopup {
        @media (min-width: @screen-sm-min) {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate(0, -50px);
        }
        .reveal-modal();
        width: 95%;
        max-width: 1200px;
        height: 90vh;
        display: block;
        z-index: 9999999;
        .popupBody {
            height: 100%;
            position: relative;
        }
        .popupBody .header {
            position: absolute;
            top: 0;
            height: 150px;
            width: 100%;
            background: #04a5d1;
            text-align: center;
            z-index: 1;
        }
        .popupBody .header h2 {
            color: white;
            margin-top: 100px;
            font-weight: normal;
            @media (max-width: @screen-sm-max) {
                font-size: 20px;
                margin-top: 60px !important;
            }
        }
        .popupBody .header a {
            color: white;
            position: absolute;
            top: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            display: block;
            text-decoration: none !important;
            font-size: 80px;
            padding-bottom: 25px;
            width: 80px;
            height: 80px;
            line-height: 0.65em;
            border: solid 4px white;
            border-radius: 50%;
            margin-top: 15px;
            box-sizing: border-box;
            background-image: none;
            @media (max-width: @screen-sm-max) {
                width: 35px;
                height: 35px;
                margin-top: 16px;
            }
        }
        .popupBody .content {
            height: 100%;
            padding-top: 150px;
            padding-bottom: 0;
            position: relative;
            .iphone & {
                margin-left: 1px;
            }
        }
        .popupBody .content .img-wrapper {
            width: 100%;
            height: 100%;
            border: 0;
            overflow: auto;
            img {
                width: 100%;
            }
        }
        .popupBody .content .loadingOverlay {
            position: absolute;
            top: 150px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.4);
            display: none;
            z-index: 2;
        }
        .popupBody .content .loadingOverlay p {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate(-50%, -50%);
        }
        .popupBody .footer {
            display: none;
        }
        // fix for iOS where the iframe doesn't respect the height:100% for a second
        html.appleios & {
            .popupBody .content {
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
        @media (max-width: @screen-sm-max) {
            .popupBody .header {
                height: 90px;
            }
            .popupBody .header h2 {
                margin-top: 50px;
            }
            .popupBody .header a {
                font-size: 30px;
            }
            .popupBody .content {
                padding-top: 90px;
            }
            .popupBody .content .loadingOverlay {
                top: 90px;
            }
        }
    }
    //POPUP /END
    //make the apple-content and header as if they're inside fixed container
    .apple-tv-content {
        margin: 0 auto;
        // @media only screen and (min-width: @screen-xl-min) {
        //     width: 1015px;
        // }
        // @media only screen and (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
        //     width: 790px;
        // }
        // @media only screen and (max-width: @screen-sm-max) {
        //     width: 100%;
        // }
    }
    .choose-package-title {
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 15px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            right: 50px;
            height: 1px;
            background: #ddd;
            left: 50px;
            top: 0;
        }
        .innerContainer {
            width: auto !important;
            max-width: 1280px;
            display: block;
            position: relative;
            margin: 0 auto;
            text-align: center;
            line-height: 19px;
            h4 {
                font-weight: 500;
                & {
                    font-size: 20px;
                    font-family: 'DuCoHeadlineRegular';
                }
            }
        }
    }
}