// @import (reference) "../../LESS/du/variables.less";
// @import (reference) "../../LESS/bootstrap/variables.less";
// @import (reference) "../../LESS/bootstrap/mixins.less";
// @import (reference) "../../LESS/bootstrap/buttons.less";
// @import (reference) "../../LESS/bootstrap/scaffolding.less";
// @import (reference) "../../LESS/prototype/mixin";
// @import (reference) "../../LESS/variable";
// @import "../../LESS/du/mod.duicons.less";
@import "../fixed-plans/globalStyles.less";
@import "../du-custom-icons.less";
.fixed-plans-summary-page {
    @import "odometer";
    font-size: 14px;
    line-height: 20px;
    font-family: 'DuCoHeadlineLightRegular';
    color: rgb(55, 63, 66);
    & * {
        box-sizing: border-box !important;
    }
    h4 {
        font-family: 'DuCoHeadlineRegular';
        font-weight: 500;
        line-height: 19px;
        font-size: 17px;
    }
    .widget {
        margin-top: 40px;
    }
    .row>.sf_colsOut {
        padding: 0;
    }
    .icon.icon-modify {
        &:before {
            content: ' ';
            background-repeat: no-repeat;
            background-position: center center;
            width: 15px;
            height: 15px;
            background-image: url('../../../images/ico-edit.svg');
        }
    }
    .popover {
        z-index: 99999;
        html[dir=rtl] & {
            right: auto !important;
            direction: rtl;
            text-align: right;
        }
    }
    //Fixed plans summary styles
    .fixed-plans-summary {
        .display-flex();
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 60px;
        &>h2 {
            background-color: #f7f7f7;
            font-family: 'DuCoHeadlineBold';
            font-weight: normal;
            line-height: 1.32em;
            padding: 18px 12px;
            border-bottom: solid 1px #dddddd;
            box-shadow: 0.4px 3px 3px 0 rgba(197, 197, 197, 0.34);
            width: 100%;
            text-align: center;
            margin: 0;
        }
        &>h3 {
            font-family: 'DuCoHeadlineBold';
            font-size: 20px;
            color: #333;
            line-height: 1.2em;
            margin-top: 32px;
        }
        .icon {
            vertical-align: middle;
            [dir="ltr"] & {
                margin-right: 4px;
            }
            [dir="rtl"] & {
                margin-left: 4px;
            }
        }
        *+.icon {
            [dir="ltr"] & {
                margin-left: 4px;
            }
            [dir="rtl"] & {
                margin-right: 4px;
            }
        }
        input[type="radio"] {
            position: absolute;
            opacity: 0;
        }
        input[type="radio"]+label {
            padding-top: 4px;
            color: rgb(0, 169, 206);
            cursor: pointer;
            &:before {
                content: ' ';
                cursor: pointer;
                width: 32px;
                height: 32px;
                display: inline-block;
                background-color: white;
                border-radius: 16px;
                border: 1px solid rgb(0, 169, 206);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 14px;
                vertical-align: middle;
                margin-top: -4px;
                [dir="ltr"] & {
                    margin-right: 10px;
                }
                [dir="rtl"] & {
                    margin-left: 10px;
                }
            }
        }
        input[type="radio"]:checked+label {
            pointer-events: auto;
            &:before {
                background-color: rgb(0, 169, 206);
                background-image: url('../../../images/ico-check-light.svg');
            }
        }
    }
    .fixed-plans-summary .breakdown {
        border-radius: 10px;
        border: solid 1.5px #dddddd;
        display: inline-block;
        text-align: initial;
        padding: 22px;
        width: 100%;
        max-width: 375px;
        margin-top: 12px;
        @media only screen and (max-width: @screen-xs) {
            width: 100%;
            padding: 16px;
            body.iphone & {
                padding: 22px;
            }
            [dir="ltr"] & {
                margin-left: 12px;
                margin-right: 12px;
            }
            [dir="rtl"] & {
                margin-right: 12px;
                margin-left: 12px;
            }
        }
        .breakdown-item {
            pointer-events: auto;
            .display-flex();
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding-top: 12px;
            a {
                font-family: 'DuCoHeadlineRegular';
            }
        }
        .breakdown-item.addon {
            pointer-events: auto;
            .description {
                position: relative;
                &:before {
                    content: '+';
                    display: inline-block;
                    position: absolute;
                    font-family: 'DuCoHeadlineBold';
                }
                .header,
                .details {
                    [dir="ltr"] & {
                        padding-left: 24px;
                        @media only screen and (max-width: @screen-xs) {
                            padding-left: 16px;
                        }
                    }
                    [dir="rtl"] & {
                        padding-right: 24px;
                        @media only screen and (max-width: @screen-xs) {
                            padding-right: 16px;
                        }
                    }
                }
            }
            .header,
            .details {
                /*[dir="ltr"] & {
                padding-left: 8px;
            }

            [dir="rtl"] & {
                padding-right: 8px;
            }*/
            }
        }
        .breakdown-item .description {
            [dir="ltr"] & {
                margin-right: 24px;
            }
            [dir="rtl"] & {
                margin-left: 24px;
            }
        }
        .breakdown-item .price {
            text-align: end;
            white-space: nowrap;
        }
        .breakdown-item .header {
            font-family: 'DuCoHeadlineBold';
        }
        .breakdown-item .details {
            color: #777777;
        }
        .detail-information-popup {
            display: block;
            margin-top: 8px;
            text-decoration: none;
            [dir="ltr"] & {
                padding-left: 24px;
                @media only screen and (max-width: @screen-xs) {
                    padding-left: 16px;
                }
            }
            [dir="rtl"] & {
                padding-right: 24px;
                @media only screen and (max-width: @screen-xs) {
                    padding-right: 16px;
                }
            }
        }
        .change-plan-button {
            display: block;
            text-align: center;
            margin-top: 20px;
            border: solid 1.5px #00a9ce;
            border-radius: 22.6px;
            font-family: 'DuCoHeadlineRegular';
            color: #00a9ce;
            padding: 11px 12px 9px 12px;
            pointer-events: auto;
            text-decoration: none !important;
            span {
                pointer-events: auto;
            }
        }
    }
    .fixed-plans-summary .offers {
        margin-top: 16px;
        width: 100%;
        max-width: 375px;
        @media only screen and (max-width: @screen-xs) {
            width: auto;
            [dir="ltr"] & {
                margin-left: 12px;
                margin-right: 12px;
            }
            [dir="rtl"] & {
                margin-right: 12px;
                margin-left: 12px;
            }
        }
        .offer {
            border-radius: 10px;
            border: solid 1.5px #dddddd;
            .display-flex();
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-justify-content: center;
            justify-content: center;
            text-align: initial;
            padding: 22px;
            width: 100%;
            max-width: 375px;
            margin-top: 12px;
            @media only screen and (max-width: @screen-xs) {
                padding: 16px;
            }
            &:first-child {
                margin-top: 0;
            }
        }
        .offer .image {
            width: 100px;
            max-width: 100px;
            max-height: 100px;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            text-align: center;
            [dir="ltr"] & {
                margin-right: 4px;
            }
            [dir="rtl"] & {
                margin-left: 4px;
            }
            @media only screen and (max-width: @screen-xs) {
                //flex: 1 1 100%;
                [dir="ltr"] & {
                    margin-right: 0;
                }
                [dir="rtl"] & {
                    margin-left: 0;
                }
            }
            img {
                max-width: 100%;
                max-height: 100%;
                display: inline-block;
            }
        }
        .breakdown-item {
            pointer-events: auto;
            .display-flex();
            -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            a {
                font-family: 'DuCoHeadlineRegular';
            }
            .icon {
                pointer-events: auto;
            }
        }
        .breakdown-item .description {
            [dir="ltr"] & {
                margin-right: 24px;
            }
            [dir="rtl"] & {
                margin-left: 24px;
            }
            @media only screen and (max-width: @screen-xs) {
                [dir="ltr"] & {
                    margin-right: 4px;
                }
                [dir="rtl"] & {
                    margin-left: 4px;
                }
            }
        }
        .breakdown-item .price {
            text-align: end;
        }
        .breakdown-item .header {
            font-family: 'DuCoHeadlineBold';
            height: 22px;
        }
        .breakdown-item .details {
            color: #777777;
        }
        .offer .information {
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
        }
        .variations {
            margin-top: 16px;
            .display-flex();
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
        }
        .variations>.variation {
            display: inline-block;
            [dir="ltr"] & {
                margin-right: 12px;
            }
            [dir="rtl"] & {
                margin-left: 12px;
            }
            flex: 1 1 auto;
        }
        .toggle-offer-button {
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 20px;
            border: solid 1.5px #00a9ce;
            border-radius: 22.6px;
            font-family: 'DuCoHeadlineRegular';
            padding: 11px 12px 7px 12px;
            background-color: #00a9ce;
            color: white;
            text-decoration: none !important;
            .add-text {
                display: inline;
            }
            .remove-text {
                display: none;
            }
            .icon {
                display: inline-block;
                width: 28px;
                height: 28px;
                margin-top: -4px;
                &.icon-add,
                &.icon-remove {
                    &:before {
                        content: ' ';
                        background-repeat: no-repeat;
                        background-position: center center;
                        width: 28px;
                        height: 28px;
                    }
                }
                &.icon-add:before {
                    background-image: url('../../../images/ico-Plus.svg');
                }
                &.icon-remove:before {
                    background-image: url('../../../images/ico-Remove.svg');
                }
            }
        }
        .offer[data-state="added"] {
            pointer-events: auto;
            .toggle-offer-button {
                color: #00a9ce;
                background: none;
                .add-text {
                    display: none;
                }
                .remove-text {
                    display: inline;
                }
            }
        }
    }
    .fixed-plans-summary .breakdown-totals {
        background-color: #f7f7f7;
        border-top: solid 1px #ddd;
        padding: 20px;
        position: fixed;
        bottom: 0;
        left: 160px;
        right: 160px;
        .display-flex();
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        @media only screen and (min-width: @screen-md-min) {
            [dir="ltr"] & {
                padding-left: 40px;
            }
            [dir="rtl"] & {
                padding-right: 40px;
            }
        }
        @media only screen and (max-width: @screen-md-max) {
            [dir="ltr"] & {
                right: 0;
            }
            [dir="rtl"] & {
                left: 0;
            }
        }
        @media only screen and (max-width: @screen-sm-max) {
            [dir="ltr"] & {
                left: 0;
            }
            [dir="rtl"] & {
                right: 0;
            }
            padding: 20px;
        }
        @media only screen and (max-width: @screen-xs-min) {
            padding: 12px;
        }
        &>* {
            [dir="ltr"] & {
                margin-right: 20px;
            }
            [dir="rtl"] & {
                margin-left: 20px;
            }
            &:first-child {
                [dir="ltr"] & {
                    margin-left: 0;
                }
                [dir="rtl"] & {
                    margin-right: 0;
                }
            }
            &:last-child {
                [dir="ltr"] & {
                    margin-right: 0;
                }
                [dir="rtl"] & {
                    margin-left: 0;
                }
            }
            @media only screen and (min-width: @screen-md-min) {
                [dir="ltr"] & {
                    margin-left: 80px;
                }
                [dir="rtl"] & {
                    margin-right: 80px;
                }
            }
            @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                [dir="ltr"] & {
                    margin-left: 60px;
                }
                [dir="rtl"] & {
                    margin-right: 60px;
                }
            }
            @media only screen and (max-width: 340px) {
                [dir="ltr"] & {
                    margin-right: 0;
                }
                [dir="rtl"] & {
                    margin-left: 0;
                }
            }
        }
        &>h4 {
            font-size: 14px;
        }
        .heading {
            font-size: 14px;
            font-family: 'DuCoHeadlineBold';
        }
        .buy-button {
            border-radius: 5px;
            background-color: #c724b1;
            color: white;
            display: inline-block;
            padding: 12px 12px;
            min-width: 30%;
            text-align: center;
            text-decoration: none !important;
            margin-bottom: 0;
            width: auto;
            float: none;
            @media only screen and (min-width: @screen-sm-min) {
                [dir="ltr"] & {
                    margin-left: auto;
                }
                [dir="rtl"] & {
                    margin-right: auto;
                }
            }
            @media only screen and (max-width: @screen-xs-max) {
                -webkit-flex: 1 1 100%;
                -ms-flex: 1 1 100%;
                flex: 1 1 100%;
                margin-top: 12px;
            }
            @media only screen and (max-width: 767px) {
                -webkit-flex: 1 1 100%;
                -ms-flex: 1 1 100%;
                flex: 1 1 100%;
                margin-top: 12px;
            }
        }
        .odometer {
            &-inside {
                direction: ltr;
                font-family: 'DuCoHeadlineBold';
                position: relative;
                top: -1.5px;
            }
            &-digit {
                max-width: 0.6em;
            }
        }
    }
    @product-page-gutter-external: 26.5px;
    @product-page-gutter-internal: 24.3px;
}

body {
    .fixed-plans-summary-page {
        .page-popup {
            position: fixed;
            max-height: 300px;
            bottom: -300px;
            width: 100%;
            background-color: #f7f7f7;
            border-top: solid 1px #DDD;
            text-align: center;
            z-index: 100000;
            left: 0;
            padding: 55px 0;
            .transition(bottom .3s ease-out);
            @media (max-width: @screen-sm-max) {
                padding: 45px 0;
                max-height: 360px;
                bottom: -360px;
                .buttons-wrapper .btn-rounded {
                    width: 100% !important;
                    margin: 0 0 18px 0 !important;
                }
            }
            .close-button {
                background-image: url('../../../images/close-icon-circle-blue.svg');
                background-color: transparent;
            background-size: 40px;
                color: transparent;
                -webkit-appearance: none;
                border: 0;
            height: 40px;
            width: 40px;
            margin-bottom: @product-page-gutter-internal / 2; //12.5px
                display: inline-block;
                padding: 0;
                min-width: 0;
                box-shadow: none !important;
            }
            h3 {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: @product-page-gutter-external;
            }
            .buttons-wrapper {
                padding-top: 10px;
                .btn-rounded {
                    color: #09c;
                    font-size: 14px;
                    font-family: "DuCoHeadlineRegular";
                    height: 45px;
                    border-radius: 22.5px;
                    border: solid 1.5px #09c;
                    display: inline-block;
                    line-height: 45px;
                    width: 48%;
                    [dir=ltr] & {
                    //float: left;
                        margin-right: @product-page-gutter-external;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    [dir=rtl] & {
                    //float: right;
                        margin-left: @product-page-gutter-external;
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
        .page-popup-padded-container {
            min-width: 0;
            margin: 0 auto;
            @media only screen and (min-width: @screen-xl-min) {
                width: 1015px;
            }
            @media only screen and (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
                width: 790px;
            }
            @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                width: 720px;
            }
            @media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
                width: 460px;
            }
            @media only screen and (max-width: @screen-xxs-max) {
                width: 100%;
            }
            @media (max-width: @screen-sm-max) {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        .page-popup-overlay {
            position: absolute;
            background-color: #000;
            opacity: 0;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99999;
            pointer-events: none;
            .transition(opacity .3s ease-out);
        }
    }
}

html.page-popup-open {
    overflow-y: hidden;
    .page-popup {
        bottom: 0;
    }
    .page-popup-overlay {
        opacity: 0.2;
        pointer-events: auto;
        cursor: pointer;
    }
}