@import "../plans.less";
@import "../mod.duicons.less";
@import "../du-custom-icons.less";
@import "search-map.less";
@product-page-gutter-external: 26.5px;
@product-page-gutter-internal: 24.3px;
@disabled-color: #b9b9b9;

/* MIXINS */

.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.border-radius(@radius) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    -khtml-border-radius: @radius;
    border-radius: @radius;
}

.border-radius-topleft(@radius) {
    -moz-border-radius-topleft: @radius;
    -webkit-border-top-left-radius: @radius;
    -ms-border-radius-topleft: @radius;
    -o-border-radius-topleft: @radius;
    border-top-left-radius: @radius;
}

.border-radius-topright(@radius) {
    -moz-border-radius-topright: @radius;
    -webkit-border-top-right-radius: @radius;
    -ms-border-radius-topright: @radius;
    -o-border-radius-topright: @radius;
    border-top-right-radius: @radius;
}

.border-radius-bottomleft(@radius) {
    -moz-border-radius-bottomleft: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -ms-border-radius-bottomleft: @radius;
    -o-border-radius-bottomleft: @radius;
    border-bottom-left-radius: @radius;
}

.border-radius-bottomright(@radius) {
    -moz-border-radius-bottomright: @radius;
    -webkit-border-bottom-right-radius: @radius;
    -ms-border-radius-bottomright: @radius;
    -o-border-radius-bottomright: @radius;
    border-bottom-right-radius: @radius;
}

.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
    box-shadow: @shadow;
}

.transform(@arguments) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}

[dir="ltr"] .plans .plan-cards.innerContainer .item0,
[dir="ltr"] .plans .plan-cards.innerContainer .item1 {
    width: 50%;
    display: inline-block;
    float: left;
}

.fixed-plans {
    padding-top: 40px;
    box-sizing: border-box;
}

.plans.fixedPlans {
    .sticky-top {
        padding-top: 0;
        padding-bottom: 20px !important;
        width: auto;
        margin: -10px 0 0 0;
        .fullWidthContainer {
            width: auto;
            margin: 0;
        }
        .headerWrapper {
            .header-image {
                background: #000 url(../../../images/plans-bg-fixed.jpg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                margin-top: 0;
                [dir=rtl] & {
                    background: #000 url(../../../images/plans-bg-fixed-ar.jpg);
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            .header-content {
                width: auto;
                .txt-box {
                    padding: 20px 35px;
                    margin: 0;
                    position: relative;
                    height: 88px;
                    top: ~"calc(50% - 44px)";
                    h1 {
                        margin-bottom: 0;
                        line-height: 44px;
                        [dir=rtl] & {
                            line-height: 48px !important;
                        }
                    }
                    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                        height: 77px;
                        top: ~"calc(50% - 38.5px)";
                        h1 {
                            line-height: 34px;
                            [dir=rtl] & {
                                line-height: 38px !important;
                            }
                        }
                    }
                    @media (max-width: @screen-sm-max) {
                        height: 62px;
                        top: ~"calc(50% - 31px)";
                        h1 {
                            line-height: 20px;
                            [dir=rtl] & {
                                line-height: 20px !important;
                            }
                        }
                    }
                }
            }
        }
        &.bgwhite div.arrow {
            z-index: 100;
        }
        .tv-not-available {
            display: none;
            font-size: 14px;
            color: #ff8200;
            background-color: #f9f0c9;
            margin-top: 40px;
            padding: 5px 10px;
            .border-radius(8px);
            &.is-visible {
                display: inline-block;
            }
            .icon::before {
                color: #ff8200;
                font-size: 12px;
                position: relative;
                top: -1px;
            }
        }
        .choose-package-title.sub-title {
            h4 {
                font-family: 'DuCoHeadlineRegular';
                font-size: 18px;
                @media (max-width: @screen-xxs-max) {
                    font-size: 14px;
                }
            }
        }
        .plan-sub-filters {
            padding-bottom: 0;
            a {
                font-size: 14px;
                font-family: 'DuCoHeadlineLightRegular';
                color: #09c;
                margin: 0 32px 5px 0;
                [dir=rtl] & {
                    margin: 0 0 5px 32px;
                }
                &:before {
                    width: 27px;
                    height: 27px;
                    font-size: 31px;
                    margin: 0 15px -4px 15px;
                    margin-bottom: -8px;
                }
                @media (max-width: @screen-sm-max) {
                    &::before {
                        overflow: hidden;
                    }
                }
            }
            a.selected {
                &:before {
                    font-size: 8px;
                    bottom: 2px;
                    margin-bottom: -4px;
                    padding-top: 4px;
                    text-align: center;
                    font-family: 'duicons-custom';
                    content: '\e802';
                    color: #FFF;
                    background-color: #09c;
                    border: 1px solid #09c;
                    .border-radius(50%) !important;
                }
                @media (max-width: @screen-sm-max) {
                    &::before {
                        bottom: 1px;
                        margin-bottom: -8px;
                    }
                    &.disabled::before {
                        bottom: -3px;
                    }
                }
            }
            a.disabled {
                pointer-events: none;
                color: #DDD;
                &::before {
                    content: ' ';
                    border: 1px solid #DDD;
                    .border-radius(50%) !important;
                    background-color: transparent;
                    bottom: -8px;
                }
            }
            @media (max-width: @screen-xs-max) {
                [dir=ltr] & {
                    text-align: left;
                    margin-left: 20%;
                }
                [dir=rtl] & {
                    text-align: right;
                    margin-right: 10%;
                }
            }
            @media (max-width: @screen-xxs-max) {
                padding-left: 0;
                padding-right: 0;
                width: auto;
                [dir=ltr] & {
                    margin-left: 50%;
                    transform: translateX(-50%);
                }
                [dir=rtl] & {
                    margin-right: 50%;
                    transform: translateX(50%);
                }
                a {
                    white-space: nowrap;
                }
            }
        }
        .plan-filters {
            select {
                display: none;
                &+.bootstrap-select {
                    width: 100%;
                    height: 50px;
                    position: relative;
                    text-align: center;
                    &.open {
                        button {
                            border: 1px solid #09c;
                            span.filter-option {
                                color: #09c;
                            }
                        }
                        &::before {
                            content: "\A";
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            border-left: 1px solid #09c;
                            border-right: 1px solid #09c;
                            height: ~"calc(50% + 2px)";
                        }
                        &::after {
                            color: #09c;
                        }
                    }
                    button {
                        width: 100%;
                        height: 100%;
                        background: none;
                        border: 0;
                        border: 1px solid #09c;
                        .border-radius(25px) !important;
                        .box-shadow(none) !important;
                        z-index: 100;
                        span.filter-option {
                            width: 100%;
                            font-weight: normal;
                            font-family: 'DuCoHeadlineLightRegular';
                            font-size: 14px;
                            color: #09c;
                        }
                        span.caret {
                            display: none;
                        }
                    }
                    .dropdown-menu.open {
                        width: 100%;
                        background-color: #FFF !important;
                        padding: 0;
                        margin: 0;
                        border: 1px solid #09c;
                        border-top: 0;
                        .box-shadow(none) !important;
                        top: 100%;
                        z-index: 101;
                        min-height: 200px !important;
                        max-height: 400px !important;
                        .border-radius-topleft(0);
                        .border-radius-topright(0);
                        ul.dropdown-menu.inner.selectpicker {
                            position: relative;
                            top: 0;
                            width: 100%;
                            border: 0;
                            padding: 0;
                            margin: 0;
                            min-height: 200px !important;
                            max-height: 400px !important;
                            li {
                                &.disabled:first-child {
                                    display: none;
                                }
                                .glyphicon {
                                    display: none;
                                }
                                span.text {
                                    font-weight: normal;
                                    font-family: 'DuCoHeadlineLightRegular';
                                    font-size: 14px;
                                    color: #09c;
                                }
                                a {
                                    padding-top: 0;
                                    padding-bottom: 0;
                                    margin: 0 25px;
                                    vertical-align: middle;
                                    line-height: 50px;
                                    cursor: pointer;
                                    border-bottom: 1px solid #ddd;
                                    &:hover,
                                    &:focus {
                                        text-decoration: none;
                                    }
                                }
                                &:last-child a {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                    &::after {
                        font-family: 'duicons';
                        content: '\e80e';
                        color: #09c;
                        border: 0 none;
                        .border-radius(0);
                        font-size: 22px;
                        position: absolute;
                        z-index: 100;
                        pointer-events: none;
                        [dir=ltr] & {
                            right: 30px;
                            top: 10px;
                        }
                        [dir=rtl] & {
                            left: 30px;
                            top: 15px;
                        }
                    }
                }
                &[disabled]+.bootstrap-select {
                    button {
                        border: 1px solid #777;
                        span.filter-option {
                            color: #777;
                        }
                    }
                    &::after {
                        color: #777;
                    }
                }
            }
            .filter-catg {
                padding-bottom: 0;
            }
        }
        .main-title {
            height: 59.5px;
            background-color: #f7f7f7;
            box-shadow: 0.4px 3px 3px 0 rgba(197, 197, 197, 0.34);
            border: solid 1px #dddddd;
            h2 {
                font-size: 20px;
                color: #333;
                line-height: 59.5px;
            }
        }
        .sub-title {
            padding-top: 20px;
            h4 {
                font-weight: 500;
                font-family: 'DuCoHeadlineLightRegular';
                font-size: 16px;
                color: #777;
                width: 90%;
                margin: 0 auto;
            }
            @media (max-width: @screen-sm-max) {
                padding-top: 15px;
            }
        }
        &.sticky {
            body.mobile & {
                padding-bottom: 0px !important;
                .plan-sub-filters {
                    visibility: hidden;
                }
                .tv-not-available {
                    display: none;
                }
                .container-fluid {
                    padding-top: 5px;
                }
                @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
                    padding-top: 30px;
                }
                @media (max-width: @screen-xs-max) {
                    .main-title {
                        display: none;
                    }
                    .sub-title {
                        padding-top: 25px;
                    }
                }
            }
            @media (min-width: @screen-md-min) {
                padding-bottom: 0 !important;
                .plan-filters-summary {
                    max-height: 1000px;
                    position: static;
                }
                .arrow {
                    display: none;
                }
            }
        }
    }
    .sticky-filters-summary {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #FFF;
        height: 0;
        z-index: 101;
        @media (min-width: @screen-md-min) {
            [dir=ltr] & {
                left: 160px;
            }
            [dir=rtl] & {
                right: 160px;
            }
        }
        @media (min-width: @screen-lg-min) {
            [dir=ltr] & {
                right: 160px;
            }
            [dir=rtl] & {
                left: 160px;
            }
        }
        .show-filters-link,
        .plan-filters-summary,
        .plan-filters-summary-mobile {
            max-height: 0;
            overflow: hidden;
            .transition(max-height .3s ease-out);
        }
        .show-filters-link {
            position: relative;
            top: 35px;
            background-color: #FFF;
            border-bottom: 1px solid #cccccc;
            .box-shadow(0px 5px 25px -14px rgba(0, 0, 0, 0.75));
            text-align: center;
            height: 40px;
            line-height: 40px;
        }
        .plan-filters-summary {
            position: relative;
            top: 20px;
            text-align: center;
            background-color: #FFF;
            border-bottom: 1px solid #cccccc;
            .box-shadow(0px 5px 25px -14px rgba(0, 0, 0, 0.75));
            a {
                display: inline-block;
                padding: 0 0 12px 0;
                padding: 12px 0;
                margin-bottom: 12px;
                position: relative;
                top: 18px;
                &>div {
                    display: inline-block;
                    padding: 0 15px;
                    float: left;
                    [dir=ltr] & {
                        border-right: 1px solid #ddd;
                        &:last-child {
                            border-right: 0;
                        }
                    }
                    [dir=rtl] & {
                        float: right;
                        border-left: 1px solid #ddd;
                        &:last-child {
                            border-left: 0;
                        }
                    }
                    h6 {
                        margin-bottom: 0px;
                        small {
                            font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
                            font-size: 14px;
                            color: #000;
                        }
                    }
                }
            }
        }
        .plan-filters-summary-mobile {
            position: relative;
            top: 35px;
            text-align: center;
            background-color: #FFF;
            border-bottom: 1px solid #cccccc;
            .box-shadow(0px 5px 25px -14px rgba(0, 0, 0, 0.75));
            a {
                display: inline-block;
                padding: 5px 0;
                div {
                    border-bottom: 1px solid #cccccc;
                    &:last-child {
                        border-bottom: 0;
                    }
                }
                h5 {
                    font-size: 16px;
                }
            }
        }
        &.sticky {
            .show-filters-link,
            .plan-filters-summary,
            .plan-filters-summary-mobile {
                max-height: 120px;
            }

            .plan-filters-summary {
                margin-top: 30px;

                a {
                    padding: 4px 0 16px 0;

                    & > div h6 {
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
    .plan-cards {
        min-height: 500px;
        &.loaded .card-item {
            display: block;
        }
        .card-item {
            display: none;
            padding: 0 10px;
            .card-content .you-pay {
                h5 {
                    /*
                    line-height: 20px;

                    mark {
                        font-family: "DuCoHeadlineRegular";
                        font-weight: bold;
                        font-size: 12px;

                        strong {
                            font-size: 26.6px;
                        }
                    }

                    a.activationFeeInformation i.icon {
                        position: relative;
                        top: 2px;
                    }
                        */
                }
            }
            .card-content .you-get {
                padding-bottom: 0;
                img[title="Download"] {
                    display: none;
                }
                /*
                h4 {
                    font-size: 15px;
                }
                    */
                .item0 {
                    [dir=ltr] & {
                        border-right: solid 1px #0099cc;
                    }
                    [dir=rtl] & {
                        border-left: solid 1px #0099cc;
                    }
                }
                .item0,
                .item1 {
                    /*min-height: 76px;*/
                    height: auto !important;
                    width: 50%;
                    display: inline-block;
                    border-bottom: solid 1px #0099cc;
                    [dir=ltr] & {
                        float: left;
                    }
                    [dir=rtl] & {
                        float: right;
                    }
                    h5 {
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 25px;
                        padding: 12px 5px 8px 5px;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: none;
                        mark {
                            img {
                                position: relative;
                                bottom: 4px;
                            }
                        }
                        strong {
                            font-size: 22px;
                            font-weight: bold;
                            font-family: "DuCoHeadlineLightRegular";
                            color: #0099cc;
                            word-break: break-all;
                        }
                    }
                }
                .benefits {
                    //padding-top: 76px;
                    padding-bottom: 10px;
                    clear: both;
                    & > div {
                        padding: 0;
                        border: none;
                    }
                    img {
                        display: inline-block;
                        max-height: 58px;
                        max-width: 60px;
                        [dir="ltr"] & {
                            float: left;
                        }
                        [dir="rtl"] & {
                            float: right;
                        }
                    }
                }
            }
            .card-content .offers {
                display: inline-block;
                padding-bottom: 20px;
                border: solid 1px #0099cc;
                border-top: none;
                width: 100%;
                .border-radius-topleft(0) !important;
                .border-radius-topright(0) !important;
                h4 {
                    margin: 0;
                    font-size: 12px;
                    position: relative;
                    top: -12px;
                    display: inline-block;
                    background-color: #FFF;
                    padding: 0 15px;
                    i.icon {
                        [dir=ltr] & {
                            margin-right: 5px;
                        }
                        [dir=rtl] & {
                            margin-left: 5px;
                        }
                        &::before {
                            font-family: 'duicons-custom';
                            font-size: 12px;
                            line-height: 12px;
                            color: #323434;
                        }
                    }
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    min-height: 20px;
                    li {
                        display: -webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-align-items: center;
                        align-items: center;
                        padding: 20px;
                        padding-top: 0;
                        img {
                            max-height: 47px;
                            max-width: 60px;
                        }
                        .offer-text-container {
                            color: #777;
                            padding: 0 10px;
                            width: 100%;
                            text-align: left;
                            line-height: 1.25em;
                            [dir=rtl] & {
                                text-align: right;
                            }
                            strong {
                                font-size: 14px;
                                font-family: "DuCoHeadlineLightRegular";
                                color: #333;
                                font-weight: normal;
                                display: block;
                                .offer-text-added {
                                    color: rgb(120, 190, 32);
                                    display: none;
                                }
                            }
                            .offer-non-selected-text {
                                display: inline;
                            }
                            .offer-selected-text {
                                display: none;
                            }
                        }
                        button {
                            background: none;
                            border: 0;
                            font-size: 12px;
                            padding: 0;
                            color: #0099cc;
                            min-width: 43px;
                            width: 43px;
                            height: 43px;
                            border: solid 1px #0099cc;
                            border-radius: 21.5px;
                            font-family: "DuCoHeadlineRegular";
                            position: relative;
                            top: -1px;
                            [dir=ltr] & {
                                margin-right: auto;
                            }
                            [dir=rtl] & {
                                margin-left: auto;
                            }
                            &[data-offers-remove] {
                                color: transparent;
                                background-color: rgb(120, 190, 32);
                                border: solid 1px rgb(120, 190, 32);
                                &::before {
                                    display: block;
                                    font-family: 'duicons-custom';
                                    content: '\e802';
                                    font-size: 12px;
                                    color: #FFF;
                                    line-height: 43px;
                                }
                            }
                        }
                        &.from-page {
                            span {
                                .offer-non-selected-text {
                                    display: none;
                                }
                                .offer-selected-text {
                                    display: inline;
                                }
                            }
                        }
                    }
                }
                .card-cta {
                    padding: 0px 20px;
                    border-top: solid 1px #0099cc;
                    padding-top: 20px;
                    &:first-child {
                        border-top: none;
                    }
                    a {
                        margin: 0;
                        width: 48%;
                        [dir=rtl] & i.icon {
                            margin-left: 5px;
                        }
                    }
                    [dir=ltr] & {
                        a:first-child {
                            float: left;
                        }
                        a:last-child {
                            float: right;
                        }
                    }
                    [dir=rtl] & {
                        a:first-child {
                            float: right;
                        }
                        a:last-child {
                            float: left;
                        }
                    }
                }
            }
            .inline-icon-container-20 {
                height: 15px;
            }
            .card-content {
                .benefits {
                    div:last-child h5 {
                        border-bottom: 0;
                    }
                }
            }
            /*&.without-tv .card-content .you-get .item0,
            &.without-tv .card-content .you-get .item1 {
                [dir=ltr] & {
                    min-height: 0;

                    h5 {
                        min-height: 0;
                    }
                }

                [dir=rtl] & {
                    min-height: 0;

                    h5 {
                        min-height: 0;
                    }
                }

                @media (min-width: @screen-md-min) and (max-width: 1030px) {
                    [dir=ltr] & {
                        min-height: 101px;

                        h5 {
                            min-height: 101px;
                        }
                    }
                }
            }

            &.without-tv .card-content .you-get .benefits {
                [dir=ltr] & {
                    padding-top: 51px !important;
                }

                [dir=rtl] & {
                    padding-top: 51px !important;
                }

                @media (min-width: @screen-md-min) and (max-width: 1030px) {
                    [dir=ltr] & {
                        padding-top: 101px !important;
                    }
                }
            }

            &.with-tv .card-content .you-get .item0 {

                h5 {
                    [dir="ltr"] & {
                        padding-top: 24px;
                    }
                }
            }

            &.with-tv .card-content .you-get .item0,
            &.with-tv .card-content .you-get .item1 {
                h5 strong {
                    font-size: 22px;
                }

                [dir=ltr] & {
                    min-height: 72px;

                    h5 {
                        min-height: 72px;
                    }
                }

                [dir=rtl] & {
                    min-height: 76px;

                    h5 {
                        min-height: 76px;
                    }
                }
            }

            &.with-tv .card-content .you-get .benefits {
                [dir=ltr] & {
                    padding-top: 72px !important;
                }

                [dir=rtl] & {
                    padding-top: 76px !important;
                }

                @media (min-width: @screen-lg-min) and (max-width: 1250px) {
                    [dir=rtl] & {
                        padding-top: 97px !important;
                    }
                }

                @media (min-width: @screen-md-min) and (max-width: 1080px) {
                    [dir=rtl] & {
                        padding-top: 97px !important;
                    }
                }
            }*/
            // Hide Without-TV Channel
            &.without-tv .card-content .you-get {
                .item0 {
                    width: 100%;
                    border-left: 0;
                    border-right: 0;
                }
                .item1 {
                    display: none;
                }
            }
        }
    }
    .planDetailsPopup {
        display: block;
    }
    .planDetailsPopup .popupBody .footer .actionButtonsContainer .printButton i.icon {
        &::before {
            font-size: 22px !important;
            position: relative;
            top: 3px;
        }
        [dir=ltr] & {
            margin-right: 10px;
        }
        [dir=rtl] & {
            margin-left: 10px;
        }
    }
    .btn {
        padding: 0 5px;
    }
    .hidden-mobile {
        @media (max-width: @screen-sm-max) {
            display: none !important;
        }
    }
    .hidden-desktop {
        @media (min-width: @screen-md-min) {
            display: none !important;
        }
    }
    .regular {
        font-family: "DuCoHeadlineRegular" !important;
    }
    .magenta {
        color: #c39 !important;
    }
}

html.touch {
    .plans.fixedPlans {
        .plan-filters {
            .filter-catg>div {
                position: relative;
            }
            select {
                display: inline-block;
                font-family: 'DuCoHeadlineLightRegular';
                font-size: 14px;
                width: 100%;
                color: #09c;
                background-color: #FFF;
                border: 1px solid #09c;
                .border-radius(25px) !important;
                height: 50px;
                -webkit-appearance: none;
                // text-align-last:center;
                outline: none;
                &+.filter-dropdown-caret::after {
                    font-family: 'duicons';
                    content: '\e80e';
                    color: #09c;
                    font-size: 22px;
                    position: absolute;
                    right: 30px;
                    top: 10px;
                }
                &[disabled] {
                    color: #777;
                    border: 1px solid #777;
                    &+.filter-dropdown-caret::after {
                        color: #777;
                    }
                }
            }
        }
    }
}

html.touch[dir=rtl] .plans.fixedPlans .plan-filters select+.filter-dropdown-caret::after {
    left: 30px;
    top: 15px;
    right: auto;
}

body {
    &>div.popover {
        z-index: 99999;
        p {
            margin-bottom: 15px;
        }
    }
}

.calculate-text-length {
    display: none;
    position: absolute;
    font-family: 'DuCoHeadlineLightRegular';
    font-size: 14px;
}

.prototype-legacy .faqs-tc-with-tv,
.prototype-legacy .faqs-tc-without-tv {
    display: none;
    &.active {
        display: block;
    }
    .sfPageEditor & {
        display: block;
    }
}

.prototype-legacy .search-city-wrapper {
    position: relative;
}

.prototype-legacy .search-city {
    border: 0;
    border-bottom: 1px solid @disabled-color;
    border-radius: 0;
    box-shadow: none;
    color: #09c;
    -webkit-appearance: none;
    @media (max-width: @screen-xs-max) {
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
    }
    &[type=search] {
        height: 50px;
        line-height: 50px;
    }
    [dir=ltr] & {
        padding-right: 35px;
    }
    [dir=rtl] & {
        padding-left: 35px;
    }
    &[disabled] {
        &,
        &+.search-city-icon {
            opacity: 0.4;
        }
    }
}

.prototype-legacy .search-city-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #09c;
    font-size: 20px;
    [dir=ltr] & {
        right: 9px;
    }
    [dir=rtl] & {
        left: 9px;
    }
}

.prototype-legacy .show-map-btn {
    height: 50px;
    width: 100%;
    border: 1px solid #09c;
    line-height: 50px;
    border-radius: 25px !important;
    display: inline-block;
    cursor: pointer;
    &:hover {
        text-decoration: none !important;
    }
    &[disabled] {
        border: 0;
        background-image: none;
        opacity: .4;
        cursor: not-allowed;
        box-shadow: none;
        background: #e6e6e6;
        color: @disabled-color !important;
        border: 1px solid #ddd;
    }
}

.prototype-legacy .show-map-btn-icon {
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    [dir=ltr] & {
        padding-right: 8px;
    }
    [dir=rtl] & {
        padding-left: 8px;
    }
}

.product-page-add-popup {
    position: fixed;
    max-height: 260px;
    bottom: -260px;
    width: 100%;
    background-color: #f7f7f7;
    border-top: solid 1px #DDD;
    text-align: center;
    z-index: 100000;
    left: 0;
    padding: 55px 0;
    @media (max-width: @screen-sm-max) {
        padding: 25px 0;
    }
    .container-fluid .row & {
        .transition(bottom .3s ease-out);
    }
    .close-button {
        background-image: url('../../../images/ico-close-cross.svg');
        background-color: transparent;
        background-size: 40px;
        color: transparent;
        -webkit-appearance: none;
        border: 0;
        height: 40px;
        width: 40px;
        margin-bottom: @product-page-gutter-internal / 2; //12.5px
        display: inline-block;
        padding: 0;
        min-width: 0;
        box-shadow: none !important;
    }
    h3 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: @product-page-gutter-external /2 !important;
    }
    .buttons-wrapper {
        .btn-rounded {
            color: #09c;
            font-size: 14px;
            font-family: "DuCoHeadlineRegular";
            height: 45px;
            border-radius: 22.5px;
            border: solid 1.5px #09c;
            display: inline-block;
            line-height: 45px;
            width: 48%;
            @media (max-width: @screen-sm-max) {
                width: 100%;
            }
            &:hover,
            &:active,
            &:hover {
                text-decoration: none;
            }
            [dir=ltr] & {
                //float: left;
                margin-right: @product-page-gutter-external;
                @media (max-width: @screen-sm-max) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            [dir=rtl] & {
                //float: right;
                margin-left: @product-page-gutter-external;
                @media (max-width: @screen-sm-max) {
                    margin-left: 0;
                    margin-bottom: 10px;
                }
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.product-page-add-popup-overlay {
    position: absolute;
    background-color: #000;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    pointer-events: none;
    .container-fluid .row & {
        .transition(opacity .3s ease-out);
    }
}

.product-page-padded-container {
    min-width: 0;
    margin: 0 auto;
    @media (max-width: @screen-sm-max) {
        padding-left: 25px;
        padding-right: 25px;
    }
    @media only screen and (min-width: @screen-xl-min) {
        width: 1015px;
    }
    @media only screen and (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
        width: 790px;
    }
    @media only screen and (max-width: @screen-sm-max) {
        width: 100%;
    }
}

html.product-page-add-popup-open {
    overflow-y: hidden;
    .product-page-add-popup {
        bottom: 0;
    }
    .product-page-add-popup-overlay {
        opacity: 0.2;
        pointer-events: auto;
        cursor: pointer;
    }
}