.prototype-legacy *,
.prototype-legacy *:before,
.prototype-legacy *:after {
    box-sizing: border-box;
}

.prototype-legacy {
    font-family: 'DuCoHeadlineLightRegular', Arial, sanas-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #373f42;
    .hide,
    .hidden {
        display: none !important;
    }
    .show-xs {
        @media (min-width: @screen-sm-min) {
            display: none;
        }
    }
    .show-sm {
        @media (min-width: @screen-md-min) {
            display: none;
        }
    }
    .fullWidthContainer {
        width: auto;
        margin: 0;
    }
    p {
        margin-bottom: 16px;
    }
    // h1, h2, h3, h4, h5, h6 {
    //     line-height: 1.1;
    // }
    h1 {
        font-size: 30px;
        line-height: 40px;
        font-family: 'DuCoHeadlineBold';
        color: #323434;
        margin-bottom: 16px;
    }
    h2 {
        font-size: 18px;
        line-height: 20px;
    }
    h3 {
        font-size: 18px;
        line-height: 30px;
        font-family: 'DuCoHeadlineRegular';
    }
    // h4 {
    //     font-size: 17px;
    //     line-height: 19px;
    // }
    // h5 {
    //     font-size: 14px;
    //     line-height: 19px;
    // }
    h6 {
        font-size: 14px;
        line-height: 1.1;
    }
    ul {
        list-style-type: disc;
        .padding-left(40px);
    }
    ol {
        list-style-type: decimal;
        .padding-left(40px);
    }
    .row {
        box-sizing: border-box;
    }
    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        box-sizing: border-box;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    input[type=search] {
        height: 40px;
        line-height: 40px;
    }
    input[type="search"] {
        box-sizing: border-box;
    }
    .sfImageWrapper {
        display: inline-block;
        margin: 0 auto;
    }
    h4.product-brand {
        font-family: @font-family-light !important;
        font-size: 30px !important;
        line-height: 19px;
        margin-bottom: 16px;
    }
    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        margin: 0;
        padding: 0 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) 0 -9px 10px -9px #bbbdbf;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) 0 -9px 10px -9px #bbbdbf;
        -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) 0 -9px 10px -9px #bbbdbf;
        -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) 0 -9px 10px -9px #bbbdbf;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) 0 -9px 10px -9px #bbbdbf;
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) -9px 10px -9px #bbbdbf;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) -9px 10px -9px #bbbdbf;
        -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) -9px 10px -9px #bbbdbf;
        -ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) -9px 10px -9px #bbbdbf;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) -9px 10px -9px #bbbdbf;
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
        -moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
        -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
        transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
    }
    .btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        //line-height: 1.42857143;
        border-radius: 4px;
        -o-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        //height: auto;
        font-family: inherit;
        margin: 0;
        min-width: 0;
        box-shadow: none !important;
        &:active {
            outline: 0;
            background-image: none;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) 0 -9px 10px -9px #bbbdbf;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) 0 -9px 10px -9px #bbbdbf;
            -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) 0 -9px 10px -9px #bbbdbf;
            -ms-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) 0 -9px 10px -9px #bbbdbf;
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) 0 -9px 10px -9px #bbbdbf;
            -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) -9px 10px -9px #bbbdbf;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) -9px 10px -9px #bbbdbf;
            -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) -9px 10px -9px #bbbdbf;
            -ms-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) -9px 10px -9px #bbbdbf;
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) -9px 10px -9px #bbbdbf;
        }
    }
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) 0px -9px 10px -9px #BBBDBF;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) 0px -9px 10px -9px #BBBDBF;
        -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) 0px -9px 10px -9px #BBBDBF;
        -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) 0px -9px 10px -9px #BBBDBF;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) 0px -9px 10px -9px #BBBDBF;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) -9px 10px -9px #BBBDBF;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) -9px 10px -9px #BBBDBF;
        -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) -9px 10px -9px #BBBDBF;
        -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) -9px 10px -9px #BBBDBF;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) -9px 10px -9px #BBBDBF;
    }
    .panel-default {
        border-color: #ddd;
    }
    .pagination {
        height: auto;
        position: static;
        width: auto;
        display: inline-block;
        margin: 20px 0;
        border-radius: 4px;
        list-style: none;

        li {            
            width: auto;
            height: auto;
            padding: 0;
            list-style: none;
            display: inline;

            [dir="ltr"] & {
                float: left;
            }
            [dir="rtl"] & {
                float: right;
            }

            a {
                background: none;
                display: inline;
                font-size: inherit;
                text-indent: 0px;
                width: auto;
                height: auto;
            }
        }
    }
}