﻿@import "../../variables.less";
.map-container {
    @info-widow-color: rgba(68, 68, 68, 0.9);
    @map-height: 555px;
    max-height: 0;
    overflow: hidden;
    position: relative;
    margin-top: 0;
    &.active {
        max-height: @map-height;
        margin-top: 25px;
    }
    &.map-sticky-active {
        .gm-bundled-control {
            transform: translateY(-85px);
        }
    }
    transition: max-height 0.3s ease, margin 0.3s ease;
    #map {
        height: @map-height;
    }
    //hack to change the infoWindow background color without the flickering as white then black for a second
    [style*="background-color: rgb(255, 255, 255)"]:nth-child(4) {
        background: @info-widow-color !important;
    }
    //hack to hide the original arrow of the infoWindow without flickering then disappearing for a second
    [style*="border-top-width"]:nth-child(3) {
        display: none;
    }
    .info-window {
        @media only screen and (min-width: @screen-md-min) {
            max-height: 36px;
        }
        &>div:first-child>div:last-child {
            border-radius: 8px !important;
        }
        .gm-style-iw {
            text-align: center;
        }
        .info-window-name {
            width: 215px;
            color: white;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -14px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 15px;
            border-color: @info-widow-color transparent transparent transparent;
        }
        div&,
        &>div:first-child>div:last-child,
        .gm-style-iw,
        .info-window-name {
            transition: none;
        }
        &>div:first-child>div:first-child,
        &>div:first-child>div:nth-child(2),
        .gm-style-iw+div {
            display: none;
        }
    }
    .map-close {
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        svg {
            width: 45px;
            height: 45px;
            fill: #09c;
        }
        &+.map-search-wrapper {
            top: 80px;
        }
    }
    .map-search-wrapper {
        position: absolute;
        top: 25px;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        max-width: 90%;
        width: 362px;
    }
    .map-search-input {
        display: inline-block;
        border-radius: 35px;
        border: 2px solid #09c;
        [dir=ltr] & {
            padding-right: 40px;
        }
        [dir=rtl] & {
            padding-left: 40px;
        }
    }
    .map-search-icon {
        position: absolute;
        height: 25px;
        width: 25px;
        top: 50%;
        transform: translateY(-50%);
        color: #09c;
        font-size: 16px;
        line-height: 22px;
        [dir=ltr] & {
            right: 15px;
        }
        [dir=rtl] & {
            left: 15px;
        }
    }
    .gm-bundled-control {
        transform: translateY(0);
        transition: transform 0.3s ease;
    }
    .map-sticky {
        transition: transform 0.3s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f9f9f9;
        transform: translateY(100%);
        text-align: center;
        border: 1px solid #CCCCCC;
        &.active {
            transform: translateY(0);
        }
    }
    .map-sticky .map-sticky-btn {
        display: inline-block !important;
        float: none !important;
        margin-top: 30px;
        &.btn {
            margin-bottom: 30px;
        }
        padding: 0 30px !important;
        border: 0 none;
        background: #cc3399;
        color: #fff !important;
        &:hover {
            border: 0 none;
            background: #da59b4;
        }
        &.btn {
            border-radius: 40px !important;
            font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
        }
    }
}

.pac-container {
    direction: ltr !important;
    &.rtl {
        direction: rtl !important;
        .pac-item {
            text-align: right;
        }
    }
}