@import (reference) "../framework/framework.structure.less";
@import (reference) "../variables.less";
@import (reference) "../mixins.less";
//Navbar
.miscellaneous-navigation-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.miscellaneous-navigation-container .navbar-default {
    margin-bottom: 0px;
    min-height: 0;
}

.miscellaneous-navigation-container .navbar-default .navbar-nav {}

.miscellaneous-navigation-container .navbar-default .navbar-nav>li {}

.miscellaneous-navigation-container .navbar-default .navbar-nav>li>a {
    &:hover,
    &:active,
    &:focus {
        background-color: #0089b7 !important;
        color: #fff !important;
    }
}

.mainNav {
    .accessibilityNav {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        @media (max-width: 999px) {
            display: block !important;
        }

        .mainNavListW {
            padding: 0;
        }

        .mainNavList {
            margin: 0;
        }
    }
    .accessibility-icon {
        background-image: url('../../images/accessibility/accessibility-icon-light.png');
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        .margin-right(8px);
    }
}

.colorInversion {
    -webkit-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
}

//Accessibility toggle
.accessibility-toggle-container {
    display: inline-block;
    position: absolute;
    top: 6px;
    .posright(256px);
    .padding-right(5px);
    &:after {
        content: ' ';
        display: inline-block;
        border-right: 1px solid #ededed;
        height: 20px;
        vertical-align: middle;
    }
    .accessibility-toggle {
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 12px;
        text-decoration: none !important;
        font-family: 'DuCoHeadlineRegular';
        //.borderright(#eee);
        //.margin-right(12px);
        @media only screen and (max-width: 1010px) {
            padding-right: 0;
            padding-left: 0;
            border-right: none;
        }
        .accessibility-icon {
            background-image: url('../../images/accessibility/accessibility-icon.png');
            background-position: center center;
            background-repeat: no-repeat;
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: middle;
            @media only screen and (max-width: 1050px) {
                display: none;
            }
        }
        &>.text {
            display: none;
        }
        &.open {
            position: relative;
            &:before {
                content: " ";
                border: solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-top-color: #FFF;
                border-width: 14px;
                top: 34px;
                z-index: 2;
                .posleft(23%);
            }
            &::after {
                content: " ";
                border: solid transparent;
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-top-color: #CCCCCC;
                border-width: 14px;
                top: 35px;
                z-index: 1;
                .posleft(23%);
            }
        }
    }
    .accessibility-toggle .accessibilitybox {
        font-size: 1em;
    }
}

//Accessibility pane
.accessibility-pane {
    position: relative;
    top: 41px;
    background: white;
    display: none;
    &.open {
        display: block;
        @media only screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            .margin-right(0px);
            .margin-left(160px);
        }
    }
    @media only screen and (max-width: @screen-md-max) {
        position: absolute;
        left: 0;
        right: 0;
        height: 100vh;
        padding-bottom: 40px;
        overflow-y: auto;
    }
    h3 {
        margin-bottom: 18px;
        font-family: 'DuCoHeadlineRegular';
        font-size: 18px;
        line-height: 30px;
        margin: 0 0 5px 0;
    }
    p {
        font-family: 'DuCoHeadlineLightRegular';
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
    }
    .pane-header {
        text-align: center;
        border-bottom: 1px solid #ccc;
        height: 72px;
        position: relative;
    }
    .pane-header h2 {
        font-size: 24px;
        font-family: 'DuCoHeadlineRegular';
        line-height: 67px;
        margin-bottom: 5px;
        position: absolute;
        width: 100%;
    }
    .pane-header .close-button {
        position: absolute;
        font-size: 20px;
        line-height: 40px;
        display: inline-block;
        width: 40px;
        height: 40px;
        top: 14px;
        text-decoration: none !important;
        font-family: 'DuCoHeadlineLightRegular';
        .posright(20px);
    }
    .pane-content {
        font-size: 1em;
        display: flex;
        flex-flow: row nowrap;
        @media only screen and (max-width: @screen-md-max) {
            flex-flow: column nowrap;
        }
    }
    .pane-content .contrast-switch-container,
    .pane-content .read-speaker-container,
    .pane-content .accessibility-zoom-container {
        border: 0px solid #ccc;
        border-bottom-width: 1px;
        width: 33%;
        background: white;
        padding: 20px 29px 20px 29px;
        text-align: center;
        box-sizing: border-box;
        .borderright(#ccc);
        flex: 0 1 auto;
        .msie &,
        .gecko11 & {
            width: 100%;
        }
        @media only screen and (max-width: @screen-md-max) {
            width: 100%;
        }
    }
    .pane-content .contrast-switch-container {}
    .pane-content .contrast-switch-container .contrast-switch-description {
        .msie &,
        .gecko11 & {
            display: none;
        }
    }
    .pane-content .contrast-switch-container .contrast-switch-unsupported-message {
        display: none;
        .msie &,
        .gecko11 & {
            display: block;
        }
    }
    .pane-content .contrast-switch-container .contrast-switch-toggle {
        font-size: 32px;
        line-height: 1em;
        display: inline-block;
        margin-top: -4px;
        .msie &,
        .gecko11 & {
            display: none;
        }
    }
    .pane-content .contrast-switch-container .contrast-switch-toggle .text {
        display: none;
    }
    .pane-content .contrast-switch-container .contrast-switch-toggle .contrast-switch-toggle-icon {
        display: inline-block;
        background-image: url(../../images/accessibility/contrast-icon.svg);
        width: 40px;
        height: 40px;
        background-size: 36px 28px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .pane-content .read-speaker-container {
        .clearborderright();
    }
    .pane-content .read-speaker-container .read-speaker-controls {
        font-size: 1em;
    }
    .pane-content .read-speaker-container .read-speaker-controls .read-speaker-button {
        display: inline-block;
    }
    .pane-content .accessibility-zoom-container {
        .accessibility-zoom-description,
        .accessibility-zoom-buttons {
            display: block;
            .chrome &,
            .safari & {
                display: block;
            }
        }
        .accessibility-zoom-unsupported-message {
            display: none;
            .chrome &,
            .safari & {
                display: none;
            }
        }
        .accessibility-zoom-decrease,
        .accessibility-zoom-increase {
            display: inline-block;
            border: 1px solid #09c;
            border-radius: 7px;
            padding: 2px 0;
            min-width: 63px;
            min-height: 34px;
            margin: 0 5px;
            position: relative;
            font-family: 'DuCoHeadlineLightRegular';
            &.disabled {
                opacity: 0.2;
            }
            .text {
                display: none;
            }
            img {
                display: none;
                transform: scale(0.6, 0.6);
                margin: 0 auto;
            }
            &:before {
                content: 'A';
                display: inline-block;
                font-size: 20px;
                line-height: 34px;
            }
        }
        .accessibility-zoom-decrease {
            img {
                margin: 7px auto 3px auto;
            }
            &:before {
                transform: scale(0.6, 0.6);
            }
        }
        .accessibility-zoom-increase {}
    }
}