﻿ .block-header,
 .block-header {
    .title {
        display: inline !important;

        & > .sf_colsIn {
            display: inline !important;

            & > .sfContentBlock {
                display: inline !important;
                float: none !important;
            }
        }
    }
}
 .block-content.container,
 .block-content.container {
    padding: 50px 70px;

    ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            h3 {
                color: #373f42;
                font-size: 14px;
                display: inline;
                font-family: "DuCoHeadlineRegular";
                font-weight: normal;
                line-height: 1.2em;
                margin-bottom: 16px;
            }

            p {
                margin: 0;
            }
        }
    }
}