.business-employee-offers {
    .contentIn {
        padding-top: 65px;
        #MainWrapper {
            h1 {
                font-size: 30px;
                line-height: 1em;
                font-family: "DuCoHeadlineBold", Arial, sans-serif;
                margin-top: 0;
                margin-bottom: 16px;
            }
            h3 {
                font-family: "DuCoHeadlineRegular", Arial, sans-serif;
                margin-bottom: 16px;
            }
            h4 {
                font-size: 17px;
                line-height: 26px;
                font-family: "DuCoHeadlineRegular", Arial, sans-serif;
            }
            ul.list-items {
                list-style-type: disc;
                margin-top: 0;
                margin-bottom: 10px;
                padding-left: 40px;
                padding-right: 0;
                [dir="rtl"] & {
                    padding-right: 40px;
                    padding-left: 0;
                }
                li {
                    font-size: 14px;
                    line-height: 1.5;
                    font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
                }
            }
            strong {
                font-size: 14px;
                line-height: 1.5;
                font-family: "DuCoHeadlineBold", Arial, sans-serif;
            }
            .sfimageWrp {
                margin-bottom: 30px;
            }
            .not-visible {
                display: none;
            }
            .table {
                &-wrapper {
                    overflow: auto;
                }
                &.devices {
                    td {
                        min-width: 110px;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
            table {
                &>tbody>tr:nth-child(even)>td {
                    background-color: #fcfcfc;
                }
                td {
                    padding: 10px;
                    border: 1px solid #ddd;
                    p {
                        margin-bottom: 16px;
                    }
                    img {
                        max-width: 100%;
                        width: auto;
                        height: auto;
                    }
                }
                dd {
                    &.active {
                        display: block;
                    }
                }
            }
            .table-filters .btn-group {
                @media (max-width: 767px) {
                    display: block !important;
                }
            }
            .modEditorial {
                overflow: auto;
                margin-bottom: 30px;
                .items {
                    .item {
                        @media only screen and (min-width: 991px) {
                            width: 200px;
                        }
                        .pic {
                            display: none;
                            height: 50px;
                        }
                        h4.title {
                            font-size: 24px;
                            small {
                                font-size: 14px;
                                font-family: 'DuCoHeadlineLightRegular';
                                color: #323434;
                            }
                        }
                        .detail {
                            .dl {
                                li {
                                    height: auto !important
                                }
                            }
                        }
                    }
                }
            }
            .alert-info {
                color: #737373;
                background-color: #F4F5F6;
                border-color: #E6E7E8;
                opacity: 1;
                transform: none;
                position: relative;
                display: block;
                max-height: 100%;
                font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
                font-size: 14px;
                line-height: 1.5;
            }
            .ucTabAccordian {
                h4 {
                    font-size: 14px;
                    font-family: "DuCoHeadlineBold", Arial, sans-serif;
                }
                dt {
                    box-shadow: 0 1px 2px 232 232 232 100;
                    padding: 0 18px 1px 18px;
                    margin: 15px 0 0 !important;
                    list-style: none;
                    border: 1px solid #dedede;
                    background-color: #fbfbfb;
                    cursor: pointer;
                    a {
                        font-weight: normal;
                        margin: 10px 0;
                        padding-right: 25px;
                        font-size: 13px;
                        color: black;
                        font-family: "DuCoHeadlineRegular", Arial, sans-serif;
                        background-image: url("../../images/accordian-control.png");
                        background-position: 100% 4px;
                        background-repeat: no-repeat;
                        display: block;
                    }
                    &.active {
                        border-bottom: none;
                        a {
                            background-image: url("../../images/accordian-control.png");
                            background-position: 100% -78px;
                        }
                    }
                }
                dd {
                    border: 1px solid #dedede;
                    border-top: none;
                    box-shadow: 0 1px 2px 232 232 232 100;
                    padding: 15px 20px 0 20px;
                    list-style: none;
                    background-color: #fff;
                    display: none;
                    .tab-content {
                        padding: 12px 0 15px 0;
                        border-top: 1px solid #ddd;
                    }
                    ul {
                        list-style-type: disc;
                        margin-top: 0;
                        margin-bottom: 10px;
                        padding-left: 40px;
                        padding-right: 0;
                        [dir="rtl"] & {
                            padding-right: 40px;
                            padding-left: 0;
                        }
                        li {
                            font-size: 14px;
                            line-height: 1.5;
                            font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
                            a {
                                font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
                            }
                        }
                    }
                    ol {
                        font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
                        display: block;
                        list-style-type: decimal;
                        padding-left: 30px;
                        padding-right: 0;
                        line-height: 1.5;
                        font-size: 14px;
                        [dir="rtl"] & {
                            padding-right: 40px;
                            padding-left: 0;
                        }
                    }
                    table {
                        margin-bottom: 30px;
                    }
                }
            }
            .filterBtns {
                text-align: center;
                position: relative;
                width: 100%;
                margin-bottom: 20px;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                @media only screen and (max-width: 767px) {
                    margin-bottom: 0;
                    margin-top: 15px;
                }
                a {
                    &.btn {
                        width: auto;
                        float: none !important;
                        display: inline-block !important;
                        &:active {
                            text-decoration: none !important;
                        }
                    }
                }
            }
            .btn {
                &-lg {
                    font-size: 18px;
                    font-family: "DuCoHeadlineBold", Arial, sans-serif;
                    padding: 10px 22px;
                    background-color: #00b1d3;
                    border-color: #00b1d3;
                    display: inline-block;
                    margin-bottom: 0;
                    font-weight: normal;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                    background-image: none;
                    border: 1px solid transparent;
                    white-space: nowrap;
                    width: 210px;
                    border-radius: 6px !important;
                    height: 50px;
                    [dir="rtl"] & {
                        width: 240px;
                    }
                    &:hover {
                        background-color: #007c9a !important;
                        ;
                        border-color: #007c9a !important;
                        ;
                    }
                }
                &-default-blue {
                    border-radius: 5px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: block;
                    float: left;
                    line-height: 30px;
                    height: 32px;
                    min-width: 75px;
                    font-size: 1em;
                    text-align: center;
                    width: 100%;
                    font-family: "DuCoHeadlineRegular", Arial, sans-serif;
                    border: 1px solid #dcdee1;
                    background: #fff;
                    background: linear-gradient(to bottom, #fff 0, #f0f0f0 100%);
                    margin-top: 10px;
                    color: #09c;
                    padding: 0 10px;
                    &:hover {
                        color: #0079b8 !important;
                        text-decoration: none !important;
                    }
                    &.is-checked {
                        color: #fff !important;
                        background: #006db9;
                        background: linear-gradient(to bottom, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%);
                    }
                }
            }
            .btn-group {
                &>.btn:first-child {
                    border-bottom-right-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                    border-bottom-left-radius: 5px !important;
                    border-top-left-radius: 5px !important;
                    [dir="rtl"] & {
                        border-bottom-left-radius: 0 !important;
                        border-top-left-radius: 0 !important;
                        border-bottom-right-radius: 5px !important;
                        border-top-right-radius: 5px !important;
                    }
                }
                &>.btn:last-child:not(:first-child),
                &>.dropdown-toggle:not(:first-child),
                .dropdown a.btn {
                    border-bottom-left-radius: 0 !important;
                    border-top-left-radius: 0 !important;
                    border-bottom-right-radius: 5px !important;
                    border-top-right-radius: 5px !important;
                    [dir="rtl"] & {
                        border-bottom-right-radius: 0 !important;
                        border-top-right-radius: 0 !important;
                        border-bottom-left-radius: 5px !important;
                        border-top-left-radius: 5px !important;
                    }
                }
                &>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
                    border-radius: 0 !important;
                }
                .btn + .btn,
                .btn + .btn-group,
                .btn-group + .btn,
                .btn-group + .btn-group,
                .dropdown .btn {
                    margin-left: -5px !important;
                }
                &>.btn,
                &-vertical > .btn {
                    float: left;
                    position: relative;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .mt20 {
        margin-top: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    body.standard.mobile.iphone.touch div.wrap-table {
        max-height: 300px;
    }
}
