
@import "variable.less";
//@import "../../LESS/prototype/mixin.less";

@chosen-background: @input-bg;
@chosen-border: @input-border;
@chosen-border-radius: 4px;
@chosen-multi-border-radius: @input-border-radius;
@chosen-box-shadow: ~"inset 0 1px 1px rgba(0, 0, 0, .075)";
@chosen-drop-border: @gray-light;
@chosen-drop-box-shadow: ~"0 8px 8px rgba(0, 0, 0, .25)";
@chosen-drop-zindex: 1060;
@chosen-focus-border: @input-border-focus;
@chosen-focus-box-shadow: ~"0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(82, 168, 236, .6)";
@chosen-focus-transition: ~"border linear .2s, box-shadow linear .2s";
@chosen-height: @input-height-base - 3px;
@chosen-multi-height: @input-height-base + 6px;
@chosen-sprite-path: "../../images/chosen-sprite.png";
@grayf8f8f8: #f8f8f8;
@blue0099cc: #0099cc;

.chosen-select {
    width: 100%;
}

.chosen-select-deselect {
    width: 100%;
}

.chosen-container {
    display: block;
    font-size: @font-size-base;
    position: relative;
    vertical-align: middle;
    width: 100% !important;

    .chosen-drop {
        background: @chosen-background;
        border: 1px solid @chosen-drop-border;
        border-top-color: lighten(@chosen-drop-border, 25%);
        .border-radius(@chosen-border-radius);
        margin-top: -1px;
        position: absolute;
        top: 100%;
        left: -9000px;
        z-index: @chosen-drop-zindex;
    }

    &.chosen-with-drop .chosen-drop {
        left: 0 !important;
        right: 0 !important;
    }

    .chosen-results {
        margin: 0 4px 4px 0;
        max-height: 240px;
        padding: 0 0 0 4px;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        li {
            display: none;
            line-height: @line-height-base; // 15px;
            list-style: none;
            margin: 0;
            padding: 5px 6px;

            em {
                background: #feffde;
                font-style: normal;
            }

            &.group-result {
                display: list-item;
                cursor: default;
                font-weight: bold;
            }

            &.group-option {
                padding-left: 15px;
            }

            &.active-result {
                cursor: pointer;
                display: list-item;
            }

            &.highlighted {
                background-color: @blue0099cc;
                color: white;

                em {
                    background: transparent;
                }
            }

            &.disabled-result {
                display: list-item;
                color: @gray-light;
            }
        }

        .no-results {
            background: @gray-lighter;
            display: list-item;
        }
    }

    .chosen-results-scroll {
        background: white;
        margin: 0 4px;
        position: absolute;
        text-align: center;
        width: 321px;
        z-index: 1;

        span {
            display: inline-block;
            height: @line-height-base; // 17px;
            text-indent: -5000px;
            width: 9px;
        }
    }

    .chosen-results-scroll-down {
        bottom: 0;
    }
}

.chosen-container-single {
    .chosen-single {
        background-color: @grayf8f8f8;
        .innershadow(0, 3px, 10px,0.05);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        border: 1px solid @chosen-border;
        color: #555 !important;
        display: block;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        white-space: nowrap;
        .border-radius(@chosen-border-radius);
        padding: 10px 10px;
        height: 40px;
        text-transform: none !important;

        &:hover, &:focus {
            text-transform: none !important;

            span {
                text-transform: none !important;
            }
        }

        span {
            display: block;
            margin-right: 26px;
            text-transform: none !important;
            overflow: hidden;
            line-height: @line-height-base; 
        }

        abbr {
            display: block;
            font-size: 1px;
            height: 10px;
            position: absolute;
            right: 26px;
            top: (@chosen-height - 10px) / 2;
            width: 12px;

            &:hover {
                background-position: right -11px;
            }
        }

        &.chosen-disabled .chosen-single abbr:hover {
            background-position: right 2px;
        }

        div {
            display: block;
            height: 100%;
            position: absolute;
            top: 9px;
            right: 0;
            width: 18px;

            b {
                display: inline-block;
                font-family: du-custom-icons !important;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                height: 100%;
                width: 100%;

                &:before {
                    content: "\e804" !important;
                }
            }
        }


        .search-choice-close {
            display: inline-block;
            font-family: du-custom-icons;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            top: 8px;
            cursor: pointer;
            font-size: 14px;

            &:before {
                content: "\e800" !important;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    .chosen-default {
        color: @gray-light;
    }

    .chosen-search {
        margin: 0;
        padding: 3px 4px;
        position: relative;
        white-space: nowrap;
        z-index: @zindex-dropdown;

        input {
            background: @chosen-background;
            border: 1px solid @chosen-border;
            .border-radius(@chosen-border-radius);
            margin: 1px 0;
            padding: 4px 20px 4px 4px;
            width: 100%;
        }
    }

    .chosen-drop {
        margin-top: -1px;
        .border-radius(@chosen-border-radius);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
    }
}

.chosen-container-single-nosearch {
    .chosen-search {
        input {
            position: absolute;
            left: -9000px;
        }
    }
}

.chosen-container-multi {
    .chosen-choices {
        background-color: @chosen-background;
        border: 1px solid @chosen-border;
        .border-radius(@chosen-multi-border-radius);
        cursor: text;
        height: auto !important;
        height: 1%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;

        li {
            float: left;
            list-style: none;
        }

        .search-field {
            margin: 0;
            padding: 0;
            white-space: nowrap;

            input {
                background: transparent !important;
                border: 0 !important;
                height: @chosen-multi-height - 8px;
                margin: 0;
                padding: 4px;
                outline: 0;
            }

            .default {
                color: #999;
            }
        }

        .search-choice {
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
            background-color: @gray-lighter;
            border: 1px solid @chosen-border;
            .border-radius(@chosen-border-radius);
            cursor: default;
            line-height: 16px;
            margin: 4px 0 2px 5px;
            padding: 3px 20px 3px 5px;
            position: relative;

            .search-choice-close {
                display: inline-block;
                font-family: du-custom-icons;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: absolute;
                top: 4px;
                right: 4px;
                width: 12px;
                cursor: pointer;

                &:before {
                    content: "\e800" !important;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .search-choice-focus {
            background: #d4d4d4;

            .search-choice-close {
                background-position: right -11px;
            }
        }
    }

    .chosen-results {
        margin: 0 0 0 0;
        padding: 0;
    }

    .chosen-drop {
        .result-selected {
            display: none;
        }
    }
}

.chosen-container-active {
    .chosen-single {
        border: 1px solid @chosen-focus-border;
        .transition(@chosen-focus-transition);
    }

    &.chosen-with-drop .chosen-single {
        background-color: @gray-lighter;
        border: 1px solid @chosen-focus-border;
        .transition(@chosen-focus-transition);

        div {
            background: transparent;
            border-left: none;
            width: 18px;

            b {
                display: inline-block;
                font-family: du-custom-icons;
                font-style: normal;
                font-weight: normal;
                line-height: .5em;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                height: 100%;
                width: 100%;

                &:before {
                    content: "\e804" !important;
                }
            }
        }
    }

    .chosen-choices {
        border: 1px solid @chosen-focus-border;
        .border-radius(0);
        .transition(@chosen-focus-transition);

        .search-field input {
            color: #111 !important;
        }
    }
}

.chosen-disabled {
    cursor: default;
    opacity: 0.5 !important;

    .chosen-single {
        cursor: default;
    }

    .chosen-choices .search-choice .search-choice-close {
        cursor: default;
    }
}


[dir="rtl"] {
    .chosen-container {
        .chosen-drop {
            right: -9000px;
            left: auto;
        }

        .chosen-results {
            margin: 0 0 4px 4px;
            padding: 0 4px 0 0;

            li {
                &.group-option {
                    padding-right: 15px;
                }
            }
        }
    }

    .chosen-container-single {
        .chosen-single {
            span {
                margin-left: 26px;
                margin-right: auto;
            }

            abbr {
                left: 26px;
                right: auto;

                &:hover {
                    background-position: left -11px;
                }
            }

            &.chosen-disabled .chosen-single abbr:hover {
                background-position: left 2px;
            }

            div {
                right: auto;
                left: 0;
            }
        }
    }

    .chosen-container-single-nosearch {
        .chosen-search {
            input {
                position: absolute;
                right: -9000px;
                left: auto;
            }
        }
    }

    .chosen-container-multi {
        .chosen-choices {

            li {
                float: right;
            }

            .search-choice {
                .search-choice-close {
                    left: 4px;
                    right: auto;
                }
            }
        }
    }
}
