.contact-us-card {
    border: 1px solid #CCC;
    border-radius: 30px !important;
    padding: 15px !important;
    margin-bottom: 35px;
    @media only screen and (min-width: 991px) {
        img {
            width: 100%;
        }
    }
    &.contact-us-banner {
        margin-bottom: 30px;
        height: auto;
        margin-left: 0;
        margin-right: 0;
        img {
            margin-top: 22px;
            [dir=ltr] {
                margin-left: 12px;
            }
            [dir=rtl] {
                margin-right: 12px;
            }
        }
    }
    h3 {
        font-family: "DuCoHeadlineRegular", Arial, sans-serif;
    }
    .description {
        display: block;
        margin-bottom: 12px;
    }
    .clearfix();
    @media only screen and (max-width: @screen-sm-max) {
        text-align: center;
    }
    .contact-us-quick-links {
        margin-bottom: 16px;
    }
    .go-to-quick-link-button {
        display: inline-block;
        margin-left: 4px;
        vertical-align: middle;
        font-size: 24px;
    }
    .go-to-quick-link-button .text {
        display: none;
    }
}

@media (max-width: 991px) {
    .sf_colsOut.col-xs-12.col-sm-12.col-md-4.col-lg-4 {
        padding: 0;
    }
    .sf_cols.row.contact-us-card.contact-us-banner .sf_colsOut.col-xs-12 {
        width: 100%;
    }
    .sf_cols.row.contact-us-card.contact-us-banner .sf_colsOut.col-xs-12 .sfContentBlock {
        margin-bottom: 0 !important;
    }
    .sf_cols.row.contact-us-card.contact-us-banner img {
        height: 133px;
    }
    .contact-us-card:not(.contact-us-banner) {
        margin-left: 15px;
        margin-right: 15px;
        img {
            margin: 0 auto;
        }
    }
}

@media (min-width: 992px) {
    .sf_cols.row.contact-us-card.contact-us-banner .sf_colsOut.sf_2cols_2_67.col-xs-12.col-sm-9.col-md-9.col-lg-9 {
        [dir=ltr] {
            padding-left: 30px;
        }
        [dir=rtl] {
            padding-right: 30px;
        }
    }
    .sf_cols.row.contact-us-card.contact-us-banner .sf_colsOut.sf_2cols_1_33 {
        max-width: 130px;
    }
    .sf_cols.row.contact-us-card.contact-us-banner .sfContentBlock {
        margin-bottom: 0 !important;
    }
}