.du-accordion {
    background: #efefef;
    //padding-bottom: 40px;
    .block {
        background: white;

        &:last-child {
            .block-header {
                border-bottom: 1px solid #d0d0d0;
            }

            &.open .block-header {
                border-bottom: none;
            }
        }

        .block-header {
            color: #00a7ce;
            text-align: center;
            //height: 50px;
            line-height: 30px;
            border-top: 1px solid #d0d0d0;
            padding: 12px;
            cursor: pointer;
            position: relative;
            font-size: 19px;
            font-family: 'DuCoHeadlineLightRegular';

            .closebtn {
                float: right;
                transition-duration: 0.5s;
                transform: rotate(0deg);
                position: absolute;
                top: 30px;
                right: 24px;
                font-size: 45px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 100;
            }

            img {
                width: 35px;
                margin-right: 10px;
                margin-top: -5px;

                &.big {
                    display: none;
                }

                &.small {
                    //display: inline;
                    display: block;
                    margin: 0 auto;
                }
            }

            .block-header-description {
                display: none;
                color: #373F42;
                max-width: 650px;
                margin: 0 auto;

                .sfPageWrapper & {
                    display: block;
                }

                .sfContentBlock {
                    float: none;
                    margin: 0;
                    font-size: 12px;
                    line-height: 1.8em;
                    margin: 16px 0 0 0;

                    p {
                        font-size: 12px;
                        line-height: 1.8em;
                        margin: 16px 0 0 0;
                    }
                }
            }
        }

        .block-content {
            display: none;

            .sfPageWrapper & {
                display: block;
            }
        }

        .block-content.faq {
            padding: 50px 70px;
        }

        .block-content.sim {
            padding: 50px 70px;
        }

        .block-content.recharge {
            padding: 50px 70px;
        }

        .block-content .fixedWidthContainer {
            max-width: 1024px;
            min-width: 0;
            margin: 0 auto;
        }

        &.open:last-child {
            .block-content {
                border-bottom: 1px solid #d0d0d0;
            }
        }

        &.open {
            .block-header {
                //height: 100px;
                //border-bottom: 1px solid #d0d0d0;
                //border-bottom: none;
                font-family: 'DuCoHeadlineRegular';

                img {
                    width: 55px;
                    margin-right: 10px;

                    &.big {
                        display: block;
                        margin: 0 auto;
                    }

                    &.small {
                        display: none;
                    }
                }

                .closebtn {
                    transform: rotate(45deg);
                }

                .block-header-description {
                    display: block;
                }
            }

            .block-content {
                display: block;
                padding-top: 14px;
                padding-bottom: 28px;
                width: auto;
                /*border: 2px solid #ebebeb;
                border-top-width: 0px;*/
            }
        }
    }

    .cardsContainer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #d0d0d0;

        &:before,
        &:after {
            display: none;
        }
    }

    .cardsContainer > .card {
        display: flex;
        flex-direction: column;
    }

    .cardsContainer > .card ol,
    .cardsContainer > .card ul {
        text-align: left;
        width: auto;
        margin: 0 auto;

        li {
            margin-bottom: 8px;
        }
    }

    .card {
        border: 1px solid #d0d0d0;
        border-top-width: 0;
        text-align: center;
        padding: 20px;
        font-size: 12px;
        line-height: 1.8em;

        img {
            width: 68px;
            margin: 0 auto;
        }

        h4 {
            color: #00a7ce;
            font-size: 14px;
            font-family: "DuCoHeadlineBold";
        }

        p, li {
            font-size: 12px;
            line-height: 1.8em;
        }

        [dir="ltr"] & {
            border-left: none;
        }

        [dir="rtl"] & {
            border-right: none;
        }
    }


    @media only screen and (max-width: 992px) {

        .card {
            width: 100%;
            border: none;
            border-bottom: 1px solid #d0d0d0;

            &:last-child {
                border-bottom: none;
            }

            img {
                width: 20%;
            }
        }

        .block .block-content.faq {
            padding: 20px;
        }

        .block .block-content.addons {
            padding: 20px;
        }
    }
}


.ucTabAccordion {
      h4 {
    font-size: 14px;
  }

  dt {
    .box-shadow(0px 1px, 2px, 232, 232, 232, 100);
    padding: 0 18px 1px 18px;
    margin: 15px 0 0 !important;
    list-style: none;
    border: 1px solid #dedede;
 
    background-color: #fbfbfb;

    a {
      font-weight: normal;
      margin: 15px 0;
      padding-right: 25px;
      font-size: 16px;
      color: #00aad3;
     
      background-position: 100% 4px;
      background-repeat: no-repeat;
      display: block;
    }

    &.active {

      border-bottom: none;

      a {
      
        background-position: 100% -78px;
      }
    }
  }

  dd {
    border: 1px solid #dedede;
    border-top: none;
    .box-shadow(0px 1px, 2px, 232, 232, 232, 100);
    padding: 0 18px 0 18px;
    list-style: none;

    background-color: #fbfbfb;

    .tab-content {
      padding: 12px 0 15px 0;
    //  border-top: 1px solid grey;
    }
  }
  .accordion {
    margin-bottom: 15px;
  }

  dt {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 10px;

    a {
      background-image: none;
      padding: 0;
      cursor: pointer;
      line-height: 17px !important;
      font-size: 13px !important;
      color: #323232 !important;
      margin: 10px 0;
    }

      a:hover {
        text-decoration: none !important;
      }

    &.active {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      border-bottom: 1px solid transparent;

      a {
        background-image: none;
      }
    }
  }

  dd {
    border-top: 1px solid #dedede;
    padding: 15px 10px 0 10px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
  }
}