
// @import (reference) "../../LESS/bootstrap/variables.less";
// @import (reference) "../../LESS/bootstrap/mixins.less";
// @import (reference) "../../LESS/bootstrap/buttons.less";
// @import (reference) "../../LESS/bootstrap/scaffolding.less";
// @import (reference) "../../LESS/prototype/mixin.less";

.faqs-simple {
    padding: 0 20px;

    & > ol {
        counter-reset: item;
        padding: 0;

        & > li {
            display: block;
            margin-bottom: 29px;

            &:before {
                content: counter(item) ". ";
                counter-increment: item;
                color: #373F42;
                display: inline-block;
                font-family: "DuCoHeadlineRegular";
                font-size: 14px;
                font-weight: normal;
                margin-right: 0px;
            }

            &:after {
                display: none;
            }

            & > h3 {
                color: #373F42;
                font-size: 14px;
                display: inline;
                font-family: "DuCoHeadlineRegular";
                font-weight: normal;
                line-height: 1.2em;
                margin-bottom: 16px;
            }

            & > div {
                p {
                    margin: 14px 0 0 0;
                }

                a {
                    color: #00a7ce;
                    font-family: 'DuCoHeadlineRegular';
                }
            }

            @import "table.less";
        }
    }

    @media only screen and (max-width: @screen-xs-max) {
        padding: 0;
    }
}