.container-du.mobile-plan-prepaid.container-du-emirati {
    .sticky-top{
        .headerWrapper {
            .header-content {
                width: 50%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                right: auto;
                [dir="rtl"] & {
                    left: auto;
                    right: 0;
                }
                @media only screen and (max-width: 1340px) {
                    width: 80%;
                }
            }
        } 
    }
    .emirati-plan{
        .card-item{
            display: inline-block;
            float: none;
            margin: 40px 0 15px;
            padding: 0 15px;
        }
        .extra.benefit2{
            padding-top: 16px;
            margin-bottom: 15px;
        }
        .you-get{
            position: relative;
            padding-bottom: 47px;
            .benefit1{
                h5{
                    min-height: 45px !important;
                }
            }
        }
        .card-content{
            .you-get{
              .card-cta{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 57px;
                    //left: 3%;
                    @media only screen and (max-width: 767px){
                        position: absolute !important;
                    }
                    .btn {
                        border: none;
                        height: 37px;
                        line-height: 35px;
                        &.buyPlanButton{
                            background: #c39 !important;
                        }
                        &.showPlanDetailsButton{
                            background: #09c !important;
                        }
                    } 
                }
            }
        }
    }

    .planDetailsPopup{
        h2{
            [dir="rtl"] & {
               margin-top: 100px !important;
            }
        }
        .plans{
            &.plan-information{
                .plans-new {
                     margin-bottom: 120px;
                }
            }
        }
    }

   .du-accordion{
        .cardsContainer{
            .card {
                ul {
                    list-style: disc;
                        margin-left: 35px;
                        text-align: left;
                    [dir="rtl"] & {
                        margin-right: 35px;
                        text-align: right;
                        margin-left: auto;
                    }
                    li{
                        ul{
                            list-style: circle;
                        }
                    }
                }
            }
        }
        .how-to-get-a-sim-block {
            display: none;
        }
    }

    #footer{
        padding: 25px 0 5px 0;
        nav{
            margin: 10px 0 0 10px;
        }
        .copy{
            @media (max-width: 767px){
                float: right;
                [dir="rtl"] & {
                    float: left;
                }
            }
        }
    }

    .plans.touristPlan {
        .sticky-top {
            .headerWrapper .header-image {
                background: #000 url(../../images/emirati-plan-banner-en.jpg);
                background-position: right center;
                background-repeat: no-repeat;
                background-size: cover;
                [dir="rtl"] & {
                    background: #000 url(../../images/emirati-plan-banner.jpg);
                    background-position: left center;
                }
            }
        }

        .plan-cards .container {
            & > .row.text-center {
                margin: 0;

                .card-item {
                    display: inline-block;
                    float: none;

                    .freebie {
                        img {
                            width: 50%;
                            max-width: 120px;
                            display: block;
                            margin: 0 auto 0 auto;
                        }
                    }

                    .card-content .you-get > div:nth-of-type(3) {
                        clear: both;
                    }

                    .card-content .you-get > div.benefits {
                        div:last-child h5 {
                            border-bottom: 0;
                        }
                    }

                    .partners {
                        margin: 5px 0 20px 0;

                        img {
                            width: 30%;
                            margin: 0 1%;
                        }
                    }
                }
            }
        }

        .btn {
            padding: 0 5px;
        }
    }

    .plans .plan-cards .card-item .card-content .you-get .card-cta {
        .planinfo-button-text {
            &-short {
                display: none;
            }

            &-long {
                display: inline;
            }
        }

        @media (min-width: 992px) and (max-width: 1050px) {
            .planinfo-button-text {
                &-short {
                    display: inline !important;
                }

                &-long {
                    display: none !important;
                }
            }
        }
    }

    .plans .plan-cards .card-item .card-content .you-get > div.item3 {
        h5 {
            border-bottom: none;
        }

        strong {
            font-size: 28px;
        }
    }

    .plans .plan-cards .card-item .card-content .you-get > div.benefits .extra {
        padding-top: 16px;
        margin-bottom: 15px;

        .freebie {
            display: inline-block;
            /*width: 38%;*/
            vertical-align: middle;
            padding: 0 5px;

            &[href="javascript: void(0);"], &[href="#"] {
                pointer-events: none;
            }

            &:before {
                display: none;
            }

            &.uber-freebie {
                width: 20%;
            }

            img {
                width: 100%;
            }
        }
    }

    .addons .packs-list {
        @media only screen and (max-width: @screen-md-max) {
            text-align: center;
        }
    }

    .touristRechargeSection .packs-list .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .touristRechargeSection .packs-list .row .sf_colsOut {
        margin: auto;
    }

    .touristRechargeSection .sf_2cols_1_50 .sfimageWrp,
    .touristRechargeSection .sf_2cols_2_50 .sfimageWrp {
        text-align: center;
    }

    .touristRechargeSection .sf_2cols_1_50 .sfContentBlock {

        [dir="ltr"] & {
            text-align: right;
        }

        [dir="rtl"] & {
            text-align: left;
        }
    }

    .touristRechargeSection .sf_2cols_2_50 .sfContentBlock {
        [dir="ltr"] & {
            text-align: left;
        }

        [dir="rtl"] & {
            text-align: right;
        }
    }

    @media only screen and (max-width: 991px) {
        #PublicWrapper .plans.touristPlan {
            .sticky-top {
                .headerWrapper .header-image {
                    background-position: 95% center !important;

                    [dir="rtl"] & {
                        background-position: 5% center !important;
                    }
                }
            }
        }
    }
}

