.formWizard {
    position: relative;
    height: auto;
    padding-bottom: 40px;
    .formWizardPage {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        opacity: 0;
        .hide{
            display: none;
        }
        .formsWizardNavigation {
            margin-top: 40px;
            text-align: center;
            .btn,
            .nextButton,
            .formWizardButton,
            .sfFormSubmit.book-btn,
            .previousButton  {
                background: #09c;
                width: 30%;
                line-height: 4em;
                color: #fff !important;
                border: 0;
                height: 54px;
                border-radius: 0 !important;
                box-shadow: none;
                text-decoration: none !important;
                text-transform: capitalize;
                font-family: 'DuCoHeadlineRegular';
            }
        }
    }
}

.formWizard .sf_colsOut {
    width: 100% !important;
}

.formWizard .no_legend {
    display: none;
}

.enableFormWizard.sfFormsEditor {
    display: none;
}

.formWizard.enableFormWizard.sfFormsEditor {
    display: block;
}

.sfFormsEditor .showOnWizard {
    display: none;
}

.formWizard.sfFormsEditor .showOnWizard {
    display: block;
}

.formWizard.sfFormsEditor .hideOnWizard {
    display: none !important;
}

@media(max-width: 767px) {
    .formWizard .formWizardPage .formsWizardNavigation .btn,
    .formWizardButton {
        min-width: 40%;
    }
}

.formWizard .formWizardPage .formsWizardNavigation .btn:hover,
.formWizard .formWizardPage .formsWizardNavigation .btn:focus,
.formWizard .formWizardPage .formsWizardNavigation .btn:active,
.formWizard .formWizardPage .formsWizardNavigation .btn.active {
    background: #21abd9;
}

.formWizard .formWizardPage .formsWizardNavigation .previousButton {
    float: left;
}

.formWizard .formWizardPage .formsWizardNavigation .nextButton,
.formWizard .formWizardPage .formsWizardNavigation .submitButton {
    float: right;
}

[dir="rtl"] .formWizard .formWizardPage .formsWizardNavigation .previousButton {
    float: right;
}

[dir="rtl"] .formWizard .formWizardPage .formsWizardNavigation .nextButton,
[dir="rtl"] .formWizard .formWizardPage .formsWizardNavigation .submitButton {
    float: left;
}

.formWizard[data-wizardpagestate='optional'] .formWizardPage .sfFormSubmit,
.formWizard[data-wizardpagestate='last'] .formWizardPage .sfFormSubmit,
.formWizard[data-totalpages='1'][data-wizardpagestate='first'] .formWizardPage .sfFormSubmit {
    display: none;
}

.formWizard .formWizardPage .formsWizardNavigation .submitButton {
    border: 1px solid #c39;
    background: #e875cb;
    background: linear-gradient(to bottom, #e875cb 0%, #e875cb 2%, #de4fb7 3%, #c39 100%);
    width: 30%;
    line-height: 3em !important;
    color: #fff;
    margin: 20px auto;
    padding: 12px 20px;
    font-size: 14px;
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none;
    font-family: "DuCoHeadlineRegular", Arial, sans-serif;
    font-weight: normal;
    text-decoration: none !important;
    text-transform: capitalize;
    float: right;
    margin: 0;
    padding: 6px;
}

.formWizard .formWizardPage .formsWizardNavigation .submitButton:hover {
    border: 1px solid #906;
    background: #da59b4;
    background: linear-gradient(to bottom, #da59b4 0%, #da59b4 2%, #cb3298 3%, #906 100%);
}

.formWizard .formWizardPage .formsWizardNavigation .submitButton:active,
.formWizard .formWizardPage .formsWizardNavigation .submitButton.pressed {
    border: 1px solid #906;
    background: #906;
    background: linear-gradient(to bottom, #906 0%, #cb3298 97%, #da59b4 98%, #da59b4 100%);
}

.formWizard .formWizardPage .formsWizardNavigation .submitButton:hover,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:focus,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:active,
.formWizard .formWizardPage .formsWizardNavigation .submitButton.active {
    border: 1px solid #c39;
    background: #e875cb;
    background: linear-gradient(to bottom, #e875cb 0%, #e875cb 2%, #de4fb7 3%, #c39 100%);
}

.formWizard .formWizardPage .formsWizardNavigation .submitButton:hover:hover,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:focus:hover,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:active:hover,
.formWizard .formWizardPage .formsWizardNavigation .submitButton.active:hover {
    border: 1px solid #906;
    background: #da59b4;
    background: linear-gradient(to bottom, #da59b4 0%, #da59b4 2%, #cb3298 3%, #906 100%);
}

.formWizard .formWizardPage .formsWizardNavigation .submitButton:hover:active,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:focus:active,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:active:active,
.formWizard .formWizardPage .formsWizardNavigation .submitButton.active:active,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:hover.pressed,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:focus.pressed,
.formWizard .formWizardPage .formsWizardNavigation .submitButton:active.pressed,
.formWizard .formWizardPage .formsWizardNavigation .submitButton.active.pressed {
    border: 1px solid #906;
    background: #906;
    background: linear-gradient(to bottom, #906 0%, #cb3298 97%, #da59b4 98%, #da59b4 100%);
}

@media(max-width: 767px) {
    .formWizard .sfFormSubmit.book-btn .previousButton {
        min-width: 40%;
    }
}

.formWizard .formWizardPage .formsWizardOptionalPagesLinks {
    padding-top: 20px;
    clear: both;
}

.formWizard .formWizardPage .formsWizardOptionalPagesLinks {
    text-align: right;
}

[dir="rtl"] .formWizard .formWizardPage .formsWizardOptionalPagesLinks {
    text-align: left;
}

.formWizard .formWizardPage .formsWizardOptionalPagesLinks .optionalPagesLink {
    text-decoration: none;
    color: #09c;
    font-size: 16px;
    font-family: 'DuCoHeadlineLightRegular';
    font-weight: normal;
    line-height: 2em;
}

.formWizard .formWizardPage .formsWizardOptionalPagesLinks .optionalPagesLink::after {
    content: '>';
    text-decoration: none;
    margin-left: 8px;
}

[dir="rtl"] .formWizard .formWizardPage .formsWizardOptionalPagesLinks .optionalPagesLink::after {
    content: '>';
    margin-left: 0;
    margin-right: 8px;
}

.formWizard[data-totalpages='1'] .progressBar {
    display: none;
}

.formWizard .progressBar {
    opacity: 1;
    margin: 20px 0;
    overflow: hidden;
    counter-reset: step;
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.formWizard .progressBar:before,
.formWizard .progressBar:after {
    content: "";
    display: table;
}

.formWizard .progressBar:after {
    clear: both;
}

.formWizard .progressBar:before,
.formWizard .progressBar:after {
    content: "";
    display: table;
}

.formWizard .progressBar:after {
    clear: both;
}

@media(max-width: 767px) {
    .formWizard .progressBar {
        width: 80%;
    }
}

.formWizard .progressBar li {
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    width: 20%;
    float: left;
    position: relative;
    text-align: center;
}

.formWizard[data-totalPages='1'] .progressBar li {
    width: 100%;
}

.formWizard[data-totalPages='2'] .progressBar li {
    width: 50%;
}

.formWizard[data-totalPages='3'] .progressBar li {
    width: 33.33%;
}

.formWizard[data-totalPages='4'] .progressBar li {
    width: 25%;
}

.formWizard[data-totalPages='5'] .progressBar li {
    width: 20%;
}

.formWizard[data-totalPages='6'] .progressBar li {
    width: 16.66%;
}

.formWizard[data-totalPages='7'] .progressBar li {
    width: 14.2%;
}

.formWizard[data-totalPages='8'] .progressBar li {
    width: 12.5%;
}

.formWizard .progressBar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 27px;
    display: block;
    font-size: 14px;
    color: #ccc;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 15px;
    margin: 0 auto 3px auto;
    border-color: #09c;
    color: #09c;
}

.formWizard .progressBar li.active:before {
    border-color: #09c;
    color: #fff;
    background: #09c;
}

.formWizard .progressBar li.focus:before {
    background: #09c;
    color: #fff;
}

.formWizard .progressBar li:after {
    content: '';
    width: 0;
    height: 3px;
    background: #09c;
    color: #fff;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: -1;
    -moz-transition: width ease .2s;
    -o-transition: width ease .2s;
    -webkit-transition: width ease .2s;
    transition: width ease .2s;
}

.formWizard .progressBar li:first-child:after {
    content: none;
}

[dir="rtl"] .formWizard .progressBar li {
    float: right;
}

[dir="rtl"] .formWizard .progressBar li:after {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 27px;
    display: block;
    font-size: 14px;
    color: #ccc;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 15px;
    margin: 0 auto 3px auto;
}

[dir="rtl"] .formWizard .progressBar li.active:after {
    background: #09c;
    color: #fff;
}

[dir="rtl"] .formWizard .progressBar li.focus:after {
    background: #09c;
    color: #fff;
}

[dir="rtl"] .formWizard .progressBar li:before {
    content: '';
    width: 0;
    height: 3px;
    background: #09c;
    color: #fff;
    position: absolute;
    right: -50%;
    top: 13px;
    z-index: -1;
    -moz-transition: width ease .2s;
    -o-transition: width ease .2s;
    -webkit-transition: width ease .2s;
    transition: width ease .2s;
}

[dir="rtl"] .formWizard .progressBar li:first-child:before {
    content: none;
}

.formWizard .sfFormBox,
.formWizard .sfFormBlock,
.formWizard .sfFormDropdown,
.formWizard .sfFormRadiolist,
.formWizard .sfFormCheckboxlist {
    margin-top: 40px;
    margin-bottom: 0;
}

.formWizard .sfTxtLbl {
    color: #aaa;
    font-weight: normal;
}

.formWizard .sfTxtLbl,
.formWizard .sfFormBox label,
.formWizard .sfFormDropdown label {
    width: auto !important;
    display: block !important;
}

.formWizard .sfFormBox .sfFieldWrp,
.formWizard .sfFormDropdown .sfFieldWrp {
    display: block !important;
    width: auto !important;
}

.formWizard .sfExample {
    color: #aaa;
}

.formWizard .placeholderInstructions .sfExample {
    display: none;
}

.formWizard .sfErrorSummary,
.formWizard .sfError {
    color: #c39;
}

.formWizard input[type='text'],
.formWizard input[type='email'],
.formWizard input[type='number'],
.formWizard input[type='password'],
.formWizard input[type='date'],
.formWizard input[type='datetime'],
.formWizard input[type='datetime-local'],
.formWizard textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 37px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #09c;
    font-size: 20px;
    font-family: 'DuCoHeadlineLightRegular';
    padding: 0 !important;
    border: 0;
    border-bottom: 1px solid #09c;
    outline: 0;
    background: transparent;
    letter-spacing: .125rem;
    box-shadow: none;
    border-radius: 0;
}

.formWizard input[type='text']:-ms-input-placeholder,
.formWizard input[type='email']:-ms-input-placeholder,
.formWizard input[type='number']:-ms-input-placeholder,
.formWizard input[type='password']:-ms-input-placeholder,
.formWizard input[type='date']:-ms-input-placeholder,
.formWizard input[type='datetime']:-ms-input-placeholder,
.formWizard input[type='datetime-local']:-ms-input-placeholder,
.formWizard textarea:-ms-input-placeholder {
    color: #aaa;
}

.formWizard textarea {
    height: 5em;
}

.formWizard select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    margin-bottom: 10px;
    width: 100%;
    height: 37px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #09c;
    font-size: 20px;
    font-family: 'DuCoHeadlineLightRegular';
    padding: 0 !important;
    border: 0;
    border-bottom: 1px solid #09c;
    outline: 0;
    letter-spacing: .125rem;
    background: url('../../images/blue-arrow-down.png') center right no-repeat;
    background-size: 18px;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
}

.formWizard select::-ms-expand {
    display: none;
}

[dir="rtl"] .formWizard .sfFormSubmit input[type='submit'] {
    float: left;
}

[dir="rtl"] .formWizard .sfFormSubmit.book-btn .previousButton {
    float: right;
}

[dir="rtl"] .formWizard select {
    background-position-x: left;
}

.formWizard .sfFormCheckboxlist .sfCheckListBox,
.formWizard .sfFormRadiolist .sfRadioList {
    margin-top: 8px;
    display: inline-block;
}

.formWizard .sfFormCheckboxlist .sfCheckListBox input[type="checkbox"]+label {
    display: inline;
}

.formWizard .sfFormCheckboxlist .sfCheckListBox label,
.formWizard .sfFormRadiolist .sfRadioList label {
    color: #09c;
    font-size: 20px;
    font-family: 'DuCoHeadlineLightRegular';
    font-weight: normal;
    margin: 0 13px 0 8px;
    line-height: 2em;
}

.formWizard .sfFormCheckboxlist .sfCheckListBox label input[type='radio'],
.formWizard .sfFormRadiolist .sfRadioList label input[type='radio'],
.formWizard .sfFormCheckboxlist .sfCheckListBox label input[type='checkbox'],
.formWizard .sfFormRadiolist .sfRadioList label input[type='checkbox'] {
    margin-right: 8px;
}

[dir="rtl"] .formWizard .sfFormCheckboxlist .sfCheckListBox label,
[dir="rtl"] .formWizard .sfFormRadiolist .sfRadioList label {
    margin: 0 8px 0 13px;
}

[dir="rtl"] .formWizard .sfFormCheckboxlist .sfCheckListBox label input[type='radio'],
[dir="rtl"] .formWizard .sfFormRadiolist .sfRadioList label input[type='radio'],
[dir="rtl"] .formWizard .sfFormCheckboxlist .sfCheckListBox label input[type='checkbox'],
[dir="rtl"] .formWizard .sfFormRadiolist .sfRadioList label input[type='checkbox'] {
    margin-right: 0;
    margin-left: 8px;
}


@media only screen and (max-width: 767px) {
    .formWizard .sfFormSubmit input[type='submit'] {
        width: 40%;
        line-height: 3em;
        margin-bottom: 0;
    }
    .formWizard .sfFormCheckboxlist .sfCheckListBox label,
    .formWizard .sfFormRadiolist .sfRadioList label label {
        display: block;
    }
    .formWizard .sfFormCheckboxlist .sfCheckListBox br,
    .formWizard .sfFormRadiolist .sfRadioList label br {
        display: none;
    }
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
    transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
    &:focus{
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6) 0 -9px 10px -9px #bbbdbf;
    }
    &-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder {
        color: #999;
    }
}


.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
}

textarea .form-control {
    height: auto;
}