#coverageMap.coverageMap {
    @media(max-width: @screen-md) {
        .legendWiFi .btn {
            width: 100%!important;
        }
    }
}

.btn-toggle.btn-full {
    @media(max-width: @screen-md) {
        width: 100%!important;
    }
}
