.tabs-content.cont {
    background: @verylightgrey;
    padding: 10px 20px;
    padding-bottom: 30px;
    .rounded-corners2(0,0,5px,5px);
    border: 1px solid @bordergrey;
}


div.contentWrapper .du-tabs ul.tabs.text-below-icons li {
    &:not(:last-of-type) {
        border-right: inherit;
    }
    padding-bottom:20px;
    &.active:after {
        bottom: 0px;
        border-bottom-color: @blu;
        border-top-width: 0;
        .boxshadow(inset 0 -11px 8px -10px rgba(204, 204, 204, .5));
    }
    &.active:before {
        bottom: -30px;
        .posleft(50.1%);
        transform: translateX(-50%);
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-top-color: @pink;
        border-width: 15px;
        bottom: 2px;
        border-bottom-color: rgba(224, 224, 224, 0.43);
        border-top-width: 0;
    }
}

.no-events {
    pointer-events: none
}

.yes-no-cont {
    .yes-no-radio {
        margin-top: 13px;
    }
}

.plans-accordion .navigation .items .item {
    border-top: initial;
    a {
        border-bottom: initial;
    }
}

.gis-loader {
    position: absolute;
    .posleft(23px);
    top: 9px;
    width: 70%;
    height: 20px;
    background: #f8f8f8;
    z-index: 9999;
}
