.modContactus {
    .tabs-content {
        // padding-bottom: initial!important;
        >div {
            // padding-top:10px!important;
            padding-bottom: initial!important;
            min-height: 200px;
        }
        .modTextual.multi-column {
            margin: initial;
            .contents {
                margin: initial;
                min-height: initial;
            }
        }
    }

    .title-icon {
        .icon {
            .margin-right(10px);
            &:before {
                font-size: 32px;
            }
        }
    }
    .col,
    fieldset {
        padding: 20px;
        box-sizing: border-box;
    }
    fieldset {
        .group .selectric-control {
            width: 65%;
            .floatleft();
        }
        textarea.control {
            height: auto;
        }
        .group .help,
        .group .instructions {
            .margin-left(0);
        }
    }
    //for Edge fixing flashing icons bug
    _:-ms-lang(x),
    _:-webkit-full-screen,
    .contentWrapper .du-tabs ul.tabs li a {
        transition: initial!important;
    }
}

.related-container {
    margin: 0;
    .margin-right(40px);
    h1 {
        margin-bottom: 20px;
    }
    .related {
        text-align: center;
        padding: 20px 40px;
        box-sizing: border-box;
        h3,
        p {
            margin: 10px 0;
        }
        button {
            margin: 10px auto;
        }
        .icon {
            display: block;
            width: auto;
            height: auto;
            margin-bottom: 30px;
        }
        .icon:before {
            font-size: 78px;
        }
    }
}

//to fix a bug on iphone
@media screen and (min-width: 480px) {
    .modTextual.multi-column .navigation .item a {
        height: inherit;
    }
}

.contentWrapper .du-tabs ul.tabs li {
    border-right-color: transparent!important;
}
