.benefits-title {
    line-height: 28px;
    margin-top: 20px;
}

.smart-plan {
    h4.title {
        margin-top: 5px;
    }
    .btn.select {
        display: inline-block;
    }
    .title.with-notice {
        padding-top: 18px;
    }
}

.modCompare.tabular.plans-master .txt.with-notice {
    padding-bottom: 0 !important;
}

.popular-slider .popular .first .notice {
    top: 0;
    left: 1px;
    right: 1px;
}
