.vertically-centered() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//for Ipad bug fixing
.override-vertically-centered() {
  position: initial;
  top: initial;
  transform: initial;
}

.back-to-home .btn.active {
  .btn-primary.active;
  transition: initial;
}

.color-alt {
  .floatleft();
  min-width: 34px;
  height: 32px;
  margin-right: 6px;
  border-radius: 10px;
  .box-shadow(0px, 0px, 0px, 1.5px, rgba(224, 224, 224, 1));
  border: 2px solid fade(@white, 100%);
  cursor: pointer;
  transition: all .1s;
  &:last-child {
    .margin-right(15px);
  }
  &.pink {
    background: @pink;
  }
  &.black {
    background: @black;
  }
  &.white {
    background: @white;
  }
  &:hover {
    .box-shadow(0px, 0px, 0px, 1.5px, darken(rgba(224, 224, 224, 1), 10%));
  }
  &.selected {
    border: 2px solid @darkblu;
    .box-shadow(0px, 0px, 0px, 1.5px, @white);
  }
}

.limited {
  padding-top: 15px
}

.btn-large.larger {
  padding: 31px;
  line-height: 3px;
  font-size: 21px;
}

.buy-button {
  margin-bottom: 35px;
  width: 50%;
  @media (max-width: 580px) {
    width: 100%;
    & + & .btn {
      margin-top: -10px;
    }
  }
  @media (min-width: 580px) {
    & + & {
      .padding-left(20px);
    }

    &:first-child {
      .padding-right(20px);
    }
  }
  .floatleft();
  .box-sizing();
  .btn {
    height: 90px;
  }
  .item {
    display: inline-block;
    width: 100%;
    height: 20px;
    .floatleft();
    .FontCoHeadlineLightRegular();
    top: -10px;
    position: relative;
    &.buy {
      width: 50%;
      .textalign();
      .FontCoHeadlineRegular();
      height: 41px;
      .item1 {
        display: inline-block;
        width: 100%;
        float: left;
        .floatleft();
        height: 20px;
      }
    }
    &.price {
      width: 50%;
      .defaulttextalign();
      .FontCoHeadlineRegular();
      font-size: 50px;
      top: -4px;
      .posleft(10px);
    }
    .bold {
      .FontCoHeadlineRegular();
    }
  }
  .btn {
    &[disabled],
    &.disabled {
      border: 0;
      background-image: none;
      /* filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);*/
      filter: alpha(opacity=30);
      -khtml-opacity: .3;
      -moz-opacity: .3;
      opacity: .3;
      cursor: not-allowed;
      box-shadow: none;
      background: #e6e6e6;
      color: #666;
      border: 1px solid #ddd;
      // background: red;
    }
  }
}

.btn.center-block {
  .center-block;
}

.pricing-details-form {
  margin-bottom: 20px;
  label {
    @media (min-width: @screen-md) {
      .textalign();
      width: 19%;
    }
    .margin-right(21px);
  }
}

.accept {
  margin-top: 20px;
  label {
    -webkit-user-select: none;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 25px;
  }
}

.bordered-tabs {
  .contents {
    border: 1px solid @linemedgrey;
    border-top-width: 0;
    padding-top: 40px;
    padding: 40px;
    margin-top: inherit;
  }
}

.big-number {
  font-size: 28px;
}

.popular-slider {
  border-top: inherit;
  li.first {
    margin-top: 19px;
  }
  .container-centered {
    .vertically-centered();
    //for ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      .override-vertically-centered();
    }
  }
  .popular .first {
    .notice {
      position: absolute;
      top: 0;
      .posright(0);
      .posleft(0);
      background: @pink;
      color: @white;
      padding: 5px 0;
    }
  }
}

.modCompare.tabular.plans-master .popular-slider .txt {
  padding-top: 25px !important;
  &.first .notice {
    right: 1px;
    left: 1px;
  }
}

.models {
  @media (max-width: @screen-md) {
    .margin-left(3px);
  }
  margin-bottom: 10px;
  .options-title {
    margin-bottom: 10px;
  }
}

.pricing-form-title.title {
  text-align: center;
  margin-bottom: 29px;
  line-height: 26px;
}

fieldset.pricing-details-form.side .group {
  .selectric-control.selectric-small {
    width: 20%;
    .margin-right(1.8%);
  }
  .two-inputs {
    .first {
      width: 10%;
      @media (max-width: @screen-sm) {
        width: 15%;
      }
      .margin-right(-1%);
      .margin-left(2%);
      .border-right-radius();
    }
    .second {
      width: 31.2%;
      @media (max-width: @screen-sm) {
        width: 61%;
      }
      .border-left-radius();
    }
  }
}

.grid-view .modDials.slideable.center-mob {
  @media (max-width: @screen-sm) {
    .margin-left(10.5%);
  }
  //iphone portrait
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    .margin-left(5.7%);
  }
  .pagination {
    @media ( max-width: @screen-md) {
      width: 224px;
    }
    @media ( max-width: @screen-sm) {
      width: 144px;
    }
    //ipad
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
      width: auto;
      .posleft(150px ~'!important');
    }
  }
}
