/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */

@import "../mixins.less";

.reveal-modal-bg {

    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.7);
    z-index: 99999;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {

    visibility: hidden;
    position: absolute;
    z-index: 999999;
    .rounded-corners(2px);
    background-color: white;
    .box-shadow(0, 0, 10px,0, rgba(0,0,0,.2));
    top: 100px;
    left: 50%;
    margin-left: -300px;
    width: 520px;
    .clearfix();

    h1 {
        .icon-cancel:before {
            color: @red;
            font-size: 34px;
        }
    }
    
    p {
        margin-bottom: 15px !important;

        img {
            width: 100%;
        }

        i {
            font-style: italic;
            font-size: 13px;
        }
    }

    &.small {
        width: 200px;
        margin-left: -100px;
    }

    &.medium {
        width: 400px;
        margin-left: -200px;
    }

    &.large {
        width: 600px;
        margin-left: -300px;
    }

    &.xlarge {
        width: 800px;
        margin-left: -400px;
    }

    @media(max-width:@screen-sm-max) {
        width: 90% !important;
        left: 0 !important;
        margin-left: 0 !important;
        margin: 0 5% !important;
        top: 25px;
        .box-sizing();
    }

    .close {
        font-size: 22px;
        line-height: .5;
        position: absolute;
        top: 8px;
        .posright(11px);
        color: #aaa;
        text-shadow: 0 -1px 1px rbga(0,0,0,.6);
        font-weight: bold;
        cursor: pointer;
    }

    .popin-content {

        .form {
            margin-bottom: 0;

            label {
                .CoHeadlineRegular(1);
            }
            textarea {
                width: 75%;
                height: 100px;

                @media(max-width: @screen-md) {
                    width: 100%;
                }
            }
        }

    }

    .message {

        position: relative;

        .contents {

            max-height: 500px;
            overflow-y: auto;

            padding-bottom: 70px;

            .sticky-bottom {
                position: absolute;
                width: 100%;
                right: 0;
                left: 0;
                bottom: 0;
                padding: 15px 0;

                .btn {
                    margin-bottom: 0;
                }
            }

            .items {
                display: block;
                overflow: hidden;
                height: auto;
                width: 100%;
            }

            .item {
                //display: none;
                width: auto;

                &.selected {
                    display: block;
                }

                h4 {
                    .defaulttextalign();
                    .CoHeadlineRegular(1.3);
                    color: @blu;
                    display: block;
                    margin-bottom: 5px;
                    /*text-transform: uppercase;*/

                    a {
                        color: @blu;

                        &:hover {
                            color: @blu;
                        }
                    }
                }

                h5 {
                    margin-bottom: 15px;
                    padding: 0;
                }

                .paragraph {
                    .CoHeadlineLightRegular(1.3);
                    font-size:1.1em;
                    margin-bottom: 30px;
                }

                blockquote {
                    font-size: 1.8em;
                    line-height: 1.3em;

                    b, strong {
                        .CoHeadlineLightRegular(1.3);
                        color: @blu;
                        font-weight: normal;
                    }
                }

                p, ul, ol, blockquote {
                    margin-bottom: 20px;
                }

                ul {
                    list-style-type: disc;
                    li {
                        list-style-type: disc;
                    }
                }

                ol {
                    list-style-type: decimal;
                    width: auto !important;
                    li {
                        list-style-type: decimal;
                    }
                }

                li {
                    .margin-left(20px);
                }

                .tableWrapper {
                    .clearfix;
                    clear:both;
                    .table-container {
                        height:auto;
                        overflow:auto;
                        width:100%;

                        &.scroll {
                            border-bottom:10px solid @linemedgrey;
                        }
                    }
                }

                table {
                    border-bottom: 2px solid @linemedgrey;
                    clear: both;
                    float: none;
                    margin-bottom: 30px;
                    width: 100%;
                    border-collapse:separate;

                    tr {
                        border-bottom: 1px solid @linemedgrey;
                    }

                    th {
                        .CoHeadlineRegular();
                        .defaulttextalign();
                        background-color:@verylightgrey;
                        border: 1px solid @linemedgrey;
                        font-size: 1em;
                        font-weight: normal;
                        padding: 20px;

                        &:first-child {
                            .rounded-corners2 (5px, 0, 0, 0);
                            border-right: 0;
                        }

                        &:last-child {
                            .rounded-corners2 (0, 5px, 0, 0);
                            border-left: 0;
                        }
                    }

                    td {
                        .CoHeadlineLightRegular();
                        font-size: 1em;
                        padding: 10px 20px;
                        vertical-align: top;
                        border-bottom: 1px solid @linemedgrey;
                    }
                }
            }
        }

        @media screen and (min-width: 768px) {

            .contents {

                .items {
                    display: block;
                    overflow: hidden;
                    height: auto;
                    width: 100%;
                }

                .item {
                    //display: none;
                    width: auto;

                    &.selected {
                        display: block;
                    }

                    h4 {
                        .margin-right(5%);
                        .floatleft();
                        width: 20%;
                    }

                    .paragraph {
                        .floatleft();
                        width: 75%;
                    }

                    table td{
                        .defaulttextalign();
                    }
                }
            }
        }
    }

}
