﻿@import "../variables.less";
@import "../mixins_lang.less";

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    background-color: #ffffff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid @input-border-color;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    white-space: normal;

    z-index: 99999;
    color: #707070;
    font-size: 14px;
    font-family: 'DuCoHeadlineRegular';
    padding: 10px, 20px;
    width: 350px;
    margin: 0;

    html[dir=rtl] & {
        right: auto !important;
        direction: rtl;
        text-align: right;

        font-family: Tahoma, Geneva, sans-serif;
        font-weight: normal;
    }

    &.top {
        margin-top: -10px;

        .arrow {
            left: 50%;
            margin-left: -11px;
            border-bottom-width: 0;
            border-top-color: #999999;
            border-top-color: rgba(0, 0, 0, 0.25);
            bottom: -11px;

            &:after {
                content: " ";
                bottom: 1px;
                margin-left: -10px;
                border-bottom-width: 0;
                border-top-color: #ffffff;
            }
        }
    }

    &.right {
        margin-left: 10px;

        .arrow {
            top: 50%;
            left: -11px;
            margin-top: -11px;
            border-left-width: 0;
            border-right-color: #999999;
            border-right-color: rgba(0, 0, 0, 0.25);

            &:after {
                content: " ";
                left: 1px;
                bottom: -10px;
                border-left-width: 0;
                border-right-color: #ffffff;
            }
        }
    }

    &.bottom {
        margin-top: 10px;

        .arrow {
            left: 50%;
            margin-left: -11px;
            border-top-width: 0;
            border-bottom-color: #999999;
            border-bottom-color: rgba(0, 0, 0, 0.25);
            top: -11px;

            &:after {
                content: " ";
                top: 1px;
                margin-left: -10px;
                border-top-width: 0;
                border-bottom-color: #ffffff;
            }
        }
    }

    &.left {
        margin-left: -10px;

        .arrow {
            top: 50%;
            right: -11px;
            margin-top: -11px;
            border-right-width: 0;
            border-left-color: #999999;
            border-left-color: rgba(0, 0, 0, 0.25);

            &:after {
                content: " ";
                right: 1px;
                border-right-width: 0;
                border-left-color: #ffffff;
                bottom: -10px;
            }
        }
    }

    > .arrow {
        border-width: 11px;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;

        &:after {
            border-width: 10px;
            content: "";
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
        }
    }
}


.popover-title {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
    .defaulttextalign();

    margin: 0;
    padding: 8px 16px;
}

.popover-content {
    padding: 9px 14px;
    .defaulttextalign();

    margin: 0;
    padding: 16px;
    color: #808285;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    white-space: pre-wrap !important;
    font-family: "DuCoHeadlineLightRegular","Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}
