@import "../variables.less";
@import "../mixins_buttons.less";

.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropzone {
    position: relative;
    padding: 1em 0;
    margin: 1em 0;

    &.dz-clickable {
        cursor: pointer;

        .dz-message {
            opacity: 1;
            -ms-filter: none;
            filter: none;
            cursor: pointer;


            span {
                cursor: pointer;
            }

            * {
                cursor: default;
            }
        }
    }

    .dz-message {
        height: 2em;
        line-height: 2em;

        @media(max-width:@screen-sm-max) {
            line-height: 1.2em;
        }

        margin-bottom: 1.5em;
    }


    &.dz-drag-hover {
        border-color: rgba(0,0,0,0.15);
        background: rgba(0,0,0,0.04);
    }

    .dz-preview {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;
        border-top: 1px solid @input-border-color;
        border-bottom: 1px solid @input-border-color;

        & + .dz-preview {
            border-top: 0;
        }

        padding: 1em 0;

        &.dz-file-preview [data-dz-thumbnail] {
            display: none;
        }

        .dz-details {
            position: relative;
            padding: 5px;
            .floatleft();

            @media(max-width:@screen-sm-max) {
                float: none;
            }

            .dz-filename {
                overflow: hidden;
                height: 100%;
                .margin-left(20px);
                line-height: 2em;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100px;
                height: 100px;
            }
        }

        &.dz-error {
            .dz-error-mark {
                display: block;
            }
        }

        &:hover {
            .dz-details {

                img {
                    display: none;
                }
            }
        }

        .dz-success-mark, .dz-error-mark {
            display: none;
            position: absolute;
            text-align: center;
            top: 22px;

            .icon {
                &:before {
                    font-size: 14px;
                }
            }
        }

        .dz-success-mark {
            color: @green;
        }

        .dz-error-mark {
            color: @pink;
        }

        .dz-progress {
            position: absolute;
            .posleft(33%);
            width: 33%;

            @media(max-width:@screen-sm-max) {
                width: 100%;
                .posleft(0);
                position: relative;
                margin: 5px 0;
            }

            height: 31px;
            background: @lightgrey;
            display: none;

            .dz-upload {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 0%; //you don't want to remove this percentage
                background-color: @green;
            }

            p {
                line-height: 31px;
                color: white;
                .margin-left(5px);
                display: inline-block;
            }
        }


        &.dz-processing {
            .dz-progress {
                display: block;
            }
        }

        &.dz-success {
            .dz-success-mark {
                display: block;
            }

            .dz-progress {
                display: none;
            }
        }

        .dz-error-message {
            position: absolute;
            top: 30px;
            .posleft(20px);
            padding: 8px 5px;
            color: @pink;
            min-width: 140px;
            max-width: 500px;
            z-index: 500;

            @media(max-width:@screen-sm-max) {
                position: relative;
                padding: 0;
            }
        }

        &.dz-error:hover {
            .dz-error-message {
                display: block;
            }
        }
    }

    .dz-remove {
        &:extend(.btn);
        &:extend(.btn-default);
        .floatright();

        @media(max-width:@screen-sm-max) {
            .floatleft();
        }

        &:before {
            content: '\e84f';
            font-family: "duicons";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            .margin-right(5px);
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            font-size: 16px;
            .flip();
        }
    }

    .btn-right {
        @media(max-width:@screen-sm-max) {
            float: none;
            margin-bottom: 5px;
        }
    }
}


//overriding original dropzonejs style
.dropzone {

    margin: 0 0 25px;


    #attach, #attach1, #attach2 {
        @media(max-width:@screen-sm-max) {
            margin: 0 0 25px !important;
        }
    }

    &.dz-max-files-reached .dz-default.dz-message{
        display: none;
    }

    &.dz-started {
        .dz-message {
            display: none;
        }
    }
    .dz-default.dz-message {
        line-height: 32px;
        margin-bottom: 25px;
        @media(max-width:@screen-sm-max) {
            display: none;
        }
    }
    .dz-preview.dz-file-preview {
        //border-bottom-width: 0;
        padding: 15px 0;
        @media(max-width:@screen-sm-max) {
            padding: 10px 0;
        }

        &:last-child {
            border-bottom-width: 0;
        }
    }
    .dz-size,
    .dz-filename,
    .dz-details,
    .dz-message {
        padding: 0!important
    }
    .dz-preview .dz-details {
        width: 50%;
        @media(max-width:@screen-sm-max) {
            width: 100%;
        }
    }
    .dz-preview .dz-details .dz-filename {
        line-height: 32px;
        //padding-left: 20px !important;
        width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media(max-width:@screen-sm-max) {
            width: 100%;
        }
    }
    .dz-preview .dz-size {
        line-height: 18px;
        padding-left: 20px !important;
        width: 20%;
        @media(max-width:@screen-sm-max) {
            width: 100%;
        }
    }
    .dz-preview .dz-error-mark, .dz-preview .dz-success-mark {
        position: static;
    }
    .dz-error-mark span,
    .dz-success-mark span {
        position: absolute;
        left: 0;
        top: 22px;
        @media(max-width:@screen-sm-max) {
            top: 15px;
        }
    }
    &.dz-clickable.dz-started.dz-max-files-reached {
        width: 75%
    }
    .dz-preview .dz-progress {
        position: relative;
        left: inherit;
        right: inherit;
        float: left;
        top: inherit;
        margin: 12px 0 0;
        width: 25%;
        height: 10px;
        border-radius: 30px;
        @media(max-width:@screen-sm-max) {
            width: 90%;
            margin: 15px 5%;
        }
    }
    .dz-upload {
        border-radius: 30px;
    }
    .dz-preview .dz-size {
        //display: none;
    }
    .dz-message {
        height: inherit;
        line-height: inherit;
        margin-bottom: inherit;
    }
    .dz-remove {
        @media(max-width:@screen-sm-max) {
            .floatright();
        }
    }
}
//END
