/*======================================================================
  Selectric
======================================================================*/
@import "../variables";
@import "../mixins";
@import "../mixins_lang";

.selectricWrapper {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectricResponsive {
    width: 100%;
}

.selectric {
    border: 1px solid @input-border-color;
    .rounded-corners(3px);
    background: white;
    position: relative;

    .label {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        .margin-right(30px);
        padding: 5px 8px;
        line-height: 24px;
        min-height: 24px;
        color: @textblack;

        &.unselected {
            color: @textgray;
        }
    }

    .button {
        display: block;
        position: absolute;
        .posright(0);
        top: 0;
        width: 30px;
        height: 34px;
        color: @input-border-color;
        text-align: center;
        font: 0/0 a;
        /* IE Fix */
        *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
        background-color: @input-background-color;

        &:after {
            background: url("../../images/arrow1_down.png") no-repeat center right;
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            .transition(0.2s, ease-out);
        }
    }
}

.error {
    .selectric {
        border: 1px solid @input-border-color-error;

        .button {
            color: @input-border-color-error;

            &:after {
                border-top-color: @input-border-color-error;
            }
        }
    }
}

.selectricHover {
    .selectric {
        border-color: darken(@input-border-color, 20);

        .button {
            color: darken(@input-border-color, 20);

            &:after {
                border-top-color: darken(@input-border-color, 20);
            }
        }
    }
}


.selectricOpen {
    z-index: 9999;

    .selectric .button {
        background: white;

        &:after {
            .rotation(180deg);
        }
    }

    .selectricItems {
        display: block;
    }
}


.selectricDisabled {
    .selectric {
        background: @verylightgrey;
        b, p, .label.unselected {
            background: @verylightgrey;
            color: @input-disabled-color;
            cursor: not-allowed;
        }
    }
    &:focus {
        outline: 0;
        border-color: @input-border-color;
        color: @input-disabled-color;
    }
    /*filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: default;*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectricHideSelect {
    position: relative;
    overflow: hidden;
    width: 0;
    height: 0;

    select {
        position: absolute;
        left: -100%;
        display: none;
    }
}

.selectricInput {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    outline: none !important;
    border: none !important;
    *font: 0/0 a !important;
    background: none !important;
}

.selectricTempShow {
    position: absolute !important;
    visibility: hidden !important;
    display: block !important;
}

/* Items box */
.selectricItems {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid @input-border-color;
    border-top: none;
    z-index: -1;
    box-shadow: 0 0 10px -6px;

    ul {

        li {
            list-style: none;
            margin: 0;
            font-size: 14px;
            line-height: 22px;
            min-height: 20px;
            display: block;
            padding: 5px 8px;
            border-top: 0;
            border-bottom: 1px solid @input-border-color;
            color: @lightgrey;
            cursor: pointer;

            &.selected {
                color: @darkergrey;
            }

            &:hover {
                color: @darkergrey;
                //font-family: 'DuCoHeadlineBold';
            }

            &.disabled {
                color: #BBB;
                border-top-color: #FAFAFA;
                cursor: default;
            }
        }
    }
}

.selectricItems .selectricScroll {
    height: 100%;
    overflow: auto;
}

.selectricAbove .selectricItems {
    top: auto;
    bottom: 100%;
}
