@root: '/common/images/';
@blue00b1d3: #00b1d3; //general text,heeading and background color
@black2c303a: #2c303a;
@black575757: #575757;
@blue01bde2: #01bde2;
@blue00bce0: #00bce0;
@blue00aad3: #00aad3;
@blue007c9a: #007c9a;
@lightpurple: #d62bad;
@purplece3399: #ce3399;
@purplec90bad: #c90bad;
@lightestgrey: #f9f9f9;
@blue00b5d5: #00b5d5;
@blue00bfe1: #00bfe1;
@blue0192ad: #0192ad;
@blue01a0c0: #01a0c0;
@blue3fbde3: #3fbde3;
@blue35b3d9: #35b3d9;
@whitefcfcfc: #fcfcfc;
@blue2486ab: #2486ab;
@whitef4f5f6: #f4f5f6;
@whitef1f1f1: #f1f1f1;
@whitefbfbfb: #fbfbfb;
@blue0095b2: #0095b2;
@blue00a0c0: #00a0c0;
@blue00a9ca: #00a9ca;
@blue41a9d4: #41a9d4;
@black323232: #323232;
@whitefafbfc: #fafbfc;
@whitefefefe: #fefefe;
@black323232: #323232;
@warningf80707: #f80707;
@whitef0f0f0: #f0f0f0;
@whitef7f8f9: #f7f8f9;
@blue009ebf: #009ebf;
@blue00afd4: #00afd4;
@bordermedgrey: #ddd;
@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 60%); // #999
@gray-lighter: lighten(#000, 93.5%); // #eee
@greye3e3e3: #e3e3e3;
@greye1e1e1: #e1e1e1;
@greydadada: #dadada;
@grey828282: #828282;
@grey808285: #808285;
@grey373f42: #373F42;
@greyccc: #ccc;
@grey909090: #909090;
@grey868686: #868686;
@greydedede: #dedede;
@greyededed: #ededed;
@greyeaeaea: #eaeaea;
@greyb1b1b1: #b1b1b1;
@greyebebeb: #ebebeb;
@greye8e9ea: #e8e9ea;
@greyeFDFDFD: #FDFDFD;
@greya3a3a3: #a3a3a3;
#boxer {
    .boxer-position {
        display: none;
    }
    .boxer-image {
        .border-radius(8px);
        margin-bottom: 10px;
    }
    .boxer-meta {
        .border-radius(8px);
        padding: 1px;
        background-color: @white;
        .boxer-caption {
            p {
                padding: 10px 19px;
                font-size: 11px;
                color: @black575757;
                line-height: 13px;
                b {
                    font-size: 12px;
                }
            }
        }
    }
}

.media-center {
    .news-list {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            border-bottom: 1px solid @whitef0f0f0;
            padding: 0 0 12px 0;
            margin-bottom: 12px;
            .date {
                color: @greya3a3a3;
                font-size: 11px;
                margin-bottom: 5px;
            }
            a.heading {
                font-size: 12px;
                color: @blue00b1d3;
                font-weight: bold;
            }
            p {
                font-size: 12px;
                color: @black2c303a;
                margin-bottom: 10px;
            }
            a.more {
                font-size: 13px;
                color: @blue00aad3;
            }
        }
    }
    .widget-box {
        border: 1px solid @greydadada;
        .border-radius(8px);
        margin-bottom: 22px;
        &.full-width {
            .ucVideo,
            .ucPopularVideos {
                margin: 0 -15px;
            }
            .ucVideo {
                .head {
                    .border-radius(8px 0 0 0);
                }
                .subscribe-youtube {
                    background-image: url("@{root}subscribe-youtube.png");
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    padding-left: 25px;
                    margin-top: 20px;
                }
            }
            .ucPopularVideos {
                .head {
                    .border-radius(0 8px 0 0);
                }
            }
        }
        .head,
        .content,
        .footer {
            padding: 15px;
        }
        .head {
            background-color: @whitef4f5f6;
            .border-radius(8px 8px 0 0);
            border-bottom: 1px solid @greydadada;
            padding: 13px 15px;
            h3 {
                margin: 0;
                color: @black2c303a;
                font-weight: bold;
                background-repeat: no-repeat;
                background-position: 0 4px;
                line-height: 20px;
            }
        }
        .footer {
            background-color: @whitef7f8f9;
            border-top: 1px solid @greyebebeb;
            .border-radius(0 0 8px 8px);
            .more {
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
    .ucTwitter {
        .head {
            h3 {
                padding-left: 26px;
                background-image: url("@{root}icon-twitter-black.png");
            }
        }
        h5 {
            color: @grey808285;
            font-size: 14px;
            margin-bottom: 15px;
            line-height: 19px;
            font-weight: normal;
        }
    }
    .ucFacebook {
        height: 838px;
        .head {
            h3 {
                padding-left: 22px;
                background-image: url("@{root}icon-facebook-black.png");
            }
        }
        .footer {
            .border-radius(0);
            width: 126px;
            height: 35px;
            margin: 16px auto 0 auto;
            border: 1px solid @blue009ebf;
            border-bottom: none;
            background-image: url("@{root}icon-facebook-button.png");
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-color: @blue00afd4;
            display: none;
        }
    }
    .ucTwitter,
    .ucLatestNews {
        height: 296px;
        .content {
            height: 252px;
        }
        .ucscrollbar {
            width: 100%;
            height: 223px;
        }
    }
    .ucTwitter {
        #tweets {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    margin-bottom: 10px;
                    b {
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .ucscrollbar {
        margin-right: 0px;
        width: 100%;
        .scrollbar-content {
            padding: 0 10px 0 0;
            width: 100%;
        }
        .scrollbar-path-vertical {
            right: 0px;
            width: 3px;
            .scrollbar-handle {
                background-color: @blue00b1d3;
                .border-radius(0);
            }
        }
    }
    .ucVideo {
        .head {
            h3 {
                padding-left: 30px;
                background-image: url("@{root}icon-video.png");
            }
        }
    }
    .ucPopularVideos {
        .head {
            h3 {}
        }
        .content {
            .ucscrollbar {
                border: 1px solid @greyebebeb;
                height: 355px;
                .scrollbar-content {
                    padding: 0;
                }
                .scrollbar-path-vertical {
                    right: 7px;
                }
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        border-bottom: 1px solid @greyebebeb;
                        width: 100%;
                        display: table;
                        img {
                            .margin-right(10px);
                        }
                        a {
                            font-size: 12px;
                            padding: 10px 15px;
                            display: block;
                            .floatleft();
                        }
                        &.active {
                            a {
                                color: @black575757;
                            }
                        }
                        &:last-child {
                            border-bottom: 0px solid @greyebebeb;
                        }
                        &:nth-child(odd) {
                            background-color: @lightestgrey;
                        }
                    }
                }
            }
        }
    }
    .ucFacebook,
    .ucTwitter {
        height: 650px;
    }
    .ucTwitter .content,
    .ucLatestNews .content {
        height: 550px;
    }
    /* ------------------------------------------------------------------------*/
    /* #endregion */
    /* ----------------------------------------------------------------------- */
    /* #endregion */
    /* ----------------------------------------------------------------------- */
    [dir="rtl"] {
        // Media Centre
        .sf_2cols_2_50 .sf_2cols_2in_50 {
            margin-left: 0px;
        }
        .news-list {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                border-bottom: 1px solid @whitef0f0f0;
                padding: 0 0 12px 0;
                margin-bottom: 12px;
                .date {
                    color: @greya3a3a3;
                    font-size: 11px;
                    margin-bottom: 5px;
                }
                a.heading {
                    font-size: 12px;
                    color: @blue00b1d3;
                    font-weight: bold;
                }
                p {
                    font-size: 12px;
                    color: @black2c303a;
                    margin-bottom: 10px;
                }
                a.more {
                    font-size: 13px;
                    color: @blue00aad3;
                }
            }
        }
        .widget-box {
            border: 1px solid @greydadada;
            .border-radius(8px);
            margin-bottom: 22px;
            &.full-width {
                .ucVideo,
                .ucPopularVideos {
                    margin: 0 -15px;
                }
                .ucVideo {
                    .head {
                        .border-radius(8px 0 0 0);
                    }
                    .subscribe-youtube {
                        background-position: right 0;
                        padding-right: 25px;
                    }
                }
                .ucPopularVideos {
                    .head {
                        .border-radius(0 8px 0 0);
                    }
                }
            }
            .head,
            .content,
            .footer {
                padding: 15px;
            }
            .head {
                background-color: @whitef4f5f6;
                .border-radius(8px 8px 0 0);
                border-bottom: 1px solid @greydadada;
                padding: 13px 15px;
                h3 {
                    margin: 0;
                    color: @black2c303a;
                    font-weight: bold;
                    background-repeat: no-repeat;
                    background-position: 0 4px;
                    line-height: 20px;
                }
            }
            .footer {
                background-color: @whitef7f8f9;
                border-top: 1px solid @greyebebeb;
                .border-radius(0 0 8px 8px);
                .more {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
        .ucTwitter {
            .head {
                h3 {
                    padding-left: 26px;
                    background-image: url("@{root}icon-twitter-black.png");
                }
            }
            h5 {
                color: @grey808285;
                font-size: 14px;
                margin-bottom: 15px;
                line-height: 19px;
                font-weight: normal;
            }
        }
        .ucFacebook {
            height: 838px;
            .head {
                h3 {
                    padding-left: 22px;
                    background-image: url("@{root}icon-facebook-black.png");
                }
            }
            .footer {
                .border-radius(0);
                width: 126px;
                height: 35px;
                margin: 16px auto 0 auto;
                border: 1px solid @blue009ebf;
                border-bottom: none;
                background-image: url("@{root}icon-facebook-button.png");
                background-repeat: no-repeat;
                background-position: 50% 100%;
                background-color: @blue00afd4;
                display: none;
            }
        }
        .ucTwitter,
        .ucLatestNews {
            height: 296px;
            .content {
                height: 252px;
            }
            .ucscrollbar {
                width: 100%;
                height: 223px;
            }
        }
        .ucTwitter {
            #tweets {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        margin-bottom: 10px;
                        b {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .ucscrollbar {
            margin-right: 0px;
            width: 100%;
            .scrollbar-content {
                padding: 0 10px 0 0;
                width: 100%;
            }
            .scrollbar-path-vertical {
                right: 0px;
                width: 3px;
                .scrollbar-handle {
                    background-color: @blue00b1d3;
                    .border-radius(0);
                }
            }
        }
        .ucVideo {
            .head {
                h3 {
                    padding-left: 30px;
                    background-image: url("@{root}icon-video.png");
                }
            }
        }
        .ucPopularVideos {
            .head {
                h3 {}
            }
            .content {
                .ucscrollbar {
                    border: 1px solid @greyebebeb;
                    height: 355px;
                    .scrollbar-content {
                        padding: 0;
                    }
                    .scrollbar-path-vertical {
                        right: 7px;
                    }
                    ul {
                        padding: 0;
                        margin: 0;
                        list-style: none;
                        li {
                            border-bottom: 1px solid @greyebebeb;
                            width: 100%;
                            display: table;
                            img {
                                margin: 0 10px;
                            }
                            a {
                                font-size: 12px;
                                padding: 10px 15px;
                                display: block;
                                .floatright();
                            }
                            &.active {
                                a {
                                    color: @black575757;
                                }
                            }
                            &:last-child {
                                border-bottom: 0px solid @greyebebeb;
                            }
                            &:nth-child(odd) {
                                background-color: @lightestgrey;
                            }
                        }
                    }
                }
            }
        }
        .ucFacebook,
        .ucTwitter {
            height: 650px;
        }
        .ucTwitter .content,
        .ucLatestNews .content {
            height: 550px;
        }
    }
    /* ------------------------------------------------------------------------*/
    /* #endregion */
    /* ----------------------------------------------------------------------- */
    /* #region copied from inline styles of the media centre page */
    /* ----------------------------------------------------------------------- */
    .widget-box .head h3 {
        color: #2c303a !important;
        line-height: 20px !important;
        margin: 0 !important;
    }
    .ucscrollbar .scrollbar-path-vertical .scrollbar-handle {
        background-color: #00b1d3 !important;
        -moz-border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        -khtml-border-radius: 0 !important;
        border-radius: 0 !important;
    }
    .ucscrollbar .scrollbar-path-vertical {
        position: absolute !important;
        right: 0px !important;
        width: 3px !important;
    }
    .news-list li a.heading {
        font-size: 12px !important;
        color: #00b1d3 !important;
        font-weight: bold !important;
    }
    .news-list {
        padding: 0 !important;
        margin: 0 !important;
        list-style: none !important;
    }
    .news-list li {
        border-bottom: 1px solid #f0f0f0 !important;
        padding: 0 0 12px 0 !important;
        margin-bottom: 12px !important;
    }
    .news-list li .date {
        color: #a3a3a3 !important;
        font-size: 11px !important;
        margin-bottom: 5px !important;
    }
    .news-list li a.heading {
        font-size: 12px !important;
        color: #00b1d3 !important;
        font-weight: bold !important;
    }
    .news-list li p {
        font-size: 12px !important;
        color: #2c303a !important;
        margin-bottom: 10px !important;
    }
    .news-list li a.more {
        font-size: 13px !important;
        color: #00aad3 !important;
    }
    .ucPopularVideos .content .ucscrollbar ul li img {
        margin-right: 10px;
        height: 69px !important;
    }
    .widget-box {
        overflow: hidden;
    }
    .ucPopularVideos .content .ucscrollbar .scrollbar-path-vertical {
        right: 7px !important;
    }
    .scrollbar-path-vertical,
    .scrollbar-path-horizontal {
        background-color: rgba(220, 220, 220, 0.5);
        position: absolute;
        z-index: 100;
    }
    .scrollbar-handle {
        position: relative;
    }
}