@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";

.du-table {
    width: 100%;
    margin: 20px 0 !important;
    border-collapse: collapse !important;

    @media(max-width:@screen-sm-max) {
        overflow-x: scroll;
        width: 100%;
        display: block;
    }

    tr {
        border-top: 1px solid #cbcbcb;
        border-bottom: 1px solid #cbcbcb;

        td {
            padding: 5px 0;
            vertical-align: middle;

            &.action-column {
                .textalign();
                .floatright();

                .btn {
                    margin-top: 2px;
                }
            }
        }

        th {
            .defaulttextalign();
        }
    }

    thead {
        tr {
            border: 0 !important;
        }

        th {
            border-bottom: none !important;
        }
    }

    &.dataTable {
        tr td, tr th {
            padding: 20px 20px 20px 12px !important;
        }
    }

    &#data-pool {
        tr {
            td, th {
                //padding: 15px 20px 15px 12px !important;

                .pool-usage {
                    .value {
                        font-size: .9em;
                        margin-bottom: 0;
                        &.green {
                            color: @lightgreen;
                        }
                        &.orange {
                            color: @orange;
                        }
                        &.pink {
                            color: @pinkalt;
                        }
                        .stat {
                            font-size: 0.9em;
                            color: @medgrey;
                            .margin-left(5px);
                        }
                    }
                    .status {
                        background: url(../../images/status_bar_back.png) 0 0 no-repeat;
                        width: 100%;
                        height: 9px;
                        position: relative;
                        margin-top: 0;
                        clear: left;
                        &.green span {
                            display: block;
                            height: 9px;
                            background: url(../../images/status_bar_green_full.png) 0 0 repeat;
                            margin: 0;
                            .rounded-corners2(0, 5px, 3px, 0);
                        }
                        &.orange span {
                            display: block;
                            height: 9px;
                            background: url(../../images/status_bar_orange_full.png) 0 0 repeat;
                            margin: 0;
                            .rounded-corners2(0, 5px, 3px, 0);
                        }
                        &.pink span {
                            display: block;
                            height: 9px;
                            background: url(../../images/status_bar_pink_full.png) 0 0 repeat;
                            margin: 0;
                            .rounded-corners2(0, 5px, 3px, 0);
                        }
                        .statusTxt {
                            font-size: 10px;
                            color: @medgrey;
                            position: absolute;
                            top: 15px;
                        }

                    }
                }
            }
            .selectric {
                max-width: 230px;
            }
            &.selected {
                td, th {
                    background: @verylightgrey;
                    padding-left: 15px !important;
                }
            }
        }
    }
    
    &#VAS {
        font-size: 12px;
        line-height: 16px;

        tr {
            td, th {
                padding: 20px 10px !important;
            }
        }
    }

}

[dir="rtl"] {
    .du-table.dataTable {
        tr td, tr th {
            padding: 20px 12px 20px 20px !important;

            &.sorting_asc, &.sorting_desc, &.sorting {
                background-position: center left !important;
            }
        }
    }
}

h4.list-table-header {
  .FontCoHeadlineRegular();
  margin: 30px 0 -10px;
  font-size: 18px;
  .clearfix;
}

ul.list-table {
    width: 100%;
    margin: 20px 0;
    .floatleft();
    display: table;

    li {
        width: 100%;
        .floatleft();
        border-top: 1px solid #cbcbcb;
        display: table-row;

        @media(max-width:@screen-sm-max) {
            &.thead {
                display: none;
            }

            padding: 10px 0;
        }


        div, form {
            display: table-cell;
            padding: 5px 0;

            &.info-column {
                .floatleft();
                .defaulttextalign();
                margin: 0;
                padding: 15px 20px;

                .icon {
                    display: inline;
                }

                [class^="icon-"]:before, [class*=" icon-"]:before {
                    font-size: 17px;
                }

                @media(max-width:@screen-sm-max) {
                    padding: 5px 20px;
                    .padding-left(0);
                }

                &:first-child {
                    @media(min-width:@screen-md-min) {
                        padding-left: 0;}
                }

                @media(min-width:@screen-md-min) {
                    &.quarter {
                        width: 25%;
                    }

                    &.right {
                        .textalign();
                        .floatright();
                    }
                }
                 &.group {
                    width: 50%;
                    display: inline-block;
                    .help {
                            margin-left: 0;
                    }
                }
                &.more-padding {
                    padding-top: 22px;
                }
            }

            &.action-column {
                .floatright();
                .textalign();

                .btn {
                    display: inline-block;
                    float: none;
                    margin-top: 3px;
                    vertical-align: top;
                    padding: 0 10px;

                    @media(max-width:@screen-sm-max) {
                        margin: 0 !important;
                        margin-bottom: 10px !important;
                        display: block;
                        float: right;
                    }

                    &.icon {
                        @media(max-width:@screen-sm-max) {
                            margin: 10px auto !important;
                        }
                    }
                }
            }

            @media(max-width:@screen-sm-max) {
                display: block;
                width: 100% !important;
            }

            &.mobile-column {
                width: 50% !important;
                margin: 0;
                .floatleft();
            }
        }


        @media(max-width:@screen-sm-max) {
            position: relative;
            padding-top: 15px;

            .btn-remove {
                position: absolute;
                .posright(0);
                top: -8px;
            }
        }
    }

    li:last-child {
        border-bottom: 1px solid #cbcbcb;
    }

    &.single li {
        border-top: 0;
        border-bottom: 0;
    }
    
    &.four-columns li div.mobile-column {
        width:25% !important;
        @media(max-width:@screen-sm-max) {
           width:40% !important;
        }
    }
    &.four-columns li div.mobile-column:first-child {
        width:75% !important;
        @media(max-width:@screen-sm-max) {
           width:60% !important;
        }
    }

    &.bulk-payment {
        &.four-columns li div.mobile-column {
            width:50% !important;
            @media(max-width:@screen-sm-max) {
                width:40% !important;
            }
        }
        &.four-columns li div.mobile-column:first-child {
            width:50% !important;
            @media(max-width:@screen-sm-max) {
                width:60% !important;
            }
        }

        fieldset {
            margin-top: 0;
            .group {
                width: auto;
                .floatleft;
                padding: 0;
                margin-bottom: 0;

                label {
                    width: auto;
                }
                .control {
                    max-width: 100px;
                    .floatleft;
                    .margin-left(10px);
                }
                .ch-control {
                    width: auto;
                    .floatleft;
                    .margin-left(10px);

                    .icheckbox_minimal {
                        .floatleft;
                    }

                    span {
                        .floatleft;
                    }
                }
            }
        }
    }
}

.paymentsBills {
    @media(max-width:@screen-sm-max) {
        .clearfix();
        .dashboard + .row20 {
            display: none;
        }
        .list-table {
            li:first-child {
                display: none;
            }
            li {
                .action-column {
                    .btn-grey {
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
}


.filter-label {
    display: block;
    .floatleft();
    .FontCoHeadlineRegular();
}

//custom styling for generic elements added by datatables plugin

.dataTables_wrapper {



    .dataTables_length,
    .paginate_button.previous,
    .paginate_button.next {
        display: none !important;
    }

    .dataTables_filter {
        text-align: left !important;
        width: 100% !important;

        input[type=search] {
            -webkit-appearance: none;
            width: 100% !important;
            margin: 0 !important;
            margin-top: 15px !important;
            height: 36px;
            line-height: 36px;
            padding: 5px 8px;
            color: @textblack;
            background-color: @input-background-color;
            background-image: none;
            border: 1px solid @input-border-color;
            .rounded-corners(6px);
            .box-sizing();
            .transition(~"border-color ease-in-out .15s");
            .FontCoHeadlineLightRegular();

            &:focus {
                outline: 0;
                border-color: darken(@input-border-color, 20%);
            }
        }
    }

    .dataTables_paginate {
        width: 100%;
        text-align: center;

        span {
            display: inline-block;

            .paginate_button {
                cursor: pointer;
                height: 32px;
                .rounded-corners(0px);
                .FontCoHeadlineRegular();
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                line-height: 32px;
                padding: 0 10px;
                text-align: center;
                .gradient-white();
                color: @blu !important;
                min-width: 45px;
                margin: 0;

                &.current {
                    .gradient-aqua();
                    color: #fff !important;
                }
            }

            .paginate_button:first-child {
                .left-corners(5px);
                &:last-child {
                    .rounded-corners(5px);
                }
            }

            .paginate_button:last-child {
                .right-corners(5px);
                &:first-child {
                    .rounded-corners(5px);
                }
            }

            .paginate_button:hover {
                .gradient-white();
                color: @bluHover !important;
            }

            .paginate_button.current:hover {
                .gradient-aqua();
                color: #fff !important;
            }
        }
    }
}

.table-filters {
    .floatleft();
    display: block;
    width: 100%;
    text-align: center;

    @media(max-width:@screen-sm-max) {
        .defaulttextalign();
    }

    .selectricWrapper {
        margin-bottom: 10px;

        @media(min-width:@screen-md-min) {
            display: none !important;
        }
    }

    .btn-group {
        float: none;
        display: inline-block;

        @media(max-width:@screen-sm-max) {
            display: none !important;
        }
    }
}


table.dataTable thead .sorting {
    background: url("../../images/arrow1_down.png") no-repeat -10px 10px;
    //text-indent: 12px;
    .FontCoHeadlineRegular();
    font-weight: inherit;
}

table.dataTable thead .sorting_asc {
    background: url("../../images/arrow1_up.png") no-repeat -10px 10px;
    //text-indent: 12px;
    .FontCoHeadlineRegular();
    font-weight: inherit;
}

table.dataTable thead .sorting_desc {
    background: url("../../images/arrow1_down.png") no-repeat -10px 10px;
    //text-indent: 12px;
    .FontCoHeadlineRegular();
    font-weight: inherit;
}

/* Specific overrides for elements that require something other than display:block */
// TODO: apply less syntax

table.show-on-desktops{ display:table !important}
table.hide-on-phones{ display:table !important}
table.hide-on-tablets{ display:table !important}

@media only screen and (min-width:768px) and (max-width:959px){
 table.hide-on-phones{ display:block !important}
 table.hide-on-desktops{ display:block !important}
 table.show-on-tablets{ display:block !important}
}

@media only screen and (max-width:767px){
 table.hide-on-tablets{ display:block !important}
 table.hide-on-desktops{ display:block !important}
 table.show-on-phones{ display:block !important}
}

@media only screen and (min-width:480px) and (max-width:767px){
 table.hide-on-tablets{ display:block !important}
 table.hide-on-desktops{ display:block !important}
 table.show-on-phones{ display:block !important}
}

.table{width:100%;border-collapse:collapse;.FontCoHeadlineLightRegular();.defaulttextalign();margin:20px 0 0}
.table td{padding:5px 10px;border-top:1px solid #ddd;vertical-align:middle}
.table th{padding:5px 10px;border-bottom:2px solid #ddd;.FontCoHeadlineRegular();line-height:18px;vertical-align:middle}
.table-bordered{text-align:left;border:1px solid #ddd;border-bottom-width:2px}
.table-bordered.text-center{text-align:center;}
.table-bordered th{background:#f8f8f8;border:1px solid #ddd;padding:10px}
.table-bordered td{border:1px solid #ddd}
.text-left{text-align:left}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f9f9f9;
}
.table .brand{display:block;font-family:'DuCoHeadlineLightRegular'}
.table .model{display:block;font:16px/18px 'DuCoHeadlineBold'}