@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";


.graph {
    //.horizgradiant(#f1f1f1, #ffffff, #ffffff);
    margin: 0 auto 35px;
    padding: 20px 0 0 0;
    height: 400px;
    position: relative;

    .chart {
        overflow: visible;
        .animatedSlower();
    }

    .topTitle {
        font-size: 24px;
        fill: @textmedgray;
        text-anchor: middle;
    }

    .bottomTitle {
        font-size: 14px;
        fill: @textgray;
        text-anchor: middle;
    }

    .grid {
        .tick {
            stroke: @linelightgrey;
        }

        path {
            stroke-width: 0;
        }

        text {
            font-size: 14px;
            stroke-width: 0;
            fill: @bordermedgrey;
        }
    }

    .bar {
        fill: @bordergrey;
        opacity: .5;
        transition: all 0.25s ease-out;
        -webkit-transition: all 0.2s ease-out;

        &.duebill {
            fill: @pink;
        }

        &.unbilled {
            fill: @lightgreen;
        }
    }

    .bartext {
        fill: @medgrey;
        text-anchor: middle;
        font-size: 14px;
        .FontCoHeadlineRegular();
    }

    .linetext {
        fill: @textgray;
        text-anchor: middle;
    }

    .bartoptext {
        fill: @textgray;
        text-anchor: middle;
        font-size: 12px;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {
        display: none;
    }

    .path {
        fill: none;
        stroke: @blu;
        stroke-width: 1.5px;
    }

    .circle {
        fill: @blu;

        &.unbilled {
            fill: @lightgreen;
        }
    }
}

.win .graph svg {
    height: 400px;
}

@media screen and (max-width: 479px) and (min-width: 320px) {
    .win .graph svg {
        height: 160px;
    }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
    .win .graph svg {
        height: 250px;
    }
}

@media screen and (max-width: 767px) {
    .graph, #graphLink {
        display: none !important;
    }
}