.pending-requests {
  position: relative;
  .notification {
    position: absolute;
    top: -11px;
    .posleft(7px);
    padding: 3px 10px;
    border-radius: 10px;
    background: @pink;
    &:hover {
      background: darken(@pink, 10%);
    }
    color: @white;
  }
}

.plan-head {
  .notification:hover:before {
    color: darken(@pink, 10%);
  }
  .notification:before {
    cursor: pointer;
    font-size: 20px;
    top: 1.4px;
    position: relative;
    .padding-left(2.5px);
    color: @pink;
  }

}

.plan-content {
  .title-paragraph {
    margin-bottom: 30px;
  }
}

.round-animated-section {
  background: #f8f8f8;
  .padding-left(15px);
  .padding-right(15px);
  &.plan-content-active {
    border-radius: 16px;
    margin-bottom: 14px;
    padding-top: 15px;
  }
}

.plan-content.round-animated-section {
  @media (max-width: @screen-md) {

    width: 100%;
    .box-sizing();

  }

}

ul.list-table.hidden {
  display: none;
}

.track-requests {
  .plans-accordion {
    > ul.list {
      > li {

        .plan-head {
          .plan-nn-container {
            &.accordion-head.accordion-list {
              .account-elem-accountnum {
                .clearborderleft() !important;
                .padding-left(0) !important;
              }
            }
          }
        }

        .plan-content {
          .existing-plan {
            .clearborderright() !important;
            &:after {
              display: none !important;
            }
          }
        }

      }
    }
  }
}
