@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "mod.form.less";


.profile, .billing-info {

    .highlight {
        .floatleft();
        .defaulttextalign();
        display: inline-block;
        .box-sizing();
        margin: 0;
        height: auto;
        padding: 0 20px 50px 0;
        line-height: 22px;
        position: relative;

        @media(max-width:@screen-sm-max) {
            width: 100%;
            padding: 20px;
            border-bottom: solid 1px @input-border-color;
        }

        .icon {
            color: @blu;
        }

        .text {
            margin: 20px 0 10px 0;
            min-height: 100px;

            @media(max-width:@screen-sm-max) {
                margin: 10px 0 0 0;
                min-height: 0;
            }

            .bold {
                white-space: nowrap;
                margin-bottom: 10px;
            }
        }

        a.btn-default {
            .floatleft();

            @media(max-width:@screen-sm-max) {
                .floatright();
            }
        }
    }

    form {
        .group {
            .selectric-control {
                width: 65%;
                .floatleft();

                @media(max-width:@screen-sm-max) {
                    width: 100%;
                }
            }

            .inline {
                width: 100%;
                min-height: 30px;

                .text.fixed {
                    min-width: 155px;
                    display: inline-block;
                }

                .selectric-control {
                    display: inline-block;
                    float: none;
                    width: 40%;
                    top: .8em;
                    margin: 0 10px 10px;

                    @media(max-width:@screen-sm-max) {
                        display: block;
                        top: 0;
                        width: 100%;
                        margin: 5px 0;
                    }
                }
            }
        }
    }

    &.usage-alert {
        form {
            .group {

                .inline {
                    input.control {
                        display: inline-block;
                        float: none;
                        width: 40%;
                        top: 1em;
                        margin: 0 10px;

                        @media(max-width:@screen-sm-max) {
                            display: block;
                            top: 0;
                            width: 100%;
                            margin: 5px 0;
                        }
                    }
                }

                .help {
                    .margin-left(24.5%);
                    @media(max-width:@screen-sm-max) {
                        .margin-left(0);
                    }
                }
            }
        }

    }
}

.billing-info{
 
  form{
  
    .inline {
                width: 50% !important;
                }
  }
  
}