.container-du.mobile-plan-prepaid-choice {
    #content {
        padding: 0;
    }

    #footer {
        display: inline-block;
        width: 100%;
    }

    .modBreadcrumbs {
        padding-bottom: 0;
    }
    .contentIn {
        padding-top: 41px;
    }

     @media (max-width: @screen-sm-max) {
         .modBreadcrumbs {
            display: none;
        }
     }

    .main-container {
        text-align: center;

        &-block {
            margin-bottom: 30px;
            display: inline-block;
            width: 100%;
        }

        h1 {
            margin-top: 0;
            margin-bottom: .2em;
            font-family: "DuCoHeadlineBold", Arial, sans-serif;
            font-weight: 500;
            font-size: 30px;
            line-height: 1em;
        }

        h2 {
            font-family: 'DuCoHeadlineBold';
            margin-top: 0;
            margin-bottom: 16px;
        }

        h3 {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 16px;
            font-family: "DuCoHeadlineRegular", Arial, sans-serif;
            line-height: normal;
        }

        ul {
            padding-left: 40px;
            margin-bottom: 10px;
            list-style-type: disc;

            [dir="rtl"] & {
                padding-left: 0;
                padding-right: 40px;
            }
        }
    }

    .subheading {
        text-align: center;
        font-size: 16px;
        color: #777;
    }

    .cardsContainer {
        text-align: center;

        .cardContainer {
            display: inline-block;
            width: 100%;
            padding: 0 12px;
            margin-bottom: 24px;
            vertical-align: top;
            box-sizing: border-box;

            max-width: 380px;
            text-align: left;

            [dir="rtl"] & {
                max-width: 420px;
                text-align: right;
            }

            .discoveryCard {
                border: 1px solid #ddd;
                border-radius: 50px;

                .actionsContainer {
                    padding: 0 20px 20px 20px;

                    .actionButton {
                        display: block;
                        position: relative;
                        padding: 16px 20px 16px 65px;
                        font-size: 16px;
                        text-align: left;
                        text-decoration: none !important;
                        color: #04B0DC;
                        font-family: "DuCoHeadlineRegular", Arial, sans-serif;
                        border: 1px solid #04B0DC;
                        line-height: 1.6;
                        border-radius: 31px;
                        height: 62px;
                        outline: none !important;
                        box-sizing: border-box;

                        [dir="rtl"] & {
                            text-align: right;
                            padding: 16px 65px 16px 20px;
                        }

                        &::before {
                            content: "\A";
                            position: absolute;
                            display: inline-block;
                            background-repeat: no-repeat;
                            background-position: center center;
                            top: 5px;
                            width: 50px;
                            height: 50px;
                            border: 1px solid #04B0DC;
                            border-radius: 25px;

                            left: 6px;

                            [dir="rtl"] & {
                                left: auto;
                                right: 6px;
                            }
                        }

                        &::after {
                            content: "\A";
                            position: absolute;
                            display: inline-block;
                            background-repeat: no-repeat;
                            background-position: center center;
                            top: 24px;
                            width: 9px;
                            height: 12px;

                            background-image: url(../../images/icon-caret-right.svg);
                            right: 23px;
                            
                            [dir="rtl"] & {
                                background-image: url(../../images/icon-caret-left.svg);
                                left: 23px;
                                right: auto;
                            }
                        }
                    }
                }

                .content {
                    padding: 20px 40px 10px 0;
                    color: #777;
                    font-size: 14px;
                    line-height: 1.6em;

                    h2 {
                        font-size: 16px;
                        text-align: center;
                        color: #373F42;

                        line-height: 22px;
                        padding-left: 40px;
                        
                        [dir="rtl"] & {
                            margin-bottom: 16px;
                            padding-left: 0;
                            padding-right: 40px;
                        }
                    }

                    ul li {
                        font-size: inherit;
                        line-height: inherit;
                    }

                    [dir="rtl"] & {
                        padding: 20px 0 10px 40px;
                    }
                }

                .thumbnailContainer {
                    height: 250px;
                    overflow: hidden;
                    border-radius: 50px 50px 0 0;

                    .thumbnail {
                        border: 0;
                        padding: 0;
                        border-radius: 0;
                        margin: 0;
                        width: 100%;
                    }

                    @media (max-width: @screen-xs-max) {
                        height: 230px;
                    }
                }
            }

            &.prepaid-plans .discoveryCard .actionsContainer .actionButton::before {
                background-image: url(../../images/icon-email.svg);
                background-size: 61%;
            }

            &.tourist-plan .discoveryCard .actionsContainer .actionButton::before {
                background-image: url(../../images/icon-plans-tourist.svg);
                background-size: 55%;
            }

            @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
                max-width: 350px;
                [dir="rtl"] & {
                    max-width: 420px;
                }
            }
        }
    }

    .block-group {
        &-elem-50 {
            width: 50%;
            min-width: 50%;
            float: left;

            [dir=rtl] & {
                float: right;
            }
        }
    }

    .prepaid-plans-bottom {
        background-color: #eee;
        padding: 50px 30px 0 30px;
        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        align-items: flex-end;
        -webkit-align-items: flex-end;

        img {
            // width: 30%;
            height: 140px;
        }

        &-content {
            height: 100%;
            margin-bottom: 50px;

            a, a:hover, a:active, a:focus {
                text-decoration: none;
            }

            h3 {
                font-size: 16px;
                line-height: normal;
                color: #04B0DC;
                font-family: "DuCoHeadlineRegular",Arial,sans-serif;
                margin-top: 0;
                margin-bottom: 16px;

                &::after {
                    content: "\A";
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-image: url(../../images/arrow-right-circle.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-left: 10px;
                    position: relative;
                    bottom: -2px;
                    box-sizing: border-box;
                }
            }

            p {
                margin: 0;
            }
        }

        &.left {
            margin-right: 2px;
            padding-left: 10px;

            .prepaid-plans-bottom-content {
                // margin-left: 20px;
                margin-left: 10px;
            }
        }

        &.right {
            margin-left: 2px;
            padding-right: 10px;

            .prepaid-plans-bottom-content {
                // margin-right: 20px;
                margin-right: 10px;
            }

            img {
                -webkit-box-ordinal-group: 2;
                -moz-box-ordinal-group: 2;
                -ms-flex-order: 2;
                -webkit-order: 2;
                order: 2;
            }
        }

        [dir=rtl] & {
            &-content {
                h3::after {
                    background-image: url(../../images/arrow-left-circle.svg);
                    margin-left: 0;
                    margin-right: 10px;
                }
            }

            &.left {
                margin-left: 2px;
                padding-left: 30px;
                padding-right: 10px;

                .prepaid-plans-bottom-content {
                    margin-right: 20px;
                    margin-left: 0;
                }
            }

            &.right {
                margin-right: 2px;
                padding-left: 10px;
                padding-right: 30px;

                .prepaid-plans-bottom-content {
                    margin-right: 0;
                    margin-left: 20px;
                }
            }
        }
    }

    @media (max-width: @screen-sm-max) {
        .main-container {
            h1 {
                margin-top: 30px;
            }

            h3 {
                margin: 0;
            }

            .cardsContainer .cardContainer {
                margin: 0;

                max-width: none !important;
                padding: 0 25px !important;

                .discoveryCard {
                    border: 0;

                    .actionsContainer {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }

                    .thumbnailContainer {
                        display: none;
                    }

                    .content {
                        display: none;
                    }
                }
            }
        }

        .prepaid-plans-bottom {
            position: relative;
            background-repeat: no-repeat;
            background-size: auto 40%;
            background-position: 90% 100%;
            height: 200px;

            img {
                display: none;
            }

            .prepaid-plans-bottom-content {
                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 20px;
                    padding-right: 55px;

                    h3::after {
                        position: absolute;
                        top: 5px;
                        right: 0;
                        padding: 12px;
                        margin: 20px;
                    }
                }

                p {
                    display: none;
                }
            }
        }

        html[dir=rtl] & {
            .prepaid-plans-bottom {
                background-position: 10% 100%;

                .prepaid-plans-bottom-content {
                    a {
                        padding-left: 55px;
                        padding-right: 20px;

                        h3 {
                            font-size: 20px;

                            &::after {
                                left: 0;
                                right: inherit;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: @screen-md-min) {
        .prepaid-plans-bottom {
            background-image: none !important;
        }
    }
}