.poll {
    .bars {
        .bar {
            width: 90%;
            @media(max-width: @screen-md) {
                width: 100%;
            }
            height: 20px;
            .floatright();
            background: white;
            box-shadow: inset 0px 0px 1px 1px rgba(0, 152, 233, 0.1);
            >span {
                display: inline-block;
                height: 20px;
                width: 100%;
                background: @blu;
                .transform(scaleX(0));
                .transition(all .4s ease-out);
                .transform-left();
                transition-delay: .2s;
            }
        }
    }
}
