.container-du.mobile-plan-tourist {
    /* ATOMIC CLASSES */
    .text-center .card-item {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    .no-margins {
        margin: 0 !important;
    }

    /* HEADER */
    .headerWrapper {
        .header-image {
            background: #000 url(../../images/plans-bg-tourist.jpg);
            background-position: right center;
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: @screen-lg-max) {
                height: 110px;
            }

            html[dir=rtl] & {
                background: #000 url(../../images/plans-bg-tourist-ar.jpg);
                background-position: left center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .header-content {
            @media (max-width: @screen-lg-max) {
                width: 60%;
            }

            @media (max-width: @screen-sm-max) {
                width: 70%;
            }

            [dir=rtl] & {
                @media (max-width: @screen-sm-max) {
                    width: 70%;
                }
            }

            .txt-box {
                html[dir=rtl] & {
                    margin: 24px 0;

                    h1 {
                        font-size: 28px;
                        line-height: 1.6em
                    }

                    h3 {
                        font-size: 16px;
                    }
                }

                @media (min-width: @screen-xl-min) and (max-width: @screen-xl-max) {
                    margin: 35px 0;

                    h1 {
                        font-size: 34px;
                    }
                    h3 {
                        font-size: 18px;
                    }

                    html[dir=rtl] & {
                        margin: 28px 0;
                    }
                }

                @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
                    margin: 15px 0;

                    h3 {
                        font-size: 14px;
                        line-height: 18px;
                    }

                    html[dir=rtl] & {
                        margin: 5px 0 !important;
                    }
                }

                @media (max-width: @screen-md-max) {
                    margin: 10px 0;

                    html[dir=rtl] & {
                        margin: 10px 0;

                        h1 {
                            font-size: 20px !important;
                            line-height: 1.375em !important;
                        }

                        h3 {
                            font-size: 16px !important;
                            line-height: 18px !important;
                        }
                    }
                }
            }
        }
    }

    /* SUB-TITLE */
    .choose-package-title {
        h2 {
            font-size: 24px;
            padding: 10px 0;

            @media (max-width: @screen-md-max) {
                font-size: 16px;
                padding: 0;
            }
            @media (max-width: @screen-xs-max) {
                font-size: 14px;
                padding: 0 10px;
            }
        }
    }

    /* CARD */
    .plan-cards {
        padding-bottom: 0;

        .card-item .card-content {
            .you-pay {
                h4 {
                    [dir=rtl] & {
                        font-size: 14px;
                    }
                }

                h5 {
                    font-family: inherit;
                    font-size: inherit;
                    color: inherit;
                    line-height: 1.8em;
                    padding: 12px 10px 12px 10px !important;
                    margin-bottom: 0;
                    margin: 0;

                    mark {
                        color: #c39;
                        background: none;

                        strong {
                            font-family: 'DuCoHeadlineRegular';
                            font-size: 36px;
                            font-weight: 500;
                            line-height: 1em;
                        }
                    }
                }
            }

            .you-get {
                h4 {
                    margin: 0 !important;
                    padding: 10px 10px;
                    line-height: 1.2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    [dir=rtl] & {
                        font-size: 14px;
                    }
                }

                & > div > h5 {
                    padding: 10px 0 10px 0;
                    border-bottom: 1px solid #09c;
                    line-height: 1.25em;
                    height: 100%;
                    font-family: inherit;
                    font-size: inherit;
                    color: inherit;
                    position: relative;

                    mark {
                        color: #09c;
                        background: none;
                    }

                    strong {
                        font-family: 'DuCoHeadlineRegular';
                        font-size: 36px;
                        font-weight: 500;
                        line-height: 1em;
                    }

                    small {
                        font-size: 12px !important;
                    }
                }

                & > div.benefits .extra {
                    padding-top: 16px;

                    .freebie {
                        display: inline-block;
                        width: 38%;
                        vertical-align: middle;
                        padding: 0 5px;

                        &[href="javascript: void(0);"], &[href="#"] {
                            pointer-events: none;
                        }

                        &:before {
                            display: none;
                        }

                        &.uber-freebie {
                            width: 20%;
                        }

                        img {
                            width: 100%;
                        }
                    }
                }

                & > div.item3 {
                    h5 {
                        border-bottom: none;
                    }

                    strong {
                        font-size: 28px;
                    }
                }

                .card-cta {
                    .planinfo-button-text {
                        &-short {
                            display: none;
                        }
                        &-long {
                            display: inline;
                        }
                    }

                    @media (min-width: 992px) and (max-width: 1050px) {
                        .planinfo-button-text {
                            &-short {
                                display: inline !important;
                            }
                            &-long {
                                display: none !important;
                            }
                        }
                    }
                }
            }

            .benefits {
                div:last-child h5 {
                    border-bottom: 0;
                }
            }
        }
    }

    /* FOOTER */
    #footer {
        margin-top: 0;
        border-top: 0;
    }

    /* FAQS - T&C */
    .du-accordion {
        .block-content.container.addons {
            .filterBtns {
                margin-bottom: 50px;
                position: relative;
                display: inline-block;
                width: 100%;
                text-align: center;
                vertical-align: middle;

                a.btn {
                    width: auto;
                    float: none;
                    display: inline-block;
                    outline: none;
                    
                    -webkit-border-radius: 5px !important;
                    -moz-border-radius: 5px !important;
                    -o-border-radius: 5px !important;
                    -ms-border-radius: 5px !important;
                    white-space: nowrap;
                    overflow: hidden;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    line-height: 30px;
                    height: 32px;
                    min-width: 75px;
                    font-size: 1em;
                    text-align: center;
                    font-family: "DuCoHeadlineRegular",Arial,sans-serif;
                    border: 1px solid #dcdee1;
                    background: #fff;
                    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                    background: -moz-linear-gradient(top,#fff 0,#f0f0f0 100%);
                    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fff),color-stop(100%,#f0f0f0));
                    background: -webkit-linear-gradient(top,#fff 0,#f0f0f0 100%);
                    background: -o-linear-gradient(top,#fff 0,#f0f0f0 100%);
                    background: -ms-linear-gradient(top,#fff 0,#f0f0f0 100%);
                    background: linear-gradient(to bottom,#fff 0,#f0f0f0 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f0f0f0',GradientType=0);
                    margin-top: 10px;
                    color: #09c !important;
                    padding: 0 10px !important;
                    margin: 0 !important;
                    box-shadow: none !important;

                    &:first-child:not(:last-child) {
                        border-bottom-right-radius: 0 !important;
                        border-top-right-radius: 0 !important;
                    }
                    &:last-child:not(:first-child) {
                        border-bottom-left-radius: 0 !important;
                        border-top-left-radius: 0 !important;
                    }

                    [dir=rtl] & {
                        &:first-child:not(:last-child) {
                            border-bottom-right-radius: 5px !important;
                            border-top-right-radius: 5px !important;
                            border-bottom-left-radius: 0 !important;
                            border-top-left-radius: 0 !important;
                        }
                        &:last-child:not(:first-child) {
                            border-bottom-left-radius: 5px !important;
                            border-top-left-radius: 5px !important;
                            border-bottom-right-radius: 0 !important;
                            border-top-right-radius: 0 !important;
                        }
                    }

                    &.is-checked {
                        color: #fff !important;
                        background: #006db9;
                        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                        background: -moz-linear-gradient(top,#069 0%,#0098cb 97%,#00b4da 98%,#00b4da 100%);
                        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#069),color-stop(97%,#0098cb),color-stop(98%,#00b4da),color-stop(100%,#00b4da));
                        background: -webkit-linear-gradient(top,#069 0%,#0098cb 97%,#00b4da 98%,#00b4da 100%);
                        background: -o-linear-gradient(top,#069 0%,#0098cb 97%,#00b4da 98%,#00b4da 100%);
                        background: -ms-linear-gradient(top,#069 0%,#0098cb 97%,#00b4da 98%,#00b4da 100%);
                        background: linear-gradient(to bottom,#069 0%,#0098cb 97%,#00b4da 98%,#00b4da 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699',endColorstr='#00b4da',GradientType=0);
                    }
                }
            }

            h4 {
                font-family: "DuCoHeadlineRegular",Arial,sans-serif;
                font-size: 17px;
                line-height: 19px;
                margin-top: 0;
                margin-bottom: 16px;

                &.subtitle {
                    font-size: 23px;
                    color: #666;
                }
            }

            p {
                margin-bottom: 16px;
            }
        }
    }
}