@import "../variables";

.modTextual.cart {
  .navigation .item a {
    @media screen and (max-width: 479px) {
      line-height: 35px;
    }
  }
  .contents {
    margin-top: 0;
  }
}

.modTextual.multi-column {
  margin: 30px 0;
  overflow: visible;

  div[class^="row"] {
    width: auto;
    div[class^="oneof"] {
      padding: 0 10px;
      box-sizing: border-box;
    }
  }

  .navigation .item {
    box-sizing: border-box;
    @media screen and (min-width: 768px) {
      width: 50%;
    }

    a {
      box-sizing: border-box;

      @media screen and (max-width: 479px) {
        height: auto;
      }

      @media screen and (min-width: 480px) {
        height: 52px;
      }
    }

    &.selected a {
      @media screen and (min-width: 768px) {
        border: 1px solid @linemedgrey !important;
        .clearborderleft() !important;
      }
    }
  }

  .contents {
    background-color: @verylightgrey;
    overflow: visible;

    .items {
      overflow: visible;

      @media screen and (max-width: 479px) {
        padding: 0;
      }

      .item {
        padding-top: 1px;

        p {
          margin-bottom: 0;
        }

        .radios {
          margin-top: 15px;

        }

        .group label {
          float: none;
          width: 100%;
          top: 0;
          margin-bottom: 5px;

          &.ch-control {
            width: 100%;
            float: left;
            margin-right: 15px;

            &.inline {
              width: auto;
            }
          }
        }

        ul, li {
          margin: 0;
        }
      }

      &.single-item .item {
        display: block;
      }
    }
  }

  .submit-btns.centered {

    display: block;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 15px 0;
    }

    @media screen and (min-width: 768px) {
      width: 75%;
      margin: 15px auto;
    }

    .btn-right {
      width: 100%;

      @media screen and (max-width: 479px) {
        margin: 10px 0;
      }

      @media screen and (min-width: 480px) {
        margin: 0;
      }
    }
  }

  &.single-item {
    .contents {
      min-height: 0;
      margin-top: 0;
    }
  }
}