.request-fixed {
    h3 {
        line-height: 24px;
    }
    h2.title {
        line-height: 32px;
    }
    .small-title {
        line-height: 25px;
    }
    .plan-selector-v2-wrapper {
        border-top-width: 0px;
    }
    .title-paragraph {
        margin-bottom: 50px;
    }
    .question {
        text-align: center;
        margin-bottom: 10px;
        margin-bottom: 20px;
    }
    .yes-no-radio {
        margin-bottom: 40px;
        :first-child {
            .textalign();
            .padding-right(16px);
            //to prevent the padding from damaging the layout 
            .box-sizing();
        }
        .ch-control {
            @media(max-width: @screen-md) {
                width: 50%;
            }
        }
    }
    .select-location-title,
    .choose-package-title,
    .upload-documents-title,
    .details-form-title,
    .confirm-title {
        margin-top: 30px;
        text-align: center;
    }
    .select-location-title {
        margin-bottom: 50px;
    }
    .upload-documents-title {
        margin-bottom: 40px;
    }
    .form.horizontal.landline-num {
        margin-top: 18px;
        width: 290px;
        margin: auto;
        display: block;
        margin-bottom: 21px;
        .group .control {
            width: 100%;
        }
    }
    .center-auto-radio {
        margin-bottom: 30px;
        text-align: center;
        &.three .group .ch-control {
            @media (max-width: @screen-sm) {
                width: 100%;
                .defaulttextalign();
            }
        }
        .group {
            width: auto;
            .ch-control {
                width: auto;
                .padding-right(16px);
            }
        }
    }
    ul.list-table li {
        padding: 15px 0;
        &:first-child {
            border-top-width: 0
        }
        div.info-column:first-child {
            width: 22%;
        }
    }
    .info-column.action {
        .textalign();
    }
   
    .upload-documents {
        .list-table {
            margin-bottom: 33px!important;
            @media (min-width: @screen-md) {
                .info-column {
                    position: relative;
                }

                i.icon.icon-info-circled {
                    /*position: absolute;
                    right: -9px;*/
                }
            }
        }
        //to cancel center radio spacing without affecting the orginal style
        .center-auto-radio+.list-table {
            margin-top: -25px!important;
        }
    }
    .details-form {
        .form-title {
            margin-top: 10px;
            margin-bottom: 2px;
        }
        .form.vertical-form {
            margin-bottom: 0
        }
        fieldset {
            margin-bottom: 25px;
            margin-top: 22px;
        }
    }
    .options-title {
        margin-bottom: 15px;
    }
    .rounded-options {
        margin-bottom: 45px;
        .mobile-column {
            @media(max-width: @screen-md) {
                &+.mobile-column {
                    margin-top: 40px;
                }
            }
            @media (min-width: @screen-md) {
                .floatleft();
                width: 50%;
            }
            .item+.item {
                margin-top: 2px;
            }
            .item {
                transition: all .2s;
                border: 1px solid #dcdee1;
                .rounded-corners(3px);
                background: @white;
                color: @blu;
                cursor: pointer;
                padding: 10px;
                &:hover {
                    background: @white - #111;
                }
                &:active {
                    background: @white - #222;
                }
                &.active {
                    background: @blu;
                    color: white;
                }
                @media (max-width: @screen-md) {
                    margin-top: 2px
                }
            }
            &:first-child .item {
                @media (min-width: @screen-md) {
                    .margin-right(10px);
                }
            }
            &:last-child .item {
                @media (min-width: @screen-md) {
                    .margin-left(10px);
                }
            }
        }
    }
    //overriding original dropzonejs style
    .dropzone {
         margin: 0;
        &.dz-max-files-reached .dz-default.dz-message {
            display: none;
        }
        .dz-preview.dz-file-preview {
            border-width: 0;
            padding: 0;
            max-width: 90%;
            .dz-error-message {
                position: relative;
                clear: both;
                left: auto;
                top: auto;
                width: 100%;
                max-width: inherit;
                min-width: auto;
                float: left;
                padding: 0;

                span {
                    display: inline-block;
                    padding: 0 0 10px;
                }
            }
            .dz-remove {
                .floatleft();
            }
            &.dz-success {
                .dz-error-message {
                    display: none;
                }
            }
        }

        .dz-size,
        .dz-filename
        .dz-message {
            padding: 0!important
        }

        .dz-details {
            padding-bottom: 10px !important;
            width: 100% !important;
        }

        .dz-preview .dz-details .dz-filename,
        .dz-preview .dz-size {
            line-height: inherit;
            .padding-left(20px) !important;
            .margin-left(0);
        }
        .dz-preview .dz-error-mark, .dz-preview .dz-success-mark {
            position: static;
            padding: 0;
        }
        .dz-error-mark span,
        .dz-success-mark span {
            position: absolute;
            .posright(auto);
            .posleft(0);
            top: 0px;
        }
        &.dz-clickable.dz-started.dz-max-files-reached {
            //width: 100%
        }
        .dz-details {
            max-width: 100%
        }
        ul.list-table li & div {
            padding-top: 0!important;
            padding-bottom: 0!important;
        }
        .dz-preview .dz-progress {
            left: inherit;
            right: 0;
            display: none;
        }
        .dz-preview .dz-progress {
            height: 10px;
            margin-top: 6px;
            border-radius: 30px;
        }
        .dz-upload {
            border-radius: 30px;
        }
        .dz-preview .dz-size {
            display: none;
        }
        .dz-message {
            height: inherit;
            line-height: inherit;
            margin-bottom: inherit;
        }

        @media (max-width: 767px) {
            .dz-default.dz-message {
                display: block;
            }
        }

        &.dz-started {
            .dz-default.dz-message {
                display: none !important;
            }
        }

        .dz-remove {
            margin-bottom: 0 !important;
        }
    }
    //END 
    //aligning error message on the left
    .group .help,
    .group .instructions {
        .margin-left(initial);
        width: auto;
    }
    //END
}

.btn.continue {
    margin: 0 auto;
    margin-bottom: 35px;
    display: block;
}

.selectric-date-select {
    // max-width: 32%;
    width: 32.3%;
    @media(max-width: @screen-lg) {
        width: 32.25%;
    }
    @media(max-width: @screen-md) {
        width: 31.60%;
        ;
    }
    @media(max-width: @screen-sm) {
        // width: 32.5%;
        width: 32.1%;
    }

    display: inline-block;
}

.italic {
    font-style: italic;
}
.arrow-line {
    position: relative;
    .arrow {
        width: 100%;
        height: 14px;
        background: url(../../images/navselect_active_arrow_dwn.png) 50% 0 no-repeat;
        position: absolute;
        top: 0px;
        .posleft(0);
    }
    .separator {
        margin-top: 0;
    }
}

.select-address-section .column {
    .floatleft();
    width: 26%;
    margin: 0 3.6%;
    margin-bottom: 18px;
    .selectricWrapper {
        .margin-right(6px);
        margin-bottom: 6px
    }
}

h2.regular {
    font-family: 'DuCoHeadlineLightRegular';
}

.modTextual.multi-column .submit-btns.centered.sub-tab {
    margin-bottom: -20px;
}