@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "mod.dials.less";

.dashboard {

  position: relative;
  margin-top: 10px;

  #graphLink {

    //.floatright();
    padding: 10px;
    position: absolute;
    .posright(0);
    z-index: 500;

    .icon {
      .margin-right(10px);
    }

    [class^="icon-"]:before, [class*=" icon-"]:before {
      font-size: 20px;
    }

  }

  .payment {
    padding: 20px 0 40px 0;
    display: inline-block;
    position: relative;
    width: 100%;

    .payment-detail {
      text-align: center;
      .box-sizing();

      @media (min-width: @screen-sm) {
        .borderright(@bordergrey);
        padding: 10px 0;

        &.last-child {
          .clearborderright();
        }
      }

      @media (max-width: @screen-sm-min) {
        border-bottom: solid 1px @bordergrey;
        padding: 10px 0;

        &.last-child {
          border-bottom: 0;
        }
      }
      .balance {
        font-size: 28px;
        margin: 8px 0 5px;
        .measure {
          font-size: 18px;
        }
      }
    }

    &.payment-overhead {
      padding: 0 0 80px 0;
      .row20 {
        //display: none;
      }
      @media (max-width: @screen-sm-max) {
        padding: 0 0 140px 0;
        h1 + .row20 {
          display: block;
        }
      }

      .btn {
        position: absolute;
        .posright(0);
        bottom: 20px;

        &#show-details {
          display: none;
        }

        @media (max-width: @screen-sm-max) {
          bottom: 80px;
          width: 100%;

          &#show-details {
            bottom: 20px;
            display: inline-block;
          }
        }
      }
    }
  }

  .overhead {
    padding: 20px 0 20px 0;
    display: inline-block;
    position: relative;
    width: 100%;

    &#oldPrepaidInfo0 {
      padding-top: 0;
    }

    @media (max-width: @screen-sm-max) {
      padding: 0 0 130px 0;
    }

    h1 {
      margin-bottom: 30px;
    }

    .edit-name {
      [class^="icon-"]:before, [class*=" icon-"]:before {
        font-size: 16px
      }
    }
    .btn {
      position: absolute;
      .posright(0);
      bottom: 40px;

      &#show-details {
        display: none;
      }

      @media (max-width: @screen-sm-max) {
        bottom: 60px;
        width: 100%;

        &#show-details {
          bottom: 0;
          display: inline-block;
        }
      }
    }
  }

  .graph + .overhead {
    //padding-top: 40px;
  }

  .overhead-details {
    text-align: center;
    padding: 0;

    @media (max-width: @screen-sm-max) {
      max-height: 0;
      overflow: hidden;
      .transition(all .5s ease-out);

      &.content-active {
        max-height: 1800px;
        overflow: hidden;
        padding-top: 20px;
      }
    }

    .details-container {
      border-bottom: solid 1px @bordergrey;

      .detail {
        display: inline-block;
        .borderright(@bordergrey);

        &.last-child {
          .clearborderright();
        }

        .box-sizing();
        margin: 0;
        height: 200px;
        padding: 50px 20px 0 20px;

        p {
          margin-bottom: 0;
        }

        button {
          margin: 10px 0;
        }

        @media (max-width: @screen-sm-max) {
          .clearborderright();
          border-bottom: solid 1px @bordergrey;
          width: 100%;
          height: auto;
          padding: 20px;

          button {
            margin: 10px 0 0;
          }
        }
      }
    }

    .features-container {
      .feature {
        .floatleft();
        position: relative;
        text-align: center;
        display: inline-block;
        .box-sizing();
        margin: 0;
        height: auto;
        padding: 50px 20px;
        line-height: 22px;
        position: relative;

        @media (max-width: @screen-sm-max) {
          width: 100%;
          //height: 100px;
          padding: 20px;
          border-bottom: solid 1px @bordergrey;
        }

        .icon {
          color: @blu;

          @media (max-width: @screen-sm-max) {
            //.floatleft();
          }
        }

        .text {
          margin-bottom: 15px;
          margin-top: 5px;
          @media (max-width: @screen-sm-max) {
            //.floatleft();
            margin: 0;
            margin-top: 6px;
            margin-bottom: 15px;
            //.margin-left(10px);
            //avoid button overlap
            //.margin-right(-8px);
          }

          p {
            margin-bottom: 5px;
          }

          .bold {
            white-space: nowrap;
          }
        }

        button {
          float: none;
          display: inline-block;
          .margin-right(0);

          @media (max-width: @screen-sm-max) {
            //.floatright();
            margin-bottom: 0;
          }
        }

      }
    }
  }

  .account-details {
    .floatleft();

    .spinner {
      line-height: 29px;
    }
  }

  .plans-accordion {
    & > ul > li {
      border-bottom: solid 1px @bordergrey;
      &:last-child {border-bottom: 0;}
      padding-left: 0;
      padding-right: 0;
    }
    .plan-nn-container {
      .floatleft();
      .padding-left(60px);
      position: relative;

      > .icon {
        position: absolute;
        .posleft(0px);
        top: 0
        /*.floatleft();
        width: auto;
        height: auto;
        .margin-right(10px);*/
      }
      [class^="icon-"]:before, [class*=" icon-"]:before {
        font-size: 48px;
        color: @blu
      }
      h3 {
        .floatleft();
      }
      p {
        .floatleft();
        .clearleft();

        .icon {
        }
        [class^="icon-"]:before, [class*=" icon-"]:before {
          font-size: 18px;
          color: @blu
        }
      }
    }

    .accordion-action {
      .floatright();
      margin-top: 16px;

      &:after {
        font-family: "duicons";
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        font-size: 16px;
        visibility: visible;
      }

      &.hide {
        display: block !important;
        &:after {
          content: '\e80d';
        }
      }

      &.show {
        &:after {
          content: '\e80e';
        }
      }
      @media (max-width: @screen-sm-max) {
        visibility: hidden;
        margin-top: 0;
        float: none;
        position: absolute;
        .posright(0);
        top: 44%;
        &:after {
          font-size: 30px;
        }
      }
    }

    .plan-head {
      padding: 20px 0;
      position: relative;
    }

    .plan-content {
      max-height: 0;
      overflow: hidden;
      .transition(all .5s ease-out);
      .modDials {
        .itemsW {
          height: 295px !important;
        }
      }

      &.plan-content-active {
        max-height: 1800px;
        overflow: hidden;
      }

      @media (max-width: @screen-sm-max) {
        .btn {
          margin-bottom: 15px;
        }
      }


    }

    .plan-features-container {
      padding: 30px 20px;

      .plan-action {
        .floatleft();
        display: inline-block;
        .box-sizing();
        //margin: 10px 0;
        height: auto;
        padding: 10px 0;
        position: relative;
        //.borderright(@bordergrey);
        text-align: center;
        //a class last-child is needed here, because most probably the clearfix is being counted as last
        &.last-child {
          .clearborderright();
        }

        @media (max-width: @screen-sm-max) {
          padding: 10px 0;
          width: 100%;
          .clearborderright();
          border-top: 0;
          border-bottom: 0;
          .defaulttextalign();
          &.last-child {
            border-bottom: 0;
          }
        }

        .icon {
          color: @blu;
          //.floatleft();
          display: inline-block;
          .margin-left(10px);

          @media (max-width: @screen-sm-max) {
            .margin-left(0);
          }
        }


        .text {
          .defaulttextalign();
          .margin-left(5px);
          display: inline-block;
          position: relative;
          top: -7px;
          //.floatleft();
          h4 {
            cursor: not-allowed;
            a {
              cursor: pointer;
            }
          }

          @media (max-width: @screen-xl-max) {
            display: block;
            margin: 0;
            top: auto;
            text-align: center;
          }

          @media (max-width: @screen-sm-max) {
            display: inline-block !important;
            .defaulttextalign();
            .margin-left(5px);
            top: -7px;
          }

        }

        &.push1of4 {
          .margin-left(25%);

          @media (max-width: @screen-sm-max) {
            .margin-left(0);
          }
        }

        &.oneof5 {
          .text {
            clear: both;
            display: block;
            padding-top: 10px;

            h4 {
              text-align: center;
            }
          }
        }
      }

      .plan-action-table {
        margin: 20px 0;
        padding: 10px 0;

        @media (max-width: @screen-sm-max) {
          margin: 0 0 20px;
        }

        li {
          margin: 0;
          height: auto;
          padding: 10px 0;
          .floatleft();
          width: 100%;
          border-top: solid 1px @bordergrey;

          &.last-child {
            border-bottom: solid 1px @bordergrey;
          }

          button, .btn-switch {
            .floatright();
            .margin-right(0);
            margin-bottom: 0;
          }

          .text {
            h4 {
              margin-top: 8px;
            }
            .floatleft();
            @media (max-width: @screen-sm-max) {
              width: 50%;
              h4 {
                margin-top: 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  .manage-accounts {
    .floatleft();
    margin-top: 30px;
    .form button, .form input {
      float: left
    }
    .plans-accordion {
      border-top: 1px solid #ccc
    }
  }

  .ac-status {
    width: 100%;
    text-align: center;
    margin: 0 0 25px;

    &.info {
      color: @green;
    }
  }

}
