.plans.pay-as-you-go .col-xs-12.col-sm-12.col-md-4.col-lg-4 {
    padding-left: 7.5px;
    padding-right: 7.5px;

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }

    html[dir=rtl] & {
        &:first-child {
            padding-left: 7.5px;
            padding-right: 0;
        }
        &:last-child {
            padding-left: 0;
            padding-right: 7.5px;
        }
    }
}


html[dir=rtl] .plans.pay-as-you-go {
    section.headerWrapper {
        .header-image {
            background-position: left center !important;
        }
    }
}

.plans.pay-as-you-go,
html[dir=rtl] .plans.pay-as-you-go {

    .hide {
        display: none !important;
    }

    * {
        .box-sizing();
    }

    &.content {
        padding-left: 0;
        padding-right: 0;

        @media (max-width: 767px) {
            .headerWrapper {
                margin-top: 10px;
            }
        }
        @media (min-width: 768px) {
            margin-top: 10px !important;
        }
    }

    section {
        margin-bottom: 0;
    }

    .col-md-4 {
        text-align: center;
    }

    .container-padded {
        padding: 0 20px;
    }

    /* HEADER */
    .headerWrapper {
        width: 100%;
        margin: 0 0 25px;
        position: relative;
        margin: 0 auto;

        .header-image {
            background: #000 url(../../images/plans-bg-postpaid.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 150px;
            margin-top: -22px;
        }

        .header-content {
            width: 50%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;

            .txt-box {
                .rounded-corners2(0,12px,12px,0);
                width: 100%;
                border-left: 10px solid @pink;
                margin: 25px 0;
                padding: 10px 20px;
                position: relative;

                &:before {
                    content: ' ';
                    .rounded-corners2(0,12px,12px,0);
                    width: 100%;
                    height: 100%;
                    background: @white;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 0;
                    .opacity(0.9);
                }

                h1 {
                    font-size: 44px;
                    position: relative;
                    z-index: 2;
                    margin-top: 0;
                }

                h3 {
                    font-size: 24px;
                    .CoHeadlineLightRegular();
                    color: @blu;
                    position: relative;
                    z-index: 2;
                }
            }

            &.right {
                right: 0;
                left: auto;

                .txt-box {
                    .rounded-corners2(12px,0,0,12px);
                    border-left: 0;
                    border-right: 10px solid @pink;

                    &:before {
                        content: ' ';
                        .rounded-corners2(12px,0,0,12px);
                        left: auto;
                        right: 0;
                    }

                    h1, h3 {
                        text-align: right;
                    }
                }
            }
        }

        @media (max-width: @screen-xl-max) {
            .header-content {
                .txt-box {
                    margin: 30px 0;

                    h1 {
                        font-size: 38px;
                    }

                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }

        @media (max-width: @screen-lg-max) {
            .header-content {
                .txt-box {
                    margin: 35px 0;

                    h1 {
                        font-size: 34px;
                    }

                    h3 {
                        font-size: 18px;
                    }
                }
            }
        }

        @media (max-width: @screen-md-max) {
            .header-image {
                height: 110px;
            }

            .header-content {
                width: 60%;
                height: 110px;

                .txt-box {
                    margin: 15px 0;

                    h3 {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        @media (max-width: @screen-sm-max) {
            .header-image {
                height: 110px;
            }

            .header-content {
                width: 60%;
                height: 110px;

                .txt-box {
                    margin: 10px 0;

                    h1 {
                        font-size: 20px;
                    }

                    h3 {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }

        @media (max-width: @screen-xs) {
            .header-content {
                width: 70%;
            }
        }
    }
    section.headerWrapper {
        .header-image {
            background-position: right center;
        }

        & .header-content {
            width: auto;

            .txt-box {
                min-height: 90px;

                padding: 15px;
                margin: 25px 0;

                html[dir=rtl] & {
                    margin: 15px 0 !important;
                }

                @media (max-width: @screen-lg-max) {
                    margin: 5px 0; 
                }

                @media (min-width: 1000px) and (max-width: @screen-lg-max) {
                    margin: 25px 0; 
                }

                @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
                    html[dir=rtl] & {
                        margin: 0 !important;
                    }
                }

                @media (max-width: @screen-md-max) {
                    html[dir=rtl] & {
                        margin: -10px !important;
                    }
                }
            }
        }
    }

    .bg-grey {
        background-color: #F7F7F7;
        border-bottom: solid 1px #ccc;
        position: relative;
    }

    .section-padding {
        padding: 25px 0;

        &.bg-grey {
            padding: 25px;

            ul li {
                margin-bottom: 3px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    h2 {
        font-size: 20px;
        font-family: 'DuCoHeadlineRegular';
        margin: 0 0 30px 0;
    }

    h3 {
        font-size: 17px;
        font-family: "DuCoHeadlineBold";
        color: #323434;
        margin: 0 0 3px 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
        line-height: normal;
    }

    hr {
        height: 0;
        border: 0;
        border-top: solid 1px #09c;
        margin: 40px 0 25px 0;
        overflow: visible;
        
        &::after {
            content: "\A";
            position: relative;
            top: -15px;
            background-color: #fff;
            height: 30px;
            width: 30px;
            display: inline-block;
        }

        &.title-1::after {
            background-image: url(../../images/icon-step-1.svg);
        }

        &.title-2::after {
            background-image: url(../../images/icon-step-2.svg);
        }

        &.title-3::after {
            background-image: url(../../images/icon-step-3.svg);
        }
    }

    .cardContainer {
        display: inline-block;
        width: 100%;
        max-width: 380px;
        padding: 0;
        vertical-align: top;
        text-align: left;

        [dir="rtl"] & {
            text-align: right;
        }

        .discoveryCard {
            border: 1px solid #dddddd;
            border-radius: 50px;

            .thumbnailContainer {
                height: 150px;
                overflow: hidden;
                border-radius: 50px 50px 0 0;

                .thumbnail {
                    border: 0;
                    padding: 0;
                    border-radius: 0;
                    margin: 0;
                    width: 100%;
                }
            }

            .content {
                padding: 20px 20px 40px 20px;
                line-height: 1.6em;
                text-align: center;
                min-height: 260px;

                h4 {
                    font-family: "DuCoHeadlineBold";
                    font-size: 15px;
                    margin: 0;
                    margin-bottom: 10px;
                }

                ul li {
                    padding: 10px 0;
                    margin: 0 30px;
                    border-bottom: solid 1px #dddddd;

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }

            .actionsContainer {
                padding: 0 20px 20px 20px;

                .actionButton {
                    display: block;
                    position: relative;
                    padding: 18px 30px 16px 65px;
                    text-align: left;
                    text-decoration: none !important;
                    color: #04B0DC;
                    font-family: "DuCoHeadlineRegular", Arial, sans-serif;
                    border: 1px solid #04B0DC;
                    line-height: 1.6;
                    border-radius: 31px;
                    height: 62px;
                    font-size: 13px;

                    &.my-account::before {
                        background-image: url(../../images/icon-my-account.svg);
                        background-size: 55%;
                    }

                    &.online-banking::before {
                        background-image: url(../../images/icon-online-banking.svg);
                        background-size: 45%;
                    }

                    &.vouchers::before {
                        background-image: url(../../images/icon-vouchers.svg);
                        background-size: 35%;
                    }

                    &.payment-machines::before {
                        background-image: url(../../images/icon-payment-machines.svg);
                        background-size: 45%;
                    }

                    &.credit-transfer::before {
                        background-image: url(../../images/icon-credit-transfer.svg);
                    }

                    &::before {
                        content: "\A";
                        position: absolute;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-position: center center;
                        top: 5px;
                        width: 50px;
                        height: 50px;
                        border: 1px solid #04B0DC;
                        border-radius: 25px;
                        background-image: url(../../images/icon-email.svg);
                        background-size: 60%;
                        left: 6px;
                    }

                    &::after {
                        content: "\A";
                        position: absolute;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-position: center center;
                        top: 24px;
                        width: 9px;
                        height: 12px;
                        background-image: url(../../images/icon-caret-right.svg);
                        right: 23px;
                    }
                }

                &.splitImages {
                    display: inline-block;
                    width: 100%;

                    .actionButton {
                        border: solid 1px transparent;
                        background-size: 75%;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-color: #000;
                        width: 50%;

                        &::before, &::after {
                            content: none;
                        }

                        &:first-child {
                            float: left;
                            border-radius: 31px 0 0 31px;
                            border-right: solid 1px #FFF;
                        }

                        &:last-child {
                            float: right;
                            border-radius: 0 31px 31px 0;
                            border-left: solid 1px #FFF;
                        }
                    }
                }
            }
        }
    }

    #map-module-form {
        display: inline-block;
        width: 100%;
        margin-top: 30px;
    }

    @media (max-width: @screen-xs-max) {
        .row .col-xs-12.col-sm-12.col-md-4.col-lg-4 {
            padding: 0 25px !important;
        }

        .sticky-section-enum {
            h2, h3, p {
                padding: 0 25px;
            }
        }
    }

    @media (max-width: @screen-sm-max) {
        .col-md-4 {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .container-padded {
            padding: 0;
        }

        section.headerWrapper {
            margin-top: 20px;

            & .header-content .txt-box {
                top: 10px;
                min-height: 0;
            }
        }

        .choose-package-title {
            padding: 15px 0;
        }

        .bg-grey {
            border-top: solid 1px #ccc;
        }

        .arrow-white, .arrow-border {
            display: none !important;

            top: -1px;
            left: ~"calc(50% - 14px)";
            height: 50px;
            width: 0;
            position: absolute;

            .arrow-inner {
                width: 0;
                height: 0;
                position: relative;
            }
        }

        .arrow-white {
            z-index: 775;

            .arrow-inner {
                border-left: 14px solid transparent;
                border-right: 14px solid transparent;
                border-top: 14px solid #FFF;
            }
        }

        .arrow-border {
            z-index: 774;
            left: ~"calc(50% - 16px)";

            .arrow-inner {
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                border-top: 16px solid #dddddd;
            }
        }

        .cardContainer {
            .discoveryCard {
                .content {
                    padding: 20px;
                    min-height: 100px;
                    height: auto !important;
                }
            }
        }

        .sticky-section-enum {
            -webkit-transform: translate3d(0, 0, 0);
              -ms-transform: translate3d(0, 0, 0);
              -o-transform: translate3d(0, 0, 0);
              -moz-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
        }

        .sticky-section-enum.is-stuck {
            position: fixed;
            top: 0;
            z-index: 776;
            width: 100%;
            background-color: #f7f7f7;
            border-bottom: 1px solid #dddddd;
            padding: 50px 0 20px 0;

            h2, p {
                display: none;
            }

            hr {
                border-top: 0;
                margin: 20px 0;

                &::after {
                    background-color: transparent;
                }
            }
        }
    }

    @media (min-width: @screen-md-min) {
        .cardContainer {
            .discoveryCard {
                .actionsContainer {
                    .actionButton {
                        .actionButtonText {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            padding: 0 40px 0 60px;
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}

.plans.pay-as-you-go {
    @import "mod.mobile-plan-prepaid-how-to-recharge.less";
}

html[dir="rtl"] .plans.pay-as-you-go {
    .bg-grey {
        ul li {
            padding-bottom: 10px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    .cardContainer {
        .discoveryCard {
            .actionsContainer {
                .actionButton {
                    padding: 18px 65px 16px 30px;
                    text-align: right;

                    &::before {
                        right: 6px;
                        left: initial;
                    }

                    &::after {
                        background-image: url(../../images/icon-caret-left.svg);
                        left: 23px;
                        right: inherit;
                    }
                }

                &.splitImages {
                    .actionButton {
                        &:first-child {
                            float: right;
                            border-radius: 0 31px 31px 0;
                            border-left: solid 1px #FFF;
                            border-right: solid 1px transparent;
                        }

                        &:last-child {
                            float: left;
                            border-radius: 31px 0 0 31px;
                            border-right: solid 1px #FFF;
                            border-left: solid 1px transparent;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 360px) {
    /* Fix for Android mobile portrait */
    html.touch.no-appleios .plans.pay-as-you-go {
        .choose-package-title,
        section.bg-grey {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media (max-width: @screen-sm-max) {
    .plans.pay-as-you-go,
    html[dir=rtl] .plans.pay-as-you-go {
        transition: none !important;
    }

    [dir="rtl"] .plans .headerWrapper .header-image {
        height: 144px;
    }

    html[dir=rtl] .plans.pay-as-you-go {
        .arrow-white {
            right: ~"calc(50% - 14px)";
        }

        .arrow-border {
            right: ~"calc(50% - 16px)";
        }
    }
}

@media (min-width: @screen-md-min) {
    .plans.pay-as-you-go,
    html[dir=rtl] .plans.pay-as-you-go {
        margin-top: 22px !important;
    }

    html[dir="rtl"] .cardContainer .discoveryCard .actionsContainer .actionButton {
        .actionButtonText {
            padding: 0 60px 0 40px !important;
        }
    }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    [dir="rtl"] .plans .headerWrapper {
        .header-image {
            height: 150px;
        }

        .header-content {
            .txt-box {
                margin-top: 30px;
            }
        }
    }
}

html[dir=rtl] .plans.pay-as-you-go section.headerWrapper .header-content .txt-box {
    margin-top: 26px !important;

    h1 {
        font-size: 28px;
        line-height: 1.6em;
    }

    h3 {
        font-size: 16px;
        line-height: 1.25em;
    }

    @media (max-width: 997px) {
        margin: 5px 0 !important;
        top: 10px;
        min-height: 0;

        h1 {
            font-size: 20px !important;
            line-height: 1.375em !important;
        }

        h3 {
            line-height: 18px;
        }
    }
}

html[dir=rtl] .plans.pay-as-you-go {
    h2, h3 {
        font-size: 16px !important;
    }

    h4 {
        font-size: 14px !important;
        margin-bottom: 16px !important;
    }

    ul li {
        font-size: 13px !important;
        line-height: 21px !important;
    }

    .content ul li {
        font-size: 14px !important;
    }
}


