@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "mod.dials.less";

.new-dashboard {
  margin-top: -10px;
  height: 100%;

  .alert {
    .rounded-corners(8px);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 0 0;
    .text-align(left);
  }

  .innerContainer {
    background: #efefef;
    padding-bottom: 30px;

    /*@media (max-width:@screen-sm-max) {
      padding-bottom: 30px;
    }*/

    .welcome {
      width: 100%;
      background: rgba(241,111,92,1);
      background: -moz-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 0%, rgba(54,173,209,1) 0%, rgba(54,173,209,1) 50%, rgba(170,85,159,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(54,173,209,1)), color-stop(50%, rgba(54,173,209,1)), color-stop(100%, rgba(170,85,159,1)));
      background: -webkit-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 0%, rgba(54,173,209,1) 0%, rgba(54,173,209,1) 50%, rgba(170,85,159,1) 100%);
      background: -o-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 0%, rgba(54,173,209,1) 0%, rgba(54,173,209,1) 50%, rgba(170,85,159,1) 100%);
      background: -ms-linear-gradient(left, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 0%, rgba(54,173,209,1) 0%, rgba(54,173,209,1) 50%, rgba(170,85,159,1) 100%);
      background: linear-gradient(to right, rgba(241,111,92,1) 0%, rgba(240,47,23,1) 0%, rgba(240,47,23,1) 0%, rgba(54,173,209,1) 0%, rgba(54,173,209,1) 50%, rgba(170,85,159,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#aa559f', GradientType=1 );

      /*-webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;*/

      padding: 30px 0 200px;
      
      h1 {
        color: #fff;
        font-size: 34px;

        @media (max-width:@screen-sm-max) {
          font-size: 24px;
        }
      }

      p {
        color: #fff;
      }

      .alert {
        .rounded-corners(8px);
        margin: 10px 0;
      }

    }

    .account-info {
      padding: 15px 0 0;
      .rounded-corners(10px);
      background: white;
      border: 1px solid @bordermedgrey;
      margin-top: -190px;

      h3 {
        font-family: "DuCoHeadlineRegular", Arial, sans-serif;
        margin: 0;
      }

      .account-head {
        padding-bottom: 10px;
        border-bottom: 1px solid @bordermedgrey;

        .left-column {
          .padding-left(20px);

          @media (max-width:@screen-sm-max) {
            .padding-left(10px);
          }
          .icon {
            .margin-right(5px);
          }
        }

        .accountNum {
          .text-align(right);
          padding: 10px 0 0;
          .padding-right(20px);

          @media (max-width:@screen-sm-max) {
            font-size: 14px;
            .padding-right(0);
          }

        }
      }

      .account-cta {
        //padding: 10px 0 0;

        > div {
          padding: 10px 25px 0;
          margin: 20px 0;
          position: relative;
          .borderleft(@bordermedgrey);

          @media (max-width:@screen-sm-max) {
            margin: 10px 0 0;
            padding: 10px 20px 0;
            border: 0 none;

            .your-plan, .amount-due {
              border-bottom: 1px solid @bordermedgrey;
              padding-bottom: 20px;
            }
            .misc-services {
              padding-bottom: 20px;
            }
          }

          &:first-child {
            border: 0 none;
          }

          > div {
            position: relative;
            width: 100%;
            .floatleft();
            .clearfix();
            //padding-bottom: 70px;

            h3 {
              color: @darkgrey;
              font: 18px/14px "DuCoHeadlineRegular", Arial, sans-serif;
              .margin-left(10px);
              .floatleft();

              span {
                font: 15px/14px "DuCoHeadlineLightRegular", Arial, sans-serif;
                margin: 10px 0 0;
                color: @mediumgrey;
                display: inline-block;
              }
            }

            .balance {
              font: 36px/22px 'DuCoHeadlineRegular';
              margin-bottom: 20px;

              .aed {
                font: 36px/22px 'DuCoHeadlineLightRegular';
              }
            }

            .min-due-info {
              h4 {
                font: 15px/14px "DuCoHeadlineLightRegular", Arial, sans-serif;
                color: @mediumgrey;
                margin-bottom: 0;
              }
            }

            .iconList {
              padding-top: 10px;
              padding-bottom: 0;
              border: 0 none;

              li {
                padding: 0 0 10px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                a {
                  color: @blu;

                  &:hover {
                    text-decoration: none;
                  }

                  .icon {
                    display: inline-block;
                    width: 25px;
                    height: 25px;

                    &:before {

                      margin-bottom: -3px;
                    }
                  }
                }

                &:last-child {
                  padding-bottom: 0;
                }
              }
            }

            .btn-rounded {
              max-width: 100%;
            }
          }

        }

        .btn {
          position: absolute;
          bottom: 0;

          @media (max-width:@screen-xs-max) {
            position: relative;
            margin: 20px 0 0;
          }
        }

        h4 {
          color: @mediumgrey;
          font: 16px/14px "DuCoHeadlineRegular", Arial, sans-serif;
          margin-bottom: 25px;
        }

      }
    }

    .usage-info {
      padding: 25px 0 0;
      .rounded-corners(10px);
      background: white;
      border: 1px solid @bordermedgrey;
      margin-top: 25px;

      .tabs-content {
        > div {
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .usage-head {
        width: 810px;
        margin: 0 auto;
        padding-bottom: 20px;
        border-bottom: 1px solid @bordermedgrey;

        @media (max-width:@screen-md-max) {
          width: 100%;
        }

        @media (min-width:@screen-ds) {
          width: 1015px;
        }

        ul {
          width: 100%;

          li {
            display: inline-block;
            padding: 0 15px;

            .icon {
              display: inline-block;
              margin-bottom: 5px;
              padding: 10px 12px;

              &.inverse {
                background: @blu;

                &:before {
                  color: @white;
                }
              }
            }

            &.active {
              .icon {
                  background: @blu;

                  &:before {
                    color: @white;
                  }
              }
            }

            &:hover {
              a {
                .icon {
                  background: @blu;
                  &:before {
                    color: @white;
                  }
                }
              }
            }
          }
        }
      }

      .usage-details {
        .modDials {
          padding: 0 0 45px;

          @media (max-width:@screen-sm-max) {
            margin-bottom: 5px;
          }

          &.one-dial {
            min-height: 270px !important;
            .items {
              margin: 0 auto;
              .item {
                padding-bottom: 45px;
              }
            }
          }

          .items {
            margin: 22px auto;
            left: 0;

            .item {
              padding-bottom: 85px;
              float: left;
              

              @media (min-width:@screen-sm) {
                padding-bottom: 95px;
              }
              .knob {
                .topText {

                }
              }

              &.empty-knob {
                h3 {
                  margin-bottom: 10px;
                  &:before {
                    display: none;
                  }
                  &:after {
                    display: none;
                  }
                }
                .empty-dial {
                  width: 200px;
                  height: 200px;
                  border: 1px solid @bordermedgrey;
                  .rounded-corners(50%);
                  padding: 0;
                  position: relative;
                  margin: 0 auto;
                  background: @verylightgrey;

                  .cta {
                    position: absolute;
                    top: 50%;
                    margin-top: -15px;
                  }
                }
              }
            }

            .cta {
              width: 100%;
              position: absolute;
              bottom: 22px;
              left: 0;
              right: 0;

              @media (max-width:@screen-sm-max) {
                bottom: 12px !important;
              }
            }
          }

          .buttonScroll {
            background: @verylightgrey;
            top: 95px !important;
            border: 1px solid @bordermedgrey;
            text-indent: 0;

            &:after {
              .icon(32px);
              content: '\E80E';
              color: @blu;
              position: absolute;
              top: 12px;
            }

            &.buttonScrollNext {
              right: -1px;
              //.posright(-1px);
              .rounded-corners2(6px, 0, 0, 6px);

              &:after {
                .transform(rotate(270deg));
                right: 4px;
              }
            }

            &.buttonScrollPrevious {
              left: -1px;
              //.posleft(-1px);
              .rounded-corners2(0, 6px, 6px, 0);

              &:after {
                .transform(rotate(-270deg));
                left: 4px;
              }
            }
          }

          .pagination {
            @media (min-width:@screen-lg) {
              margin: 0 auto;
            }
            ul {
              li {
                margin: 0 2px;
                float: left;
              }
            }
          }
        }

        .alert {
          .rounded-corners(0);
          border-right: 0 none;
          border-left: 0 none;
        }
      }

      .bill-payments {
        border-top: 1px solid @bordermedgrey;
        padding: 20px;
        .rounded-corners2(0, 0, 10px, 10px);
        background: @verylightgrey;

        @media (max-width:@screen-sm-max) {
          padding-bottom: 0;
        }

        .container-fluid {
          width: 810px;

          @media (max-width:@screen-xl) {
            width: 100%;
          }

          @media (min-width:@screen-ds) {
            width: 1015px;
          }

          .row {
            > div {
              position: relative;
              padding-bottom: 30px;
              .borderleft(@bordermedgrey);

              &:first-child {
                border: 0 none;
              }

              h3 {
                font: 14px/14px 'DuCoHeadlineRegular';
                margin: 15px 0 0;
              }
              .balance {
                font: 14px/14px 'DuCoHeadlineLightRegular';
                padding: 0 0 5px;

                .aed {
                  font: 14px/14px 'DuCoHeadlineLightRegular';
                }
              }
              h4 {
                font: 12px/12px 'DuCoHeadlineLightRegular';
                color: @mediumgrey;
                margin: 0 0 20px;
              }

              .cta {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
              }

              @media (max-width:@screen-sm-max) {
                border: 0 none;
                border-top: 1px solid @bordermedgrey;
                padding: 20px 0 10px;

                &:first-child {
                  padding-top: 5px;
                }

                h4 {
                  margin: 0;
                }

                .cta {
                  position: relative;
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }


      .modBalance {
        width: 810px;
        margin: 0 auto 30px;

        h3 {
          font: 18px/18px "DuCoHeadlineRegular", Arial, sans-serif;

          &.grey {
            font: 14px/14px "DuCoHeadlineRegular", Arial, sans-serif;
          }
        }

        @media (min-width:@screen-ds) {
          width: 1015px;
        }

        @media (max-width:@screen-xl) {
          .row {
            margin: 0;
          }
        }

        @media (max-width:@screen-md-max) {
          width: 100%;

          .row {
            margin: 0 10px;
          }

          h3 {
            font: 14px/14px "DuCoHeadlineRegular", Arial, sans-serif;
          }
        }

        @media (max-width:@screen-xs) {
         h3 {
            &.grey {
              font: 12px/12px "DuCoHeadlineRegular", Arial, sans-serif;
            }
          }
        }

        .item-dial {
          width: 160px;
          height: 160px;
          display: inline-table;
          margin: 15px auto 15px;
          border: 1px solid @bordermedgrey;
          background: @verylightgrey;
          .rounded-corners(50%);

          .dial-text {
            display: table-cell;
            vertical-align: middle;

            .balance {
              color: @green;
              font-size: 24px;

              .aed {
                font-size: 24px;
              }
              .measure {
                .margin-left(5px);
              }
            }

            h4 {
              color: @mediumgrey;
            }
          }

          @media (max-width:@screen-md-max) {
            width: 140px;
            height: 140px;
            display: block;
            overflow: hidden;

            .dial-text {
              padding: 30px 10px 0;
              .balance {
                font-size: 20px;

                .aed {
                  font-size: 20px;
                }
              }
            }
          }

          @media (max-width:@screen-xs-max) {
            display: table;
            width: 100px;
            height: 100px;

            .dial-text {
              padding: 0 10px 0;
              .balance {
                font-size: 14px;

                .aed {
                  font-size: 14px;
                }
              }

              h4 {
                font-size: 10px;
                line-height: 14px;
                margin-top: 0;
              }
            }
          }
        }

        .addons-balance {
          margin: 25px 0 0;
          width: 810px;

          @media (max-width:@screen-md-max) {
            width: 100%;
          }

          @media (min-width:@screen-ds) {
            width: 1015px;
          }

          h3 {
            width: 100%;
            margin: 0 0 30px;
            position: relative;
            display: block;
            font: 14px/14px "DuCoHeadlineRegular", Arial, sans-serif;

            @media (max-width:@screen-xl) {
              width: 95%;
              margin: 0 auto 30px;
            }

            span {
              display: inline-block;
              background: @white;
              padding: 0 15px;
              top: -7px;
              position: relative;
              z-index: 99;
            }
            &:before {
              display: inline-block;
              position: absolute;
              left: 0;
              content: ' ';
              width: 50%;
              height: 1px;
              border-top: 1px solid @bordermedgrey;
            }
            &:after {
              display: inline-block;
              position: absolute;
              right: 0;
              content: ' ';
              width: 50%;
              height: 1px;
              border-top: 1px solid @bordermedgrey;
            }
          }
        }
      }

      .manage-services {
        margin: 0 auto 25px;
        width: 810px;

        @media (min-width:@screen-ds) {
          width: 1015px;
        }

        .row {
          border-bottom: 1px solid @bordermedgrey;
          padding: 15px 0;
          margin: 0;

          h3 {
            font:16px/22px "DuCoHeadlineRegular", Arial, sans-serif;
          }

          p {
            color: @mediumgrey;
            margin: 0;
          }

          input[type="checkbox"] {
           &.ios-switch:checked+div{
             width: 73px;
           }
          }

          .btn-switch {
            float: right;
            @media (max-width:@screen-sm-max) {
              float: none;
            }
          }
        }


        @media (max-width:@screen-sm-max) {
          width: 90%;

          .row {
            p {
              margin: 0 0 15px;
            }
          }
        }
      }
    }

    @media (max-width:@screen-xs-max) {
      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .banner {
      @media (max-width:@screen-sm-max) {
        width: 100%;
        margin: 20px auto;
        .rounded-corners(12px) !important;

        .itemsW {
          .rounded-corners(12px) !important;
          .items {
            .item {
            }
          }
        }
        .pagination {
          right: 35px;
          li {
            width: 9px;
          }
        }
      }

    }
  }
}

/*@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}*/

