@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "lib.icheck.less";
@import "lib.selectric.less";

.form {
  width: 100%;
  margin: 20px 0;
  margin-top: 0;
  display: inline-block;
  .side {
    .floatleft();
    padding: 0;
    width: 60%;
    @media (max-width: @screen-md) {
      width: 100%;
    }
  }
  &.vertical-form {
    div[class^="row"] {
      //margin: 0 -10px;
      width: auto;
      div[class^="oneof"] {
        padding: 0 10px;
        box-sizing: border-box;
      }
    }
    textarea {
      width: 100%;
    }
    .group {
      label {
        display: block;
        margin: 0 0 5px;
        position: static;
        top: 0;
        width: auto;
        float: none;
      }
      .control {
        width: 100%;
      }
      textArea.control {
        overflow-y: auto;
        resize: none;
        @media screen and (max-width: 767px) {
          height: 8em;
        }
        @media screen and (min-width: 768px) {
          height: 5em;
        }
        &.big {
          height: 18em;
        }
      }
    }
    .submit-btns.centered {
      display: block;
      @media screen and (min-width: 768px) {
        width: 75%;
        margin: 0 auto;
      }
      &.single {
        @media screen and (min-width: 768px) {
          width: 33%;
        }
      }
      .btn-right {
        width: 100%;
        @media screen and (max-width: 479px) {
          margin: 10px 0;
        }
        @media screen and (min-width: 480px) {
          margin: 0;
        }
      }
    }
  }

  .help-block {
      display: block;
      margin-top: 5px;
      margin-bottom: 10px;
      color: #737373;
  }
}

label.full-width {
  display: block;
  margin-bottom: 10px;
}

fieldset {
  margin: 20px 0 0 0;
  &.side {
    .floatleft();
    padding: 0;
    width: 60%;
    @media (max-width: @screen-md) {
      width: 100%;
    }
  }
}

.form-helper {
  width: 40%;
  margin: 20px 0 0 0;
  @media (max-width: @screen-md) {
    width: 100%;
    margin-top: 0;
  }
  .floatleft();
  p {
    padding: 0 20px;
    @media (max-width: @screen-md) {
      padding: 0;
    }
    &.helper-highlight {
      text-align: center;
      margin: 20px 0;
      .icon {
        font-size: 40px;
        width: auto;
        color: @medgrey;
      }
      [class^="icon-"]:before,
      [class*=" icon-"]:before {
        width: auto;
      }
    }
    & + p {
      margin-top: 20px;
    }
  }
}

.group {
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  @media (max-width: @screen-sm) {
    .group {
      margin: 10px 0 0 !important;
    }
  }
  label {
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
    top: 11px;
    width: 30%;
    .floatleft();
    @media (max-width: @screen-sm) {
      width: 100%;
      top: 0;
      .group {
        margin: 10px 0 0 !important;
      }
    }
    &.white {
      color: @white;
    }
  }
  .control {
    height: 35px;
    padding: 5px 8px;
    background-color: @input-background-color;
    /*color:@grey;*/
    background-image: none;
    border: 1px solid @input-border-color;
    .rounded-corners(3px);
    .box-sizing();
    .placeholder();
    .transition(~"border-color ease-in-out .15s");
    &:focus {
      outline: 0;
      border-color: darken(@input-border-color, 15%);
      color: @darkgrey;
    }
    &[readonly],
    &[disabled] {
      background: @verylightgrey;
      color: @input-disabled-color;
      cursor: not-allowed;
      &:focus {
        outline: 0;
        border-color: @input-border-color;
        color: @input-disabled-color;
      }
    }
    width: 65%;
    @media (max-width: @screen-sm) {
      width: 100%;
    }
    &.full-width {
      width: 100%;
    }
    &.small {
      width: 50%;
      @media (max-width: @screen-sm-max) {
        width: 100%;
      }
    }
  }
  .showpopover, .input-icon {
    //@media (max-width: @screen-sm) {
    .floatright();
    margin: -27px 15px 0 0;
    position: relative;
    z-index: 500;

    &.dd-popover, .select-icon {
      margin-right: 25px;
    }
    //}
  }

  .icon {
    width: auto;
    height: auto;
    display: inline-block;
  }
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    width: auto;
    font-size: 20px;
  }
  .help,
  .instructions {
    display: block;
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:before {
      clear: both;
    }
    .margin-left(30%);
    padding: 4px;
    width: 65%;
    @media (max-width: @screen-sm) {
      .margin-left(0);
    }
  }
  &.error {
    .control {
      border-color: @input-border-color-error;
      &:focus {
        border-color: darken(@input-border-color-error, 20%);
      }
    }
    .help {
      color: @input-border-color-error;
    }
  }
  .ch-control {
    width: 100%;
    margin: 5px;
    .FontCoHeadlineLightRegular();
    &.inline {
      width: 50%;
      margin: 0;
      .floatleft();
      @media (max-width: @screen-sm) {
        width: 100%;
        margin: 0 0 10px;
      }
    }
    input {
      margin: 5px 10px;
    }
  }
}

table .group {
  margin-bottom: 0;
  .ch-control {
    margin: 0;
    float: none;
    top: auto;
  }
}

.search-box {
  .control {
    .left-corners(6px);
    margin-bottom: 5px;
  }
  .btn {
    height: 35px;
    .right-corners(6px);
    margin: 0;
  }

  @media (max-width: @screen-sm-max) {
    .control {
      width: 70%;
      .left-corners(6px);
      margin-bottom: 5px;
    }

    .btn {
      width: 20%;
      height: 35px;
      .right-corners(6px);
      margin: 0;
    }

    .instructions {
      width: 100%;
      line-height: 18px;
    }
  }
}

.form.horizontal {
  .row {
    .col-sm-4 {
      .control {
        width: 100%;
      }
      .selectric-control {
        display: inline-block;
        width: 100%;
      }
    }
  }
  .group {
    label {
      width: 100%;
      top: 0;
    }
    textarea.control {
      height: 5em;
    }
    .help,
    .instructions {
      .margin-left(0);
    }
  }
}

fieldset.side {
  .group {
    .selectric-control {
      width: 65%;
      .floatleft();
      @media (max-width: @screen-sm-max) {
        width: 100%;
      }
    }
  }
}
