//.modPLans is broken
.modPricing.plans-master {
    .buttonScroll.buttonScrollPrevious {
        .posleft(10px);
    }
    .btn-title {
        margin: 1em auto;
    }
    .itemsW {
        background: none;
        width: auto;
        overflow: hidden;
        position: relative;
        border-top: 0;
        margin: 0 auto;
        @media screen and (min-width: @screen-sm-max) {
            &:hover {
                .buttonScroll {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
                .buttonScroll.inactive {
                    opacity: 0;
                    filter: alpha(opacity=0);
                }
            }
        }
        @media screen and (max-width: @screen-sm-max) {
            .buttonScroll {
                opacity: .3 !important;
                filter: alpha(opacity=30) !important;
            }
        }
        //depends on moderinzr
        .touch & {
            .buttonScroll {
                opacity: .3 !important;
                filter: alpha(opacity=30) !important;
            }
        }
        h4.title {
            .modTitle;
            padding: 25px 0;
        }
        .pagination {
            bottom: 0;
        }
        .items {
            position: absolute;
            top: 0;
            .posleft(0);
            .animatedSlower;
            width: 9999px;
            .item {
                .floatleft();
                height: auto;
                width: 270px;
                padding: 0 0 20px 0;
                border: solid 1px @bordermedgrey;
                background: none;
                box-sizing: border-box;
                position: relative;
            }
        }
        @media screen and (min-width: 320px) {
            width: calc(100vw ~'- 40px');
            .items {
                width: 99999px;
                .item {
                    width: calc(100vw ~'- 40px');
                }
            }
        }
        @media screen and (min-width: 480px) {
            width: calc(100vw ~'- 40px');
            .items {
                width: 99999px;
                .item {
                    width: calc(100vw ~'- 40px');
                }
            }
        }
        @media screen and (min-width: 768px) {
            width: 738px;
            .items {
                width: 99999px;
                .item {
                    width: 738px;
                }
            }
        }
        @media screen and (min-width: 1000px) {
            width: 810px;
            .items {
                width: 99999px;
                .item {
                    width: 162px;
                    //TODO: less this
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: 404px;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: 270px;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: 202px;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: 162px;
                    }
                }
            }
        }
        @media screen and (min-width: 1600px) {
            width: 1014px;
            .items {
                .item {
                    width: 202px;
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: 507px;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: 338px;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: 250px;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: 202px;
                    }
                }
            }
        }
    }
    &.spaced {
        .items {
            .item {
                @spacing-size: 10px;
                border: 0;
                padding: @spacing-size;
                .padding-right(0);
                @media screen and (max-width: 768px) {
                    //remove padding from 320 to 768 to make it appear full width as it's only one item 
                    padding-right: 0;
                    padding-left: 0;
                }
                &:first-child {
                    .padding-left(0);
                    .txt {
                        @media screen and (min-width: 768px) {
                            padding-right: @spacing-size + 2.5px !important;
                            padding-left: @spacing-size + 2.5px !important;
                        }
                    }
                }
                &:last-child {
                    .txt {
                        @media screen and (min-width: 768px) {
                            padding-right: @spacing-size + 2.5px !important;
                            padding-left: @spacing-size + 2.5px !important;
                        }
                    }
                }
                ul.dl li {
                    border: 0;
                    background-color: @verylightgrey;
                    margin: 10px 0;
                    .rounded-corners(5px);
                    &:before {
                        .icon(22px);
                        content: '\e816';
                        margin-top: 10px;
                    }
                }
                .txt {
                    .rounded-corners(5px);
                }
            }
        }
    }
    &.tabular.divider {
        position: relative;
        .pagination {
            overflow: inherit;
            .paginationInt {
                top: 94px;
                li {
                    background: white;
                }
            }
        }
    }
    // //custom visible items 
    // .itemsW.visible-items-2 .items .item {
    //     width: 506.2px!important;
    //     @media(max-width: 1600px) {
    //         width: 405px!important;
    //     }
    //     @media(max-width:@screen-lg) {
    //         width: 369px!important;
    //     }
    //     @media(max-width:@screen-md) {
    //         width: 225px!important;
    //     }
    //     @media(max-width:506px) {
    //         width: 217.3px!important;
    //     }
    //     @media(max-width:@screen-xs-max) {
    //         width: 145.1px!important;
    //     }
    // }
    // // END
    //TWO items
    .itemsW.visible-items-2 {
        @media screen and (min-width: 320px) {
            @sliderWidth: calc(100vw ~'- 40px');
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                }
            }
        }
        @media screen and (min-width: 480px) {
            @sliderWidth: calc(100vw ~'- 40px');
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            @sliderWidth: 738px;
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth/2;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                }
            }
        }
        @media screen and (min-width: 1000px) {
            @sliderWidth: 810px;
            width: @sliderWidth;
            .items {
                .item {
                    width: @sliderWidth/2;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                }
            }
        }
        @media screen and (min-width: 1600px) {
            @sliderWidth: 1014px;
            width: @sliderWidth;
            .items {
                .item {
                    width: @sliderWidth/2;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                }
            }
        }
    }
    // END
    //THREE items
    .itemsW.visible-items-3 {
        @media screen and (min-width: 320px) {
            @sliderWidth: calc(100vw ~'- 40px');
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                }
            }
        }
        @media screen and (min-width: 480px) {
            @sliderWidth: calc(100vw ~'- 40px');
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            @sliderWidth: 738px;
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth/3;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                }
            }
        }
        @media screen and (min-width: 1000px) {
            @sliderWidth: 810px;
            width: @sliderWidth;
            .items {
                .item {
                    width: @sliderWidth/3;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                }
            }
        }
        @media screen and (min-width: 1600px) {
            @sliderWidth: 1014px;
            width: @sliderWidth;
            .items {
                .item {
                    width: @sliderWidth/3;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                }
            }
        }
    }
    // END
    //FOUR items
    .itemsW.visible-items-4 {
        @media screen and (min-width: 320px) {
            @sliderWidth: calc(100vw ~'- 40px');
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                }
            }
        }
        @media screen and (min-width: 480px) {
            @sliderWidth: calc(100vw ~'- 40px');
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            @sliderWidth: 738px;
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth/4;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                }
            }
        }
        @media screen and (min-width: 1000px) {
            @sliderWidth: 810px;
            width: @sliderWidth;
            .items {
                .item {
                    width: @sliderWidth/4;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                }
            }
        }
        @media screen and (min-width: 1600px) {
            @sliderWidth: 1014px;
            width: @sliderWidth;
            .items {
                .item {
                    width: @sliderWidth/4;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                }
            }
        }
    }
    // END
    //FIVE items
    .itemsW.visible-items-5 {
        @media screen and (min-width: 320px) {
            @sliderWidth: calc(100vw ~'- 40px');
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                }
            }
        }
        @media screen and (min-width: 480px) {
            @sliderWidth: calc(100vw ~'- 40px');
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                }
            }
        }
        @media screen and (min-width: 768px) {
            @sliderWidth: 738px;
            width: @sliderWidth;
            .items {
                width: 99999px;
                .item {
                    width: @sliderWidth/5;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/5;
                    }
                }
            }
        }
        @media screen and (min-width: 1000px) {
            @sliderWidth: 810px;
            width: @sliderWidth;
            .items {
                .item {
                    width: @sliderWidth/5;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/5;
                    }
                }
            }
        }
        @media screen and (min-width: 1600px) {
            @sliderWidth: 1014px;
            width: @sliderWidth;
            .items {
                .item {
                    width: @sliderWidth/5;
                    &:nth-child(1):nth-last-child(1) {
                        width: @sliderWidth;
                    }
                    &:nth-child(1):nth-last-child(2),
                    &:nth-child(2):nth-last-child(1) {
                        width: @sliderWidth/2;
                    }
                    &:nth-child(1):nth-last-child(3),
                    &:nth-child(2):nth-last-child(2),
                    &:nth-child(3):nth-last-child(1) {
                        width: @sliderWidth/3;
                    }
                    &:nth-child(1):nth-last-child(4),
                    &:nth-child(2):nth-last-child(3),
                    &:nth-child(3):nth-last-child(2),
                    &:nth-child(4):nth-last-child(1) {
                        width: @sliderWidth/4;
                    }
                    &:nth-child(1):nth-last-child(5),
                    &:nth-child(2):nth-last-child(4),
                    &:nth-child(3):nth-last-child(3),
                    &:nth-child(4):nth-last-child(2),
                    &:nth-child(5):nth-last-child(1) {
                        width: @sliderWidth/5;
                    }
                }
            }
        }
    }
    // END
}

//V3 V4 less code
//making first column grey
.pricing-table {
    th {
        background: inherit;
    }
    th,
    td {
        &:first-child {
            background: @verylightgrey;
            border: 1px solid @bordermedgrey;
            padding: 10px;
        }
    }
}

.tableBox.visible-on-mobile {
    @media(min-width: @screen-md) {
        display: none;
    }
}

//addign more specificity to override a general rule 
.tableBox .riga span,
div,
.tableBox .boxLeft .riga span {
    &.bold {
        .bold;
    }
}

.pricing-filter .btn {
    width: 20%;
    @media (max-width: @screen-md) {
        width: 49.4%;
    }
    display: inline-block;
    float: none;
}

.pricing-filter {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.riga,
.pricing-tables .tableBox .boxRight .riga {
    text-align: center;
    // .borderright(@bordermedgrey);
}

//adding spacing between tables
.tableBox+.tableBox {
    margin-top: 50px
}

//adding some spacing between item and the line above 
.modCompare.modPricing.tabular.divider {
    padding-top: 10px
}

//to fix bug in edge
_:-ms-lang(x),
.modCompare.tabular.plans-master .dl li {
    height: 30px!important;
}

//to fix bug in mozilla that it doesnot support min-height on display:table-*;
@-moz-document url-prefix() {
    .pricing-tables .tableBox {
        .boxRight,
        .boxLeft {
            .riga {
                height: 100px;
            }
        }
    }
}

//to center the the slider with list of 4 items on that size 
@media(min-width:@screen-ds) {
    .plan-master-4 .items {
        .margin-left(7.5px);
    }
}

//ipad fix to center pagination dots 
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .pagination {
        .margin-left(21px);
    }
}

// targeting ipad 
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .content-mobile-slide-out-left {
        .show-account-panel();
    }
    .account-mobile-slide-in {
        .show-account-panel();
    }
    .account-mobile-slide-in-ie {
        .show-account-panel-ie();
    }
}

//to fix bxslider bug that make the next button overlap the header
body .bx-wrapper .bx-controls-direction a {
    z-index: 599;
    &.disabled {
        display: none;
    }
}

.scrollBoxLeft {
    border-right: 1px solid #D6D6D6;
    &.firsty.lasty {
        border-right: initial
    }
}

.faster-sliding {
    -webkit-transition: transform .3s linear!important;
    -moz-transition: transform .3s linear!important;
    -o-transition: transform .3s linear!important;
    -ms-transition: transform .3s linear!important;
    transition: transform .3s linear!important;
}
