.popin {
    padding: 20px;
    position: relative;
    .rounded-corners2(10px);
    margin: 20px 0;
    background-color: @verylightgrey;
    display: none;

    .form {
        margin-bottom: 0;

        label {
            .CoHeadlineRegular(1);
        }
        textarea {
            width: 75%;
            height: 100px;

            @media(max-width: @screen-md) {
                width: 100%;
            }
        }
    }

    h2 {
        margin-bottom: 30px;
        .CoHeadlineRegular();
    }

    h4 {
        .CoHeadlineLightRegular(1.4);
        margin-bottom: 15px;
    }

    .seperator {
        padding-bottom: 20px;
    }

    .close {
        position: absolute;
        .posright(20px);
        top: 20px;
        &:before {
            .icon(20px);
            content: '\e81c';
        }
    }
}

.br-wrapper {
    margin: 10px 0 0;
}

.br-widget {

    height: 28px;
    white-space: nowrap;
    a {
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        margin-right: 2px;
        &:after {
            .icon(24px);
        }
    }
    a:after {
        color: @medgrey;
    }
    .br-current-rating {
        display: inline-block;
        font-size: 20px;
        .margin-left(20px);
    }
}

.br-theme-stars {
    a:after {
        content: '\e81a';
    }
    a.br-active:after,
    a.br-selected:after {
        color: @yellow;
    }
}

.br-theme-hearts {
    a:after {
        content: '\e806';
    }
    a.br-active:after,
    a.br-selected:after {
        color: @blu;
    }
}

.br-theme-bars-square {

    .br-widget {
        height: 15px;
        white-space: nowrap;

        a {
            display: block;
            width: 30px;
            height: 30px;
            .floatleft();
            border: 2px solid @verylightgrey;
            background-color: white;
            margin: 2px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            line-height: 2;
            text-align: center;
            color: @lightgrey;
            font-weight: 600;

            &.br-active,
            &.br-selected {
                border: 2px solid @blu;
                color: @blu;

                @media print {
                    border: 2px solid black;
                    color: black;
                }
            }

            @media print {
                    border: 2px solid #b3b3b3;
                    color: #b3b3b3;
                }
            }

        .br-current-rating {
            clear: both;
            width: 330px;
            text-align: center;
            font-weight: 600;
            display: block;
            padding: .5em 0;
            color: @pink;
        }
    }

    .br-readonly {
        a {
            cursor: default;

            &.br-active,
            &.br-selected {
                border: 2px solid #729bf8;
                color: #729bf8;
            }
        }
    }
}


.br-theme-bars-1to10 .br-widget {
    height: 50px;
    white-space: nowrap;
}
.br-theme-bars-1to10 .br-widget a {
    display: block;
    width: 12px;
    padding: 5px 0;
    height: 28px;
    float: left;
    background-color: @verylightgrey;
    margin: 1px;
    text-align: center;
}
.br-theme-bars-1to10 .br-widget a.br-active,
.br-theme-bars-1to10 .br-widget a.br-selected {
    background-color: @blu;
}
.br-theme-bars-1to10 .br-widget .br-current-rating {
    font-size: 20px;
    line-height: 2;
    float: left;
    padding: 0 20px 0 20px;
    color: @blu;
    font-weight: 400;
}
.br-theme-bars-1to10 .br-readonly a {
    cursor: default;
}
.br-theme-bars-1to10 .br-readonly a.br-active,
.br-theme-bars-1to10 .br-readonly a.br-selected {
    background-color: #f2cd95;
}
.br-theme-bars-1to10 .br-readonly .br-current-rating {
    color: #f2cd95;
}
@media print {
    .br-theme-bars-1to10 .br-widget a {
        border: 1px solid #b3b3b3;
        background: white;
        height: 38px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .br-theme-bars-1to10 .br-widget a.br-active,
    .br-theme-bars-1to10 .br-widget a.br-selected {
        border: 1px solid black;
        background: white;
    }
    .br-theme-bars-1to10 .br-widget .br-current-rating {
        color: black;
    }
}
