.container-du.mobile-plan-postpaid {
    .hide {
        display: none !important;
    }

    #footer {
        margin-top: 0;
        border-top: 0;
    }

    .sticky-top {
        [dir=rtl] & {
            .headerWrapper {
                .header-content {
                    h1 {
                        font-size: 28px;
                        font-weight: 500;
                        line-height: 1.6em;
                    }

                    h3 {
                        font-size: 16px;
                    }
                }

                .header-image {
                    background: #000 url(../../images/postpaid-bg-ar.jpg);
                    background-position: left center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .plan-filters {
                .filter-catg h4 {
                    font-size: 14px;
                    margin-bottom: 16px;
                }
            }
        }
    }

    .plan-cards.innerContainer {
        padding-bottom: 0;

        .card-item {
            .card-content {
                .you-pay h4 {
                    font-size: 14px;
                }

                b {
                    font-family: 'DuCoHeadlineRegular';
                    color: #414141;
                    font-weight: 500;
                }

                .you-get {
                    h4 {
                        [dir=rtl] & {
                            font-size: 14px;
                            line-height: 1.2em;
                            padding: 10px;
                        }
                    }

                    .card-cta {
                        padding: 0 0 10px !important;

                        i.icon-info-circled-empty {
                            [dir=rtl] & {
                                margin-left: 5px;
                            }
                        }
                    }

                    .benefits > div {
                        padding: 0;
                        border: 0;
                    }

                    & > div.benefits {
                        .extra {
                            padding: 16px 0 !important;

                            .freebie > img {
                                vertical-align: middle;
                            }
                        }

                        h5 {
                            min-height: 45px;
                            padding: 12px 0 10px 0px;
                            border-bottom: 1px solid #ddd;
                            line-height: 1.25em;
                            font-family: inherit;
                            font-size: inherit;
                            color: inherit;
                            position: relative;
                        }
                    }
                }
            }

            .benefits .inline-icon-container-20 {
                vertical-align: middle;
                position: relative;
                width: 20px;
                display: inline;

                & > a {
                    display: inline;
                    text-decoration: none;

                    & .icon:before {
                        display: inline;
                    }
                }
            }
        }
    }

    @media (max-width: 1599px) {
        .sticky-top .headerWrapper .header-content .txt-box {
            margin: 35px 0;

            h1 {
                font-size: 34px;
            }

            h3 {
                font-size: 18px;
            }

            [dir=rtl] & {
                h1 {
                    font-size: 28px;
                }

                h3 {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .sticky-top .headerWrapper {
            .header-image {
                height: 110px;
            }

            .header-content {
                width: 60%;
                height: 110px;

                .txt-box {
                    margin: 15px 0;

                    h3 {
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
    }

    @media (min-width: 992px) {
        .sticky-top .choose-package-title h2 {
            font-size: 24px;
            padding: 10px 0;
        }
    }

    @media (max-width: 991px) {
        .sticky-top {
            .headerWrapper .header-content .txt-box {
                margin: 10px 0;

                h1 {
                    font-size: 20px;
                }

                [dir=rtl] & {
                    h1 {
                        font-size: 20px;
                        line-height: 1.375em;
                    }

                    h3 {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }

            .choose-package-title {
                h2, & h4 {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .sticky-top .headerWrapper {
            .header-image {
                height: 130px;
            }

            .header-content {
                width: 70%;
            }
        }
    }

    @media (max-width: 480px) {
        .sticky-top {
            .choose-package-title {
                h2, & h4 {
                    font-size: 14px;
                    padding: 0 10px;
                }

                [dir=rtl] & h2 {
                    font-size: 16px;
                }
            }
        }
    }
}