@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";

//default button

.btn {
    cursor: pointer;
    height: 37px;
    .rounded-corners(3px);
    .FontCoHeadlineRegular();
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    line-height: 35px;
    padding: 0 15px;
    .margin-right(10px);
    min-width: 75px;
    text-align: center;
    .box-sizing();
    //.box-shadow(inset,0,0,-2px,0,rgb(0,0,0,0.2));
    box-shadow: 0 -1px 0 rgba(0,0,0,0.2) inset !important;
    text-shadow: none !important;


    .icon {
        &:before {
            font-size: 14px;
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        outline: none !important;
    }
    
    &.no-float {
        float: none;
    }
}

.btn-large {
    min-width: 150px;
    height: 44px;
    line-height: 44px;
}

.btn-longer {
    min-width: 180px;
}

.btn-long {
    min-width: 200px;
    height: 36px;
    line-height: 36px;
}

.btn-small {
    min-width: 45px;
    height: 26px;
    line-height: 26px;
}

.btn-icon {
    min-width: 140px;
    height: 52px;
    font-size: 1.2em;
}

.btn-remove {
    min-width: 0;
    color: @textgray;
    font-size: 32px !important;
}

.btn-default {
    .gradient-white();
    color: @blu;
    cursor: pointer;

    &:hover {
        color: @bluHover;
    }

    &:active {
        color: @bluHover;
    }

    &.light {
        color: @pink;

        &:hover {
            color: @pinkHover;
        }

        &:active {
            color: @pinkHover;
        }
    }
}

.btn-primary {
    .gradient-aqua();
    //border: 1px solid @blu;
    color: #fff;

    &:hover, &:active, &.active {
        color: #fff;
    }
}

.btn-purple {
    .gradient-magenta();
    //border: 1px solid @pink;
    color: #fff;
    cursor: pointer;

    &:hover {
        color: #fff;
    }

    &:active {
        color: #fff;
    }
}


.btn-grey {
    .gradient-white();
    color: @lightgrey;

    &:hover {
        color: @grey;
    }

    &:active {
        color: @grey;
    }
}

.btn-table {
    margin: 0 5px;
    cursor: pointer;
}

.btn-right {
    .floatright();
    .margin-left(10px);
    .margin-right(0);
}


.btn-center {
    margin:0 auto;
}


.btn-stack {
    @media(max-width:@screen-sm) {
        width: 100%;
        display: block;
        margin: 15px 0;
        padding: 0;
        max-width: 288px;
    }
}

.btn-inline {
    display: inline-block !important;
    float: none;
    margin: 0 10px;
}

.btn-toggle {
    &:active,
    &:focus,
    &:focus:active {
      outline: 0;
    }
    @media all and (-ms-high-contrast: none) {
        #coverageMap .legendWiFi .bulletWifi:before {
            margin-left: -5px !important;
        }
    }
    cursor: pointer;
    padding: 0 14px;
    .rounded-corners(3px);
    width: 16.9% !important;
    min-width: 171px;
    height: 38px;
    margin-bottom: 10px;
    height: 35px;
    width: auto!important;
    display: inline-block;
    min-width: 0;
    &.btn .icon:before {
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        font-size: 21px;
        .margin-right(10px);
        position: relative;
        top: 2px;
        text-align: center;
        .margin-left(.2em);
        color: #09c;
    }
    &.active {
        color: #09c;
        border: solid 1px @blu;
        outline: 0;
        background-image: none;
        //-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        //box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        //background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(1, #f1f1f1));
    }
    &.blue {
        width: 18%;
        .padding-left(18px);
        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: @blu;
            .margin-left(-12px);
            margin-top: 10px;
        }
    }
    &.pink {
        .padding-left(18px);
        width: 18%;
        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: @pink;
            .margin-left(-12px);
            margin-top: 10px;
        }
    }
    &.violet {
        .padding-left(18px);
        width: 18%;
        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: @colorEvents;
            .margin-left(-12px);
            margin-top: 10px;
        }
    }
    &.green {
        width: 18%;
        .padding-left(18px);
        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: @green;
            .margin-left(-12px);
            margin-top: 10px;
        }
    }
    &.gray {
        width: 18%;
        .padding-left(18px);
        &:before {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: @grey;
            .margin-left(-12px);
            margin-top: 10px;
        }
    }
}



.btn-small-inline {
    display: inline-block;
    float: none;
    margin: 0 10px;
}

.btn-full {
    @media(max-width:@screen-sm) {
        width: 100%;
        box-sizing: border-box;
    }
}

.ctaW .btn-link-price {
    background: none !important;
    border: none !important;
    box-shadow: inherit !important;
}

//group buttons
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    .left-corners(3px) !important;
}

.btn-group > .btn:first-child {
    .margin-left(0);
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 !important;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group, .btn-group .dropdown .btn {
    .margin-left(-5px);
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child), .dropdown a.btn {
    .right-corners(3px) !important;
}

.btn-group > .btn, .btn-group-vertical > .btn {
    .floatleft();
    position: relative;
    .margin-right(0);
}

.btn-info-light.is-checked, .btn-default.is-checked {
    color: #fff;
    background: @darkblu; /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iIzAwOThjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzAwYjRkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGI0ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    //background: -moz-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006699), color-stop(97%, #0098cb), color-stop(98%, #00b4da), color-stop(100%, #00b4da)); /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* Opera 11.10+ */
    //background: -ms-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* IE10+ */
    //background: linear-gradient(to bottom, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00b4da', GradientType=0); /* IE6-8 */
}
/*
 * iOS switch checkboxes
 */

input[type="checkbox"].ios-switch {
    position: absolute;
    opacity: 0;
    width: 90px;
    height: 30px;

    & + div {
        display: inline-block;
        vertical-align: middle;
        width: 73px;
        height: 29px;
        border-radius: 999px;
        background: white;
        overflow: hidden;
        .transition(all .3s ease-in-out);
        //.gradient-aqua();
        //.gradient-grey();  //uncomment for grey on OFF
        background-color: @lightgrey;
        background-position: 100% 0;

        &:before {
            text-transform: uppercase;
            content: 'On';
            .floatleft();
            width: 25px;
            height: 25px;
            margin: 2px;
            border-radius: inherit;
            background: white;
            color: white;
            text-indent: -30px;
            font-size: 1.1em;
            line-height: 25px;
            .transition(all .4s ease-in-out);
        }

        &:after {
            font-size: 1.1em;
            line-height: 25px;
            width: 25px;
            height: 25px;
            margin: 2px;
            text-transform: uppercase;
            content: 'Off';
            .floatleft();
            color: white;
            text-shadow: none;
            text-indent: 3px;
        }
    }

    &:checked + div {
        .padding-left(43px);
        width: 30px;
        .gradient-aqua();
        background-position: 0 0;
    }
}

@media(max-width:@screen-md) {
    .btn {
        margin-bottom:10px
    }
}

.btn-price {
    .gradient-magenta();
    .rounded-corners(3px);
    /*width: 244px; */
    float: left;
    height: 42px;
    display: block;
    padding: 0;

    .price {
        text-align: center;
        .floatleft();
        /*width:134px; */
        padding: 0 20px;
        height: 38px;
        margin: 2px;
        line-height: 38px;
        background: #fff;
        .rounded-corners(3px);
        color: @darkergrey;

        .currency {
            font-size: 1.1em;
            .CoHeadlineLightRegular();
            line-height: 38px;
        }

        .value {
            font-size: 2.4em;
            .CoHeadlineRegular();
            line-height: 38px;
        }
    }

    .label {
        font-size: 1.2em;
        color: @white;
        /* width:102px;  */
        padding: 0 20px;
        height: 38px;
        margin: 2px;
        .CoHeadlineRegular();
        line-height: 38px;
        text-align: center;
        display: block;
        .floatleft();
    }


    &.btn-small {
        /*width: 140px; */
        height: 24px;

        .price {
            /*width:60px; */
            padding: 0 10px;
            height: 20px;
            margin: 2px;
            line-height: 20px;
            .rounded-corners(2px);

            .currency {
                font-size: 0.9em;
                line-height: 20px;
            }

            .value {
                font-size: 1.1em;
                line-height: 20px;
            }
        }

        .label {
            font-size: 1.1em;
            /*width:72px;*/
            padding: 0 10px;
            height: 20px;
            margin: 2px;
            line-height: 20px;
        }
    }
    /* end btn-small */
    &.btn-big {
        width: 370px;
        height: 54px;

        .price {
            .margin-left(2px);
            margin-top: 3px;
            width: 185px;
            height: 48px;
            line-height: 22px;

            .currency,
            .value {
                font-size: 1.2em;
                line-height: 0;
                font-family: 'DuCoHeadlineRegular';
            }

            span,
            .currency {
                font-family: 'DuCoHeadlineLightRegular';
            }
        }

        .label {
            width: 110px;
            height: 48px;
            line-height: 48px;
            padding: 0 10px;
        }
    }

    &.btn-price-long-description {
        .gradient-magenta();
        margin-top: 32px;
        background: @pink;

        .price {
            .free {
                font-size: 1.3em;
                .CoHeadlineRegular();
                line-height: 38px;
                text-transform: none;
            }
        }

        .label {
            .CoHeadlineLightRegular();
            font-size: .9em;
            line-height: 19px;

            .small-text {
            }

            b {
                .CoHeadlineRegular();
            }
        }

        &:hover, &:active, &.pressed {
            //border: 1px solid @pink;
            background: #e875cb; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4NzVjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZTg3NWNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNkZTRmYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2MzMzk5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
            //background: -moz-linear-gradient(top, #e875cb 0%, #e875cb 2%, #de4fb7 3%, @pink 100%); /* FF3.6+ */
            //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e875cb), color-stop(2%,#e875cb), color-stop(3%,#de4fb7), color-stop(100%,@pink)); /* Chrome,Safari4+ */
            //background: -webkit-linear-gradient(top, #e875cb 0%,#e875cb 2%,#de4fb7 3%,@pink 100%); /* Chrome10+,Safari5.1+ */
            //background: -o-linear-gradient(top, #e875cb 0%,#e875cb 2%,#de4fb7 3%,@pink 100%); /* Opera 11.10+ */
            //background: -ms-linear-gradient(top, #e875cb 0%,#e875cb 2%,#de4fb7 3%,@pink 100%); /* IE10+ */
            //background: linear-gradient(to bottom, #e875cb 0%,#e875cb 2%,#de4fb7 3%,@pink 100%); /* W3C */
            //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e875cb', endColorstr='@pink',GradientType=0 ); /* IE6-8 */
        }

        @media screen and (min-width:768px) and (max-width: 999px) {
            .label {
                width: 205px;
            }
        }

        @media screen and (max-width: 767px) {
            display: block;
            float: none;
            height: auto;
            overflow: hidden;
            width: auto;

            .label, .price {
                display: block;
                width: 100%;
                float: none;
            }
        }
    }
}




/* BUTTONS WITH ICONS ---------------- */

.btn-icon {
    .gradient-white();
    .btn-default();
    color: @darkergrey;
    font-size: 1.2em;
    height: 52px;
    line-height: 52px;
    min-width: 140px;
    width: auto !important;
    width: 140px;

    span {
        .padding-left(40px);
        .background-position(left, center);
        background-image: url(../../images/ico-buy-online.png);
        background-repeat: no-repeat;
        display: block;
        line-height: 52px;
        text-overflow: ellipsis;
    }

    &:hover {
        color: #000;
    }

    &:active {
        color: #000;
    }

    &.btn-icon-online {
        span {
            background-image: url(../../images/ico-buy-online.png);
        }
    }

    &.btn-icon-store {
        span {
            background-image: url(../../images/ico-buy-store.png);
        }
    }

    &.btn-icon-close {
        .button-grey();
        .rounded-corners(0);
        background-image: url(../../images/ico-buy-close.png);
        background-position: center center;
        background-repeat: no-repeat;
        border: 0px;
        height: 26px;
        line-height: 26px;
        min-width: 26px;
        overflow: hidden;
        padding: 0;
        text-indent: -10000px;
        width: 24px;

        span {
            background-image: none;
        }

        &:hover {
            background-image: url(../../images/ico-buy-close-hover.png);

            span {
                background-image: none;
            }
        }
    }

    &.btn-icon-strong {
        color: @pink;

        &:hover {
            color: @pinkHover;
        }
        &:active {
            color: @pinkHover;
        }
    }

}

/* end btn-icon */

.btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled]:active, .btn-price[disabled] .label {
    border: 0;
    background-image: none;
    /* filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);*/
    filter: alpha(opacity=40);
    -khtml-opacity: .4;
    -moz-opacity: .4;
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none;
    background:#e6e6e6;
    color: @darkergrey;
    border:1px solid #ddd;
}

.lined-buttons {
    display: inline-block;

    .btn {
        border: 0 none;
        background: none;
        box-shadow: none !important;
        .rounded-corners2(0,0,0,0);
        border-bottom: 5px solid @bordermedgrey;
        color: @darkgrey;
        padding: 0 25px;

        @media (max-width: @screen-md-max) {
            width: auto !important;
            .rounded-corners2(0,0,0,0);
        }

        &.is-checked {
            color: @blu;
            border-bottom-color: @blu;
        }

        &:hover {
            color: @blu;
            //border-bottom-color: @blu;
        }
    }
}


.btn-rounded {
    box-shadow: none !important;
    height: 40px;
    max-width: 300px;
    min-width: 75px;
    line-height: 38px;
    .rounded-corners(20px);
    font-size: 14px;

    &.btn-large {
        display: inline-block;
        height: 45px;
        line-height: 43px;
        .rounded-corners(23px);
        //font-size: 16px;
    }

    &.btn-full {
        width: 100%;
    }

    &.btn-info-light {
        border-color: @blu;
        background: transparent;

        &:hover {
            background: @blu;
            color: @white;
        }
    }

    &.btn-link {
        position: relative;
        .padding-right(25px);
        &:after {
            .icon(15px);
            content: '\E80E';
            color: @blu;
            .transform(rotate(270deg));
            position: absolute;
            .posright(10px);
            top: 12px;

            & when (@lang = ar) {
                .transform(rotate(-270deg));
            }
        }

        &:hover {
            &:after {
                color: @white;
            }
        }
    }

    &.btn-small {
        display: inline-block;
        height: 30px;
        line-height: 28px;

        &:after {
            top: 7px;
        }
    }

    &.no-margins {
        margin: 0;
    }
}
