@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "mod.form.less";
@import "lib.reveal.less";
@import "lib.popover.less";

.message {
  width: 100%;
  display: inline-block;
  padding: 20px 0;

  h1.title {
    width: 100%;
    .box-sizing();
    margin: 10px 0;
    padding: 0 10px;
  }

  .details {
    padding: 0 10px;

    .action {
      margin-bottom: 20px;
    }

    .table {
      th, td {
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        .defaulttextalign();
      }
    }

    .form {
      margin: 20px 0 0;
    }

    p {
      display: block;
      margin-bottom: 5px;
    }

    .remove-row-modal {
      font-family: "DuCoHeadlineRegular";
      margin-bottom: 5px;
      display: inline-block;

      .replace-me-modal {
        font-family: "DuCoHeadlineLightRegular";
      }
    }

  }

  &.confirm {
    padding: 0;

    .title {
      padding: 20px 30px 0 30px;
    }

    .details {
      padding: 20px 30px;
    }

    #accept {
      .floatleft();
      margin-top: 10px;
      width: 50%;
      display: inline-block;

      @media (max-width: @screen-sm-max) {
        width: 100%;
      }
    }

    #actions {
      width: 50%;
      .floatleft();
      display: inline-block;

      @media (max-width: @screen-sm-max) {
        width: 100%;
        margin-top: 10px;

        .btn {
          .floatleft() !important;
        }
      }
    }
  }

  .footer {
    background-color: @verylightgrey;
    border-top: solid 1px @bordergrey;
    display: inline-block;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
    .box-sizing();

    .btn {
      .margin-left(5px);
    }
  }

  .details + .footer {
    margin-top: 10px;
  }
}

.alert {
  width: 100%;
  padding: 15px 0 15px 0;
  .padding-right(20px);
  .padding-left(15px);
  .rounded-corners(3px);
  .box-sizing();
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #666;
  .transform(translateY(-200%));
  .transition(all .1s ease-out);
  opacity: 0;
  max-height: 0;
  position: absolute;
  border: solid 1px;

  &.active {
    .transform(translateY(0%));
    opacity: 1;
    max-height: 200px;
    position: relative;
    .clearfix;
  }

  &.location-map {
    max-height: inherit;

    img {
      width: 100%;
    }
  }

  &.info {
    background-color: @infoback;
    border-color: @infoborder;
  }

  &.promo {
    background-color: @blu;
    border-color: transparent;
    color: @white;
    text-shadow: none;

    .action {
      a {
        color: @white;
      }
    }

    .close:after {
      color: @white;
    }
  }

  &.warning {
    background-color: @yellowback;
    border-color: @yellowborder;
  }

  &.success {
    background-color: @greenback;
    border-color: @greenborder;
  }

  &.error {
    background-color: @redback;
    border-color: @redborder;
  }

  .action {
    .floatright();
    .margin-right(24px);

    a {
      color: @textblack;
      text-decoration: underline;
    }

    @media (max-width: @screen-sm) {
      float: none;
      .textalign();
      .margin-right(0);
    }
  }

  .icon {
    margin-right: 5px;
  }
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-size: 18px;
  }

  .close:after {
    display: inline-block;
    content: '\e81c';
    font-family: 'duicons';
    font-size: 1.2em;
    color: @textblack;
    position: absolute;
    .posright(10px);

    @media (max-width: @screen-sm) {
      top: 5px;
    }
  }

  //@media(max-width:@screen-sm-max) {
  //    line-height: 1.5em;
  //}
}

.contentIn > #ajaxErrorAsync {
  margin-top: 20px;
  @media (max-width: @screen-sm-max) {
    margin-top: 0;
  }
}

#ajaxErrorAsync + #ajaxErrorAsync {
  margin-top: 0;
}

.hero {
  width: 100%;
  padding: 5px;
  .rounded-corners(3px);
  .box-sizing();
  position: relative;
  .padding-right(20px);
  margin: 5px 0 30px;
  background-color: @blu;

  @media (max-width: @screen-sm-max) {
    margin-bottom: 20px;
  }

  span {
    color: white;
    line-height: 2em;
    font-size: 2em;
    display: inline-block;
    width: 100%;
    text-align: center;

    @media (max-width: @screen-sm-max) {
      font-size: 20px;
      margin: 10px 0 20px;
      line-height: 1.2em;
    }
  }

  .action {
    position: absolute;
    .posright(10px);
    top: 16px;

    @media (max-width: @screen-sm-max) {
      position: relative;
      top: auto;
      .posright(auto);
      text-align: center;

      button, .btn {
        margin: 0 auto 10px;
        float: none;
        display: inline-block;
      }
    }
  }
}

.hint {
  padding: 5px 10px;
  background: @verylightgrey;
  display: inline-block;
  .rounded-corners(5px);
  border: solid 1px;
  border-color: @bordermedgrey;
}

.back-to-home {

  .btn {
    background: #ffffff;
    //background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    //background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    //background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    //background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    //background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );

    border: 1px solid #d4d4d4;
    .rounded-corners(3px);
    color: @blu;
    display: block;
    .CoHeadlineRegular();
    font-size: 18px;
    line-height: 66px;
    margin: 20px auto 0 auto;
    text-align: center;
    width: auto;
    height: 66px;

    &:hover {
      color: @bluHover;
    }

    &:active {
      background: #ffffff;
      //background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 100%);
      //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa));
      //background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
      //background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
      //background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
      //background: linear-gradient(to bottom,  #ffffff 0%,#fafafa 100%);
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );

      color: @bluHover;
    }
  }
}

.confirmation, .thankyou-success {

  h1, p {
    .icon {
      width: 60px;
      height: 60px;
    }
    [class^="icon-"]:before, [class*=" icon-"]:before {
      font-size: 60px;
      line-height: 60px;
      color: #79BD20;
    }
    .icon-cancel:before {
      color: @red;
    }
  }

  .alert {
    max-height: inherit;
  }

  .transaction {
    background: #fff;
    margin: 15px 0 -15px 0;
    .margin-right(-20px);
    .margin-left(-15px);
    padding: 15px;
    .rounded-corners2(0, 0, 6px, 6px);

    p {
      .clearfix;
      margin-bottom: 0;
    }

    .table {
      th, td {
        border: 1px solid @linelightgrey;
        .defaulttextalign();
      }
    }

    .du-table {
      th {
        .FontCoHeadlineRegular();
      }
      th, td {
        padding: 5px;
      }
    }
  }

}

.thankyou-success {
  margin: 0 auto;
  width: 80%;
  @media (max-width: @screen-sm-max) {
    width: 100%;
  }

  .alert {
    border: 0;
    margin-bottom: 0;
  }
  h2 {
    font-family: 'DuCoHeadlineRegular';
  }
  .du-table {
    margin: 0 !important;
    border: 1px #efefef solid;
    display: table !important;

    thead, tfoot {
      background-color: #F7F7F7;
      font-family: 'DuCoHeadlineRegular';
    }
    thead {
      border-bottom: 1px #efefef solid;
      td:last-child {
        text-align: center;
        border-left: 1px #efefef solid;
      }
    }
    tbody {
      background-color: #fff;
    }

    tr {
      border: 0;

    }
    .text-right {
      text-align: right;
      padding-right: 30px !important;
    }
  }
  .transaction {
    margin: 0;
    // background-color: #F7F7F7;
    .du-table {
      td {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      th {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px #efefef solid;
      }
      td:first-child, th:first-child {
        padding-left: 20px;
      }
      td:last-child, th:last-child {
        width: 100px;
      }
    }
  }
}

//Banner on dashboard
.banner {
  width: 100%;
  border: 1px solid @bordergrey;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
  .rounded-corners(12px);

  .itemsW {
    overflow: hidden;
    position: relative;
    height: 100px;
    .rounded-corners(12px);

    .items {
      position: absolute;
      left: 0;
      top: 0;
      .animated();

      .item {
        width: 810px;
        height: 100px;
        float: left;
        position: relative;
        overflow: hidden;

        @media (min-width: @screen-md) {
        .rounded-corners(12px);
        }

        .banner-img {
          width: 200px;
          .floatleft();
          .borderright(@bordergrey);
        }

        .banner-txt {
          .floatleft();
          background: @verylightgrey;
          width: 569px;
          padding: 15px 20px 10px;
          .rounded-corners(0 12px 12px 0);

          h3 {
            margin: 0 0 5px;
            font: 16px/20px 'DuCoHeadlineRegular';
            color: @darkergrey;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          p {
            margin: 0 0 7px;
            color: @darkergrey;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          a {
            .padding-right(12px);
            position: relative;
            display: inline-block;

            &:after {
              font-family: "duicons";
              content: '\e80e';
              position: absolute;
              .posright(0);
              top: 2px;
              .transform(rotate(270deg));

              & when (@lang = ar) {
              .transform(rotate(-270deg));
              }
            }
          }
        }

        @media (min-width: @screen-ds) {
          width: 1015px;
          .banner-img {
            width: 200px;
          }
          .banner-txt {
            width: 774px;
          }
        }

        @media (max-width: @screen-md-max) {
          width: 740px;
          .banner-img {
            width: 200px;
          }
          .banner-txt {
            width: 499px;
          }
        }

      }
    }
  }

  .pagination {
    height: 7px;
    width: 40px;
    .posleft(auto);
    .posright(10px);
    bottom: 20px;
    overflow: visible;

    @media (min-width: @screen-md) {
      height: 10px;
      width: 40px;
      .posleft(auto);
      .posright(15px);
      bottom: 15px;
    }

    li {
      width: 7px;
      height: 7px;

      @media (min-width: @screen-md) {
        width: 10px;
        height: 10px;
      }

      a {
        .rounded-corners(50%);
        width: 7px;
        height: 7px;
        display: inline-block;
        background: @grey;

        @media (min-width: @screen-md) {
          width: 10px;
          height: 10px;
        }
      }

      &.sel {
        a {
          background: @blu;
        }
      }
    }
  }

  @media (max-width: @screen-sm-max) {
    width: 200%;
    margin: -11px -50% 25px;
    .rounded-corners(0);

    .banner-inner {
      display: block;
      position: relative;
      margin: 0 auto;

      .itemsW {
        height: 100px;
        .rounded-corners(0);

        .items {
          .item {
            width: auto;
            height: 100px;

            .banner-img {
              width: 30%;
              text-align: center;
              overflow: hidden;

              img {
                margin: 0 -50%;
              }
            }

            .banner-txt {
              background: transparent;
              overflow: hidden;
              width: 59%;
              padding: 15px 5% 10px;
              .rounded-corners(0);
            }
          }
        }
      }
    }
  }

}