.border-radius(@radius) {
  -webkit-border-radius: @radius; 
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.aboutus-mediacentre {
    h1 {
        margin-top: 60px;
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 1em;
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
    }

    h3.title {
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
        color: #2c303a;
        font-size: 18px;
        line-height: 30px;
        margin-top: 0;
        margin-bottom: 16px;
    }

    a.more {
        display: inline-block;
        margin-top: 10px;
        padding-left: 11px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAGCAMAAADT589HAAAANlBMVEWW2On4/f35/f4ptNWW2OkAocthxt/4/f1CvNms4O0Ansn8/v6r4O4AnspCvNr5/f77/v4Am8itI8uIAAAAA3RSTlMAAAD6dsTeAAAAJElEQVQI12NgZeNmZGAR5GBnYODkYmZg4OFlBnL5+BlY2QSYAApJAL2GiNXSAAAAAElFTkSuQmCC");
        background-repeat: no-repeat;
        background-position: 2px 7px;
        outline: none !important;

        &:hover {
            text-decoration: underline;
        }
    }

    .ucPressRelease {
        margin-top: 30px;
    }

    .filter-box {
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .col-sm-3.col-xs-12 {
            padding-left: 7.5px;
            padding-right: 7.5px;

            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }

            .control-label {
                display: inline-block;
                font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
                font-size: 14px;
                padding-bottom: 5px;
                margin-bottom: 5px;
                font-weight: bold;
            }

            select {
                padding: 0 12px;
                font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
                font-weight: normal;
                display: block;
                width: 100%;
                height: 34px;
                font-size: 14px;
                line-height: 1.42857143;
                color: #555;
                vertical-align: middle;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
                -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
                -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
                -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
                -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
                -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
                -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
                -webkit-transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
                -moz-transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
                -o-transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
                transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
            }

            .btn.btn-blue-solid.btn-sm {
                font-family: "DuCoHeadlineBold",Arial,sans-serif;
                padding: 8px 10px;
                line-height: normal;
                .border-radius(8px) !important;
                letter-spacing: .8px;
                outline: none !important;
                margin: 0;
                margin-top: 25px;
                background-color: #00b1d3;
                border: 1px solid #00a9ca;
                color: #fff !important;
                text-decoration: none;
                font-size: 12px;
                display: inline-block;
                font-weight: normal;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                height: auto;
                box-shadow: none !important;
                min-width: 0;

                &:hover {
                    background-color: #007c9a !important;
                }
            }
        }
    }

    #pMediaCentreNews {
        padding: 0 !important;

        .news {
            padding: 16px 0;
        }
    }

    .pagination {
        position: static;
        height: auto;

        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .RadDataPager.RadDataPager_Default {
            border: none !important;
            background: none !important;
            color: #333;
            display: block;
            min-height: 22px;
            padding: 3px 0;

            .rdpWrap {
                float: left;
                padding: 0 10px;
                line-height: 22px;
                white-space: nowrap;

                &.rdpNumPart {
                    position: relative;
                    top: -2px;
                }

                a {
                    font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
                    padding: 0 5px;
                    float: left;
                    margin: 0;
                    line-height: 22px;
                    text-decoration: none;

                    &.rdpCurrentPage {
                        color: #2c303a;
                        pointer-events: none;
                    }

                    &:hover {
                        color: #d62bad;
                    }
                }

                .rdpPagePrev, .rdpPageNext {
                    left: auto;
                    width: 19px;
                    height: 19px;
                    background: transparent;
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAATCAMAAADh5H4tAAAAkFBMVEX///8AsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdMAsdP////A7PRv0+bn+Pvz+/171+gDstR+2Oly1Od41ugnvdozwdyB2OmH2uqf4u6r5fG36fM/xN7D7fXJ7vbS8ffb9Pnk9/pCxd7w+vxOyeD5/f78/v5dzeNqR8X2AAAAEnRSTlMABgkVGx54e4GHisDDyeTn9vkFrNkiAAAA/0lEQVR4XpWT2Y6DMAxFSwtdQimNnbB13ffl//9uKpOYjJRoNOflIs41ecDpEfEoncEsHcW9X4RkJOaVuuFNVXMR8duwHGS6xJZSZwOuhmSUNdjRZHxGSE40uugJt/0ylg90eciE61453qDhcKTYjLlv5fFA0crpCYn9GoAeTlPuWwmw3qOVefHN924FYAaKnPskaQBgtXu3Ur6+ua2BB16S+yTNANRbkuYj189fJ3yuRqYKicvTDKiU+1YCPC9o5XCJhvOdYjnkvpX3M0UrE1miS+n8B78UGl206Poe+f9dooVc8EIu3G0Nyr6QlSqwUJUU/a7rl3ypcsiDN86VPxhLLfHrIgasAAAAAElFTkSuQmCC);
                    background-repeat: no-repeat;
                    margin-right: 1px;
                    border: 0;
                    margin: 0;
                    vertical-align: bottom;
                    font-size: 1px;
                    cursor: pointer;

                    &:hover {
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAATCAMAAADh5H4tAAAAkFBMVEX////WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63WK63////1y+voh9H76/f99fvqkdXWLa7qlNboitLpj9TcS7reVb3rltbsm9jwr+DxueTzw+jgX8H1zez20u742vH54fP76fbhYsL98/rjbMb++v3//f7leMv29eVAAAAAEnRSTlMABgkVGx54e4GHisDDyeTn9vkFrNkiAAAA/0lEQVR4XpWT2Y6DMAxFSwtdQimNnbB13ffl//9uKpOYjJRoNOflIs41ecDpEfEoncEsHcW9X4RkJOaVuuFNVXMR8duwHGS6xJZSZwOuhmSUNdjRZHxGSE40uugJt/0ylg90eciE61453qDhcKTYjLlv5fFA0crpCYn9GoAeTlPuWwmw3qOVefHN924FYAaKnPskaQBgtXu3Ur6+ua2BB16S+yTNANRbkuYj189fJ3yuRqYKicvTDKiU+1YCPC9o5XCJhvOdYjnkvpX3M0UrE1miS+n8B78UGl206Poe+f9dooVc8EIu3G0Nyr6QlSqwUJUU/a7rl3ypcsiDN86VPxhLLfHrIgasAAAAAElFTkSuQmCC');
                    }
                }

                .rdpPagePrev {
                    right: 29px;
                    background-position: 0 0;
                }

                .rdpPageNext {
                    right: 0;
                    background-position: -29px 0;
                }
            }
        }
    }




    .ucPressRelease > div {
        background-color: #FBFBFB !important;
        border: 1px solid #EFEFEF !important;
        border-radius: 8px;
        margin-bottom: 15px !important;
        padding: 18px 38px !important;
    }

    .news .date {
        color: #A3A3A3 !important;
        font-size: 11px !important;
        margin-bottom: 5px !important;
    }
    .news p {
        color: #2C303A !important;
        font-size: 12px !important;
        margin-bottom: 10px !important;
    }

    .news a.heading,
    .news a.press-release-title {
        color: #00B1D3 !important;
        font-size: 12px !important;
        font-weight: bold !important;
    }

    .news a.more {
        color: #00AAD3 !important;
        font-size: 13px !important;
    }


    .filter-box {
        border-bottom: 1px solid #EBEBEB !important;
        border-top: 1px solid #EBEBEB !important;
        padding: 12px 0 24px !important;
    }

    .ucNewsList > div {
        padding: 16px 0 !important;
    }
    
    /* ----------------------------------------------------------------------- */
    /* #region ucPressReleases styles */
    /* ----------------------------------------------------------------------- */
    .news {
    .date {
        color: #a3a3a3;
        font-size: 11px;
        margin-bottom: 5px;
    }

    a.heading,a.headlink,a.press-release-title {
        font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
        font-size: 12px;
        color: #00b1d3;
        font-weight: bold;

        &:hover {
            text-decoration: underline !important;
        }
    }
    a.headlink {
        color: #09c;
    }

    p {
        font-size: 12px;
        color: #2c303a;
        margin-bottom: 10px;
    }

    a.more {
        font-size: 13px;
        color: #00aad3;
    }
    }

    .ucPressRelease {
    > div {
        padding: 18px 38px;
        background-color: #fbfbfb;
        border: 1px solid #fff;
        .border-radius(8px);
        margin-bottom: 15px;

        @media only screen and (min-width: 480px) and (max-width: 767px) {
            padding: 15px;
        }

        @media only screen and (max-width: 479px) {
            padding: 15px;
        }
    }
    }

    .ucNewsList {
    > div {
        padding: 16px 0;
    }

    .pagination {
        clear: both;
        padding-top: 15px;
        border-top: 1px solid #dedede;
        margin: 0;
        width: 100%;

        .arrow {
        width: 19px;
        height: 19px;
        background-image: url("/carousel-control.png");
        background-repeat: no-repeat;
        margin-right: 10px;
        float: left;

        [dir=rtl] & {
            float: right;
        }

        &.disabled {
            .opacity(.5);
        }

        &:hover, &:focus, &:active {
            background-image: url("/carousel-control-hover.png");
        }

        &.next-arrow {
            background-position: -29px 0;
            right: 0;
            left: auto;
        }

        &.prev-arrow {
            background-position: 0 0;
            right: 29px;
            left: auto;
        }
        }

        ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            float: left;
            margin: 0 0 0 3px;
            background-color: #fff;
            padding: 0 4px;

            [dir=rtl] & {
                float: right;
            }

            a {
            font-size: 11px;
            }

            &.page {
            padding: 0;

            a {
                display: block;
                width: 19px;
                height: 19px;
                line-height: 17px;
                text-align: center;
                font-size: 11px;
            }

            &.active {
                a {
                border: 1px solid #dedede;
                .border-radius(8px);
                color: #575757;
                }
            }
            }
        }
        }
    }
    }

    .filter-box {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 12px 0 24px;

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        padding: 0 0 24px;

        .control-label {
        padding: 19px 0 6px;
        }
    }

    @media only screen and (max-width: 479px) {
        padding: 0 0 24px;

        .control-label {
        padding: 19px 0 6px;
        }
    }
    }

    .ucform {
    .bootstrap-select {
        .btn-default {
        padding: 11px 8px;
        border: 1px solid #dedede;
        background-color: #fefefe;
        color: #b1b1b1;
        font-size: 12px;
        .box-shadow(0px 1px 2px, 0px, 232, 232, 232, 1);
        .border-radius(8px);
        }

        .btn {
        .caret {
            top: 0;
            right: 0;
            .border-radius(0 8px 8px 0);
            width: 25px;
            height: 100%;
            margin-top: 0;
            // background-image: url("@{root}select-caret.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-color: #f7f8f9;
            border: none;
            border-left: 1px solid #dedede;
        }
        }
    }
    }
    /* ------------------------------------------------------------------------*/
    /* #endregion */
    /* ----------------------------------------------------------------------- */
 
}