.payment-plans {

  margin: 20px 0 0;

  .icon.icon-credit-card.midium {
    margin: -16px 0 0 -24px !important;

    &:before {
      font-size: 32px;
    }
  }

  h3.title {
    color: #323434;
    font-family: 'DuCoHeadlineRegular';
  }

  .dropzone {
    margin: 30px 0;
    padding: 15px 30px;
    width: 100% !important;
    background-color: @verylightgrey;
    border: 1px dashed @bordergrey;

    .dz-message {
      padding: 15px 0 !important;
      margin-bottom: 0 !important;
    }

    &.dz-drag-hover {
      border-color: @bordergrey;
      background: @white;
    }

    .dz-preview {
      .dz-progress {
        width: 50%;
      }
      .dz-details {
        .defaulttextalign();
      }
    }

  }

  > .alert {
    .wiggle;
  }


  .plans-accordion {

    .pagination-container {
      text-align: center;
      width: 100%;
      height: 47px;

      ul.pagination {
        width: auto;
        text-align: center;
        margin-top: 0.5em;
        float: none;
        color: rgb(51, 51, 51);
        padding-top: 0.25em;
        position: relative;
        display: inline-block;
        bottom: 0;
        height: 36px;
        overflow: initial;
        clear: initial;

        li {
          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          &:hover a {
            color: rgb(0, 121, 184);
          }

          &.active {
            border-image-source: initial;
            border-image-slice: initial;
            border-image-width: initial;
            border-image-outset: initial;
            border-image-repeat: initial;
            color: rgb(255, 255, 255);
            border-width: 0px;
            border-style: none;
            border-color: initial;
            background: rgb(0, 153, 204);

            &:hover {
              background: rgb(0, 180, 218);
            }

            a {
              color: rgb(255, 255, 255);
            }
          }

          color: rgb(0, 153, 204);
          border-width: 1px;
          border-style: solid;
          border-color: rgb(221, 221, 221);
          background: rgb(255, 255, 255);

          border-radius: 0;
          cursor: pointer;
          height: 32px;
          font-family: 'DuCoHeadlineRegular';
          font-size: 14px;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 32px;
          text-align: center;
          min-width: 45px;
          overflow: hidden;
          padding: 0px 10px;
          margin: 0px;
          box-sizing: border-box;
          display: inline-block;
          text-decoration: none;

          a {
            display: inline;
            background: none;
            font-size: 16px;
            text-indent: initial;
            overflow: initial;
            width: initial;
            height: initial;
          }
        }
      }
    }

    > ul.list {

      > li {

        padding: 0;
        border: 1px solid @bordermedgrey;
        background-color: @white;
        .defaulttextalign();
        overflow: visible;
        margin-bottom: 20px;

        h4 {
          .FontCoHeadlineRegular();
        }

        .plan-head {
          background-color: @verylightgrey;
          padding: 10px 15px;
          border-bottom: 1px solid @bordermedgrey;
          position: relative;

          .plan-nn-container.accordion-head.accordion-list {
            height: 46px;

            .account-elem-selector {
               width: 40px;
               line-height: 15px;
               margin-left: 0;
               float: left;

               .group {
                  width: 50px;
                  position: relative;

                  .ch-control {
                     position: absolute;
                     top: 0;
                  }
               }

               &-value {
                 display: none;
               }
            }

            .account-elem-accountnum {
               width: auto; 
               line-height: 15px; 
               border-left: solid 1px #DDD;
               padding-left: 15px; 
               float: left; 
               padding-top: 5px; 
               padding-bottom: 5px;

               h4 {
                 margin-top: 0;

                 .icon.icon-exclamation {
                   display: none;
                    margin-left: 5px;
                    line-height: 12px;

                    &:before {
                      font-size: 13px;
                    }
                 }
               }

                .payment-plan-title {
                    .ellips;
                    width: 350px;
                }

                @media (max-width: @screen-sm-max) {
                  width: 80%;

                  .payment-plan-title {
                    width: 100%;
                  }
                }
            }

            .account-elem-mobile {
              width: 25%;
              line-height: 15px;
              margin-left: 1em;
              float: left; 
              padding-top: 5px; 
              padding-bottom: 5px;

              &-label {
                margin: 0 0 5px 0;
              }

              &-value {
                font-family: 'DuCoHeadlineRegular';
              }

              .payment-plan-mobile {
                display: none;
              }
            }
          }

          .cell:first-child {
            @media (max-width: @screen-sm-max) {
              width: 80%;
            }

            .accordion-head.accordion-list {
              height: 66px;
            }
          }

          .last-col {
            width: 22%;
            text-align: right;
            @media (max-width: @screen-sm-max) {
              text-align: center;
              width: 15%;
            }
          }

          .arrow {
            bottom: 5px;

            .accordion-action {
              @media (min-width: @screen-md-min) {
                &.show:before {
                  content: "Show Details";
                  white-space: nowrap;
                  position: absolute;
                  top: 0;
                  right: 25px;
                }

                &.hide:before {
                  content: "Hide Details";
                  white-space: nowrap;
                  position: absolute;
                  top: 0;
                  right: 25px;
                }
              }
            }
          }


          .bullets {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -15px;
          }

        }

        .alert {

          display: none;

          border: 0 none;
          border-bottom: 1px solid @bordermedgrey;
          padding: 10px;
          .rounded-corners2(0,0,0,0);
          text-align: center;
          margin-bottom: 0;

          &.warning {
            color: #eb6642;
          }
        }

        &.suspended {

          .plan-head .plan-nn-container.accordion-head.accordion-list .account-elem-accountnum h4 .icon.icon-exclamation {
            display: inline-block;
          }
          .alert {
            display: block;
          }
        }

        .plan-content {
          padding: 0 25px;
          .defaulttextalign();

          &.plan-content-active {
            overflow: visible;
          }

          .existing-plan {
            padding: 15px;
            border-right: 1px solid @bordermedgrey;

            table {
              margin-top: 20px;
            }

            &:after {
              .icon(30px);
              content: '\e852';
              color: @lightgrey;
              position: absolute;
              right: -15px;
              top: 50%;
              z-index: 100;
              margin-top: -12px;
              background-color: @white;
            }

            @media (max-width: @screen-sm-max) {
              border-right: 0;
              border-bottom: 1px solid @bordermedgrey;

              &:after {
                right: auto;
                left: 50%;
                .margin-left(-10px);
                top: auto;
                bottom: -15px;
                .rotation(90deg);
              }
            }

            .due-amount-container, .due-date-container {
              margin-top: 0;

              &-label {
                vertical-align: middle;
              }

              &-value {
                width: 50%;
                vertical-align: middle;
                font-family: 'DuCoHeadlineRegular';

                .spinner.hide {
                  display: none;
                }

                &-text.hide {
                  display: none;
                }
              }

              @media (max-width: @screen-sm-max) {
                margin-bottom: 5px;
              }
            }
          }

          .new-plan {
            height: 48px;
            padding: 15px 25px;

            @media (max-width: @screen-sm-max) {
              padding: 15px;
              height: 75px;
            }

            @media (min-width: @screen-md-min) {
              line-height: 66px;
            }

            .selectric {
            }

            .pay-amount-container {
              margin-top: -10px;

              @media (max-width: @screen-sm-max) {
                  margin-top: 5px;
                }

              .pay-amount-label {
                vertical-align: middle;

                @media (max-width: @screen-sm-max) {
                  width: 50%;
                }
              }

              .pay-amount-input {
                vertical-align: middle;

                .control.payamount {
                  width: 100%;
                }
              }
            }

          }

          table {
            width: 100%;
            margin: 10px 0 0;
            tr {
              td, th {
                padding: 5px 0;
              }
            }
          }

        }
      }
    }
  }
  

  .box-btn {

    display: block;
    .floatleft();
    border: 1px solid @grey;
    .rounded-corners(3px);
    margin: 0 0 20px;

    &:hover {
      background-color: @verylightgrey;
      //.box-shadow-left-only();

      .icon-wrapper {
        //.box-shadow-left-only();
        background-color: #00a9ce;
      }

    }

    .icon-wrapper {

      display: block;
      height: 150px;
      background-color: @blu;
      width: 100%;
      text-align: center;
      //.rounded-corners2(2px, 2px, 0, 0);
      .floatleft();

      @media (max-width: @screen-sm-max) {
        //width: 30%;
        //height: 100px;
        //.rounded-corners2(2px, 0, 0, 2px);
      }

      .icon-circle {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        margin: 25px 0;
        .rounded-corners(50%);
        background: @white;

        @media (max-width: @screen-sm-max) {
          //width: 70px;
          //height: 70px;
          //.floatleft();
          //margin: 15px;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -24px 0 0 -24px;
        }

        [class^="icon-"]:before,
        [class*=" icon-"]:before {

        }
      }
    }

    .text {

      display: inline-block;
      .CoHeadlineLightRegular(1.2);
      color: @darkergrey;
      padding: 15px;
      height: 94px;

      @media (max-width: @screen-sm-max) {
        height: auto;
      }
    }

    .btn {
      margin-bottom: 15px;
      min-width: 90%;
    }

  }

.bullets {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 6px 0;
  text-align: center;
  .CoHeadlineRegular(1em);
  .rounded-corners(50%);
  background-color: @blu;
  color: @white;
  margin: 0 -15px;
  position: relative;
  z-index: 100;
}
}

.payment-plans-sticky {

  a.btn[disabled] {
    pointer-events: none;
  }
  
  &.sticky-top,
  &.sticky-bottom {

  padding: 20px 0 30px;
  height: auto;
  background-color: @verylightgrey;
  border-top: 1px solid @bordergrey;
  border-bottom: 1px solid @bordergrey;

  .title-bold {
    font-family: 'DuCoHeadlineRegular';
  }

  table.search-subtitle {
    width: 100%;
    line-height: 20px;
  }

  .group.search-container {
    margin-top: 15px;
    position: relative;

    &:before {
      position: absolute;
      font-size: 24px;
      top: 10px;
      right: 10px;
      color: #dddddd;
    }
  }

  .control.search {
    height: 44px;
    padding-right: 40px;
  }

  form {
    margin: 0;

    .header-totalbill-value {
      text-align: left;
      font-family: 'DuCoHeadlineRegular';
    }

    h3 {
    }
    .group {
      margin: 0;
      .control {
        .floatright();
        width: inherit;
        text-indent: 7px;
        @media (max-width: 480px) {

        }
      }
      .btn {
        margin: 15px 0 0;
        width: inherit;
        //float: none;
      }
      .bullets {
        bottom: -3px;
      }
    }
    table {
      width: 70%;
      margin: -5px 0;
      tr {
        td, th {
          padding: 0 0 5px;
        }
      }
    }

    .help {
      display: none;
    }
  }

  .footer-totalbill-value {
    font-size: 14px;
    font-family: 'DuCoHeadlineRegular';
    width: 50%;
    float: left;
  }

  .sticky-content {
    max-width: 1015px;
    margin: auto;
    @media (max-width: @screen-xl-max) {
      max-width: 810px;
    }
    @media (max-width: @screen-lg-max) {
      max-width: 810px;
    }
    @media (max-width: @screen-md-max) {
      max-width: 740px;
    }

    .open {

      h3.black {
        display: none;
      }

    }

    .closed {

      h3.title {
        display: none;
      }
      h3.black {
        display: block;
        margin: 0;
      }
      form {
        table {
          display: none;
        }
      }

    }


    .breakdown {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 999;

      &:after {
        .icon(14px);
        content: '\e80d';
      }
      &.hide:after {
        content: '\e80e';
      }
    }

    @media (max-width: @screen-md-max) {
      max-width: 50%;
    }
  }

  &.floating {
    width: 200%;
    //position: relative;
    //z-index: 500;
    //.floatleft();
    //top: auto;
    //left: auto;
    //right: auto;
    margin: -10px -50% 0;
    .clearfix();
  }

}

  &.sticky-bottom {
    @media (max-width: @screen-md-max) {
      .sticky-content {
        max-width: 100%;
      }
    }
  }

  &.sticky {
  position: fixed;
  width: auto !important;
  z-index: 500;

  .box-shadow(0px, 5px, 25px, -14px, rgba(0,0,0,0.75));

  .animatedSlower();

  &.sticky-top {
    top: 41px;
    @media (max-width: @screen-md-max) {
      right: 40px;
      left: 40px;
    }
  }

  &.sticky-bottom {
    top: auto;
    bottom: 0;
  }

  @media (max-width: 999px) {
    left: 0;
    right: 0;
  }
  @media (min-width: 1000px) {
    left: 160px;
    right: 0;
  }
  @media (min-width: 1170px) {
    right: 160px;
  }

}
}

#payment-plans-list-store {
  .payment-plans {
    .list-select-option-button {
      width: auto;
      background-color: #f8f8f8;
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-bottom: 2px solid #ddd;
      cursor: pointer;
      margin: 0;

      &.select-all {
        font-family: 'DuCoHeadlineRegular';
      }

      &.show-only-selected {
        float: right;
      }

      @media (max-width: @screen-xs-max) {
        width: 45%;
        height: 61px;
      }
    }
  }
}

// MODALS
#modal-mobilenumbers {
  // Fix for bad positioning due to scrollable content
  top: 15% !important;

  h3.title {
    padding-top: 0;
    margin-bottom: 10px;
  }

  div.details {
    overflow-y: auto;
    max-height: 200px;
    margin-right: 10px;
  }
}

#modal-summary {
  // Fix for bad positioning due to scrollable content
  top: 15% !important;

  #modal-summary-accounts {
    .modal-summary-accounts-total {
      font-family: 'DuCoHeadlineRegular';
      background-color: #f8f8f8;
    }
  }
}