.modTables {
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 315px;
    display: block;
    @media screen and (min-width: @screen-sm-max) {
        &:hover {
            .buttonScroll {
                opacity: 1;
                filter: alpha(opacity=100);
            }
            .buttonScroll.inactive {
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
    }
    h3.title {
        .modTitle;
        padding-bottom: 25px;
    }
    .itemsW {
        overflow: hidden;
        position: relative;
        //height: 310px !important;
        margin-bottom: 20px;
    }
    .pagination {
        bottom: 0;
    }
    .items {
        position: absolute;
        top: 0;
        .posleft(0);
        .animatedSlower;
        width: 9999px;
        .item {
            .floatleft();
            min-height: 205px;
            height: auto;
            width: 100%;
            padding: 5px 0 10px 0;
            position: relative;
        }
    }
    @media screen and (min-width: 320px) {
        margin: 0 0 30px 0;
        .itemsW {
            width: calc(100vw ~'- 60px');
            margin: auto;
        }
        .items {
            width: 99999px;
            .item {
                width: calc(100vw ~'- 60px');
            }
        }
    }
    @media screen and (min-width: 480px) {
        .itemsW {
            width: calc(100vw ~'- 60px');
        }
        .items {
            width: 99999px;
            .item {
                width: calc(100vw ~'- 60px');
            }
        }
    }
    @media screen and (min-width: 768px) {
        .itemsW {
            width: 738px;
        }
        .items {
            width: 99999px;
            .item {
                width: 738px;
            }
        }
    }
    @media screen and (min-width: 1000px) {
        margin: 0 0 10px 0;
        .itemsW {
            width: 810px;
        }
        .items {
            width: 99999px;
            .item {
                width: 810px;
            }
        }
    }
    @media screen and (min-width: 1600px) {
        .itemsW {
            width: 1014px;
        }
        .items {
            .item {
                width: 1014px;
            }
        }
    }
}

.standard-table {
    border-bottom: 2px solid @linemedgrey;
    clear: both;
    float: none;
    margin-bottom: 30px;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
    .text-center;
    .CoHeadlineLightRegular();
    tr {
        border-bottom: 1px solid @linemedgrey;
    }
    th {
        line-height: 14px;
        background-color: @verylightgrey;
        border: 1px solid @linemedgrey;
        font-size: 1em;
        font-weight: normal;
        padding: 20px;
        &:first-child {
            .rounded-corners2 (5px, 0, 0, 0);
        }
        &+th {
            .clearborderleft();
        }
        &:last-child {
            .rounded-corners2 (0, 5px, 0, 0);
        }
        &:only-child {
            .rounded-corners2 (5px, 5px, 0, 0);
            border-width: 1px;
        }
    }
    td {
        font-size: 1em;
        padding: 10px 20px;
        vertical-align: top;
        border: 1px solid @linemedgrey;
        border-left-width: 0;
        border-right-width: 0;
    }
}

[dir='rtl'] {
    .standard-table {
        th {
            &:first-child {
                .rounded-corners2 (0, 5px, 0, 0);
            }
            &:last-child {
                .rounded-corners2 (5px, 0, 0, 0);
            }
        }
    }
}
