.b-b {
    border-bottom: 1px solid #cbcbcb;
}

.b-t {
    border-top: 1px solid #cbcbcb;
}

.bg-light-grey {
    background: @linemedgrey;
}

.rounded-corners-3 {
    .rounded-corners(3px);
}

.inl-blk {
    display: inline-block;
}

//Padding
.p-10 {
    padding: 10px;
}

.p-h-9 {
    padding-right: 9px;
    padding-left: 9px;
}

.p-v-21 {
    padding-top: 21px;
    padding-bottom: 21px;
}

.p-r-n {
    padding-right: 0px!important;
}

.p-t-n {
    padding-top: 0px!important;
}

.p-l-n {
    padding-left: 0px!important;
}

.p-b-n {
    padding-bottom: 0px!important;
}

.p-h-9 {
    padding-right: 9px;
    padding-left: 9px;
}

.p-v-21 {
    padding-top: 21px;
    padding-bottom: 21px;
}

//END
.v-m {
    vertical-align: middle!important;
}

// margin-helpers
.m-t-10 {
    margin-top: 10px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-10-sm {
    @media (min-width: @screen-sm) {
        .m-t-10;
    }
}

.m-b-5-sm {
    @media (min-width: @screen-sm) {
        .m-b-5;
    }
}

.m-l-14 {
    margin-left: 14px;
}

.m-l-14-sm {
    @media (max-width: @screen-md ) {
        .m-l-14;
    }
}

.m-l-50 {
    margin-left: 50px;
}

.m-l-50-sm {
    @media (max-width: @screen-md ) {
        .m-l-50;
    }
}

.m-l-37 {
    margin-left: 37px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-r-n {
    margin-right: 0px!important;
}

.m-t-n {
    margin-top: 0px!important;
}

.m-l-n {
    margin-left: 0px!important;
}

.m-b-n {
    margin-bottom: 0px!important;
}

.m-l-auto {
    margin-left: auto;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-b-10 {
    margin-bottom: 10px;
}

//End margin-helpers


//width helpers
.w-full {
    width: 100%;
}

.w-135-sm {
    @media (min-width: @screen-md) {
        width: 135px;
    }
}

.w-30-per {
    width: 30%;
}

.w-30-per-sm {
    .w-30-per;
    @media (max-width: @screen-md) {
        .w-full;
    }
}

.w-40-per {
    width: 40%;
}

.w-90-per {
    width: 90%;
}

.w-90-per-sm {
    @media (max-width: @screen-md) {
        .w-90-per;
    }
}

.w-150 {
    width: 150px;
}

//END width helpers


.opacity-0 {
    opacity: 0;
}

.text-center-imp {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}

.text-right {
    text-align: right!important;
}

.f-r {
    float: right;
}

.f-n,
.btn.f-n {
    float: none;
}

//height
.h-a-imp {
    height: auto!important;
}
//END height


.last-td-left td:last-child {
    text-align: left;
}
