@tablet:    ~"only screen and (max-width: 800px)";
@mobile:    ~"only screen and (max-width: 480px)";
@mobile-landscape:    ~"only screen and (max-height: 480px) and (orientation:landscape)";
@mobile-sm:    ~"only screen and (max-width: 380px)";
@mobile-sm-landscape:    ~"only screen and (max-height: 380px) and (orientation:landscape)";
@mobile-xs:    ~"only screen and (max-width: 320px)";


body.locked {
    overflow-y: hidden;
}
.du-package-request-wrap {
    margin: 0;
    padding: 0px 0 100px;

    @media @tablet {
        padding-top: 0; padding-bottom: 20px;
    }

    * {
        box-sizing: border-box;
    }
    h1 {
        .newDuBold();
        font-size: 30px;
        line-height: 1em;
        margin-top: 20px;
        margin-bottom: 30px;

        @media @mobile {
            margin-top: 20px; margin-bottom: 20px;
            font-size: 20px;
        }
    }


    .intro {
        padding: 0 0 35px;
        border-bottom: #95989A solid 1px;

        @media @mobile {
            padding-bottom: 25px;

            p {
                margin: 0;
            }
        }
    }

    .multi-decoder-select {
        position: relative;
        top: 25px;

        @media @mobile {
            padding-bottom: 20px;
        }

        h3 {
            font-size: 18px; 
            color: #333;
            padding: 0 0 15px;
            .newDuBold();

            @media @mobile {
                font-size: 14px; max-width: 230px;
                .newDuMedium();
                line-height: 1.3em;
            }
        }
        .decoder-item {
            
            label {
                position: relative;
                display: block;
                padding: 20px 15px;
                border: #ddd solid 1px;
                border-radius: 8px;
                .user-select();

                @media @mobile{
                    line-height: 1.7em;
                }

                span {
                    .newDu();
                    font-size: 13px; 
                    display: block;
                    padding: 0 0 6px;
                }
                strong {
                    display: block;
                    .newDuMedium();
                }

                &:after {
                    font-family: 'duicons';
                    box-sizing: border-box;
                    // content: '\e816';
                    content: '\e862';
                    position: absolute; right: 15px; top: 50%;
                    margin: -15px 0 0;
                    width: 30px; height: 30px;
                    text-align: center; font-size: 20px; line-height: 30px;
                    color: #fff;
                    border: #ddd solid 1px;
                    border-radius: 8px;
                    // background: #eee;
                    transition: all 150ms ease-out;
                    /*background: #eee url(../images/check_white_2x.png) 50% 50% no-repeat;
                    background-size: 20px auto;*/
                }
                [dir="rtl"] &:after {
                    right: auto; left: 15px;
                }
                &:hover {
                    background-color: #f7f7f7;
                    cursor: pointer;
                }
                
            }


            input[type=checkbox],
            .icheckbox_minimal {
                display: none;
            }
            
            .checked + label {
                border: #01A9CE solid 1px;

                &:after {
                    /*background: #39c url(../images/check_white_2x.png) 50% 50% no-repeat;
                    background-size: 20px auto;*/
                    background-color: #39c;
                    border-color: #39c;
                }
            }

            @media @tablet {
                margin-bottom: 15px;
            }

        }

        .help {
            padding: 10px 0 0;
        }
        .help a {
            .newDu();
            color: #01A9CE;
        }
    }

    .du-package-wrap {
        position: relative;
        .lid {
            display: none;
        }
        &.disabled .lid {
            display: block;
            position: absolute; left: 0; top: 0;
            width: 100%; height: 100%;
            background: rgba(255,255,255,.7);
        }
    }

    .du-package-tabs {
        padding: 40px 0 50px;
        & > span {
            display: inline-block;
        }
        a {
            .newDu();
            display: block;
            margin: 0 0 10px;
            padding: 15px;
            text-align: center;
            font-size: 16px;
            border: #ddd solid 1px;
            border-radius: 8px;

            &.active {
                .newDuMedium();
                color: #fff;
                background: #01A9CE;
                border-color: #01A9CE;
            }

            &:hover {
                background-color: #fafafa;
            }
            &.active:hover {
                background: #01A9CE;
                opacity: .9;
            }
        }

        @media @mobile {
            padding-bottom: 30px;
            .row {
                margin-left: -5px; margin-right: -5px;
            }
            .col-xs-6 {
                padding-left: 5px; padding-right: 5px;
            }
        }
    }

    .network-wrap {
        width: 100%;
        margin-bottom: 50px;
        transform-origin: top left;

        @media @mobile {
            margin-bottom: 30px;
        }

        [dir="rtl"] & {
            transform-origin: top right;
        }

        h2 {
            padding: 0 0 30px;
            @media @mobile {
                font-size: 20px;
                padding-bottom: 20px;
                .newDuMedium();
            }
        }
        .net-item {
            padding: 18px 0 18px 18px;
            border: #ddd solid 1px;
            border-radius: 8px;
            margin-bottom: 20px;

            &.selected {
                background: #f7f7f7;

                .btn1 {
                    position: relative;
                    border-color: #66CC33;
                    color: #66CC33;
                    text-indent: 15px;
                    /*background: url(../images/check_2x.png) left 17px top 50% no-repeat;
                    background-size: 20px auto;*/
                    cursor: default;

                    &:after {
                        font-family: 'duicons';
                        // content: '\e816';
                        content: '\e862';
                        font-size: 20px; line-height: 1.3em;
                        text-indent: 0;
                        color: #66cc33;
                        position: absolute;
                        left: 20px; top: 50%; margin: -12px 0 0;
                    }

                    [dir="rtl"] &:after {
                        // background-position: right 17px top 50%;
                        left: auto; right: 20px;
                    }

                }

                @media @mobile {
                    .rate {
                        color: #888;
                    }
                }
            }

            @media @mobile-xs {
                padding-left: 8px;
            }

            [dir="rtl"] & {
                padding-left: 0; padding-right: 18px;
            }

        }

        .details {
            display: inline-block;
            vertical-align: middle;
            width: 67%;
            font-size: 16px;

            h3 {
                .newDuMedium();
                font-size: 18px;
                color: #333;
                padding: 0 0 5px;
            }
            .channel {
                color: #01A9CE;
                display: inline-block;
                padding: 0 8px 0 0;
                font-size: 16px;
                .newDu();
                i {
                    margin-left: 10px;
                }
                [dir="rtl"] & {
                    padding-right: 0; padding-left: 8px;
                }
            }
            .rate {
                display: inline-block;
                padding: 0 10px;
                border-left: #95989A solid 1px;
                [dir="rtl"] & {
                    border-left: 0; border-right: #95989A solid 1px;
                }
            }


            @media @mobile-sm {
                font-size: 13px;
                h3 {
                    font-size: 16px;
                }
                .channel {
                    font-size: 13px;
                }
            }
            @media @mobile-xs {
                font-size: 11px;
                h3  {
                    font-size: 14px;
                }
                .channel {
                    font-size: 12px;
                }
            }
        }
        
        .action {
            display: inline-block;
            vertical-align: middle;
            width: 30%;
            text-align: right;

            [dir="rtl"] & {
                text-align: left;
            }

            .btn1 {
                .newDu();
                display: inline-block;
                min-width: 165px;
                padding: 13px 20px;
                text-align: center;
                border: #01A9CE solid 1px;
                border-radius: 30px;
                font-size: 16px;

                &:hover {
                    background-color: #fafafa;
                }
                
            }
        }
        .promo {
            position: relative; left: -2vw;
            display: inline-block; vertical-align: middle;
            width: 25%;
            &:before {
                content: ''; position: absolute; top: 0; left: -20px; left: -4vw;
                width: 1px; height: 105%; background: #d8d8d8;
            }
            span {
                color: #c39; padding: 5px 0 0;
                display: block;
                strong {
                    display: inline-block;
                }
            }
        }
        .with-promo {
            .details {
                width: 47%;
            }
            .action {
                width: 25%;
            }

            @media screen and (max-width:600px) {
                position: relative;
                .details {
                    width: 67%; padding-bottom: 25px;
                }
                .action {
                    width: 18%;
                }
                .promo {
                    position: absolute; left: 18px; bottom: 10px;
                    width: 90%;
                    &:before {
                        display: none;
                    }
                }
            }
            @media @mobile {
                .details {
                    width: 80%;
                }
            }
            @media @mobile-xs {
                .promo {
                    left: 8px; font-size: 12px;
                }
            }
        }

        @media @mobile {
            .net-item {
                padding-top: 8px; padding-bottom: 8px;
            }
            .details {
                width: 80%;
            }
            .action {
                width: 18%;
            }
            .action .btn1 {
                border-color: #333;
                width: 30px; height: 30px; min-width: 0;
                padding: 0;
                margin-right: 10px;
                text-indent: -9999em;
                [dir="rtl"] & {
                    margin-right: 0; margin-left: 10px;
                }
            }
            .net-item.selected {
            }
            .net-item.selected .btn1 {
                text-indent: -9999em;
                border-color: #66cc33;
                background: #66cc33;
                &:after {
                    left: 0; width: 100%;
                    color: #fff; font-size: 20px; line-height: 1.3em;
                }
                [dir="rtl"] & {
                    background-position: 50% 50%;
                }
            }
        }

        @media @mobile-xs {
            h2 {
                padding-bottom: 10px;
            }
            .net-item h3 {
                padding-bottom: 0;
            }
            .action .btn1 {
                margin-right: 5px;
            }
        }
    }
}

.pull-up-msg-box {
    display: none;
    position: fixed; z-index: 9999;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);

    .escape {
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
    }

    .msg-box-content {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        min-height: 300px;
        background: #fff;
        text-align: center;
        padding: 30px 0 20px;

        transform: translate(0%,100%);
        transition: transform 300ms ease-in-out;

        &.show {
            transform: translateY(0%);
        }
        &.slideOut {
            transform: translateX(-100%);
        }

        * {
            box-sizing: border-box;
        }

        .close {
            display: inline-block;
            width: 38px;
            height: 38px;
            color: #00A9CD;
            border: #00A9CD solid 2px;
            border-radius: 50%;
            text-align: center;
            /*background: url(../images/icon_x_blue.png) 50% 50% no-repeat;
            background-size: 15px;*/

            &:before{
                font-size: 26px; line-height: 35px;
            }
            &:hover{
                background-color: #f7f7f7; cursor: pointer;
            }
        }

        .the-content{
            padding: 40px 0 30px;
            max-width: 335px; margin: 0 auto;
            font-size: 16px; line-height: 1.4em;
            color: #333;
            .newDu();


            h3 {
                color: #000; font-size: 22px;
                .newDuMedium();
                padding: 0 0 40px;
            }

            .package {
                padding: 0 0 20px;
                line-height: 2em;
                strong {
                    .newDuMedium();
                    display: block; padding: 0 0 5px;
                }
            }
            .decoders {
                padding: 20px 0 20px;
                line-height: 2em;
                strong {
                    .newDuMedium();
                    font-weight: normal;
                }
                span {
                    display: block;
                }
            }
            .package + .decoders {
                border-top: #95989A solid 1px;
            }
            .tandc-check {
                min-height: 50px;
                padding: 20px 0 0;
                label {
                    .newDu();
                    .user-select();
                    a {font-weight: bold;}
                }

                .icheckbox_minimal {
                    width: 28px; height: 28px;
                    border-radius: 8px; border: #ddd solid 1px;
                    background: none;
                    text-align: center;

                    &.checked {
                        /*background: url(../images/check_blue_2x.png) 50% 50% no-repeat;
                        background-size: 22px auto;*/
                        &:after {
                            font-family: 'duicons'; content: '\e816'; color: #39c;
                            font-size: 20px; line-height: 26px;
                        }
                    }
                }
            }

            .action {
                padding: 30px 0 10px;
                .btn-rounded {
                    height: 45px;
                    border-radius: 23px!important;
                    display: inline-block;
                    padding: 10px 15px;
                    font-size: 16px;
                }
                .btn-confirm {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 330px;
                    .newDuMedium();
                    .user-select();

                    &.disabled {
                        opacity: .4; background-color: #ddd; cursor: default;
                        outline: 0;
                    }
                }
            }

            @media @mobile {
                padding-top: 20px; padding-bottom: 15px;
                h3 {
                    padding-bottom: 30px;
                }
            }
            @media @mobile-landscape {
                max-width: 95%;
                .decoders {
                    vertical-align: middle;
                    display: inline-block; width: 45%; padding-top: 10px; padding-bottom: 10px;
                }
                .package {
                    vertical-align: middle;
                    display: inline-block; width: 45%; padding-top: 10px; padding-bottom: 10px;
                }
                .package + .decoders {
                    border-top: 0; border-left: #95989A solid 1px;
                }
            }
            
            @media @mobile-sm-landscape {
                font-size: 14px;
                .decoders {
                    padding: 0;
                }
                .package {
                    padding: 0;
                }
            }

        }   

        @media @mobile {
            padding-bottom: 0;
        }
        @media @mobile-xs {
            box-sizing: border-box;
            padding-left: 15px; padding-right: 15px;
        }
        @media @mobile-landscape {
            padding-bottom: 0; padding-top: 20px;
            .the-content {
                padding-top: 15px;
                padding-bottom: 10px;
                h3 {
                    padding-bottom: 20px;
                }
                
                .action {
                    padding-top: 15px;
                }
            }
        }
        @media @mobile-sm-landscape {
             .the-content {
                 padding-top: 10px; padding-bottom: 10px;
             }
        }

    }

    .msg-box-thankyou {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        min-height: 300px;
        background: #fff;
        text-align: center;
        padding: 60px 0 20px;

        transform: translate(0,100%);
        transition: transform 300ms ease-in-out;

        &.show {
            transform: translate(0,0);
        }
        &.entry {
            transform: translate(100%,0);
            transition: none;
        }
        

        * {
            box-sizing: border-box;
        }

        .check {
            display: inline-block;
            box-sizing: border-box;
            width: 67px;
            height: 67px;
            border: #77BD20 solid 5px;
            border-radius: 50%;
            /*background: url(../images/check_2x_round.png) 50% 50% no-repeat;
            background-size: 60% auto;*/
            &:before {
                font-size: 36px; line-height: 60px;
                text-align: center; color: #77BD20;
            }
        }
        .the-content {
            padding: 25px 0 40px;
            max-width: 450px; margin: 0 auto;
            font-size: 16px; line-height: 1.8em;
            h3 {
                font-size: 30px; line-height: 1.8em;
                color: #333;
                display: block;
                padding-bottom: 10px;
                .newDuMedium();
            }
            p {
                color: #777; font-size: 16px; line-height: 1.5em;
                font-weight: 500;
            }

            .action {
                padding: 40px 0 10px;
                .btn-rounded {
                    height: 45px;
                    border-radius: 23px!important;
                    display: inline-block;
                    padding: 10px 15px;
                    font-size: 16px;
                }
                .btn-close {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 330px;
                    .newDuMedium();
                    .user-select();

                    &.disabled {
                        opacity: .4; background-color: #ddd; cursor: default;
                        outline: 0;
                    }
                }
                
            }
        }

        @media @mobile {
            box-sizing: border-box;
            padding-left: 15px; padding-right: 15px;
        }
        @media @mobile-xs {
            box-sizing: border-box;
            padding-left: 15px; padding-right: 15px;
        }
        
        @media @mobile-landscape {
            padding-top: 20px; padding-bottom: 0;
            min-height: 200px;
            .the-content {
                padding-bottom: 15px;
                
                .action {
                    padding-top: 20px;
                }
            }
        }
    }


}