﻿@import "../variables.less";
@import "../mixins_lang.less";


.content {
    color: @textblack;
    font-size: 14px;
    line-height: 18px;
    .FontCoHeadlineLightRegular();
}

h1, h2, h3, h4, h5 {
    margin: 5px 0;
}

h1 {
    color: @textblack;
    font-size: 32px;

    .CoHeadlineRegular(1.1);

    &.title {
        margin-bottom: 30px;
    }

    &.news-title {
        font-size: 24px !important;
        line-height: 1.3em;
    }
}

h2 {
    color: @textblack;
    font-size: 24px;
    .FontCoHeadlineRegular();
    .FontCoHeadlineBold();

    &.title {
        margin-bottom: 20px;
    }
}

h3, .legend {
    color: @textgray;
    font-size: 18px;
    .CoHeadlineLightRegular(1.4);

    &.black {
        color: @textblack;
    }

    &.title {
        margin-bottom: 20px;
    }

    small {
        font-size: 14px;
    }
}

// section heading fix
.separator + .legend.title {
    margin-top: -5px;
    margin-bottom: 25px;
}

h4 {
    color: @textblack;
    font-size: 14px;
    .FontCoHeadlineLightRegular();
}

h5 {
    color: @textblack;
    font-size: 18px;
    .FontCoHeadlineRegular();
}

p {
    color: @textblack;
    font-size: 14px;
    line-height: 18px;
    .FontCoHeadlineLightRegular();

    &.p36 {
        font-size: 36px;
    }

    .margin {
        margin-bottom: 20px;
    }
}

.balance {
    color: @textblack;
    font-size: 36px;
    .FontCoHeadlineRegular();
    margin-top: 10px;

    .aed {
        font-size: 18px;
        .margin-right(5px);
    }
}

.contentIn {

    p {
        margin-bottom:15px;
        line-height: 19px;

        img {
            &.inline {
                .padding-right(10px);
                padding-bottom: 10px;
            }
        }
    }

    a {
        font-size: 14px;
        .FontCoHeadlineRegular();

        &.small-link {
            font-size: 12px;
        }
    }

    #footer {
        a {
            font-size: 13px !important;
        }
    }
}


.supplementary, .instructions, .help, .small {
    font-size: 12px;
    line-height: 12px;
    color: @textgray;
    .FontCoHeadlineLightRegular();

    &.error {
        color: @textred;
    }

}

blockquote {
    font-size: 18px;
    line-height: 1.3em;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}

.tiny {
    font-size: 10px;
    line-height: normal;
    color: @textgray;
    .FontCoHeadlineLightRegular();
}


label {
    color: @textblack;
    font-size: 14px;
    line-height: 18px;
    .FontCoHeadlineRegular();
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: @textgray;
    font-size: 14px;
    .FontCoHeadlineLightRegular();
}

.control {
    color: @textblack;
    font-size: 14px;
    .FontCoHeadlineLightRegular();
}

.form-helper {
    p {
        .FontCoHeadlineLightRegular();
    }
}



.bold {
    .FontCoHeadlineBold();
}

.text18 {
    font-size: 18px;
}

.text21 {
    font-size: 21px;
}

.text24{
    font-size:24px;
}

.regular {
    .FontCoHeadlineRegular();
}

.light {
    .FontCoHeadlineLightRegular();
}

.grey {
    color: @textgray;
}

.darkgrey {
    color: @darkgrey;
}
.news-end {
    text-align: center;
}
