@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";


.inlinetitle {
    @media(min-width:@screen-md-min) {
        .floatleft();
    }
}

.sidefloat {
    @media(min-width:@screen-md-min) {
        .floatright();
    }

    a {
        @media(max-width:@screen-xs-max) {
            display: block;
            margin-bottom: 10px;
        }

        span.icon {
            width: 18px;
            height: 18px;

            @media(min-width:@screen-md-min) {
                .margin-left(20px);
            }

            .margin-right(10px);
        }
    }
}

.supportSearchWrapper {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 20px 0;
    /*margin-top: 20px;*/

    label {
        .defaulttextalign();
        width: 170px;
        top: 0;
    }

    .control {
        .floatleft();
    }

    #supportSearchBoxPanel {
        top: 0;
        .defaulttextalign();
    }
}

.dark-anchor {
    a {
        color: @textblack;
        .FontCoHeadlineRegular();
        line-height: 32px;
        vertical-align: top;

        .icon {
            color: @blu;
        }

        &:hover {
            color: @blu;
        }
    }
}

.article-box {

    .article-title {
        min-height: 28px;
    }

    .article-body {
        h4 {
            margin-bottom: 0;
        }

        p {
            margin: 0 auto 20px auto;
        }
    }

    .article-footer {
        border-top: solid 1px @input-border-color;
        margin-top: 20px;
        padding-top: 20px;
        min-height: 30px;

        @media(max-width:@screen-sm) {
            min-height: 60px;
        }

        .article-feedback {
            span {
                line-height: 30px;
                vertical-align: top;
            }

            .btn-group {
                display: inline-block;
            }

            width: 50%;
            float: left;

            @media(max-width:@screen-sm-max) {
                width: 100%;
            }
        }


        .share-email {
            width: 50%;
            float: left;

            button {
                .floatright();
                .margin-left(10px);

                @media(max-width:@screen-sm-max) {
                    .floatleft();
                    .margin-left(0);
                    .margin-right(10px);
                }
            }

            @media(max-width:@screen-sm-max) {
                width: 100%;
            }
        }
    }
}

.group .ch-control.inline.oneof3 {
    width: 33%;
    margin: 10px 0;

    .icon {
        .margin-right(5px);
    }
}

table.table-support {
    margin: 15px 0;
    width: 100%;

    tr {
        height: 18px;
    }
}

.mod-troubleshoot{
    width:100%;
    
    .btn-group{
     position: relative;
     .posleft(50%);
     .margin-left(-200px);
     margin-top:10px;
    }
    
    .troubleshoot-start, .troubleshoot-services{
    margin-bottom:20px; 
   }
   
   .troubleshoot-pass [class^="icon-"]:before,.troubleshoot-pass [class*=" icon-"]:before{
    font-size:72px;
   }
}

.modSupport {
    margin: 0 0 50px 0;
    .clearfix;

    &.divider {
        .dividers;
    }

    h3.title {
        .modTitle;
        padding-bottom: 25px;
        z-index: 0 !important;
    }
    
    .get-in-touch {
        text-align:center;
        [class^="icon-"]:before, [class*=" icon-"]:before{font-size:52px;}
        h4 {.CoHeadlineLightRegular(1.8); font-size: 20px; color: @darkgrey;}
        p { padding: 0 20px; }
        .btn { display: inline-block; float: none; }
    }
}
