@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";


.slider {
    .sliders;
}

body {
    &.ie7 {
        .pagination ul {
            width: 90px;
        }
    }
}


.modDials {
    position: relative;
    overflow: hidden;
    height: auto;
    min-height: 315px;
    display: block;
        direction: ltr;

        .buttonScroll {
            [dir=rtl] &  {
                    text-indent: 10000px;
            }
        }

    @media screen and (min-width: @screen-sm-max) {
        &:hover {
            .buttonScroll {
                opacity: 1;
                filter: alpha(opacity=100);
            }

            .buttonScroll.inactive {
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
    }

    h3.title {
        .modTitle;
        padding-bottom: 25px;
    }

    .itemsW {
        overflow: hidden;
        position: relative;
        //height: 310px !important;
        margin-bottom: 20px;
    }

    &.no-margin {
        .itemsW {
            margin: 0;
        }
    }

    .pagination {
        bottom: 20px;
        overflow: visible;
    }

    .items {
        position: absolute;
        top: 0;
        .posleft(0);
        .animatedSlower;
        width: 9999px;

        .item {
            .floatleft();
            min-height: 205px;
            height: auto;
            width: 270px;
            padding: 5px 0 100px 0;
            position: relative;
        }
    }

    @media screen and (min-width: 320px) {
        margin: 0 0 30px 0;
        &.no-margin {
            margin: 0;
        }

        .itemsW {
            width: 290px;
            margin: auto;
        }

        .items {
            width: 99999px;

            .item {
                width: 290px;
            }
        }
    }

    @media screen and (min-width: 480px) {
        .itemsW {
            width: 450px;
        }

        .items {
            width: 99999px;

            .item {
                width: 450px;

                .txt {
                    width: 270px;
                    margin: auto;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .itemsW {
            width: 738px;
        }

        .items {
            width: 99999px;

            .item {
                width: 246px;

                .txt {
                    width: auto;
                    max-width: 230px;
                }
            }
        }
    }

    @media screen and (min-width: 1000px) {
        margin: 0 0 10px 0;

        &.no-margin {
            margin: 0;
        }

        .itemsW {
            width: 810px;
        }

        .items {
            width: 99999px;

            .item {
                width: 270px;
            }
        }
    }

    @media screen and (min-width: 1600px) {
        .itemsW {
            width: 1014px;
        }

        .items {
            .item {
                width: 338px;
            }
        }
    }
    
    .arrow {
			width: 100%; 
			height: 14px; 
			background: url('../../images/navselect_active_arrow_dwn.png') 50% 0 no-repeat; 
			position: absolute;
			top: -1px; 
			.posleft(0px);

            &.blue {
                background-image: url('../../images/navselect_active_blue_arrow_dwn.png');
            }
		}
		
		.current-hint{
		 width:25%;
		 text-align:center;
		 margin-bottom:10px
	 }
}


.dials {
    margin: 20px auto;
    width: 100%;

    .knob {
        width: 33%;
        height: 300px;
        display: inline-block;
        //float: left;
        text-align: center;
        position: relative;

        &.oneOf2 {
            width: 50%;
        }

        .dataTextWrapper {
            width: 100%;
            position: absolute;
            top: 60px;

            &.short {
                top: 82px;
            }

            text-align: center;
        }

        .data {
                width: 100px;
                text-align: center;
                display: inline-block;
                font-size: 14px;

                .value {
                    display: block;
                    color: @textblack;
                    font-size: 24px;
                    .FontCoHeadlineRegular();

                    span.measure {
                        font-size: 14px;
                    }
                }

                .underline {
                    border-bottom: solid 1px @grey;
                    padding-bottom: 4px;
                    margin-bottom: 3px;
                    display: block;
                }
            }

        /* &.social {
            .dataTextWrapper {
                top: 82px;
            }
            .data {
                .underline {
                    border-bottom: 0 none;
                }
                .out-of {
                    display: none;
                }
                .max-value {
                    display: none;
                }
            }
        } */

        .topText {
            width: 100%;
            position: absolute;
            top: -25px;
            text-align: center;
        }
        .bottomText {
            width: 100%;
            position: absolute;
            top: 213px;
            text-align: center;
            .bonus {
                color: @black;
                display: block;
                position: relative;
                top: -65px;
                font-size: 12px;
                margin-bottom: -17px;
            }
        }
    }
}

.one-dial{
 @media screen and (min-width: 768px) {
        .items {
            margin:30px auto;
            position:relative !important ;
            overflow:visible
        }
    }
}
