.container-du.tvPackageSelector-container {

    .tvPackageSelector-innercontainer {
        /*Generic styles*/
        * {
            margin: 0;
            padding: 0;
            font-family: verdana,arial;
        }

        *:focus {
            border: 0px none;
            outline: 0;
            border: 0;
        }

        img {
            display: block;
            border: 0;
        }

        a {
            text-decoration: none;
            color: #8a867f;

            &:hover {
                color: #003469;
            }
        }

        p {
            font-size: 12px;
            line-height: 17px;
            padding: 0 0 0 0px;
            color: #666;
        }

        h1 {
            font-size: 2.6em;
            padding: 0 0 25px;
        }

        ul li {
            list-style-type: none;
        }

        .clearfix {
            display: inline-block;

            &:after {
                content: ".";
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }
        }

        html[xmlns] & .clearfix {
            display: block;
        }

        * .clearfix {
            height: 1%;
        }

        em {
            color: #606060;
            font-style: normal;
            font-weight: normal;
            padding-left: 0px;
        }
    }

    .selectArea {
        color: #1E3B89;
        float: left;
        font-size: 14px;
        height: 25px;
        line-height: 14px;
        position: relative;
        background: #00add4 url(../../images/tv-package-selector/dd-left.gif) 0 0 no-repeat;
        width: 164px !important;

        .left {
            background: url("../../images/tv-package-selector/select-left.gif") no-repeat scroll 0 0 transparent;
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 6px;
        }

        .center {
           /* background: url("../../images/tv-package-selector/select-center.gif") repeat-x scroll 0 0 transparent;*/
            display: block;
            height: 23px;
            line-height: 23px;
            padding: 0 15px 0 7px;
            color: #fff;
            font-weight: bold;
            font-size: 11px;
        }

        .selectButton {
            background: transparent url(../../images/tv-package-selector/select-btn.gif) 100% 0 no-repeat;
        }

        a.selectButton {
            height: 100%;
            left: 0;
            outline: medium none;
            overflow: hidden;
            position: absolute;
            text-indent: -6666px;
            top: 0;
            width: 100%;
            color: #fff;
            font-weight: bold;

            &.disabled {
                -moz-opacity: .70;
                filter: alpha(opacity=70);
                opacity: .70;
                background-color: #00add4;
                left: auto;
                right: 0;
                width: 96%;
            }
        }
    }

    .selectOptions {
        background-color: #00add4;
        border: 1px solid #fff;
        display: block;
        font-size: 11px;
        position: absolute;
        z-index: 30;
        width: 150px !important;

        a {
            color: #fff;
            display: block;
            height: 1%;
            overflow: hidden;
            padding: 2px 4px;
            text-decoration: none;

            &:hover {
                color: #a2ebfc;
            }
        }

        ul {
            list-style: none outside none;
            margin: 0;
            overflow: hidden;
            width: 150px;
            float: left;
            padding: 5px 10px 5px 5px;
            height: auto !important;

            li {
                float: left;
                width: 150px !important;
                padding: 0 0 3px 0;
            }
        }
    }

    .select-top {
        height: 11px;
        width: 224px;
        display: none;
    }

    .outtaHere {
        left: -3000px;
        position: absolute;
    }

    .channel-popup {
        float: left;
        width: 981px;
        clear: both;
        background: url(../../images/tv-package-selector/box-980-b.gif) 0 100% no-repeat;
        padding: 0 0 10px 0;

        h1 {
            margin: 0;
            padding: 0;
            color: #00add4;
            font-size: 20px;
            font-weight: bold;
            padding: 0 0 10px 0;
            width: 50%;
            font-family: 'DuCoHeadlineRegular';
        }

        .navs {
            float: left;
            position: absolute;
            right: 0;
            width: 55px;
            height: 30px;
            top: 9px;
            z-index: 1000;
        }

        .genre-content {
            float: left;
            width: 979px;
            padding: 10px 0 0 0;
            margin-left: 0px;
            background: #fff;
            overflow: hidden;

            h2 {
                font-size: 18px;
                color: #525252;
                font-weight: normal;
                background: url(../../images/tv-package-selector/numbers.png) 0 0 no-repeat;
                padding-left: 45px;
                padding-bottom: 12px;
                padding-top: 11px;
                margin-left: 20px;
                font-family: 'DuCoHeadlineRegular';
                
                span {
                    color: #00add4;
                    font-weight: normal;
                    font-size: 18px;
                    font-family: 'DuCoHeadlineRegular';
                }
            }
        }

        .genre-selector-pane h2 {
            background: url(../../images/tv-package-selector/numbers.gif) 0 -86px no-repeat;
        }
    }

    .channel-popup-btm {
        width: 981px;
        background: url(../../images/tv-package-selector/box-980-t.gif) 0 0 no-repeat;
        float: left;
        padding: 0px 0px;
    }

    .genre-header {
        float: left;
        width: 100%;
        position: relative;
        padding: 0px 0 7px 20px;
        width: 960px;
    }

    .genre-selector-pane .genre-header {
        padding-top: 0;
    }

    .panel-nav a.nav-next {
        position: absolute;
        right: 15px;
        top: -10px;
    }

    a.nav-next {
        width: 42px;
        height: 42px;
        background: url(../../images/tv-package-selector/close-next.png) 100% 0 no-repeat;
        display: block;
        text-indent: -1000em;
    }

    .fav-genre {
        float: left;
        width: 930px;
        padding-bottom: 0px;
        padding-top: 10px;
        padding-left: 15px;

        li {
            float: left;
            height: 36px;
            background: url(../../images/tv-package-selector/genres-new.png) 0 0 no-repeat;
            cursor: pointer;
            margin-bottom: 30px;
            width: 202px;
            margin-right: 10px;

            &.g-sportshd span {
                padding-left: 60px;
            }

            span {
                color: #00ADD4;
                font-size: 13px;
                font-weight: bold;
                padding: 5px 0px 0 45px;
                display: block;

                &.gnrelang {
                    display: none;
                }
            }

            &.active span {
                color: #c6168d;
            }
            &.g-arabic {
                background-position: 0 0;
            }
            &.g-art {
                background-position: -231px 0;
            }
            &.g-comedy {
                background-position: -474px 0;
            }
            &.g-documentaries {
                background-position: -689px 0;
            }
            &.g-german {
                background-position: 0 -77px;
            }
            &.g-entertainment, &.g-general-entertainment {
                background-position: -229px -77px;
            }
            &.g-indian-pak, &.g-indian-pakistani-channels {
                background-position: -471px -75px;
            }
            &.g-indian, &.g-indian-channels {
                background-position: -689px -77px;
            }
            &.g-islamic {
                background-position: 0 -149px;
            }
            &.g-kids {
                background-position: -229px -149px;
            }
            &.g-movies {
                background-position: -472px -149px;
            }
            &.g-music {
                background-position: -689px -149px;
            }
            &.g-motor {
                background-position: 0 -229px;
            }
            &.g-news {
                background-position: -229px -229px;
            }
            &.g-radio {
                background-position: -471px -227px;
            }
            &.g-shopping {
                background-position: -689px -229px;
            }
            &.g-sports {
                background-position: 0 -298px;
            }
            &.g-sports-hd, &.g-sportshd {
                background-position: -229px -298px;
            }
            &.g-arabic.active {
                background-position: 0 -350px;
            }
            &.g-art.active {
                background-position: -231px -350px;
            }
            &.g-comedy.active {
                background-position: -474px -350px;
            }
            &.g-documentaries.active {
                background-position: -689px -350px;
            }
            &.g-german.active {
                background-position: 0 -427px;
            }
            &.g-entertainment.active, 
            &.g-general-entertainment.active {
                background-position: -229px -427px;
            }
            &.g-indian-pak.active, 
            &.g-indian-pakistani-channels.active {
                background-position: -471px -425px;
            }
            &.g-indian.active, 
            &.g-indian-channels.active {
                background-position: -689px -427px;
            }
            &.g-islamic.active {
                background-position: 0 -499px;
            }
            &.g-kids.active {
                background-position: -229px -499px;
            }
            &.g-movies.active {
                background-position: -472px -499px;
            }
            &.g-music.active {
                background-position: -689px -499px;
            }
            &.g-motor.active {
                background-position: 0 -579px;
            }
            &.g-news.active {
                background-position: -229px -579px;
            }
            &.g-radio.active {
                background-position: -471px -577px;
            }
            &.g-shopping.active {
                background-position: -689px -579px;
            }
            &.g-sports.active {
                background-position: 0 -649px;
            }
            &.g-sports-hd.active, &.g-sportshd.active {
                background-position: -229px -649px;
            }

            &.no-margin {
                margin: 0;
            }
        }
    }

.tv-channels, .tv-channel-header {
  float: left;
  width: 100%;
  position: relative;
}

.tv-channels {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  float: left;
  margin: 0 1px;
  margin-bottom: 30px;
}

.tv-channel-header {
  padding: 20px 0 0px;
}

.channel-popup .tv-channel-header h2 {
  font-size: 18px;
  color: #525252;
  font-weight: normal;
  background: url(../../images/tv-package-selector/numbers.gif) 0 -154px no-repeat;
  padding-left: 45px;
  padding-bottom: 15px;
  padding-top: 8px;
  margin-left: 20px;
  font-family: 'DuCoHeadlineRegular';
}

  .channel-popup .tv-channel-header h2 span {
    color: #00add4;
    font-size: 18px;
    font-family: 'DuCoHeadlineRegular';
  }

.panel-nav {
  position: absolute;
  right: 0;
  width: 235px;
  top: 25px;
}

  .panel-nav select {
    display: none;
  }

.channel-content {
  float: left;
  width: 100%; /*overflow:auto*/
}

.tv-channel-content {
  float: left;
  width: 100%;
  margin: 0 32px;
  overflow: hidden;
}

.chnl-mask {
  position: relative;
  float: left;
  width: 1000em;
  padding: 0;
  height: 330px;
}

.tv-channel-content .chnl-list {
  float: left;
  width: 173px;
  margin: 0 0px 20px;
}

  .tv-channel-content .chnl-list li {
    width: 164px;
    height: 87px;
    float: left;
    position: relative;
    cursor: pointer;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 0px;
  }

    .tv-channel-content .chnl-list li .box {
      width: 146px;
      height: 55px;
      float: left;
      background: url(../../images/tv-package-selector/channel-box3.gif) 0 0 no-repeat;
      margin-top: 17px;
      padding: 10px;
    }

    .tv-channel-content .chnl-list li.active .box {
      background-position: 0 -75px;
    }

    .tv-channel-content .chnl-list li .box p {
      color: #00ADD4;
      font-size: 10px;
      padding: 0 20px 0 0;
      line-height: 14px;
      font-weight: bold;
    }

    .tv-channel-content .chnl-list li.active .box p {
      color: #C71C90;
    }

    .tv-channel-content .chnl-list li span {
      position: absolute;
      width: 46px;
      height: 46px;
      right: 0px;
    }

    .tv-channel-content .chnl-list li.active span {
      background-position: 0 -50px;
      color: #C71C90;
    }

    .tv-channel-content .chnl-list li.movies span {
      background: url(../../images/tv-package-selector/icons/movies.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.news span {
      background: url(../../images/tv-package-selector/icons/news.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.shopping span {
      background: url(../../images/tv-package-selector/icons/shopping.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.sports span {
      background: url(../../images/tv-package-selector/icons/sports.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.music span {
      background: url(../../images/tv-package-selector/icons/music.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.art span {
      background: url(../../images/tv-package-selector/icons/art.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.kids span {
      background: url(../../images/tv-package-selector/icons/kids.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.radio span {
      background: url(../../images/tv-package-selector/icons/radio.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.documentaries span {
      background: url(../../images/tv-package-selector/icons/documentaries.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.islamic span {
      background: url(../../images/tv-package-selector/icons/islamic.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.entertainment span {
      background: url(../../images/tv-package-selector/icons/entertainment.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.threed span {
      background: url(../../images/tv-package-selector/icons/3d.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.arabic span {
      background: url(../../images/tv-package-selector/icons/arabic.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.german span {
      background: url(../../images/tv-package-selector/icons/german.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.indian-pak span {
      background: url(../../images/tv-package-selector/icons/indian-paki.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.indian span {
      background: url(../../images/tv-package-selector/icons/indian.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.motor span {
      background: url(../../images/tv-package-selector/icons/motor.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.sports-hd span {
      background: url(../../images/tv-package-selector/icons/sports.png) 0 0 no-repeat;
    }

    .tv-channel-content .chnl-list li.comedy span {
      background: url(../../images/tv-package-selector/icons/comedy.png) 0 0 no-repeat;
    }

.tv-channels .tv-channel-content .chnl-list li:hover span {
  background-position: 0 -50px;
}

.tv-channel-content .chnl-list li span {
  background: none !important;
  width: auto;
  left: 9px;
  top: 55px;
  height: auto;
  font-size: 10px;
  font-weight: normal;
  color: #00ADD4;
}

.tv-channel-content .chnl-list li .box p {
  padding-right: 21px;
}

.tv-channel-content .chnl-list li label {
  display: block;
  font-size: 8px;
  font-weight: normal;
  position: absolute;
  right: 7px;
  top: 25px;
  color: #00ADD4;
}

.tv-channel-content .chnl-list li.active label {
  color: #C6168D;
}

.tv-channels, .tv-channel-header {
  float: left;
  width: 100%;
  position: relative;
  width: 979px;
}

.package-selector {
  float: left;
  margin: 0 1px;
  margin-bottom: 30px;
  width: 979px;
}

.package-selector-header {
  padding: 20px 0 20px;
  width: 100%;
  position: relative;
}

  .package-selector-header h2 {
    font-size: 18px;
    color: #525252;
    font-weight: normal;
    background: url(../../images/tv-package-selector/numbers.gif) 0 -218px no-repeat;
    padding-left: 45px;
    padding-bottom: 10px;
    padding-top: 8px;
    margin-left: 20px;
    font-family: 'DuCoHeadlineRegular';
  }

    .package-selector-header h2 span {
      color: #00add4;
      font-size: 18px;
      font-family: 'DuCoHeadlineRegular';
    }

.packages {
  float: left;
  width: 1060px;
  margin: 0 0px;
  color: #525252;
}

  .packages li {
    width: 155px;
    float: left;
    border-right: 1px solid #ddd;
    padding-right: 15px;
    margin: 0 15px 10px 0;
    background: url(../../images/tv-package-selector/select-pkg.gif) 0 0 no-repeat;
    padding-top: 0px;
    padding-bottom: 10px;
  }

    .packages li.active {
      background-position: -430px 0;
    }

    .packages li h3 {
      font-size: 13px;
      color: #525252;
      padding: 0 0 10px;
      line-height: 16px;
    }

    .packages li p {
      font-size: 11px;
      padding: 0 0 10px 0;
      margin: 0;
    }

      .packages li p.pkg-price {
        height: 20px;
      }

.package-summary {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin: 0 0 10px;
}

.short-list {
  float: left;
  width: 100%;
}

.packages .short-list ul {
  font-size: 11px;
  padding: 0 0 0px 0;
  margin: 0 0 0 15px;
  float: left;
  width: 100%;
}

.packages .short-list .showMore {
  font-size: 11px;
  display: block;
  padding: 0 0 5px 0;
}

.packages .short-list ul li {
  margin: 0 0 5px 0px;
  list-style: square;
  width: 140px;
  border: 0;
  background: none;
  padding: 0;
  clear: both;
  font-size: 11px;
  color: #C71C90;
}

.packages li .selector-btn {
  display: block;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

.packages li {
  width: 161px;
}

.short-list a.pack-read-more {
  font-size: 11px;
  color: #00add4;
  display: block;
}

  .short-list a.pack-read-more span {
    color: #00add4;
    font-size: 10px;
    font-weight: bold;
    Xbackground: url(../../images/tv-package-selector/arrow.png) right 3px no-repeat;
  }

.complete-packages {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  float: left;
  margin: 0 1px;
  margin-bottom: 30px;
  width: 979px;
}

.complete-package-header {
  padding: 20px 0 20px;
  width: 100%;
  position: relative;
}

.complete-packages h2 {
  font-size: 18px;
  color: #525252;
  font-weight: normal;
  background: url(../../images/tv-package-selector/numbers.gif) 0 -266px no-repeat;
  padding-left: 45px;
  padding-bottom: 15px;
  padding-top: 8px;
  margin-left: 20px;
  font-family: 'DuCoHeadlineRegular';
}

  .complete-packages h2 span {
    color: #00add4;
    font-size: 18px;
  }

.complete-package-content {
  float: left;
  width: 939px;
  padding: 0 20px 20px;
}

.complete-package-content, .pack-selection {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

.package, .package-total {
  float: left;
  width: 180px;
  background: url(../../images/tv-package-selector/plus.gif) 0 25% no-repeat;
  padding: 0 0 30px 40px;
  color: #525252;
  height: 110px;
}

.package-total {
  background: url(../../images/tv-package-selector/equals.gif) 0 25% no-repeat;
}

  .package h3, .package-total h3 {
    font-size: 12px;
    padding: 0 0 0px;
    line-height: 20px;
    margin: 0;
  }

  .package span, .package-total span {
    font-size: 11px;
    font-weight: bold;
  }

.package.first {
  background: none;
  padding: 0;
  width: 135px;
}

.complete-package-content .short-list {
  font-size: 11px;
  color: #525252;
}

  .complete-package-content .short-list h4 {
    padding: 0 0 10px;
    font-size: 12px;
  }

  .complete-package-content .short-list ul {
    font-size: 11px;
    padding: 0 0 10px 0;
    float: left;
    width: 100%;
  }

    .complete-package-content .short-list ul li {
      margin: 0 20px 5px 15px;
      list-style: square;
      width: 170px;
      border: 0;
      background: none;
      padding: 0;
      float: left;
    }

.package-selector-content {
  float: left;
  width: 100%;
  position: relative;
}

.print-panel {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  float: left;
  margin: 0 1px;
  margin-bottom: 30px;
  width: 979px;
}

.print-panel-header {
  padding: 20px 0 20px;
  width: 100%;
}

  .print-panel-header h2 {
    font-size: 18px;
    color: #525252;
    font-weight: normal;
    background: url(../../images/tv-package-selector/numbers.gif) 0 -312px no-repeat;
    padding-left: 45px;
    padding-bottom: 15px;
    padding-top: 8px;
    margin-left: 20px;
    font-family: 'DuCoHeadlineRegular';
  }

    .print-panel-header h2 span {
      color: #00add4;
      xfont-weight: bold;
      font-size: 18px;
    }

.print-panel .print-btn {
  background: url(../../images/tv-package-selector/print.gif) 0 0 no-repeat;
  width: 120px;
  height: 45px;
  text-indent: -1000em;
  display: block;
  margin-left: 45%;
  margin-bottom: 20px;
}

.full-channel-list {
  float: left;
  width: 100%;
  position: relative;
  background: #fff;
  display: none;
  z-index: 1000;
}

  .full-channel-list .tv-channel-content {
    padding: 0px 0px 20px 0px;
    width: 100%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: auto;
    overflow: hidden;
    margin: 0;
  }

  .full-channel-list .close-btn {
    position: absolute;
    width: 42px;
    height: 42px;
    text-indent: -1000em;
    background: url(../../images/tv-package-selector/close-next.png) 0 0 no-repeat;
    right: 15px;
    top: 10px;
  }

  .full-channel-list ul.chnl-list li {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 11px;
    list-style: square outside none;
    margin: 0 0 5px;
    padding: 0;
    width: 225px;
    height: auto;
  }

  .full-channel-list h3 {
    font-size: 18px;
    color: #525252;
    padding: 20px 0 20px 20px;
    font-weight: normal;
    font-family: 'DuCoHeadlineRegular';
  }

    .full-channel-list h3 span {
      color: #00add4;
      font-size: 18px;
      font-family: 'DuCoHeadlineRegular';
    }

.tv-channels, .package-selector, .complete-packages, .print-panel, .genre-selector-pane {
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin-bottom: 0;
  filter: alpha(opacity=0);
  display: none;
}

  .complete-packages .fullchlList {
    border-top: 1px solid #BDBDBD;
    float: left;
    width: 100%;
    padding: 30px 0px 30px 0px;
    display: none;
  }

    .complete-packages .fullchlList h3 {
      font-size: 14px;
      padding-left: 30px;
      padding-bottom: 10px;
      color: #525252;
    }

    .complete-packages .fullchlList > ul {
      float: left;
      margin: 0px;
      padding: 0px 30px 0px 30px;
    }

      .complete-packages .fullchlList > ul > li {
        display: inline;
        width: 150px;
      }

        .complete-packages .fullchlList > ul > li span {
          font-weight: bold;
          padding-bottom: 5px;
          display: block;
          font-family: "DuCoHeadlineBold",Arial,sans-serif;
          font-size: 14px;
        }

        .complete-packages .fullchlList > ul > li ul {
          width: 100%;
          margin: 0px;
          padding: 0px 0px 15px 0px;
          float: left;
        }

          .complete-packages .fullchlList > ul > li ul li {
            float: left;
            font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
          }

.genre-selector-pane {
  clear: both;
  border-top: 1px solid #ddd;
}

.all-avail-package {
  display: block;
  padding: 0 25px 10px;
}

div.h-scroll {
  Xheight: 150px;
  width: 100%;
  position: relative;
  z-index: 999;
}

.scrollable {
  /* required settings */
  position: relative;
  overflow: hidden;
  width: 1060px;
  height: auto;
  margin-left: 30px;
}

#packageScroll {
  min-height: 250px;
  height: auto !important;
  height: 250px;
}

.scrollable .items {
  /* this cannot be too large */
  width: 20000em;
  position: relative;
  height: auto;
}

.h-scroll .disabled {
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.h-scroll .next, .h-scroll .next:hover {
  background: url(../../images/tv-package-selector/btns.png) 0 0 no-repeat;
  width: 23px;
  height: 42px;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 15%;
}

.h-scroll .prev, .h-scroll .prev:hover {
  background: url(../../images/tv-package-selector/btns.png) 0 -42px no-repeat;
  width: 26px;
  height: 42px;
  display: block;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 15%;
  z-index: 1000;
}

.full-channel-list div.h-scroll {
  height: auto;
}

.full-channel-list .scrollable {
  height: auto;
  margin-left: 16px;
}

.full-channel-list .tv-channel-content .chnl-list {
  width: 1124px;
  margin: 0 30px;
}

.full-channel-list .scrollable .items {
  height: auto;
}

.jspDrag {
  background: url("../../images/tv-package-selector/handle.png") no-repeat scroll 0 0 transparent;
  margin-top: 3px;
}

/*.jspTrack {
  background:transparent url(../../images/tv-package-selector/h-scroll.png) 0 0px no-repeat;
		
}*/
.jspHorizontalBar {
  background: none;
}

.jspVerticalBar {
  display: none !important;
}

.auto-height {
  height: auto !important;
}

.lang-selector {
  float: left;
  width: 97%;
  padding-right: 3%;
  padding: 20px 0 0 0;
}

  .lang-selector li {
    float: left;
    color: #00add4;
    padding: 0 0 30px;
    cursor: pointer;
    width: 130px;
  }

    .lang-selector li span {
      color: #00add4;
      font-size: 13px;
      font-weight: bold;
      padding: 0 15px 0 0;
      background: transparent url(../../images/tv-package-selector/checkbox.gif) 0 -25px no-repeat;
      padding: 0 30px 0 25px;
    }

    .lang-selector li.active span {
      background-position: 0 0;
      color: #c6168d;
    }

.channel-popup .navs {
  display: none;
}

.panel-nav {
  display: none;
}

  .panel-nav a.nav-next {
    display: none;
  }

    .channel-popup {
        border: 1px solid #ccc;
        border-radius: 10px;
        background: transparent;
        width: 100%;

        .genre-content {
            width: 100%;
        }
    }

    .channel-popup-btm {
        width: 100%;
        background: transparent;
    }

    .genre-header {
        width: 100%;
    }

    .lang-selector {
        padding: 0;
        width: auto;
        margin: 25px 0 25px 25px;

        li {
            width: 155px;

            span {
                display: block;
            }
        }
    }

    .fav-genre {
        float: none;
        margin: 1 0px0 0 25px;
        width: 100%;
    }

    .tv-channel-content {
        .chnl-list {
            float: left;
            width: 173px;
            margin: 0 0px 20px;

            li {
                width: 164px;
                height: 87px;
                float: left;
                position: relative;
                cursor: pointer;
                margin: 0;
                margin-right: 10px;
                margin-bottom: 0px;
                font-size: .8em !important;

                .box {
                    width: 165px;
                    height: 75px;
                    float: left;
                    background: url("../../images/tv-package-selector/channel-box3.gif") 0 0 no-repeat;
                    margin-top: 17px;
                    padding: 10px;
                }

                span {
                    background: none !important;
                    width: 100%;
                    left: 9px;
                    top: 55px;
                    height: auto;
                    font-size: .7em;
                    font-weight: normal;
                    color: #00ADD4;
                    .text-overflow();
                }

                label {
                    display: block;
                    font-size: .6em;
                    font-weight: normal;
                    position: absolute;
                    right: 7px;
                    top: 25px;
                    color: #00ADD4;
                }
            }
        }
    }

    .tv-channels, .tv-channel-header {
        float: left;
        position: relative;
        width: 100%;
    }

    .tv-channel-header {
        padding: 20px 0px 0px;
    }

    .package-selector {
        float: left;
        margin: 0px 1px 30px;
        width: 100%;
    }

    .complete-packages {
        border-top: 1px solid #BDBDBD;
        border-bottom: 1px solid #BDBDBD;
        float: left;
        margin: 0px 1px 30px;
        width: 100%;
    }

    /* Overrides */
    .tvPackageSelector-innercontainer {
      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      h1 {
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
        font-size: 30px;
        line-height: 1em;
        margin-top: 40px;
        margin-bottom: 16px;
      }

      h2.num-1,
      h2.num-2,
      h2.num-1 > label {
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 16px;

        span {
          font-family: "DuCoHeadlineRegular";
        }
      }

      .genre-selector {
        .genre-content {
          .lang-selector {
            li span {
              font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
            }
          }

          .fav-genre {
            li span {
              font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
            }
          }
        }
      }

      .tv-channel-content .chnl-list li {
        span {
          font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
          line-height: 1.42857143;
        }

        .box {
          p {
            margin-bottom: 16px;
            font-size: 14px;
            font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
          }
        }
      } 

      .package-selector {
        label {
          margin-bottom: 5px;
        }

        h3 {
          font-size: 18px;
          color: #808285;
          line-height: 30px;
          font-family: "DuCoHeadlineRegular",Arial,sans-serif;
          margin-bottom: 16px;
        }

        .pkg-price {
          margin-bottom: 16px;
          font-size: 14px;
          font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
        }

        .short-list {
          p {
            margin-bottom: 16px;
            font-size: 14px;
            font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
          }

          ul li {
            font-size: 14px;
            font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;

            label {
              color: #C71C90;
              display: inline-block;
              margin-bottom: 5px;
              font-weight: bold;
            }
          }
        }
      }

      .complete-packages {
        h3 {
          font-size: 18px;
          color: #808285;
          line-height: 30px;
          font-family: "DuCoHeadlineRegular",Arial,sans-serif;
          margin-top: 0;
          margin-bottom: 16px;
        }

        .package-total span {
          font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
        }

        .short-list {
          h4 {
            font-size: 17px;
            line-height: 19px;
            font-family: "DuCoHeadlineRegular",Arial,sans-serif;
            margin-top: 0;
            margin-bottom: 16px;
          }

          ul {
            margin-top: 0;
            margin-bottom: 10px;

            li {
              font-size: 14px;
              font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
            }
          }
        }

        a.all-avail-package {
          color: #09c;
          outline: none !important;
          font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
          font-size: 14px;
          line-height: 1.42857143;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .tv-channel-content {
        h3 {
          font-size: 18px;
          color: #808285;
          line-height: 30px;
          font-family: "DuCoHeadlineRegular",Arial,sans-serif;
          margin-top: 0;
          margin-bottom: 16px;

          span {
            line-height: 30px;
            font-weight: normal;

          }
        }
      }
    }
}