@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "lib.icheck.less";
@import "lib.selectric.less";
@import "mod.form.less";


.modPlans {
    position: relative;
    overflow: hidden;
    height: auto;
    display: block;

    @media screen and (min-width: @screen-sm-max) {
        &:hover {
            .buttonScroll {
                opacity: 1;
                filter: alpha(opacity=100);
            }

            .buttonScroll.inactive {
                opacity: 0;
                filter: alpha(opacity=0);
            }
        }
    }

    @media screen and (max-width: @screen-sm-max) {
        .buttonScroll {
            opacity: .3 !important;
            filter: alpha(opacity=30) !important;
        }
    }
    //depends on moderinzr
    .touch & {
        .buttonScroll {
            opacity: .3 !important;
            filter: alpha(opacity=30) !important;
        }
    }


    h3.title {
        .modTitle;
        padding-bottom: 25px;
    }

    .pagination {
        bottom: 0;
    }

    .itemsW {
        overflow: hidden;
        position: relative;
    }

    .items {
        position: absolute;
        top: 0;
        left: 0;
        .animatedSlower;
        width: 9999px;

        .item {
            .floatleft();
            height: auto;
            width: 270px;
            padding: 20px 0 100px 0;
            position: relative;
        }
    }

    @media screen and (min-width: 320px) {

        .itemsW {
            width: 290px;
        }

        .items {
            width: 99999px;

            .item {
                width: 290px;
            }
        }
    }

    @media screen and (min-width: 480px) {
        .itemsW {
            width: 450px;
        }

        .items {
            width: 99999px;

            .item {
                width: 450px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .itemsW {
            width: 738px;
        }

        .items {
            width: 99999px;

            .item {
                width: 738px;
            }
        }
    }

    @media screen and (min-width: 1000px) {
        .itemsW {
            width: 810px;
        }

        .items {
            width: 99999px;

            .item {
                width: 810px;
            }
        }
    }

    @media screen and (min-width: 1600px) {
        .itemsW {
            width: 1014px;
        }

        .items {
            .item {
                width: 1014px;
            }
        }
    }
}


.plan-selectorWrapper {
    text-align: center;
    width: 100%;

    .change-view {
        .floatright();
        font-size: 14px;

        .icon {
            &:before {
                font-size: 16px;
            }
        }
    }

    .plan-select {
        margin-bottom: 20px;

        > h2, > h3 {
            .defaulttextalign();
            color: @textblack;
        }
    }


    .dials {
        margin: 40px auto 10px auto;
    }

    .current-plan {
        width: 100%;
        min-height: 500px;
        padding: 20px 0;
    }

    .item {
        .knob.pushone {
            margin-left: 16.5%;

            @media(max-width:@screen-sm-max) {
                margin-left: 0;
            }
        }
    }

    .knob {
        @media(max-width:@screen-sm-max) {
            width: 100%;
        }
    }

    .highlight {
        width: 33%;
        margin: 20px auto;
        padding: 20px;
        border-bottom: solid 1px @input-border-color;
    }


    ul.tabs {
        width: 100%;
        margin: 20px 0;
        padding: 0;
        display: table;
        table-layout: fixed;
        text-align: center;
        border-collapse: collapse;
        border: 0;

        li {
            list-style-type: none;
            display: table-cell;
            border-collapse: collapse;
            min-height: 100%;
            vertical-align: bottom;
            border: 0;

            a {
                display: block;
                min-height: 100%;
                padding: 20px 10px;

                @media(min-width:@screen-sm-max) {
                    white-space: nowrap;
                }

                @media(max-width:@screen-sm-max) {
                    padding: 10px;
                    font-size: 12px;
                }

                position: relative;
                color: @darkergrey;
                border: solid 1px @lightgrey;
                .margin-left(-1px);
            }

            &:first-child {
                a {
                    margin-left: 0;
                }
            }

            @media(max-width:@screen-sm-max) {
                display: none;
            }

            &.active {
                width: 200px;

                @media(max-width:@screen-sm-max) {
                    display: table-cell;
                }

                a {
                    padding: 30px;
                    top: 10px;

                    @media(max-width:@screen-sm-max) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.plan-grid-view {
    margin: 2em;

    li {
        border-bottom: solid 1px @grey;
        margin: 0 2em;
        padding: 1em 0;

        span {
            display: block;
        }

        .btn {
            float: none;
            margin: 10px auto;
        }

        &.first {
            .FontCoHeadlineBold();
            font-size: 18px;
        }

        &.first, &.last {
            margin: 0;
            padding: 1em;
        }

        &.noborder {
            border: 0;
        }
    }
}
