.list-search {
    margin: 35px auto 10px;
    display: block;
    text-align: center;
    .btn {
        float: none;
        display: inline-block;
    }
}

ul.list-table {


    li:last-child {
            border-bottom: initial;
        }
        border-bottom:1px solid @linemedgrey;


    //margin: 20px 0 80px 0 !important;

    .column-right {
        div.info-column {
            .floatright();
            .textalign();
        }
        .action-column .btn {
            @media(max-width: @screen-md) {
                position: absolute;
                bottom: 0px;
                right: 0;
            }
        }
    }
    &.buy-action {
        @media(max-width: @screen-md) {
            li {
                margin-bottom: 20px;
            }
        }
    
    }
    .box-column {
        .box-wrapper {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
        @media (max-width: 767px) {
            .info-column {
                .margin-left(80px);
            }
            .box-wrapper {
                position: absolute;
                .posleft(-80px);
                width: auto !important;
            }
        }
    }
    .box {
        background-color: @blu;
        color: white;
        width: 60px !important;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        .rounded-corners2(3px, 3px, 3px, 3px);
    }
}
