.container-du.mobile-plan-prepaid {
    .hide {
        display: none !important;
    }

    .plan-cards.innerContainer > .container {
        min-height: 559px;
    }

    .sticky-top {
        -moz-box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
        -webkit-box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
        -o-box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
        -ms-box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
        box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);

        .show-when-sticky {
            display: none;
            padding: 0;

            .container-fluid.display-inlineblock {
                margin-top: 20px;
            }
        }
        &.sticky .show-when-sticky {
            display: block;

            .container-fluid.display-inlineblock {
                margin-top: 0;
            }
        }

        .choose-package-title {
            h2 {
                font-size: 24px;
                padding: 10px 0;

                @media (max-width: @screen-md-max) {
                    font-size: 16px;
                    padding: 0;
                }
            }

            h4 {
                display: none;

                color: #777;
                font-size: 16px;
                font-weight: 500;
                font-family: 'DuCoHeadlineLightRegular';
            }
        }

        .headerWrapper {
            .header-image {
                background: #000 url(../../images/plans-bg-prepaid-new.jpg);
                background-position: right center;
                background-repeat: no-repeat;
                background-size: cover;

                @media (max-width: @screen-lg-max) {
                    html[dir=rtl] & {
                        height: 110px;
                    }
                }
            }

            .header-content {
                width: auto;

                [dir=rtl] & {
                    @media (max-width: @screen-sm-max) {
                        width: 70%;
                    }
                }

                .txt-box {
                    padding: 15px;
                    margin: 20px 0;

                    html[dir=rtl] & {
                        margin: 24px 0;

                        h1 {
                            font-size: 28px;
                            line-height: 1.6em
                        }

                        h3 {
                            font-size: 16px;
                        }
                    }

                    @media (min-width: @screen-xl-min) and (max-width: @screen-xl-max) {
                        margin: 28px 0 !important;

                        html[dir=rtl] & {
                            margin: 24px 0 !important;
                        }
                    }

                    @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
                        margin: 8px 0 !important;

                        html[dir=rtl] & {
                            margin: 5px 0 !important;
                        }
                    }

                    @media (max-width: @screen-md-max) {
                        margin: 16px 0 !important;

                        html[dir=rtl] & {
                            margin: 14px 0 !important;

                            h1 {
                                font-size: 20px !important;
                                line-height: 1.375em !important;
                            }

                            h3 {
                                font-size: 16px !important;
                                line-height: 18px !important;
                            }
                        }
                    }
                }
            }
        }

        .plan-filters {
            .filter-catg {
                h4 {
                    [dir=rtl] & {
                        font-size: 14px;
                        margin-bottom: 16px;
                    }
                }
            }

            .price {
                [dir=rtl] & {
                    border-right: 0;
                    border-left: 1px solid #ddd;
                }

                .plan-sub-filters.prepaid-categories {

                    @media only screen and (min-width: @screen-lg-min) {
                        padding-bottom: 12px;
                    }
                }
            }
            .recharge {
                .filter-catg {
                    max-width: 400px;
                }
            }

            .selection {
                margin-top: 8px;
                // margin-bottom: -24px;
                .bundle {
                    border: none;
                }

                .spend {
                    border-left: 1px solid #ddd;

                    [dir=rtl] & {
                        border-left: 0;
                        border-right: 1px solid #ddd;
                    }
                }

                @media (min-width: 1000px) and (max-width: @screen-lg-max) {
                    [dir=rtl] & {
                        margin-right: 160px;
                    }
                }
            }

            .plan-sub-filters.prepaid-categories {
                padding: 0;

                a::before {
                    position: relative;
                    display: inline-block;
                    width: 29px;
                    height: 29px;
                    content: "\A";
                    background-image: url(../../images/icon-tick-new.svg);
                    background-repeat: no-repeat;
                    bottom: -6px;
                    border: 0;
                }

                a.selected {
                    color: #808285;

                    &::before {
                        background-image: url(../../images/icon-tick-new-active.svg);
                    }
                }
            }

            @media (max-width: @screen-xs-max) {
                .selection {
                    margin-top: 0px;
                    margin-bottom: -16px;
                }
            }
        }
    }

    .sticky .fullWidthContainer {
        -moz-box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
        -webkit-box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
        -o-box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
        -ms-box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
        box-shadow: 0 5px 25px -14px rgba(0,0,0,.5);
    }

    .plan-cards {
        padding-bottom: 0;

        &.loaded {
            .card-item .card-content .you-get > .card-cta .activateplanbutton {
                &-popup {
                    pointer-events: auto !important;
                }
            }
        }

        .card-item .card-content {
            .you-get > div > h5 {
                padding: 12px 10px 10px 10px;

                small {
                    font-size: 12px !important;
                }
            }

            .you-pay h4 {
                [dir=rtl] & {
                    font-size: 14px;
                }
            }

            .you-pay h5 mark {
                font: 'DuCoHeadlineRegular';
            }

            ul {
                list-style: none;
                margin: 10px -5px;
                padding: 0;

                li {
                    display: inline;
                    margin-left: 10px;

                    &:first-child {
                        margin-left: 0;
                    }

                    img {
                        height: 24px;
                    }
                }
            }

            .you-get > div.benefits h5 {
                min-height: 57px;
            }

            .benefits {
                div:last-child h5 {
                    border-bottom: 0;
                }
            }
        }
    }

    .btn {
        padding: 0 5px;

        &.activateplanbutton {
            &-dial, &-popup {
                pointer-events: none !important;
            }

            &-dial {
                display: none !important;
            }
        }
    }

    @media (min-width: @screen-lg-min) {
        .plan-cards .card-item .card-content {
            ul {
                li {
                    margin-left: 3px;
                }
            }
        }
    }




    .plan-cards .card-item .card-content .you-get {
        display: inline-block;
        width: 100%;
    }

    .plan-cards .card-item .card-content .you-get > .card-cta {
        width: 100%;

        [dir=rtl] & {
            a.showPlanDetailsButton i.icon {
                margin-left: 5px;
            }
        }
    }

    #PlanDetailsPopup.planDetailsPopup {
        .popupBody {
            .footer {
                .actionButtonsContainer {
                    .activateButton {
                        &-info {
                            display: block;
                            float: right;

                            [dir="rtl"] & {
                                float: left;
                            }

                            &-text {
                                font-size: 20px;
                                float: right;
                                font-family: "DuCoHeadlineBold", Arial, sans-serif;
                                color: #09c;
                                line-height: 2em;

                                [dir="rtl"] & {
                                    float: left;
                                }
                            }

                            @media (max-width: @screen-xs-max) {
                                &-text {
                                    font-size: 16px;

                                    [dir="rtl"] & {
                                        width: 65%;
                                        line-height: 16px;
                                    }
                                }
                            }

                            @media (max-width: 375px) {
                                &-text {
                                    font-size: 14px;

                                    [dir="rtl"] & {
                                        width: 60%;
                                        line-height: 16px;
                                    }
                                }
                            }

                            @media (max-width: 320px) {
                                &-text {
                                    font-size: 12px;

                                    [dir="rtl"] & {
                                        width: 57%;
                                        line-height: 16px;
                                    }
                                }
                            }
                        }

                        &-dial {
                            display: none !important;
                            float: right;
                        }
                    }
                }
                /* @media only screen and (max-width: @screen-xs-max) {
                    height: 120px;

                    .actionButtonsContainer {
                        .downloadButton {
                            width: 49%;
                            float: left;
                            margin-right: 0;
                        }

                        .printButton {
                            width: 100%;
                            float: right;
                            margin-right: 0;
                        }

                        .activateButton {
                            &-info {
                                width: 100%;
                                margin-top: 5px;

                                &-text {
                                    float: none;
                                    text-align: center;
                                    width: 100%;
                                    display: block !important;
                                }
                            }

                            &-dial {
                                width: 100%;
                                margin-top: 5px;
                            }
                        }
                    }
                }*/
            }
        }
    }

    .special-feature {
        &.force-fixed-height {
            height: 80px !important;
        }

        h5 {
            mark {
                font-family: 'DuCoHeadlineRegular';
            }

            .badge {
                color: #AAA;
                background: none;
                border: solid 1px #AAA;
                height: 24px;
                border-radius: 12.5px;

                & > span {
                    position: relative;
                    top: 1px;
                }
            }
        }
    }

    .plan-cards .card-item .card-content b {
        font-family: 'DuCoHeadlineRegular';
    }

    #activate.planDetailsPopup {
        width: 90% !important;
        max-width: 900px !important;
        height: auto;

        .popupBody {
            height: auto;

            .content {
                text-align: center;
                color: #414141;
                font-family: 'DuCoHeadlineLightRegular';
                height: auto;
                padding-top: 170px;
                padding-bottom: 40px;

                img {
                    max-width: 100%;
                    width: 210px;
                    margin: 20px 20px 0 20px;
                    display: inline;
                }

                h3 {
                    margin-top: 24px;
                    color: inherit;
                    font-family: inherit;
                    padding-left: 5%;
                    padding-right: 5%;
                }

                strong {
                    font-family: "DuCoHeadlineBold", Arial, sans-serif;
                }

                a.new-sim {
                    margin-top: 30px;
                    display: block;
                    font-weight: bold;
                }
            }

            .footer {
                text-align: center;

                .actionButtonsContainer {
                    display: inline-block;

                    a.btn {
                        background: linear-gradient(to bottom,#0dc6ea 0%,#0dc6ea 2%,#05b0e2 3%,#09c 100%);
                        margin-right: 0;

                        &:hover {
                            background: linear-gradient(to bottom,#00b4da 0%,#00b4da 2%,#0098cb 3%,#069 100%);
                        }

                        &:active {
                            background: linear-gradient(to bottom,#069 0%,#0098cb 97%,#00b4da 98%,#00b4da 100%);
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: @screen-sm-max) {
            margin-left: 5% !important;
            margin-right: 5% !important;
            width: 90% !important;
            height: auto;

            .popupBody .content {
                padding-top: 90px;
                padding-bottom: 20px;
            }
        }
    }

    html[dir=rtl] & {
        .sticky-top {
            .headerWrapper .header-image {
                background: #000 url(../../images/plans-bg-prepaid-new-ar.jpg);
                background-position: left center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .du-slider .noUi-target .noUi-origin {
            background: #09c;
        }
    }

    @media only screen and (max-width: @screen-xs-max) {
        
        .sticky-top.sticky .plan-filters {
            padding-bottom: 15px !important;
        }

        .plan-cards.innerContainer {
            .prepaidItem0, .prepaidItem1 {
                &.hidden-xs {
                    display: none !important;
                }
            }
        }
    }

    @media only screen and (max-width: @screen-sm-max) {
        .plan-cards.innerContainer {
            .social-icons {
                width: auto !important;
                display: block !important;
                float: none !important;
                border-right: 0 !important;
            }
        }

        .plan-cards .card-item .card-content .you-get > .card-cta {
            position: relative !important;
        }

        .plan-cards .card-item .card-content .you-get .benefits {
            display: inline-block !important;
            width: 100% !important;
        }

        .plan-cards .card-item .card-content .you-get.no-padding-bottom-sm {
            padding-bottom: 0 !important;
        }
    }

    .prepaidRechargeSection .sfimageWrp,
    .prepaidRechargeSection .sfimageWrp {
        text-align: center;
    }

    @media only screen and (max-width: 320px) {
        .sticky-top .prepaid-categories {
            padding: 0 !important;
            font-size: 13px;
        }

        html[dir=rtl] & .sticky-top .prepaid-categories {
            padding: 0 !important;

            & > a {
                margin: 0 5px;
            }
        }
    }

    @media only screen and (min-width: 321px) and (max-width: 375px) {
        .sticky-top .prepaid-categories {
            padding: 0 20px !important;
            font-size: 13px;
        }

        html[dir=rtl] & .sticky-top .prepaid-categories {
            padding: 0 !important;

            & > a {
                margin: 0 10px;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .special-feature {
            height: auto !important;
            min-height: 60px !important;

            .centered-content {
                position: initial !important;
            }
        }
    }

    .card-item .card-content .you-pay h5 {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        line-height: 1.8em;
        padding: 12px 10px 12px 10px !important;
        margin-bottom: 0;
        margin: 0;

         mark {
            font-weight: bold;
            color: #c39;
            background: none;

            strong {
                font-family: 'DuCoHeadlineRegular';
                font-size: 36px;
                font-weight: 500;
                line-height: 1em;
            }
        }
    }
    
    .card-item .card-content .you-get h4 {
        margin: 0 !important;
        padding: 10px 10px;
        line-height: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;

        [dir=rtl] & {
            font-size: 14px;
        }
    }

    .card-item .card-content .you-get>.special-feature, 
    .card-item .card-content .you-get>.special-feature-wrapper>.special-feature {
        min-height: 80px;
    }

    .card-item .card-content .you-get>div>h5, 
    .card-item .card-content .you-get>.special-feature-wrapper>div>h5 {
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #09c;
        line-height: 1.25em;
        height: 100%;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        position: relative;
        margin: 0
    }

    .card-item .card-content mark {
        color: #09c;
        background: none;
    }
    .special-feature h5 mark {
        font-weight: bold;
    }

    .card-item .card-content .you-get .benefits {
        padding: 1px 30px 0 30px;
        .transition(width .3s ease,margin .3s ease);
    }

    .card-item .card-content .you-get .benefits>div {
        padding: 0;
        border-bottom: 0;
    }

    .card-item .card-content .you-get>div.benefits h5 {
        min-height: 45px;
        padding: 12px 0 10px 0;
        border-bottom: 1px solid #ddd;
        line-height: 1.25em;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        position: relative;
        margin: 0;
    }

    .card-item .card-content .you-get h5 .centered-content {
        position: absolute;
        left: 50%;
        top: 50%;
        .transform(translate(-50%,-50%));
    }

    .card-item .card-content strong {
        font-family: 'DuCoHeadlineRegular';
        font-size: 36px;
        font-weight: 500;
        line-height: 1em;
    }

    .plan-cards .no-cards-message {
        font-family: 'DuCoHeadlineRegular';
        font-size: 24px;
        color: #777;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        overflow: hidden;
        margin-left: 50px;
        margin-right: 50px;
        height: 0;
        .opacity(0);
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        filter: alpha(opacity=0);
        .transition(all .2s ease-in-out);
        .transition(all all .2s ease-in-out ease-out);

        &.show-message {
            height: 150px;
            .opacity(1);
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
            filter: alpha(opacity=100);
        }
    }

    @media only screen and (max-width: 767px) {
        .card-item .card-content .you-get .benefits {
            display: inline-block !important;
            width: 100% !important;
        }

        .card-item .card-content .you-get.no-padding-bottom-sm {
            padding-bottom: 0 !important;
        }


        .plan-cards.innerContainer .item0 {
            width: 100%;
            float: none;
            border-right: 0;
        }
        .plan-cards.innerContainer .prepaidItem0, 
        .plan-cards.innerContainer .prepaidItem1 {
            width: 50%;
            display: inline-block;
            float: left;

            [dir=rtl] & {
                float: right;
            }
        }

        .plan-cards.innerContainer .prepaidItem0 {
            border-right: 1px solid #09c;

            &.card-cta {
                border-right: 0;
            }

            [dir=rtl] & {
                border-right: 0;
            }
        }

        .card-item .card-content .you-get>div>h5, 
        .card-item .card-content .you-get>.special-feature-wrapper>div>h5 {
            padding: 10px 0 10px;
        }

        .special-feature .centered-content {
            position: initial !important;
        }

        .plan-cards .card-item .card-content .you-get>.card-cta {
            position: relative !important;
        }
    }

    @media (max-width: 991px) {
        .card-item .card-content .you-get h4 {
            font-size: 14px;
            font-family: 'DuCoHeadlineRegular';
            line-height: 1.5em;
        }
    }

    .badge {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
    }

    img {
        max-width: 100%;
        width: auto;
        vertical-align: middle;
        border: 0;
        display: inherit;
    }

    #footer {
        margin-top: 0;
        border-top: 0;
    }

    #info.planDetailsPopup {
        .activateButton {
            &-info {
                display: block;
                float: right;

                [dir="rtl"] & {
                    float: left;
                }

                &-text {
                    font-size: 20px;
                    float: right;
                    font-family: "DuCoHeadlineBold", Arial, sans-serif;
                    color: #09c;
                    line-height: 2em;

                    [dir="rtl"] & {
                        float: left;
                    }
                }

                @media (max-width: @screen-xs-max) {
                    &-text {
                        font-size: 16px;

                        [dir="rtl"] & {
                            width: 65%;
                            line-height: 16px;
                        }
                    }
                }

                @media (max-width: 375px) {
                    &-text {
                        font-size: 14px;

                        [dir="rtl"] & {
                            width: 60%;
                            line-height: 16px;
                        }
                    }
                }

                @media (max-width: 320px) {
                    &-text {
                        font-size: 12px;

                        [dir="rtl"] & {
                            width: 57%;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}