@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "lib.icheck.less";
@import "lib.selectric.less";
@import "mod.form.less";

.timer {
    position: relative;
    font-size: 200px;
    width: 1em;
    height: 1em;
    min-height: 300px;
    margin: 20px auto;


    #counter {
        font-size: 18px;
        text-align: center;
        margin: 10px;
        line-height: 22px;

        span {
            font-size: 22px;
            display: block;
        }
    }

    #fineprint {
        font-size: 12px;
        text-align: center;
        margin: 10px;
        line-height: 12px;
    }

    .percent {
        display: none;
    }

    #slice {
        position: absolute;
        width: 200px;
        height: 200px;
        clip: rect(0,200px,200px,100px);


        &.gt50 {
            clip: rect(auto, auto, auto, auto);
        }

        .pie {
            position: absolute;
            clip: rect(0,100px,200px,0);
           .rounded-corners(100px);
            background-color: @verylightgrey;
            width: 200px;
            height: 200px;

            &.fill {
                .rotation(180deg) !important;
            }
        }
    }

    .filler {
        position: absolute;
        .rounded-corners(100px);
        background-color: @green;
        width: 200px;
        height: 200px;
    }
}
