.accordion-action {
    &:after {
        .icon(16px);
    }
    &.hide:after {
        content: '\e80d';
    }
    &.show:after {
        content: '\e80e';
    }
    &.hide {
        display: block !important;
    }
}

.plans-accordion .cart ul:first-child {
    margin-top: 0;
}

.plan-content {
    max-height: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;

    .dials {

            position: relative;
    }
}

.plan-content .items {
    margin: 0;
    .item {
        padding: 0;
    
    }
}

.plan-content.plan-content-active {
    @media screen and (max-width: 479px) {
        max-height: 1100px;
    }
    @media screen and (min-width: 480px) {
        max-height: 850px;
    }
    overflow: hidden;
}

.plans-accordion>ul {
    >li {
        border-bottom: solid 1px #cccccc;
        background: @verylightgrey;
        margin-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    &.rounded {
        >li {
            .rounded-corners(3px);
            .plan-content {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
    }
}

.plan-nn-container {
    position: relative;
    .arrow {
        position: absolute;
        .posright(0);
        bottom: 0;
        width: 14px;
    }
}

.col {
    display: inline-block;
    padding-bottom: 10px;
    .rounded & {
        padding-top: 10px;
    }
    &:first-child {
        .padding-left(20px);
    }
    &:last-child {
        .padding-right(20px);
    }
}

//to override the default behavoir of making grouped buttons on separate row each 
.accordion-filter .btn-group>.btn {
    &:first-child:not(:last-child):not(.dropdown-toggle) {
        .borderbottomright(inherit~'!important');
        .bordertopright(inherit~'!important');
    }
    &:last-child:not(:first-child) {
        .borderbottomleft(inherit~'!important');
        .bordertopleft(inherit~'!important');
    }
    &+.btn {
        .margin-left(inherit);
    }
    &+.btn {
        .margin-left(-5px);
    }
    &.w-40-per {
        width: 40%;
    }
}

//END
.plans-accordion {
    ul {
        &:first-child {
            margin-top: 10px;
        }
    }
    ul+ul {
        margin-top: 10px;
    }
}

[data-isotope] {
    height: auto!important;
}

.accordion-container {
    h1.title {
        margin-top: 20px;
    }
}

.btn-lg-responsive {
    display: inline-block;
    width: 30%;
    margin: 10px 0;
    @media(max-width: @screen-md) {
        width: 90%;
    }
}

.grey-container {
    background: @linemedgrey;
    .rounded-corners(3px);
    text-align: center;
    padding: 20px;
}

.accordion-item-actions {
    border-top: 1px solid @bordergrey;
    text-align: center;
    padding: 15px 10px;
    .btn {
        width: 30%;
        display: inline-block;
        overflow: inherit;
        @media(max-width: @screen-md) {
            width: 100%;
        }
    }
}

.plan-content {
    .btn {
        display: inline-block;
    }
    .item {
        .col {
            .defaulttextalign();
        }
        border-top: 1px solid @linemedgrey;
        padding-top:10px;
        padding-bottom:10px;
       
    }
    .icon-item {
        .icon-title {
            .margin-left(14px);
        }
        .icon-desc {
            @media (max-width: @screen-md ) {
                .margin-left(44px);
            }
        }
    }
}

.icon-title {
    .margin-left(14px);
}

.accordion-filter {
    text-align: center;
    .btn {
        display: inline-block;
        width: 40%;
        margin-top: 10px;
        float: none;
    }
}

.action-button {
    .textalign();
    margin-top: 20px;
    .btn {
        display: inline-block;
        padding: 0 33px;
        height: 44px;
    }
}

.accordion-head {
    .cell {
        width: 12%;
        display: inline-block;
        &:nth-child(1) {
            width: 73%;
            .margin-left(5px);
            padding: 10px 0;
        }
        &.last-col {
            // .margin-right(10px);
        }
        &:first-child {
            @media(max-width: @screen-md) {
                width: 70%;
            }
            @media (max-width:@screen-sm) {
                width: 65%;
            }
        }
        &.last-col {
            @media(max-width: @screen-md) {
                .textalign();
                width: auto;
            }
        }
        .icon {
            &:before {
                font-size: 20px;
            }
        }
    }
    &.no-icon {
        .col {
            &:first-child {
                @media(max-width: @screen-md) {
                    .floatleft();
                }
            }
        }
        .date-col {
            @media(max-width: @screen-sm-max) {
                display: block;
            }
            width: auto;
            .margin-left(105px);
            .textalign();
            .margin-right(36px);
        }
    }
}

.accordion-price {
    margin-top: 20px;
    .margin-right(10px);
    .textalign();
    &.grand-total {
        text-align: center;
        .btn {
            display: inline-block;
            margin: 10px;
            &.btn-large {
                min-width: 175px;
            }
        }
    }
}

.section {
    margin-top: 60px;
    margin-bottom: 80px;
}

.plan-content .item .col {
    &.recharge-button {
        margin-top: -4px;
        @media (max-width: @screen-md) {
            margin-top: 6px;
        }
        .textalign();
        .padding-right(0);
        .floatright();
    }
    &.price-cell {
        .textalign();
        @media (max-width: @screen-sm) {
            width: 20%;
        }
    }
}

.item-desc {
    padding: 0 20px;
}

.accordion-container .icon:before {
    font-size: 25px;
}
.accordion-container .icon.small:before {
    font-size: 16px;
}

.accordion-list .accordion-item-actions {
    margin-bottom: 5px;
}

.item .col.text-right {
    .textalign();
}

.section.enterprise,
.enterprise {
    .price {
        @media(max-width: @screen-md) {
            .accordion-head.no-icon .date-col;
        }
    }
    @media(min-width: @screen-md) {
        .sub-title {
            width: 37.8%;
        }
        .price {
            width: 10.1%;
        }
    }
    .sub-title,
    .price {
        .textalign();
    }
}


//exception for dashboard accordions
.dashboard {
    .plans-accordion {
        ul:first-child {
            margin: 20px auto;
        }
        &>ul>li {
            background: white;
        }
        .plan-content .item {
            border-top-color: transparent;
             [dir=rtl] & { 
                float: left;
            }
            
        }
    }
}
