&.how-to-recharge {
    .headerWrapper {
        .header-image {
            html[dir=rtl] & {
                height: 150px;
            }

            @media (max-width: 997px) {
                html[dir=rtl] & {
                    height: 144px !important;
                }
            }
        }

        .header-content {
            .txt-box {
                margin-top: 26px;

                html[dir=rtl] & {
                    margin-top: 28px !important;

                    h1 {
                        font-size: 28px !important;
                        line-height: 1.6em !important;
                    }
                }

                @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
                    margin-top: 30px !important;

                    html[dir=rtl] & {
                        margin-top: 28px !important;
                    }
                }

                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    margin-top: 10px !important;

                    html[dir=rtl] & {
                        margin-top: 28px !important;
                    }
                }

                @media (max-width: 997px) {
                    margin-top: 3px !important;

                    html[dir=rtl] & {
                        margin: 28px 0 5px 0 !important;

                        h1 {
                            font-size: 20px !important;
                            line-height: 1.375em !important;
                            margin: 0 !important;
                            padding: 15px 0 !important;
                        }
                    }
                }

                @media (max-width: 768px) {
                    html[dir=rtl] & {
                        margin: 20px 0 5px 0 !important;
                    }
                }
            }
        }
    }
}

&.how-to-recharge,
html[dir=rtl] &.how-to-recharge {
    .headerWrapper .header-content {
        width: auto;

        .txt-box {
            h1 {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .cardContainer {
        .discoveryCard {
            .content {
                min-height: 160px;
            }
        }
    }

    @media (max-width: @screen-xs-max) {
        .cardContainer {
            .discoveryCard {
                .actionsContainer {
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }
    }

    @media (max-width: @screen-sm-max) {
        .col-md-4 {
            margin-bottom: 0;
        }

        .headerWrapper .header-content .txt-box h1 {
            margin: 0;
            padding: 15px 0;
            font-size: 25px;
        }

        .cardContainer {
            .discoveryCard {
                border: 0;
                margin-bottom: 20px;

                .thumbnailContainer {
                    display: none;
                }

                .content {
                    min-height: 0;
                    padding: 0;

                    h4 {
                        margin-bottom: 20px;
                    }

                    p {
                        display: none;
                    }
                }

                .actionsContainer {
                    padding-bottom: 0;
                }
            }
        }

        .sticky-section-enum.is-stuck {
            padding: 65px 0 25px 0;

            h3 {
                margin-bottom: 0;
            }
        }
    }
}