@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "mod.form.less";
@import "lib.icheck.less";
@import "lib.selectric.less";


.cc-form {
    .group {
        .selectric-control {
            width: 65%;
            .floatleft();

            @media(max-width:@screen-sm) {
                width: 100%;
            }
        }
    }
}
