//to lessen the spacing of side div if its below a form helper
.new-link-account,
.edit-link-account {
    .form-helper{
        .floatright();
    }
    .form-helper+.side {
        margin-top: 10px
    }
    @media (min-width: @screen-md) {
        .form-helper {
            margin-top: 10px;
        }
    }
    //to fix separator problem 
    // those importants is essential to override the original !important rules
    .list-table {
        margin-bottom: -16px !important;
    }
    //to make the description under the icon takes all space on mobile view
    ul.list-table.four-columns li div.mobile-column.description {
        @media (max-width: @screen-md) {
            width: auto!important;
        }
    }
}


//targeting iphone portrait to fix a bug
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    .manage-link .recharge-button {
        .posleft(-10px);
        position: relative;
    }
}
