@import "../variables";
@import "../mixins";
@import "../mixins_buttons";
@import "../mixins_lang";
@import "lib.icheck.less";
@import "lib.selectric.less";
@import "mod.form.less";
@import "mod.timer.less";

.registration-form {
    width: 100%;
    margin: 20px 0;
    display: inline-block;
}
