.our-network {
    padding-top: 65px;
    h3 {
        margin-top: 0;
        margin-bottom: 16px;
    }
    h4 {
        font-family: "DuCoHeadlineRegular", Arial, sans-serif;
        font-size: 23px;
        line-height: 19px;
        color: #666;
        margin-top: 20px;
        margin-bottom: 16px;
    }
    .sfImageWrapper {
        img {
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
    .progressBar {
        padding-top: 30px;
    }
    .section-title {
        border-top: 1px solid #bbbdbf;
    }
    .inpagenavigation {
        .items {
            .item {
                @media only screen and (max-width: 767px) {
                    float: none;
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .swiper-pagination {
        transform: translateX(-50%);
    }
    .formWizard {
        label {
            font-family: 'DuCoHeadlineLightRegular';
        }
    }
    .form-group {
        margin-bottom: 15px;
        .control {
            padding-left: 0;
            &-label {
                text-align: left !important;
                font-size: 14px;
                padding: 7px 7.5px 5px 7.5px;
                font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
                [dir="rtl"] & {
                    text-align: right !important;
                }
            }
        }
    }
    .gMap {
        margin: 0 0 32px;
        #map-canvas {
            height: 70vh;
            width: 100%;
            .gm-err {
                &-container {
                    height: 100%;
                    width: 100%;
                    display: table;
                    background-color: #e0e0e0;
                    position: relative;
                    left: 0;
                    top: 0;
                }
                &-content {
                    a {
                        color: #4285f4;
                    }
                    [dir="rtl"] & {
                        direction: ltr;
                    }
                }
                &-icon {
                    text-align: center;
                    img {
                        margin: 0 auto;
                    }
                }
                &-title {
                    margin: 5px;
                    margin-bottom: 20px;
                    color: #616161;
                    font-family: Roboto, Arial, sans-serif;
                    text-align: center;
                    font-size: 24px;
                    line-height: 20px;
                }
                &-message {
                    margin: 5px;
                    color: #757575;
                    font-family: Roboto, Arial, sans-serif;
                    text-align: center;
                    font-size: 12px;
                }
                &-autocomplete {
                    padding-left: 20px;
                    background-repeat: no-repeat;
                    background-size: 15px 15px;
                }
            }
        }
    }
}

.go-to-top {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 160px;
    background: url(../../images/ic_goTop.png) no-repeat 5px -4px #fff;
    opacity: .9;
    -moz-box-shadow: 0 0 5px -1px #bbbdbf;
    -webkit-box-shadow: 0 0 5px -1px #bbbdbf;
    box-shadow: 0 0 5px -1px #bbbdbf;
    z-index: 9999;
    @media screen and (max-width: 1199px) {
        right: 0;
    }
    [dir="rtl"] & {
        right: auto;
        left: 160px;
        background: url(../../images/ic_goTop.png) no-repeat 110px -4px #fff;
        @media screen and (max-width: 1199px) {
            right: auto;
            left: 0;
        }
    }
    a {
        font-family: "DuCoHeadlineRegular", Arial, sans-serif;
        font-size: 14px;
        display: inherit;
        width: 160px;
        height: 38px;
        text-indent: 57px;
        line-height: 40px;
        padding-right: 20px;
        &:hover {
            text-decoration: none !important;
        }
        [dir="rtl"] & {
            font-size: inherit;
            padding-left: 0;
            padding-right: 20px;
        }
    }
}
