// @import (reference) "../../LESS/bootstrap/variables.less";
// @import (reference) "../../LESS/bootstrap/mixins.less";
// @import (reference) "../../LESS/bootstrap/buttons.less";
// @import (reference) "../../LESS/bootstrap/scaffolding.less";
// @import (reference) "../../LESS/prototype/mixin.less";
// @import (reference) "../../LESS/du/variables.less";
@import "../prototype/lib.reveal.less";
// @import "duFaqSimpleList.less";
// @import "duTcSimpleList";
// @import "addonsList.less";
@no-cards-message-height: 150px;
.widget {
    .plans .fullWidthContainer.plan-cards-container {
        background: #efefef;
    }
    .plans .fullWidthContainer .innerContainer {
        max-width: 1280px;
    }
    .plans .softHidden {
        display: none;
    }
    .plans .plan-cards {
        min-height: @no-cards-message-height;
        .no-cards-message {
            font-family: 'DuCoHeadlineRegular';
            font-size: 24px;
            color: #777777;
            .display-flex();
            .justify-content(center);
            text-align: center;
            align-items: center;
            vertical-align: middle;
            overflow: hidden;
            margin-left: 50px;
            margin-right: 50px;
            height: 0;
            .opacity(0);
            .transition(all .2s ease-in-out);
            &.show-message {
                height: @no-cards-message-height;
                .opacity(1);
            }
            @media (max-width: @screen-xs-max) {
                font-size: 20px;
            }
        }
    }
    .plans .plan-cards .isotope {}
    .plans .plan-cards .isotope>.row {
        margin: 0;
        padding: 0;
    }
    //Container
    .eitc-main-content #MainWrapper .plansContainer .container.narrow-fluid-container {
        margin: 0 auto;
        min-width: 0;
        @media only screen and (min-width: @screen-xl-min) {
            width: 1015px !important;
        }
        @media only screen and (min-width: @screen-md-min) and (max-width: @screen-lg-max) {
            width: 790px !important;
        }
        @media only screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            width: 720px !important;
        }
        @media only screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
            width: 460px !important;
        }
        @media only screen and (max-width: @screen-xxs-max) {
            width: 100% !important;
        }
    }
    //Header
    .plans .sticky-top .headerWrapper .header-content {
        @media (max-width: @screen-xs-max) {
            width: 80%;
        }
        @media (max-width: 320px) {
            width: 95%;
        }
    }
    //Filters
    .plans .sticky-top {
        &.sticky {
            @media (min-width: 1000px) {
                [dir="ltr"] & {
                    left: 160px;
                    right: 0;
                }
                [dir="rtl"] & {
                    right: 160px;
                    left: 0;
                }
            }
            @media (min-width: 1170px) {
                [dir="ltr"] & {
                    right: 160px;
                }
                [dir="rtl"] & {
                    left: 160px;
                }
            }
            .plan-filters {
                padding-bottom: 0px;
                @media (max-width: @screen-xs-max) {
                    padding-bottom: 0;
                }
            }
            .selection {
                padding-top: 12px;
            }
        }
    }
    .plans .sticky-top .plan-sub-filters a {
        text-decoration: none !important;
    }
    .plans .sticky-top .prepaid-categories {
        padding: 0 30px;
        .filter-button-group {
            height: 60px;
            .filter-button {
                display: block;
                line-height: 60px;
                width: 50%;
                position: relative;
                background: white;
                height: 60px;
                text-decoration: none;
                border: 1px solid #09c;
                border-left-width: 0;
                white-space: nowrap;
                [dir='ltr'] & {
                    float: left;
                }
                [dir='rtl'] & {
                    float: right;
                }
                .button-text {
                    font-size: 1em;
                }
                &:first-child {
                    [dir='ltr'] & {
                        padding-right: 30px;
                    }
                    [dir='rtl'] & {
                        padding-left: 30px;
                        border-right-width: 0;
                    }
                    &:before {
                        content: ' ';
                        border: 1px solid #09c;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        display: block;
                        position: absolute;
                        top: -1px;
                        left: -30px;
                        z-index: -1;
                        [dir='ltr'] & {
                            left: -30px;
                        }
                        [dir='rtl'] & {
                            right: -30px;
                        }
                    }
                }
                &:last-child {
                    [dir='ltr'] & {
                        padding-left: 30px;
                        border-right-width: 0;
                    }
                    [dir='rtl'] & {
                        padding-right: 30px;
                    }
                    &:after {
                        content: ' ';
                        border: 1px solid #09c;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        display: block;
                        position: absolute;
                        top: -1px;
                        z-index: -1;
                        [dir='ltr'] & {
                            right: -30px;
                        }
                        [dir='rtl'] & {
                            left: -30px;
                        }
                    }
                }
                &.active {
                    background: #09c;
                    color: white;
                    &:before,
                    &:after {
                        content: ' ';
                        background: #09c;
                    }
                }
            }
        }
    }
    //Cards
    .plans .plan-cards .isotope .card-item {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }
    .plans .plan-cards .card-item {
        //margin-top: 39px;
        .inline-icon-container {
            &-20 {
                position: relative;
                width: 20px;
                //height: 1em;
                //display: inline-block;
                display: inline;
                vertical-align: top;
                &>a {
                    //display: inline-block;
                    display: inline;
                    text-decoration: none;
                    //position: absolute;
                    //top: 0;
                    //left: 0;
                    .icon:before {
                        display: inline;
                    }
                }
            }
        }
    }
    .plans .plan-cards .card-item .benefits .inline-icon-container-20 {
        vertical-align: middle;
    }
    @media (min-width: 1600px) {
        .plans .plan-cards .isotope .card-item.col-lg-3 {
            width: 24.75%;
        }
        .plans .plan-cards .isotope .card-item.col-lg-4 {
            width: 33%;
        }
    }
    @media (min-width: 1025px) and (max-width: 1599px) {
        .plans .plan-cards .isotope .card-item.col-lg-4 {
            width: 33%;
        }
        .plans .plan-cards .isotope .card-item.col-md-4 {
            width: 33%;
        }
    }
    @media (min-width: @screen-md-min) and (max-width: 1024px) {
        .plans .plan-cards .isotope .card-item.col-lg-4 {
            width: 33%;
        }
        .plans .plan-cards .isotope .card-item.col-md-4 {
            width: 33%;
        }
        .plans .plan-cards .isotope .card-item.col-md-6 {
            width: 49.5%;
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        .plans .plan-cards .isotope .card-item.col-sm-6 {
            width: 49.5%;
        }
    }
    @media (max-width: @screen-xs-max) {
        .plans .plan-cards .isotope .card-item.col-sm-6 {
            width: 100%;
        }
    }
    .plans .plan-cards .card-item .card-content {
        font-family: "DuCoHeadlineLightRegular", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
        font-size: 14px !important;
        line-height: 14px !important;
        color: rgb(128, 130, 133);
        strong {
            font-family: 'DuCoHeadlineRegular';
            font-size: 36px;
            font-weight: 500;
            line-height: 1em;
            @media (max-width: @screen-xs-max) {
                font-size: 24px;
            }
            small {
                [dir="ltr"] &,
                [dir="rtl"] & {
                    font-family: 'DuCoHeadlineLightRegular' !important;
                    font-size: inherit !important;
                    line-height: 1em !important;
                    color: inherit !important;
                    padding-right: 0;
                }
            }
        }
        del {
            text-decoration: line-through;
        }
        small {
            font-size: 12px;
        }
        mark {
            color: #09c;
            background: none;
        }
        b {
            font-family: 'DuCoHeadlineRegular';
            color: #414141;
            font-weight: 500;
            @media (max-width: @screen-xs-max) {
                margin-top: 5px;
                display: inline-block;
            }
        }
        i {
            font-style: italic;
        }
        del {
            text-decoration: line-through;
        }
        sub {}
        sup {}
        br {}
    }
    .plans .plan-cards .card-item .card-content .card-item-tag {
        position: absolute;
        left: 30px;
        right: 31px;
        bottom: 100%;
        margin: 0;
        padding: 8px 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        text-align: center;
        background-color: #1d2758;
        color: white;
        p {
            margin: 0;
            color: inherit;
            display: inline-block;
        }
        &:before {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: sub;
            margin-right: 4px;
            background-color: transparent;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &.limited-time-offer-tag {
            pointer-events: auto;
            p {
                pointer-events: auto;
            }
            &:before {
                pointer-events: auto;
                content: '\e857';
                font-family: 'duicons';
            }
        }
    }
    .plans .plan-cards .card-item .card-content .you-pay {
        mark {
            color: #c39;
        }
    }
    .plans .plan-cards .card-item .card-content .you-pay h5 {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        line-height: 1.8em;
        padding: 12px 10px 12px 10px !important;
        margin-bottom: 0px;
    }
    .plans .plan-cards .card-item .card-content .you-pay h4 {
        margin: 0 !important;
    }
    .plans .plan-cards .card-item .card-content .you-get {
        position: relative;
        padding-bottom: 47px;
    }
    .plans .plan-cards .card-item .card-content .you-get h4 {
        margin: 0 !important;
        padding: 10px 10px;
        line-height: 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .plans .plan-cards .card-item .card-content .you-get h5 {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        position: relative;
        /*display: flex;*/
    }
    .plans .plan-cards .card-item .card-content .you-get h5 .centered-content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .plans .plan-cards .card-item .card-content .you-get>.special-feature,
    .plans .plan-cards .card-item .card-content .you-get>.special-feature-wrapper>.special-feature {
        min-height: 80px;
    }
    .plans .plan-cards .card-item .card-content .you-get>div>h5,
    .plans .plan-cards .card-item .card-content .you-get>.special-feature-wrapper>div>h5 {
        padding: 10px 0 10px 0px;
        border-bottom: 1px solid #09c;
        line-height: 1.25em;
        height: 100%;
        @media (max-width: @screen-xs-max) {
            padding: 10px 0 10px;
        }
    }
    .plans .plan-cards .card-item .card-content .you-get>div.benefits h5 {
        min-height: 45px;
        padding: 12px 0 10px 0px;
        border-bottom: 1px solid #ddd;
        line-height: 1.25em;
        @media (max-width: @screen-xs-max) {
            min-height: 35px;
            padding: 7px 0 10px;
        }
    }
    .plans .plan-cards .card-item .card-content .you-get>div.benefits div:last-child h5 {
        border-bottom-width: 0;
    }
    .plans .plan-cards .card-item .card-content .you-get>div.benefits .extra {
        padding: 5px 0 16px 0;
    }
    .plans .plan-cards .card-item .card-content .you-get>div.benefits .extra .freebie {
        text-decoration: none !important;
        &:first-child {
            margin-left: -6px;
        }
        &:not(:first-child):before {
            content: '+';
            color: #808285;
            font-size: 16px;
            padding: 0 4px;
        }
    }
    .plans .plan-cards .card-item .card-content .you-get>div.benefits .extra .freebie>img {
        vertical-align: middle;
    }
    .plans .plan-cards .card-item .card-content .you-get>div.benefits .extra .freebie.the-entertainer-freebie>img {
        margin-top: -7px;
    }
    .plans .plan-cards .card-item .card-content .you-get>.card-cta {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .plans .plan-cards .card-item .card-content .you-get>.card-cta .showPlanDetailsButton {
        pointer-events: none;
    }
    .plans .plan-cards.loaded .card-item .card-content .you-get>.card-cta .showPlanDetailsButton {
        pointer-events: auto !important;
    }
    /*
    POPUP /START
*/
    .reveal-modal-bg {
        background: rgba(0, 0, 0, 0.7) !important;
        z-index: 999999;
    }
    .planDetailsPopup {
        .reveal-modal();
        width: 95%;
        max-width: 1200px;
        height: 90vh;
        display: none;
        z-index: 9999999;
    }
    @media (min-width: @screen-sm-min) {
        .planDetailsPopup {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate(0, -50px);
        }
    }
    .planDetailsPopup .popupBody {
        height: 100%;
        position: relative;
    }
    .planDetailsPopup .popupBody .header {
        position: absolute;
        top: 0;
        height: 150px;
        width: 100%;
        background: #04a5d1;
        text-align: center;
        z-index: 1;
    }
    .planDetailsPopup .popupBody .header h2 {
        color: white;
        margin-top: 100px;
        font-weight: normal;
        @media (max-width: @screen-xs-max) {
            font-size: 20px;
            margin-top: 60px !important;
        }
    }
    .planDetailsPopup .popupBody .header a {
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        display: block;
        text-decoration: none !important;
        font-size: 1px;
        margin-top: 30px;
        background-image: url(/common/images/ico-close-cross-light.svg);
        background-size: 50px;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        color: transparent;
        border: none;
        @media (max-width: @screen-xs-max) {
            width: 36px;
            height: 36px;
            margin-top: 16px;
            background-size: 35px 35px;
        }
    }
    .planDetailsPopup .popupBody .content {
        height: 100%;
        padding-top: 150px;
        padding-bottom: 70px;
        overflow-y: hidden;
        position: relative;
        .iphone & {
            margin-left: 1px;
        }
    }
    .planDetailsPopup .popupBody .content .planDetailsFrame {
        width: 100%;
        height: 100%;
        border: 0;
        overflow: auto;
    }
    .planDetailsPopup .popupBody .content .loadingOverlay {
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        z-index: 2;
    }
    .planDetailsPopup .popupBody .content .loadingOverlay p {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate(-50%, -50%);
    }
    .planDetailsPopup .popupBody .footer {
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 100%;
        padding: 16px 0;
        background-color: #f8f8f8;
        border-top: 1px solid #e7e7e7;
        z-index: 1;
    }
    .planDetailsPopup .popupBody .footer .actionButtonsContainer {
        .clearfix();
        padding: 0 16px;
        [dir="ltr"] & {
            margin-right: 16px;
        }
        [dir="rtl"] & {
            margin-left: 16px;
        }
    }
    .planDetailsPopup .popupBody .footer .actionButtonsContainer .icon {
        display: inline-block;
        vertical-align: middle;
    }
    .planDetailsPopup .popupBody .footer .actionButtonsContainer .downloadButton {
        .btn();
        .btn-info-strong();
        float: left;
        min-width: 150px;
        display: none !important;
        border: none !important;
        &:focus {
            color: #FFF !important;
        }
    }
    .planDetailsPopup .popupBody .footer .actionButtonsContainer .printButton {
        .btn();
        .btn-info-strong();
        float: left;
        min-width: 150px;
        border: none !important;
        [dir="rtl"] & {
            float: right !important;
        }
        &:focus {
            color: #FFF !important;
        }
    }
    .planDetailsPopup .popupBody .footer .actionButtonsContainer .buyButton {
        [dir="ltr"] & {
            float: right !important;
        }
        [dir="rtl"] & {
            float: left !important;
        }
        &:focus {
            color: #FFF !important;
        }
    }
    [dir="rtl"] & #PlanDetailsPopup.planDetailsPopup .popupBody .footer .actionButtonsContainer .activateButton-info {
        float: left !important;
    }
    .planDetailsPopup .popupBody .footer .actionButtonsContainer .buyButton,
    .planDetailsPopup .popupBody .footer .actionButtonsContainer .activateButton-info,
    .planDetailsPopup .popupBody .footer .actionButtonsContainer .activateButton-dial {
        .btn();
        .btn-primary-strong();
        float: right;
        min-width: 150px;
        border: none !important;
        [dir="ltr"] & {
            margin-right: 0;
        }
        [dir="rtl"] & {
            margin-left: 0;
        }
    }
    // fix for iOS where the iframe doesn't respect the height:100% for a second
    html.appleios .planDetailsPopup .popupBody .content {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    @media (max-width: @screen-xs-max) {
        .planDetailsPopup .popupBody .header {
            height: 90px;
        }
        .planDetailsPopup .popupBody .header h2 {
            margin-top: 50px;
        }
        .planDetailsPopup .popupBody .header a {
            font-size: 30px;
        }
        .planDetailsPopup .popupBody .content {
            padding-top: 90px;
        }
        .plans .planDetailsPopup .popupBody .content .loadingOverlay {
            top: 90px;
        }
        .planDetailsPopup .popupBody .footer .actionButtonsContainer {
            [dir="ltr"] & {
                margin-right: 0;
            }
            [dir="rtl"] & {
                margin-left: 0;
            }
        }
        .planDetailsPopup .popupBody .footer .actionButtonsContainer .downloadButton {
            min-width: 0;
        }
        .planDetailsPopup .popupBody .footer .actionButtonsContainer .printButton {
            min-width: 100px;
        }
        .planDetailsPopup .popupBody .footer .actionButtonsContainer .buyButton {
            min-width: 100px;
        }
    }
    /*
    POPUP /END
*/
    .plans .btn {
        cursor: pointer;
        height: 37px;
        .rounded-corners(3px);
        .FontCoHeadlineRegular();
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
        line-height: 35px;
        padding: 0 15px;
        min-width: 75px;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) inset !important;
        text-shadow: none !important;
        [dir="ltr"] & {
            margin-right: 10px;
        }
        [dir="rtl"] & {
            margin-left: 10px;
        }
        .icon {
            &:before {
                font-size: 14px;
            }
        }
        .icon.icon-info-circled-empty {
            &:before {
                font-family: 'duicons-custom';
            }
        }
        &:hover {
            text-decoration: none;
        }
        &:active {
            outline: none !important;
        }
        &.no-float {
            float: none;
        }
    }
    .btn-default() {
        .rounded-corners(3px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        height: 37px;
        line-height: 35px;
        padding: 0 15px;
        min-width: 75px;
        font-size: 1.1em;
        text-align: center;
        outline: none;
        [dir="ltr"] & {
            float: left;
            .FontCoHeadlineRegular();
        }
        [dir="rtl"] & {
            float: right;
            .FontCoHeadlineArabicRegular();
        }
    }
    .btn-info-strong() {
        .btn-default();
        .gradient-aqua();
        color: #fff;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
        }
    }
    .btn-primary-strong() {
        .btn-default();
        .gradient-magenta();
        color: #fff;
        &:hover {
            color: #fff;
        }
        &:active {
            color: #fff;
        }
    }
    .popover {
        z-index: 99999;
        html[dir=rtl] & {
            right: auto !important;
            direction: rtl;
            text-align: right;
        }
    }
    .popover .popover-title {
        margin: 0;
        padding: 8px 16px;
    }
    .popover .popover-content {
        margin: 0;
        padding: 16px;
        color: #808285;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.2em;
        white-space: pre-wrap !important;
        font-family: "DuCoHeadlineLightRegular", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    }
    [dir="rtl"] body & .popover.right .arrow {
        left: -11px;
        right: initial;
    }
    [dir="rtl"] body & .popover.right .arrow:after {
        left: 1px;
        right: initial;
    }
    /*du style overrides*/
    [dir="rtl"] & .plans .sticky-top .arrow .arrow-inner {
        left: auto;
        right: -14px;
    }
    @media (min-width: @screen-md-min) {
        .eitc-main-content #MainWrapper .plans .sticky-top .choose-package-title h2 {
            font-size: 24px !important;
            padding: 10px 0;
        }
    }
    .plans .sticky-top .plan-filters .filter-catg .catg-content.selected .du-slider {
        padding: 20px 16px 16px !important;
    }
    .plans .du-slider .noUi-pips-horizontal .noUi-value {
        line-height: 16px;
    }
    [dir="rtl"] & .plans .du-slider .noUi-horizontal .noUi-handle:before {
        top: 2px;
    }
    [dir="rtl"] & .plans .du-slider #price-slider.noUi-target.noUi-rtl .noUi-origin {
        background: #09c;
    }
    .plans .du-slider #price-slider.noUi-target.noUi-rtl .noUi-origin {
        box-shadow: none;
    }
    .eitc-main-content #MainWrapper .plansContainer .sfContentBlock {
        margin-bottom: 0;
    }
    #FooterWrapper #Bottom {
        margin-top: 0;
        border-top-width: 0;
        @media (max-width: @screen-sm-max) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    /* Fix for responsive header in Arabic */
    [dir="rtl"] & .plans .headerWrapper .header-content .txt-box h1 {
        line-height: 1.6em !important;
        @media (max-width: @screen-sm-max) {
            font-size: 20px !important;
            line-height: 1.375em !important;
        }
    }
    .filterBtns {
        text-align: center;
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    .filterBtns a.btn {
        width: auto;
        float: none !important;
        display: inline-block !important;
    }
    .filterBtns a.btn:active {
        text-decoration: none !important;
    }
    .btn-default-blue {
        width: auto;
        float: none;
        display: inline-block;
    }
    .btn-default-blue.is-checked {
        color: #fff !important;
        background: #006db9;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iIzAwOThjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzAwYjRkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGI0ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006699), color-stop(97%, #0098cb), color-stop(98%, #00b4da), color-stop(100%, #00b4da));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%);
        /* W3C */
    }
    .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .btn-group>.btn:first-child {
        margin-left: 0;
    }
    .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
        border-radius: 0 !important;
    }
    .btn-group .btn+.btn,
    .btn-group .btn+.btn-group,
    .btn-group .btn-group+.btn,
    .btn-group .btn-group+.btn-group,
    .btn-group .dropdown .btn {
        margin-left: -5px !important;
    }
    .btn-group>.btn:last-child:not(:first-child),
    .btn-group>.dropdown-toggle:not(:first-child),
    .dropdown a.btn {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
    }
    btn-group>.btn,
    .btn-group-vertical>.btn {
        float: left;
        position: relative;
    }
    .not-visible {
        display: none;
    }
    .sfPageWrapper .not-visible {
        display: block;
    }
    [dir="rtl"] & .plans .sticky-top .plan-filters .price {
        border-right: none;
        border-left: 1px solid #ddd;
    }
    [dir="rtl"] & .plans .plan-cards.loaded .card-item .card-content .you-get>.card-cta .showPlanDetailsButton i {
        margin-left: 5px;
    }
    [dir="rtl"] & .plans .sticky-top .selection>div.spend {
        border-left: 1px solid #ddd;
    }
    [dir="rtl"] & .plans .sticky-top .selection>div.mins {
        border-left: none;
    }
}