.planDetailsPopup {
    .reveal-modal();
    width: 95%;
    max-width: 1200px;
    height: 90vh;
    display: none;
    z-index: 9999999;

    .popupBody {
        position: relative;
        display: inline-table;
        box-sizing: border-box;
        width: 100%;
        height: 100%;

        .header {
            position: absolute;
            top: 0;
            height: 150px;
            width: 100%;
            background: #04a5d1;
            text-align: center;
            z-index: 100;

            h2 {
                color: white;
                margin-top: 100px;
                font-weight: normal;

                @media (max-width: @screen-xs-max) {
                    font-size: 20px;
                    margin-top: 60px !important;
                }
            }

            a {
                color: white;
                position: absolute;
                top: 0;
                left: 50%;
                .transform(translateX(-50%));
                display: block;
                text-decoration: none !important;
                font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
                font-size: 80px;
                padding: 0;
                width: 70px;
                height: 70px;
                line-height: 0.65em;
                border: solid 4px white;
                .rounded-corners(50%);
                margin-top: 15px;

                @media (max-width: @screen-xs-max) {
                    width: 35px;
                    height: 35px;
                    margin-top: 10px;
                    line-height: .9em;
                }
            }

            @media (max-width: @screen-xs-max) {
                height: 90px;

                h2 {
                    margin-top: 50px;
                }

                a {
                    font-size: 30px;
                }
            }
        }

        .content {
            height: 100%;
            padding: 150px 0 70px 0;
            position: relative;
            z-index: 0;

            .planDetailsFrame {
                width: 100%;
                height: 100%;
                border: 0;
            }

            .loadingOverlay {
                position: absolute;
                top: 150px;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.4);
                display: none;
                z-index: 2;

                p {
                    color: white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    .transform(translate(-50%,-50%));
                }
            }

            @media (max-width: @screen-xs-max) {
                padding-top: 90px;

                .loadingOverlay {
                    top: 90px;
                }
            }
        }

        // fix for iOS where the iframe doesn't respect the height:100% for a second
        html.appleios & {
            display: block;
            overflow: hidden;
            padding-bottom: 70px;

            .content {
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
        }

        .footer {
            position: absolute;
            bottom: 0;
            height: 70px;
            width: 100%;
            padding: 16px 0;
            background-color: #f8f8f8;
            border-top: 1px solid #e7e7e7;
            z-index: 1;
            box-sizing: border-box;

            .actionButtonsContainer {
                .clearfix();
                padding: 0 16px;
                margin-right: 16px;

                [dir="rtl"] & {
                    margin-left: 16px;
                    margin-right: 0;
                }

                .buyButton, .activateButton-info, .activateButton-dial {
                    .btn();
                    .btn-primary-strong();
                    float: right;
                    min-width: 150px;
                    border: none !important;
                    margin-right: 0;

                    [dir="rtl"] & {
                        margin-left: 0;
                        margin-right: auto;
                    }
                }

                .downloadButton {
                    .btn();
                    .btn-info-strong();
                    float: left;
                    min-width: 150px;
                    display: none !important;
                    border: none !important;
                }

                .printButton {
                    .btn();
                    .btn-info-strong();
                    float: left;
                    min-width: 150px;
                    border: none !important;

                    [dir="rtl"] & {
                        float: right !important;
                    }
                }

                .buyButton {
                    float: right !important;

                    [dir="rtl"] & {
                        float: left !important;
                    }
                }

                [dir="rtl"] & .activateButton-info {
                    float: left !important;
                }
            }

            @media (max-width: @screen-xs-max) {
                .actionButtonsContainer {
                    margin-right: 0;

                    [dir="rtl"] & {
                        margin-left: 0;
                    }

                    .downloadButton {
                        min-width: 0;
                    }

                    .printButton {
                        min-width: 100px;
                    }

                    .buyButton {
                        min-width: 100px;
                    }
                }
            }
        }
    }

    @media (min-width: @screen-sm-min) {
        .transform(translate(0,-50px));
    }
}