.plans.plan-information {
    padding: 20px 20px 20px 20px;
    margin: 30px 25px 0 10px;
    font-family: "DuCoHeadlineLightRegular", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    [dir='rtl'] & {
        margin: 30px 10px 0 25px;
    }

    .hide {
        display: none !important;
    }

    .plans-new {
        margin-bottom: 30px;
        @media only screen and (max-width: 881px) {
            margin-bottom: 130px;
        }
    }

    h4 {
        font-family: "DuCoHeadlineBold";
        color: #09c;
        font-size: 14px;
        line-height: 19px;
        font-weight: normal;
        margin: 5px 0;

        &.purple {
            color: #c39;
        }

        i.icon {
            display: none;
        }
    }

    p {
        color: #323434;
        font-size: 14px;
        line-height: 18px;
        font-family: 'DuCoHeadlineLightRegular';
        margin-bottom: 16px;
    }

    strong {
        font-weight: normal;
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
    }

    ul {
        padding-left: 20px;
        margin-bottom: 10px;
        list-style: inherit;

        [dir='rtl'] & {
            padding-left: 0;
            padding-right: 20px;
        }
    }

    table {
        border: 2px solid #323434 !important;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        border-spacing: 0;
        border-collapse: separate;
        width: 100%;
        margin-bottom: 30px;

        & > tbody,
        & > thead {

            & > tr {

                & > th,
                & > td {
                    background-color: transparent !important;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    line-height: 12px;
                    border: 0px solid #323434 !important;
                    border-bottom-width: 1px !important;
                    text-align: center;
                    border-right-width: 1px !important;

                    [dir='rtl'] & {
                        border-left-width: 1px !important;
                        border-right-width: 0 !important;
                    }

                    &:last-child {

                        border-right-width: 0 !important;

                        [dir='rtl'] & {
                            border-left-width: 0 !important;
                            border-right-width: 1px !important;
                        }
                    }
                }

                &:last-child td {
                    border-bottom-width: 0 !important;
                }

                & > th {
                    border-bottom-width: 2px !important;
                    border-right-width: 2px !important;

                    [dir='rtl'] & {
                        border-left-width: 2px !important;
                        border-right-width: 0 !important;
                    }
                }

                & > td {
                    small {
                        font-size: 11px;
                    }
                }
            }

            thead {
                &:not(.hide) + tbody {
                    tr {
                        &:first-child {
                            td {
                                border-top: 1px solid #323434;
                            }
                        }
                    }
                }
            }
        }

        thead th {
            font-family: "DuCoHeadlineBold",Arial,sans-serif;
            font-weight: normal;
        }
    }
}