
.container-du {
    .sf_cols {
        box-sizing: border-box;
        .clearfix();
    }
    .sf_colsOut {
        box-sizing: border-box;
    }
    .sfContentBlock {
        margin-bottom: 30px;
        float: left;
        display: block;
        width: 100%;
        max-width: 100%;
    }
}

.showcase {
    .showcaseBannerContainer {
        margin-bottom: 0 !important;
        margin-top: 40px;
        .showcaseBanner {
            position: relative;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .showcaseBanner .showcaseBannerContent {
            width: 100%;
            padding: 88px 50px 50px 50px;
            max-width: 550px;
            box-sizing: border-box;
        }
        .showcaseBanner .showcaseBannerContent .showcaseBannerContentTag {
            display: inline-block;
            color: #17a9cc;
            border: 2px solid #17a9cc;
            padding: 2px 12px;
            border-radius: 8px;
            font-weight: bold;
            font-family: 'DuCoHeadlineLightRegular';
            font-size: 14px;
            line-height: 20px;
            [dir='rtl'] & {
                padding: 1px 12px 4px 12px;
            }
        }
        .showcaseBanner .showcaseBannerContent .showcaseBannerContentTitle {
            color: #17a9cc;
            font-size: 35px !important;
            font-family: 'DuCoHeadlineRegular';
            line-height: 1.5em !important;
            margin: 12px 0 16px 0;
        }
        .showcaseBanner .showcaseBannerContent .showcaseBannerContentDescription {
            color: white;
            font-size: 16px;
            line-height: 2em;
            margin-bottom: 16px;
            & img {
                height: 16px;
                vertical-align: middle;
            }
        }
        .showcaseBanner .showcaseBannerContent .showcaseBannerContentAction {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            background-image: none;
            border: 1px solid transparent;
            white-space: nowrap;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            border-radius: 4px;
            -o-user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid #c39;
            background: #e875cb;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
            background: -moz-linear-gradient(top, #e875cb 0%, #e875cb 2%, #de4fb7 3%, #c39 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e875cb), color-stop(2%, #e875cb), color-stop(3%, #de4fb7), color-stop(100%, #c39));
            background: -webkit-linear-gradient(top, #e875cb 0%, #e875cb 2%, #de4fb7 3%, #c39 100%);
            background: -o-linear-gradient(top, #e875cb 0%, #e875cb 2%, #de4fb7 3%, #c39 100%);
            background: -ms-linear-gradient(top, #e875cb 0%, #e875cb 2%, #de4fb7 3%, #c39 100%);
            background: linear-gradient(to bottom, #e875cb 0%, #e875cb 2%, #de4fb7 3%, #c39 100%);
            color: #fff;
            cursor: pointer;
            margin-top: 16px;
            padding: 8px 48px;
            &:hover {
                color: #fff;
                border: 1px solid #906;
                background: #da59b4;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
                background: -moz-linear-gradient(top, #da59b4 0%, #da59b4 2%, #cb3298 3%, #906 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da59b4), color-stop(2%, #da59b4), color-stop(3%, #cb3298), color-stop(100%, #906));
                background: -webkit-linear-gradient(top, #da59b4 0%, #da59b4 2%, #cb3298 3%, #906 100%);
                background: -o-linear-gradient(top, #da59b4 0%, #da59b4 2%, #cb3298 3%, #906 100%);
                background: -ms-linear-gradient(top, #da59b4 0%, #da59b4 2%, #cb3298 3%, #906 100%);
                background: linear-gradient(to bottom, #da59b4 0%, #da59b4 2%, #cb3298 3%, #906 100%);
            }
            &:active {
                color: #fff;
            }
            &:focus {
                color: #fff;
            }
            [dir="rtl"] & {
                border-bottom-width: 0.9px; //FIX: IE9 bottom border duplication issue
            }
        }
        .showcaseBanner .showcaseBannerContent .showcaseBannerContentSticker {
            position: absolute;
            bottom: 32px;
            width: 180px;
            .right(40px);
        }
    }
    .showcaseBannerDetailsContainer {
        clear: both;
        margin-bottom: 90px;
        margin-left: 0;
        margin-right: 0;
        &>div {
            padding: 0;
        }
        @media (min-width: @screen-lg-min) {
            display: table;
        }
        .showcaseBannerDetailsRowContainer {
            pointer-events: auto;
            @media (min-width: @screen-lg-min) {
                display: table-row;
            }
            &>div {
                padding: 24px;
                border: 1px solid #e8e8e8;
                background-color: #f7f7f7;
                &>div>div {
                    margin: 0 !important;
                }
                @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
                    min-height: 152px;
                }
                @media (min-width: @screen-lg-min) {
                    display: table-cell;
                    float: none;
                    vertical-align: top;
                }
            }
            h3 {
                margin: 0;
                margin-bottom: 16px;
                font-size: 18px;
                line-height: 30px;
                font-weight: bold;
            }
            p {
                line-height: 20px;
            }
        }
    }
    .showcaseContent {
        width: 100%;
        min-width: 0;
        margin: 40px auto 0 auto;
        padding: 0 24px;
        @media (max-width: @screen-xs-max) {
            padding: 0 6px;
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            padding: 0 12px;
        }
        h3 {
            margin-bottom: 1em;
            margin-top: 10px;
            color: #333333;
            font-family: 'DuCoHeadlineRegular';
            font-size: 18px;
            line-height: 30px;
            font-weight: 500;
            @media (max-width: @screen-xs-max) {
                text-align: center;
                margin-top: 2em;
            }
        }
        hr {
            border: none;
            border-top: 1px solid #eee;
        }
        p {
            margin-bottom: 0.6em;
            strong {
                font-weight: bold;
                font-family: "DuCoHeadlineRegular", Arial, sans-serif;
            }
            @media (max-width: @screen-xs-max) {
                text-align: center;
            }
        }
        hr {
            margin-top: 48px;
            margin-bottom: 18px;
        }
    }
    .galleria-container {
        background: none;
        height: 500px !important;
        .galleria-stage {
            padding-bottom: 80px;
        }
        .galleria-stage .galleria-image-nav {
            height: 64px;
            margin-top: -32px;
            display: none !important;
        }
        .galleria-stage .galleria-image-nav .galleria-image-nav-left,
        .galleria-stage .galleria-image-nav .galleria-image-nav-right {
            width: 30px;
            height: 64px;
            background-color: #000;
            background-position-y: 16px;
        }
        .galleria-stage .galleria-image-nav .galleria-image-nav-left {
            background-position-x: 5px;
        }
        .galleria-stage .galleria-image-nav .galleria-image-nav-right {
            background-position-x: -290px;
        }
        .galleria-stage .galleria-images {}
        .galleria-stage .galleria-images .galleria-image {
            background: url('../../images/product-showcase-shadow.png') center bottom no-repeat;
            padding-bottom: 50px;
            background-size: 50%;
            max-height: 400px;
        }
        .galleria-stage .galleria-images .galleria-image .galleria-layer {}
        .galleria-stage .galleria-images .galleria-image .galleria-frame {}
        .galleria-stage .galleria-images .galleria-image img {
            height: 100% !important;
            width: auto;
            max-width: 212px !important;
            max-height: 350px !important;
            top: 0 !important;
        }
        .galleria-thumbnails-container {
            height: auto !important;
        }
        .galleria-thumbnails-container .galleria-thumb-nav-left,
        .galleria-thumbnails-container .galleria-thumb-nav-right {
            top: 50%;
            margin-top: -20px;
            background-color: #000;
            opacity: 0.5;
            &.disabled {
                display: none;
            }
        }
        .galleria-thumbnails-container .galleria-thumbnails-list {
            margin: auto;
        }
        .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails {
            height: auto !important;
            margin: auto;
        }
        .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .galleria-image {
            background-color: #f7f7f7;
            border: 1px solid #f7f7f7;
            width: 44px !important;
            height: 64px !important;
            padding: 8px;
            box-sizing: border-box;
            &.active {
                background: none;
                border-color: #c724b1;
            }
        }
        .galleria-thumbnails-container .galleria-thumbnails-list .galleria-thumbnails .galleria-image img {
            position: static !important;
            width: auto !important;
            height: 100% !important;
        }
        .galleria-info {
            display: none !important;
        }
    }
    .storeAvailabilityContainer {
        h2 {
            font-family: 'DuCoHeadlineBold';
            font-size: 18px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 16px;
        }
        .sfContentBlock ul {
            width: 100%;
            list-style: none;
            max-width: @screen-lg-min;
            margin: 0 auto;
            box-sizing: border-box;
        }
        .sfContentBlock ul li {
            display: block;
            position: relative;
            width: 25%;
            margin-bottom: 20px;
            height: 2.5em;
            box-sizing: border-box;
            .floatleft();
            .padding(0, 12px, 0, 26px);
            &:before {
                position: absolute;
                display: block;
                content: '\2022';
                text-indent: -999999px;
                width: 17px;
                height: 22px;
                background-repeat: no-repeat;
                background-image: url('../../images/map-icon.png');
                background-size: 16px;
                .left(0);
            }
        }
        .sfContentBlock ul li a {
            font-size: 14px;
            font-family: 'DuCoHeadlineLightRegular';
            line-height: 20px;
            font-weight: normal;
        }
        @media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
            .sfContentBlock ul {
                .padding-left(100px);
            }
            .sfContentBlock ul li {
                width: 33%;
            }
        }
        @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            .sfContentBlock ul {
                .margin-left(10%);
            }
            .sfContentBlock ul li {
                width: 50%;
            }
        }
        @media (max-width: @screen-xs-max) {
            .sfContentBlock ul {
                display: table;
                width: auto;
                margin: 0 auto;
                padding: 0;
            }
            .sfContentBlock ul li {
                display: list-item;
                float: none !important;
                width: auto;
                height: auto;
            }
        }
    }
}