﻿/* ----------------------------------------------------------------------- */
/* #region table */
/* ----------------------------------------------------------------------- */
/*@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "prototype/mixin.less";*/

@import "variable.less";

/* ----------------------------------------------------------------------- */
table {
  border: 1px solid #ddd;
  border-collapse: separate;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  th, td {
    border-left-width: 0px !important;
    padding: 10px;
    border: 1px solid @table-border-color;
  }

  td {
  }

    td[rowspan] {
      border-bottom: 1px solid #ddd !important;
    }

  thead {
    th {
      background-color: @whitef4f5f6;
      font-family: @font-family-bold;
      font-weight: normal;
      border: 1px solid #ddd;
    }
  }

  > thead {
    > tr {
      > th:first-child {
        border-left: none;
      }

      > th:last-child {
        border-right: none;
      }
    }
  }

  > tbody {
    > tr {
      > td:first-child {
        border-left: none;
      }

      > td:last-child {
        border-right: none;
      }
    }

      > tr:nth-child(odd) {
        > td {
          background-color: transparent;
        }
      }

      > tr:nth-child(even) {
        > td {
          background-color: @whitefcfcfc;
        }
      }
  }

  th:first-child {
    .border-radius(8px 0 0 0);
  }

  th:last-child {
    .border-radius(0 8px 0 0);
  }

  th:only-child {
    .border-radius(8px 8px 0 0);
  }

  tr:last-child {
    td:first-child {
      .border-radius(0 0 0 0px);
    }

    td:last-child {
      .border-radius(0 0 0px 0);
    }

    td:only-child {
      .border-radius(0 0 0px 0px);
    }

    td {
      border-bottom-width: 1px !important;
    }
  }

  .price, .memory {
    color: @purplec90bad;
    font-size: 16px;
  }
}

.table-responsive, .wrap-table table {
  @media only screen and (max-width: @screen-xs-max) {
    border: none;

    > .table-bordered {
      > thead > tr {
        > td:first-child, th:first-child {
          border-left: 1px solid @table-border-color;
        }
      }

      > tbody > tr {
        &:last-child {
          td {
            border-bottom: 1px solid @table-border-color;
          }
        }

        > td:first-child, > th:first-child {
          border-left: 1px solid @table-border-color;
        }
      }

      > tfoot > tr {
        > td:first-child, th:first-child {
          border-left: 1px solid @table-border-color;
        }
      }
    }

    > .table-bordered {
      > thead > tr {
        > td:last-child, th:last-child {
          border-right: 1px solid @table-border-color;
        }

        th {
          white-space: nowrap;
        }
      }

      > tbody > tr {
        > td:last-child, th:last-child {
          border-right: 1px solid @table-border-color;
        }

        td {
          white-space: nowrap;
        }
      }

      > tfoot > tr {
        > td:last-child, th:last-child {
          border-right: 1px solid @table-border-color;
        }
      }
    }
  }
}

.wrap-table {
  @media only screen and (max-width: 990px) {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.wrap-table-x {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

[dir="rtl"] {
  table {
    direction: rtl;
  }
}



.table-bordered {
  border-collapse: separate;

  td {
    padding: 10px;
  }

  &.table-striped {
    border-left: none;
    border-right: none;

    > thead {
      > tr:nth-child(odd) {
        > td {
          background-color: transparent !important;
        }
      }

      > tr:nth-child(even) {
        > td {
          background-color: transparent !important;
        }
      }

      > tr {
        > th:first-child {
          border-left: none;
        }

        > th:last-child {
          border-right: none;
        }
      }
    }

    > tbody {
      > tr {
        > td:first-child {
          border-left: none;
        }

        > td:last-child {
          border-right: none;
        }
      }
    }
  }

  td {
    border-bottom-width: 0px !important;
  }

  th {
    padding: 10px;
    border-bottom-width: 0px !important;
  }

    th:first-child {
      .border-radius(8px 0 0 0);
    }

    th:last-child {
      .border-radius(0 8px 0 0);
    }

    th:only-child {
      .border-radius(8px 8px 0 0);
    }

  tr:last-child {
    td:first-child {
      .border-radius(0 0 0 8px);
    }

    td:last-child {
      .border-radius(0 0 8px 0);
    }

    td:only-child {
      .border-radius(0 0 8px 8px);
    }

    td {
      border-bottom-width: 1px !important;
    }
  }

  &.only-td {
    tr:first-child {
      td:first-child {
        .border-radius(8px 0 0 0);
      }

      td:last-child {
        .border-radius(0 8px 0 0);
      }

      td:only-child {
        .border-radius(8px 8px 0 0);
      }
    }
  }
}

.table-curved {
  border-collapse: separate;
  border: none;
  width: 100%;

  td {
    border-bottom-width: 0px !important;
  }

  th {
    padding: 10px;
    border-bottom-width: 0px !important;
  }

    th:first-child {
      .border-radius(8px 0 0 0);
    }

    th:last-child {
      .border-radius(0 8px 0 0);
    }

    th:only-child {
      .border-radius(8px 8px 0 0);
    }

  tr:last-child {
    td:first-child {
      .border-radius(0 0 0 8px);
    }

    td:last-child {
      .border-radius(0 0 8px 0);
    }

    td:only-child {
      .border-radius(0 0 8px 8px);
    }

    td {
      border-bottom-width: 1px !important;
    }
  }

  &.only-td {
    tr:first-child {
      td:first-child {
        .border-radius(8px 0 0 0);
      }

      td:last-child {
        .border-radius(0 8px 0 0);
      }

      td:only-child {
        .border-radius(8px 8px 0 0);
      }
    }
  }
}

table.product-detail {
  th {
    text-align: center;
    background-color: @whitef4f5f6;

    .left {
      text-align: @left;
      font-family: @font-family-bold;
      font-size: 14px;
    }

    span {
      display: block;
      font-size: 12px;
    }
  }

  th, td {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
    vertical-align: middle;
  }

  td {
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
    font-size: 13px;

    @media only screen and (max-width: @screen-xs-max) {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .left {
      text-align: @left;
    }

    .price, .memory {
      color: @purplec90bad;
      font-size: 16px;
    }

    .note {
      color: @grey868686;
      font-size: 12px;
      border-bottom: none;
    }
  }

  > tbody {
    > tr:nth-child(odd) {
      > td {
        background-color: @whitefcfcfc;
      }
    }

    > tr:nth-child(even) {
      > td {
        background-color: @white;
      }
    }

    > tr:last-child td {
      border-bottom: 1px solid @white;
    }
  }

  .black-list {
    li {
      font-size: 14px;
    }
  }
}

th {
  font-family: @font-family-bold;
  font-weight: normal;

  span {
    font-family: @font-family-base;
  }
}

.table-striped {
  th, td {
    border-left-width: 0px !important;
  }

  thead {
    th {
      background-color: @whitef4f5f6;
      font-family: @font-family-bold;
      font-weight: normal;
    }
  }

  > tbody {
    > tr:nth-child(odd) {
      > td {
        background-color: transparent;
      }
    }

    > tr:nth-child(even) {
      > td {
        background-color: @whitefcfcfc;
      }
    }
  }
}
/* ------------------------------------------------------------------------*/
/* #endregion */
/* ----------------------------------------------------------------------- */
