//@import "../LESS/bootstrap/variables.less";
//@import "variable.less";
//@import "../LESS/bootstrap/mixins.less";
//@import "../LESS/prototype/mixin.less";
@import 'fixed-plans/globalStyles.less';
@import 'du-custom-icons.less';
@import 'chosen.less';
@import 'chosen-map.less';

@blue0099cc: #0099cc;
@gray606264: #606264;
@black000: #000;
@grayefefef: #efefef;
@graycbcbcb: #cbcbcb;
@graydddddd: #dddddd;
@grayf8f8f8: #f8f8f8;
@gray555555: #555555;
@graye2e2e2: #e2e2e2;
@purplebc2c99: #bc2c99;

.transition(@duration: 0.2s, @ease: ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}
 
.border-top-radius(@radius) {
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
}

.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;
}

.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}

.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
  border-top-left-radius: @radius;
}

.border-radius(@radius) {
  -webkit-border-radius: @radius; 
  -moz-border-radius: @radius;
  border-radius: @radius;
}

#map-module {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #mobile-filter {

        .panel {
            max-height: 40px;
            overflow: hidden;
            padding-bottom: 30px;
            margin-top: 10px;
            .transition(.5s, ease-out);

            .panel-body {
                overflow: hidden;
            }

            &.open {
                max-height: 480px;

                .panel-body {
                    overflow: visible;
                }
            }
        }

        @media(min-width:@screen-md) {

            & > .col-xs-12 {
                padding: 0;

                .panel {
                    height: 0px;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    box-shadow: none;

                    &.open {
                        height: 92px;
                    }

                    .panel-heading {
                        display: none;
                    }

                    .panel-body {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.map-module-header {
    border-top: solid 1px @graycbcbcb;
    padding: 20px 0px 0px 0px;

    h3 {
        font-size: 26px !important;
        color: @gray606264 !important;
        margin-bottom: 0 !important;
    }
}

#map-module-form {
    margin-top: 0px;

    #hint {
        color: @gray606264;
        margin-top: -16px;
        font-size: 12px;
    }

    .pagination {
        border: 0;
        float: right;
        margin-right: 35px;
        margin-top: 0px;

        li {

            &.disabled {
                a {
                    color: @black000 !important;
                    cursor: default !important;
                }
            }

            a {
                margin: 5px;
                border: 0;
                padding: 0;
                color: @blue0099cc;
                font-family: @font-family-bold;


                &:hover {
                    background-color: transparent;
                }
            }

            &.prev, &.next {
                a {
                    color: @blue0099cc;
                }

                &.disabled {
                    a {
                        color: @graycbcbcb !important;
                        cursor: default !important;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .pagination {
            margin-right: 15px;
            margin-top: -20px;
        }
    }

    .infoWindow {
        width: 260px;
        padding-top: 10px;

        h3 {
            color: @gray606264 !important;
            margin: 0 !important;
        }

        p {
            font-size: 12px;
            margin: 0 !important;
            padding-bottom: 5px;
        }

        p .btn {
            margin: 0 8px 8px 0;
            color: @blue0099cc;

            [dir='rtl'] & {
                margin: 0 0 8px 8px;
            }
        }

        .coordinates-container {
            margin-bottom: 12px;

            .coordinates-title {
                margin-bottom: 0;
                font-size: 14px;
                font-family: 'DuCoHeadlineBold';
            }

            .coordinates-value {
                color: #09c;
                font-family: 'DuCoHeadlineRegular';
            }
        }
    }

    .infoBox {
        .border-radius(20px);
    }
    
    .icon-list, .icon-window {
        float: left;
        width: 60px;
        height: 60px;
        background-color: @grayf8f8f8;
        position: relative;

        &:before {
            font-family: "du-custom-icons";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            font-size: 26px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -13px;
            margin-top: -18px;
            color: @blue0099cc;
        }
    }

    .icon-window {
        padding-top: 10px;
    }

    .icon-shop {
      margin: 0 10px 5px 0;
        &:before {
            content: '\e800';
            .transform(scaleX(-1));
        }
    }

    .icon-wifi {
        &:before {
            content: '\e80a';
        }
    }

    .icon-payment {
        &:before {
            content: '\e808';
        }
    }

    .infoRow {

        h3 {
            font-size: 16px;
            color: @black000;
        }

        p {
            font-size: 14px;
            padding-top: 4px;
        }

        .btn {
            font-size: 12px;
            margin: 1px 2px 8px 2px;
            text-decoration: none;
            color: @blue0099cc;

            &:hover,
            &:active {
                text-decoration: none;
            }
        }

        @media only screen and (max-width: 767px) {
            .btn {
                font-size: 12px;
                padding: 5px 8px;
            }

            .col-xs-12 {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .icon-list {
            width: 60px;
            height: 60px;
            background-repeat: no-repeat;
            float: left;
        }

        .icon-title {
            margin-bottom: 20px;
            margin-left: 0;
            margin-right: 0;

            h3, p {
                margin-left: 80px;
                margin-bottom: 0;
                padding-top: 0;
            }
        }

        @media only screen and (max-width: 767px) {
            .icon-title {
                h3, p {
                    margin-left: 0;
                }
            }
        }

        min-height: 60px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;

        &:after {
            content: "";
            background: @graydddddd;
            height: 1px;
            margin-left: 87px;
            width: 100%;
        }

        @media only screen and (max-width: 767px) {

            &:after {
                margin: 0 auto !important;
            }
        }
    }

    .bold {
        font-family: @font-family-bold;
    }

    .blue {
        color: @blue0099cc;
    }

    .mapContainer {
        margin-top: 20px;

        .panel-body {
            padding: 0;
        }
    }

    .maptab-row {
        .dropshadow(0, 5px, 5px, 0.1);
        border-bottom: solid 1px @graycbcbcb;
        z-index: 10;
        position: relative;
    }

    .maptab {
        font-size: 16px;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: @black000;
        font-weight: bold;
        background-color: @grayefefef;
        .border-radius(4px);

        &.active {
            color: @blue0099cc;
            background-color: @white;
        }

        & + .maptab {
            border-left: solid 1px @graycbcbcb;
            .border-left-radius(0);
        }

        .hidden-inline-xs {
            display: inline-block !important;
        }

        @media only screen and (max-width: 767px) {

            .hidden-inline-xs {
                display: none !important;
            }
        }
    }

    #map-row {
        position: relative;
        min-height: 600px;
    }

    #list {
        padding-top: 20px;
        .transition(0.2s, ease-in);
        position: relative;
        display: none;

        &.active {
            display: block;
        }
    }

    #map {
        min-height: 600px;
        background-color: transparent !important;
        .transition(0.2s, ease-in);
        position: relative;
        display: none;
        padding: 0;

        &.active {
            display: block;
        }
    }

    .adp {
        display: none;
    }

    #directions-panel {
        display: none;
        position: absolute;
        z-index: 10;
        width: 270px;
        right: 10px;
        top: 10px;
        background-color: white;
        padding: 20px 10px;
        border-color: @blue0099cc;
        max-height: 580px;
        .dropshadow(0, 0, 5px, 0.3);

        h3 {
            color: @blue0099cc;
            margin-bottom: 0px;
        }

        label {
            margin: 0;
            margin-top: 10px;
            font-size: 13px;
            padding: 0;
        }

        input[type=text] {
            background-color: white;
            padding: 4px 6px;
            height: 30px;
            .innershadow(0, 0,0,0);
        }

        #calcRoute {
            margin-right: 0;
            margin-top: 20px;
            padding: 4px 25px;
        }

        .close {
            position: absolute;
            font-weight: normal;
            right: 10px;
            top: 10px;
            color: @blue0099cc;
            z-index: 10;
        }

        .location {
            font-size: 11px;
            white-space: nowrap;
            display: inline-block;

            span {
                color: @gray555555;
            }
        }

        input[name='travelMode'] {
            margin-right: 4px;
        }

        #destination {
            font-size: 12px;
            margin-top: 5px;
            font-family: @font-family-bold;
            height: 35px;
            margin: 0;
        }

        #reset {
            margin-top: 25px;
            display: none;
            text-decoration: underline;
            color: @gray555555;
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 767px) {

        #directions-panel {
            position: relative;
            z-index: 10;
            width: 100%;
            right: 0;
            top: 0;
            padding: 20px 10px;
            border: 0;
            .border-radius(0);
            .innershadow(0,0,0,0);
        }

        #google-directions-panel {
            .instruction {
                font-size: 12px;
                margin: 10px 5px;

                b {
                    font-weight: normal !important;
                }
            }

            .distance {
                margin-left: auto;
                float: right;
                font-size: 11px;
            }

            .line {
                display: none;
            }
        }
    }

    #google-directions-panel {
        display: none;
        padding: 10px;
        border: solid 1px @grayefefef;
        border-top: solid 3px @blue0099cc;
        margin-top: 10px;
        background-color: @grayf8f8f8;
        color: @gray555555;
        max-height: 310px;
        overflow-y: scroll;
        overflow-x: hidden;

        .start, .end {
            font-size: 12px;
            font-family: @font-family-bold;
            padding-left: 15px;
            position: relative;

            &:before {
                content: "";
                width: 10px;
                height: 10px;
                .border-radius(10px);
                background-color: @blue0099cc;
                display: inline-block;
                position: absolute;
                left: 5px;
                top: 3px;
            }
        }

        .summary {
            font-size: 12px;
            margin: 10px 5px;
            font-family: @font-family-bold;
            text-transform: uppercase;

            .drive, .walk, .transit {
                padding-left: 20px;

                &:before {
                    font-family: du-custom-icons;
                    color: @blue0099cc;
                    position: absolute;
                    margin-left: -22px;
                }
            }

            .drive:before {
                content: '\e807';
            }

            .walk:before {
                content: '\e809';
                margin-left: -18px;
            }

            .transit:before {
                content: '\e806';
                margin-left: -20px;
            }
        }



        .end:before {
            background-color: @purplebc2c99;
        }


        .instruction {
            font-size: 12px;
            margin: 10px 5px;

            b {
                font-weight: normal !important;
            }
        }

        .distance {
            margin-left: 160px;
            font-size: 11px;
        }

        .line {
            content: "";
            background: @graye2e2e2;
            height: 1px;
            width: 145px;
            margin-right: 20px;
            margin-left: 10px;
            position: relative;
            top: -6px;
        }
    }

    #chosen-text, #found-nothing {
        font-size: 16px;
        margin-top: 10px;
    }

    .form-group {
        margin-bottom: 0px !important;
    }

    .panel {
        .panel-heading {
            background-color: #fff;
            border-bottom-width: 0px !important;
            .border-radius(4px);

            p {
                margin-bottom: 0px !important;
            }
        }
    }


    label {
        font-weight: normal;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    input[type=text], input[type=search], select {
        background-color: @grayf8f8f8;
        height: 40px;
        .innershadow(0, 3px, 10px,0.05);
    }

    .twitter-typeahead {
        display: block !important;
    }

    .tt-input {
    }

    .tt-query,
    .tt-hint {
        margin-bottom: 0;
    }

    .tt-suggestion {
        display: block;
        padding: 6px 12px;
    }

    .tt-suggestion.tt-cursor {
        color: #fff;
        background-color: #428bca;
    }

    .tt-suggestion.tt-cursor a {
        color: #fff;
    }

    .tt-suggestion p {
        margin: 0;
    }

    .tt-dropdown-menu {
        .gradient(@grayf8f8f8, #ffffff,@grayf8f8f8);
        width: 100%;
        padding: 0px;
        border: solid 1px @blue00b1d3;
        .border-radius(2px);
        margin-top: -3px;
        border-top: 0;
        .border-top-radius(0);
    }

    .tt-dataset-locations {
        margin: 10px;
        background-color: #ffffff;
    }

    .tt-dropdown-locations {
        div {
            cursor: pointer;
        }
    }

    input + .fa-search, .twitter-typeahead + .fa-search {
        position: relative;
        left: 100%;
        top: -32px;
        margin-left: -30px;
        color: @blue00b1d3;
    }

    .btn-full {
        width: 100%;
    }

    .btn-list {
        .gradient(#f8f8f8,#f0f0f0,#FFF);
        color: @blue0099cc;
        font-family: @font-family-bold;
        padding: 5px 10px;
        .border-radius(4px);
    }

    .btn-map {
        background-color: white;
        color: @black000;
        text-transform: uppercase;
        padding: 6px 14px;
        .border-radius(1px);
        font-size: 11px;
        margin-right: 10px;
        cursor: pointer;
        margin-top: 10px;
        .dropshadow(0, 0, 5px, 0.3);
        .transition(0.2s, ease-out);

        &:hover, &:active, &.active {
            background-color: @blue0099cc;
            color: white;
        }

        &:disabled, &.disabled {
            background-color: @graycbcbcb;
            color: @gray606264;
        }
    }

    .btn-bump {
        .gradient(#f8f8f8,#f0f0f0,#FFF);
        font-weight: bold;
        padding: 7px 0px;
        margin: 1px 1px 5px 1px;
        background-color: none;

        &:active, &.active {
            .gradient(#f0f0f0,#fff,#f1f1f1);
            color: @blue0099cc;
            border: solid 2px @blue0099cc;
            margin: 0 0 4px 0;
        }

        &:before {
            font-family: "du-custom-icons";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            font-size: 16px;
            margin-right: 10px;
            position: relative;
            top: 1px;
            text-align: center;
            margin-left: .2em;
            color: @blue0099cc;
        }
    }

    .mma-stores {
        &:before {
            content: '\e800';
            .transform(scaleX(-1));
        }
    }

    .mma-payment {
        &:before {
            content: '\e808';
        }
    }

    .mma-wifi {
        &:before {
            content: '\e80a';
        }
    }

    #mm-location {
        .btn-bump {
            width: 100%;
        }

        .col-stores {
            padding-left: 0 !important;
        }

        .col-wifi {
            padding-right: 0 !important;
        }
    }
}

#mm-search {
    -webkit-appearance: none !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
}

[dir="rtl"] {

    p {
        margin-bottom: 16px;
    }

    .bold {
        font-weight: bold;
    }

    .btn-list {
        font-weight: bold;
    }

    .btn-map {
        width: 90px;
        text-align: center;
    }

    #map-module-form {

        .pagination {
            float: left;
            margin-left: 35px;
            margin-right: auto;

            li a {
                font-family: Tahoma !important;
                font-weight: bold;
            }
        }

        @media only screen and (max-width: 767px) {
            .pagination {
                margin-left: 15px;
                margin-right: auto;
            }
        }


        .icon-list {
            float: right;
        }


        .infoRow {

            .icon-list {
                float: right;
            }

            .icon-title {
                h3, p {
                    margin-right: 80px;
                    margin-left: auto;
                }
            }

            @media only screen and (max-width: 767px) {
                .icon-title {
                    h3, p {
                        margin-right: 0;
                    }
                }
            }

            &:after {
                margin-right: 87px;
                margin-left: auto;
            }
        }


        .maptab {
            & + .maptab {
                border-left: 0;
                border-right: solid 1px @graycbcbcb;
                .border-right-radius(0);
            }
        }

        #directions-panel {
            left: 10px;
            right: auto;
            top: 10px;


            #calcRoute {
                margin-left: 0;
                margin-right: auto;
            }

            .close {
                right: auto;
                left: 10px;
                top: 10px;
            }

            input[name='travelMode'] {
                margin-left: 0px;
                margin-right: auto;
            }

            #destination {
                font-weight: bold;
            }
        }

        @media only screen and (max-width: 767px) {

            #directions-panel {
                right: auto;
                left: 0;
            }

            #google-directions-panel {
                .distance {
                    margin-right: auto;
                    float: left;
                }
            }
        }


        #google-directions-panel {
            .start, .end {
                padding-right: 15px;
                font-weight: bold;

                &:before {
                    right: 5px;
                    left: auto;
                    top: 3px;
                }
            }

            .distance {
                margin-right: 160px;
                margin-left: auto;
            }

            .line {
                margin-left: 20px;
                margin-right: 10px;
            }

            .summary {
                font-weight: bold;

                .drive, .walk, .transit {
                    padding-right: 20px;
                    padding-left: 0;

                    &:before {
                        margin-right: -22px;
                        margin-left: 0;
                    }

                    .walk:before {
                        margin-right: -18px;
                    }

                    .transit:before {
                        margin-right: -20px;
                    }
                }
            }
        }

        input[type=text], input[type=search], select {
            text-align: right;
        }


        input + .fa-search, .twitter-typeahead + .fa-search {
            right: 100%;
            top: -32px;
            margin-right: -30px;
            left: auto;
            margin-left: auto;
        }


        .btn-map {
            margin-left: 10px;
            margin-right: auto;
            right: auto !important;
            left: 0 !important;
        }



        .btn-bump {
            &:before {
                margin-left: 10px;
                margin-right: auto;
            }
        }
    }

    #mm-location {
        .col-stores {
            padding-left: 7.5px;
            padding-right: 0 !important;
        }

        .col-wifi {
            padding-right: 7.5px;
            padding-left: 0 !important;
        }
    }

    #reset {
        white-space: nowrap !important;
    }

    .gm-style {
        font-family: @font-family-ar-base !important;
    }
}

.gm-style {
    font-family: @font-family-base !important;
}
