

//--- English Fonts ----
@font-family-bold: "DuCoHeadlineBold", Arial, sans-serif;
@font-family-light: "DuCoHeadlineLightRegular", Arial, sans-serif;
@font-family-regular: "DuCoHeadlineRegular", Arial, sans-serif;

//--- Arabic Fonts ----
@font-family-ar-bold: "DuCoHeadlineArabicBold", Tahoma, Arial;
@font-family-ar-light: "DuCoHeadlineArabicLightRg", Tahoma, Arial;
@font-family-ar-regular: "DuCoHeadlineArabicRegular", Tahoma, Arial;





@right: right;
@left: left;
@white: #fff;

//----- du eitc colors ------
@menu-toggle-color: #0089B7;
@account-menu-bg: #F8F8F8;
@side-menu-bg: #09c;
@side-menu-border: #007AA3;
@topbar-border-color: #CCCCCC;
@eitc-pane-width: 160px;
@eitc-top-bar-height: 40px;

@blue00b1d3: #00b1d3; //general text,heeading and background color
@black2c303a: #2c303a;
@black575757: #575757;
@blue01bde2: #01bde2;
@blue00bce0: #00bce0;
@blue00aad3: #00aad3;
@blue007c9a: #007c9a;
@lightpurple: #d62bad;
@purplece3399: #ce3399;
@purplec90bad: #c90bad;
@lightestgrey: #f9f9f9;
@blue00b5d5: #00b5d5;
@blue00bfe1: #00bfe1;
@blue0192ad: #0192ad;
@blue01a0c0: #01a0c0;
@blue3fbde3: #3fbde3;
@blue35b3d9: #35b3d9;
@whitefcfcfc: #fcfcfc;
@blue2486ab: #2486ab;
@whitef4f5f6: #f4f5f6;
@whitef1f1f1: #f1f1f1;
@whitefbfbfb: #fbfbfb;
@blue0095b2: #0095b2;
@blue00a0c0: #00a0c0;
@blue00a9ca: #00a9ca;
@blue41a9d4: #41a9d4;
@black323232: #323232;
@whitefafbfc: #fafbfc;
@whitefefefe: #fefefe;
@black323232: #323232;
@warningf80707: #f80707;
@whitef0f0f0: #f0f0f0;
@whitef7f8f9: #f7f8f9;
@blue009ebf: #009ebf;
@blue00afd4: #00afd4;
@bordermedgrey: #ddd;

// Global values
// --------------------------------------------------

// Grays
// -------------------------

@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 60%); // #999
@gray-lighter: lighten(#000, 93.5%); // #eee
@greye3e3e3: #e3e3e3;
@greye1e1e1: #e1e1e1;
@greydadada: #dadada;
@grey828282: #828282;
@grey808285: #808285;
@grey373f42: #373F42;
@greyccc: #ccc;
@grey909090: #909090;
@grey868686: #868686;
@greydedede: #dedede;
@greyededed: #ededed;
@greyeaeaea: #eaeaea;
@greyb1b1b1: #b1b1b1;
@greyebebeb: #ebebeb;
@greye8e9ea: #e8e9ea;
@greyeFDFDFD: #FDFDFD;
@greya3a3a3: #a3a3a3;

// Brand colors
// -------------------------

@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;
@brand-info: #5bc0de;

// Scaffolding
// -------------------------

@body-bg: #fff;
@text-color: @gray-dark;

// Links
// -------------------------

@link-color: @brand-primary;
@link-hover-color: darken(@link-color, 15%);

// Typography
// -------------------------

@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-light;

@font-size-base: 14px;
@font-size-large: ceil(@font-size-base * 1.25); // ~18px
@font-size-small: ceil(@font-size-base * 0.85); // ~12px

@font-size-h1: floor(@font-size-base * 2.16); // ~30px
@font-size-h2: floor(@font-size-base * 1.322); // ~18.5px
@font-size-h3: ceil(@font-size-base * 1.28); // ~18px
@font-size-h4: ceil(@font-size-base * 1.145); // ~16px
@font-size-h5: ceil(@font-size-base * 1.00); // ~14px
@font-size-h6: ceil(@font-size-base * 1.00); // ~14px

@line-height-base: 1.428571429; // 20/14
@line-height-computed: floor(@font-size-base * @line-height-base); // ~20px

@headings-font-family: @font-family-base;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color: inherit;

// Typography Arabic
// -------------------------
@font-family-ar-base: @font-family-ar-light;
@headings-font-family-ar: @font-family-base;



// Iconography
// -------------------------

@icon-font-path: "../fonts/";
@icon-font-name: "glyphicons-halflings-regular";


// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;

@padding-large-vertical: 10px;
@padding-large-horizontal: 16px;

@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;

@padding-xs-vertical: 1px;
@padding-xs-horizontal: 5px;

@line-height-large: 1.33;
@line-height-small: 1.5;

@border-radius-base: 4px;
@border-radius-large: 6px;
@border-radius-small: 3px;

@component-active-color: #fff;
@component-active-bg: @brand-primary;

@caret-width-base: 4px;
@caret-width-large: 5px;

// Tables
// -------------------------

@table-cell-padding: 8px;
@table-condensed-cell-padding: 5px;

@table-bg: transparent; // overall background-color
@table-bg-accent: #f9f9f9; // for striping
@table-bg-hover: #f5f5f5;
@table-bg-active: @table-bg-hover;

@table-border-color: #ddd; // table and cell border

// Forms
// -------------------------

@input-bg: #fff;
@input-bg-disabled: @gray-lighter;

@input-color: @gray;
@input-border: #ccc;
@input-border-radius: @border-radius-base;
@input-border-focus: #66afe9;

@input-color-placeholder: @gray-light;

@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
@input-height-large: (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

@legend-color: @gray-dark;
@legend-border-color: #e5e5e5;

@input-group-addon-bg: @gray-lighter;
@input-group-addon-border-color: @input-border;


// Dropdowns
// -------------------------

@dropdown-bg: #fff;
@dropdown-border: rgba(0,0,0,.15);
@dropdown-fallback-border: #ccc;
@dropdown-divider-bg: #e5e5e5;

@dropdown-link-color: @gray-dark;
@dropdown-link-hover-color: darken(@gray-dark, 5%);
@dropdown-link-hover-bg: #f5f5f5;

@dropdown-link-active-color: @component-active-color;
@dropdown-link-active-bg: @component-active-bg;

@dropdown-link-disabled-color: @gray-light;

@dropdown-header-color: @gray-light;


// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)

@zindex-navbar: 1000;
@zindex-dropdown: 1000;
@zindex-popover: 1010;
@zindex-tooltip: 1030;
@zindex-navbar-fixed: 1030;
@zindex-modal-background: 1040;
@zindex-modal: 1050;