/* MODULE: ENTERTAINMENT TILES */

.slider {
  .sliders;
}

.modTiles {

  position: relative;
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 0px 0 50px 0;
  clear: both;

  .loadMore {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);

    border: 1px solid #d4d4d4;
    .rounded-corners;
    color: @blu;
    display: block;
    .CoHeadlineRegular();
    font-size: 18px;
    line-height: 66px;
    margin: 20px auto 0 auto;
    text-align: center;
    width: auto;

    &:hover {
      color: @bluHover;
    }

    &:active {
      background: #ffffff;
      background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fafafa));
      background: -webkit-linear-gradient(top, #ffffff 0%, #fafafa 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #fafafa 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #fafafa 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0);

      color: @bluHover;
    }
  }

  &.divider {
    .dividers;
  }

  h3.title {
    .modTitle;
    margin: 0 0 0 0;
    display: block;
    position: relative;
    z-index: 99999;

    .filters {
      background: transparent;
      float: left;
      font-size: 12px;
      height: 20px;
      line-height: 22px;
      position: absolute;
      .posright(2px);
      /*text-transform: uppercase;*/
      top: 10px;
      width: auto;

      a {
        span {
          background: transparent url(../../images/arr1_down.png) no-repeat;
          .background-position(right, center);
          display: block;
          .padding-right(20px);
        }
      }

      &:hover {
        a {
          color: #B2E7F4;
          span {
            background-image: url(../../images/arr1_up.png);
          }
        }
        .filterssubNav {
          display: block;
        }
      }

      .filterssubNav {
        position: absolute;
        top: 22px;
        .posright(4px);
        white-space: nowrap;

        display: none;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
        .rounded-corners (7px);
        z-index: 9999;

        .subA {
          display: block;
          color: @blu;
          .padding-right(40px);
          .padding-left(25px);
          background: #fff;
          &:hover {
            color: #fff;
          }
        }

        li:first-child {
          .subA {
            .rounded-corners2 (7px, 7px, 0, 0);
          }
        }
        li:last-child {
          .subA {
            .rounded-corners2 (0, 0, 7px, 7px);
          }
        }

        li:hover {
          .subA {
            background: @blu;
            color: #fff;
          }
        }

      }

      @media screen and (max-width: 490px) {
        display: none;
      }
    }

  }

  .titleLink {
    font-size: 0.9em;
    line-height: 22px;
    position: absolute;
    .posright(2px);
    top: 10px;
    .CoHeadlineRegular();
    /*text-transform: uppercase;*/

    span {
      display: block;
      background-repeat: no-repeat;
      .background-image-tileslink();
      .background-position(right, center);
      .padding-right(15px);
    }

    @media screen and (max-width: 999px) {
      display: none;
    }

  }

  .tilesForm {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0 30px 0;
    z-index: 9999;

    fieldset.title {
      /*.modTitle;*/
      .mod-search();
      background-repeat: no-repeat;
      .background-position(left, top);
      height: 32px;
      margin: 0 0 0 0;
      display: block;
      position: relative;
      width: 260px;

      input.k {
        background: transparent;
        border: 0px;
        display: block;
        .newDu();
        font-size: 14px;
        height: 20px;
        line-height: 26px;
        padding: 3px;
        position: absolute;
        .posleft(2px);
        top: 4px;
        width: 209px;
      }

      input.s {
        background: transparent;
        border: 0px;
        cursor: pointer;
        display: block;
        .newDu();
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        overflow: hidden;
        position: absolute;
        .posright(4px);
        text-indent: -10000px;
        top: 4px;
        width: 35px;
      }

      @media screen and (max-width: 322px) {
        background-position: 0 -52px;
        width: 290px;

        input.k {
          width: 239px;
        }
      }

    }

    .titleLink {
      font-size: 12px;
      line-height: 22px;
      position: absolute;
      .posright(2px);
      top: 10px;

      span {
        background: transparent url(../../images/right_arrow.png) right center no-repeat;
        padding-right: 15px;
      }

      @media screen and (max-width: 999px) {
        display: none;
      }

    }

    .filters {
      //background:red;
      font-size: 12px;
      line-height: 22px;
      position: absolute;
      .posright(2px);
      /*text-transform: uppercase;*/
      top: 0;

      a {
        span {
          background: transparent url(../../images/arr1_down.png) no-repeat;
          .background-position(right, center);
          display: block;
          .padding-right(20px);
        }
      }

      &:hover {
        a {
          color: #B2E7F4;
          span {
            background-image: url(../../images/arr1_up.png);
          }
        }
        .filterssubNav {
          display: block;
        }
      }

      .filterssubNav {
        position: absolute;
        top: 22px;
        .posright(4px);
        white-space: nowrap;
        display: none;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
        .rounded-corners (7px);
        z-index: 9999;

        .subA {
          display: block;
          color: @blu;
          padding: 0 25px;
          background: #fff;

          &:hover {
            color: #fff;
          }
        }

        li {
          margin: 0px;
          padding: 0px;
        }

        li:first-child {
          .subA {
            .rounded-corners2 (7px, 7px, 0, 0);
          }
        }
        li:last-child {
          .subA {
            .rounded-corners2 (0, 0, 7px, 7px);
          }
        }

        li:hover {
          .subA {
            background: @blu;
            color: #fff;
          }
        }

      }

      @media screen and (max-width: 479px) {
        display: none;
      }
    }
  }

  .tilesFilters {
    position: absolute;
    top: 0;
    .posright(0);
    padding-top: 10px;

    .sorting {
      .sortingTitle {
        .margin-right(5px);
        .padding-right(25px);
        line-height: 18px;
        float: left;
        width: auto;
        background: url(../../images/arr1_down.png) no-repeat;
        .background-position(right, top);
      }

      .sortingsubNav {
        display: none;
        position: absolute;
        top: 28px;
        .posright(4px);
        white-space: nowrap;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
        .rounded-corners (7px);
        z-index: 9999;

        .subA {
          display: block;
          color: @blu;
          padding: 0 25px;
          background: #fff;

          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }

        li {
          .textalign();
          border: 0px;
          border-bottom: 1px solid @linelightgrey;
          display: block;
          float: none;
          line-height: 2em;
          padding: 0px;
        }

        li:first-child {
          .subA {
            .rounded-corners2 (7px, 7px, 0, 0);
          }
        }
        li:last-child {
          border-bottom: 0px;
          .subA {
            .rounded-corners2 (0, 0, 7px, 7px);
          }
        }

        li:hover {
          .subA {
            background: @blu;
            color: #fff;
          }
        }
      }

      &:hover {
        .sortingTitle {
          background-image: url(../../images/arr1_up.png);
        }
        .sortingsubNav {
          display: block;
        }
      }

    }

    .filters {
      .filtersTitle {
        display: none;
        .margin-right(5px);
        .padding-right(25px);
        line-height: 18px;
        float: left;
        width: auto;
        background: url(../../images/arr1_down.png) no-repeat;
        .background-position(right, top);
      }

      li {
        font-size: 1em;
        padding: 0 9px;
        .floatleft();
        .borderright(@lightgrey);
        /*text-transform: uppercase;*/

        a {
          color: @medgrey;
          &:hover {
            text-decoration: underline;
          }
          &.selected {
            color: @blu;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      li:last-child {
        border: none;
        .padding-right(0);
      }

      @media screen and (max-width: 767px) {
        .filtersTitle {
          display: block;
        }

        .filterssubNav {
          display: none;
          position: absolute;
          top: 28px;
          .posright(4px);
          white-space: nowrap;
          -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
          .rounded-corners (7px);
          z-index: 9999;

          .subA {
            display: block;
            color: @blu;
            padding: 0 25px;
            background: #fff;

            &:hover {
              color: #fff;
              text-decoration: none;
            }
          }

          li {
            .textalign();
            border: 0px;
            border-bottom: 1px solid @linelightgrey;
            display: block;
            float: none;
            line-height: 2em;
            padding: 0px;
          }

          li:first-child {
            .subA {
              .rounded-corners2 (7px, 7px, 0, 0);
            }
          }
          li:last-child {
            border-bottom: 0px;
            .subA {
              .rounded-corners2 (0, 0, 7px, 7px);
            }
          }

          li:hover {
            .subA {
              background: @blu;
              color: #fff;
            }
          }
        }

        &:hover {
          .filtersTitle {
            background-image: url(../../images/arr1_up.png);
          }
          .filterssubNav {
            display: block;
          }
        }
      }
    }
  }

  .itemsW {
    overflow: hidden;
  }

  .items {
    width: 820px;
    height: 1500px;
    /*
    opacity:0; filter:alpha(opacity=0);
    .animated;

    &.visible{ opacity:1; filter:alpha(opacity=100); }
     */
  }

  .item {
    .floatleft();
    position: relative;
    overflow: hidden;
    .rounded-corners (7px);
    border: 1px solid #CCC;
    background-color: #fff;
    width: 193px;

    &:hover, &:active {
      background: #f2f2f2;
    }

    &.tvmovies {
      img {
        .rounded-corners2 (7px, 7px, 0, 0);
      }
    }

    &.news {
      img {
        .rounded-corners2 (7px, 7px, 0, 0);
      }
    }

    &.music {
    }

    &.events {
      img {
        .rounded-corners2 (7px, 7px, 0, 0);
      }
    }

    &.games {
    }

    .pic {
      clear: both;
      position: relative;

      img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
      }

    }

    .txt {
      clear: both;
    }

    .date {
      color: @darkergrey;
      margin: 0 0 8px 0;
      font-size: 0.9em;
      .CoHeadlineLightRegular();
    }

    .title {
      color: @blu;
      margin: 0 0 5px 0;
      font-size: 1.4em;
      .CoHeadlineBold();

    }

    .subtitle {
      color: @darkergrey;
      margin: 0 0 20px 0;
      font-size: 1em;
      .CoHeadlineRegular();
    }

    .category {
      color: @blu;
      font-size: 0.85em;
      .CoHeadlineRegular();
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    &.tvmovies {
      .subtitle {
        font-size: 0.9em;
      }
    }

    &.news {

    }

    &.music {
      .subtitle {
        .CoHeadlineLightRegular();
      }
    }

    &.events {

    }

    &.games {
      .subtitle {
        .CoHeadlineLightRegular();
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 999px) {
    /* 320px - 480px - 768px */
    margin: 0px 0 40px 0;

    .items {
      width: 300px;
    }

    .item {
      width: 138px;
      margin-bottom: 10px;
      .margin-right(10px);

      &.music, &.games {
        .pic {
          padding: 9px 9px 0 9px;
        }
      }

      &.tvmovies {
        height: 319px;
      }
      &.news {
        height: 203px;
      }
      &.music {
        height: 239px;
      }
      &.events {
        height: 203px;
      }
      &.games {
        height: 265px;
      }

      .title {
        font-size: 1.1em;
      }

      .subtitle {
        font-size: 0.846em;
      }

      &.tvmovies {
        .subtitle {
          font-size: 0.846em;
        }
      }

      .category {
        font-size: 0.769em;
      }

      .txt {
        padding: 8px 10px 10px 10px;
      }

    }

  }

  @media screen and (min-width: 480px) {
    .items {
      width: 460px;
    }
  }

  @media screen and (min-width: 768px) {
    .items {
      width: 750px;
    }
  }

  @media screen and (min-width: 1000px) {

    margin: 0px 0 50px 0;

    .items {
      width: 820px;
    }

    .item {
      width: 193px;
      margin: 0 0 10px 0;
      .margin-right(10px);

      &.music, &.games {
        .pic {
          padding: 19px 19px 0 19px;
        }
      }

      &.tvmovies {
        height: 417px;
      }
      &.news {
        height: 261px;
      }
      &.music {
        height: 306px;
      }
      &.events {
        height: 261px;
      }
      &.games {
        height: 324px;
      }

      .category {
        bottom: 20px;
        .posleft(20px);
      }

      .txt {
        padding: 8px 20px 20px 20px;
      }

    }

  }

  @media screen and (min-width: 1600px) {
    .items {
      width: 1025px;
    }
  }

}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

/*.isotope,*/
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope .isotope-item {
  .isotope-item-transition();
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* Overrides for iOS devices, to be tested on Android and WP */

.touch {
  .modTiles {
    .tilesFilters {
      .filters {
        .filterssubNav {
          display: none;
        }
        &:hover {
          .filterssubNav {
            display: none;
          }
        }
        &.visible {
          .filterssubNav {
            display: block;
          }
        }
      }
    }
  }
}


.overviewTiles {

  height: auto !important;
  padding: 0;
  margin: 0 0 20px;

  .brandFilter, .brandFilter {
    text-align: center;
    margin: 0 0 40px;
    position: relative
  }
  .brandFilter a.btn, .modCompare .brandFilter a.btn {
    float: none;
    display: inline-block
  }
  .itemsW {
    height: auto;
    clear: left;
    margin: 0 auto;
  }
  ul.items {
    float: left;
    position: relative !important;
    width: 110% !important;

     [dir=rtl] & {
        float: right;
    }
    
  }

  
  
  ul.items li {
    margin-bottom: 30px;
    background: none !important
  }
  .btn-info-light.is-checked {
    color: #fff;
    background: @darkblu; /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */
    //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjY5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iIzAwOThjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzAwYjRkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGI0ZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    //background: -moz-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #006699), color-stop(97%, #0098cb), color-stop(98%, #00b4da), color-stop(100%, #00b4da)); /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* Opera 11.10+ */
    //background: -ms-linear-gradient(top, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* IE10+ */
    //background: linear-gradient(to bottom, #006699 0%, #0098cb 97%, #00b4da 98%, #00b4da 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00b4da', GradientType=0); /* IE6-8 */
  }

}