

.checkoutSteps{ 
	height:40px; margin:10px 0 2px 0; background:#ebecec; overflow:hidden;
	

	li{ .floatleft;
	
		.num{ background:url(../../images/bg_num_step.png) 0 0 no-repeat; width:28px; height:28px; line-height:28px; text-align:center; .floatleft; margin:7px 0 0 0; .margin-left(7px); .margin-right(9px); color:@grey; font-size:1.3em}
		.label{  color:@grey; font-size:1.3em;  /*text-transform: uppercase;*/  line-height:40px; }
	
		
		&.step1{  width:34%;}
		&.step2{  width:33%;}
		&.step3{  width:33%;}
	}
	
	
	.step1selected{
		.step1{ background-color:#999; .background-image-stepsel(); background-repeat: no-repeat; .background-position(right, top);
			.label{  color:#fff;}
		}
		.step2{ background-repeat: no-repeat; .background-image-step(); .background-position(right, top);  }
		.step3{}
	}
	
	.step2selected{
		.step1{ background-repeat: no-repeat; .background-image-step-sel-next(); .background-position(right, top);}
		.step2{ background-color:#999; .background-image-stepsel(); background-repeat: no-repeat; .background-position(right, top);
			.label{  color:#fff;}
		}
		.step3{}
	}
	
	.step3selected{
		.step1{ background-repeat: no-repeat; .background-image-step(); .background-position(right, top);}
		.step2{ background-repeat: no-repeat; .background-image-step-sel-next(); .background-position(right, top); }
		.step3{ background:#999;
			.label{  color:#fff;}
		}
	}
	
	
	
		@media screen and (min-width: 320px) and (max-width: 767px){ 
		
		
			.step1selected{ font-size:0.95em;
				.step1{width:68%;}
				.step2{width:16%;}
				.step3{width:15%;}
			}
			
			.step2selected{ font-size:0.85em;
				.step1{width:17%;}
				.step2{width:69%;}
				.step3{width:13%;}
			}
			
			.step3selected{ font-size:0.9em;
				.step1{width:18%;}
				.step2{width:17%;}
				.step3{width:65%;}
			}
		
			
		
        }	
	
}











.checkoutStep1{
	background:#ebecec; padding:10px 0 1px 0; margin:0 0 50px 0;
	
	.items{
		clear:both; overflow:hidden;
		
		.item{ border:1px solid #bbbdbf; background:#fff; margin:0 10px 10px 10px; position:relative; padding:15px; clear:both; overflow:hidden; }
		
		
		
		.pic{ 
			img{ margin:0 auto 30px auto; max-height:170px; display:block;}
		}
				
		.det{ 
			overflow:hidden; 
			color:@darkergrey;
			padding-bottom:15px;
			
			.name{ font-size:1.5em; }
			.color{ background:url(../../images/colormask.png) 0 0 no-repeat; display:block; height:32px; line-height:32px; .floatleft; clear:both; padding:0 23px; font-size:1.2em; margin:15px 0 0 0;}
				.black{ background-color:#000; color:#000;}
			.planprice{ background:#f1f2f2; display:block; height:32px; line-height:32px; .floatleft; clear:both; padding:0 10px; font-size:1.2em;  margin:15px 0 0 0;
				.currency{ font-size:0.6em}
			}
			
		}
		.actions {
			float: left;
			overflow:hidden;
			width: 200px;
			margin-bottom:15px;
						
			.edit{.floatleft(); .margin-right(10px); }
			
			.delete{ .floatleft(); }
		}
		.quantity-price{ 
			border-top:1px solid #bbbdbf; 
			padding:15px 0 0 0; 
			
			color:@darkergrey; 
			overflow:hidden;
			clear:both;
			
			.quantityFieldset{
				overflow:hidden;
			
				.label{.floatleft(); font-size:1.1em; .newDu(); .margin-left(5px); line-height:18px;}
				.dropdown{.floatright(); .margin-right(5px);}
				
			}
			
			.price{ 
				.textalign();
				font-size:1.385em; 
				margin:20px 0 0 0;
				.margin-right(5px);
				
				.currency{ 
					font-size:0.778em; 
					.CoHeadlineLightRegular();
				}
			}
		}
		
		
	}
	
	
	.total{ 
		  margin:0 10px 10px 10px;  padding:5px 15px; overflow:hidden; color:@darkergrey; line-height:30px; border-bottom:1px solid #bbbdbf;
		  .label{.floatleft(); font-size:1.3em;}
		  .price{ .floatright(); font-size:2.3em;
			  .currency{ font-size:0.5em}
		  }
	}
	
	.mainactions{
		margin:0 10px 10px 10px;  padding:0 15px; overflow:hidden;
		
		.submit{ .floatright();}
		
	}
	
	
	@media screen and (max-width: 767px) {
		
		.items {
			.actions {
				float: none;
				width: 100%;
				
				.edit{.floatleft();}
				
				.delete{.floatright();}
			}
		}
		
	}
	
	 @media screen and (min-width: 768px) { /* ipad portrait */
     	
		.items { 
			.item{.padding-left(190px); min-height:158px;}
		
		
			.pic{ 
				.posleft; position:absolute; top:15px; width:190px;
				img{ max-width:150px; }
			 }
			 
			 .det{ padding-top:20px; margin-bottom:15px;   }
			
			.actions{
				
			}
			
			.quantity-price{ 
				
				
				.quantityFieldset{ 
					.floatleft; 
					width:200px; 
					
					.label{
						 
					}
					
					.dropdown{ 
						.floatleft();
						.margin-left(10px);
					}
				} 
				
				.price{ margin:0; .floatright; line-height:18px;}
			}
			
			
			 .actions{ 
			 	float: left;
			 	overflow:hidden;
			 	width: auto;
			 	
				position:absolute; top:27px; .posright(15px);  
				.edit{ .floatleft(); }
				.delete{ .floatleft(); }
			 }
		
		}
	 
	 }
        
	
	
	
	
}

	
	
