@tablet:    ~"only screen and (max-width: 800px)";
@mobile:    ~"only screen and (max-width: 480px)";
@mobile-landscape:    ~"only screen and (max-height: 480px) and (orientation:landscape)";
@mobile-sm:    ~"only screen and (max-width: 380px)";
@mobile-sm-landscape:    ~"only screen and (max-height: 380px) and (orientation:landscape)";
@mobile-xs:    ~"only screen and (max-width: 320px)";

.keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

.animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
}




body.locked {
    overflow-y: hidden;
}
.onboarding-wrap {
    margin: 0;
    padding: 20px 0 100px;

    @media @tablet {
        padding-top: 0; padding-bottom: 20px;
    }

    * {
        box-sizing: border-box;
    }
    h1 {
        .newDuBold();
        font-size: 30px;
        line-height: 1em;
        margin: 0;
        padding: 10px 0 10px;

        @media @mobile {
            margin-top: 20px; margin-bottom: 20px;
            font-size: 20px;
        }
    }
    .intro {
        padding: 0 0 20px;

        @media @mobile {
            padding-bottom: 10px;
        }
    }

    .form1 {

        ::placeholder {
            color: #ddd; opacity: 0;
        }

        .btn {
            width: 100%; max-width: 300px;
            color: #fff;
        }

        .forgot {
            padding: 10px 0 0; text-align: right;

            [dir=rtl] & {
                text-align: left;
            }

            @media @mobile {
                padding-top: 3px;
            }
        }

        .action {

            @media @mobile {
                text-align: center;
            }
            @media @mobile-sm {
                margin-top: 30px;
            }
        }

        .alert {
            position: static; display: block; opacity: 1;
            margin: 0 0 30px; max-height: 100%; padding: 15px 20px;
            transform: none;

            @media @mobile-sm {
                margin-bottom: 20px;
            }
        }

    }
   

}

.md-fx1 {
    position: relative;
    display: block; margin: 0; padding: 20px 0 35px;

    label {
        color: #666; font-size: 18px;
        .newDu();
        position: absolute; top: 32px; left: 0;
        [dir=rtl] & {
            left: auto; right: 0;
        }
        transition: all 100ms ease-out;
    }

    .txt1 {
        padding: 5px 0;
        border: 0; width: 100%; height: 40px;
        border-bottom: #ddd solid 1px;
        border-radius: 0!important;
        font-size: 18px;
        .newDuMedium();
        &::placeholder {
            opacity: 0;
        }
        &:focus {
            border-bottom: #0099cc solid 2px;
        }
        &:focus::placeholder {
            opacity: 1;
        }

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            opacity: 0; line-height: 2em;
        }
        &:focus::-webkit-input-placeholder {
            opacity: 1;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            opacity: 0;
        }
        &:focus::-moz-placeholder {
            opacity: 1;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            opacity: 0;
        }
        &:-moz-placeholder { /* Firefox 18- */
            opacity: 0;
        }
        
        &:focus + label {
            top: 5px; font-size: 14px; .newDuMedium(); 
            color: #09c;
        }

    }

    &.expanded {
        .txt1 {
            & + label {
                top: 5px; font-size: 14px; .newDuMedium(); 
                color: #aaa; .newDu();
            }
            &:focus + label {
                color: #09c; .newDuMedium();
            }
        }
        .hint {
            // display: none;
        }
    }

    .hint {
        position: absolute; left: 0; top: 62px;
        padding: 3px 0;
        background: none; border: 0;
        font-size: 13px; color: #aaa;
        [dir=rtl] & {
            left: auto; right: 0;
        }
        @media @mobile-sm {
            line-height: 1em;
        }
    }
    .hint + .resend-otp {
        @media @mobile-sm {
            position: relative; top: 30px; text-align: left;
        }
    }

    &.error {
        .txt1 {
            border-radius: 0!important;
            &:focus {
                border-color: #09c;
            }
        }
        .help {
            margin-left: 0; padding: 4px 0;
            position: absolute; top: 60px;

            [dir=rtl] & {
                margin-left: auto; margin-right: 0;
            }
        }
        .hint {
            display: none;
        }
    }    

}

.pull-up-msg-box {
    &.auto-show,
    &.show {
        display: block;
    }
}


.pull-up-msg-box.onboarding-box {

    .welcome-title {
        h2 {
            font-size: 30px; color: #00A9CE;
            .newDuMedium();
            padding: 20px 0 40px;
            max-width: 750px; margin: 0 auto;
            border-bottom: #ddd solid 1px;

            .sub-title {
                display: block; padding: 12px 0 10px;
                font-size: 16px; .newDu();
                font-weight: 300; color: #777;
                line-height: 1.4em;
            }
        }

        &.no-border h2 {
            border-bottom: 0;
            padding-bottom: 15px;
        }
    }
    .the-content {
        max-width: 660px; padding-top: 35px;

        @media @mobile {
            padding-bottom: 0px;
        }

        .note {
            font-size: 13px; margin: 25px 0 15px;
        }
    }
    .the-content h3.msg-title {
        font-size: 30px; color: #333;
        padding-bottom: 10px;
    }
    .msg-content {
        padding: 0 0 20px;

        @media @mobile {
            padding-bottom: 0;
        }

        p { 
            font-size: 16px; color: #777; line-height: 1.5em;
        }
        &.narrow {
            max-width: 470px; margin: 0 auto;
        }
        &.tight {
            max-width: 300px; margin: 0 auto;
        }
    }
    .user-detail {
        font-size: 13px; padding: 30px 0 20px; margin: 0 -15px;
        overflow: auto;

        .detail-item {
            text-align: left; .newDu();
            [dir=rtl] & {
                text-align: right;
            }

            @media screen and (min-width: 480px) {
                width: 50%; float: left;
            }

            span {
                display: block; padding: 0 0 10px;
                color: #777;

                .verified {
                    color: #78BE20;
                }
                .pending {
                    color: #FF8200;
                }
                a {
                    position: absolute;
                    margin: -2px 0 0px 3px;
                    [dir=rtl] & {
                        margin: -2px 3px 0px 0;
                    }
                }
                .icon {
                    width: 15px; height: 15px;
                    font-size: 17px;
                    &:before {
                        font-size: 17px!important;
                    }
                }
            }
            strong {
                display: block; font-size: 18px; padding: 0 0 8px;
                .newDuMedium();
                border-bottom: #ddd solid 1px;
            }
            .txt1 {
                display: block; font-size: 18px; padding: 0 0 5px;
                .newDuMedium();
                border: 0;
                border-bottom: #ddd solid 1px;
                width: 100%; max-width: 320px;

                &:focus {
                    border-color: #09c;
                }

                @media @mobile {
                    max-width: 100%;
                }
            }
            &.error {
                .txt1 {
                    border-color: #c00;
                }
            }
            .help {
                color: #c00; 
                padding: 4px 0 0;
            }
        }

        @media @mobile {
            .detail-item + .detail-item {
                margin-top: 30px;
            }
        }
        @media @mobile-landscape {
            .detail-item {
                width: 50%; float: left;
            }
        }
        @media @mobile-sm-landscape {
            .detail-item {
                width: 100%; float: none;
            }
        }
    }
    
    .msg-box-content {
        box-sizing: border-box;
        max-height: 100%; overflow-y: auto;

        @media @tablet {
            padding: 20px 15px;
        }
        @media @mobile {
            box-sizing: border-box;
            padding: 20px 15px;
        }
        /*@media @mobile-sm {
            padding: 15px 10px;
        }*/
    }
    .msg-box-thankyou {
        padding-top: 50px;

        @media @mobile {
            padding-top: 30px;
        }
        @media @mobile-landscape {
            padding-top: 10px;
        }
    }

    &.auto-show .msg-box-content{
        .transform(translate(0,100%));
        .animation(slide_up .3s .4s ease-out forwards);
        
    }
    
    .msg-box-content.slide {
        transition-delay: 2s;
        .animation(slide .3s .4s cubic-bezier(.34,.27,.42,.97) forwards);
    }

    .msg-box-content.slide-out {
        .transition(none);
        .transform(translate(0,0));
        .animation(slide_out .3s .2s cubic-bezier(.34,.27,.42,.97) forwards);
    }

    .msg-box-content.close {
        .animation(slide_down .3s  ease-in forwards);
    }

    .keyframes(slide, {
        0% {transform: translate(100%, 0)}
        100% {transform: translate(0, 0)}
    });
    .keyframes(slide_up, {
        0% {transform: translate(0, 100%)}
        100% {transform: translate(0, 0)}
    });
    .keyframes(slide_out, {
        0% {.transform(translate(0, 0))}
        100% {.transform(translate(-100%, 0))}
    });
    .keyframes(slide_down, {
        0% {transform: translate(0, 0)}
        100% {transform: translate(0, 100%)}
    });
    

    /*.close {
        width: 45px; height: 45px;
        &:before {
            font-size: 34px; line-height: 42px; transform: rotate(45deg);
        }
    }*/
    .close {
        @media @mobile-landscape {
            margin-top: 10px;
        }
        @media @mobile-sm {
            transform: scale(.8);
        }
        @media @mobile-sm-landscape {
            transform: scale(.9);
        }
    }
    .close + .welcome-title {
        h2 {
            padding-top: 40px;

            @media @mobile-sm {
                padding-top: 30px;
            }
        }
    }
    .check {
        margin-top: 40px;

        &.icon-ok-2-L {
            margin-top: 25px; 
            width: 100px; height: 100px;
            border-width: 8px;
        }
        &.icon-ok-2-L:before {
            font-size: 48px; line-height: 85px;
        }
    }

    .twin-mail {
        display: inline-block; position: relative;
        width: 75px; height: 45px; margin-top: 40px;
        border: #00A9CE solid 5px; border-radius: 7px;

        &:before {
            font-size: 70px; line-height: 45px;
            position: absolute; right: 8px; top: 8px;
            background: #fff; color: #00A9CE;
        }

        .icon-ok-2 {
            position: absolute; right: -20px; bottom: -30px;
            width: 45px; height: 45px; border-radius: 50%;
            background: #78BE20; color: #fff; line-height: 45px;
            &:before {
                color: #fff; line-height: 45px; font-size: 26px;
            }
        } 
    }

    .btn-skip {
        background: none; border: #09c solid 2px; color: #09c;
        &:hover {
            background-color: #fafafa;
        }
    }
    .the-content .action .btn {
        display: inline-block;
        width: 95%; max-width: 320px;
    }
    .the-content .action a.btn {
        line-height: 25px;

        @media @tablet {
            margin-bottom: 10px;
        }
        @media @mobile {
            display: block; margin: 0 auto 15px;
        }
        @media @mobile-landscape {
            margin-bottom: 10px;
        }
    }

    .add-card {
        position: relative;
        margin: 30px 0 10px; 
        font-size: 40px;
        &:before {
            transform: rotate(45deg);
            font-size: 80px; color: #00A9CE;
        }
        .icon {
            position: absolute; right: 0px; bottom: 12px;
            font-size: 16px;
            color: #C724B1;
            &:before {
                box-sizing: border-box;
                border: #C724B1 solid 4px; border-radius: 50%;
                width: 32px; height: 32px; font-size: 24px; line-height: 24px;
                color: #C724B1; 
                background: #fff;
                box-shadow: 0 0 0 4px #fff;
            }
        }

        & + .the-content {
            padding-top: 20px;
            .action {
                padding-top: 20px;
            }
        }
    }

    .the-content.watch-videos {
        margin-top: 40px; padding-top: 30px;
        border-top: #ddd solid 1px;

        .msg-title {
            color: #00A9CE; font-size: 24px;
        }
        .msg-content.narrow {
            max-width: 350px;
        }
        .action {
            padding-top: 30px;
        }
    }

    .calendar-icon {
        display: inline-block; position: relative;
        width: 90px; height: 70px; margin-top: 30px;
        border: #00A9CE solid 8px; border-top-width: 20px; border-radius: 15px;

        em {
            font-size: 3em; color: #00A9CE; .newDuBold();
            line-height: 40px;
            &:before {
                content: ''; position: absolute; top: -25px; left: 0; right: 0;
                width: 60px; height: 8px;
                margin: auto;
                border-top: #00A9CE dotted 6px;
            }
        }

        .icon-ok-2 {
            position: absolute; right: -22px; top: -35px;
            width: 32px; height: 32px; border-radius: 50%;
            background: #78BE20; color: #fff; line-height: 32px;
            &:before {
                color: #fff; line-height: 32px; font-size: 18px;
            }
        }
    }

    .the-content.form-wrap {
        padding-top: 0;
    }
    .form1{
        text-align: left; 
        ::placeholder {
            color: #ddd; opacity: 0;
        }

        @media @mobile {
            padding: 0 5px;
        }
        @media @mobile-sm-landscape {
            padding: 0 15px;   
        }
        


        .btn {
            width: 100%; max-width: 300px;
            color: #fff;
        }

        .forgot {
            padding: 10px 0 0; text-align: right;
        }
        .action {
            text-align: center;
        }

        .alert {
            position: static; display: block; opacity: 1;
            max-height: 100%; padding: 15px 20px;
            transform: none;
            font-size: 14px; line-height: 1.3em;

        }


    }
    
    .md-fx1 {
        padding-top: 10px; padding-bottom: 25px;

        [dir=rtl] & {
            text-align: right;
        }

        label {
            font-size: 16px; left: 0; top: 26px;

            [dir=rtl] & {
                left: auto; right: 0;
            }
        }
        & .txt1:focus{
            border-bottom-width: 1px;
            &::placeholder {
                opacity: 1;
                .newDu();
            }
        }
        & .txt1:focus+label, 
        &.expanded label {
            font-size: 12px; top: 0;
        }

        .txt-CVV {
            max-width: 200px;
        }
        .txt-MM {
            max-width: 135px;
        }

        @media @mobile {
            .txt-CVV, .txt-MM, .txt-YY {
                max-width: 150px;
            }
        }

        .card-type {
            position: absolute; right: 0; top: 50%; margin: -15px 0 0;
            width: 36px; height: 22px;
            text-align: center;
            background: 50% 50% no-repeat;
            background-size: 100% auto;
            &.card-visa {
                background-image: url(../../images/logo_cc_visa.png);
            }
            &.card-master {
                background-image: url(../../images/logo_cc_master.png);
            }
            &.card-amex {
                background-image: url(../../images/logo_cc_amex.png);
            }
            &.card-other {
                background-image: url(../../images/logo_cc_other.png);
            }
            /*&:after {
                content:''; font-family: 'duicons'; font-size: 26px;
                color: #aaa; line-height: 22px;
            }
            &.card-visa:after {
                content: '\e824'; 
            }
            &.card-master:after {
                content: '\e825';
            }*/
        }

        &.error .txt1 {
            border-color: #c00;
        }
        .hint,
        .help {
            top: 50px; left: 0; color: #c00;

            [dir=rtl] & {
                left: auto; right: 0;
            }
        }
        .hint {
            color: #aaa; font-size: 11px;
        }
        
    }
    .tandc {
        padding: 15px 0 0;
        font-size: 14px; text-align: center;
        p {
            font-size: 14px;
            strong {
                color: #333;
            }
            a {
                .newDuMedium();
            }
        }
    }

    .the-content.saved-card {
        position: relative;
        max-width: 680px;
        &:before {
            content: ''; width: 110%; height: 1px; background: #ddd;
            position: absolute; top: 0; left: -5%;
        }
    }
    .saved-card {
        margin-top: 10px; padding-top: 30px;

        h4 {
            font-size: 16px; margin: 0; padding: 0 0 10px;
            color: #777;
        }
        .card-box {
            min-height: 75px; margin: 0 0 25px; padding: 18px 20px 10px;
            background: #f8f8f8; border: #ddd solid 1px; border-radius: 12px;


            .card-detail {
                float: left; text-align: left;
                padding: 0 0 0 100px; color: #333;
                span {
                    display: block; line-height: 1em;
                }
                span + span {
                    margin-top: 10px;
                }
                &.cc-visa {
                    background: url(../../images/logo_cc_visa.png) left 0 top 50% no-repeat;
                    background-size: 75px auto;
                }
                &.cc-master {
                    background: url(../../images/logo_cc_master.png) left 0 top 50% no-repeat;
                    background-size: 75px auto;
                }
                &.cc-amex {
                    background: url(../../images/logo_cc_amex.png) left 0 top 50% no-repeat;
                    background-size: 75px auto;
                }
                &.cc-other {
                    background: url(../../images/logo_cc_other.png) left 0 top 50% no-repeat;
                    background-size: 70px auto;
                }

                [dir=rtl] & {
                    float: right; text-align: right;
                    padding: 0 100px 0 0;
                    background-position: right 0 top 50%!important;
                }
            }
            .cta {
                float: right; text-align: center; 
                padding: 5px 0 0;

                [dir=rtl] & {
                    float: left;
                }


                a {
                    display: inline-block;
                    line-height: 30px; font-size: 14px;
                    width: 160px; height: 30px; 
                    border: #00A9CE solid 1px; border-radius: 15px;
                    &:hover {
                        background-color: #fafafa;
                    }
                }
            }
            
            @media @mobile {
                padding-left: 10px; padding-right: 10px;

                .card-detail {
                    padding-left: 65px;
                    [dir=rtl] & {
                        padding-right: 65px;
                    }
                    background-size: 45px auto!important;
                }
                .cta a{
                    width: 90px;
                }
            }
            @media @mobile-xs {
                font-size: 12px;
            }
        }

        .quest {
            font-size: 18px; .newDuMedium(); color: #333;
            line-height: 1.3em;
        }
        .action {
            padding-top: 25px;
        }
    }

    .the-content.helpful-videos {
        padding-top: 20px; padding-bottom: 40px;

        @media @mobile {
            padding-bottom: 10px;
        }
    }
    .helpful-videos {
        h4 {
            font-size: 16px; color: #777;
            .newDuMedium();
            padding: 0 0 20px;
        }
        .msg-content {
            padding-bottom: 50px;
            overflow-y: hidden;
        }

        .carousel-wrap {
            position: relative;
            width: 100%; max-width: 550px; height: 300px;
            margin: 0 auto;

            .the-carousel {
                width: 100%; height: 100%;
                .item {
                    width: 100%; height: 300px;
                }
            }

            @media @mobile {
                height: 220px;

                .the-carousel .item {
                    height: 220px;
                }
            }
            @media @mobile-sm {
                height: 200px;

                .the-carousel .item {
                    height: 200px;
                }
            }
            @media @mobile-sm {
                height: 170px;

                .the-carousel .item {
                    height: 170px;
                }
            }

            .ctrl {
                span {
                    position: absolute; top: 50%;
                    display: inline-block;
                    width: 60px; height: 60px;
                    margin: -30px 0 0;
                    background: #fff; border-radius: 50%;
                    &:before {
                        font-size: 44px; line-height: 58px;
                    }
                    &.prev {
                        left: -35px;
                        box-shadow: 6px 0px 4px 0px rgba(0, 0, 0, 0.5);
                        &:before {
                            transform: rotate(-90deg);
                        }
                    }
                    &.next {
                        right: -35px;
                        box-shadow: -6px 0px 4px 0px rgba(0, 0, 0, 0.5);
                        &:before {
                            transform: rotate(90deg);
                        }
                    }
                    a {
                        position: absolute; top: 0; left: 0;
                        width: 100%; height: 100%; background: #f2f2f2; opacity: 0;
                        border-radius: 50%; text-indent: -9999em;
                        &:hover {
                            opacity: .3;
                        }
                    }

                    @media @mobile {
                        transform: scale(.6);
                        &.next {
                            right: 0;
                        }
                        &.prev {
                            left: 0;
                        }
                    }

                }
            }
        }
    }


}

.full-page-wrap {
    text-align: center;
    height: 85vh;

    @media @mobile {
        padding-left: 10px; padding-right: 10px;
    }

    &:before {
        content: '';
        display: inline-block; vertical-align: middle;
        width: 1px; height: 100%;
    }
    .vertical-mid {
        display: inline-block; vertical-align: middle;
        width: 98%; max-width: 750px;

        .du-logo {
            color: #00A9CE;
            &:before {
                padding-top: 15px;
                font-size: 64px;
                color: #00A9CE;
            }
        }

        h1 {
            font-size: 24px; color: #00A9CE;
            margin: 0; padding: 30px 0 40px;
        }

        .content-wrap {
            padding: 35px 0;
            // border-top: #ddd solid 1px;

            h2 {
                font-size: 24px; .newDuMedium();
                margin: 0; padding: 0 0 20px;
            }
            .sub-title {
                display: block;
                font-size: 16px; color: #777; line-height: 1.4em;
                padding: 0 0 30px;
            }

            .sub-title + p {
                .newDu();
                max-width: 600px; margin: 0 auto;
                line-height: 1.5em; color: #777;
            }

            .btn {
                width: 100%; max-width: 335px;
                margin: 40px 0 0;
                line-height: 24px;
            }
            .sub-title + .btn{
                margin-top: 15px;
            }
        }

        .check {
            display: inline-block;
            box-sizing: border-box;
            width: 96px; height: 96px;
            border: #77BD20 solid 8px;
            border-radius: 50%;
            margin: 0 0 40px;

            &:before {
                color: #78BE20;
                font-size: 46px;
                line-height: 80px;
            }

        }

    }
}

// Rounded Button 
.onboarding-wrap, 
.full-page-wrap, 
.pull-up-msg-box, 
{ 
 
    .btn-rounded { 
        height: 45px; 
        line-height: 1em; 
        border-radius: 23px!important; 
        display: inline-block; 
        padding: 10px 15px; 
        font-size: 16px; 
        box-shadow: none!important; 
        border: 0; 
        -webkit-appearance:none;
    } 
 
    [type=submit].btn-rounded { 
        border: 0; 
    } 
    .btn-disabled { 
        background-color: #ddd; 
        cursor: default; 
        &:hover { 
            background-color: #ddd; 
            cursor: default; 
        }
        &:active,
        &:focus {
            border: #bbb solid 1px;
        } 
    } 
}

.setup-status {
    margin: 0; padding: 20px 0;
    text-align: center;

    .odometer {
        position: relative;
        width: 85px; height: 50px; 
        margin: 10px auto;
        background: url(../../images/odometer_dial.png) 50% 50% no-repeat;
        background-size: 100% auto;

        .pointer {
            display: block; position: absolute;
            left: 50%; bottom: 0;
            width: 10px; height: 26px; 
            margin: 0 0 0 -5px;
            background: url(../../images/odometer_pointer.png) 50% 50% no-repeat;
            background-size: 100% 100%;
            .transform-origin(5px 21px);
        }
    }

    &.not-started {
        .odometer .pointer {
            .rotation(-90deg); 
        }
    }
    &.completed {
        .odometer .pointer {
            .rotation(90deg); 
        }
    }
}

.ac-stat {
    display: inline-block;
    padding: 0 13px;
    margin-left: 10px; 
    font-size: 13px; line-height: 1.9em;
    border-radius: 3px;
    &.ac-stat-active {
        background: #d9f3ce;
    }
    &.ac-stat-inactive {
        background: #eec3eb;
    }
}