    .ticketHeading {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #C9C9C9;
        line-height: 0.1em;
        margin: 10px 0 20px;
        [dir=rtl] & {
            text-align: right;
        }
        span {
            background: #fff;
            padding: 0 10px;
            padding-left: 0;
            [dir=rtl] & {
                padding-left: 10px;
                padding-right: 0;
            }
        }
    }
    .ticketHeading2 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #C9C9C9;
        line-height: 0.1em;
        margin: 10px 0 20px;
       
        span {
            background: #fff;
            padding: 0;
            padding-left: 40px;
            padding-right: 40px;
      
        }

        .icon-down {
            vertical-align: sub;
            padding-left: 20px;
             [dir=rtl] & {
                padding-right: 20px;
                padding-left: 0;
            }
        }

        .small-icon:before {
            font-size: 22px;
            line-height: .1em;
        }
    }

    .no-tickets-available {
        min-height: 600px;
            color: #aaa;
        img {
            display: inline-block;
            width: 200px;
        }
    }
    div + div.ticket {
     
        &:last-child {
            margin-right: 0;
            [dir=rtl] & {
                margin-left: 0;
            }
        }
    }
    
    .ticket {
        border-radius: 12px;
        border: 1px solid #C9C9C9;
        margin-right: 2%;
        margin-bottom: 2%;
        min-height: 400px;
        padding: 20px;
        [dir=rtl] & {
            margin-left: 2%;
            margin-right: 0;
        }
        @media(min-width:768px) {
            width: 27.7%;
        }
      /*  &:last-child {
            margin-right: 0;
            [dir=rtl] & {
                margin-left: 0;
            }
        }*/
        &.closed {
            background-color: #F7F7F7;
            border: 1px solid #C9C9C9;
        }
        &.open {
            border: 1px solid #1ba9cc;
            .filled-corner {
                top: 7px;
                right: 7px;
            }
        }
        .btn.sharp-corners {
            border-radius: 0 !important;
            margin: 0;
            height: 55px;
            line-height: 55px;
        }
        .instructions-ticket {
            color: #808285;
            font-family: 'DuCoHeadlineLightRegular';
            width: 100%;
            display: inline-block;
            padding-bottom: 5px;
        }
        .instructions-ticket2 {
            text-align: center;
            display: inline-block;
            width: 100%;
            padding-bottom: 3px;
        }
        .statusLabel {
            padding-left: 5px;
            [dir=rtl] & {
                padding-right: 5px;
                padding-left: 0;
            }
        }
        .icon.grey:before {
            color: grey;
        }
        .ticketText {
            width: 89%;
            min-height: 180px;
            border-color: #ddd;
            font-size: 14px;
            padding: 5%;
            margin-top: 10px;
            resize: none;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        .error {
            border: 1px solid #c3272b;
        }
        .text-error {
            color: #c3272b;
        }
        input.file {
            display: none;
        }
        .line1 {
            width: 90px;
            height: 90px;
            border-bottom: 1px solid #C9C9C9;
            -webkit-transform: translateY(-45px) translateX(45px) rotate(45deg);
            position: absolute;
            right: 0;
            top: 0;
            [dir=rtl] & {
                right: auto;
                left: 0;
                -webkit-transform: translateY(-45px) translateX(-45px) rotate(-45deg);
            }
        }
        .filled-corner {
            position: absolute;
            right: 0;
            top: 0;
            &:before {
                content: '';
                position: absolute;
                top: -1px;
                right: -1px;
                width: 0;
                border-top-right-radius: 12px;
            }
            [dir=rtl] & {
                right: auto;
                left: 0;
                &:before {
                    right: auto;
                    left: 0;
                    border-top-right-radius: 0;
                    border-top-left-radius: 12px;
                }
            }
        }
        .filled-corner-blue:before {
            border-top: 60px solid #0099cc;
            border-left: 60px solid white;
            [dir=rtl] & {
                border-top: 60px solid #0099cc;
                border-right: 60px solid white;
                border-left: 0;
            }
        }
        .filled-corner-green:before {
            border-top: 60px solid #87BA42;
            border-left: 60px solid white;
            [dir=rtl] & {
                border-top: 60px solid #87BA42;
                border-right: 60px solid white;
                border-left: 0;
            }
        }
        .filled-corner-orange:before {
            border-top: 60px solid #F18734;
            border-left: 60px solid white;
            [dir=rtl] & {
                border-top: 60px solid #F18734;
                border-right: 60px solid white;
                border-left: 0;
            }
        }
         .filled-corner-red:before {
            border-top: 60px solid #c72424;
            border-left: 60px solid white;
            [dir=rtl] & {
                border-top: 60px solid #c72424;
                border-right: 60px solid white;
                border-left: 0;
            }
        }
        .filled-corner-grey:before {
            border-top: 60px solid #F7F7F7;
            border-left: 60px solid #F7F7F7;
            top: 0;
    right: 0;
            [dir=rtl] & {
                border-top: 60px solid #F7F7F7;
                border-right: 60px solid #F7F7F7;
                border-left: 0;
            }
        }
        .icon-white-color {
            position: absolute;
            right: -2px;
            top: 7px;
            [dir=rtl] & {
                right: auto;
                left: -2px;
            }
        }
        .icon-darkgrey {
            position: absolute;
            right: -2px;
            top: 7px;
            &:before {
                color: #C9C9C9;
                font-size: 22px;
            }
            [dir=rtl] & {
                right: auto;
                left: -2px;
            }
        }
        .icon-white-color:before {
            color: white;
            font-size: 22px;
        }
        .circle {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            display: inline-block;
            &.resolved {
                background-color: #87BA42;
            }
            &.reopen {
                background-color: #F18734;
            }
            &.rejected {
                background-color: #c72424;
            }
        }
        .empty-circle {
            border-radius: 50%;
            width: 5px;
            height: 5px;
            display: inline-block;
            border: 3px solid #0099cc;
            &.grey {
                border-color: #5B5C5C;
            }
        }
        .seperator {
            width: 95%;
        }
        .blue-empty-circle {
            border: 2px solid #0099cc;
            border-radius: 50%;
            &:before {
                width: 25px;
                height: 25px;
                vertical-align: text-bottom;
                font-size: 25px;
                line-height: 25px;
            }
        }
        .success-icon:before {
            color: #7abe3b;
        }
        .darkgrey,
        .darkgrey:before {
            color: #777777;
        }
        .column2-container {
            position: relative;
            .text-container {
                display: inline-block;
            }
            .text-container label {
                padding: 0;
                margin: 0;
            }
            .text-container .icon-container {
                position: absolute;
                right: 0;
                top: 0;
                [dir=rtl] & {
                    right: auto;
                    left: 0;
                }
            }
            .icon-container {
                display: inline-block;
                width: 35px;
                vertical-align: top;
                padding-top: 5px;
                z-index: 10000;
            }
            .file-attachment-container {
                display: none;
                max-width: 200px;
            }
            .attachment-icon {
                display: none;
            }
        }
        .success-text {
            font-size: 16px;
            line-height: 20px;
        }
        .ticket-container-form {
            display: none;
        }
        .success-heading {
            font-size: 30px;
        }
        .textarea-container {
            position: relative;
            .counter {
                color: #c3272b;
                position: absolute;
                right: 5px;
                bottom: 5px;
                [dir=rtl] & {
                    right: auto;
                    left: 5px;
                }
            }
        }
        .btn[disabled],
        .btn[disabled]:hover,
        .btn[disabled]:focus,
        .btn[disabled]:active,
        .btn-price[disabled] .label {
            filter: alpha(opacity=100);
            -khtml-opacity: 1;
            -moz-opacity: 1;
            opacity: 1;
            cursor: not-allowed;
            box-shadow: none !important;
            background: #ddd;
            color: white;
            border: 0;
        }
        .hidden {
            display: none;
        }
    }
    
    @media(max-width:768px) {
        .ticket {
            margin-bottom: 30px;
            min-height: 350px;
            .row20 {
                height: 10px;
            }
            .row10 {
                height: 7px;
            }
            .row30 {
                height: 15px;
            }
        }
    }