.container-du.homeservice-container {
    h1 {
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
        font-size: 30px;
        line-height: 1em;
        margin-top: 0;
        margin-bottom: 46px;
    }

    select {
        font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
        font-weight: normal;
        padding: 0 12px;
        display: block;
        width: 100%;
        height: 34px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
        -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
        -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) 0 -9px 10px -9px #bbbdbf;
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
        -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
        -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075) -9px 10px -9px #bbbdbf;
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
        -moz-transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
        -o-transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
        transition: all border-color ease-in-out .15s,box-shadow ease-in-out .15s ease-out;
    }

    b {
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
        font-weight: normal;
    }

    p {
        margin-bottom: 16px;
        line-height: 20px;
    }

    a {
        font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
    }

    .col-xs-12,
    .col-xs-8,
    .col-xs-4 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .mt30 {
        margin-top: 30px;
    }

    .home-service-plan {
        color: #d62bad;
    }
}