.modBreadcrumbs {
    padding: 10px 0 20px;

    .breadcrumbs {
        color: @lightgrey;
        
        p {
            color: @lightgrey;
            margin: 0;
        }

        a {
            font-size: 12px !important;

            &:hover {
                color:@lightblu;
            }
        }

        .section {
            color: @blu;
        }

        .subsection {
            color: @lightgrey;
        }

        .current {
            color: @lightgrey;
            font-size: 12px !important;
        }

        .pipe {
            padding: 0 5px;
        }
    }

    + h1.title {
        margin-top: 10px;
    }
}


@media screen and (min-width: 320px) {
    .plans .modBreadcrumbs {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .plans .modBreadcrumbs {
        display: block;
    }
}
