.modRelated {margin: 0 0 50px 0;overflow:hidden; height: auto;

	&.divider{.dividers;}
	
	h3.title,
	h3.title a {.modTitle; margin:0 0 0 0;}
	 
	.slider{.sliders; bottom: 5px;}
	
	.itemsW {overflow: hidden; margin: 20px auto; position: relative; height: auto;
		.items {width: 9999px; height: auto; overflow: hidden; margin-bottom: 40px;
			.item {width: auto; background: url(../../images/border.png) top right repeat-y; float: left;
				&:last-child {background: none;}
				.btn {display: block; margin: 15px auto 0 auto; width: 96px; background:@blu; color:#fff; text-align: center; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; height:34px; line-height:34px; padding:0 9px; .CoHeadlineRegular(); font-size:1.1em;}
				.pic {width: 100%; height: 155px; display: block; margin: 0 auto; 
					img {width: auto; height: 100%; margin: 0 auto; vertical-align:top;}
				}
				.txt {width: 100%; height: 105px; overflow: hidden; margin: 0 auto;
					.subtitle {.CoHeadlineBold(); color: @blu; font-size: 1.5em; text-align: center; margin-top: 20px;}
					.caption {.newDu(); color: @darkgrey; font-size: 0.9em; line-height: 18px; text-align: center; margin: 5px auto; width: 210px;}
				}
			}
		}
	}	
	
	@media screen and (min-width: 320px) {
		.itemsW {width: 289px;
			.items {
				.item {width: 290px;
					.pic {width: 220px;}
				}
			}
		}
	}
	
	@media screen and (min-width: 480px) {
		.itemsW {width: 449px;
			.items {
				.item {width: 450px;
					.pic {width: 220px;}
				}
			}
		}
	}
	
	@media screen and (min-width: 768px) {
		.slider .handle {width:32%;}	
		.itemsW {width: 737px;
			.items {
				.item {width: 246px;
					.subtitle {font-size: 22px;}
					.caption {font-size: 1.05em;}
				}
			}
		}
	}
	
	@media screen and (min-width: 1000px) {
		.itemsW {width: 809px;
			.items {width: 2000px;
				.item {width: 270px;}
			}
		}
	}

}
