#modTVChannels {

  .boxContainer{
    .modTiles{
      &.channel{
        .tbl_TVDashboard{
          tr{

            .icon-ok-circled{
              cursor: pointer;

              &:before{
                color: @lightgrey;
              }
            }

            &.selected{
              .icon-ok-circled{
                &:before{
                  color: @pink;
                }
              }
            }
          }
        }
      }

      &.package{
        .tbl_TVDashboard{
          tr{
            cursor: pointer;

            &.selected{
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .dataTables_wrapper{
    display: none;

    margin-bottom: 30px;

    .collapsedRow{
      background-color: @linelightgrey;

      td{
        padding: 0;
        margin: 0;

        &:before{
          border: 0;
          background-color: transparent;
          box-shadow: none;
          content: "";
        }

        .titleCollapsed{
          padding: 8px 30px;
          border-bottom: 1px solid @verydarkgrey;

          .title{
            .CoHeadlineRegular(1.1);
          }
        }

        .contentBox{
          padding: 8px 30px;
          height: 200px;
          overflow-y: scroll;
          margin-top: 10px;
          margin-bottom: 10px;

          a{
            display: block;
            .CoHeadlineLightRegular(1.6);
            color: @darkergrey;
          }

        }

        .costPack{ //check
          width: 200px;
          background-color: @pink;
          padding: 2px 10px 2px 2px;
          border-radius: 4px;
          margin: 15px 30px;
          display: inline-block;

          .buttonPack{
            .leftLabel{
              .floatleft;
              background-color: @white;
              text-align: center;
              border-radius: 4px;
              padding: 5px;

              span{
                .CoHeadlineRegular(1.1);
              }
            }

            .rightLabel{
              text-align: center;
              color: @white;
              line-height: 28px;
              display: block;
            }

          }
        }
      }
    }

    .dataTables_filter{
      display: none;
    }

    .tbl_TVDashboard{

      td{
        vertical-align: middle;
      }

      .imageObj{
        position: relative;
        background-color: @grey;
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        .margin-right(10px);

        i.icon{
          display: none;
          position: absolute;
          top: 3px;
          .posright(-18px);

          &:before{
            color: @pink;
            font-size: 25px;
          }
        }
      }

      .sorting,.sorting_asc,.sorting_desc {
        background: none;
        text-indent: 0;
      }
    }
  }

  .btn.btn-info-light {
    .gradient-white();
    color: @blu;

    &:hover {
      color: @bluHover;
    }

    &:active {
      color: @bluHover;
    }
  }

  .activityCat {
    position: relative;
    width: 100%;
    background-color: @linelightgrey;
    display: inline-block;
    .rounded-corners(6px);
    margin-bottom: 20px;

    .visibleSearch{
      padding: 15px;

      .containSearchBox{ //check
        margin: 0;
        margin-bottom: 20px;
        display: block;
        position: relative;
        width: 100%;

        .form-control {
          display: block;
          width: 100%;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 34px;
          height: 34px;
          color: #555;
          background: @white;
          border: 1px solid @bordergrey;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
          -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          box-sizing: border-box;
          font-family: 'DuCoHeadlineLightRegular';
        }

        i.icon{
          position: absolute;
          .posright(6px);
          top: 1px;

          &:before{
            color: @bordermedgrey;
            font-size: 33px;
          }
        }
      }

      .desc {
        .margin-right(2%);
        display: inline-block;
      }

      .groupButtons {
        display: inline-block;
        margin: 0;
        .defaulttextalign();
        vertical-align: top;

        .btn {
          display: inline-block;
          width: 50%;
          .gradient-white();
          border: 0;
          .floatleft;
          padding: 6px 9px;
          border-radius: 0 !important;
          margin: 0;
          min-width: 35%;

          &.list{
            .borderright(#dcdee1);
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
            //.bordertopleft(5px);
            //.borderbottomleft(5px);

            &.ar{
              border-radius: 0 !important;
              border-top-right-radius: 5px !important;
              border-bottom-right-radius: 5px !important;
            }
          }

          &.grid{
            .borderright(#dcdee1);
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            //.bordertopright(5px);
            //.borderbottomright(5px);

            &.ar{
              border-radius: 0 !important;
              border-top-left-radius: 5px !important;
              border-bottom-left-radius: 5px !important;
            }
          }

          &.selected{
            .gradient-aqua;

            i.icon{
              &:before{
                color: @white;
              }
            }
          }

          i.icon{
            position: relative;
            top: -5px;
            &:before{
              font-size: 13px;
            }
          }
        }
      }

      .brandFilter {
        display: inline-block;
        margin: 0;
        .defaulttextalign();
        vertical-align: middle;
        width: 69%;
        .margin-right(1%);

        .btn {
          .gradient-white();
          border: 0;
          .floatleft;
          border-radius: 0 !important;
          width: 48%;
          margin: 0;

          &.channel{
            .borderright(#dcdee1);
            border-top-left-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
            //.bordertopleft(5px);
            //.borderbottomleft(5px);

            &.ar{
              border-radius: 0 !important;
              border-top-right-radius: 5px !important;
              border-bottom-right-radius: 5px !important;
            }
          }

          &.package{
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            .borderright(#dcdee1);
            //.bordertopright(5px);
            //.borderbottomright(5px);

            &.ar{
              border-radius: 0 !important;
              border-top-left-radius: 5px !important;
              border-bottom-left-radius: 5px !important;
            }
          }

          &.selected{
            .gradient-aqua;
            color: @white;
          }
        }
      }

      .filtersCustom {
        display: inline-block;
        vertical-align: middle;

        .openFilter {
          background: transparent url("../../images/arr1_down.png") no-repeat;
          background-position: right center;
          display: block;
          width: 20px;
          height: 20px;
        }
      }
    }

    .collapseLang { //check
      display: none;
      padding-bottom: 10px;
      .padding-right(15px);
      .padding-left(15px);

      .languages{
        display: inline-block;
        vertical-align: middle;
        width: 76%;

        .group1{
          display: inline-block;
          width: 41%;
        }

        .group2{
          display: inline-block;
          width: 30%;
        }

        .lang{
          display: inline-block;
          .margin-right(1%);
          min-width: 75px;
          cursor: pointer;

          label{
            .CoHeadlineLightRegular(1.1);
            cursor: pointer;
          }
        }

      }


      .btn-advFilter{
        display: inline-block;
        vertical-align: middle;
        .margin-left(10px);
        width: 22%;

        .title{
          .floatleft;
          line-height: 31px;
          .margin-right(5%);
        }

        .groupBtn{
          .floatright;

          .btn{
            min-width: initial;
            margin: 0;
          }

          i.icon{
            &:before{
              font-size: 15px;
            }
          }
        }
      }
    }
  }

  .chartObject{
    display: none;
    margin-top: 10px;

    .chartHeader{
      background-color: @medgrey;
      padding: 10px 15px;
      color: @white;
      position: relative;

      .objectSelected{

      }

      .collapseItems{
        position: absolute;
        .posright(0);
        top: 0;

        span{
          display: inline-block;
          vertical-align: top;
          position: relative;
          top: 10px;
        }

        .collapseIcon{
          position: relative;
          top: 5px;
          vertical-align: top;
          cursor: pointer;

          &:before{
            color: @white;
          }
        }
      }
    }

    .chartBoxCollapsed{
      display: none;
      .floatleft;
      background-color: @grey;
      padding: 10px 15px;
      width: 100%;

      .chosenPack{
        .badge{
          margin-bottom: 3px;
          display: inline-block;
          width: 19.5%;
          color: @white;
          cursor: pointer;

          i.icon{
            &:before{
              font-size: 13px;
              color: @white;
            }
          }
        }
      }

      .detailBox{

        .chosenBoxEmpty{
          display: block;
          max-width: 200px;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 20px;
          position: relative;
          background-color: @lightgrey;
          min-height: 228px;
          border-radius: 15px;
        }

        .chosenBox{
          display: block;
          max-width: 200px;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 20px;
          position: relative;
          cursor: pointer;

          .closeBox{
            position: absolute;
            .posleft(50%);
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);

            i.icon{
              &:before{
                color: @black;
              }
            }
          }

          .image{
            background-color: @medgrey;
            height: 140px;
            display: block;
            .bordertopleft(15px);
            .bordertopright(15px);
          }

          .contentBox{
            background-color: @white;
            padding: 8px;
            .borderbottomleft(15px);
            .borderbottomright(15px);

            .title{
              display: block;
            }

            .description{
              display: block;

              span{
                color: @pink;
              }
            }

            .cost{
              display: block;

              span{
                font-weight: bold;
              }
            }
          }
        }
      }

      .detailPack{
        display: none;
        border-radius: 15px;
        background-color: @white;

        .image{
          background-color: @medgrey;
          height: 200px;
          display: block;
          .bordertopleft(15px);
        }

        .leftArea{
          .borderright(@grey);
          display: block;
          padding: 8px 10px;

          .title{
            display: block;
          }

          .subtitle{

          }
        }

        .rightArea{
          .borderright(@grey);
          display: block;
          padding: 8px 10px;

          i.icon{
            .floatright();

            &:before{
              color: @blu;
              font-size: 25px;
            }
          }

          span{
            display: block;
          }
        }

        .titleChannels{
          border-bottom: 1px solid @grey;
          padding: 8px 10px;

          .title{
            .CoHeadlineRegular(1.1);
            vertical-align: top;
            position: relative;
            top: 5px;

            .closeSingleChannel{
              display: block;
              .floatright;

              i.icon{
                &:before{
                  font-size: 25px;
                }
              }
            }

          }
        }

        .contentChannels{
          overflow-y: scroll;
          overflow-x: hidden;
          height: 200px;
          margin: 10px;

          a{
            display: block;
          }
        }

        .costPack{
          width: 200px;
          background-color: @pink;
          padding: 2px;
          .padding-right(10px);
          border-radius: 4px;
          margin: 10px;
          display: inline-block;

          .buttonPack{
            .leftLabel{
              .floatleft;
              background-color: @white;
              text-align: center;
              border-radius: 4px;
              padding: 5px;

              span{
                .CoHeadlineRegular(1.1);
              }
            }

            .rightLabel{
              .floatright;
              text-align: center;
              color: @white;
              line-height: 28px;
            }

          }
        }
      }

      .totalChart{
        width: 200px;
        background-color: #c39;
        padding: 4px;
        .padding-right(10px);
        border-radius: 4px;
        margin: 20px auto;

        .buttonPack{
          .leftLabel{
            .floatleft;
            background-color: @white;
            text-align: center;
            border-radius: 4px;
            padding: 5px 15px;
            line-height: 30px;

            span{
              .CoHeadlineRegular(1.1);
            }
          }

          .rightLabel{
            text-align: center;
            color: @white;
            line-height: 40px;
            display: block;
          }
        }
      }

    }
  }

  .chartObjectPackage{
    display: none;
    margin-top: 10px;

    .chartHeader{
      background-color: @medgrey;
      padding: 10px 15px;
      color: @white;
      position: relative;

      .objectSelected{

      }

      .collapseItems{
        position: absolute;
        .posright(0);
        top: 0;

        .collapseIcon{
          position: relative;
          top: 5px;
          vertical-align: top;
          cursor: pointer;

          &:before{
            color: @white;
          }

          span{
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 10px;
          }

        }
      }
    }

    .chartBoxCollapsed{
      display: none;
      .floatleft;
      background-color: @grey;
      padding: 10px 15px;
      width: 100%;

      .detailBox{

        .chosenBoxEmpty{
          display: block;
          max-width: 200px;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 20px;
          position: relative;
          background-color: @lightgrey;
          min-height: 228px;
          border-radius: 15px;
        }

        .chosenBox{
          display: block;
          max-width: 200px;
          width: 100%;
          margin: 0 auto;
          margin-bottom: 20px;
          position: relative;
          cursor: pointer;

          .closeBox{
            position: absolute;
            .posleft(50%);
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);

            i.icon{
              &:before{
                color: @black;
              }
            }
          }

          .image{
            background-color: @medgrey;
            height: 140px;
            display: block;
            .bordertopleft(15px);
            .bordertopright(15px);
          }

          .contentBox{
            background-color: @white;
            padding: 8px;
            .borderbottomleft(15px);
            .borderbottomright(15px);

            .title{
              display: block;
            }

            .description{
              display: block;

              span{
                color: @pink;
              }
            }

            .cost{
              display: block;

              span{
                font-weight: bold;
              }
            }
          }
        }
      }

      .detailPack{
        display: none;
        border-radius: 15px;
        background-color: @white;

        .image{
          background-color: @medgrey;
          height: 200px;
          display: block;
          .bordertopleft(15px);
        }

        .leftArea{
          .borderright(@grey);
          display: block;
          padding: 8px 10px;

          .title{
            display: block;
          }

          .subtitle{

          }
        }

        .rightArea{
          .borderright(@grey);
          display: block;
          padding: 8px 10px;

          i.icon{
            .floatright;

            &:before{
              color: @blu;
              font-size: 25px;
            }
          }

          span{
            display: block;
          }
        }

        .titleChannels{
          border-bottom: 1px solid @grey;
          padding: 8px 10px;

          .title{
            .CoHeadlineRegular(1.1);
            vertical-align: top;
            position: relative;
            top: 5px;

            .closeSingleChannel{
              display: block;
              .floatright;

              i.icon{
                &:before{
                  font-size: 25px;
                }
              }
            }

          }
        }

        .contentChannels{
          overflow-y: scroll;
          overflow-x: hidden;
          height: 200px;
          margin: 10px;

          a{
            display: block;
          }
        }

        .costPack{
          width: 200px;
          background-color: @pink;
          padding: 2px;
          .padding-right(10px);
          border-radius: 4px;
          margin: 10px;
          display: inline-block;

          .buttonPack{
            .leftLabel{
              .floatleft;
              background-color: @white;
              text-align: center;
              border-radius: 4px;
              padding: 5px;

              span{
                .CoHeadlineRegular(1.1);
              }
            }

            .rightLabel{
              .floatright;
              text-align: center;
              color: @white;
              line-height: 28px;
            }

          }
        }
      }

      .totalChart{
        width: 200px;
        background-color: #c39;
        padding: 4px;
        .padding-right(10px);
        border-radius: 4px;
        margin: 20px auto;

        .buttonPack{
          .leftLabel{
            .floatleft;
            background-color: @white;
            text-align: center;
            border-radius: 4px;
            padding: 5px 15px;
            line-height: 30px;

            span{
              .CoHeadlineRegular(1.1);
            }
          }

          .rightLabel{
            text-align: center;
            color: @white;
            line-height: 40px;
            display: block;
          }
        }
      }

    }
  }

  .modTiles {

    .selectedItems{
      display: none;

      .detailPackages{
        border-radius: 15px;
        border: 1px solid #666;
        margin-bottom: 10px;
        background-color: @white;

        .image{
          background-color: @medgrey;
          height: 200px;
          display: block;
          .bordertopleft(15px);
        }

        .leftArea{
          .borderright(@grey);
          display: block;
          padding: 8px 10px;

          .title{
            display: block;
          }

          .subtitle{

          }
        }

        .rightArea{
          .borderright(@grey);
          display: block;
          padding: 8px 10px;

          i.icon{
            .floatright;

            &:before{
              color: @blu;
              font-size: 25px;
            }
          }

          span{
            display: block;
          }
        }

        .titleChannels{
          border-bottom: 1px solid @grey;
          padding: 8px 10px;

          .title{
            .CoHeadlineRegular(1.1);
            vertical-align: top;
            position: relative;
            top: 5px;

            .closeSingleChannel{
              display: block;
              .floatright;

              i.icon{
                &:before{
                  font-size: 25px;
                }
              }
            }

          }
        }

        .contentChannels{
          overflow-y: scroll;
          overflow-x: hidden;
          height: 200px;
          margin: 10px;

          a{
            display: block;
          }
        }

        .costPack{
          width: 200px;
          background-color: @pink;
          padding: 2px;
          .padding-right(10px);
          border-radius: 4px;
          margin: 10px;
          display: inline-block;

          .buttonPack{
            .leftLabel{
              .floatleft;
              background-color: @white;
              text-align: center;
              border-radius: 4px;
              padding: 5px;

              span{
                .CoHeadlineRegular(1.1);
              }
            }

            .rightLabel{
              text-align: center;
              color: @white;
              line-height: 28px;
              display: block;
            }

          }
        }
      }

    }

    .items {
      height: auto;
      width: auto !important;

      .item {
        padding: 0;
        cursor: pointer;

        &:hover{
          background: #f2f2f2 !important;
        }

        &.selected{
          background: #f2f2f2 !important;;
        }

        .mainPic {
          padding: 18px;
          position: relative;

          &.full {
            padding: 0;

            img {
              width: 100%;
            }
          }

          img {
            margin: 0 auto;
            display: block;
            max-width: 100%;
          }

          i.icon{
            position: absolute;
            top: 5px;
            .posright(7px);
            z-index: 999;
            display: none;

            &:before{
              color: @pinkalt;
            }
          }
        }

        .title {
          color: #09c;
          margin: 0;
          margin-bottom: 5px;
          font-size: 1.4em;
          font-family: 'DuCoHeadlineBold';
          line-height: 1em;
        }
      }
    }
  }

  @media screen and (max-width: 1599px) and (min-width: 1000px) {

    .fixPaddingLeft{
      .padding-left(0);
    }

    .fixPaddingRight{
      .padding-right(0);
    }

    .modTiles {
      margin-bottom: 0;
      .items {
        .item {
          width: 190px;
        }
      }
    }
  }

  @media screen and (max-width: 479px) and (min-width: 320px) {

    .chartObject{
      font-size: 13px;

      .chartBoxCollapsed{
        .chosenPack {
          .badge {
            width: 48.5%;
          }
        }
      }
    }

    .chartObjectPackage{
      font-size: 13px;

    }

    .activityCat{
      .visibleSearch{
        .brandFilter{
          width: 63% !important;
        }
      }

      .collapseLang{
        padding: 0;
        .languages{
          width: 100% !important;
          .padding-right(15px);
          .padding-left(15px);
          padding-bottom: 10px;

          .group1{
            width: 100% !important;
          }

          .group2{
            width: 100% !important;
          }

          .title{
            display: none;
          }

          .lang{
            .margin-right(3%);
          }
        }

        .btn-advFilter{
          width: 100% !important;
          margin: 0;
          padding: 10px 15px;
          border-top: 1px solid gray;
        }
      }

    }
  }

  @media screen and (max-width: 767px) and (min-width: 480px) {
    .activityCat{
      .visibleSearch{
        .brandFilter{
          width: 77% !important;
        }
      }

      .collapseLang{
        padding: 0;
        .languages{
          width: 100% !important;
          .padding-right(15px);
          .padding-left(15px);
          padding-bottom: 10px;

          .group1{
            width: 100% !important;
          }

          .group2{
            width: 100% !important;
          }

          .title{
            display: none;

            .lang{
              .margin-right(10%);
            }
          }
        }

        .btn-advFilter{
          width: 100% !important;
          margin: 0;
          padding: 10px 15px;
          border-top: 1px solid gray;
        }
      }
    }

    .chartObject{
      .chartBoxCollapsed{
        .chosenPack {
          .badge {
            width: 48.5%;
          }
        }
      }
    }

  }

  @media screen and (max-width: 999px) and (min-width: 320px) {

    .activityCat{
      .visibleSearch{
        display: block;
        .desc{
          display: none;
        }

        .brandFilter{
          width: 86%;
        }
      }

      .collapseLang{
        .languages{
          width: 73%;

          .group1{
            width: 47%;
          }

          .group2{
            width: 35%;
          }

          .title{
            display: none;
          }
        }

        .btn-advFilter{
          width: 25%;
        }
      }
    }

    .chartObject{
      .chartBoxCollapsed{
        .detailPack{

          .image{
            .bordertopright(15px);
          }

          .leftArea{
            .clearborderright();
          }

          .rightArea{
            .clearborderright();
          }
        }
      }
    }

    .modTiles {

      .tbl_TVDashboard{
        .hiddenCol_XS{
          display: none;
        }
      }

      .items {
        .item {
          width: 133px;
          margin-bottom: 10px;
          .margin-right(10px);

          .mainPic {
            padding: 9px;
            padding-bottom: 0;

            i.icon{
              top: -1px;
              .posright(1px);
            }
          }
        }
      }

    }
  }
}