.modTextual {
	margin: 0 0 30px 0; 
	position: relative;
	overflow:hidden; 
	height: auto;

	&.divider {.dividers3px;}
	h3.title,
	h3.title a {.modTitle; margin:0 0 0 0;}
	
	.richtext iframe {
		width: 100%;
	}
	
	@media screen and (max-width:479px) {
		.richtext iframe {
			height: 177px;
		}
	}

	@media screen and (min-width:480px) and (max-width:767px) {
		.richtext iframe {
			height: 274px;
		}
	}

	@media screen and (min-width:768px) and (max-width:999px) {
		.richtext iframe {
			height: 338px;
		}
	}

	@media screen and (min-width:1000px) and (max-width:1169px) {
		.richtext iframe {
			height: 371px;
		}
	}

	@media screen and (min-width:1170px) and (max-width:1604px) {
		.richtext iframe {
			height: 371px;
		}
	}

	@media screen and (min-width:1605px) {
		.richtext iframe {
			height: 464px;
		}
	}


	.navigation {
		display: block;
		height: 38px;
		line-height: 38px;
		overflow: visible;
		width: auto;
		
		.items {
			background: transparent url(../../images/tabs-background.png) bottom left repeat-x;
			border: 1px solid @linemedgrey;
			border-bottom: 0px solid @linemedgrey;
			display: block;
			overflow: hidden;
			height: 38px;
			line-height: 38px;
			position: relative;
            z-index: 99;
			width: auto;
			
			&.open {
				height: 200px;
				height: auto !important;
				max-height: 200px;
				overflow: auto;
				padding-top: 38px;
				
				.item {
					display: block;
					position: relative;
					
					&.selected {
						left: 0;
						position: absolute;
						top: 0;
						
						a {
							background: @white url(../../images/arr-selectbox-up.png) no-repeat;
							.background-position(right, center);
						}
					}
				}
			}
		}
		
		.item {
			border-bottom: 1px solid @linemedgrey;
			bottom: 0;
			display: none;
			height: 37px;
			line-height: 37px;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			
			&.selected {
				display: block;
				border-bottom: 0px solid @linemedgrey;
				
				a {
					background: @white url(../../images/arr-selectbox-down.png) no-repeat;
					.background-position(right, center);

					&:hover {}
				}
			}
			
			a {
				.defaulttextalign();
				.padding-left(20px);
				background-color: @white;
				color: @darkergrey;
				display: block;
				font-size: 1em;
				height: 37px;
				line-height: 37px;
				overflow: hidden;
				text-overflow:ellipsis;
				/*text-transform: uppercase;*/
				white-space:nowrap;
				width: auto;
				
				&:hover {}
			}
		}
	}
	
	.contents {
		display: block;
		height: 200px;
		height: auto !important;
		min-height: 200px;
		margin-top: 40px;
		overflow: hidden;
		width: auto;
		
		.items {
			display: block;
			overflow: hidden;
			height: auto;
			width: 100%;
		}
		
		.item {
			display: none;
			width: auto;
			
			&.selected {
				display: block;
			}
			
			h4 {
				.defaulttextalign();
				.CoHeadlineRegular(1.3);
				color: @blu;
				display: block;
				margin-bottom: 5px;
				/*text-transform: uppercase;*/
				
				a {
					color: @blu;
					
					&:hover {
						color: @blu;
					}
				}
			}

            h5 {
                margin-bottom: 15px;
            }

          .paragraph {
				.CoHeadlineLightRegular(1.3);
				font-size:1.1em;
				margin-bottom: 30px;
			}
			
			blockquote {	
				font-size: 1.8em;
				line-height: 1.3em;
				
				b, strong {
					.CoHeadlineLightRegular(1.3);
					color: @blu;
					font-weight: normal;
				}
			}
			
			p, ul, ol, blockquote {
				margin-bottom: 20px;
			}
			
			ul {
				 list-style-type: disc;
				 li {
					list-style-type: disc;
				}
			}
			
			ol {
				list-style-type: decimal;
				width: auto !important;
				li {
					list-style-type: decimal;
				}
			}
			
			li {
				.margin-left(20px);
			}

   .tableWrapper {
    .clearfix;
    clear:both;
			 .table-container {
			 	height:auto;
			 	overflow:auto;
			 	width:100%;
    
			 	&.scroll {
			 		border-bottom:10px solid @linemedgrey;
			 	}
			 }
			}
			
			table {
				border-bottom: 2px solid @linemedgrey;
				clear: both;
				float: none;
				margin-bottom: 30px;
				width: 100%;
				border-collapse:separate;
				
				tr {
					border-bottom: 1px solid @linemedgrey;
				}
				
				th {
					.CoHeadlineRegular();
					.defaulttextalign();
					background-color:@verylightgrey;
					border: 1px solid @linemedgrey;
					font-size: 1em;
					font-weight: normal;
					padding: 20px;
					
					&:first-child {
						.rounded-corners2 (5px, 0, 0, 0);
						border-right: 0;
					}
					
					&:last-child {
						.rounded-corners2 (0, 5px, 0, 0);
						border-left: 0;
					}
				}
				
				td {
					.CoHeadlineLightRegular();
					font-size: 1em;
					padding: 10px 20px;
					vertical-align: top;
					border-bottom: 1px solid @linemedgrey;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		.navigation {
			.CoHeadlineRegular();
			height: 52px;
			line-height: 52px;
			overflow: hidden;
			
			.items {
				.borderright(transparent);
				border-top: 0px solid @linemedgrey;
				border-bottom: 0px solid @linemedgrey;
				height: 52px;
				line-height: 52px;
				overflow: hidden;
				
				
				
				&.open {
					padding-top: 0;
					
					.item {
						
						&.selected {
							background-image: none;
							bottom: auto;
							left: auto;
							position: relative;
							right: auto;
							top: auto;
							
							a {
								background-image: none;
							}
						}
					}	
				}
			}
			
			.item {
				.floatleft();
				bottom:auto;
				display: block;
				height: 52px;
				left: auto;
				line-height: 52px;
				position: relative;
				right: auto;
				top: auto;
				width: 25%;
				
				a {
					.borderright(@linemedgrey);
					background-color: @verylightgrey;
					border-top: 1px solid @linemedgrey;
					border-bottom: 1px solid @linemedgrey;
					height: 50px;
					line-height: 50px;
					padding: 0;
					text-align: center;
					
					&:hover {}
				}
				
				&.selected {
					background-image: none;
					a {	
						background: @white;
					  	border-bottom: 10px solid #FFF !important;
						
						&:hover {}
					}
				}
			}
		}
		
		.contents {
			
			.items {
				display: block;
				overflow: hidden;
				height: auto;
				width: 100%;
			}
			
			.item {
				display: none;
				width: auto;
				
				&.selected {
					display: block;
				}
				
				h4 {
					.margin-right(5%);
					.floatleft();
					width: 20%;
				}
				
				.paragraph {
					.floatleft();
					width: 75%;
				}

				table td{ 
					.defaulttextalign();
				}
			}
		}
	}
}