
/* MODULE: LIST */


.modTools {
    margin: 0 0 25px 0;
    .clearfix;

    &.divider {
        .dividers;
    }

    h3.title {
        .modTitle;
        padding-bottom: 0;
        z-index: 0 !important;
    }
    
    ul li a{
      display: inline-block;
      .rounded-corners();
      .bordered();
      .dropshadow();
      padding: 20% 10%;
      margin:0 0 30px;
      width: 100%;
      text-align: center;
      
      .icon {
       display: block;
       margin:0 auto 10px;
      }
      
      &:hover {
       color: @darkgrey;
       [class^="icon-"]::before, [class*=" icon-"]::before {color: @darkgrey;}
      }
    }
    
	
    @media screen and (min-width: 320px) { /* 320px - 480px - 768px */
        
    }

    @media screen and (min-width: 320px) and (max-width: 479px) {
        
    }

    @media screen and (min-width: 480px) and (max-width: 768px) {
        
    }


    @media screen and (min-width: 768px) and (max-width: 999px) {
        
    }


    @media screen and (min-width: 1000px) and (max-width: 1599px) {

    }

    @media screen and (min-width: 1000px) {
     .modTools {
        margin: 0 0 50px;
        ul li a{
          margin: 0;
        }
     }
    }

    @media screen and (min-width: 1600px) { /* desktop */
        
    }
}