.modPlansServices {margin: 0 0 50px 0; border-top: none; height:auto; overflow:hidden;

	&.divider{.dividers;}
	
	h3.title, h3.title a {.modTitle; margin:0 0 0 0;}
		
	.itemsW {
		width: 290px;
		.items {
			.item {
				border-top: 1px solid @linelightgrey; 
				height: 110px; 
				position: relative; 
				width: 290px;
				
				&.fluid {
					height: auto; 
					float: none; 
					clear:both;
					overflow:hidden;
					padding-bottom:15px;
					
					&:last-child{ padding-bottom:0; }
				}
				
				.btn {
						position: absolute; 
						bottom: 23px;
						.posright(10px); 
				}
				.btn.left{position: relative; bottom: auto; .posright(auto); margin:15px 0 0 0; .margin-left(10px);}
				
				.itemTitle {position: relative; margin-top: 15px; .margin-left(10px);
					.tit {.CoHeadlineBold(); font-size: 1.35em; margin: 15px 0 0 0; display: inline;}
					.stat { .margin-left(5px); display: inline; .newDu(); font-size: 1.05em; color: @medgrey;}
				}
								
				.itemInfo {
					width: 151px; 
					margin-top: 15px; 
					.margin-left(10px);
					
					.value {font-size: 1.05em;
						&.green {color: @lightgreen;}
						&.orange {color: @orange;}
						&.pink {color: @pinkalt;}
						.stat {font-size: 0.9em; color: @medgrey; .margin-left(5px);}					
					}
					
					.info {
						width: 280px; 
						.CoHeadlineLightRegular();
					 	font-size:1.077em;
						color:@medgrey;
						
						.bold{.CoHeadlineBold();}
						.aed {/*text-transform: uppercase;*/ font-size: 1em; .CoHeadlineLightRegular();}
						.cost { .CoHeadlineRegular(); font-size: 1.286em; }		
						
					
					}
				}
				
				.status {background:url(../../images/status_bar_back.png) 0 0 no-repeat; width: 151px; height: 9px; position: relative; margin-top: 5px;
					&.green span {display: block; height: 9px; background:url(../../images/status_bar_green_full.png) 0 0 no-repeat; margin:0;.rounded-corners2(0, 5px, 3px, 0);}
					&.orange span {display: block; height: 9px; background:url(../../images/status_bar_orange_full.png) 0 0 no-repeat; margin:0;.rounded-corners2(0, 5px, 3px, 0);}
					&.pink span {display: block; height: 9px; background:url(../../images/status_bar_pink_full.png) 0 0 no-repeat; margin:0;.rounded-corners2(0, 5px, 3px, 0);}
					.statusTxt {font-size: 10px; color: @medgrey; position: absolute; top: 15px; }					
				}
	
			}
		}
	}
	
	@media screen and (min-width: 320px) and (max-width: 999px) 
	{
			margin: 0 0 40px 0;

	}

	@media screen and (min-width: 320px) and (max-width: 767px)  {
		
		.itemsW {
			.items {
				.item {
					
					.itemInfo {
						.info{
							&.serviceDetail{
								span{ display:block; padding:0 0 5px 0;}
							}
						}
						
					}
				}
			}
		}
		
		
		
	}
	
	@media screen and (min-width: 480px) {
		
		.itemsW {width: 450px;
			.items {
				.item {width: 450px;}
			}
		}
		
	}
	
	@media screen and (min-width: 768px) {

		.itemsW {margin: 5px auto; width: 100%;
			.items {border-bottom: 1px solid @linelightgrey;
				.item {height: 60px; width: 100%;
				
					
					&.fluid {height: 60px; min-height: 60px; padding-bottom:0;}
					
					
					.btn {
						position: relative; 
						bottom: auto; 
						right: auto; 
						margin: 12px 0; 
						.margin-left(10px);
						.floatright();  
						.posright(auto);
					}	
				
					.itemTitle {position: relative; margin: 16px 20px 0 10px; .floatleft(); width: 250px;
						.tit {margin: 0;line-height: 28px;.floatleft() }
						.stat {.margin-left(5px); display: inline;.floatleft(); line-height: 30px; }
					}
									
					.itemInfo {
						width: 320px; 
						height: 20px; 
						.floatleft(); 
						line-height: 20px;
						margin: 15px 0 0 0; 
						
						.value {.floatleft(); width: 140px;
							&.green { }
							&.orange { }
							&.pink { }
							.stat {.margin-left(5px);}					
						}
						
						
						.info {
							.margin-right(10px); 
							.ellips; 
							width: 230px; 
							line-height: 30px;
							
									
							
									
						}
					}
					
					.status {margin: 8px 0 0; .floatleft();
						&.green span {display: block; margin: 0;}
						&.orange span {display: block; margin: 0;}
						&.pink span {display: block; margin: 0;}
						.statusTxt {}
						.statusTxt {
   								.posright(-28px);  top: -6px; .textalign();}			
						}
		
				}
			}
		}

	}
	
	@media screen and (min-width: 1000px) {
		.itemsW {margin: 5px auto; width: 100%;
			.items {border-bottom: 1px solid @linelightgrey;
				.item {height: 60px; width: 100%;
				
					
					&.fluid {height: 60px;}
					
					.btn {
							position: relative; 
							bottom: auto; 
							.floatright();
					}	
					
					.itemTitle {position: relative; .floatleft(); width: 250px;
						.tit {margin: 0;}
						.stat {.margin-left(5px); display: inline;}
					}
									
					.itemInfo {
						width: 400px; 
						height: 40px;
						.floatleft();  
						position: relative;
						
						.value {.floatleft(); width: 140px;
							&.green { }
							&.orange { }
							&.pink { }
							.stat {.margin-left(5px);}					
						}

						.info {
							.margin-right(10px); 
							.floatleft(); 
							width: auto;
							
												
						}
					}
					
					.status {margin: 8px 0 0; .floatleft(); position: relative;
						&.green span {display: block; margin: 0;}
						&.orange span {display: block; margin: 0;}
						&.pink span {display: block; margin: 0;}
						.statusTxt {
   								.posright(-28px); .textalign();}			
						}
		
				}
			}
		}
	}
	
}