.navSelect {
	display: none;
	height: 125px;
	margin-bottom: 0;
	overflow: hidden;
	padding-bottom: 4px;
	position: relative;

	.items {
		z-index:9;
	}

	&.at-the-beginning {
		.fadeLeft {
			z-index:0;
		}
	}

	&.at-the-end {
		.fadeRight {
			z-index:0;
		}
	}
}


@media screen and (min-width: 768px) {
	.navSelect {
		width: 740px;
		display: block;
		
		.itemsW {
			height:125px;
			overflow:hidden;
			position:relative;
			width:740px;
		}
				
		.fadeLeft {
			background:url(../../images/navselect_fade_left.png) 0 0 no-repeat;
			width: 35px;
			height: 132px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 50;
		}
		
		.fadeRight {
			background:url(../../images/navselect_fade_right.png) 0 0 no-repeat; width: 35px; height: 132px; position: absolute; top: 0px; right: 0px; z-index: 50;
		}
		
		.buttonScroll {
			display:none;
			height: 57px;
			left:0;
			position:absolute;
			top:40px;
			width:44px;
			z-index:99;
			.opacity(0);
			
			&:hover {
				.opacity(1);
			}
			
			&.inactive {
				display: none;
				.opacity(0);
			}
			
			&.visible {
				display:block;
			}
			
			&.buttonScrollPrevious {}
			&.buttonScrollNext {
				left:auto;
				right:0;
			}
			
		}
		
		&:hover, &.buttonsHover {
			.buttonScroll {
				.opacity(1);
				
				&.inactive {
					display: none;
					.opacity(0);
				}
			}
		}
		
		.items {
			border-top: 1px solid @linelightgrey;
			width: 1260px;
			background:url(../../images/navselect_fade_left.png) 0 0 no-repeat;			
			left:0;
			position:absolute;
			top:0;
			.animated;
		
			.item {
				width: 147px;
				height: 125px; 
				.borderright(@linelightgrey);
				.floatleft();
				padding-bottom: 0px; 
				.box-shadow(inset, 0px, -9px, 10px, -9px, #BBBDBF);
				
				border-bottom: 1px solid @linelightgrey;
				position: relative;
				
				img {
					margin: 18px auto;
					.opacity(0.5);
				}
				
				&:last-child, &.last-item {
					.borderright(#fff);
				}
			
				.arrow {
					display: none; width: 25px; height: 14px; background:url(../../images/navselect_active_arrow.png) 0 0 no-repeat; position: absolute; top: 112px; left: 66px;
				}
			
				&.active .arrow {display: block;}
				&.active {
					.box-shadow( inset 0px -9px 10px -9px #BBBDBF, inset 0px 9px 10px -9px #BBBDBF );
					background-image: linear-gradient(bottom, rgb(248,248,248) 25%, rgb(255,255,255) 63%);
					background-image: -o-linear-gradient(bottom, rgb(248,248,248) 25%, rgb(255,255,255) 63%);
					background-image: -moz-linear-gradient(bottom, rgb(248,248,248) 25%, rgb(255,255,255) 63%);
					background-image: -webkit-linear-gradient(bottom, rgb(248,248,248) 25%, rgb(255,255,255) 63%);
					background-image: -ms-linear-gradient(bottom, rgb(248,248,248) 25%, rgb(255,255,255) 63%);
					background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(248,248,248)), color-stop(0.63, rgb(255,255,255)));
				}
				&.active img {
					.opacity(1);
				}
			}
		}


		&.mobilePlan {
			height: 51px;

			.item {

				width: 161px !important;
				height: 54px;

				.arrow {
					width: 25px; 
					height: 14px; 
					top: 40px; 
					left: 70px;
				}

				a {
					padding: 10px;
					/*text-transform: uppercase;*/
					font-weight:normal;
					color: #323232;
					display: block;
					width: 141px;
					height: 34px;
					.opacity(0.5);
				}

				a:hover {
					.opacity(1);
				}

				&.active a {
					color: @blu;
					.opacity(1);
				}
			}
		}


	}	
}



@media screen and (min-width: 1000px) {
	.navSelect {
		width: 810px;

		.itemsW {
			width:810px;
			
			.item {
				width: 161px;
			}
		}
	}
}

@media screen and (min-width: 1600px) { /* desktop */
	.navSelect {
		width: 1015px;
	
		.itemsW {
			width:1015px;
			
			.item {
				width: 161px;
			}
		}
	}
}