.modSocial {
	margin: 0 0 50px 0;
	position: relative;
	overflow:hidden;
	height: auto;

	&.divider{.dividers;}
	
	h3.title,
	h3.title a {
		.modTitle;
		margin:0;
		padding-bottom: 0;
	}
	
	.ph320 {
		display: block;
	}	/* placeholder */
	.ph768 {
		display: none;
	}	/* placeholder */
	
	.twitter {
		color: @darkergrey;
		/*font-size: 0.9em;*/
		.CoHeadlineLightRegular();
		
		.tweets {.floatleft(); margin: 0 0 30px 0;}
		
		.items {
			.item {
				margin-bottom: 10px;
				clear:both;
				
				.txt {
					width: 290px; 
					margin: 0 auto;
					
					img {
							width: 49px; 
							height: 49px; 
							.floatleft(); 
							.padding-right(10px);
					}
					.user {
						font-size:1.077em;
						padding-top: 35px;
						.CoHeadlineRegular(1.3);
						
						.name {
							color:@darkergrey; 
						}
						.tag {
							color:@medgrey; 
						}
					}
					
					.tweet {
						.CoHeadlineLightRegular(1.2);
						font-size:1.077em;  
						margin-top: 10px;
					}
					.stats {.CoHeadlineRegular(); margin-top: 10px; background:url(../../images/twitter_logo_sml.png); .background-position(left, 0px); background-repeat:no-repeat; height: 24px; width: 200px; .padding-left(30px);
						.divider {.newDu(); padding: 0 10px;}
					}
				}
			}
		}
		.cta { text-decoration:underline; color: @blu;  .CoHeadlineRegular(); margin: 20px 0; text-align: center;font-size: 0.9em;  /*text-transform: uppercase;*/  .floatleft();
			a { .link-du;}
		}
	}
	
	.facebook {width: 290px; margin: 0 auto;
		img {.floatleft();}

	}
	
	@media screen and (min-width: 320px) {
		.twitter,
		.facebook {width: 290px; margin: 0 auto;}
		.twitter .tweets,
		.facebook .likes {width: 100%; height: 40px; margin: 20px 0 10px 0; clear:both;}
		.cta { width:100%; }
	}
	
	@media screen and (min-width: 480px) {
		.twitter {
			width: 450px;
			margin: 0 auto;
			.items {
				.item {
					.txt { width:450px; }
				}
			}
		}
	}
	
	@media screen and (min-width: 768px) {
		.ph320 {display: none;}	/* placeholder */
		.ph768 {display: block;}	/* placeholder */
		
		h3.title,
		h3.title a {
			.modTitle;
		}
		
		.twitter {width: 430px; float: left; margin: 0 auto;
			.items {clear: both; padding-top: 5px;
				.item .txt {
					width: auto;
					.user {padding-top: 0;}
					.stats {.margin-left(60px); .padding-left(30px); }
					img {.floatleft(); padding-bottom: 40px;}
				}
				
			}
			.cta {text-transform: none; text-align: left; font-size: 1.05em; width:auto; }
			
		}
		
		.facebook {float: right; width:290px;}		
		
		.twitter .tweets,
		.facebook .likes {width: 100%; height: 53px; margin: 0 0 50px 0;}
	}
	
	@media screen and (min-width: 1000px) {
		.overview {height: 60px; width: 100%;}	
		.twitter {width: 470px;}
	}

}