.container-du{

  &.community {
    .padding-right(0);
  }

  .community-info{

    width: 100%;

    li {

      padding: 20px 0;
      margin: 0 20px;
      text-align: center;
      color: @white;
      border-top: 1px solid @lightblu;

      &:first-child {
        border-top: 0 none;
        padding-top: 0;
      }

      .icon {

      }

      [class^="icon-"]:before, [class*=" icon-"]:before {
        font-size: 28px;
        color: @white;
        .opacity(.9);
      }

      h3 {
        .FontCoHeadlineLightRegular();
        font-size: 28px;
        line-height: 32px;
      }

      p {
        .CoHeadlineLightRegular();
      }

    }

  }

}

.baseFont() when (@lang = ar) {
  font-size: 13px;
}