.modColumnsx2 {
	
	margin: 0 0 50px 0; 
	border-top: none; 
	color: @darkergrey; 
	height: auto; 
	overflow: hidden;

	&.divider{.dividers;}
	
	h3.title {
		.modTitle; 
		margin:0 0 0 0;
	}
	
	.column-sx {
		width: 500px; 
		.floatleft();
	}
	.column-dx {
		width: 300px; 
		.floatright();
	}
	
	.column {
			
			
		.cell{
			clear:both;
			margin: 0 0 30px 0;
			
			&:last-child {
				margin-bottom:0;
			}
					
			.cell-title {
				.CoHeadlineBold(); 
				font-size: 1.35em; 
				color:@medgrey; 
				margin-bottom: 30px;
			}
			
			
			.cell-subtitle {
				.newDu(); 
				font-size: 1.05em; 
				color:@medgrey; 
				margin-bottom: 20px;
			}	
			
			.twitter-title{
				margin: 0 0 50px 0;
			}
			
			.fb-title{
				margin: 0 0 40px 0;
			}
			
			.extraLink {
				
				.CoHeadlineRegular(); 
				font-size:1.077em; 
				.link-du;
				margin-top: 20px;
				display:block;
				text-decoration:underline;
			}
			
			
			.items {
				
				
				&.items-press{
					.item{
						margin-bottom: 20px;
						
					}						
				}
				
				&.items-positions{
					.item{
						margin-bottom: 10px;
						
						.text {
							.tit{ line-height:52px;}
						}
					}						
				}
				
				&.items-tweets{
					.item{
						.pic{ 
							width:49px;
							height:100px;
							overflow:hidden;
						}
					}
				
				}
				
				&.items-ratings{
					.item{
						.pic{ 
							width:49px;
							height:120px;
							overflow:hidden;
						}
					}
				
				}
				
				
				.item {
					margin-bottom: 20px;
					clear:both; 
					overflow:hidden;
						
					&:last-child{
						margin-bottom: 0;
					}				
					
					.pic {
						
						.floatleft();
						margin:0 15px 0 0;
						display:inline;
						
						img{
							.rounded-corners; 
						}
						
						.user-name{
							display:block;
							margin-top:5px;
							.CoHeadlineRegular(1.1); 
							font-size: 1.077em;
						}
						
						.user-location{
							.CoHeadlineLightRegular(1.1); 
							font-size: 0.9em;
						}
					}
					
					/*  T E X T */
					
					.text {
						
						.rating-date{
							
							overflow:hidden;
							
							.btn-rating{
							 	margin:0 10px 0 0;
							}
							
							.date {
								line-height: 22px;
								font-size: 0.9em;
							}
						}
						
						
						
						.date {
							.CoHeadlineRegular(1.1); 
							font-size: 1.077em;
						}
						.tit {
							.CoHeadlineBold(1.2); 
							font-size: 1.385em;
						}
						.txt {
							font-size: 1.077em; 
							.CoHeadlineLightRegular(1.25);
							
							.link {
								color: @blu; 
								text-decoration:underline; 
								font-size: 0.857em; 
								.CoHeadlineRegular(1.1);
								.link-du;
								white-space:nowrap;
							}
							
							
							.twitter-username {
								.link-du;
							}	
						}
						
						.link-rev {
							  color: @blu; 
							  text-decoration:underline; 
							  font-size: 1.05em; 
							  .CoHeadlineRegular(1.1);
							  .link-du;
							  white-space:nowrap;
							  margin-top:10px;
							  display:block;
						}
						
						.time { 
							font-size: 0.9em; 
							.CoHeadlineLightRegular(1.25);
						}
						
						.responses{
							margin-top:10px;

							.good{
								background: url(../../images/rating_face_good.png) 0 0 no-repeat;
								width: 18px;
								height: 18px;
								.padding-left(18px);
								.margin-left(10px);
								
								span{
									display:none;
								}
							}
							
							.bad{
								background: url(../../images/rating_face_bad.png) 0 0 no-repeat;
								width: 18px;
								height: 18px;
								.padding-left(18px);
								.margin-left(10px);
								
								span{
									display:none;
								}
							}
						}
						
						.tweet-user{
							margin-bottom:10px;
							
							.tag{
								color:@medgrey;
							}
						}
						
						.tweet-stats{
							margin-top:10px;
							height:24px;
							
							.retweets{
								background-image: url(../../images/twitter_logo_sml.png);
								background-repeat:no-repeat;
								.background-position(left, top);
								.padding-left(30px);
							}
						}
					}
				}
			}	
			
			
			
			
			.rating {
				overflow:hidden;
				width:290px;
				margin:auto;
				
				.resultsStars {
					margin: 0;
					width: 180px;
					height:auto;
					overflow:hidden;
					
					.stars {
						width: 131px;
						height: 22px;
						background:url(../../images/rating_stars_lrg.png) 0 0 no-repeat;
						overflow: hidden;
						float: left;
						margin-right: 5px;
						
						span {
							display:block;
							height: 22px;
							background:url(../../images/rating_stars_full_lrg.png) 0 0 no-repeat;
						}
					}
					.value {
						.CoHeadlineBold();
						color: @blu;
						font-size: 2.0em;
						.floatleft();
					}
				}
				
				.resultsGraph {
					width: 205px;
					margin: 15px 0 0 0;	
				}
				
				.giveRating {
					width: 130px;
					margin: 25px 0 0 0;
					
					.txt {
						font-size: 1.2em;
						color: @medgrey;
						.CoHeadlineBold();
					}
					
					img {
						width: 105px;
						height: 16px;
						margin: 10px 0 0 0;
					}
				}
				.feedback {
					.contactForm {
						.textArea {height:90px; margin: 15px auto 0 auto; width: 270px; resize: none;border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: none; background: #ededed; outline: none; padding: 10px; color: @lightgrey; font-size: 1.05em; .newDu(); -webkit-box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15); -moz-box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15); box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15);}
						
					.btn{ .floatright(); margin:10px 0 0 0; }
						
					}
				}
			}
			
			
			
			
			
					
		}
		
	}
	
	@media screen and (min-width: 320px) and (max-width: 999px) {
		margin: 0 0 40px 0; 
	}
	
	@media screen and (min-width: 320px) and (max-width: 767px) {		
		.column-sx { 
			width:auto; 
		}	
		.column-dx { 
			width:auto; 
			margin-top:30px;
		}	
		
		.column {
			float:none;
			
			.cell {
				
				.extraLink{
					text-align:center;
					 /*text-transform: uppercase;*/  
				}
				
				.items {
					.item {
						.pic { 
							display:none; 
						}
						
						.text { 
							float:none; 
						}
					}
				}
				
				.rating{
					text-align:center;
					
					.resultsStars{
						margin-right:auto;
						margin-left:auto;
					}
					
					.resultsGraph{
						margin-right:auto;
						margin-left:auto;
					}
					
					.giveRating{
						margin-right:auto;
						margin-left:auto;
					}
				}
			}
		}
	}
	
	
	@media screen and (min-width: 768px) and (max-width: 999px){

		.column-sx {
			width: 450px; 
		}
		.column-dx {
			width: 250px; 
		}	
		
		.column {
			
			.cell{
				.items {
					
					.item {	
						.text {
						}
					}
				}
			}
			
		}
	
	}
	
	@media screen and (min-width: 1000px) and (max-width: 1599px)  {
		
	
		
		.column {
			.cell{
				.items {
					.item {				


					}
				}
			}

		}
		
	}
	
	@media screen and (min-width: 1600px) {

		.column-sx {
			width: 700px;
		}
		
		.column-dx {
			width: 300px;
		}
		
		.column {
			.cell{
				.items {
					.item {				
						.text {/*width: 500px;*/}
					}
				}
			}
		}

	}	
	 
}