
/* MODULE: EDITORIAL */


.slider {
    .sliders;
}

body {

    &.ie7 {
        .pagination ul {
            width: 90px;
        }
    }
}

/*#editorial2 {position:relative; overflow:hidden; padding:0 0 28px 0;  margin:0 0 50px 0; height: auto;}
*/
.modEditorial {
    position: relative;
    overflow: hidden;
    padding: 0 0 28px 0;
    margin: 0 0 50px 0;
    height: auto;
    display: block;


    &.divider {
        .dividers3px;
    }

    &.no-slider {
        padding: 0 0 0 0;

        .slider {
            display: none;
        }
    }

    &:hover {
        .buttonScroll {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .buttonScroll.inactive {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    &.buttonsHover {
        .buttonScroll {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .buttonScroll.inactive {
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }


    h3.title {
        .modTitle;
        padding-bottom: 25px;
        margin-bottom: 0;
    }
    
    .filters {
				background:transparent;
				float:left;
				font-size:12px;
				height:20px;
				line-height:22px;
				position:absolute;
				.posright(2px);
				 /*text-transform: uppercase;*/ 
				top:10px;
				width:auto;
				
				a {
					span {
						background:transparent url(../../images/arr1_down.png) no-repeat;
						.background-position(right, center);
						display:block;
						.padding-right(20px);
					}
				}
				
				&:hover {
					a {
						color: #B2E7F4;
						span {
							background-image:url(../../images/arr1_up.png);
						}
					}
					.filterssubNav{ display:block; }
				}
						
				.filterssubNav{
					position:absolute; 
					top:22px; 
					.posright(4px); 
					white-space:nowrap;
					
					display:none;  
					-webkit-box-shadow:  0px 0px 8px 2px rgba(0, 0, 0, 0.4);
					box-shadow:  0px 0px 8px 2px rgba(0, 0, 0, 0.4);
					.rounded-corners(7px);
					z-index:9999;
				
				.subA{ 
					display:block; color:@blu; .padding-right(40px); .padding-left(25px); background:#fff;
					&:hover{ color:#fff; }
				}
				
				li:first-child{
					.subA{.rounded-corners2(7px, 7px, 0, 0); }
				}
				li:last-child{
					.subA{.rounded-corners2(0, 0, 7px, 7px); }
				}
				
				li:hover{ 
					.subA{background:@blu; color:#fff; }
				}
				
			}
			
			@media screen and (max-width: 490px) { 
				display:none;
			}
		}


    .itemsW {
        overflow: hidden;
        position: relative;
        height: 340px;
    }

    .items {
        position: absolute;
        top: 0;
        left: 0;
        .animatedFast;
        width: 9999px;

      

        .item {
            .floatleft();
            height: auto;
            width: 270px;
            padding: 5px 0;
            position: relative;
            /*background:url(../../images/border.png) repeat-y; 
			.background-position(right, top);*/
            /*&:last-child{ background:none; }*/
            [dir=rtl] & {
                float:right;
            }
            .pic {
                clear: both;
                position: relative;
                margin: 0 0 20px 0;
                height: 155px;


                .imgW2 {
                    position: absolute;
                    display: block;
                    clear: both;
                    bottom: 0;
                    float: left;
                    left: 0;
                    right: 0;
                }

                .imgW1 {
                    left: -50%;
                    float: right;
                    position: relative;
                }

                .imgW0 {
                    position: relative;
                    display: block;
                    left: 50%;
                    float: left;
                }


                img {
                    margin: 0 auto;
                    max-width: 230px;
                    max-height: 155px;
                    border-radius: 6px !important;
                    -webkit-border-radius: 6px !important;
                    -moz-border-radius: 6px !important;
                    -o-border-radius: 6px !important;
                    -ms-border-radius: 6px !important;
                }
                /* FLAGS */
                .topstar {
                    position: absolute;
                    text-align: center;
                    height: 43px;
                    line-height: 43px;
                    bottom: -11px;
                    left: 0;
                    right: 0;
                    color: #fff;
                    font-size: 1.3em;
                    letter-spacing: 1px;
                    display: block;
                    background: url(../../images/topstar.png) center center no-repeat;
                }
            }

            .txt {
                clear: both;
                height: auto;
                overflow: hidden;
                text-align: center;
                padding: 0 10px;
            }

            .title {
                margin: 0 0 10px 0;
                overflow: hidden;
              //  white-space: nowrap;

                a {
                    color: @darkergrey;
                    font-size: 1.4em;
                    .CoHeadlineBold(1.1);

                    span {
                        .CoHeadlineRegular();
                        color: @darkergrey;
                        display: block;
                    }
                }
            }

            .intro {
                /*height:76px;*/ margin: 0 0 20px 0;
                overflow: hidden;
                .CoHeadlineLightRegular(1.26);
                font-size: 1.1em;

                a {
                    color: @darkergrey;
                }
            }


            .ctaW {
                position: relative;
                left: -50%;
                float: right;
                clear: both;
             
                .btn {
                    position: relative;
                    left: 50%;
                }
            }
        }
        /* closure item */
    }
    /* closure items */
    @media screen and (min-width: 320px) {
        margin: 0 0 40px 0;

        .itemsW {
            width: 290px;
            margin: 0 auto;
        }

        .items {
            width: 99999px;

            .item {
                width: 290px;


                .pic {
                    .badge {
                        .CoHeadlineBold();
                        background: url(../../images/flag_new_m.png) 0 0 no-repeat;
                        display: block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        position: absolute;
                        text-align: center;
                        top: 5px;
                        left: 5px;
                        color: #fff;
                        font-size: 1em;
                        display: block;
                    }
                }
            }
            /* closure item */
        }
        /* closure items */
    }

    @media screen and (min-width: 480px) {
        .itemsW {
            width: 450px;
        }

        .items {
            width: 99999px;

            .item {
                width: 450px;


                .txt {
                    width: 270px;
                    margin: auto;
                }

                .pic {
                    .badge {
                        background: url(../../images/flag_new_m.png) 0 0 no-repeat;
                        display: block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        position: absolute;
                        text-align: center;
                        top: 5px;
                        left: 5px;
                        color: #fff;
                        font-size: 1em;
                        display: block;
                    }
                }
            }
            /* closure item */
        }
        /* closure items */
    }



    @media screen and (min-width: 768px) {
        .itemsW {
            width: 738px;
        }

        .items {
            width: 99999px;

            .item {
                width: 246px;

                .txt {
                    width: auto;
                    max-width: 230px;
                }

                .pic {
                    .badge {
                        background: 0 0 no-repeat;
                        .background-image-new-m();
                        display: block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        position: absolute;
                        text-align: center;
                        top: 5px;
                        .posleft(5px);
                        color: #fff;
                        font-size: 1em;
                        display: block;
                    }
                }
            }
            /* closure item */
        }
        /* closure items */
    }


    @media screen and (min-width: 1000px) {
        margin: 0 0 50px 0;

        .itemsW {
            width: 810px;
        }

        .items {
            width: 99999px;

            .item {
                width: 270px;

                .pic {
                    .badge {
                        background: 0 0 no-repeat;
                        .background-image-new();
                        display: block;
                        width: 69px;
                        height: 69px;
                        line-height: 69px;
                        position: absolute;
                        text-align: center;
                        top: 10px;
                        .posleft(10px);
                        color: #fff;
                        font-size: 1.4em;
                        display: block;
                    }
                }
            }
            /* closure item */
        }
        /* closure items */
    }

    @media screen and (min-width: 1600px) {
        .itemsW {
            width: 1014px;
        }

        .items {
            .item {
                width: 338px;
            }
        }
    }
}

/* Editorial module used as product module specific rules */

.modEditorial {
    &.productList {
        .itemsW {
            .items {
                .item {

                    .pic {
                        height: 205px;

                        img {
                            max-width: 230px;
                            max-height: 205px;
                        }
                    }

                    .txt {
                        .title {
                            .CoHeadlineRegular();
                            font-size: 1em;

                            a {
                                color: @darkergrey;
                                font-size: 1em;

                                span {
                                    .CoHeadlineLightRegular();
                                    color: @darkergrey;
                                    display: block;
                                    font-size: 1.3em;

                                    &.model {
                                        .CoHeadlineBold();
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 767px) {
            .itemsW {
                .items {
                    .item {
                        margin-right: 10px;
                        padding: 0px;
                        width: 140px;

                        .pic {
                            width: 140px;
                            height: 147px;

                            img {
                                max-width: 140px;
                                max-height: 147px;
                            }
                        }

                        .txt {
                            padding-left: 0px;
                            padding-right: 0px;
                            width: 140px;
                        }
                    }
                }
            }
        }
    }
}

/* Your account specific rules */

.modEditorial {
    &.yourAccount {
        .itemsW {
            .items {
                .item {
                    .txt {
                        .title {
                            color: @darkergrey;

                            a {
                                color: @darkergrey;
                            }
                        }
                    }
                }
            }
        }
        /* iPhone Portrait and Landscape, iPad Portrait */
        @media screen and (max-width: 768px) {
            .itemsW {
                height: auto;

                .items {
                    position: relative;
                    width: 450px;

                    .item {
                        background-image: none;
                        border-top: 1px solid @grey;
                        clear: both;
                        float: none;
                        height: 58px;
                        line-height: 58px;
                        overflow: hidden;
                        width: 450px;

                        &:last-child {
                            border-bottom: 1px solid @grey;
                        }

                        .pic {
                            display: block;
                            float: none;
                            height: 58px;
                            .posleft(0px);
                            position: absolute;
                            top: 5px;
                            width: 58px;

                            .imgW2 {
                                height: 58px;
                                .posleft(0px);
                                position: relative;
                                width: 58px;

                                .imgW1 {
                                    float: none;
                                    left: 0;

                                    .imgW0 {
                                        left: 0;

                                        img {
                                            height: 58px;
                                            width: 58px;
                                        }
                                    }
                                }
                            }
                        }

                        .txt {
                            margin: 0;
                            padding: 0;

                            .title {
                                display: block;
                                font-size: .8em;
                                .posleft(68px);
                                line-height: 58px;
                                margin: 0px;
                                overflow: hidden;
                                padding: 0;
                                position: absolute;
                                .posright(10px);
                                .defaulttextalign();
                                text-overflow: ellipsis;
                                top: 0;
                                width: auto;

                                a {
                                }
                            }

                            .intro {
                                display: none;
                            }

                            .ctaW {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 479px) {
            .itemsW {
                .items {
                    width: 290px;

                    .item {
                        width: 290px;
                    }
                }
            }
        }
    }
}
