    .modMusicDetail {margin: 30px 0 50px 0; border-top: none;overflow:hidden; height: auto;

	.details {color: @darkergrey; position: relative; overflow: hidden; height: auto;
	
		.title { font-size: 1.8em;color: @blu; .CoHeadlineBold(); text-align:center;}
		.subtitle {font-size: 1.5em; .CoHeadlineLightRegular(); text-align:center; margin-top: 5px;}
		
		.pic {margin: 20px auto; width: 200px; position: relative;
			img {.box-reflect; width: 100%; height: auto; margin-bottom: 50px;}
		}
		
		.social {height: 20px; width: 290px; display: block; margin: 20px auto; position: relative;
			img {float: left; margin-left: 10px;}
			.rating {width: 86px; height: 13px; background:url(../../images/rating_stars_sml.png)  0 0 no-repeat; overflow: hidden; float: left;
				span {display:block; height: 13px; background:url(../../images/rating_stars_full_sml.png) 0 0 no-repeat;}
			}
		}
		
		.text {font-size: 0.9em; .newDuMedium(); line-height: 18px; margin-top: 30px; text-overflow: ellipsis; position: relative;
			.cta {color: @blu; /*text-transform: uppercase;*/ text-decoration: underline; display: inline; margin-left: 3px;
				a { .link-du;}
			}
		}
		
		.btn { z-index: 9999; position: relative;
		&:hover{color:@pinkHover;}
 	 	&:active{color:@pinkHover;}
		
		}
		
	}

	@media screen and (min-width: 320px) {

	}
	
	@media screen and (min-width: 480px) {
				.text {width: 300px; margin: 0 auto;}	
	}
	
	@media screen and (min-width: 768px) {
		.details {width: 390px; .padding-left(335px); margin: 30px auto;
		
			.title {font-size: 2.6em; text-align: inherit;.floatleft(); width: 100%;}
			.subtitle {font-size: 1.8em; text-align: inherit; margin-top: 5px;.floatleft(); width: 100%;}
			
			.pic {margin: 0; width: 265px; position: absolute; .posleft(27px); top: 5px;
				img {.box-reflect; margin-bottom: 50px;}
			}
			
			.social {height: 20px; width: 335px; margin: 10px 0 0;.floatleft(); 
				img {float: left; margin-left: 15px;}
				.rating {width: 105px; height: 16px; background:url(../../images/rating_stars_med.png)  0 0 no-repeat;
					span {height: 16px; background:url(../../images/rating_stars_full_med.png) 0 0 no-repeat;}
				}
			}
			
			.text {font-size: 1.05em; .newDu(); width: 100%; line-height: 19px; margin-top: 10px; padding-bottom:110px; position: relative;.floatleft(); 
				.cta {margin-left: 3px; .newDuMedium(); font-size: 0.9em;}
			}
			
			.btn {height: 48px; width: 230px; margin: 15px 0; position: absolute; bottom: 18px; .posright(160px);
				.cost { height: 40px; width:115px; line-height: 43px;} 
				.aed {margin-right: 5px;}
				.cta {font-size: 1.2em; line-height: 50px;}
			}
			
		}
	}
	
	@media screen and (min-width: 1000px) {
		.details {width: 405px; .padding-left(390px); margin: 30px auto;
			.pic {margin: 0; width: 265px; position: absolute; .posleft(85px); top: 5px;}
			.btn {height: 48px; width: 230px; margin: 15px 0; position: absolute; bottom: 19px; .posright(175px);}
		}
	}
	
}

body.android .modMusicDetail .details .pic img { -webkit-box-reflect: below 0 
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAyCAYAAACUEBHwAAAAIklEQVQ4jWP8//8/AzpgwhAZFRwVHBUctIIsDAwMXFQWBAAW4QORoT0UUQAAAABJRU5ErkJggg==) !important; } 