.modProdOverview {
  margin: 0 0 50px 0;
  position: relative;
  overflow: hidden;
  height: auto;

  &.divider {
    .dividers3px;
  }

  &.modOverviewCarousel {
    margin-bottom: 10px;
  }

  h3.title,
  h3.title a {
    .modTitle;
    margin-bottom: 0;
  }

  .buttonScroll {
    display: none;
    height: 57px;
    left: 0;
    position: absolute;
    top: 40px;
    width: 44px;
    z-index: 99;
    .opacity(0);

    &:hover {
      .opacity(1);
    }

    &.inactive {
      display: none;
      .opacity(0);
    }

    &.visible {
      display: block;
    }

    &.buttonScrollPrevious {
    }
    &.buttonScrollNext {
      left: auto;
      right: 0;
    }

  }

  &:hover, &.buttonsHover {
    .buttonScroll {
      .opacity(1);

      &.inactive {
        display: none;
        .opacity(0);
      }
    }
  }

  .itemsW {
    overflow: hidden;
    margin: 0px auto;
    height: auto;

    .slider {
      .sliders;
    }

    .items {
      padding: 0;
      width: 100%;
      height: auto;
      margin: 0;
      .animated();

      .item {
        width: 100%;
        margin: 0px auto;
      }

      .pic {
        width: 100%;
        height: auto;
        margin: 0 auto;

        &.img-link {
          a {
            cursor: default;
          }
        }

        img {
          width: 100%;
          height: auto;
          margin: 0 auto;
          vertical-align: top;
        }
      }

      .claimbox {
        width: 99%;
        height: auto;
        margin: 0 auto;

        .claim {
          .CoHeadlineLightRegular(1.2);
          color: @darkergrey;
          font-size: 2.3em;
          margin: 20px 0;
          b {
            color: @pink;
          }
          strong {
            color: @pink;
          }
          span {
            color: @pink;
          }
        }
      }

      .txt {
        width: 100%;
        overflow: hidden;

        .subtitle {
          .CoHeadlineRegular();
          font-size: 1.5em;
          margin-top: 30px;
          color: @medgrey;
        }
        .caption {
          .CoHeadlineLightRegular();
          font-size: 0.9em;
          margin: 20px 0;
          line-height: 18px;
          color: @medgrey;
        }
      }
    }
  }

  @media screen and (min-width: 320px) {
    .itemsW {
      width: 290px;
      height: auto;
      .items {
        .item {
          .floatleft();
          width: 290px;
        }
      }
    }
  }
  @media screen and (min-width: 480px) {
    .itemsW {
      width: 450px;
      height: auto;
      .items {
        .item {
          width: 450px;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .slider {
      display: none;
    }

    .itemsW {
      height: auto;
      overflow: none;
      width: 740px;

      .items {
        .item {
          clear: both;
          float: none;
          background: none;
          height: auto;
          margin: 0;
          overflow: hidden;
          width: 740px;

          .pic {
            width: 330px;
            height: auto;
            .floatright();
          }
          .claimbox {
            width: 330px;
            height: auto;
            .floatright();
            .claim {
              text-align: right;
            }
          }
          .txt {
            min-height: 170px;
            height: auto !important;
            height: 170px;

            width: 360px;
            .floatleft();
            height: auto !important;
            min-height: none;

            .subtitle {
              font-size: 1.8em;
            }
            .caption {
              font-size: 1.05em;
              line-height: 21px;
              margin: 20px 0;
            }
          }

          &.odd {
            .pic {
              .floatleft();
            }
            .claimbox {
              .floatleft();
              .claim {
              }
            }
            .txt {
              .floatright();
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .itemsW {
      width: 810px;

      .items {
        .item {
          width: 810px;
          .pic {
            width: 330px;
            height: auto;
            .floatright();
          }
          .claimbox {
            width: 330px;
            height: auto;
            .floatright();
          }
          .txt {
            width: 385px;
            .floatleft();
          }
        }
      }
    }
  }

  @media screen and (min-width: 1170px) {
    .itemsW {
    }
  }

  @media screen and (min-width: 1600px) {
    .itemsW {
      width: 1015px;

      .items {
        .item {
          width: 1015px;
          .pic {
            width: 330px;
            height: auto;
            .floatright();
          }
          .claimbox {
            width: 330px;
            height: auto;
            .floatright();
          }
          .txt {
            width: 590px;
            .floatleft();
          }
        }
      }
    }
  }
}