#graph-loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  width: 90px;

  ul {
    margin: 0;
    list-style: none;
    width: 90px;
    position: relative;
    padding: 0;
    height: 10px;

    li {
      position: absolute;
      width: 5px;
      height: 0;
      background-color: @blu;
      bottom: 0;
    }
  }
}

@keyframes sequence1 {
  0% {
    height: 10px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 10px;
  }
}

@keyframes sequence2 {
  0% {
    height: 20px;
  }
  50% {
    height: 65px;
  }
  100% {
    height: 20px;
  }
}

#graph-loader li:nth-child(1) {
  left: 0;
  animation: sequence1 1s ease infinite 0;
}

#graph-loader li:nth-child(2) {
  left: 15px;
  animation: sequence2 1s ease infinite 0.1s;
}

#graph-loader li:nth-child(3) {
  left: 30px;
  animation: sequence1 1s ease-in-out infinite 0.2s;
}

#graph-loader li:nth-child(4) {
  left: 45px;
  animation: sequence2 1s ease-in infinite 0.3s;
}

#graph-loader li:nth-child(5) {
  left: 60px;
  animation: sequence1 1s ease-in-out infinite 0.4s;
}

#graph-loader li:nth-child(6) {
  left: 75px;
  animation: sequence2 1s ease infinite 0.5s;
}

.spinner {
  margin: 0 auto;
  width: auto;
  text-align: center;
  display: inline-block;

  > span {
    width: 8px;
    height: 8px;
    background-color: @blu;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay .75s infinite ease-in-out both;
    animation: sk-bouncedelay .75s infinite ease-in-out both;
  }

  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
      }
  }
}

.details-container .spinner {
  margin-bottom: 5px;
}

.loader-wrapper {
  width: 100%;
  height: 315px;
  position: absolute;
}
.loader {
  font-size: 10px;
  position: relative;
  top: 36px;
  .posleft(50%);
  .margin-left(-99px);
  //left: 50%;
  //margin-left: -99px;
  display: block;
  text-indent: -9999em;
  border-top: 2em solid rgba(239, 239, 239, 1);
  border-right: 2em solid rgba(239, 239, 239, 1);
  border-bottom: 2em solid rgba(239, 239, 239, 1);
  border-left: 2em solid @blu;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;

  &.loader-modDials {
    [dir=rtl] &  {
                   right: -40%;
                       text-indent: 10000px;
            }
    
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 157px;
  height: 157px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}