.modify-plans {

  margin: 20px 0 0;

  .dropzone {
    margin: 30px 0;
    padding: 15px 30px;
    width: 100% !important;
    background-color: @verylightgrey;
    border: 1px dashed @bordergrey;

    .dz-message {
      padding: 15px 0 !important;
      margin-bottom: 0 !important;
    }

    &.dz-drag-hover {
      border-color: @bordergrey;
      background: @white;
    }

    .dz-preview {
      .dz-progress {
        width: 50%;
      }
      .dz-details {
        .defaulttextalign();
      }
    }

  }

  > .alert {
    .wiggle;
  }


  .plans-accordion {

    > ul {

      > li {

        padding: 0;
        border: 1px solid @bordermedgrey;
        background-color: @white;
        .defaulttextalign();
        overflow: visible;
        margin-bottom: 20px;

        h4 {
          .FontCoHeadlineRegular();
        }

        .plan-head {

          background-color: @verylightgrey;
          padding: 0 25px;
          border-bottom: 1px solid @bordermedgrey;
          position: relative;

          .cell:first-child {
            @media (max-width: @screen-sm-max) {
              width: 80%;
            }
          }

          .last-col {
            width: 22%;
            text-align: right;
            @media (max-width: @screen-sm-max) {
              text-align: center;
              width: 15%;
            }
          }

          .arrow {
            @media (max-width: @screen-sm-max) {
              padding-right: 0;
              right: -10px;
            }
          }


          .bullets {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -15px;
          }

        }

        .alert {

          border: 0 none;
          border-bottom: 1px solid @bordermedgrey;
          padding: 10px;
          .rounded-corners2(0,0,0,0);
          text-align: center;
          margin-bottom: 0;

        }

        .plan-content {
          padding: 0 25px;
          .defaulttextalign();

          &.plan-content-active {
            overflow: visible;
          }

          .existing-plan {
            padding: 15px;
            border-right: 1px solid @bordermedgrey;

            table {
              margin-top: 20px;
            }

            &:after {
              .icon(30px);
              content: '\e852';
              color: @lightgrey;
              position: absolute;
              right: -15px;
              top: 50%;
              z-index: 100;
              margin-top: -10px;
              background-color: @white;
            }

            @media (max-width: @screen-sm-max) {
              border-right: 0;
              border-bottom: 1px solid @bordermedgrey;

              &:after {
                right: auto;
                left: 50%;
                .margin-left(-10px);
                top: auto;
                bottom: -15px;
                .rotation(90deg);
              }
            }
          }

          .new-plan {

            padding: 15px 25px;
            @media (max-width: @screen-sm-max) {
              padding: 15px;
            }

            .selectric {
            }

          }

          table {
            width: 100%;
            margin: 10px 0 0;
            tr {
              td, th {
                padding: 5px 0;
              }
            }
          }

        }
      }
    }
  }

  .dropzone {
    .dz-default {
      &.dz-message {
        display: block;
        line-height: 20px;
      }
    }
    &.dz-max-files-reached {
     .dz-default {
       &.dz-message {
         display: none;
       }
     }
    }
    .dz-preview {
      border-top: 0 none;
      padding-bottom: 5px;
      
      .dz-details {
        float: none;
      }
      .dz-error-message {
        float: left;
        position: relative;
        top: auto;
        left: auto;
        text-align: left;
        padding: 0;
        width: 50%;
        display: inline-block;

        @media (max-width: @screen-sm-max) {
          width: 100%;
        }

        span {
          padding: 8px 15px;
          display: inline-block;
        }
      }
      .dz-remove {
        margin-top: -45px;
        @media (max-width: @screen-sm-max) {
          margin-top: 0;
          width: 100%;
          float: none;
        }
      }
    }
  }
  
}

.box-btn {
  display: block;
  .floatleft();
  border: 1px solid @grey;
  .rounded-corners(3px);
  margin: 0 0 20px;

  &:hover {
    background-color: @verylightgrey;
    //.box-shadow-left-only();

    .icon-wrapper {
      //.box-shadow-left-only();
      background-color: @darkblu;
    }

  }

  .icon-wrapper {

    display: block;
    height: 150px;
    background-color: @blu;
    width: 100%;
    text-align: center;
    //.rounded-corners2(2px, 2px, 0, 0);
    .floatleft();

    @media (max-width: @screen-sm-max) {
      //width: 30%;
      //height: 100px;
      //.rounded-corners2(2px, 0, 0, 2px);
    }

    .icon-circle {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
      margin: 25px 0;
      .rounded-corners(50%);
      background: @white;

      @media (max-width: @screen-sm-max) {
        //width: 70px;
        //height: 70px;
        //.floatleft();
        //margin: 15px;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -24px 0 0 -24px;
      }

      [class^="icon-"]:before,
      [class*=" icon-"]:before {

      }
    }
  }

  .text {

    display: inline-block;
    .CoHeadlineLightRegular(1.2);
    color: @darkergrey;
    padding: 15px;
    @media (max-width: @screen-sm-max) {
      //width: 70%;
      //.floatleft();
    }
  }

  .btn {
    margin-bottom: 15px;
    min-width: 90%;
  }

}

.bullets {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 6px 0;
  text-align: center;
  .CoHeadlineRegular(1em);
  .rounded-corners(50%);
  background-color: @blu;
  color: @white;
  margin: 0 -15px;
  position: relative;
  z-index: 100;
}