/* MODULE: FEATURE 1 */

.pagination {
  .paginations;
}

.modFeature1 {

  position: relative;
  overflow: hidden;
  padding: 0 0 50px 0;
  margin: 10px 0 0 0;
  clear: both;

  .itemsW {
    overflow: hidden;
    position: relative;
  }

  .items {
    width: 999999px;
    position: absolute;
    left: 0;
    top: 0;
    .animated;
  }

  .item {
    .floatleft();
    position: relative;
    .pic {
      .img {
        width: 100%;
        height: auto;
        .rounded-corners(10px);
      }
    }

    .txt {
      position: absolute;
      bottom: 10px;
      .posleft(10px);
      .posright(40px);

      .title {
        .CoHeadlineBold();
        font-size: 1.7em;
        margin: 0 0 10px 0;
        color: #fff;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);
        .white {
          color: #fff;
        }
        .blu {
          color: @blu;
        }
        .black {
          color: #000;
        }
      }
      .intro {
        color: #fff;
        font-size: 1.23em;
        //display: none;
        margin: 0 0 10px 0;
        line-height: 1.48em;
        text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.4);

        .white {
          color: #fff;
        }
        .blu {
          color: @blu;
        }
        .black {
          color: #000;
        }
      }
      .btn {
        .floatleft();
      }

      &.txt-case2 {
        .posleft(45%);
      }

    }

  }

  .buttonScroll {
    .opacity(0);

    &.buttonScrollPrevious {
      left: 10px;
    }
    &.buttonScrollNext {
      left: auto;
      right: 10px;
    }
    &.inactive {
      visibility: hidden;
    }
  }

  &:hover, &.buttonsHover {
    .buttonScroll {
      .opacity(1);
    }
  }

  @media screen and (min-width: 320px) {
    .itemsW {
      height: 138px;
    }

    .item {
      width: ~"calc(100vw - 40px)";
      height: 138px;
    }
  }

  @media screen and (min-width: 480px) {
    .itemsW {
      height: 214px;
    }

    .item {
      width: ~"calc(100vw - 40px)";
      height: 214px;
    }

  }

  @media screen and (min-width: 768px) {
    .itemsW {
      height: 352px;
    }

    .item {
      width: 740px;
      height: 352px;
      .txt {
        position: absolute;
        bottom: 40px;
        .posleft(50px);
        .posright(100px);
        .title {
          font-size: 2.8em;
        }
        .intro {
          display: block;
        }
      }

    }
  }

  @media screen and (min-width: 1000px) {
    .itemsW {
      height: 385px;
    }

    .item {
      width: 810px;
      height: 385px;
    }
  }

  @media screen and (min-width: 1600px) {
    .itemsW {
      height: 482px;
    }

    .item {
      width: 1015px;
      height: 482px;
    }
  }

  @media screen and (max-width: 768px)
    {
     .item .txt {
       
          left: 30px;
      }
  }

  @media screen and (max-width: @screen-sm-max) {

    display: block !important;
    padding-bottom: 30px;

    .itemsW {
      height: auto;
    }

    .item {
      height: auto;

      .txt {
        &.txt-case2 {
          .posleft(136px);
          //.posright(10px);
        }
        .intro {
          font-size: 14px;
          line-height: 17px;
          display: none;
        }
      }
    }

    .pagination {
      bottom: 0;
      padding-bottom: 10px;
    }

  }

}

/*modFeature1*/

.modFeature1withThumbsV1 {

  /* THUMBNAIL PAGINATION */

  .paginationThumbnails {
    width: 100%;

    ul {
      width: 100%;
    }
    li {
      width: 25%;
      height: 195px;
      padding: 20px 0;
      position: relative;
      .floatleft();

      .arrow {
        position: absolute;
        top: -15px;
        right: 0;
        left: 0;
        height: 15px;
        background: url(../../images/arr_thumb.png) no-repeat center center;
        display: none;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../../images/border.png) top right repeat-y;
      }

      &:last-child, &.lastElement {
        a {
          background: none;
        }
      }

      .pic {
        max-width: 162px;
        margin: 0 auto 10px auto;
        img {
          max-width: 100%;
        }
      }

      .txt {
        max-width: 162px;
        margin: 0 auto;
        .title {
          color: @darkergrey;
          height: 65px;
          .CoHeadlineBold();
          font-size: 1.1em;
          line-height: 17px;
        }
        .category {
          color: @blu;
          .sansSerif();
          font-size: 0.85em;
          font-weight: bold;
        }
      }

      &.sel {
        background: #eaeaea;
        .arrow {
          display: block;
        }
      }

      &:hover {
        background: #eaeaea;
      }

      &:active {
        background: transparent;
      }

    }

  }

  @media screen and (max-width: 767px) {
    /* 320px - 480px - 768px */
    .item {
      .pic {
        .img {
          .rounded-corners(10px);
        }
      }
    }

    .paginationThumbnails {
      bottom: 0;
      .paginations;

      ul {
        li {
          background: transparent;

          a {
            * {
              display: none;
            }
          }

          .arrow {
            display: none;
          }

          &.sel, &:hover {
            background-color: transparent;

            .arrow {
              display: none;
            }
          }

          &:last-child a, &.lastElement a {
            background: url(../../images/pagination.png) bottom left;
          }

          &.sel:last-child a, &.sel.lastElement a {
            background-position: top left;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) {

    .item {
      .pic {
        .img {
          .rounded-corners2(10px, 10px, 0, 0);
        }
      }
    }

    .paginationThumbnails {
      display: block;
      li {
        width: 185px;
      }
    }
  }

  @media screen and (min-width: 1000px) {
    .paginationThumbnails {
      display: block;
      li {
        width: 202px;
      }
    }
  }

  @media screen and (min-width: 1600px) {
    .paginationThumbnails {
      display: block;
      li {
        width: 253.75px;
      }
    }
  }

}

.modFeature1withThumbsV2 {
  padding: 0 0 10px 0;
  margin: 10px 0 50px 0;
  /* THUMBNAIL PAGINATION */
  .item {
    .txt {
      position: absolute;
      padding-bottom: 170px;
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    /* 320px - 480px - 768px */
    .item {
      .txt {
        padding-bottom: 10px;
      }
    }
  }

  .paginationThumbnails {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    .rounded-corners2(0, 0, 10px, 10px);
    border: 1px solid #ccc;
    z-index: 99999;

    ul {
      width: 100%;
      height: 95px;
    }
    li {
      width: 25%;
      height: 95px;
      text-align: center;
      .floatleft();
      position: relative;

      .arrow {
        position: absolute;
        top: -14px;
        right: 0;
        left: 0;
        height: 15px;
        background: url(../../images/arr_thumb2.png) no-repeat center center;
        display: none;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        .CoHeadlineBold();
        line-height: 95px;
        font-size: 1.4em;
      }

      &:first-child, &.firstElement {
        .rounded-corners2(0, 0, 0, 10px);
      }

      &:last-child, &.lastElement {
        .rounded-corners2(0, 0, 10px, 0);
      }

      &.sel {
        .arrow {
          display: block;
        }
      }

    }
  }

  @media screen and (max-width: 767px) {
    /* 320px - 480px - 768px */
    padding: 0 0 50px 0;
    margin: 10px 0 0 0;

    .item {
      .pic {
        .img {
          .rounded-corners(10px);
        }
      }
    }

    .paginationThumbnails {
      border: none;
      bottom: 0px;
      .paginations;

      ul {
        height: 13px;

        li {
          background: transparent;

          a {
            * {
              display: none;
            }
          }

          .arrow {
            display: none;
          }

          &.sel, &:hover {
            background-color: transparent;

            .arrow {
              display: none;
            }
          }

          &:last-child a, &.lastElement a {
            background: url(../../images/pagination.png) bottom left;
          }

          &.sel:last-child a, &.sel.lastElement a {
            background-position: top left;
          }
        }
      }
    }

  }

  @media screen and (min-width: 768px) {
    .paginationThumbnails {
      display: block;
    }
  }

}

.hero-image {
  .clearfix;

  padding-bottom: 30px;
}
