.modSmallBHelp {
	
	margin: 0 0 50px 0; 
	border-top: none; 
	color: @darkergrey; 
	height:auto; 
	overflow:hidden;

	&.divider{.dividers;}
	
	h3.title, h3.title a {.modTitle; margin:0 0 0 0;}
	
	h4.subtitle {
		.CoHeadlineBold(); 
		font-size: 1.35em; 
		margin: 0 0 20px 0;
		color: @medgrey; 
		width: 100%;
	}

	.slider {.sliders;}
	
	.cell{
		clear:both;
		overflow:hidden;
		margin-bottom:30px;
		
		&:last-child{
			margin-bottom:0;
		}
		
		.link-more{
			.CoHeadlineRegular(); 
			font-size: 1.077em; 
			 /*text-transform: uppercase;*/  
			text-decoration:underline; 
			margin: 10px 0 0 0; 
			.link-du;
			display:block;
		}
		
	}
	
	.col1 {
			width: 290px; 
			margin: 0 auto; 
			.floatleft();
			
		.faq {
			margin-bottom:30px;
			
			.faqItem {
				color:@blu; 
				.CoHeadlineLightRegular(); 
				font-size: 1.385em;  
				margin-bottom: 10px; 
				.padding-left(23px); 
				position: relative;
				
				a {.link-du;}
				.num {color: @darkergrey; position: absolute; top: 0; .posleft(0);}
			}	
			
		}
	
	
		
		.itemsW {
			width: 290px; 
			overflow: hidden; 
			position: relative;
			
			.items {
				width: 290px; 
				position: relative; 
				
				.item {
						width: 290px; 
						position: relative;
						margin-bottom: 30px;	
					
					.pic {
						img {width: 49px; height: 49px;}
					}
					
					.text {
						
						.info {
							.CoHeadlineRegular(); 
							font-size: 1.077em;
							 
							.name {}
							.date {}
							.locat {}
						}
					
						.txt {
							.CoHeadlineLightRegular(1.25); 
							font-size: 1.077em;
							text-overflow: ellipsis; 
							margin-top: 5px;
						}
							
						.more {
								color: @blu;
								 /*text-transform: uppercase;*/ 
								text-decoration:underline;
								white-space:nowrap;
								.link-du;
								font-size:0.857em;
								.CoHeadlineRegular(1.25); 
						}
					
						.convos {.newDuBold(); margin-top: 10px; display: none;}								
					}							
								
				}
			}
	
		}
		
	}

	.col2 {width: 290px; margin: 0 auto; .floatleft();
		
		.btn{ margin: 10px 0 0 0;}
		
		.findStore {width: 290px;
			label {display: block; .newDu(); font-size: 1.05em; margin-top: 10px;}
			.dropdown {width: 100%;margin-top: 5px;}
		}
		
		
		.textArea {height:90px; margin: 0 auto; width: 270px; resize: none; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: none; background: #ededed; outline: none; padding: 10px; color: @lightgrey; font-size: 1.05em; .newDu(); -webkit-box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15); -moz-box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15); box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15);}
		
		.tel {font-size:28px; .CoHeadlineBold(); .padding-left(40px); color: @blu; background: url(../../images/ico_phone.png); .background-position(left, 2px);  background-repeat: no-repeat; }
		
	}

	@media screen and (min-width: 320px) and (max-width: 767px) {
		margin: 0 0 40px 0; 
		
		h4.subtitle {
			
			font-size:1.2em;
		
		}
		
		
		.cell{
			margin-bottom:30px;
			
			&:last-child{
				margin-bottom:30px;
			}
			&.last-item{ margin-bottom:0;}
			
			.link-more{
				font-size: 0.9em; 
			}
		}
		
		.col1{
			
			.itemsW{
				 .items {
					 .item {
						.pic{
							display:none;
						}
							
					 	.text{
							width: auto;
						}
					 }
				 }
			}
		}
		
		.col2{
			.btn {
				margin: 10px auto 0 auto; 
				float: none; 
				padding: 0;
			}
		
		}
	}
	
	@media screen and (min-width: 480px) and (max-width: 767px) {
		
		.col1 {width: 450px;			
			.itemsW {
				width: 450px;
				.items {
					width: 450px;
					.item {
						width: 450px; 
						height: auto; 
						 
						.text {
							width: auto;
						}
					}
				}
			}			
		}
		.col2 {width: 450px; 
			.findStore {width: 450px;}	
			.textArea {width: 430px;}			
		}
		
	}
	
	@media screen and (min-width: 768px) {
		.slider {display: none;}
		
		.col1 {width: 485px;
				
			.faq {width: 485px; height: auto;
				.faqItem {width: 100%;}	
			}
			.show {display: block;}
				
			.itemsW {width: 485px;overflow: visible;
				.items {width: 485px; 
					.item {width: 485px; height: auto; clear: left; float: none; padding: 0 0 20px 0;
						.pic {.floatleft();}
						.text {.floatleft(); width: 410px; .margin-left(20px);
							.convos {display: block; padding-bottom: 30px;}
						}									
					}
				}
				.forums {display: block; margin:0; padding: 0;}
			}
			
		}	
		.col2 {width: 230px; .floatright();
			.findStore {margin-top: 10px;
				.dropdown {margin-top: 10px;}
				label {margin-top: 20px;}
			}
			.findStore {width: 230px;}
			.btn {.floatright();}			
			.textArea {height:110px; width: 210px; margin-top: 10px;}			
		}
		
	}
	
	@media screen and (min-width: 1000px) {
		
		.col1 {width: 510px;		
			.itemsW {width: 510px;
				.items {width: 510px;
					.item {width: 510px; height: auto;
						.text {.floatleft(); width: 430px; .margin-left(20px);}
					}
				}
			}			
		}
		.col2 {width: 260px;
			.findStore {width: 260px;}
			.textArea {width: 240px;}			
		}
		
	}
	
	@media screen and (min-width: 1600px) {

	}	
	 
}