    

.modBills {
	
	.modBillsDetail{
		margin: 0 0 50px 0; border-top: none; color: @darkergrey; .CoHeadlineRegular(); font-size: 1.05em; height: auto; overflow: hidden;
	}
	
	h3.title{.modTitle-int1;}

	.itemsW {
		.items {width: 100%;
			.item {border-top: 1px solid @linedarkgrey; height: 85px;
			
				.info {.floatleft(); margin-top: 15px;
					.date {}
					.due {font-size: 0.9em; margin-top: 10px; line-height: 32px;
						&.warn {color: @pinkalt; padding-bottom: 6px; .padding-left(25px); background: url(../../images/ico_expired.png); background-repeat: no-repeat; .background-position(left, 7px); height: 19px;}	
					}
				}
				
				.amount {.floatright(); margin-top: 15px; 
					.view {
						
						background: url(../../images/arrow1_down.png); .background-position(right, center); background-repeat:no-repeat; .padding-right(25px);
						
						.newDu(); display: block; height: 16px; color: @darkergrey;
						/* &.open {background-position: 70px -36px;}      ACTIVE /OPEN */
					}
					.cost {font-size: 1.4em; margin-top: 10px;line-height:28px;
						&.warn {color: @pinkalt;}
						.currency {/*text-transform: uppercase;*/ font-size: 0.5em; margin:0 5px; line-height:33px;}
					}
				}
				
			}
		}
	}
	
	.total {
			background: @linelightgrey; 
			width: auto; 
			height: 45px; 
			line-height: 45px; 
			/*text-transform: uppercase;*/
			padding:0 10px; 
			clear:both;
			overflow:hidden;
			
		.text {.floatleft(); font-size: 0.85em; }
		.cost {.floatright(); font-size: 1.4em;
		
			.currency {font-size: 0.5em; margin:0 5px; .CoHeadlineLightRegular();}	
		}
	}

	@media screen and (max-width: 767px) {
		h3.title{font-size: 1.8em; padding:20px 0 30px 0;}
	}
	
	
	
	@media screen and (min-width: 768px) {
		
		
		.itemsW {
			.items {
				.item {
				
					.info {margin-top: 12px; .margin-right(10px);
						.date {font-size: 1.35em;}
						.due {font-size: 1.1em; line-height: 32px;
							&.warn {padding-bottom: 6px; .padding-left(25px); background: url(../../images/ico_expired.png); background-repeat: no-repeat; .background-position(left, 6px); }	
						}
					}
					
					.amount {
						/* &.open {background-position: 67px -36px;}      ACTIVE /OPEN */
						.cost {font-size: 1.8em; margin-top: 10px;
							&.warn {}
							.currency {font-size: 10px; }
						}
					}
					
				}
			}
		}
	
		.total {
			height: 53px; line-height: 53px;
			.text {font-size: 1.2em; line-height: 53px;}
			.cost {font-size: 2.6em; line-height: 53px;
				.currency {font-size: 18px; line-height:58px;}	
			}
		}	
		
	}
	
	@media screen and (min-width: 1000px) {

	}
	 
}

/* Override for ie7/8 wrong background positioning */

.ie7, .ie8, .half-touch {
	.modBills {
		.itemsW {
			.items {
				.item {
					.amount {
						.view {
							/*background-image: none;*/
						}
					}
				}
			}
		}
	}
}