.modDetail {

  @media screen and (min-width: 768px) {
    #buy-now-buttons-holder-small {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    #buy-now-buttons-holder-big {
      display: none;
    }
  }

  margin: 0 auto 20px auto;
  border-top: none;
  height: auto;
  overflow: hidden;

  .navigation {
    width: auto;
    overflow: hidden;
    clear: both;
    margin: 40px 0 50px 0;

    li {
      .floatleft();
      width: 25%;
      a {
        /*text-transform: uppercase;*/
        width: auto;
        float: none;
        padding: 0;
        text-align: center;
        height: 50px;
        line-height: 50px;
        /* margin-bottom:4px; */
      }

      &:last-child, &.last-item {
        a {
        }
      }

    }

    &.mobile-broadband {
      margin-top: 65px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
      &.plans {
        margin: 0 0 50px 0;
      }

      &.mobile-broadband {
        margin-top: 20px;
      }

      li {
        width: 33%;
      }
    }
  }

  .purchaseOptions {
    background-image: none;
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 50%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(50%, #ffffff), color-stop(100%, #f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 50%, #f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%, #ffffff 50%, #f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%, #ffffff 50%, #f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 50%, #f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=0); /* IE6-9 */

    border-bottom: 1px solid @linelightgrey;
    border-top: 1px solid  @linelightgrey;
    height: auto;
    position: relative;
    width: auto;
    display: none;
    margin: 0 0 30px 0;

    &.visible {
      display: block;
    }

    .purchaseOptionsWrapper {
      height: auto;
      overflow: hidden;
      padding: 20px 0 10px 0;

      .purchaseOptionsItems {
        display: block;
        height: auto;
        overflow: hidden;
        width: 100%;
      }

      .purchaseOptionsItem {
        display: inline-block;
        height: auto;
        margin-bottom: 10px;
        overflow: hidden;
        .padding-left(50%);
        width: auto;

        &.purchaseOptionsItemRight {
          .purchase-options-item-right();
        }

        .buttonWrapper {
          display: block;
          float: left;
          margin: 0 10px;
          overflow: visible;
          position: relative;
          width: auto;

          a {
            .margin-left(-50%);
          }
        }
      }
    }

    .bt-close {
      position: absolute;
      .posright(0);
      top: -1px;
      z-index: 999;
    }

    .fadeLeft {
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 35px;
      z-index: 9;
    }

    .fadeRight {
      bottom: 0;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 35px;
      z-index: 9;
    }

    @media screen and (max-width: 767px) {
      margin-top: 30px;

      .purchaseOptionsWrapper {
        .purchaseOptionsItems {
          .purchaseOptionsItem {
            .addaptPaddingRight(60%);
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      /* anything bigger than a phone */
      /*background: transparent url(../../images/buy-buttons-background-large.png) 0 0 repeat-x*/
    ;
      height: auto;

      .purchaseOptionsWrapper {
        height: auto;
        text-align: center;

        .purchaseOptionsItem {
          /*.floatleft();*/
          .padding-left(0);
          min-width: 140px;
          width: 24%;
          position: relative;
          z-index: 10;

          .buttonWrapper {
            a {
              .margin-left(0);
            }
          }

          &.purchaseOptionsItemLeft {
            .buttonWrapper {
              .floatright();
            }
          }

          .purchase-options-item();

        }
      }

      .fadeLeft, .fadeRight {
        height: 100%;
      }
    }
    &.purchaseOptionsBroadband {
      clear: both;
      float: none;
      height: auto;
      overflow: hidden;

      .purchaseOptionsWrapper {
        height: auto;
        overflow: hidden;

        @media screen and (max-width: 479px) {
          padding-top: 30px;
        }
      }
      .tabs {
        display: block;
        height: auto;
        overflow: hidden;
        width: 100%;

        .items {
          display: block;
          height: auto;
          margin: 0 auto;
          overflow: hidden;
          width: 305px !important;
          @media screen and (max-width: 479px) {
            width: 241px !important;
          }
        }
        .item {
          .floatleft();
          background: @white;
          border: 1px solid @linelightgrey;
          .borderright(0px);
          display: block;
          height: 50px;
          line-height: 50px;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 150px;

          @media screen and (max-width: 479px) {
            width: 118px;
          }

          &.first {
            .left-corners();
          }
          &.last {
            .right-corners();
          }
          &.selected {
            .inset-box-shadow();
            background-image: none;
            background: @verylightgrey;
            a {
              background-image: none;
              background: @verylightgrey;
              color: @pink;

              &:hover {
                background-image: none;
                background: @verylightgrey;
              }
            }
          }
          a {
            background: #ffffff; /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* IE10+ */
            background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0); /* IE6-8 */

            .CoHeadlineRegular();
            color: @lightgrey;
            display: block;
            font-size: 1.2em;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            padding: 0 20px;
            text-align: center;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 110px;

            &:hover {
            }

            @media screen and (max-width: 479px) {
              width: 78px;
            }
          }
        }
      }
      .purchaseOptionsItems {
        height: auto;
        overflow: hidden;
        width: 100%;

        @media screen and (max-width: 479px) {
          padding: 0;
          width: 290px;
        }

        .purchaseOptionsItem {
          display: none;
          height: auto;
          overflow: hidden;
          padding: 0;
          width: 100%;

          &.selected {
            display: block;
          }

          &.content {
            padding: 0;
          }

          .intro {
            display: block;
            height: auto;
            margin: 20px auto 0;
            overflow: hidden;
            width: 80%;
            text-align: center;
            .title {
              .CoHeadlineLightRegular(1.5);
              color: @pink;
              font-size: 1.3em;
              text-align: center;
            }
            .description {
              .CoHeadlineLightRegular(1.1);
              color: @darkgrey;
              font-size: 1em;
              text-align: center;
              a {
                color: @darkgrey;
                tet-decoration: underline;
              }
            }
            .buttonWrapper {
              float: none;
              display: inline-block;
              margin: 25px auto 0;

              @media screen and (max-width: 767px) {
                margin-top: 0;
              }

              a {
                margin-left: 0;
              }

            }
          }
          .boxes-wrapper {
            display: block;
            height: auto;
            margin: 20px auto 0;
            overflow: hidden;
            width: 720px;

            @media screen and (max-width: 479px) {
              width: 270px;
            }

            @media screen and (min-width: 480px) and (max-width: 767px) {
              width: 440px;
            }

            @media screen and (min-width: 768px) and (max-width: 999px) {
              width: 700px;
            }

            @media screen and (min-width: 1170px) {
              width: 800px;
            }

            @media screen and (min-width: 1600px) {
              width: 1000px;
            }

            .box {
              .rounded-corners();
              background: @white;
              border: 1px solid @linelightgrey;
              display: block;
              float: left;
              height: auto;
              margin: 0 10px 20px 10px;
              overflow: hidden;
              padding: 10px 20px 10px 70px;
              position: relative;
              width: 248px;
              @media screen and (max-width: 479px) {
                float: none;
                margin: 0 auto 20px auto;
                width: 150px;
              }

              @media screen and (min-width: 480px) and (max-width: 767px) {
                float: none;
                margin: 0 auto 20px auto;
                width: 270px;
              }

              @media screen and (min-width: 768px) and (max-width: 999px) {
                width: 238px;
              }

              @media screen and (min-width: 1170px) {
                width: 287px;
              }

              @media screen and (min-width: 1600px) {
                width: 388px;
              }

              .box-icon {
                background-color: transparent;
                background-position: center center;
                background-repeat: no-repeat;
                bottom: 0;
                left: 0;
                position: absolute;
                right: auto;
                top: 0;
                width: 70px;
                &.box-icon-tel {
                  background-image: url(../../images/ico_tel.png);
                }
                &.box-icon-mobile {
                  background-image: url(../../images/ico_mobile.png);
                }
                &.box-icon-web {
                  background-image: url(../../images/ico-buy-online.png);
                }
                &.box-icon-device {
                  background-image: url(../../images/ico_device.png);
                }
                &.box-icon-store {
                  background-image: url(../../images/ico-buy-store.png);
                }

              }
              .box-text {
                .CoHeadlineLightRegular();
                .defaulttextalign();
                color: @pink;
                font-size: 1em;
                line-height: 1.3em;
                span { color: @medgrey; }
                a, a:visited, a:hover {
                  color: @pinkalt;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modTopInfo {

  position: relative;
  width: auto;
  height: 425px;
  .padding-left(410px);
  margin-top: 40px;
  padding-bottom: 60px;

  h2 {
    margin: 20px 0 0;
    .CoHeadlineLightRegular(1.2em);
    font-size: 1.1em;
    //padding-right: 17px;
  }

  &.music {

    height: 400px;

    .slideshowContainer {
      height: 400px;
      .itemsW {
        height: 400px;
        .items {
          width: 330px;
          .item {
            height: 400px;
          }
        }
      }
    }

  }

  .slideshowContainer {
    width: 330px;
    height: 485px;
    overflow: hidden;
    position: absolute;
    top: 0;
    .posleft(37px);

    &:hover, &.buttonsHover {
      .buttonScroll {
        .opacity(1);
      }
      .buttonScroll.inactive {
        .opacity(0);
      }
    }

    .pagination {
      bottom: 52px;
    }

    .itemsW {
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      width: 100%;
      .posleft(0);
      height: 485px;

      .items {
        width: 330px;
        height: auto;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;

        .animated;

        .item {
          width: 330px;
          height: 485px;
          .floatleft();

          .pic {
            width: 100%;
            height: 100%;

            img {
              max-width: 100%;
              max-height: 100%;
              margin: 0 auto;
              vertical-align: bottom;
              .box-reflect();
            }
          }
        }

      }
    }
  }

  .product-name {

    .CoHeadlineBold(1.3);
    font-size: 3em;
    color: @darkergrey;

    .producer {
      display: block;
      font-size: 0.714em;
      .CoHeadlineLightRegular();
    }

  }

  .price-hint {
    position: absolute;
    bottom: 118px;
  }

  .btn-price, .btn-large {
    position: absolute;
    bottom: 85px;
    .value {
      font-size: 2.2em;
    }
    .label {
      font-size: 1.1em;
    }
  }

  .info {
    position: absolute;
    bottom: 65px;
    font-size: 0.9em;

    .stock {
      .newDuMedium();
      color: @green;
    }
  }

  .social {
    height: 20px;
    width: 270px;
    display: block;
    padding: 20px 0;
    position: relative;
    clear: both;
    .rating {
      width: 86px;
      height: 13px;
      background-image: url(../../images/rating_stars_sml.png);
      background-repeat: no-repeat;
      overflow: hidden;
      .background-position(left, top);
      .floatleft();
      span {
        display: block;
        height: 13px;

        background-image: url(../../images/rating_stars_full_sml.png);
        background-repeat: no-repeat;
        .background-position(left, top);
      }
    }
    img {
      .floatleft();
      .margin-left(10px);
    }
  }

  .description-list {
    list-style: disc;
    font-size: 1em;
    color: @darkergrey;
    .CoHeadlineLightRegular(1.2em);
    margin: 20px;

    &.with-icons {
      list-style: none;

      li {
        position: relative;
        .padding-left(5px);
        .margin-left(0px);
        line-height: 1.4em;

        &::before {
          font-family: "duicons";
          font-style: normal;
          font-weight: normal;
          speak: none;
          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          text-align: center;
          font-variant: normal;
          text-transform: none;
          line-height: 1em;
          font-size: 15px;
          color: @darkgrey;
          .flip();
          content: '\e82c';
          position: absolute;
          .posleft(-20px);
          top: 5px;
        }

        &.desc-voice::before {
          content: '\e801';
        }

        &.desc-discount::before {
          content: '\e81e';
        }

        &.desc-flex-mins::before {
          content: '\e806';
        }

      }

    }

    /*border-bottom: 1px solid #D8D8D8;*/
    li {
      margin: 0 0 5px 0;
      line-height: 1.2em
    }
  }

  .description {
    font-size: 1.1em;
    color: @darkergrey;
    .CoHeadlineLightRegular(1.3);
    margin: 20px 0;

    .more {
      color: @blu;
      .CoHeadlineRegular(1.3);
      font-size: 0.857em;
      .link-du;
      text-decoration: underline;
    }
  }
  //TODO refactor D.Lukianenko
  //refactor block start
  /*-------Special Offers details-------*/
  &.mobile-specialOffer-detail {
    min-height: 205px;
    .tabl-mob-resolution {
      display: none;
    }
    .pic-frame {
      .posleft(37px);
      overflow: hidden;
      position: absolute;
      top: 0;
      line-height: 1em;
      div {
        width: 330px;
        height: 245px;
      }
    }

    h1 {
      font-family: 'DuCoHeadlineRegular';
      font-size: 2.3em;
      line-height: 30px;
    }

    h2 {
      margin: 30px 0 0 0;
      font-family: 'DuCoHeadlineLightRegular';
      font-size: 1.2em;
      line-height: 20px;
      //padding-right: 17px;
    }

    .btn.btn-price {
      &.just-buy {
        position: inherit;
        .floatleft();
        width: auto;
        margin-top: 30px;
        .label {
          //.floatleft();
          width: auto;
        }
      }

      position: inherit;
      .floatleft();
      width: 330px;
      .label {
        //.floatleft();
        width: 205px;
      }
    }

  }
  /*-------Heandseds details-------*/
  &.heandset {
    .tabl-mob-resolution {
      display: none;
    }
    .ctaW {
      height: 147px;
    }
  }

  /*----TopInfoForPlans------*/
  &.mobile-plans-detail {
    min-height: 285px;
    height: auto;
    margin-top: 15px;
    padding-bottom: 30px;
    .tabl-mob-resolution {
      display: none;
    }
    .slideshowContainer {
      height: 275px;
      .itemsW .items .item .pic img {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -o-border-radius: 6px;
        -ms-border-radius: 6px;
      }
    }
    .pagination {
      bottom: 0px !important;
    }
    .buttonScroll {
      display: none;
    }
    .btn-large, .btn-price {
      bottom: 40px;
    }
    .social-buttons {
      margin: 15px 0 0
    }

    @media (max-width: 767px) {
      padding-bottom: 10px;

      .slideshowContainer {
        width: 290px;
        height: auto;
        padding-bottom: 30px;
        margin-bottom: 20px;
        .itemsW {
          .items {
            .item {
              min-width: 290px;
              height: auto;
              .pic {
                min-width: 290px;
                height: auto;
              }
            }
          }
        }
      }
      .btn-large, .btn-price {
        bottom: 0;
        margin-bottom: 0;
      }
    }
    @media (min-width: 767px) and (max-width: 999px) {
      min-height: 285px;
      height: auto;
    }
    .pic-frame {
      .posleft(37px);
      overflow: hidden;
      position: absolute;
      top: 0;
      line-height: 1em;
      div {
        width: 330px;
        height: 245px;
      }
      h4 {
        margin-top: 30px;
        color: @pink;
        font-family: 'DuCoHeadlineRegular';
        font-size: 2em;
      }
      h6 {
        color: @darkergrey;
        font-family: 'DuCoHeadlineLightRegular';
        font-size: 1.5em;
        line-height: 50px;
      }

    }

    ul.detal-info {
      list-style: none !important;
      margin: 20px 0;
      max-width: 370px;
      li {
        height: 30px;
        line-height: 30px;
        border-top: 1px solid #D8D8D8;
        margin: 0;
        /*text-transform: uppercase;*/
        padding: 0 10px 0 10px;
        span {
          .floatright();
          font-family: 'DuCoHeadlineRegular';
          p {
            font-family: 'DuCoHeadlineLightRegular';
            .floatleft();
          }
        }
      }
      &:last-child {
        border-bottom: 1px solid #D8D8D8;
      }
    }

    h1 {
      font-family: 'DuCoHeadlineRegular';
      font-size: 2.3em;
      line-height: 30px;
    }

    h2 {
      margin: 20px 0 0 0;
      font-family: 'DuCoHeadlineLightRegular';
      font-size: 1.2em;
      line-height: 20px;
    }

    .btn.btn-price {
      position: inherit;
      .floatleft();
      width: 370px;
    }
  }

  /*----TopInfoForBroadband------*/
  &.mobile-broadband-detail {
    /* height: 370px; */
    .tabl-mob-resolution {
      display: none;
    }
    .pic-frame {
      .posleft(37px);
      overflow: hidden;
      position: absolute;
      top: 0;
      line-height: 1em;
      div {
        width: 330px;
        height: 245px;
      }
      h4 {
        margin-top: 30px;
        color: @pink;
        font-family: 'DuCoHeadlineRegular';
        font-size: 2em;
      }
      h6 {
        color: @darkergrey;
        font-family: 'DuCoHeadlineLightRegular';
        font-size: 1.5em;
        line-height: 50px;
      }

    }

    ul.detal-info {
      list-style: none !important;
      margin: 20px 0;
      max-width: 370px;
      li {
        height: 30px;
        line-height: 30px;
        border-top: 1px solid #D8D8D8;
        margin: 0;
        /*text-transform: uppercase;*/
        padding: 0 10px 0 10px;
        span {
          .floatright();
          font-family: 'DuCoHeadlineRegular';
          p {
            font-family: 'DuCoHeadlineLightRegular';
            .floatleft();
          }
        }
      }
      &:last-child {
        border-bottom: 1px solid #D8D8D8;
      }
    }

    h1 {
      font-family: 'DuCoHeadlineRegular';
      font-size: 2.3em;
      line-height: 30px;
    }

    h2 {
      margin: 30px 0 0 0;
      font-family: 'DuCoHeadlineLightRegular';
      font-size: 1.2em;
      line-height: 20px;
    }

    .btn.btn-price {
      position: inherit;
      .floatleft();
    }
  }

  /*--------------*/
  //refactor block ends
}

@media screen and (max-width: 767px) {

  .modDetail {

    .purchaseOptionsWrapper {

      .purchaseOptionsItem {

        &.purchaseOptionsItemLeft {
          .purchase-options-item-left();
        }

      }
    }

    margin: 0 auto 20px auto;

    .navigation {

      li {
        a {
          height: 38px;
          line-height: 38px;
        }
      }
    }
  }

  .modTopInfo {

    position: relative;
    width: auto;
    height: auto;
    .padding-left(0);
    padding-bottom: 10px;
    margin-top: 0;

    &.music {

      height: auto;

      .slideshowContainer {
        width: 200px;
        height: 250px;
        .itemsW {
          .items {
            width: 200px;
            .item {
              width: 200px;
            }
          }
        }
      }

    }

    .slideshowContainer {
      width: 165px;
      height: 250px;
      overflow: hidden;
      position: relative;
      .posleft(0);
      top: 0;
      margin: 15px auto 0 auto;

      .pagination {
        bottom: 15px;
      }

      .itemsW {
        height: 250px;
        .items {
          width: 165px;
          .item {
            width: 165px;
            height: 250px;
            .pic {
              height: 200px;
            }
          }
        }
      }
    }

    .product-name {
      text-align: center;
      font-size: 1.846em;
      .producer {
        font-size: 1em;
      }
    }

    .ctaW {
      position: relative;
      left: -50%;
      float: right;
      clear: both;

      .btn {
        position: relative;
        left: 50%;

      }
    }

    .btn-price, .btn-large {
      margin: 0 auto;
      bottom: 0;
    }

    .info {
      position: inherit;
      overflow: hidden;
      height: 23px;
      width: 245px;
      left: 22px;
      bottom: -8px;
      .info-left();

    }

    .social {
      margin: 0 auto;
      padding: 20px 0 10px 0;
    }

    //TODO refactor D.Lukianenko
    //refactor block start
    /*-------Special Offers details-------*/
    &.mobile-specialOffer-detail {
      min-height: 500px;
      padding: 0;
      .tabl-mob-resolution {
        display: block;
      }
      h1:not(.tabl-mob-resolution),
      h2:not(.tabl-mob-resolution),
      .ctaW:not(.tabl-mob-resolution) {
        display: none;
      }
      h1.tabl-mob-resolution,
      h2.tabl-mob-resolution {
        text-align: center;
        max-width: 370px;
        width: auto;
      }

      h1.tabl-mob-resolution {
        //min-height: 70px;
        line-height: 30px;
        margin: 0 auto;
      }
      h2.tabl-mob-resolution {
        margin: 40px 0 0 0;
        .defaulttextalign();
        position: relative;
        .posleft(68px);
        width: 305px;
      }
      .ctaW.tabl-mob-resolution {
        margin: 0 auto;
        max-width: 370px;
        float: none;
        .posleft(12px);
        top: 23px;
        width: auto;
        .btn {
          width: 303px;
          top: 0;
          .posleft(16px);
          .floatleft();
          span.price {
            width: auto;
          }
          span.label {
            width: auto;
          }
        }
      }

      .pic-frame {
        overflow: hidden;
        position: relative;
        margin: 20px 0 0 0;
        max-width: 370px;
        width: auto;
        .posleft(0);
        div {
          width: 230px;
          height: 155px;
          margin: 0 auto;
        }
      }
    }
    /*-------Heandseds details-------*/
    &.heandset {
      .tabl-mob-resolution {
        display: block;
      }
      .ctaW:not(.tabl-mob-resolution) {
        display: none;
      }
      .ctaW {
        height: auto;
      }
      .info {
        width: auto;
        margin: 0 auto;
        max-width: 238px;
        left: 0;
        text-align: center;
      }
    }

    /*----TopInfoForPlans------*/
    &.mobile-plans-detail {
      .tabl-mob-resolution {
        display: block;
      }
      h1:not(.tabl-mob-resolution),
      h2:not(.tabl-mob-resolution),
      .pic-frame h4:not(.tabl-mob-resolution),
      .pic-frame h6:not(.tabl-mob-resolution),
      .ctaW:not(.tabl-mob-resolution) {
        display: none;
      }

      h1.tabl-mob-resolution,
      h2.tabl-mob-resolution,
      .wrapper.tabl-mob-resolution {
        text-align: center;
        max-width: 370px;
        width: auto;
      }

      h1.tabl-mob-resolution {
        line-height: 30px;
      }

      h2.tabl-mob-resolution {
        margin: 105px 0 0 0;
      }

      .ctaW.tabl-mob-resolution {
        /*.floatleft();
        .posleft(16px);
        top: 30px;
        .btn {
          width: auto;
          .posleft(16px);
          span.price {
            width: auto;
            position: relative;
            padding: 0 10px;
            line-height: 22px;
            font-size: 1.0em;
          }
          span.label {
            padding: 0 40px;
            width: auto;
          }
        }*/
      }

      .pic-frame {
        overflow: hidden;
        position: relative;
        margin: 20px 0 0 0;
        max-width: 370px;
        width: auto;
        .posleft(0);
        div {
          margin: 0 auto;
        }
      }

      ul.detal-info {
        width: auto;
        margin: 30px 0 20px 0;
      }
      .wrapper.tabl-mob-resolution {
        h4 {
          margin-top: 30px;
          color: @pink;
          font-family: 'DuCoHeadlineLightRegular';
          font-size: 1.5em;
        }
        h6 {
          color: @darkergrey;
          font-family: 'DuCoHeadlineLightRegular';
          font-size: 1.125em;
          line-height: 50px;
        }
      }
    }
    /*--------------*/

    /*----TopInfoForBroadband------*/
    &.mobile-broadband-detail {
      .tabl-mob-resolution {
        display: block;
      }
      h1:not(.tabl-mob-resolution),
      h2:not(.tabl-mob-resolution),
      .pic-frame h4:not(.tabl-mob-resolution),
      .pic-frame h6:not(.tabl-mob-resolution),
      .ctaW:not(.tabl-mob-resolution) {
        display: none;
      }
      h1.tabl-mob-resolution,
      h2.tabl-mob-resolution,
      .wrapper.tabl-mob-resolution {
        text-align: center;
        max-width: 370px;
        width: auto;
      }

      h1.tabl-mob-resolution {
        line-height: 30px;
      }
      h2.tabl-mob-resolution {
        margin: 105px 0 0 0;
      }
      .ctaW.tabl-mob-resolution {
        .floatleft();
        .posleft(16px);
        top: 30px;
        .btn {
          width: auto;
          .posleft(16px);
          span.price {
            width: auto;
            position: relative;
            padding: 0 10px;
            line-height: 22px;
            font-size: 1.0em;
          }
          span.label {
            padding: 0 40px;
            width: auto;
          }
        }
      }

      .pic-frame {
        overflow: hidden;
        position: relative;
        margin: 20px 0 0 0;
        max-width: 370px;
        width: auto;
        .posleft(0);
        div {
          margin: 0 auto;
        }
      }

      ul.detal-info {
        width: auto;
        margin: 30px 0 20px 0;
      }
      .wrapper.tabl-mob-resolution {
        h4 {
          margin-top: 30px;
          color: @pink;
          font-family: 'DuCoHeadlineLightRegular';
          font-size: 1.5em;
        }
        h6 {
          color: @darkergrey;
          font-family: 'DuCoHeadlineLightRegular';
          font-size: 1.125em;
          line-height: 50px;
        }
      }
    }
    /*--------------*/

    //refactor block ends
  }
}

//TODO refactor D.Lukianenko
//refactor block start
@media screen and (max-width: 480px) {
  .modTopInfo {
    /*-------Special Offers details-------*/
    &.mobile-specialOffer-detail {
      h2.tabl-mob-resolution {
        .posleft(28px);
        width: 263px;
      }
      .ctaW.tabl-mob-resolution {
        .btn.btn-price {
          width: 261px;
        }

      }
    }
    /*-------Heandseds details-------*/
    &.heandset {
      .social-buttons,
      .description-list {
        position: relative;
        .posleft(25px);
      }
    }
    /*----TopInfoForPlans------
    &.mobile-plans-detail {
      .ctaW.tabl-mob-resolution {
        .posleft(0);
        .btn {
          .posleft(0);
          span.price {
            width: 168px;
          }
          span.label {
            padding: 0 30px;
          }
        }
      }
    }*/
    /*----TopInfoForMobileBroadband----*/
    &.mobile-broadband-detail {
      .ctaW.tabl-mob-resolution {
        .posleft(0);
        .btn {
          .posleft(0);
          span.price {
            width: 168px;
          }
          span.label {
            padding: 0 30px;
          }
        }
      }
    }
    /*----------------------------------*/
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .modTopInfo {
    /*-------Special Offers details-------*/
    &.mobile-specialOffer-detail {
      .btn-price-long-description {
        min-width: 300px !important;
      }
    }
    /*-------Heandseds details-------*/
    &.heandset {
      .social-buttons,
      .description-list {
        position: relative;
        .posleft(105px);
      }
    }
    /*----TopInfoForPlans------*/
    &.mobile-plans-detail {
      .btn-big {
        .posleft(8px) !important;
        width: 325px;
        .price {
          width: 180px !important;
        }
      }
    }
    /*----TopInfoForMobileBroadband------*/
    &.mobile-broadband-detail {
      .posleft(32px);
      .ctaW.tabl-mob-resolution {
        .posleft(20px);
        .btn {
          .posleft(0);
          span.price {
            width: 200px;
          }
          span.label {
            padding: 0 30px;
          }
        }
      }
    }

    /*----------------------------------*/

  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .modTopInfo {
    /*-------Special Offers details-------*/
    &.mobile-specialOffer-detail {
      //min-width: 300px !important;
      .btn-price-long-description {
        width: 328px !important;
        .label {
          width: 200px !important;
        }
      }
    }
    /*----TopInfoForPlans------*/
    &.mobile-plans-detail {
      .btn-big {
        width: 325px !important;
        .price {
          width: 180px;
        }
        .label {
          width: 75px;
        }
      }
    }
    /*----TopInfoForBroadband------*/
    &.mobile-broadband-detail {
      .btn-big {
        width: 325px !important;
        .price {
          width: 180px;
        }
        .label {
          width: 75px;
        }
      }
    }
    /*------------------------*/
  }
}

//refactor block ends
.social-buttons {
  margin: 25px 0 30px 0;
  .social-button {
    margin-right: 10px;
    .floatleft();

    &:nth-child(1) {
      width: 80px;
      .margin-left(0);
      iframe {
        width: 80px !important;
      }
    }
    &:nth-child(2) {
      width: 60px;
      iframe {
        width: 60px !important;
      }
    }
    &:nth-child(3) {
      width: 72px;
      iframe {
        width: 72px !important;
      }
    }
  }
}

h4.highlight {
  font: 20px/26px 'DuCoHeadlineLightRegular';
  text-align: center;
  width: 80%;
  margin: 0 10% 30px
}


.cta-block {
  .btn {
    float: none;
    display: inline-block;
    margin: 0 10px 20px;
  }
}