.sticky {
  position: fixed;
  width: auto !important;
  z-index: 500;
  border-top: 5px solid @bordermedgrey;

  //.box-shadow(0px, 5px, 25px, -14px, rgba(0,0,0,0.75));

  &.sticky-top {
    top: 41px;
    @media (max-width: @screen-md-max) {
      right: 40px;
      left: 40px;
    }
  }

  &.sticky-bottom {
    top: auto;
    bottom: 0;
  }

  @media (max-width: 999px) {
    left: 0;
    right: 0;
    //padding-bottom: 10px !important;
  }

  @media (min-width: 1000px) {
    left: 160px;
    right: 0;
  }

  @media (min-width: 1170px) {
    right: 160px;
  }

}

.sticky-top,
.sticky-bottom {

  padding: 20px 0 30px;
  height: auto;
  background-color: @verylightgrey;
  border-top: 1px solid @bordergrey;
  border-bottom: 1px solid @bordergrey;

  &.bgwhite {
    background: @white;

    .arrow {
      z-index: 999;
      .arrow-inner {
        border-top-color: @white !important;
      }
    }
  }

  @media (max-width: @screen-md-max) {
    padding-bottom: 20px;
  }

  form {
    margin: 0;
    h3 {
    }
    .group {
      margin: 0;
      .control {
        .floatright();
        width: inherit;
        text-indent: 7px;
        @media (max-width: 480px) {

        }
      }
      .btn {
        margin: 15px 0 0;
        width: inherit;
        //float: none;
      }
      .bullets {
        bottom: -3px;
      }
    }
    table {
      width: 70%;
      margin: -5px 0;
      tr {
        td, th {
          padding: 0 0 5px;
        }
      }
    }

    .help {
      display: none;
    }
  }

  .sticky-content {
    max-width: 1015px;
    margin: auto;
    @media (max-width: @screen-xl-max) {
      max-width: 810px;
    }
    @media (max-width: @screen-lg-max) {
      max-width: 810px;
    }
    @media (max-width: @screen-md-max) {
      max-width: 740px;
    }

    .open {

      h3.black {
        display: none;
      }

    }

    .closed {

      h3.title {
        display: none;
      }
      h3.black {
        display: block;
        margin: 0;
      }
      form {
        table {
          display: none;
        }
      }

    }


    .breakdown {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 999;

      &:after {
        .icon(14px);
        content: '\e80d';
      }
      &.hide:after {
        content: '\e80e';
      }
    }

    @media (max-width: @screen-md-max) {
      max-width: 50%;
    }
  }

  &.floating {
    width: 200%;
    //position: relative;
    //z-index: 500;
    //.floatleft();
    //top: auto;
    //left: auto;
    //right: auto;

    margin: -10px -50% 0;
    .clearfix();
  }

}

.sticky-top {

  position: relative;
  z-index: 500;
  .box-shadow(0px, 5px, 25px, -14px, rgba(0,0,0,0.75));

  .headerWrapper {
    width: 100%;
    margin: 0 0 25px;
    position: relative;
    margin: 0 auto;

    .header-image {
      background: #000 url(../../images/postpaid-bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 150px;
      margin-top: -22px;

      [dir=rtl] & {
        background: #000 url(../../images/postpaid-bg.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .header-content {
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      .txt-box {
        .rounded-corners2(0,12px,12px,0);
        width: 100%;
        border-left: 10px solid @pink;
        margin: 25px 0;
        padding: 10px 20px;
        .box-sizing();
        position: relative;

        &:before {
          content: ' ';
          .rounded-corners2(0,12px,12px,0);
          width: 100%;
          height: 100%;
          background: @white;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
          .opacity(0.9);
        }

        h1{
          font-size: 44px;
          //.CoHeadlineBold();
          position: relative;
          z-index: 2;
          margin-top: 0;
        }

        h3{
          font-size: 24px;
          .CoHeadlineLightRegular();
          color: @blu;
          position: relative;
          z-index: 2;
        }
      }

      [dir="rtl"] & {
          right: 0;
          left: auto;

          .txt-box {
              .rounded-corners2(12px,0,0,12px);
              border-left: 0;
              border-right: 10px solid @pink;

              &:before {
                  content: ' ';
                  .rounded-corners2(12px,0,0,12px);
                  left: auto;
                  right: 0;
              }

              h1, h3 {
                  text-align: right;
              }
          }
      }
    }

    @media (max-width: @screen-xl-max) {
      .header-content {
        .txt-box {
          margin: 30px 0;

          h1 {
            font-size: 38px;
          }
          h3 {
            font-size: 20px;
          }
        }
      }
    }

    @media (max-width: @screen-lg-max) {
      .header-content {
        .txt-box {
          margin: 35px 0;

          h1 {
            font-size: 34px;
          }
          h3 {
            font-size: 18px;
          }
        }
      }
    }

    @media (max-width: @screen-md-max) {
      .header-image {
        height: 110px;
      }
      .header-content {
        width: 60%;
        height: 110px;

        .txt-box {
          margin: 20px 0;

          h1{
            font-size: 20px;
          }
          h3 {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }

    @media (max-width: @screen-sm-max) {
      .header-image {
        height: 110px;
      }

      .header-content {
        width: 60%;
        height: 110px;

        .txt-box {
          margin: 10px 0;

          h1{
            font-size: 20px;
          }
          h3 {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }

    @media (max-width: @screen-xs) {
      .header-content {
        width: 70%;

        .txt-box {

          margin: 13px 0;

          h1{
            font-size: 18px;
          }
          h3 {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }

  }

  .choose-package-title {
    padding: 10px 0;
    border-top: 1px solid @bordermedgrey;
    border-bottom: 1px solid @bordermedgrey;

    &.sub-title {
      border-bottom: 0;
      padding-bottom: 0;
    }

    h2, h4 {
      .CoHeadlineRegular();
      color: @darkgrey;
      font-size: 18px;
      color: @mediumgrey;

      @media (max-width: @screen-sm-max) {
        font-size: 16px;
      }

      @media (max-width: @screen-xs) {
        font-size: 14px;
        padding: 0 10px;
      }

    }
  }

  .sticky-content {

    h4 {
      font-size: 16px;
      margin-bottom: 15px;
    }

  }

  .arrow {
    .down-triangle(@bordermedgrey, 50%, 3s);
    .margin-left(-15px);
    .arrow-inner {
      .inner-down-triangle(@verylightgrey);
    }
  }

  &.bgwhite {

    /*.txt-box {
      background: none !important;
      border: 0 none !important;

      h1 {
        color: @white !important;
      }

      h3 {
        color: @white !important;
      }
    }*/
  }

  .plan-filters {
    //.borderright(@bordermedgrey);
    padding-top: 20px;
    padding-bottom: 20px;

    .price {
      border-right: 1px solid @bordermedgrey;
    }

    .filter-catg {
      display: block;
      width: 90%;
      padding: 0 0 10px;
      margin: 0 auto;
      //.floatleft();
      //margin: 0 10px;


      &.price {
        //margin-right: 30px;
      }

      h4 {
        color: @mediumgrey;
        font-size: 16px;
        margin-bottom: 10px;
        //padding-left: 10px;

        @media (max-width: @screen-xs) {
          font-size: 14px;
        }

      }

      &.contract {
        h4 {
          //padding-left: 0;
        }
      }

      .catg-content {
        width: 100%;
        padding: 0 35px;
        height: 60px;
        position: relative;
        //width: 60px;
        .animatedSlower;

        .round-box {
          background: @white;
          .rounded-corners(50%);
          border: 1px solid @blu;
          width: 60px;
          height: 60px;
          display: table;
          position: relative;
          z-index: 2;

          a {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            cursor: pointer;
          }

          .filter-value {
            display: none;
            color: @white;
            font-size: 12px;
            line-height: 12px;
            vertical-align: middle;
            padding-bottom: 3px;

            .value {
              .CoHeadlineRegular();
              font-size: 14px;
            }
            .measure {
              display: block;
              font-size: 10px;
            }
          }
        }

        .du-slider {
          .animatedSlower;
          padding: 25px 0 5px 0;
          border-top: 1px solid @blu;
          border-bottom: 1px solid @blu;
          width: 0;
          height: 60px;
          //position: absolute;
          //top: 0;
          //left: 30px;
          background: @white;

          #price-slider {
            [dir=rtl] & .noUi-origin {
                background: #09c;
            }
          }

          #contract-slider {
            display: none;
          }

          .labels {
            text-align: center;
            color: @textmedgray;
            padding-top: 10px;

            li {
              display: inline-block;
              font-size: 12px;
              cursor: pointer;

              &.first {
                .floatleft();
                .margin-left(-15px);
              }
              &.last {
                .floatright();
                .margin-right(-15px);
              }

              &.active {
                .FontCoHeadlineRegular();
                color: @blu;
              }
            }
          }

          .half-round {
            .rounded-corners(50%);
            border: 1px solid @blu;
            width: 60px;
            height: 60px;
            position: absolute;
            z-index: -1;
            top: 0;

            &.right {
              left: auto;
              right: 0;
            }
            &.left {
              right: auto;
              left: 0;
            }
          }

        }

        &.selected {
          //width: 390px;

          .round-box {
            background: @blu;

            a {
              display: none;
            }

            .filter-value {
              display: table-cell;
            }
          }
          .du-slider {
            width: 100%;
            padding: 20px 10px 10px;
            .box-sizing();

            #contract-slider {
              display: block;
            }
          }
        }

      }
    }

    @media (max-width: @screen-sm-max) {
      padding: 15px 0;
      .price {
        border: 0 none;
        margin-bottom: 10px;
      }
      .filter-catg {

      }
    }
  }

  .plan-sub-filters {
    padding-top: 15px;
    padding-bottom: 20px;
    //.defaulttextalign();

    a {
      color: @textgray;
      padding: 5px 0 5px;
      display: inline-block;
      margin: 0 20px;

      &:before {
        content: ' ';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px -4px 0;
        border: 1px solid @blu;
        .rounded-corners(50%);

        [dir=rtl] & {
          margin: 0 0 -4px 5px;
        }
      }

      &:hover, &.selected {
        color: @blu;
      }

      &.selected {
        color: @blu;

        &:before {
          font-family: 'duicons';
          content: '\E832';
          border: 0 none;
          .rounded-corners(0);
          font-size: 22px;
          position: relative;
          bottom: -3px;
        }
      }
    }
  }

  .show-hide-filters {
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
  }

  .selection {
    padding: 15px 0;
    cursor: pointer;
    background: @white;

    @media (max-width: @screen-sm-max) {
      padding: 10px 0;
    }

    & > div {
      display: inline-block;
      padding: 0 15px;
      .borderleft(@bordermedgrey);

      &:first-child {
        border: 0 none;
      }

      h6 {
        @media (max-width: @screen-sm-max) {
          font-size: 14px;
        }
        @media (max-width: @screen-xs) {
          font-size: 13px;
        }
      }

      h5 {
        @media (max-width: @screen-sm-max) {
          font-size: 16px;
          margin: 2px 0;
        }
        @media (max-width: @screen-xs) {
          font-size: 14px;
        }
      }
    }
  }

}

.sticky-bottom {
  border-color: @bordermedgrey;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 200ms;
  transform: translateY(0%);
  padding-bottom: 20px;

  .cta {
    .btn {
      margin-bottom: 0;

      @media (max-width: @screen-xs-max) {
        margin: 0 2px;
      }
    }
  }

  .payment-sticky {

    h4 {
      font-family: "DuCoHeadlineRegular", Arial, sans-serif;
      margin-bottom: 10px;
      margin-top: 0;
    }

    .balance {
      font: 18px/16px 'DuCoHeadlineRegular';
      margin: 0;
      .floatleft();

      .aed {
        font: 17px/18px 'DuCoHeadlineRegular';
      }
    }
    .min-due-info {
      @media (max-width:@screen-sm-max) {
        margin: 0 0 10px;
      }
      h4 {
        font: 14px/18px "DuCoHeadlineLightRegular", Arial, sans-serif;
        margin-left: 10px;
        display: inline;
        color: @mediumgrey;
      }
    }

    .btn {
      .floatright();
    }

    @media (max-width:@screen-xs-max) {
      h3 {
        font-size: 14px;
        text-align: center;
        margin: 0 0 10px;
      }
      .btn {
        width: 100%;
        max-width: @screen-xs-max;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: @screen-md-max) {
    .sticky-content {
      max-width: 100%;
    }
  }

}