
/* MODULE: PRODUCT 1A */


.slider {
    .sliders;
}

.product {
    .subtitle {
        font-size: 1.8em;
        color: #666666;
        font-family: 'DuCoHeadlineRegular';
        line-height: 1.2em;
        margin-bottom: 15px
    }
}


.modProduct {
    position: relative;
    overflow: hidden;
    padding: 0 0 33px 0;
    margin: 0 0 50px 0;
    clear: both;

    &.divider {
        .dividers3px;
    }

    &.no-slider {
        padding: 0 0 0 0;

        .slider {
            display: none;
        }
    }

    &:hover, &.buttonsHover {
        .buttonScroll {
            .opacity(1);
        }

        .buttonScroll.inactive {
            .opacity(0);
        }
    }

    h3.title {
        .modTitle;
        padding-bottom: 25px;
        z-index: 0 !important;
        margin-bottom: 0;
    }
	
    .filters {
				background:transparent;
				float:left;
				font-size:12px;
				height:20px;
				line-height:22px;
				position:absolute;
				.posright(2px);
				 /*text-transform: uppercase;*/ 
				top:10px;
				width:auto;
				
				a {
					span {
						background:transparent url(../../images/arr1_down.png) no-repeat;
						.background-position(right, center);
						display:block;
						.padding-right(20px);
					}
				}
				
				&:hover {
					a {
						color: #B2E7F4;
						span {
							background-image:url(../../images/arr1_up.png);
						}
					}
					.filterssubNav{ display:block; }
				}
						
				.filterssubNav{
					position:absolute; 
					top:22px; 
					.posright(4px); 
					white-space:nowrap;
					
					display:none;  
					-webkit-box-shadow:  0px 0px 8px 2px rgba(0, 0, 0, 0.4);
					box-shadow:  0px 0px 8px 2px rgba(0, 0, 0, 0.4);
					.rounded-corners (7px);
					z-index:9999;
				
				.subA{ 
					display:block; color:@blu; .padding-right(40px); .padding-left(25px); background:#fff;
					&:hover{ color:#fff; }
				}
				
				li:first-child{
					.subA{.rounded-corners2 (7px, 7px, 0, 0); }
				}
				li:last-child{
					.subA{.rounded-corners2 (0, 0, 7px, 7px); }
				}
				
				li:hover{ 
					.subA{background:@blu; color:#fff; }
				}
				
			}
			
			@media screen and (max-width: 490px) { 
				display:none;
			}
		}
     
    .itemsW {
        overflow: hidden;
        padding: 0 0 0 0;
        position: relative;
        height: 390px;
    }

    .items {
        height: auto;
        left: 0;
        min-height: 75px;
        overflow: hidden;
        position: absolute;
        width: 99999px;
        .animatedFast;


        &.withDetails .item {
            background: url(../../images/border.png) repeat-y;
            .background-position(right, top);

            &:last-child {
                background: none;
            }
        }


        .item {
            .floatleft();
            width: 195px;
            padding: 5px 0;




            .pic {
                clear: both;
                position: relative;
                margin: 0 auto 20px auto;

                .imgW2 {
                    position: absolute;
                    display: block;
                    clear: both;
                    bottom: 0;
                    float: left;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }

                .imgW1 {
                    left: -50%;
                    float: right;
                    position: relative;
                    width: 100%;
                    height: 100%;
                }

                .imgW0 {
                    position: relative;
                    display: block;
                    left: 50%;
                    float: left;
                    width: 100%;
                    height: 100%;
                }

                img {
                    margin: 0 auto;
                    .box-reflect-grey();
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .txt {
                clear: both;
                text-align: center;
                overflow: hidden;
            }

            .title {
                margin: 0 5px 5px 5px;

                a {
                    color: @darkergrey;
                    font-size: 1.4em;
                    .CoHeadlineBold(1.4);
                }

                .brand {
                    display: block;
                    .CoHeadlineLightRegular(1.4);
                }

                .model {
                    display: block;
                    .CoHeadlineBold(1.4);
                }
                
            }



            .ctaW {
                position: relative;
                left: -50%;
                margin-bottom: 5px;
                float: right;
                clear: both;
                min-height: 32px;
                
                .price-from {
                 display: block;
                 font-size: 12px;
                 line-height: 12px;
                }
                
                .striked {
                    text-decoration: line-through;
                    font-size: 14px;
                }

                .btn {
                    position: relative;
                    left: 50%;
                }
            }
            
            .price-info {
                margin: 5px 0 10px;
                
                .btn {
                    height: auto;
                    line-height: 20px;
                }
            }




            .detail {
                clear: both;

                dl {
                    margin: 10px 10px 15px 10px;
                    text-align: center;
                }

                dt {
                    .CoHeadlineRegular();
                    color: @darkergrey;
                    margin: 0 0 10px 0;
                    font-size: 0.9em; /*text-transform: uppercase;*/
                }

                dd {
                    .CoHeadlineLightRegular();
                    color: @darkergrey;
                    margin: 0 0 20px 0;
                    font-size: 1.1em;
                }

                .facebook {
                    background: url(../../images/ph/fb.png) 0 0 no-repeat;
                    width: 90px;
                    height: 14px;
                    margin: 0 auto 20px auto;
                }

                .twitter {
                    background: url(../../images/ph/twitter.png) 0 0 no-repeat;
                    width: 94px;
                    height: 17px;
                    margin: 0 auto 20px auto;
                }
            }
        }
        /* closure item */
    }
    /* closure items */
    /*
		&.broadband {
			.items {
				.item {
					.pic {
						height: 105px;
						margin: 0 -5px 20px;
						img {
							max-height: 105px;
						}
					}
				}
			}
		} */

    .cta-block {
        text-align: center;
        padding: 0;
        .download-app {
            display: inline-block;
            padding: 15px 10px 0;
            img {
                width: 100%;
                max-width: 318px;
            }
        }
    }

    @media screen and (min-width: 320px) { /* 320px - 480px - 768px */
        margin: 0 0 40px 0;

        .itemsW {
            height: 310px;
        }

        .items {
            .item {
                width: 150px;

                .pic {
                    width: 140px;
                    height: 150px;

                    .badge {
                        .CoHeadlineBold();
                        background: 0 0 no-repeat;
                        .background-image-new-m();
                        display: block;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        position: absolute;
                        text-align: center;
                        top: 5px;
                        .posleft(5px);
                        color: #fff;
                        font-size: 1em;
                        display: block;
                    }
                }
            }
            /* closure item */
        }
        /* closure items */
        &.handsets {
            .items {
                .item {
                    .pic {
                        width: 140px;
                        height: 150px;
                    }
                }
            }
        }

        &.plans, &.specialOffers, &.broadband {
            .items {
                .item {
                    .pic {
                        width: 140px;
                        height: 95px;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 320px) and (max-width: 479px) {
        .itemsW {
            height: 330px;
        }

        .items {
            .item {
                width: 145px;
            }
        }
    }

    @media screen and (min-width: 480px) and (max-width: 768px) {
        .itemsW {
            height: 330px;
        }

        .items {
            .item {
                width: 150px;
            }
        }
    }


    @media screen and (min-width: 768px) and (max-width: 999px) {
        .items {
            .item {
                width: 148px;
            }
        }
    }


    @media screen and (min-width: 1000px) and (max-width: 1599px) {

        .itemsW {
            margin: 0 1px;
        }

        .items {
            .item {
                width: 202px;
            }
        }
    }

    @media screen and (min-width: 1000px) {
        margin: 0 0 50px 0;

        .itemsW {
            height: 390px;
        }

        .items {
            .item {
                /*width:195px; 
				.margin-right(10px);   
				&:last-child, &.last-item{ .margin-right(0); }
				*/
                .pic {
                    width: 185px;
                    height: 200px;
                    /*img{
						max-height:200px;
					}*/
                    .badge {
                        background: 0 0 no-repeat;
                        .background-image-new();
                        display: block;
                        width: 69px;
                        height: 69px;
                        line-height: 69px;
                        position: absolute;
                        text-align: center;
                        top: 0px;
                        left: 10px;
                        color: #fff;
                        font-size: 1.4em;
                        display: block;
                    }
                }
            }
            /* closure item */
        }
        /* closure items */
        &.handsets {
            .items {
                .item {
                    .pic {
                        width: 185px;
                        height: 200px;
                    }
                }
            }
        }

        &.plans, &.specialOffers, &.broadband {
            .items {
                .item {
                    .pic {
                        width: 185px;
                        height: 125px;
                    }
                }
            }
        }
    }



    @media screen and (min-width: 1600px) { /* desktop */
        .items {
            .item {
                width: 203px;
            }
        }
    }
}

// TODO: convert to less format
.dropdown{display:inline-block;position:relative}
.dropdown .btn{cursor:pointer}
.btn .caret{margin-left:0}
.caret{border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid;display:inline-block;height:0;margin-left:2px;vertical-align:middle;width:0}
.bs-example > .dropdown > .dropdown-menu{clear:left;display:block;margin-bottom:5px;position:static}
.dropdown-menu{background-clip:padding-box;background-color:#fff;border:1px solid rgba(0, 0, 0, 0.15);border-radius:4px;box-shadow:0 6px 12px rgba(0, 0, 0, 0.176);display:none;float:left;font-size:14px;right:0;list-style:none outside none;margin:2px 0 0;min-width:160px;padding:5px 0;position:absolute;text-align:left;top:100%;z-index:1000}
.dropdown-menu > li > a{clear:both;color:#323232;display:block;font-weight:400;line-height:1.42857;padding:3px 20px;white-space:nowrap;font-family:'DuCoHeadlineLightRegular'}
.dropdown-menu > li > a:hover{text-decoration:underline}
.modProduct .items .item:last-child, .modProduct .items .item.last-item{ .margin-right(10px); }

.mobile-filter{margin:0 0 30px;text-align:center;width:100%}
.mobile-filter .selectric{}