﻿.modTilesProduct {

	.itemsW {
		height: auto !important;
		overflow: hidden;
	}
	
	.items {
		.item {
			.rounded-corners(0px);
			border-color:transparent; 
			margin-bottom:30px;
			margin:inherit !important;
			.margin-right(5px);

			.title {
				font-size: inherit;
				height:50px;
				overflow:hidden;
			}
		
			&:hover {
				background: #fff;
			}

			 
			@media screen and (max-width:479px) {}

			@media screen and (min-width:480px) and (max-width:767px) {}

			@media screen and (min-width:768px) and (max-width:999px) {}

			@media screen and (min-width:1000px) and (max-width:1169px) {}

			@media screen and (min-width:1170px) and (max-width:1604px) {}

			@media screen and (min-width:1605px) {}
		}
	}

	&.specialOffers,
	&.plans {
		.items {
			.item {
				.pic {
					img {}
				}

				.detail {
					margin:0 5px;
					text-align:center;
				}

				.specialOffersDetails {
					margin:25px 5px;
				}
			}
		}
	}

}