.modPlansDetail {
  margin: 30px 0 30px 0;
  border-top: none;
  height: auto;
  overflow: hidden;

  .detailW {
    position: relative;
    width: 100%;

    .title {
      .floatleft();
      margin: 10px auto;
      .pic {
        width: 95px;
        height: auto;
        .floatleft();
        .box-reflect-grey();
        margin: 0 0 20px 10px;
      }
      .tit {
        font-size: 2.1em;
        .CoHeadlineRegular();
        color: @blu;
        width: 130px;
        .floatleft();
        margin-left: 20px;
      }
    }

    .columns {
      position: relative;
      margin: 0;
      padding: 10px;
      border-top: 1px solid @linelightgrey;
      border-bottom: 1px solid @linelightgrey;
      .floatleft();
      .column-gap(10px);
      .column-count(2);

      overflow: hidden;
      height: 150px;
      width: 290px;

      .column {
        .floatleft();
        width: 45%;
      }

      .item {
        width: 100%;
        .floatleft();
        margin: 5px;

        .column-break-before(avoid);

        .itemTit {
          .CoHeadlineRegular();
          font-size: 1.05em;
          color: @medgrey;
        }
        .itemTxt {
          .CoHeadlineRegular();
          font-size: 1.05em;
          color: @darkergrey;
          margin-top: 5px;
          .currency {
            .CoHeadlineLightRegular();
          }
        }
      }
    }

    .text {
      margin: 10px;
      .floatleft();
      position: relative;
      .txt {
        .newDu();
        font-size: 1.0em;
        color: @darkergrey;
        line-height: 17px;
      }
      .btn {
        width: 250px;
        margin: 20px auto 0 auto;
        float: none;
      }
    }

    @media screen and (min-width: 320px) {

    }

    @media screen and (min-width: 480px) {

      .columns {
        .floatleft();
        padding: 10px;
        .column-gap(10px);
        .column-count(3);
        height: 100px;
        width: 450px;

        .column {
          .floatleft();
          width: 32%;
        }
        .item {
          margin-top: 10px
        }
      }

    }

    @media screen and (min-width: 768px) {

      .title {
        .floatleft();
        margin: 0;
        .padding-left(180px);
        width: 555px;
        .pic {
          width: 160px;
          position: absolute;
          .posleft(0);
          top: 0;
        }
        .tit {
          width: 100%;
          margin: 0 0 20px 10px;
          font-size: 3.2em;
        }
      }

      .columns {
        .floatright();
        .column-count(3);
        margin: 0;
        padding: 10px 0;
        height: 130px;
        width: 550px;

        .column {
          .floatleft();
          width: 30%;
        }
        .item {
          padding: 8px 0 8px 0;
          margin: 0;
          .itemTit {
            font-size: 1.05em;
          }
          .itemTxt {
            font-size: 1.2em;
          }
        }
      }

      .text {
        margin: 40px 10px 10px 10px;
        width: 715px;
        .floatleft();
        .txt {
          .floatleft();
          width: 500px;
        }
        .btn {
          width: 145px;
          .floatright();
          margin: 0;
        }
      }

    }

  }

  @media screen and (min-width: 1000px) {
    .detailW {
      .title {
        .padding-left(220px);
        .pic {
          width: 190px;
          position: absolute;
          .posleft(0);
          top: 0;
        }
        .tit {
          margin: 0 0 20px 0px;
        }
      }

      .columns {
        width: 590px;
      }

      .text {
        width: 790px;
        .txt {
          width: 600px;
        }
      }
    }
  }

  @media screen and (min-width: 1600px) {
    .detailW {
      .columns {
        width: 795px;
      }

      .text {
        width: 990px;
        .txt {
          width: 700px;
        }
      }
    }
  }
}

body.android .modPlansDetail .detailW .title .pic {
  -webkit-box-reflect: below 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAyCAYAAACUEBHwAAAAIklEQVQ4jWP8//8/AzpgwhAZFRwVHBUctIIsDAwMXFQWBAAW4QORoT0UUQAAAABJRU5ErkJggg==) !important;
}

.plan-cards {
  padding: 20px 0;

  &.innerContainer {

    background: #efefef;
    overflow: hidden;
    //padding-bottom: 50px;

    //-webkit-box-shadow: 0px 6px 12px -5px rgba(0,0,0,0.52);
    //-moz-box-shadow: 0px 6px 12px -5px rgba(0,0,0,0.52);
    //box-shadow: 0px 6px 12px -5px rgba(0,0,0,0.52);

    .card-content {
      background: @white;
    }

    @media (max-width: @screen-sm-max) {
      .item0 {
        width: 50%;
        .floatleft;
        .borderright(@blu);
      }

      .item1 {
        width: 50%;
        .floatleft;
      }

      h5 {
      }

      .benefits {
        .floatleft;
      }
    }

    /*.item0 {
      width: 50%;
      .floatleft;
      .borderright(@blu);
    }

    .item1 {
      width: 50%;
      .floatleft;
    }

    h5 {
    }

    .benefits {
      .floatleft;
    }*/

  }

  .card-item {
    margin: 40px 0 15px;

    .card-content {
      text-align: center;
      position: relative;

      .rounded-corners2(12px, 12px, 0, 0);

      .notice {
        position: absolute;
        padding: 3px 10px;
        height: 25px;
        background: @darkerblu;
        color: white;
        top: -25px;
        left: 0;
        right: 0;
        .rounded-corners2(12px, 12px, 0, 0);
        margin: 0 28%;
        text-transform: uppercase;
        font-size: 12px;

        &.popular {
          //background: @orange;
        }
        &.premium {
          background: @orange;
        }
      }

      .you-pay {
        border: 1px solid @pink;
        border-bottom: 0 none;
        .rounded-corners2(12px, 12px, 0, 0);

        h4 {
          background: @pink;
          color: @white;
          .CoHeadlineRegular(2);
          font-size: 18px;
          margin: 0;
          padding: 5px 0;
          .rounded-corners2(11px, 11px, 0, 0);

          @media (max-width: @screen-sm-max) {
            .CoHeadlineRegular(1.5);
            font-size: 14px;
          }
        }

        h5 {
          color: @pink;
          .FontCoHeadlineRegular();
          font-size: 36px;
          margin: 0;
          padding: 20px 0 15px;

          small {
            font-family: "DuCoHeadlineLightRegular", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
            font-size: 14px !important;
            line-height: 14px !important;
            padding-right: 3px;
          }

          @media (max-width: @screen-sm-max) {
            font-size: 24px;
            padding: 15px 0 10px;
          }
        }
      }

      .you-get {
        border: 1px solid @blu;

        .highlight {
          background: @verylightgrey;
        }

        h4 {
          background: @blu;
          color: @white;
          .CoHeadlineRegular(2);
          font-size: 18px;
          margin: 0;
          padding: 0 0 5px;

          @media (max-width: @screen-sm-max) {
            font-size: 14px;
            .CoHeadlineRegular(1.5);
          }
        }

        h5 {
          color: @blu;
          .CoHeadlineRegular(1);
          font-size: 36px;
          margin: 0;
          padding: 5px 0 0;


          small {
            color: @darkgrey;
            font-size: 14px !important;
            line-height: 14px !important;

            &.aqua {
              color: @blu !important;
            }
          }

          @media (max-width: @screen-sm-max) {
            font-size: 24px;
          }

        }

        h6 {
          color: @lightgrey;
          padding: 0 0 10px;
          border-bottom: 1px solid @blu;

          @media (max-width: @screen-sm-max) {
            padding-bottom: 7px;
          }
        }

        .benefits {
          padding: 0 30px;

          > div {
            padding: 0 0 10px;
            border-bottom: 1px solid @bordermedgrey;
          }

          h5 {
            padding-top: 10px;
            line-height: 0;

            small {
              line-height: 18px !important;
            }

            /*[class^="icon-"]:before,
            [class*=" icon-"]:before {
              line-height: 14px;
            }*/

            @media (max-width: @screen-sm-max) {
              padding-top: 7px;
            }

          }

          h6 {
            padding-bottom: 0;
            border-bottom: 0 none;
            //border-bottom-color: @bordermedgrey;

            @media (max-width: @screen-sm-max) {
              padding-bottom: 0;
            }

          }
        }

        .extra {
          padding: 10px 0 !important;

          img {
            display: inline-block;
            width: 40%;

            @media (max-width: @screen-sm-max) {
              width: 30%;
            }
          }

          h3 {
            display: inline-block;
            padding: 5px 0;
            line-height: 0;
          }
        }


        .card-cta {
          padding: 10px 0 10px !important;
          clear: both;

          .btn {
            width: 45%;
            margin: 0 1%;
          }

        }

        @media (max-width: @screen-md-max) {
          /*.item0 {
            width: 50%;
            .floatleft;
            .borderright(@blu);
          }
          .item1 {
            width: 50%;
            .floatleft;
          }

          h5 {
            //font-size: 1.5em;
          }

          .benefits {
            .floatleft;
          }*/

        }

      }
    }
    @media (max-width: @screen-md-max) {
      margin-top: 30px;
    }

  }
}
