.faqs {
  ul{
    list-style: none !important;
    padding: 15px 0 0;

    li{
      list-style: none !important;
      width:100%;
      margin:0 0 15px !important;

      h3{
        font-size:1em;
        padding:10px;
        margin:0;
        border:1px solid @linemedgrey;
        cursor:pointer;
        background:@verylightgrey;
        line-height:17px;
      }

      div{
        padding:0 10px 10px;
        border:1px solid @linemedgrey;
        border-top:0;
        border-bottom-width:2px;

        p{
          line-height:16px;
          padding:15px 0 0;
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.list1{
  .CoHeadlineLightRegular(1.3em);
  font-size: 14px;
  list-style:disc outside none;
  margin:0 20px 15px;

  li{
    margin:0 0 5px;
  }
}

ol.list1{
  list-style-type:decimal;
}

.txt {
  p {
    strong {
      .CoHeadlineRegular();
      display:inline-block;
      position: relative;
      z-index: 0;
      bottom: -15px;
    }
  }
}