.login-register2 {
    @media (min-width: @screen-md-min) {
        margin-top: 20px;
    }

    #quickpay {
        > .col-md-6 {
            .extra-margins {
                font-size: 16px;
                line-height: 25px;
                margin-top: 0;
            }
        }

        form {
            .clearfix();
        }
    }

    .row>.col-md-6 {
        position: relative;
        // padding-bottom: 25px;
        // margin-bottom: 20px
    }
    .group i {
        font-size: 12px;
        position: absolute;
        left: -5px;
        top: 2px;
        &:before {
            font-size: 15px;
        }
    }
    .group p {
        padding-left: 20px;
    }
    p,
    h3 {
        color: #666666;
        position: relative;
    }
    h3 {
        font-size: 20px;
    }
    i:before {
        color: #666666;
        margin-right: 10px;
    }
    .group input {
        width: 100%;
        border-radius: 0px !important;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        -o-border-radius: 0px !important;
        -ms-border-radius: 0px !important;
    }
    .tabs {
        display: inline-block;
        margin: 30px 0;
        width: 100%;
        z-index: 100;
        @media (min-width: @screen-md-min) {
            width: 70%;
        }
        .icon {
            display: none;
            &:before {
                color: white;
                font-size: 12px;
                margin-right: 5px;
            }
        }
        .btn {
            font-size: 16px;
            font-family: 'DuCoHeadlineRegular';

            @media (max-width: @screen-sm-max) {
                font-size: 14px;

                &[tab-name="quickpay"] {
                    line-height: 18px;
                    padding-top: 3px;
                }
            }
        }
        a {
            -webkit-border-radius: 0px !important;
            -moz-border-radius: 0px !important;
            border-radius: 0px !important;
            border: 1px solid #0099cc;
            background: #fff;
            color: #0099cc;
            box-shadow: none !important;
            width: 49%;
            min-width: auto;
            display: inline-block;
            margin: 0;
            white-space: normal;
            &:first-child {
                -webkit-border-top-left-radius: 50px !important;
                -webkit-border-bottom-left-radius: 50px !important;
                -moz-border-radius-topleft: 50px !important;
                -moz-border-radius-bottomleft: 50px !important;
                border-top-left-radius: 50px !important;
                border-bottom-left-radius: 50px !important;
                float: left;
            }
            &:last-child {
                -webkit-border-top-right-radius: 50px !important;
                -webkit-border-bottom-right-radius: 50px !important;
                -moz-border-radius-topright: 50px !important;
                -moz-border-radius-bottomright: 50px !important;
                border-top-right-radius: 50px !important;
                border-bottom-right-radius: 50px !important;
                float: left;
            }
        }
        a.tab-active {
            border: 0 none;
            background: #0099cc;
            color: #fff;
            font-family: 'DuCoHeadlineRegular';
            .icon {
                display: inline;
                @media (max-width: @screen-sm-max) {
                    display: none;
                }
            }
        }
    }
    .tab-container p.text-center {
        @media (min-width: @screen-md-min) {
            text-align: left;
        }
    }
    /* .register-panel .bottom-links {
        @media (min-width: @screen-md-min) {
            position: absolute;
            bottom: 0;
        }
    }*/

    .register-panel {
        .row30 {
            display: none !important;
        }
        .btn {
            &.hollow {
                min-width: auto !important;
                width: 100%;
                .margin-left(0);
                .margin-right(0);
                margin-top: 0 !important;
            }
        }
    }

    .help-links {
        width: 100%;
        a {
            font-size: 14px;
            font-family: 'DuCoHeadlineRegular';
        }
        span {
            width: 15px;
            display: inline-block;
            color: #DDDFE2;
        }
        .right-link {
            width: 155px;
            display: inline-block;
            text-align: left;
        }
        .left-link {
            width: 155px;
            display: inline-block;
            text-align: right;
        }
        button {
            width: 100%;
            font-family: 'DuCoHeadlineRegular';
            font-size: 14px;
            margin-bottom: 20px;
            .margin-left(0);
            .margin-right(0);
            border-radius: 6px !important;
            -webkit-border-radius: 6px !important;
            -moz-border-radius: 6px !important;
            -o-border-radius: 6px !important;
            -ms-border-radius: 6px !important;
        }
        button.hollow {
            border: 1px solid #cc3399;
            color: #cc3399;
            background-color: white;
            box-shadow: none !important;
            @media (min-width: @screen-md-min) {
                margin-top: 28px;
                margin-bottom: 15px;
            }
        }
    }
    .hor-seperator-container {
        @media (min-width: @screen-md-min) {
            display: none;
        }
    }
    .hor-seperator {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #DDDFE2;
        line-height: 0.1em;
        margin: 25px 0 35px;
        span {
            background: #fff;
            padding: 0 15px;
        }
    }
    span.help {
        //  display: none !important;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        text-align: left;
    }
    #loginCenter .help {
        display: none !important;
    }
    @media (max-width: @screen-sm-max) {
        .row20.visible-xs {
            display: none !important;
        }
        .row30 {
            height: 10px;
        }
        .row>.col-md-6 {
            // margin-bottom: 20px
        }
        .sm-visible {
            display: inline-block;
        }
        .sm-hide {
            display: none;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 25px;
        }
        .extra-margins {
            margin-bottom: 30px;
        }
    }
    @media (min-width: @screen-md-min) {
        .sm-visible {
            display: none;
        }
        .sm-hide {
            display: inline-block;
        }
        .row30 {
            display: none;
        }
        h3 {
            margin-top: 0;
            font-family: 'DuCoHeadlineRegular';
        }
        .btn-large {
            height: 37px;
            line-height: 35px;
        }
        .extra-margins {
            margin-bottom: 30px;
            margin-top: 10px;
        }
    }
}

.modFeature1+.login-register2 {
    margin-top: 0;
}

[dir=rtl] & {
    .login-register2 {
        .group i {
            right: -8px;
        }
        .group.text-left {
            text-align: right;
        }
        .group p {
            padding-right: 20px;
        }
        i:before {
            margin-left: 10px;
        }
        .tabs {
            .icon {
                &:before {
                    margin-left: 5px;
                }
            }
        }
        .tab-container p.text-center {
            @media (min-width: @screen-md-min) {
                text-align: right;
            }
        }
        .help-links {
            .right-link {
                text-align: right;
            }
            .left-link {
                text-align: left;
            }
        }
        span.help {
            text-align: right;
        }
    }
}

.badge-notify {
    background: #B83CAC;
    position: relative;
    top: -6px;
    left: -112px;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: inline-block;
    box-shadow: 2px 2px 3px #888888;
    [dir=rtl] & {
        right: -105px;
        left: auto;
        box-shadow: -1px 2px 3px #888888;
    }
}

#map , .google-map{
                height: 400px;
                width: 100%;
       }