.modAboutMedia {
	
	margin: 0 0 50px 0; 
	border-top: none; 
	color: @darkergrey; 
	height: auto; 
	overflow: hidden;

	&.divider{.dividers;}
	h3.title, h3.title a {.modTitle; margin:0 0 0 0;}
	
	.col1 {width: 290px; height: auto; .floatleft();}
	.col2 {width: 250px; height: auto; .floatleft();}
	
	.col1, .col2 {
				
		.colTitle {.CoHeadlineBold(); font-size: 1.35em; color:@medgrey; text-transform:none; .floatleft(); width: 100%;}
		.subTitle {.newDu(); font-size: 1.05em; color:@medgrey; margin-top: 20px; .floatleft();}	
		.extraLink { /*text-transform: uppercase;*/  .CoHeadlineRegular(); font-size:14px; .floatleft(); text-decoration:underline; margin: 0 0 30px 0; .link-du}
		
		.fbPlaceholder {width:250px; height: auto; margin: 30px 0 0 0; .floatleft();}
			
		.items {line-height: 19px; margin-top: 20px; .floatleft(); width:100%;
			.item {
				width: 100%; 
				height: auto;	
				.floatleft(); 
				margin-bottom: 20px;
					
				.pic {
						display: none; 
						height: 85px; 
						width: 130px; 
						.rounded-corners; 
						.floatleft();
				}
				
				.text {
					.date {.CoHeadlineRegular(1.1); font-size: 1.077em;}
					.tit {.CoHeadlineBold(1.2); font-size: 1.385em;}
					.txt {
						font-size: 1.077em; .CoHeadlineLightRegular(1.25);
						
						.cta {color: @blu;  /*text-transform: uppercase;*/  text-decoration:underline; display: inline; font-size: 0.857em; .CoHeadlineRegular(1.1);
							a {.link-du}
						}
					}
				}
				
				.linkPic {width: 52px; height: 52px; .floatleft(); .rounded-corners;}
				.link {.CoHeadlineRegular(); font-size: 1.2em; color:@blu; text-decoration:none; .floatleft(); line-height: 52px; .margin-left(10px);
					a {.link-du}
				}
				
				.tweet {
					font-size: 1.077em; 
					.CoHeadlineLightRegular(1.25);
					
					.user {color:@blu;.floatleft();.margin-right(5px);
						a {.link-du}
					}	
				}
				.time { font-size: 0.9em; .CoHeadlineLightRegular(1.25);}

			}
		}	
	}
	
	@media screen and (min-width: 320px) and (max-width: 999px) {
		margin: 0 0 40px 0; 
	}
	
	@media screen and (min-width: 320px) and (max-width: 767px) {		
		.col1 { width:auto; }	
		.col2 { margin-top:30px; width:auto; }	
	}
	
	
	@media screen and (min-width: 768px) {

		.col1 {width: 450px; .floatleft();}
		.col2 {width: 250px; .floatright();}	
		
		.col1, .col2 {
			
			.subTitle {margin-top: 25px;}
			
			.items {
				&.items-tweets{ 
					.item {	
						margin-bottom:10px;	 
					}
				}
				
				.item {	
					margin-bottom:30px;			
					
					.pic {display: block; }
					.text {width: 300px; height: 115px; .floatleft(); .margin-left(20px); overflow:hidden;}
				}
			}
			
			.fbPlaceholder {width:250px;}
		}
	
	}
	
	@media screen and (min-width: 1000px) {
		
		.col1 {width: 500px; .floatleft();}
		.col2 {width: 300px; .floatright();}
		
		.col1, .col2 {
	
			.items {
				.item {				
					.pic {display: block; width: 170px; height: auto;}
				}
			}
			
			.fbPlaceholder {width:270px;}
		}
		
	}
	
	@media screen and (min-width: 1600px) {

		.col1 {width: 700px; .floatleft();}
		.col2 {width: 300px; .floatright();}
		
		.col1, .col2 {
	
			.items {
				.item {				
					.pic {display: block;}
					.text {width: 400px;}
				}
			}
	
		}

	}	
	 
}