#ourStores {

  .fixPaddingLeft{
    .padding-left(0);
  }

  .fixPaddingRight{
    .padding-right(0);
  }

  #mapOurStores,#mapOurStores1 {
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
    color: #5fd0aa;
    max-width: none;

    img {
      max-width: none !important;
    }

    .gm-style-iw {
      width: 250px !important;
      top: 15px !important;
      left: 0; //check
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
      border-radius: 4px;

      .innerMap{
        width : 250px !important;
        max-width: 250px !important;
        max-height: 250px !important;
      }
    }

    #content{
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;

      .buttonMap{
        padding: 8px 10px;
        .gradient-aqua;
        .CoHeadlineLightRegular;
        font-size: 13px;
        border-radius: 4px;
        color: @white;
        display: inline-block;
        margin: 0 auto;
        .margin-left(70px);
      }

      .header{
        .CoHeadlineRegular(1.1);
        color: @black;
        display: inline-block;
        width: 100%;
        background: @verylightgrey;
        border-bottom: 1px solid @lightgrey;
        padding: 10px 8px;
      }

      .topBlock{
        padding: 10px 8px;
        .CoHeadlineRegular(1.1);
        color: @black;

        .title{
          .CoHeadlineRegular(1.1);
          display: block;
        }

        .subtitle{
          display: block;
          .CoHeadlineLightRegular(1.1);
        }
      }

      .topBottom{
        padding: 10px 8px;
        .CoHeadlineRegular(1.1);
        color: @black;

        .title{
          .CoHeadlineRegular(1.1);
          display: block;
        }

        .subtitle{
          display: block;
          .CoHeadlineLightRegular(1.1);
        }
      }
    }

  }

  .researchInput{
    //adding spacing between buttons
    @media(max-width:@screen-md){

      .filter-btn:first-child {
          margin-top: 8px
      }

      .filter-btn:last-child {
          margin-bottom: 20px
      }

      .filter-btn+.filter-btn {
          margin-top: 15px;
      }
      
    }

    //END
    .group{
      .control{
        width: 100%;
      }
    }

    .blockChoise{
      display: inline-block;
      .margin-left(5px);
      margin-bottom: 15px;
      cursor: pointer;

      &:hover{
        .icon{
          .opacity(0.85);
        }
      }

      .desc{
        display: inline-block;
        .margin-left(5px);
        position: relative;
        top: -5px;
      }

      i.icon{
        &:before{
          font-size: 28px;
        }
      }
    }

  }

  .searchFields{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;

    .descr{
      .CoHeadlineRegular(1.1);
      display: block;
      margin-bottom: 10px;
    }

  }

  .areaShop{

    .tabMenu{
      background-color: @verylightgrey;
      display: inline-block;
      width: 100%;
      border-top: 1px solid @linemedgrey;
      .borderleft(@linemedgrey);
      .borderright(@linemedgrey);
      .bordertopleft(4px);
      .bordertopright(4px);
      text-align: center;
      padding: 13px 10px;
      //margin-bottom: 10px;
      .CoHeadlineRegular;
      cursor: pointer;

      &.map{
        .borderright(0);
      }

      &:hover{
        background-color: @white;
      }

      &.selected{
        background-color: @white;
      }
    }

    .switchBox{

      .openList{
        display: none;
        //border: 1px solid @bordermedgrey;

        .resultSearch{
          display: inline-block;
          width: 100%;
          border-bottom: 1px solid @linemedgrey;
          padding-bottom: 10px;
          margin: 10px 0;

          .descr{
            display: block;
            color: @linemedgrey;
            .defaulttextalign();
          }
        }

        .singleRow{
          margin-bottom: 10px;
          display: inline-block;
          border-bottom: 1px solid @linemedgrey;
          padding-bottom: 10px;

          .location{
            .descr{
              display: inline-block;
              vertical-align: top;
              width: 80%;

              .title{
                .CoHeadlineRegular;
                display: block;
              }

              .subtitle{

              }
            }
          }

          .timing{
            .descr{
              display: inline-block;

              .title{
                .CoHeadlineRegular;
                display: block;
              }

              .subtitle{

              }
            }
          }

          .actions{
            .floatright;

            .boxButtons{
              display: inline-block;

              .btn{
                float: none;
                margin-bottom: 10px;

                &.btn-info-light{
                  &:hover{
                    color: @blu;
                    .gradient-white();
                  }
                }
              }
            }
          }
        }

      }

    }
  }

}
