.modSpecs {
	margin: 0 0 30px 0; 
	position: relative;
	overflow:hidden; 
	height: auto;

	&.divider {.dividers;}
	h3.title,
	h3.title a {.modTitle; margin:0 0 0 0;}
	
	.columns {
		overflow:hidden;
		.column-gap(20px);
		.column-count(2);
		
		.item {
			margin-bottom: 20px;
			.column-break-before(avoid);
		
			display: inline-block;
			
			.text {color: @verydarkgrey; font-size: 0.9em; .newDu(); line-height: 18px; margin-top: 5px; }
			.subtitle {color: @blu; font-size: 0.9em;  /*text-transform: uppercase;*/  .newDuMedium();}
			.pic { 
				margin: 30px auto 0 auto; 
				img {
					width: 230px; 
					height: auto;
				}
			}
		}
	}


	@media screen and (min-width: 320px) and (max-width: 767px) {
		margin: 0 0 20px 0; 
		.columns {
			width: 290px;
			.column {
				float:left;
				margin-right:15px;
				width:130px;
			}
			.item {
				.pic {
					img {
						width: 130px; 
					}
				}
			}
		}		
	}
	
	@media screen and (min-width: 480px) {			
		.columns {
			height: auto;
			width: 450px;
			.column-count(3);
			.column {
				float:left;
				margin-right:10px;
				width:140px;
			}
		}
	}
	
	@media screen and (min-width: 768px) {		
		.columns {width: 740px;
			.column {
				float:left;
				/*margin-right:10px;*/
				width:236px;
			}
			
			.item {width: 100%;
				.text {font-size: 1.05em; line-height: 22px;}
				.subtitle {font-size: 1.05em;}
			}
		}	 
	}
	
	@media screen and (min-width: 1000px) {		
		margin: 0 0 30px 0; 
		.columns {
			width: 810px;
			.column {
				float:left;
				margin-right:20px;
				width:250px;
			}	
		}		
	}
	
	@media screen and (min-width: 1600px) {		
		.columns {
			width: 1015px;
			.column {
				float:left;
				margin-right:20px;
				width:315px;
			}	
		}		
	}
}