.modRating {
	margin: 0 0 50px 0;
	overflow:hidden;
	height: auto;

	.buttonScroll{ 
		.buttonsScroll;
		.opacity(0);
		display: none;
		
		&.inactive {
			.opacity(0);
			display: block;
		}
	}
	
	
	
	&:hover{
		.buttonScroll{
			.opacity(1);
			&.inactive {
				.opacity(0);
			}
		}
	}
	
	&.buttonsHover {
		.buttonScroll {
			.opacity(1);
			&.inactive {
				.opacity(0);
			}	
		}
	}
	
	&.divider{.dividers;}
	
	h3.title,
	h3.title a {
		.modTitle; margin:0 0 0 0;
	}
	
	.slider {
		.sliders;
	}
	
	.rating {
		width: 290px;
		margin: 0 auto 15px auto;
		height:auto;
		overflow:hidden;
		
		.resultsStars {
			margin: 0 auto;
			width: 180px;
			height:auto;
			overflow:hidden;
			
			.stars {
				width: 131px;
				height: 22px;
				background:url(../../images/rating_stars_lrg.png) 0 0 no-repeat;
				overflow: hidden;
				float: left;
				margin-right: 5px;
				
				span {
					display:block;
					height: 22px;
					background:url(../../images/rating_stars_full_lrg.png) 0 0 no-repeat;
				}
			}
			.value {
				.CoHeadlineBold();
				color: @blu;
				font-size: 2.0em;
				.floatleft();
			}
		}
		
		.resultsGraph {
			width: 205px;
			margin: 15px auto 0 auto;	
		}
		
		.giveRating {
			width: 130px;
			margin: 25px auto 0 auto;
			
			.txt {
				font-size: 1.2em;
				color: @medgrey;
				.CoHeadlineBold();
				text-align: center;
			}
			img {
				width: 105px;
				height: 16px;
				margin: 10px auto 0 auto;
			}
		}
		.feedback {
			.contactForm {
				.textArea {height:90px; margin: 15px auto 0 auto; width: 270px; resize: none;border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: none; background: #ededed; outline: none; padding: 10px; color: @lightgrey; font-size: 1.05em; .newDu(); -webkit-box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15); -moz-box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15); box-shadow: inset 4px 4px 4px -4px rgba(0,0,0,0.15);}
				
			.btn{ .floatright(); margin:10px 0 0 0; }
				
			}
		}
	}
	
	.comments {
		width: 290px;
		display: block;
		margin: 0 auto;
		
		.quotes {
			width: 290px;
			float: left;
			display: block;
			
			.title {
				.CoHeadlineBold();
				font-size: 1.2em;
				color: @darkgrey;
			}
			
			.quoteItems {
				.quoteItem {
					.newDuMedium();
					.text {
						font-size: 1.05em;
						color:@darkergrey;
						margin: 20px 0 10px 0;
						line-height:17px;
					}
					.link {
						font-size: 0.9em;
						color: @blu;
						text-decoration:underline;
						line-height:25px;
						.link-du;
					}
				}
			}
		}
		
		.liked {
			width: 290px;
			float: left;
			display: block;
			color:@darkergrey;
			margin-top: 30px;
			position: relative;
			overflow: hidden; 
			
			.title {
				.CoHeadlineBold();
				font-size: 1.2em;
				color: @medgrey;
				padding-bottom: 10px;
			}			
			
			.itemsW {
				width: 290px;
				overflow: hidden;
				position: relative;
				
				.items {
					margin-top: 10px;
					width: 600px;
					position:absolute;
					top:0;
					left:0;
					.animated();
					
					.item {
						width: 290px;
						float: left;
						position: relative;
						height: 170px;
						margin-bottom: 30px;
						
						.id {
							.pic {
								width: 49px;
								height: 49px;
								.floatleft();
								.padding-right(10px)
							}
							.name {
								.newDuMedium();
								font-size: 1.05em;
								display: block;
							}
							.locat {
								.newDu();
								font-size: 0.9em;
								margin-left:5px;
							}	
						}			
						
						.ratingBar {
							.floatleft();
							margin-top: 10px;
							position: absolute;
							top: 13px;
							.posleft(59px); 
							
							.date {
								.newDuBold();
								font-size: 0.9em;
								line-height: 22px;
								.floatleft();
								.margin-left(10px);
							}
							
							.stars {
								width: 107px;
								height: 16px;
								background:url(../../images/rating_stars_grey_lrg.png) 0 0 no-repeat;
								overflow: hidden;
								float: left;
								margin-right: 5px;
								.floatleft();
								margin-right:-5px;
								
								span {
									display:block;
									height: 16px;
									background:url(../../images/rating_stars_grey_full_lrg.png) 0 0 no-repeat;
								}
							}
						}		
						.text {
							
							margin-top: 10px;
							.floatleft();
							
							.txt {
								.CoHeadlineLightRegular(1.25); 
								font-size:1.077em; 
								text-overflow: ellipsis;
							}
							.more {
								color: @blu;
								 /*text-transform: uppercase;*/ 
								text-decoration:underline;
								white-space:nowrap;
								.link-du;
								font-size:0.857em;
								.CoHeadlineRegular(1.25); 
							}
						}			
						.response {
							.CoHeadlineRegular();
							margin-top: 10px;
							font-size: 1.05em;
							margin-bottom: 20px;	
							
							.text {
								font-size: 0.9em;
								.CoHeadlineRegular(1.5em);
								
								.good {
									.padding-left(20px);
									.margin-left(10px);
									background:url(../../images/rating_face_good.png) 0 0 no-repeat;
									.background-position(left, center);
									width: 18px;
									height: 18px;
									line-height: 18px;
								}
								.bad {
									.padding-left(20px);
									.margin-left(10px);
									background:url(../../images/rating_face_bad.png) 0 0 no-repeat;
									.background-position(left, center);
									width: 18px;
									height: 18px;
									line-height: 18px;
								}
							}
						}
					}
				}
			} 
			.link {
				.CoHeadlineRegular();
				font-size: 0.9em;
				text-decoration:underline;
				color: @blu;
				text-align: center;
				 /*text-transform: uppercase;*/ 
				position: relative;
				
				a {
					.link-du;
				}
			}
		}
	}
	
	@media screen and (min-width: 320px) and (max-width: 767px)  {
		
		.comments{ 
			.liked {
				width: 100%;
				
				.itemsW {
					width: 100%;
					.items {
						position:static;
						width: 100%;
						
						.item{
							float: none;
							width: auto;
							height:auto;
							clear:both;
							overflow:hidden;
							
							
							.id { 
								.name{ padding-top: 5px;}
							}
						}
					}
				}
			}
		}
		
		
		
		
		
	}
	
	@media screen and (min-width: 480px) {
		.ratings {}
		.comments {
			width: 450px;
			
			.quotes {
				width: 450px;
			}
		}
	}
	
	@media screen and (min-width: 768px) {
		.slider{.sliders; display: none;}
		
		.rating {width: 260px; .floatright();
			.resultsStars {margin: 0;}
			.resultsGraph {margin: 15px 0 0;}
			.giveRating {width: 180px; margin: 25px 0 0;
			.txt {font-size: 1.35em; color: @medgrey; .CoHeadlineBold(); margin-bottom: 5px;text-align: inherit;}
			img {margin: 5px 0 0;}
		}
		
			.feedback {
				.contactForm {
					.textArea {height:220px; width: 240px; margin-top: 15px;}
				}
			}
		}		
		
		.comments {width: 460px; .floatleft();
			.quotes {.floatleft();
				.title {font-size: 1.35em;}
				.quoteItems {width: 460px;
					.quoteItem {.newDuMedium(); -webkit-text-size-adjust:none;
						.text {.newDu(); font-size: 1.05em;}
						.link {.newDuMedium(); font-size: 1.05em; margin-top: 10px;}
					}
				}	
			}
				
			.liked {
				width: 460px; 
				.title {font-size: 1.35em; border-bottom: none; padding-bottom:0;}
				.itemsW {width: 460px; overflow:visible;
				
				 
				
					.items {width: 460px;position: relative;
						.item {width: 460px; margin-top: 20px; height: auto; float: none; clear: both;
							&:first-child {margin-top: 0px;}
							.id {width: 49px; height: 100%; .floatleft(); .padding-right(20px);
								.pic {width: 49px; height: 49px;}					
								.name {.floatleft(); .margin-left(0); margin-top: 5px; line-height: 14px;
									.locat {display: block; .floatleft(); .margin-left(0);}
								}
							}
							.ratingBar {.floatleft(); margin: 0; position: relative; top: 0; .posleft(0);  width: 390px; display: block;
								.date {.newDuBold(); font-size: 0.9em; line-height: 22px;.margin-left(10px);}
								
							}
							.text {float: none;
								.txt {
									
									margin-left: 10px; 
									display: block;
								}
								.cta {.newDuMedium(); font-size: 0.9em;}						
							}
							.response .text {font-size: 1.05em; .margin-left(70px); }
						}
					}
				}
				.link {font-size: 1.05em; text-transform:none; text-align:left;}
			}
		}
	}
	
	@media screen and (min-width: 1024px) {
		
				.rating {
				.feedback {
					.contactForm {
						.textArea {height:205px;}
					}
				}
			}
		.comments {width: 530px;
			.txt {margin-top: 25px;}
			quotes {
				.quoteItems {width: 530px;}
			}	

			.liked {width: 530px;
				.itemsW {width: 530px;
					.items {width: 530px;
						.item {width: 530px;
							.id {width: 49px; height: 100%; .floatleft(); .padding-right(20px);
								.pic {width: 49px; height: 49px;}					
								.name {.floatleft(); .margin-left(0); margin-top: 5px; line-height: 14px;
									.locat {display: block; .floatleft(); .margin-left(0);}
								}
							}
							.ratingBar { width:460px; }
						}
					}
				}
			}
		}
	}
	
	@media screen and (min-width: 1600px) {

	}
	
}

.half-touch {
	.modRating {
	 	.buttonScroll{display:block; opacity:1; filter:alpha(opacity=100);}
	 	.buttonScroll.inactive {
	 		opacity:0;
	 		filter:alpha(opacity=0);}
	}
}