#upgrdowngFixedPlans {

  .modDials {
    .current-hint {
      width: 35%;
    }
  }

  .tableBox{
    display: inline-block;
    width: 100%;
    border: 1px solid @bordergrey;

    .boxLeft{
      position: relative;
      .floatleft;
      display: inline-block;
      width: 35%;
      background-color: @verylightgrey;
      vertical-align: top;
      -moz-box-shadow:     1px 0 5px 0 @bordergrey;
      -webkit-box-shadow:  1px 0 5px 0 @bordergrey;
      box-shadow:          1px 0 5px 0 @bordergrey;

      &:before{
        content: "";
        width: 100%;
        height: 14px;
        background: url("../../images/navselect_active_arrow_dwn.png") 50% 0 no-repeat;
        position: absolute;
        top: -1px;
        left: 0;
      }

      .riga{
        padding: 10px;
        min-height: 130px;
        border-bottom: 1px solid @bordermedgrey;
        display: table;
        width: 100%;

        &.setLastRow{
          border-bottom: 0;
          min-height: 40px;
        }

        .groupHeader{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }

    .boxRight{
      display: inline-block;
      width: 65%;
      vertical-align: top;
      /*overflow-x: scroll;*/

      .contentScroll{
        width: 200%;

        .scrollBoxLeft{
          .floatleft;
          width: 50%;
        }

      }

      .riga{
        padding: 10px;
        min-height: 130px;
        border-bottom: 1px solid @bordermedgrey;
        display: table;
        width: 100%;
        text-align: right;

        &.setLastRow{
          border-bottom: 0;
          min-height: 40px;
        }

        .groupHeader{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}


@media screen and (max-width: 999px) and (min-width: 768px) {

  .homeServices{
    .tableBox {
      .boxRight {
        .contentScroll{
          .scrollBoxLeft{
            width: 154px !important;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 767px) and (min-width: 480px) {

  .homeServices{
    .tableBox {
      .boxRight {
        .contentScroll{
          .scrollBoxLeft{
            width: 146px !important;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 479px) and (min-width: 320px) {

  .homeServices{
    .tableBox {
      .boxRight {
        .contentScroll{
          .scrollBoxLeft{
            //width: 192px !important;
          }
        }
      }
    }
  }

}