.login-register {

  @media (min-width: @screen-md-min) {
    margin-top: 20px;
  }

  .row > .col-md-6 {
    position: relative;
    padding-bottom: 55px;
    margin-bottom: 50px
  }

  .group i {
    font-size: 12px;
  }

  .help-links {
    width: 100%;
    position: absolute;
    bottom: 0;
    .posleft(15px);
  }

  .help {
    display: none !important;
  }

  @media (max-width: @screen-sm-max) {
    .row20.visible-xs {
      display: none !important;
    }
    .row30 {
      height: 10px;
    }
    .row > .col-md-6 {
      margin-bottom: 50px
    }
  }

}
.modFeature1 + .login-register {
  margin-top: 0;
}