.modCompare {
	margin: 0 0 50px 0;
	
	.buttonScroll.buttonScrollPrevious {
		.compareButtonPrevious-LargeScreen();
	}
	.buttonScroll.buttonScrollNext {
		.compareButtonNext-LargeScreen();
	}
	&:hover{
		.buttonScroll{.opacity(1);}
		.buttonScroll.inactive{.opacity(0);}
	}
	
	&.buttonsHover {
		.buttonScroll{.opacity(1);}
		.buttonScroll.inactive{.opacity(0);}
	}

	&.divider{.dividers3px;}
	h3.title, h3.title a {.modTitle; margin:0 0 0 0;}

	.carousel {
		width: 810px; 
		position: relative; 
		overflow: hidden; 
		border-bottom:1px solid @linemedgrey; 
		margin: 15px auto;

		background-color: @verylightgrey;
		background-image:url(../../images/border.png); 
		background-repeat:repeat-y; 
		.background-position(left, top);
	}


	.current {
		.floatleft(); 
		width: 203px; 
		z-index:776; 
		position:relative;

		-webkit-box-shadow: 3px 0px 5px -2px rgba(187,189,191,0.65); 
		-moz-box-shadow: 3px 0px 5px -2px  rgba(187,189,191,0.65); 
		box-shadow: 3px 0px 5px -2px  rgba(187,189,191,0.65); 
		border-top:1px solid @linemedgrey;
		padding-bottom:40px;

		.arrow {
			width: 25px; 
			height: 14px; 
			background: url(../../images/navselect_active_arrow_dwn.png) 0 0 no-repeat; 
			position: absolute;
			top: -1px; 
			.posleft(90px);
		}

	} // current
	

	.current, .itemsW{
		
		.pic {
			clear:both; 
			position:relative; 
			padding:20px 0;
			width:185px;
			margin:0 auto;

			img {
				margin:auto; 
				width: auto; 
				height: auto;
				max-width: 100%; 
				max-height: 100%;
				.box-reflect-grey();
			}
		} // pic

		.txt {
			clear:both; 
			text-align:center;
			
			h4.title {
				/*margin:0 0 15px 0;*/
				min-height: 30px;
				font-size: 1.3em; 
				color: @darkgrey;

				 .brand {
					display:block; 
					.CoHeadlineLightRegular();
				}

				.model {
					display:block; 
					.CoHeadlineBold();
				}
				.desc {
					display: block;
					font-size: 0.8em;
					line-height: 17px;
					font-family: 'DuCoHeadlineLightRegular';
					padding: 20px 10px 0;
				}
			}
			
		
			.price {
				margin-top: 15px;
				font-size: 1.35em; 
				.CoHeadlineRegular(); 
				color: @darkergrey;
			
				.aed {font-size: 0.9em; color: @darkergrey; margin-right: 5px;  /*text-transform: uppercase;*/ }
			}
			

			.ctaW {
				margin:10px 0;
				position: relative;
				left: -50%;
				float: right;
				clear: both;

				.btn { 
					position: relative;
					left: 50%;
				}
			}

			

		} // txt
		



		.dl {
			
			clear:both;
			margin-top:20px; 
			text-align:center;
			width: 100%; 
			position: relative; 
	
			li{
				
			}

			.dt {
				
				font-size:1.1em; 
				color:@darkgrey;
				
				.CoHeadlineRegular();
				line-height: 32px;

				white-space:nowrap; 
				overflow:hidden; 
				text-overflow:ellipsis; 

				display: block; 
				
				background: transparent url(../../images/compare-separator.gif) center center repeat-x; 
		
			}

			.dd{
				display: block; 
				
				font-size:1.1em; 
				.CoHeadlineLightRegular(); 
				line-height: 33px;

				white-space: nowrap;
				overflow: hidden;
				margin: 0 10px;

			}
			
			
  .dt:before {
    content: url("../../images/grey_en-dash.png");
    padding-right: 3px;
    vertical-align: super;
  }
  .dt:after {
    content: url("../../images/grey_en-dash.png");
    padding-left: 3px;
    vertical-align: super;
  }

			/* temp placeholder */
			.facebook {background:url(../../images/ph/fb.png) 0 0 no-repeat; width:90px; height:14px; margin:15px auto;}
			.twitter {background:url(../../images/ph/twitter.png) 0 0 no-repeat; width:94px; height:17px; margin:15px auto;}
	
			
		}// DL

	


	
	} // .current, .itemsW




	/* related items */

	.itemsW {
		width:606px; 
		overflow:hidden; 
		margin: 0;
		position: relative; 
		border-top:1px solid @linemedgrey; 
		/*border-right: 1px solid @linemedgrey;*/

		
		background:url(../../images/border.png) repeat-y; 
		.background-position(right, top);

		.items {
			width: 9999px; 
			overflow:hidden; 
			position:absolute; 
			top:0; 
			left:0; 
			.animatedFast; 
			background-color: #fff;


			.item { 
				width:202px; 
				.floatleft(); 
				position: relative; 
				background:url(../../images/border.png) repeat-y; 
				.background-position(right, top);

				&.popular {
					    border: 1px solid #d62bad;
				}
				


				/*.borderright(
					@linemedgrey 
				);*/ 

				
			}
		}

		.dl{
			.dt{
				.hidden-text();
				line-height:38px
			}
		}

		

	} // itemsw



	
	.slide {
		background:#fff;
		height: 40px;
		position: absolute;
		width: 606px;
		border-top: 1px solid #E5E5E5;
		border-right: 1px solid #CBCBCB;
		bottom: 0;
		.posright(0);
		
		


		.slider {
			.sliders; 
			width: 100%; 
			position: absolute; 
			bottom: 11px; 
			right: 0; 
			float: left;
		}
	}
	


	@media screen and (max-width: 479px){
	
		.carousel {
			width: 290px;
		}
		
		.current {
			width: 144.5px;

			.arrow {
				.posleft(68px);
			}
		}

		.current, .itemsW{
			.pic {
				width:140px;
			}
		}

		.itemsW {
			width: 145px;

			.items{
				 .item {
					width:144.5px;

					
				}
			}
		}
		
		.slide {width: 141px;}

		.buttonScroll.buttonScrollPrevious {
			.compareButtonPrevious-MobileLandscape();
		}
		.buttonScroll.buttonScrollNext {
			.compareButtonNext-MobileLandscape();
		}

	} // (min-width: 480px)



	@media screen and (min-width: 480px) and (max-width: 767px){
	
		.carousel {
			width: 450px;
		}
		
		.current, .itemsW{
			.pic {
				width:140px;
			}
		}

		.current {
			width: 150px;

			.arrow {
				.posleft(68px);
			}
		}

		.itemsW {
			width: 300px;

			.items{
				 .item {
					width:150px;

					
				}
			}
		}
		
		.slide {width: 298px;}

		.buttonScroll.buttonScrollPrevious {
			.compareButtonPrevious-MobileLandscape();
		}
		.buttonScroll.buttonScrollNext {
			.compareButtonNext-MobileLandscape();
		}

	} // (min-width: 480px)


	@media screen and (min-width: 768px) and (max-width: 999px){
	
		.carousel {
			width: 740px;
		}
		
		.current, .itemsW{
			.pic {
				width:140px;
			}
		}

		.current {
			width: 148px;

			.arrow {
				.posleft(68px);
			}
		}

		.itemsW {
			width: 592px;

			.items{
				 .item {
					width:148px;

					
				}
			}
		}
		
		.slide {width: 590px;}

		.buttonScroll.buttonScrollPrevious {
			.compareButtonPrevious-TabletPortrait();
		}
		.buttonScroll.buttonScrollNext {
			.compareButtonNext-TabletPortrait();
		}

	} // (min-width: 768px)



	@media screen and (min-width: 1600px) {
	
		.carousel {
			width: 1015px;
		}
		
		.current {
			width: 203px;

			.arrow {
				.posleft(90px);
			}
		}

		.itemsW {
			width: 812px;

			.items{
				 .item {
					width:202.5px;
				}
			}
		}
		
		.slide {width: 810px;}

	} // (min-width: 1600px)


}