.modMusicTracks {margin: 0 0 50px 0; border-top: none; height:auto; overflow: hidden;

	&.divider{.dividers;}
	
	h3.title, h3.title a {.modTitle; margin:0 0 0 0;}
	
	.tracks {width: 100%;
		
		.items {border-top: 1px solid @linelightgrey;
			
			.item {padding-top: 6px; height: 30px; width: 100%; border-bottom: 1px solid @linelightgrey;
				
				.num {width: 3%; .textalign(); .CoHeadlineLightRegular();}
				.name {width: 63%; .CoHeadlineRegular(); .ellips; }
				.time {width: 8%; .CoHeadlineRegular();}
				
				.num, .name, .time {.floatleft(); line-height: 25px; font-size: 0.9em; .margin-right(3px);}
				
				.btn { .floatright(); .margin-right(10px);}
			}
		}
	}

	@media screen and (min-width: 320px) {
		margin: 0 0 40px 0;
		
		.tracks {
			.items {
				.item {
					.num {width: 5%;}
					.name {width:  42%;}
					.btn {
						.margin-right(0);
						.hide{ display:none; }
						}
					}				
				}
			}
	}
	
	@media screen and (min-width: 480px) {
		
		.tracks {
			.items {
				.item {
					.name {width:  55%;}
					.btn {
						.hide{ display:none; }
						}
					}				
				}
			}
	
	}
	
	@media screen and (min-width: 768px) {
		.tracks {			
				.items {
					.item {padding-top: 6px; height: 30px; width: 100%;
					
						.num, .name, .time {.floatleft(); line-height: 25px;}
						
						.num {width: 3%;}
						.name {width:  63%;}
						.time {width: 8%;}
						
						.btn {
							.margin-right(10px);
							.hide{ display:inline; }
						}
						
						
								
					}
				}
			}
	}
	
	@media screen and (min-width: 1000px) {
		margin: 0 0 50px 0;
		
		.tracks {			
				.items {
					.item {
						.num {width: 3%;}
						.name {width:  63%;}
						.time {width: 8%;}
					}
				}
			}
	}
	
	@media screen and (min-width: 1600px) {
		
	}	
	 
}