.container-du {

  @media screen and (min-width: 1170px) {
      .padding-right(0);
  }

  .topBar {
    @media screen and (min-width: 1000px) {
      border-bottom: 0 none;
    }
  }

  .content {
    @media screen and (min-width: 1000px) {
      padding-top: 30px;
    }
  }

}