.modMusicCover {
	display:block;
	overflow:hidden;
	margin:10px 0 30px 0;
	padding:0 0 20px 0;
	position:relative;
	
	.duContentFlow {
		background: #ffffff;
		background: -moz-linear-gradient(top,  #ffffff 36%, #f2f2f2 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#ffffff), color-stop(100%,#f2f2f2));
		background: -webkit-linear-gradient(top,  #ffffff 36%,#f2f2f2 100%);
		background: -o-linear-gradient(top,  #ffffff 36%,#f2f2f2 100%);
		background: -ms-linear-gradient(top,  #ffffff 36%,#f2f2f2 100%);
		background: linear-gradient(to bottom,  #ffffff 36%,#f2f2f2 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );

		display:block;
		overflow:hidden;
		padding-bottom:10px;
		
		.globalCaption {
			.caption {
				.CoHeadlineLightRegular();
				font-size:18px;
			
				h3 {
					color:@blu;
					.CoHeadlineBold();
					font-weight: normal;
				}
				h4 {
					color:@darkgrey;
					font-weight: normal;
				}
			}
		}
		
		.pagination {
			
			bottom: auto;
			
		}
	}
	
	@media only screen and (max-width: 470px) {
		height:160px;
				
		.duContentFlow {
			height:120px;
			margin-top: 20px;
		}
		
		.pagination {
			top:160px;
		}
	}
	
	@media screen and (min-width: 471px) {
		height:200px;
				
		.duContentFlow {
			height:160px;
			margin-top: 20px;
		}
		
		.pagination {
			top:200px;
		}
	}
	
	@media screen and (min-width: 768px) {
		height:255px;
		
		.duContentFlow {
			height:215px;
			margin-top: 20px;
		}
		
		.pagination {
			top:255px;
		}
	}
	
	@media screen and (min-width: 1000px) {
		height:280px;
		
		.duContentFlow {
			height:240px;
			margin-top: 20px;
		}
		
		.pagination {
			top:280px;
		}
	}
	
	@media screen and (min-width: 1170px) {
		height:280px;
		
		.duContentFlow {
			height:240px;
			margin-top: 20px;
		}
		
		.pagination {
			top:280px;
		}
	}
	
	@media screen and (min-width: 1600px) {
		height:320px;
		
		.duContentFlow {
			height:280px;
			margin-top: 20px;
		}
		
		.pagination {
			top:320px;
		}
	}
}
.mobile {
	.modMusicCover {
	
		.duContentFlow {
			padding-bottom:0;
		}
	
		@media only screen and (max-width: 470px) {
			height:160px;
					
			.duContentFlow {
				height:120px;
				margin-top: 20px;
			}
			
			.pagination {
				top:160px;
			}
		}
		
		@media screen and (min-width: 471px) {
			height:170px;
					
			.duContentFlow {
				height:140px;
				margin-top: 20px;
			}
			
			.pagination {
				top:170px;
			}
		}
		
		@media screen and (min-width: 767px) {
			height:230px;
			
			.duContentFlow {
				height:190px;
				margin-top: 20px;
			}
			
			.pagination {
				top:230px;
			}
		}
		
		@media screen and (min-width: 1000px) {
			height:240px;
			.duContentFlow {
				height:200px;
				margin-top: 20px;
				
				.globalCaption {
					.caption {
						.CoHeadlineLightRegular();
						font-size:22px;
					}
				}
			}
			
			.pagination {
				top:240px;
			}
		}
	}
}