.modPlansConsumption {
	margin: 0 0 50px 0;
	border-top: none;
	.CoHeadlineRegular();
	height:auto;
	overflow:hidden;

	&.divider{.dividers;}
	
	h3.title {
		.modTitle;
		.date {
			color: @darkergrey;
			display: none;
		}
	}

	.itemsW {margin: 0 auto; width: 290px;
		.items {
			.item {border-top: 1px solid @linelightgrey; height: 125px; position: relative;
				&:last-child {border-bottom: 1px solid @linelightgrey;}
				
				

				
				.itemTitle {margin: 10px 0 0 10px;
					.icoMob,
					.icoMobInt,
					.icoMobSms,
					.icoMobDat {background:url(../../images/sprite_ico_sml.png) 0 0 no-repeat; width: 30px; height: 40px; display: inline-block; margin: 0 auto;}
					.icoMob {background-position: 0 4px;}
					.icoMobInt {background-position: -30px -36px;}						
					.icoMobSms {background-position: -60px -72px;}
					.icoMobDat {background-position: -85px -120px; width: 35px;}
					.tit {color: @blu; .CoHeadlineBold(); font-size: 1.35em; display: inline; .margin-left(4px);}
				}
				
				.itemInfo {margin-top: 10px; .margin-left(10px);
					.value {font-size: 1.05em;
						&.green {color: @lightgreen;}
						&.orange {color: @orange;}
						&.pink {color: @pinkalt;}
						.stat {font-size: 0.9em; color: @medgrey; .margin-left(5px);}
					}
					.status {background:url(../../images/status_bar_back.png) 0 0 no-repeat; width: 300px; height: 9px; position: relative; margin-top: 10px; clear:left;
						&.green span {display: block; height: 9px; background:url(../../images/status_bar_green_full.png) 0 0 repeat; margin:0;.rounded-corners2(0, 5px, 3px, 0);}
						&.orange span {display: block; height: 9px; background:url(../../images/status_bar_orange_full.png) 0 0 repeat; margin:0;.rounded-corners2(0, 5px, 3px, 0);}
						&.pink span {display: block; height: 9px; background:url(../../images/status_bar_pink_full.png) 0 0 repeat; margin:0;.rounded-corners2(0, 5px, 3px, 0);}
						.statusTxt {font-size: 10px; color: @medgrey; position: absolute; top: 15px;}
						
					}
				}
			}
		}
	}
	
	
	@media screen and (min-width: 320px) and (max-width: 999px) 
	{
			margin: 0 0 40px 0;

	}

	@media screen and (min-width: 320px) and (max-width: 767px)   {
		.itemsW {
			.items {
				.item {
					.itemInfo {
						
						.floatleft();
						
						.status {
							width: 151px;
						}
					}
					
					.btn{
						.floatright();
						margin: 20px 10px 0 10px;	
					}
				}
			}
		}
	}
	
	@media screen and (min-width: 480px) and (max-width: 767px)  {
		
		
		.itemsW {
			width: 450px;
			.items {
				.item {
					.itemInfo {
						.floatleft();
						
						.status {
							background-position: 0 -12px;
							width: 300px;
						}
					}
					
				}
			}
		}

	}
	
	@media screen and (min-width: 768px) {
		h3.title {
			.date {display: inline;}
		}
		
		.itemsW {margin: 0 auto; width: 740px;
			.items {
				.item {border-top: none; .borderright(@linelightgrey); height: 270px; width: 184px; .floatleft();
					&:last-child {border-bottom: none; .borderright(rgba(0,0,0,0));}	
					
					
					.ctaW{ 
						position: relative;
						left: -50%;
						float: right; clear:both;
						
						.btn{
							position: relative;
							left: 50%;
							
						}
					}
									
					.itemTitle {margin: 0 auto; width: 180px; position: relative;						
						.icoMob,
						.icoMobInt,
						.icoMobSms,
						.icoMobDat {background:url(../../images/sprite_ico_lrg.png) 0 0 no-repeat; width: 60px; height: 80px; display:block; margin: 0 auto;}							
						.icoMob {background-position: 0 9px;}
						.icoMobInt {background-position: -57px -71px;}						
						.icoMobSms {background-position: -120px -151px;}
						.icoMobDat {background-position: -168px -240px; width: 70px;}
						.tit {.CoHeadlineRegular(); font-size: 1.05em; display: block; text-align: center; margin: 20px 0 0 0;}
					}
									
					.itemInfo {
						width: 164px; 
						margin: 40px auto;
						float:none;
						
						.status { 
							width: 151px;
							background-position: 0 0;
						}
						.value {font-size: 1.05em;
							&.green {color: @lightgreen;}
							&.orange {color: @orange;}
							.stat {font-size: 0.9em; color: @medgrey; .margin-left(5px);}
						}
					}
				}
			}
		}
		
	}
	
	@media screen and (min-width: 1000px) {

		.itemsW {width: 810px;
			.items {
				.item {
					width: 200px;
					
					
				
				}
			}
		}									

	}
	
}