.modBillsMethod {margin: 0 0 50px 0; border-top: none; .CoHeadlineRegular(); color: @darkergrey; position: relative;height: auto; overflow: hidden;

	&.divider{.dividers;}
	
	.title {.modTitle-int2;}

	.tabs {height: 60px; font-size: 1.05em; text-align: center; line-height: 60px; border-bottom: 1px solid @linemedgrey; width: 100%; margin: 20px 0; .floatleft();
		.tab {width: 143px; height: 59px; border: 1px solid @linemedgrey; border-bottom: none; float: left; .rounded-corners2(5px, 5px, 0, 0); background: @linelightgrey;.floatleft();
			a {display:block; color: @darkergrey;}
			&.selected {border-bottom: none; height: 60px; background: @white;}
			&:first-child {.borderright(none);}
		}		
	}


.formW {
	width: 225px; 
	height: auto;
	
	.items { position: relative; width: 100%; .padding-left(35px); border:none;  .newDu(); color:@medgrey; clear: both;
	
		.radioBtn {width: 18px; height: 18px; position: absolute; .posleft(10px); top: 0; border:none;}
		
		.item {border:none; padding-bottom: 20px;.floatleft(); width:100%;
			label {display: block; .floatleft(); width: 100%; border:none; margin-bottom: 5px; font-size: 1.0em;}
			
			.stat {font-size: 1.0em; color:@medgrey;}
			.txt {font-size: 1.2em; color:@darkergrey; margin-top: 2px;}	
			
			.name {width: 225px;}
			.number {width:225px;}
			
			.date {
				.dropdown {width: 225px;}	
			 }		
			 .expiration {.floatleft(); width: 160px;
			 	.dropdown {width: 65px; .margin-right(5px);}
			 }
			 .idCode {.floatleft(); width: 55px;
			 	.code {width: 55px; margin-top: 3px;}
			 }

		}
	}
}

	.info {border-top: 1px solid @linemedgrey; padding:20px 0; clear:both; overflow:hidden;
		.tit {font-size: 1.3em; margin-top: 20px; font-weight: bold;}
		.checkBox {.floatleft(); margin:0 10px;}
		.checkBox-label{ 
			.floatleft();
			.subtit {.CoHeadlineRegular(); font-size: 1.1em; margin: 0 0 5px 0; display:block;}
			.txt {.CoHeadlineLightRegular(); font-size: 1.1em; display:block;}
		}
		
	}

		
		.actions {background: @linelightgrey; width: auto; padding:0 10px 10px 10px; 
			.divider{ height:1px; clear:both; background:#bbbdbf; margin:0 0 10px 0;}
			.btn {.floatright(); clear: both; padding:0 35px;}	
		}
	

	@media screen and (min-width: 320px) and (max-width: 767px) {
		
		
		.info{ 
			.checkBox-label{ width:255px; }
		}
		
		.actions {
			.btn { padding:0 20px;}	
		}
	}
	
	@media screen and (min-width: 480px) {
	
		
		.info{ 
			.checkBox-label{ width:400px; }
		}
	}
	
	@media screen and (min-width: 768px) {
		
		.tabs {font-size: 1.2em; line-height: 60px;
			.tab {width: 185px;}
		}

		.formW {
			height: auto;
			overflow: visible;
			width: 740px;
						
			.items {width: 100%; .padding-left(35px); position: relative; .floatleft();
					&.line {border-top: 1px solid @linemedgrey; margin-top: 50px;}
					
				.radioBtn {top:22px;border:none;}
				
				.item {border:none; .floatleft();  width: 170px;
					label {}
					
					.stat {position: absolute; top: -20px;}
					.txt {margin-top: 21px;}	
		
					.name,
					.number {width:135px; margin-top: 3px;}
					
					.date {
						.dropdown {width: 135px;}	
					 }		
					 .expiration {width: 135px;
						.dropdown {width: 58px;}
					 }
					 .idCode {width: 35px;
						.code {width: 35px;}
					 }
					 
				}
			}
		}

		.info {
			.tit {font-size: 1.3em; margin-top: 20px;}
			.checkBox-label{ width:auto; }
		}
	
		

	}
	
	@media screen and (min-width: 1000px) {

		.tabs {font-size: 1.2em; line-height: 60px;
			.tab {width: 200px;}
		}

		.formW {
			height: auto;
			width: 810px;
			
			.items {width: 100%; .padding-left(35px); position: relative; margin-top: 20px;.floatleft();
					&.line {border-top: 1px solid @linemedgrey; margin-top: 50px;}
					
				.radioBtn { }
				
				.item {border:none; .floatleft(); width: 190px;
					label {}
					
					.stat {position: absolute; top: -20px;}
					.txt {margin-top: 21px;}	
		
					.name,
					.number {width:155px; margin-top: 3px;}
					
					.date {
						.dropdown {width: 155px;}	
					 }		
					 .expiration {width: 135px;
						.dropdown {width: 58px;}
					 }
					 .idCode {width: 47px;
						.code {width: 45px;}
					 }
					 
				}
			}
		}


		.info {
			.tit {font-size: 1.3em; margin-top: 20px;}
			.checkBox {}
			.subtit {}
			.txt {}
		}
	
		
		
	}

	@media screen and (min-width: 1600px) {
		.formW {
			height: auto;
			width: 1015px;
			
			.items {width: 100%; .padding-left(35px); position: relative; margin-top: 20px; .floatleft();
					&.line {border-top: 1px solid @linemedgrey; margin-top: 50px;}
					
				.radioBtn { }
				
				.item {border:none;  .floatleft();  width: 245px;
					label {}
					
					.stat {position: absolute; top: -20px;}
					.txt {margin-top: 21px;}	
		
					.name,
					.number {width:155px;margin-top: 3px;}
					
					.date {
						.dropdown {width: 155px;}	
					 }		
					 .expiration {width: 135px;
						.dropdown {width: 58px;}
					 }
					 .idCode {width: 47px;
						.code {width: 45px;}
					 }
					 
				}
			}
		}		
	
	}
	

}