#coverageMap {

  margin-top: 30px;

  .legendWiFi {

      //adding spacing between buttons
    @media(max-width:@screen-md){

      .filter-btn:first-child {
          margin-top: 8px
      }

      .filter-btn:last-child {
          margin-bottom: 20px
      }

      .filter-btn+.filter-btn {
          margin-top: 15px;
      }
      
    }

    //END
    margin-bottom: 10px;

    .bulletWifi {
      display: inline-block;
      .CoHeadlineRegular(1.1);
      .margin-left(12px);

      &.blue {
        width: 18%;

        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: @blu;
          .margin-left(-12px);
          margin-top: 8px;
        }
      }

      &.pink {
        width: 18%;

        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: @pink;
          .margin-left(-12px);
          margin-top: 8px;
        }
      }

      &.violet {
        width: 18%;

        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: @colorEvents;
          .margin-left(-12px);
          margin-top: 8px;
        }
      }

      &.green {
        width: 18%;

        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: @green;
          .margin-left(-12px);
          margin-top: 8px;
        }
      }

      &.gray {
        width: 18%;

        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: @grey;
          .margin-left(-12px);
          margin-top: 8px;
        }
      }

      i.icon {
        vertical-align: middle;
        color: @blu;
        margin: 0 5px;

        &:before {
          font-size: 25px;
        }
      }

    }
  }

  .searchFields {
    display: inline-block;
    width: 100%;
    border-top: 1px solid @bordergrey;
    padding-top: 15px;

    .descr {
      .CoHeadlineRegular(1.1);
      display: block;
      margin-bottom: 10px;
    }

    .selectric {
      margin-bottom: 30px;
    }
  }

  #mapCoverageMap {
    width: 100%;
    height: 450px;
    margin: 0;
    padding: 0;
    color: #5fd0aa;
  }

  @media screen and (max-width: 999px) and (min-width: 768px) {
    .legendWiFi {
      .bulletWifi {
        margin-bottom: 10px;

        &.blue {
          width: 25%;
        }

        &.green {
          width: 25%;
        }

        &.pink {
          width: 25%;
        }

        &.violet {
          width: 25%;
        }

        &.gray {
          width: 25%;
        }
      }
    }
  }

  @media screen and (max-width: 767px) and (min-width: 480px) {
    .legendWiFi {
      .bulletWifi {
        margin-bottom: 10px;

        &.blue {
          width: 45%;
        }

        &.green {
          width: 40%;
        }

        &.pink {
          width: 45%;
        }

        &.violet {
          width: 40%;
        }

        &.gray {
          width: 45%;
        }
      }
    }
  }

  @media screen and (max-width: 479px) and (min-width: 320px) {
    .legendWiFi {
      .bulletWifi {
        margin-bottom: 10px;

        &.blue {
          width: 45%;
        }

        &.green {
          width: 40%;
        }

        &.pink {
          width: 45%;
        }

        &.violet {
          width: 40%;
        }

        &.gray {
          width: 45%;
        }
      }
    }
  }

}
