
/* MODULE: LIST */

.modList {
    margin: 0 0 50px 0;
    .clearfix;
    &.divider {
        .dividers;
    }

    h3.title {
        .modTitle;
        padding-bottom: 0;
        z-index: 0 !important;
    }

    .modList1 {
        margin: 0;
        padding: 10px 0 0;
        width: 100%;
        border-bottom: solid 1px @linelightgrey;
        .clearfix;

        li {
            margin: 0;
            height: auto;
            padding: 10px 0;
            .floatleft();
            width: 100%;
            border-top: solid 1px @linelightgrey;

            &.last-child {
                border-bottom: solid 1px @bordergrey;
            }
            button,
            .btn-switch,
            .btn-go {
                .floatright();
                .margin-right(0);
            }

            .btn-go {
                line-height: 18px;
                margin: 5px 0;
                a {

                    span {
                        background: transparent url(../../images/right_arrow.png) no-repeat;
                        .background-position(right, 55%);
                        display: block;
                        .padding-right(15px);
                    }
                }
            }
            .profile {
                .floatleft();
                .margin-right(10px);
                img {
                    .floatleft();
                    .margin-right(10px);
                }
                strong {
                    .CoHeadlineRegular(1);
                    line-height: 50px;
                }
            }

            .text {
                h4 {
                    .CoHeadlineLightRegular(1);
                    line-height: 18px;
                }
                .floatleft();
            }
        }
    }
    .cta-block {
        margin-bottom: -30px;
    }
    &#modList2 {
        li {
            .text h4,
            .btn-go {
                line-height: 50px;
                margin: 0;
            }
        }
    }
    @media screen and (min-width: 320px) {
        /* 320px - 480px - 768px */
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {}
    @media screen and (min-width: 480px) and (max-width: 768px) {}
    @media screen and (min-width: 768px) and (max-width: 999px) {}
    @media screen and (min-width: 1000px) and (max-width: 1599px) {}
    @media screen and (min-width: 1000px) {}
    @media screen and (min-width: 1600px) {
        /* desktop */
    }
}

