.inpagenavigation {
		
	clear:both; 
	/*margin:40px 0 50px 0;*/
  	margin-bottom: 10px;
	width: auto; 
	overflow:hidden; 

	.items{
		.item {
			.floatleft();
			width: 20%;

			&.b-2{
				width: 50%;
			}

			&.b-3{
				width: 33.33%;
			}

			&.b-4{
				width: 25%;
			}

			&.b-5{
				width: 20%;
			}

			&.b-6{
				width: 16%;
			}

			a {
				/*text-transform: uppercase;*/
				width:auto;
				float:none; 
				padding:0; 
				text-align:center; 
				height:50px; 
				line-height:50px; 
				.margin-right(4px);
				margin-bottom:4px;
			}
			
			&:last-child{
				a {.margin-right(0);}
			}
		}

	}


	@media screen and (max-width: 767px) {
		margin-bottom:0;
		
	}

	@media screen and (max-width: 767px) {
		
		.items{
			.item{
				&.b-2{
					width: 50%;
				}

				&.b-3{
					width: 33.33%;
				}

				&.b-4{
					width: 33.33%;
				}

				&.b-5{
					width: 33.33%;
				}

				&.b-6{
					width: 33.33%;
				}


				a {
					height:38px; 
					line-height:38px;
				}

				&:last-child{
					a {.margin-right(4px);}
				}
			}
		}
		
	}

}




