.container-du.roamingRates-container {
    .modBreadcrumbs {
        padding: 10px 0 40px;
    }

    #roamingRates {
        min-height: 524px;
    }

    #roamingRates ,.pricing-tables{

    .col-xs-12,
    .col-xs-8,
    .col-xs-4 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    h1.title {
        font-size: 30px;
        line-height: 1em;
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
        margin-top: 0;
        margin-bottom: 16px;
    }

    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
        font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
        line-height: 1.42857143;
    }

    hr {
        margin-top: 45px;
        margin-bottom: 35px;
        border-bottom: none;
        border-top: 1px solid #c0c0c0;
    }

    h3 {
        margin-bottom: 16px;
        font-size: 18px;
        color: #808285;
        line-height: 30px;
        font-family: "DuCoHeadlineRegular",Arial,sans-serif;
    }

    .selectricHideSelect {
        width: auto;
        height: auto;
        overflow: visible;
    }
    .selectric {
        display: none;
    }

    .roaming-filter {
    padding-bottom: 35px;
    /*min-height: 360px;*/
    label, .roaming-label{
        font-size:16px
    }
    #cbCountries_chosen.chosen-container{
        font-family:"DuCoHeadlineLightRegular", Arial, sans-serif;
        font-size: 16px;
        width:100%!important;

        a.chosen-single{
            height: 42px;
            padding-top: 10px;
            padding-left: 20px;
            color:black;
            text-decoration:none;
            &:hover,&:active,&:visited{
                color:black;
            }
            &.chosen-default{
                color:#b1b1b1;
                font-family:"DuCoHeadlineLightRegular", Arial, sans-serif;
                font-size:15px;
            }
            div b{
                background:url(../../images/chosen-sprite.png) no-repeat 0px 10px;
            }
            div b:before{
                content:""!important
            }
        }
        .chosen-search input[type=text]{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 16px;
            font-family:"DuCoHeadlineRegular", Arial, sans-serif;
            line-height: 1.42857143;
            color: #555555;
            vertical-align: middle;
            background-color: #ffffff;
            background-image:url(../../images/chosen-sprite.png);
            background-position: 97% -20px;
            border: 1px solid #cccccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        ul.chosen-results li{
            font-size:16px;
            height:37px;
            padding: 10px 0 0 10px;
            &.highlighted{
                background:#00b1d3;
            }
        }
    }
    .btn.plan-type{
        font-size: 14px!important;
        font-family: "DuCoHeadlineBold",Arial,sans-serif;
        font-weight: bold;
        min-width:120px;
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 22px;
        line-height: 1.33;
        -moz-border-radius: 6px !important;
        -webkit-border-radius: 6px !important;
        border-radius: 6px !important;
        height: auto;
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        box-shadow: none !important;
        margin-right: 0;

        &.current{
            border: 2px solid;
            color: #00b1d3;
        }

        &:hover, &:focus, &:active {
            background-color: #ebebeb;
        }
    }
    #divLoading{
        display:none;
        padding:10px 15px 0 15px;
    }
    #divFilterSummary{
        padding:30px 7.5px;
        font-size:ceil(14px * 1.25);
    }
    #divCountrySummary{
        #imgLogo{
            width:80px;
        }
        #hCountryName{
            font-family:"DuCoHeadlineLightRegular", Arial, sans-serif;
            font-size:25px;
            color:#808285;
            margin-top:13px;
            margin-bottom:16px;

            [dir=rtl] & {
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
        #sCountryCode{
            font-family:"DuCoHeadlineRegular", Arial, sans-serif;
            font-size:ceil(14px * 1.25);
        }
    } 
    }

    #divRatesResult{
        table{
            border-left:none;
            border-right:none;
        }
    }
    #divRoamingRateResult{
        h3{
            padding-left:0px;
        }
        .roaming-title{
            h3{
                float:left;
                font-size: 18px;
                color: #808285;
                line-height: 30px;
                font-family: "DuCoHeadlineRegular",Arial,sans-serif;
                margin-top: 0;
                margin-bottom: 16px;

                [dir=rtl] & {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
            span{
                float:right;
                font-size:13px;
                padding-top:10px;
            }
        }
        h3.principle-title{
            margin-top:25px;
        }
    }
    #divOperatorsResult{
        overflow-x: auto;

        table{
            border-collapse:separate;
            border:none;
            td,th{
                border-left:none;
                border-right:none;
                border-bottom:none;
                background:none;
                border-top:1px solid silver;
                text-align:center;
            }
            .first-col{
                font-family:"DuCoHeadlineBold", Arial, sans-serif;
                background:#fcfcfc;
                border-left:1px solid silver!important;
                border-right:1px solid silver;
                text-align:left;
                width:140px;
            } 
            tr td:last-child,tr th:last-child{
                border-right:1px solid silver;
            }
            tr:last-child td{
                border-bottom:1px solid silver!important;
                &:first-child {
                -moz-border-radius: 0 0 0 8px;
                -webkit-border-radius: 0 0 0 8px;
                border-radius: 0 0 0 8px;
                }
                &:last-child {
                -moz-border-radius: 0 0 8px 0;
                -webkit-border-radius: 0 0 8px 0;
                border-radius: 0 0 8px 0;
                }
            }
        }
    }
    [dir="rtl"] & {
        .font-bold{
            font-family:"DuCoHeadlineArabicBold", Tahoma, Arial;
        }
        .roaming-filter #cbCountries_chosen.chosen-container{
            font-family:"DuCoHeadlineArabicRegular", Tahoma, Arial;
            a.chosen-single div b{
                background-position-x:-15px;
            }
            a.chosen-single.chosen-default{
                font-family:"DuCoHeadlineArabicRegular", Tahoma, Arial;
            }
            .chosen-search input[type=text]{
                background-position-x:-22px;
                font-family:"DuCoHeadlineArabicRegular", Tahoma, Arial;
            }
            .chosen-drop{
            left:9999px;
            .chosen-results li{
                padding-right:10px
            }
            }         
            &.chosen-with-drop .chosen-drop{
                left:0
            }
        }
        #divCountrySummary{
        h2{
            font-family:"DuCoHeadlineArabicLightRg", Tahoma, Arial;
        }
        #sCountryCode{
            font-family:"DuCoHeadlineArabicRegular", Tahoma, Arial;
        }
        } 
        #divRoamingRateResult{
            h3{
                padding-right:0px;
            }
            .roaming-title{
                h3{
                    float:right;
                }
                span{
                    float:left;
                    font-weight:normal;
                }
            }
        }
        #divOperatorsResult{
            table{
                .first-col{
                    text-align:right;
                    font-family:"DuCoHeadlineArabicBold", Tahoma, Arial;
                } 
                tr td:last-child,tr th:last-child{
                    border-left:1px solid silver!important;
                    border-right:none;
                }
                tr:last-child td{
                    border-bottom:1px solid silver!important;
                    &:first-child {
                    -moz-border-radius: 0 0 8px 0;
                    -webkit-border-radius: 0 0 8px 0;
                    border-radius: 0 0 8px 0;
                    }
                    &:last-child {
                    -moz-border-radius: 0 0 0 8px;
                    -webkit-border-radius: 0 0 0 8px;
                    border-radius: 0 0 0 8px;
                    }
                }
            }
        }
    }

    .roaming-filter .filter-plan-type-title {
        font-size: 16px;
        margin-bottom: 5px;
        line-height: 1.42857143;
    }

    .roaming-filter .filter-country #cbCountries_chosen.chosen-container.chosen-container-single a.chosen-single.chosen-default span {
        text-align: center;
    }

    .chosen-container-single .chosen-single span {
        text-align: left;
        font-size: 16px;
        font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;

        [dir=rtl] & {
            text-align: right;
        }
    }

    .roaming-filter .filter-country #cbCountries_chosen.chosen-container.chosen-container-single a.chosen-single {
        padding-top: 7px;
    }

    #divRoamingRateResult #chargingPrinciplesContentPrepaid {
        padding-left: 10px;
    }

        .font-bold {
            font-family: "DuCoHeadlineBold",Arial,sans-serif;
        }

    .hilite {
        color: #00b1d3;
        }

        table {
            border: 1px solid #ddd;
            border-collapse: separate;
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
            max-width: 100%;
            background-color: transparent;
            border-spacing: 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            & * {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

            td {
                font-size: 14px;
                vertical-align: middle;

                img {
                    display: inline;
                }
            }

            & > tbody > tr:nth-child(odd) > td {
                background-color: transparent;
            }
            & > tbody > tr:nth-child(even) > td {
                background-color: #fcfcfc;
            }
            & > tbody > tr > td:first-child {
                border-left: none;
            }

            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            th, td {
                border-left-width: 0 !important;
                padding: 10px;
                border: 1px solid #ddd;
            }
        }

        .fixedColumnWrapper {
            position: absolute;
            z-index: 9998;
        }
        .rr-table.fixed-column {
            width: auto;
            background-color: #fff;
            border: none;
            border-collapse: separate;

            tr {
                th {
                    background: #f4f5f6 !important;
                }

                td {
                    background: #fff !important;
                }
            }

            .first-col {
                font-family: "DuCoHeadlineBold",Arial,sans-serif;
                border: none;
                border-left: 1px solid silver !important;
                border-right: 1px solid silver !important;
                border-top: 1px solid silver !important;
            }


            th:only-child {
                -moz-border-radius: 8px 0 0 0;
                -webkit-border-radius: 8px 0 0 0;
                border-radius: 8px 0 0 0;
            }

            tr:last-child {
                td {
                    border-bottom: 1px solid silver !important;
                }

                td:first-child {
                    -moz-border-radius: 0 0 0 8px;
                    -webkit-border-radius: 0 0 0 8px;
                    border-radius: 0 0 0 8px;
                }
            }
        }
    }

    @media(max-width: 767px) {
        .content {
            width: 100%;
            padding-top: 85px;
        }

        .product.modBreadcrumbs {
            display: none;
        }

        .roaming-filter .filter-plan-type {
            margin-top: 35px;

            .btn.btn-default.btn-lg.plan-type {
                width: 100%;

                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }
    }

    @media (min-width: 480px) and (max-width: 767px) {
        .content {
            width: 460px;
        }
    }
}