@tablet:    ~"only screen and (max-width: 800px)";
@fablet:    ~"only screen and (max-width: 600px)";
@mobile:    ~"only screen and (max-width: 480px)";
@mobile-landscape:    ~"only screen and (max-height: 480px) and (orientation:landscape)";
@mobile-sm:    ~"only screen and (max-width: 380px)";
@mobile-sm-landscape:    ~"only screen and (max-height: 380px) and (orientation:landscape)";
@mobile-xs:    ~"only screen and (max-width: 320px)";

.keyframes(@name; @arguments) {
    @-moz-keyframes @name { @arguments(); }
    @-webkit-keyframes @name { @arguments(); }
    @keyframes @name { @arguments(); }
}

.animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    animation: @arguments;
}



body.locked {
    overflow-y: hidden;
}


.ma-support-wrap {

    min-height: 70vh;

    h1 {
        .newDuBold();
        font-size: 30px;
        line-height: 1em;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .cta-list {
        li {margin-bottom: 5px;}
    }

    .account-group-type {
        text-align: center;
        margin: 30px 0;
        padding: 30px 0;
        border: #ddd solid 1px;
        border-left: 0; border-right: 0;

        ul {
            width: 100%;

            li {
                display: inline-block;
                padding: 0 30px; padding: 0 2vw;

                @media @fablet {
                    padding: 0 6vw;
                }
                a {
                    .newDu();
                    &:hover .icon {background-color: #fafafa;}
                    cursor: pointer;
                }

                .icon {
                    display: block; margin: 0 auto 5px;
                    width: 50px; height: 50px; border-radius: 50%;
                    color: #3399cc;
                    border: #3399cc solid 1px;
                    background: #fff 50% 50% no-repeat; background-size: 30px auto;

                    &:before {
                        display: none;
                        font-size: 20px; line-height: 50px;
                    }
                    &.icon-consumer {
                        background-image: url(../../images/icon_consumer3x.png);
                    }
                    &.icon-enterprise {
                        background-image: url(../../images/icon_enterprise3x.png);
                    }
                }
                &.selected a:hover,
                &.selected {
                    .icon {
                        background: #39c 50% 50% no-repeat; background-size: 30px auto;
                        &:before {
                            color: #fff;
                        }
                        &.icon-consumer {
                            background-image: url(../../images/icon_consumer_white3x.png);
                        }
                        &.icon-enterprise {
                            background-image: url(../../images/icon_enterprise_white3x.png);
                        }
                    }
                }
            }
        }
    }

    .account-type-tab {
        text-align: center;
        ul {
            display: inline-block; overflow: hidden;
            border: #3399cc solid 1px; border-radius: 25px;
            font-size: 0;
        }
        li {
            display: inline-block;
            font-size: 1rem;
            a {
                .newDu(); 
                display: block; min-width: 100px; min-width: 12vw;
                padding: 14px 15px;
                &:hover {
                    background: #fafafa;
                }

                @media @tablet {
                    min-width: 24vw;
                }
                @media @fablet {
                    min-width: 30vw;
                }
            }

            &.selected a{
                background: #3399cc;
                color: #fff;
            }
        }
    }

    .account-info-list {
        padding: 25px 0 0;

        .item {
            clear: both; overflow: auto;
            padding: 0 0 40px;
        }
        .keyimage {
            float: left;
            box-sizing: border-box;
            width: 47.5%; height: 35vh; margin-right: 2.5%;
            background: #f2f2f2; border-radius: 10px; 
            background-size: cover;

            [dir=rtl] & {
                float: right; margin-right: 0; margin-left: 2.5%;
            }
        }
        .item-copy {
            float: left;
            box-sizing: border-box;
            width:47.5%; padding: 20px 0 0 2.5%;

            [dir=rtl] & {
                float: right; padding-left: 0; padding-right: 2.5%;
            }

            h3 {
                .newDuMedium();
                font-size: 24px;
                line-height: 1.2em;
                color: #000; padding: 0 0 15px;
                @media @mobile {
                    font-size: 22px;
                }
            }
            ul {
                margin: 0;
                padding: 10px 0;

                li {
                    list-style: disc; line-height: 1em;
                    margin: 0 0 0 1.4em; text-indent: -.5em;
                    padding: 0 0 5px 0;

                    [dir=rtl] & {
                        margin: 0 1.4em 0 0;
                    }

                    @media @mobile {
                        text-indent: 0;
                    }

                    ul {
                        margin: 0; padding: 5px 0 0;
                        li {
                            list-style: none;
                            margin: 0;
                            &:before {
                                content: '- ';
                            }
                        }
                    }
                }
            }
        }

        .item:nth-child(even) {
            .keyimage {
                float: right;
                margin-right: 0; margin-left: 2.5%;

                [dir=rtl] & {
                    float: left; margin-left: 0; margin-right: 2.5%;
                }
            }
            .item-copy {
                float: left;
                padding-left: 0; padding-right: 2.5%;

                [dir=rtl] & {
                    float: right; padding-right: 0; padding-left: 2.5$;
                }
            }
        }

        @media @mobile {
            .item .item-copy,
            .item .keyimage {
                float: none;
                width: 100%; margin: 0; padding: 20px 0 10px;
            }
        }
        @media @mobile-sm {
            .item .item-copy {
                padding-top: 10px;
            }
        }
        @media screen and (max-width:768px) and (orientation: portrait) {
            .keyimage {
                height: 26vh;
            }
        }
        @media screen and (max-width:480px) and (orientation: portrait) {
            .keyimage {
                height: 32vh;
            }
        }
        @media @mobile-landscape {
            .keyimage {
                height: 55vh;
            }
        }
    }

}