div.split div.split2{
	float: left;
	width: 45%;
   	padding: 0 2%
}

div.split2{
	float: left;
	width: 45%;
   	padding: 0 2%
}

.textTitle{
	clear: both;
	text-align: center;
	overflow: hidden;
	font-family: 'DuCoHeadlineBold';
	font-size: 1.4em;
}

.menuDashboardForm{
	width: 50% !important;
}

.buttonCustom{
	position: relative;
    border: 1px solid #DCDEE1;
    background: linear-gradient(to bottom, #FFF 0%, #F0F0F0 100%) repeat scroll 0% 0% transparent;
    border-radius: 5px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    float: left;
    font-family: "DuCoHeadlineRegular";
    height: 31px;
    line-height: 31px;
    padding: 0px 10px;
    min-width: 75px;
    font-size: 1.1em;
    text-align: center;
    color: #09C;
	font: inherit;
	vertical-align: baseline;
}

.loginFieldsetCustom{

}

.loginCustom1{
	border-radius: 5px !important;
    border: 1px solid #DEDEDE;
    display: block;
    height: 30px;
    text-indent: 10px;
    font-size: 1em;
    margin: 0px 0px 8px;
    color: #BBBDBF;
    width: 100%;
	outline: medium none;
    outline-width: medium;
    outline-style: none;
    outline-color: -moz-use-text-color;
	padding: 0px;
    margin: 0px;
}

.title1{
	font-size: 2.8em;
	font-family: "DuCoHeadlineBold";
	line-height: 1em;
	margin: 0px 0px 10px;
	color: #09C;
}

.subtitle1{
	color: #808285;
	font-size: 1.4em;
	text-indent: 0px;
	font-family: "DuCoHeadlineLightRegular";
	line-height: 1em;
	padding: 10px 0px 25px;
}

.description1{
	color: #666;
	display: block;
	margin: 0px 0px 20px;
	overflow: hidden;
	font-family: "DuCoHeadlineLightRegular";
	line-height: 1.26em;
	font-size: 1.1em;
	text-align: justify;
}

#graphLink{
	float: right;
}


ul.list-table li div.info-column.quarter.third {
    width: 20%;
}


a.btn:hover{
	text-decoration: none;
}

.emptyTableMessage{
	text-align:center;  
	padding-top:20px;
	padding-bottom:20px;
}

div.emptyTableMessage{
	text-align:center;
	border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;  
	padding: 20px 20px 20px 0;
}


.contentIn ul.list-table {
	float: none;
}

.tv-packages ul.list-table li div.info-column {
    box-sizing: border-box;
    width: 25%;
}

.tv-packages ul.list-table li div.info-column:first-child {
    width: 50%;
}

div.action-column > form{
	display: inline-block;
	float: none;
	vertical-align: top;
}

.linkUsage {
    color: #323434;
    font-family: "DuCoHeadlineBold" !important;
    font-size: 24px !important;
    text-decoration: underline;
	}

.contractSpinner {
   position:relative;
   top:0;
   left:0;
   width:100%;
   height:100%;
   z-index:1000;
	}

.ajax-loader {
   position: relative;
   left: 50%;
   top: 50%;  
   display: block;    
}

#spinner {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,0.1);
    z-index: 99999;
    display: none;
    top: 0;
    left: 0;
}
.spinner-payment {
    margin: 0 auto;
    width: auto;
    text-align: center;
    display: inline-block
}
.spinner-payment>span {
    width: 8px;
    height: 8px;
    background-color: #09c;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay .75s infinite ease-in-out both;
    animation: sk-bouncedelay .75s infinite ease-in-out both
}
.spinner-payment .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}
.spinner-payment .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1)
    }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%; 
    display: block;    
}

.form-helper2 {
    margin: 50px 0 0;
    width: 72%;
}

.form .side2 {
    width: 40%;
}

.description-list {
	list-style: outside none disc !important;
	margin-left: 50px;
	line-height: 20px;
}

/* .loader {
	position: relative !important;
	margin-bottom: 27px;
}*/

a[disabled="disabled"] {
   pointer-events: none;
} 

.du-table#view-data-pool tr td,
.du-table#view-data-pool tr th {
    padding: 15px 20px 15px 0 !important
}
.du-table#view-data-pool tr td .pool-usage .value,
.du-table#view-data-pool tr th .pool-usage .value {
    font-size: .9em;
    margin-bottom: 0
}
.du-table#view-data-pool tr td .pool-usage .value.green,
.du-table#view-data-pool tr th .pool-usage .value.green {
    color: #62bd19
}
.du-table#view-data-pool tr td .pool-usage .value.orange,
.du-table#view-data-pool tr th .pool-usage .value.orange {
    color: #efae29
}
.du-table#view-data-pool tr td .pool-usage .value.pink,
.du-table#view-data-pool tr th .pool-usage .value.pink {
    color: #c39
}
.du-table#view-data-pool tr td .pool-usage .value .stat,
.du-table#view-data-pool tr th .pool-usage .value .stat {
    font-size: 0.9em;
    color: #666;
    margin-left: 5px
}
.du-table#view-data-pool tr td .pool-usage .status,
.du-table#view-data-pool tr th .pool-usage .status {
    background: url(../../images/status_bar_back.png) 0 0 no-repeat;
    width: 100%;
    height: 9px;
    position: relative;
    margin-top: 0;
    clear: left
}
.du-table#view-data-pool tr td .pool-usage .status.green span,
.du-table#view-data-pool tr th .pool-usage .status.green span {
    display: block;
    height: 9px;
    background: url(../../images/status_bar_green_full.png) 0 0 repeat;
    margin: 0;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 3px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 3px !important;
    -moz-border-radius-bottomleft: 0 !important;
    -o-border-radius-topleft: 0 !important;
    -o-border-radius-topright: 5px !important;
    -o-border-radius-bottomright: 3px !important;
    -o-border-radius-bottomleft: 0 !important;
    -ms-border-radius-topleft: 0 !important;
    -ms-border-radius-topright: 5px !important;
    -ms-border-radius-bottomright: 3px !important;
    -ms-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 0 !important
}
.du-table#view-data-pool tr td .pool-usage .status.orange span,
.du-table#view-data-pool tr th .pool-usage .status.orange span {
    display: block;
    height: 9px;
    background: url(../../images/status_bar_orange_full.png) 0 0 repeat;
    margin: 0;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 3px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 3px !important;
    -moz-border-radius-bottomleft: 0 !important;
    -o-border-radius-topleft: 0 !important;
    -o-border-radius-topright: 5px !important;
    -o-border-radius-bottomright: 3px !important;
    -o-border-radius-bottomleft: 0 !important;
    -ms-border-radius-topleft: 0 !important;
    -ms-border-radius-topright: 5px !important;
    -ms-border-radius-bottomright: 3px !important;
    -ms-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 0 !important
}
.du-table#view-data-pool tr td .pool-usage .status.pink span,
.du-table#view-data-pool tr th .pool-usage .status.pink span {
    display: block;
    height: 9px;
    background: url(../../images/status_bar_pink_full.png) 0 0 repeat;
    margin: 0;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 3px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 3px !important;
    -moz-border-radius-bottomleft: 0 !important;
    -o-border-radius-topleft: 0 !important;
    -o-border-radius-topright: 5px !important;
    -o-border-radius-bottomright: 3px !important;
    -o-border-radius-bottomleft: 0 !important;
    -ms-border-radius-topleft: 0 !important;
    -ms-border-radius-topright: 5px !important;
    -ms-border-radius-bottomright: 3px !important;
    -ms-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 0 !important
}
.du-table#view-data-pool tr td .pool-usage .status .statusTxt,
.du-table#view-data-pool tr th .pool-usage .status .statusTxt {
    font-size: 10px;
    color: #666;
    position: absolute;
    top: 15px
}
.du-table#view-data-pool tr .selectric {
    max-width: 230px
}
.du-table#view-data-pool tr.selected td,
.du-table#view-data-pool tr.selected th {
    background: #f8f8f8;
    padding-left: 15px !important
}

.du-table#add-data-pool tr td,
.du-table#add-data-pool tr th {
    padding: 15px 20px 15px 0 !important
}
.du-table#add-data-pool tr td .pool-usage .value,
.du-table#add-data-pool tr th .pool-usage .value {
    font-size: .9em;
    margin-bottom: 0
}
.du-table#add-data-pool tr td .pool-usage .value.green,
.du-table#add-data-pool tr th .pool-usage .value.green {
    color: #62bd19
}
.du-table#add-data-pool tr td .pool-usage .value.orange,
.du-table#add-data-pool tr th .pool-usage .value.orange {
    color: #efae29
}
.du-table#add-data-pool tr td .pool-usage .value.pink,
.du-table#add-data-pool tr th .pool-usage .value.pink {
    color: #c39
}
.du-table#add-data-pool tr td .pool-usage .value .stat,
.du-table#add-data-pool tr th .pool-usage .value .stat {
    font-size: 0.9em;
    color: #666;
    margin-left: 5px
}
.du-table#add-data-pool tr td .pool-usage .status,
.du-table#add-data-pool tr th .pool-usage .status {
    background: url(../../images/status_bar_back.png) 0 0 no-repeat;
    width: 100%;
    height: 9px;
    position: relative;
    margin-top: 0;
    clear: left
}
.du-table#add-data-pool tr td .pool-usage .status.green span,
.du-table#add-data-pool tr th .pool-usage .status.green span {
    display: block;
    height: 9px;
    background: url(../../images/status_bar_green_full.png) 0 0 repeat;
    margin: 0;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 3px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 3px !important;
    -moz-border-radius-bottomleft: 0 !important;
    -o-border-radius-topleft: 0 !important;
    -o-border-radius-topright: 5px !important;
    -o-border-radius-bottomright: 3px !important;
    -o-border-radius-bottomleft: 0 !important;
    -ms-border-radius-topleft: 0 !important;
    -ms-border-radius-topright: 5px !important;
    -ms-border-radius-bottomright: 3px !important;
    -ms-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 0 !important
}
.du-table#add-data-pool tr td .pool-usage .status.orange span,
.du-table#add-data-pool tr th .pool-usage .status.orange span {
    display: block;
    height: 9px;
    background: url(../../images/status_bar_orange_full.png) 0 0 repeat;
    margin: 0;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 3px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 3px !important;
    -moz-border-radius-bottomleft: 0 !important;
    -o-border-radius-topleft: 0 !important;
    -o-border-radius-topright: 5px !important;
    -o-border-radius-bottomright: 3px !important;
    -o-border-radius-bottomleft: 0 !important;
    -ms-border-radius-topleft: 0 !important;
    -ms-border-radius-topright: 5px !important;
    -ms-border-radius-bottomright: 3px !important;
    -ms-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 0 !important
}
.du-table#add-data-pool tr td .pool-usage .status.pink span,
.du-table#add-data-pool tr th .pool-usage .status.pink span {
    display: block;
    height: 9px;
    background: url(../../images/status_bar_pink_full.png) 0 0 repeat;
    margin: 0;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 5px !important;
    -webkit-border-bottom-right-radius: 3px !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    -moz-border-radius-topright: 5px !important;
    -moz-border-radius-bottomright: 3px !important;
    -moz-border-radius-bottomleft: 0 !important;
    -o-border-radius-topleft: 0 !important;
    -o-border-radius-topright: 5px !important;
    -o-border-radius-bottomright: 3px !important;
    -o-border-radius-bottomleft: 0 !important;
    -ms-border-radius-topleft: 0 !important;
    -ms-border-radius-topright: 5px !important;
    -ms-border-radius-bottomright: 3px !important;
    -ms-border-radius-bottomleft: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 0 !important
}
.du-table#add-data-pool tr td .pool-usage .status .statusTxt,
.du-table#add-data-pool tr th .pool-usage .status .statusTxt {
    font-size: 10px;
    color: #666;
    position: absolute;
    top: 15px
}
.du-table#add-data-pool tr .selectric {
    max-width: 230px
}
.du-table#add-data-pool tr.selected td,
.du-table#add-data-pool tr.selected th {
    background: #f8f8f8;
    padding-left: 15px !important
}

.fluidMedia {
    position: relative;
	min-height:500px;
}

@media only screen and (min-width: 1000px){
	.fluidMedia {
	    position: relative;
	    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
		min-height: 0;
	}
}

.fluidMedia iframe {
    position: absolute;
    /*top: 0; 
    left: 0;*/
    width: 100%;
    height: 100%;
} 