

// Fonts
@import "fonts_coheadline.less"; 

    strong {
            font-family: "DuCoHeadlineBold",Tahoma,Arial;
    }


[dir=rtl] & {
    strong {
            font-family: "DuCoHeadlineArabicBold",Tahoma,Arial;
    }
}
