//found in atos repo
.page-takeover {
    background: #e9e8e4 url('../images/wifi-uae-bg-03.jpg') no-repeat 50% 0;
    background-size: cover !important
}

.navbar {
    pposition: fixed;
    padding: 20px 7%;
    margin-top: 0px;
   /* background: url('../images/opaque-bg.png') repeat 0 0;*/
    bbackground: #fff;
    oopacity: .9;
    width: 86%;
    z-index: 999;
    box-shadow: 0px 0px 29px 5px rgba(0, 0, 0, 0.5);
}

.navbar .brand {
    background: url('../images/LogoImage.png') no-repeat 0 0;
    height: 94px;
    width: 83px;
    padding: 0;
    margin: 0;
}