/* IE9 workaround for buttons with gradients */

body.ie9 .cta,
body.ie9 .cta *,
body.ie9 .paynow,
body.ie9 .viewbills {
	filter: none !important;
}

/* IE7 and IE8 FIXES */

body.ie7,
body.ie8 {
	
	
	.modDetail .navigation li{ 
		width:14%; 
	
		@media screen and (max-width: 767px) { 
			width: 30%;
		}
	}
	
	/* Tiles filter */
	
	.modTiles{
		 .tilesForm {
			 .filters {
			 	.filterssubNav{ border:1px solid #ccc;}
			 }
		 }
		 
		 h3.title {
			 .filters {
			 	.filterssubNav{ border:1px solid #ccc;}
			 }
		 }
	}
	
			
	/* Product detail */

	.modDetail {
		.navSelect {
			.itemsW {
				.items {
					.item {
						background: transparent url(../images/ie7-8-product-background.jpg) left bottom repeat-x;
					}
				}
			}
			
			.buttonScroll {
				&.buttonScrollLeft,
				&.buttonScrollRight {
					background-image:url(../images/slider_arrows.gif);
				}
			}
		}
	
		.details {
			.slideshowContainer {
				@media screen and (max-width:767px) {
					.pagination {
						top: 220px;
					}
				}
			}
		}
	}
	
	/* Common classes */
	
	.buttonScroll {
		.opacity(0);
		&.buttonScrollPrevious{ background-image:url(../images/arr_left.gif); }
		&.buttonScrollNext{ background-image:url(../images/arr_right.gif);}
	}
}


/* IE7 FIXES */

body.ie7{
	.btn-price{ width:275px;}
	.btn-price.btn-small{ width:143px;}
}