/* fonts */
@import "mixins";

html when (@lang = ar) {
  direction: rtl;
}

.baseFont() when (@lang = en) {
  font-size: 13px;
}

.baseFont() when (@lang = ar) {
  font-size: 11px;
}

.baseLineHeight(@lineheight: 1) when (@lang = en) {
  @value: 1*@lineheight;
  line-height: ~"@{value}em";
}

.baseLineHeight(@lineheight: 1) when (@lang = ar) {
  @value: 1.25*@lineheight;
  line-height: ~"@{value}em";
}

.sansSerif(@lineheight: 1) when (@lang = en) {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  .baseLineHeight(@lineheight);
}

.sansSerif(@lineheight: 1) when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicRegular', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  .baseLineHeight(@lineheight);
}

.sansSerifBold(@lineheight: 1) when (@lang = en) {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  font-weight: bold;
}

.sansSerifBold(@lineheight: 1) when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicBold', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}

.CoHeadlineRegular(@lineheight: 1) when (@lang = en) {
  font-family: 'DuCoHeadlineRegular';
  .baseLineHeight(@lineheight);
}

.CoHeadlineRegular(@lineheight: 1) when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicRegular';
  .baseLineHeight(@lineheight);
}

.CoHeadlineBold(@lineheight: 1) when (@lang = en) {
  font-family: 'DuCoHeadlineBold';
  .baseLineHeight(@lineheight);
}

.CoHeadlineBold(@lineheight: 1) when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicBold';
  .baseLineHeight(@lineheight);
}

.CoHeadlineLightRegular(@lineheight: 1) when (@lang = en) {
  font-family: 'DuCoHeadlineLightRegular';
  .baseLineHeight(@lineheight);
}

.CoHeadlineLightRegular(@lineheight: 1) when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicLightRg';
  .baseLineHeight(@lineheight);
}

.FontCoHeadlineRegular() when (@lang = en) {
  font-family: 'DuCoHeadlineRegular';
}

.FontCoHeadlineRegular() when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicRegular';
}

.FontCoHeadlineBold() when (@lang = en) {
  font-family: 'DuCoHeadlineBold';
}

.FontCoHeadlineBold() when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicBold';
}

.FontCoHeadlineLightRegular() when (@lang = en) {
  font-family: 'DuCoHeadlineLightRegular';
}

.FontCoHeadlineLightRegular() when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicLightRg';
}

/*.newDu() when (@lang = en){ font-family: 'NewDuRegularRegular'; }
.newDu() when (@lang = ar){ font-family: 'DuCoHeadlineArabicRegular'; .baseLineHeight(@lineheight); }

.newDuBold() when (@lang = en){ font-family: 'NewDuBoldBold'; }
.newDuBold() when (@lang = ar){ font-family: 'DuCoHeadlineArabicRegular'; .baseLineHeight(@lineheight); }

.newDuMedium() when (@lang = en){ font-family: 'NewDuMediumMedium'; .baseLineHeight(@lineheight); }
.newDuMedium() when (@lang = ar){ font-family: 'DuCoHeadlineArabicRegular'; .baseLineHeight(@lineheight); }*/

.newDu(@lineheight: 1) when (@lang = en) {
  font-family: 'DuCoHeadlineLightRegular';
  .baseLineHeight(@lineheight);
}

.newDu(@lineheight: 1) when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicRegular';
  .baseLineHeight(@lineheight);
}

.newDuBold(@lineheight: 1) when (@lang = en) {
  font-family: 'DuCoHeadlineBold';
  .baseLineHeight(@lineheight);
}

.newDuBold(@lineheight: 1) when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicRegular';
  .baseLineHeight(@lineheight);
}

.newDuMedium(@lineheight: 1) when (@lang = en) {
  font-family: 'DuCoHeadlineRegular';
  .baseLineHeight(@lineheight);
}

.newDuMedium(@lineheight: 1) when (@lang = ar) {
  font-family: 'DuCoHeadlineArabicRegular';
  .baseLineHeight(@lineheight);
}

/* Change language */
.switchLanguage() when (@lang = en) {
}

.switchLanguage() when (@lang = ar) {
}

/* position absolute/fixed/relative */

.posleft(@pos: 0) when (@lang = en) {
  left: @pos;
}

.posleft(@pos: 0) when (@lang = ar) {
  right: @pos;
}

.posright(@pos: 0) when (@lang = en) {
  right: @pos;
}

.posright(@pos: 0) when (@lang = ar) {
  left: @pos;
}
.left(@value: 0px) when (@lang = en) {
  left: @value;
}

.left(@value: 0px) when (@lang = ar) {
  right: @value;
}


.right(@value: 0px)  when (@lang = en)  {
  right: @value;
}

.right(@value: 0px)  when (@lang = ar)  {
  left: @value;
}

/* translate */

.translateX(@translateX) when (@lang = en) {
  transform: translateX(@translateX);
}

.translateX(@translateX) when (@lang = ar) {
  transform: translateX(-@translateX);
}

/* text align */
.text-align(left) when (@lang = en) {
  text-align: left;
}

.text-align(left) when (@lang = ar) {
  text-align: right;
}

.text-align(right) when (@lang = en) {
  text-align: right;
}

.text-align(right) when (@lang = ar) {
  text-align: left;
}

.text-align(@var) when not (@var = left) and not (@var = right) {
  text-align: @var;
}

.textalign() when (@lang = en) {
  text-align: right;
}

.textalign() when (@lang = ar) {
  text-align: left;
}

.defaulttextalign() when (@lang = en) {
  text-align: left;
}

.defaulttextalign() when (@lang = ar) {
  text-align: right;
}

/*border - radius */

.bordertopleft(@radius) when (@lang = en) {
  border-top-left-radius: @radius;
}

.bordertopleft(@radius) when (@lang = ar) {
  border-top-right-radius: @radius;
}

.bordertopright(@radius) when (@lang = en) {
  border-top-right-radius: @radius;
}

.bordertopright(@radius) when (@lang = ar) {
  border-top-left-radius: @radius;
}

.borderbottomleft(@radius) when (@lang = en) {
  border-bottom-left-radius: @radius;
}

.borderbottomleft(@radius) when (@lang = ar) {
  border-bottom-right-radius: @radius;
}

.borderbottomright(@radius) when (@lang = en) {
  border-bottom-right-radius: @radius;
}

.borderbottomright(@radius) when (@lang = ar) {
  border-bottom-left-radius: @radius;
}

/* float */

.floatleft() when (@lang = en) {
  float: left;
}

.floatleft() when (@lang = ar) {
  float: right;
}

.floatright() when (@lang = en) {
  float: right;
}

.floatright() when (@lang = ar) {
  float: left;
}

/* clear */

.clearleft() when (@lang = en) {
  clear: left;
}

.clearleft() when (@lang = ar) {
  clear: right;
}

.clearright() when (@lang = en) {
  clear: right;
}

.clearright() when (@lang = ar) {
  clear: left;
}

/* margins */

.margin(@top, @right, @bottom, @left: 0)  when (@lang = en)  {
  margin: @top @right @bottom @left;
}

.margin(@top, @right, @bottom, @left: 0)  when (@lang = ar)  {
  margin: @top @left @bottom @right;
}

.margin-right(@pos: 10px) when (@lang = en) {
  margin-right: @pos;
}

.margin-right(@pos: 10px) when (@lang = ar) {
  margin-left: @pos;
}

.margin-left(@pos: 10px) when (@lang = en) {
  margin-left: @pos;
}

.margin-left(@pos: 10px) when (@lang = ar) {
  margin-right: @pos;
}

/* padding */

.padding(@top; @pull; @bottom; @push) when (@lang = en) {
  padding: @top @pull @bottom @push;
}

.padding(@top; @pull; @bottom; @push) when (@lang = ar) {
  padding: @top @push @bottom @pull;
}

.padding-right(@pos: 10px) when (@lang = en) {
  padding-right: @pos;
}

.padding-right(@pos: 10px) when (@lang = ar) {
  padding-left: @pos;
}

.padding-left(@pos: 10px) when (@lang = en) {
  padding-left: @pos;
}

.padding-left(@pos: 10px) when (@lang = ar) {
  padding-right: @pos;
}

/* borders */

.borderleft(@color: #ccc) when (@lang = en) {
  border-left: 1px solid @color;
}

.borderleft(@color: #ccc) when (@lang = ar) {
  border-right: 1px solid @color;
}

.borderright(@color: #ccc) when (@lang = en) {
  border-right: 1px solid @color;
}

.borderright(@color: #ccc) when (@lang = ar) {
  border-left: 1px solid @color;
}

.clearborderleft() when (@lang = en) {
  border-left: 0;
}

.clearborderleft() when (@lang = ar) {
  border-right: 0;
}

.clearborderright() when (@lang = en) {
  border-right: 0;
}

.clearborderright() when (@lang = ar) {
  border-left: 0;
}

.border-left-width(@value: 0px)   when (@lang = en){
        border-left-width: @value;
}
.border-left-width(@value: 0px)   when (@lang = ar){
        border-right-width: @value;    
}

.border-right-width(@value: 0px)   when (@lang = en){
        border-right-width: @value;
}
.border-right-width(@value: 0px)   when (@lang = ar){
        border-left-width: @value;    
}

/* background positioning */

.background-position(@xpos: left, @ypos: top) when (@lang = en) {
  background-position: @xpos @ypos;
}

.background-position(@xpos: left, @ypos: top) when (@lang = ar) and (@xpos = left) {
  background-position: right @ypos;
}

.background-position(@xpos: left, @ypos: top) when (@lang = ar) and (@xpos = right) {
  background-position: left @ypos;
}

/* specific: main menu */

.main-menu-arrow() when (@lang = en) {
  background-image: url(../images/arr_submenu.png);
}

.main-menu-arrow() when (@lang = ar) {
  background-image: url(../images/arr_submenu_rtl.png);
}

.background-image-mainNav-1024() when (@lang = en) {
  background-image: url(../images/menu_bg_1024.png);
}

.background-image-mainNav-1024() when (@lang = ar) {
  background-image: url(../images/menu_bg_1024_rtl.png);
}

.background-image-mainNav-320() when (@lang = en) {
  background-image: url(../images/menu_bg_320.png);
}

.background-image-mainNav-320() when (@lang = ar) {
  background-image: url(../images/menu_bg_320_rtl.png);
}

.background-image-tileslink() when (@lang = en) {
  background-image: url(../images/right_arrow.png);
}

.background-image-tileslink() when (@lang = ar) {
  background-image: url(../images/right_arrow_rtl.png);
}

.background-image-accountPane() when (@lang = en) {
  background-image: url(../images/accountPane_bg.png);
}

.background-image-accountPane() when (@lang = ar) {
  background-image: url(../images/accountPane_bg_rtl.png);
}

.background-image-new() when (@lang = en) {
  background-image: url(../images/flag_new.png);
}

.background-image-new() when (@lang = ar) {
  background-image: url(../images/flag_new_rtl.png);
}

.background-image-new-m() when (@lang = en) {
  background-image: url(../images/flag_new_m.png);
}

.background-image-new-m() when (@lang = ar) {
  background-image: url(../images/flag_new_m_rtl.png);
}

.background-image-stepsel() when (@lang = en) {
  background-image: url(../images/step_arr_sel.png);
}

.background-image-stepsel() when (@lang = ar) {
  background-image: url(../images/step_arr_sel_rtl.png);
}

.background-image-step() when (@lang = en) {
  background-image: url(../images/step_arr.png);
}

.background-image-step() when (@lang = ar) {
  background-image: url(../images/step_arr_rtl.png);
}

.background-image-step-sel-next() when (@lang = en) {
  background-image: url(../images/step_arr_sel_next.png);
}

.background-image-step-sel-next() when (@lang = ar) {
  background-image: url(../images/step_arr_sel_next_rtl.png);
}

.corners1() when (@lang = en) {
  .rounded-corners2(7px, 0, 0, 0);
}

.corners1() when (@lang = ar) {
  .rounded-corners2(0, 7px, 0, 0);
}

.corners2() when (@lang = en) {
  .rounded-corners2(0, 7px, 7px, 0);
}

.corners2() when (@lang = ar) {
  .rounded-corners2(7px, 0, 0, 7px);
}

.corners3() when (@lang = en) {
  .rounded-corners2(0, 0, 0, 7px);
}

.corners3() when (@lang = ar) {
  .rounded-corners2(0, 0, 7px, 0);
}

.left-corners(@rpx: 10px) when (@lang = en) {
  .rounded-corners2(@rpx, 0, 0, @rpx);
}

.left-corners(@rpx: 10px) when (@lang = ar) {
  .rounded-corners2(0, @rpx, @rpx, 0);
}

.right-corners(@rpx: 10px) when (@lang = en) {
  .rounded-corners2(0, @rpx, @rpx, 0);
}

.right-corners(@rpx: 10px) when (@lang = ar) {
  .rounded-corners2(@rpx, 0, 0, @rpx);
}

/* inset box shadows */
.inset-box-shadow(@h: 10, @v: 10, @c: rgba(34, 34, 34, .3)) when (@lang = en) {
}

/*
 -webkit-box-shadow: inset @{h}px @{v}px 10px 10px @c;
 -moz-box-shadow: inset @{h}px @{v}px 10px 10px @c;
 -o-box-shadow: inset @{h}px @{v}px 10px 10px @c;
 -ms-box-shadow: inset @{h}px @{v}px 10px 10px @c;
 box-shadow: inset @{h}px @{v}px 10px 10px @c;
}
*/
.inset-box-shadow(@h: 10, @v: 10, @c: rgba(34, 34, 34, .3)) when (@lang = ar) {
}

/*
 @vh:-1*@h;
 @vv:-1*@v;
 -webkit-box-shadow: inset ~"@{vh}px" ~"@{vv}px" 10px 10px @c;
 -moz-box-shadow: inset ~"@{vh}px" ~"@{vv}px" 10px 10px @c;
 -o-box-shadow: inse t~"@{vh}px" ~"@{vv}px" 10px 10px @c;
 -ms-box-shadow: inset ~"@{vh}px" ~"@{vv}px" 10px 10px @c;
 box-shadow: inset~"@{vh}px" ~"@{vv}px" 10px 10px @c;
}
*/

/* positions for arrows on compare module */
.compareButtonPrevious-LargeScreen() when (@lang = en) {
  left: 216px;
}

.compareButtonPrevious-LargeScreen() when (@lang = ar) {
  left: 10px;
}

.compareButtonNext-LargeScreen() when (@lang = en) {
  right: 10px;
}

.compareButtonNext-LargeScreen() when (@lang = ar) {
  right: 216px;
}

.compareButtonPrevious-MobilePortrait() when (@lang = en) {
  left: 154px;
}

.compareButtonPrevious-MobilePortrait() when (@lang = ar) {
  left: 0;
}

.compareButtonNext-MobilePortrait() when (@lang = en) {
  right: 0;
}

.compareButtonNext-MobilePortrait() when (@lang = ar) {
  right: 145px;
}

.compareButtonPrevious-MobileLandscape() when (@lang = en) {
  left: 145px;
}

.compareButtonPrevious-MobileLandscape() when (@lang = ar) {
  left: 0;
}

.compareButtonNext-MobileLandscape() when (@lang = en) {
  right: 0;
}

.compareButtonNext-MobileLandscape() when (@lang = ar) {
  right: 145px;
}

.compareButtonPrevious-TabletPortrait() when (@lang = en) {
  left: 145px;
}

.compareButtonPrevious-TabletPortrait() when (@lang = ar) {
  left: 10px;
}

.compareButtonNext-TabletPortrait() when (@lang = en) {
  right: 10px;
}

.compareButtonNext-TabletPortrait() when (@lang = ar) {
  right: 158px;
}

/* mod_tiles search */

.mod-search() when (@lang = en) {
  background-image: url(../images/tiles_searchbox.png);
}

.mod-search() when (@lang = ar) {
  background-image: url(../images/tiles_searchbox_rtl.png);
}

.footer-copy() when (@lang = en) {
}

.footer-copy() when (@lang = ar) {
  float: right;
  width: 100%;
  margin: 20px 0 0 0;
}

/* tiles animation */
.isotope-item-transition() when (@lang = en) {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

.isotope-item-transition() when (@lang = ar) {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
  -moz-transition-property: right, top, -moz-transform, opacity;
  -ms-transition-property: right, top, -ms-transform, opacity;
  -o-transition-property: right, top, -o-transform, opacity;
  transition-property: right, top, transform, opacity;
}

.show-main-navigation() when (@lang = en) {
  -webkit-transform: translate3d(280px, 0, 0);
  -moz-transform: translate3d(280px, 0, 0);
  -o-transform: translate3d(280px, 0, 0);
  -ms-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.show-main-navigation() when (@lang = ar) {
  -webkit-transform: translate3d(-280px, 0, 0);
  -moz-transform: translate3d(-280px, 0, 0);
  -o-transform: translate3d(-280px, 0, 0);
  -ms-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

.show-main-navigation-ie() when (@lang = en) {
  left: 0px;
}

.show-main-navigation-ie() when (@lang = ar) {
  right: 0px;
}

.show-account-panel() when (@lang = en) {
  -webkit-transform: translate3d(-280px, 0, 0);
  -moz-transform: translate3d(-280px, 0, 0);
  -o-transform: translate3d(-280px, 0, 0);
  -ms-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

.show-account-panel() when (@lang = ar) {
  -webkit-transform: translate3d(280px, 0, 0);
  -moz-transform: translate3d(280px, 0, 0);
  -o-transform: translate3d(280px, 0, 0);
  -ms-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.show-account-panel-ie() when (@lang = en) {
  right: 0;
}

.show-account-panel-ie() when (@lang = ar) {
  left: 0;
}

.move-content-left() when (@lang = en) {
  -webkit-transform: translate3d(-280px, 0, 0);
  -moz-transform: translate3d(-280px, 0, 0);
  -o-transform: translate3d(-280px, 0, 0);
  -ms-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

.move-content-left() when (@lang = ar) {
  -webkit-transform: translate3d(280px, 0, 0);
  -moz-transform: translate3d(280px, 0, 0);
  -o-transform: translate3d(280px, 0, 0);
  -ms-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.move-content-left-ie() when (@lang = en) {
  margin-left: -280px;
  margin-right: 280px;
}

.move-content-left-ie() when (@lang = ar) {
  margin-left: 280px;
  margin-right: -280px;
}

.move-content-right() when (@lang = en) {
  -webkit-transform: translate3d(280px, 0, 0);
  -moz-transform: translate3d(280px, 0, 0);
  -o-transform: translate3d(280px, 0, 0);
  -ms-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}

.move-content-right() when (@lang = ar) {
  -webkit-transform: translate3d(-280px, 0, 0);
  -moz-transform: translate3d(-280px, 0, 0);
  -o-transform: translate3d(-280px, 0, 0);
  -ms-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}

.transform-left() when (@lang = en) {
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

.transform-left() when (@lang = ar) {
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}

.transform-right() when (@lang = ar) {
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -o-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}

.transform-right() when (@lang = en) {
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}

.move-content-right-ie() when (@lang = en) {
  margin-left: 280px;
  margin-right: -280px;
}

.move-content-right-ie() when (@lang = ar) {
  margin-left: -280px;
  margin-right: 280px;
}

.btn-icon-online-position() when (@lang = en) {
  background-position: -60px -50px;
}

.btn-icon-store-position() when (@lang = en) {
  background-position: -10px 0px;
}

.btn-icon-online-position() when (@lang = ar) {
  background-position: 60px -50px;
}

.btn-icon-store-position() when (@lang = ar) {
  background-position: 105px 0px;
}

.purchase-options-item-left() when (@lang = ar) {
  width: 25%;
}

.purchase-options-item-right() when (@lang = en) {
  width: 35%;
}

.purchase-options-item-right() when (@lang = ar) {
  width: 25%;
}

.purchase-options-item() when (@lang = ar) {
  padding-right: 7px;
}

.info-left() when (@lang = ar) {
  left: -36px;
}

.top-button-position() when (@lang = en) {
  right: 160px;
}

.top-button-position() when (@lang = ar) {
  left: 150px;
}

.addaptPaddingRight(@pos) when (@lang = ar) {
  padding-right: @pos;
}

.flip() when (@lang = ar) {
  .transform(scaleX(-1));
}

.flip() when (@lang = en) {
  //
}

[dir="rtl"] {

  p {
    line-height: 20px;
  }

  #footer .copy {
    width: auto;
    font-size: 11px;
  }

  .mainNav .mainNavList .mainItem.withSubmenu .openClose {
    right: auto;
    left: 0;
    border-left: 0 none;
   // border-right: 1px solid #4db8db;
  }

  .iconList li i {
    margin-right: 0;
    margin-left: 10px;
  }

  .accountPane.userLogged .user-info .label {
    font-size: 10px;
  }

  .group.trackTicket label {
    font-size: 1em
  }
  .group.trackTicket .control {
    float: right;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important
  }
  .inline-btn .btn {
    float: right;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important
  }

  .modDials {
    .items {
      //transform: none !important;

    }
  }

  .pull-right {
    float: left !important;
  }

  .pull-left {
    float: right !important;
  }

  input[type="checkbox"].ios-switch {
    & + div {
      &:before {
        content: 'شغل';
        text-indent: -37px;
      }
      &:after {
        content: 'أوقف';
        text-indent: -1px;
      }
    }
  }

  .dials {
    .knob {
      .data {
        .value {
          font-size: 18px;
          span.measure {
            font-size: 10px;
          }
        }
      }
    }
  }

  .hero {
    span {
      font-size: 1.3em;
      line-height: 3em;
      @media(max-width:@screen-sm-max) {
        font-size: 1.2em;
        line-height: 1.7em;
      }
    }
  }

  .current-hint {
    .current-plan-head {
      &:after {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
      }
    }
  }

}

.dir when (@lang = en) {
  direction: ltr !important;
  display: inline-block;
}

.dir when (@lang = ar) {
  direction: ltr !important;
  display: inline-block;
}



.border-right-radius(@px: 0) when (@lang = en) {
    border-bottom-right-radius: @px!important;
    border-top-right-radius: @px!important;
}
.border-right-radius(@px: 0) when (@lang = ar) {
    border-bottom-left-radius: @px!important;
    border-top-left-radius: @px!important;
}





.border-left-radius(@px: 0) when (@lang = en) {
    border-bottom-left-radius: @px!important;
    border-top-left-radius: @px!important;
}
.border-left-radius(@px: 0) when (@lang = ar) {
    border-bottom-right-radius: @px!important;
    border-top-right-radius: @px!important;
}