
/* LESS VARIABLES */



@blu: #0099cc; /* 00afdb */
@darkblu: #0089b7;
@darkerblu: #00205b;
@lightblu: #44b4da;

@pink: #cc3399; /* b63e97 */
@pinkalt: #cc3399; /* c70bac */
@grey: #bbbdbf;
@green: #0c8d12;
@lightgreen: #62bd19;
@orange: #efae29;

@white: #ffffff;
@incrediblylightgray: #fefefe;
@verylightgrey: #f8f8f8;
@lightgrey: #888888;
@mediumgrey: #777777;
@medgrey: #666666;
@darkgrey: #414141;
@bordergrey: #cccccc;
@bordermedgrey: #ddd;

@darkergrey: #323232;

@verydarkgrey: #2e2e2e;
@black: #000000;


@bluHover: #0079b8;
@pinkHover: #990066;
@greyHover: #999999;

/* For page layout - lines, dividers */

@linelightgrey: #e5e5e5;
@linemedgrey: #cbcbcb;
@linedarkgrey: #b7b7b7;

/* categories */

@colorTvmovies: #0e2d6d;
@colorNews: #00afdb;
@colorMusic: #fff;
@colorEvents: #6c1cbc;
@colorGames: #7bc142;

//prototype
// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
@screen-xs: 320px;
@screen-xs-min: @screen-xs;
@screen-xxs-max: (@screen-xs-min - 1);

// Small screen / tablet
@screen-sm: 480px;
@screen-sm-min: @screen-sm;
@screen-xs-max: (@screen-sm-min - 1);

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;
@screen-sm-max: (@screen-md-min - 1);

// Large screen / wide desktop
@screen-lg: 1000px;
@screen-lg-min: @screen-lg;
@screen-md-max: (@screen-lg-min - 1);

// Extra Large screen / wide desktop
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;
@screen-lg-max: (@screen-xl-min - 1);

@screen-ds: 1600px;
@screen-ds-min: @screen-ds;
@screen-xl-max: (@screen-ds-min - 1);



//alerts from du.ae
@green: #66CC33;
@greenback: #EBFFEB;
@greenborder: #66CC33;

@red: #CC0000;
@redback: #FFEBEB;
@redborder: #CC0000;

@yellow: #EFAE29;
@yellowback: #FFFFEB;
@yellowborder: #EFAE29;

@info: #EFEFEF;
@infoback: #EFEFEF;
@infoborder: #BBBDBF;

@textblack: #323434;
@textmedgray: #737474;
@textgray: #808285;
@textred: #cc0000;

@input-background-color: #ffffff;
@input-border-color: #DDDFE2;

@input-border-color-error: #cc0000;
@input-disabled-color: #bbbbbb;
