

#footer {
    clear: both;
    border-top: 1px solid #cbcbcb;
    margin-top:30px;
    padding: 30px 0;
    position: relative;
    overflow: hidden;

    .du {
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .chapterNav {

        li {
            display: block;
        }

        a {
            color: @medgrey;
            display: block;
            .CoHeadlineRegular();
            .link-du;
            font-size: 1.077em;
            line-height: 15px;

            &:hover {
                text-decoration: underline;
            }

            &:active {
                text-decoration: underline;
            }
        }

        br {
            display: none;
        }
    }

    .copy {
        color: @lightgrey;
        .CoHeadlineLightRegular();
        font-size: 0.923em;
        line-height: 15px;
        .floatright();
    }

    @media(max-width:@screen-sm-max) {

        .clearfix();

        .du {
            display: none;
        }

        .chapterNav {
            li {
                font-size: .9em;
                //.margin-left(10px);
                margin: 0 0 15px;

                a {
                    text-decoration: underline;
                }
            }
        }

        .copy {
            text-align: left;
            .floatleft();
            margin-top: 15px;
        }
    }

    @media screen and (min-width: 480px) and (max-width: 767px) {

        .chapterNav {
            li {
                font-size: .9em;
            }
        }
    }

    @media screen and (min-width: 768px) {


        .du {
            .hidden-text();
            background: url(../../images/logo_du_blue.svg) 0 0 no-repeat;
            width: 31px;
            height: 24px;
            position: absolute;
            .posleft(0);
            top: 22px;
        }

        .chapterNav {
            .margin-left(30px);

            li {
                font-size: 1em;
                .floatleft();
                .borderright(@lightgrey);
                padding: 0 4px;

                &:last-child {
                    border: none;
                }
            }
        }

        .copy {
            .margin-left(40px);
            //.footer-copy();
        }
    }

    @media screen and (min-width: 1000px) {

        .chapterNav {
            li {
                font-size: 1em;
                padding: 0 9px;
            }
        }
    }
}
