/* ___________________________________________________________________ */
/* _____________________  CONTENT TOP BAR ____________________________ */
/* ___________________________________________________________________ */


.ie7 .topBar .chapterNav .mainItem .chaptersubNav, .ie8 .topBar .chapterNav .mainItem .chaptersubNav {
    border: 1px solid #ccc;
}


.topBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-bottom: 1px solid #CCC;
    background: #fff;
    z-index: 777;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;
    /* X-CHAPTERS NAVIGATION */
    .chapterNav {
        height: 40px;
        line-height: 40px;
        .posleft(160px);
        padding: 0 15px;
        .floatleft();
        font-size: 1em;
        z-index: 999999;
        display: none;
        clear: both;
        /*text-transform: uppercase;*/
        .mainItem {
            .floatleft();
            background-image: url(../../images/chaptermenu_pipe.png);
            background-repeat: no-repeat;
            .background-position(right, 10px);
            .padding-right(1px);
            position: relative;
            overflow: visible;

            .mainA {
                display: block;
                color: @blu;
                padding: 0 15px;
                /*text-transform: uppercase;*/
                white-space: nowrap;
            }

            &:hover {
                .mainA {
                    color: #b2e7f4;
                }
            }

            &.current {
                display: none;
            }

            &.last-child {
                background: none;
                padding: 0;
            }

            &.sub {
                .mainA {
                    background: url(../../images/arr1_down.png) no-repeat;
                    .background-position(right, top);
                    .padding-right(30px);
                }

                &:hover {
                    .chaptersubNav {
                        display: block;
                    }

                    .mainA {
                        background-image: url(../../images/arr1_up.png);
                    }
                }
            }


            .chaptersubNav {
                position: absolute;
                top: 40px;
                .posleft(0);
                white-space: nowrap;
                z-index: 999999999;
                display: none;
                -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
                box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
                .rounded-corners (7px);

                .subA {
                    display: block;
                    color: @blu;
                    padding: 0 25px;
                    background: #fff;
                    border-top: 1px solid @linelightgrey;

                    &:hover {
                        color: #fff;
                    }
                }

                li:first-child {
                    .subA {
                        .rounded-corners2 (7px, 7px, 0, 0);
                        border-top: none;
                    }
                }

                li:last-child {
                    .subA {
                        .rounded-corners2 (0, 0, 7px, 7px);
                    }
                }

                li:hover {
                    .subA {
                        background: @blu;
                        color: #fff;
                    }
                }
            }
        }

        @media only screen and (min-width: 1000px) {
            display: block;
        }


        .chaptersubNav {
        }
    }
}
/* end topbar */








.topBar .du {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: none;

    a {
        .hidden-text();
        width: 30px;
        height: 30px;
        margin-top: 8px;
        background: url(../../images/logo_du_blue.svg) 0 0 no-repeat;
    }
}


.topBar .toggleMenuPane {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    .posleft(0);
    background: url(../../images/toggle_leftpane.png) top left no-repeat;
    display: none;
    z-index: 99;
    display: none;
}


.topBar .lang-search {
    height: 40px;
    position: absolute;
    top: 0;
    .posright(0);
    clear: both;
    float: left;
    width: 106px;

    .lang {
        display: block;
        background: url(../../images/arabic.png) center 5px no-repeat;
        width: 40px;
        height: 20px;
        margin: 10px 0;
        .floatleft();
        .padding-right(10px);
        .borderright(#ededed);

        &.en {
            background-image: none;
            font-family: 'DuCoHeadlineRegular';
            line-height: 20px;
        }
    }

    .search {
        display: block;
        background: url(../../images/ico_search2.png) center 12px no-repeat;
        width: 40px;
        height: 40px;
        position: relative;
        .floatleft();
        .margin-right(10px);

        .arrow {
            background: transparent url(../../images/searchbox_arr.png) top center no-repeat;
            position: absolute;
            height: 13px;
            left: 0;
            right: 0;
            bottom: -12px;
            display: none;
        }
    }

    @media screen and (min-width: 1000px) {
        .search {
            .arrow {
                display: none;
            }

            &.open {
                .arrow {
                    display: block;
                }
            }
        }
    }
}






.topBar .account {
    height: 40px;
    line-height: 40px;
    display: none;
    .CoHeadlineRegular();
    font-size: 1.1em;
    color: @pink;
    position: absolute;
    top: 0;
    .posright(50px);
}

.topBar .username {
    height: 40px;
    display: none;
    .CoHeadlineRegular();
    line-height: 40px;
    font-size: 1.1em;
    color: @pink;
    background: @verylightgrey;
    .borderleft(@linelightgrey);
    .padding-right(50px);
    .padding-left(10px);
    position: absolute;
    .posright(40px);
    top: 0;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    -ms-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;

    .notification {
        display: none;
    }

    @media screen and (min-width: 1000px) and (max-width: 1169px) {
        .padding-right(20px);

        .name {
            .padding-right(30px);
            position: relative;
            max-width: 60px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;

            .notification {
                border: 1px solid @lightgrey;
                display: block;
                font-size: 10px;
                height: 16px;
                line-height: 16px;
                position: absolute;
                .posright(2px);
                text-align: center;
                top: 11px;
                width: 16px;
                .rounded-corners2(50%,50%,50%,50%);
            }
        }
    }
}


.topBar .toggleAccountPane {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    .posright (0);
    background: url(../../images/toggle.png) top left no-repeat;
    display: none;
    z-index: 99;
    display: none;
}

.topBar .toggleAccountPane.open {
    background-position: top left;
}

.topBar .toggleAccountPane.close {
    background-position: top left;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .topBar {
        position: fixed;
    }

    .topBar .toggleMenuPane {
        display: block;
    }

    .topBar .du {
        display: block;
    }

    .topBar .username, .topBar .account {
        display: none;
    }

    .topBar .lang-search {
        display: none;
    }

    #toggleAccountPane1024 {
        display: none;
    }

    #toggleAccountPane768 {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    .topBar {
        position: fixed;
    }

    .topBar .du {
        display: block;
    }

    .topBar .lang-search {
        display: none;
    }

    .topBar .username {
        display: block;
    }

    .topBar.content-mobile-slide-out-left, .topBar.content-mobile-slide-out-right {
    }

    .topBar .toggleMenuPane {
        display: block;
    }

    #toggleAccountPane1024 {
        display: none;
    }

    #toggleAccountPane768 {
        display: block;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1169px) {
    .topBar {
        .posleft(160px);
    }

    .topBar .toggleMenuPane {
        display: none;
    }

    .topBar .du {
        display: none;
    }

    .topBar .account {
        display: block;
    }

    .topBar .username {
        display: block;
        opacity: 1;
    }

    .topBar .username.hidden {
        opacity: 0;
    }

    .topBar .lang-search {
        .posright(160px);
    }

    #toggleAccountPane1024 {
        display: block;
    }
}

@media screen and (min-width: 1170px) {
    .topBar {
        .posleft(160px);
        .posright(160px);
    }
}


.searchBox {
    position: absolute;
    .posleft(160px);
    top: 41px;
    border-bottom: 1px solid #CCC;
    background: #fff;
    height: 190px;
    z-index: 7777;
    display: none;
   // opacity: 0;
    filter: alpha(opacity=0);
  //  .animated;

    &.searchBoxOpen {
        //.animated;
    }

    &.searchBoxTransform {
       /* -webkit-transform: translate3d(0,-220px,0);
        -o-transform: translate3d(0,-220px,0);
        -moz-transform: translate3d(0,-220px,0);
        -ms-transform: translate3d(0,-220px,0);
        transform: translate3d(0,-220px,0);
        display: block;
        opacity: 1;
        filter: alpha(opacity=100);
        .animated;*/
    }

    &.searchBoxTop {
      /*  top: -220px;
        display: block;
        opacity: 1;
        filter: alpha(opacity=100);
        .animated;*/
    }

    .arrow {
        position: absolute;
        top: -1px;
        width: 41px;
        height: 13px;
        background: url(../../images/searchbox_arr.png) no-repeat 0 0;
    }

    .title {
        margin: 40px auto 20px auto;
        text-align: center;
        color: @darkergrey;
        font-size: 1.9em;
        .CoHeadlineLightRegular();
    }

    .searchFieldset {
        background: url(../../images/searchbox_field.png) 0 0 no-repeat;
        width: 472px;
        height: 43px;
        margin: 0 auto;
        display: block;
    }

    .searchField {
        .floatleft();
        width: 386px;
        margin: 5px 20px;
        height: 33px;
        border: none;
        background: none;
        color: @grey;
        font-size: 1.2em;
        .CoHeadlineRegular();
        line-height: 33px;
    }

    .searchSubmit {
        .floatright();
        background: url(../../images/ico_search3.png) center center no-repeat;
        height: 31px;
        width: 45px;
        border: none;
        .hidden-text;
        cursor: pointer;
        .borderleft();
        margin: 6px 0;
    }

    .close {
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        text-align: center;

        a {
            .newDu();
            color: @darkergrey;
            background: url(../../images/arrow2.png) no-repeat;
            .background-position(right, center);
            padding: 10px 15px;
        }
    }


    @media screen and (min-width: 1000px) {
        .posright(0);

        .arrow {
            .posright(166px);
        }
    }

    @media screen and (min-width: 1170px) {
        .posright(160px);

        .arrow {
            .posright(8px);
        }
    }
    /* Search suggestion box */
    .searchBox .searchFieldset {
        position: relative;
    }

    .suggestionsBox {
        position: absolute;
        top: 126px;
        width: 100%;
        max-width: 472px;
        z-index: 99999;
    }

    .suggestionsBox .arrow {
        background: url("../../images/searchbox_arr_up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        top: 1px;
        left: 15%;
    }

    .suggestionsBox .suggestionList {
        border-radius: 6px;
        box-shadow: 0 0 21px 6px rgba(0, 0, 0, 0.11);
        margin: 13px 0 0;
    }

    .suggestionsBox .suggestionList > ul {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: #f2f2f2 #f2f2f2 #f8f8f8;
        border-image: none;
        border-radius: 6px;
        border-style: solid;
        border-width: 1px 1px 10px;
        list-style: none outside none;
        padding: 0;
    }

    .suggestionsBox .loading-msg.suggestionList > ul, .suggestionsBox .no-result-msg.suggestionList > ul {
        border-color: #f2f2f2 #f2f2f2 #fff;
    }

    .suggestionsBox .suggestionList > ul > li {
        background-color: #f8f8f8;
        border-top: 1px solid #ebebeb;
    }

    .suggestionsBox .suggestionList > ul > li:first-child {
        border-radius: 6px 6px 0 0;
        border-top: 0 none;
    }

    .suggestionsBox h5 {
        border-bottom: 1px solid #ebebeb;
        color: #575757;
        font-family: 'DuCoHeadlineRegular';
        font-size: 14px;
        padding: 15px;
    }

    .suggestionsBox .suggestionList > ul > li > ul {
        background-color: #ffffff;
        list-style: none outside none;
        padding: 0 15px;
    }

    .suggestionsBox .suggestionList > ul > li > ul > li {
        border-bottom: 1px solid #e8e9ea;
        padding: 12px 0;
    }

    .suggestionsBox .suggestionList > ul > li.more {
        font-size: 12px;
        padding: 12px 15px 0;
    }

    .suggestionsBox .suggestionList > ul > li > ul > li:last-child {
        border-bottom: medium none;
    }

    .suggestionsBox .suggestionList > ul > li > ul > li a {
        color: #666;
        font-size: 12px;
        line-height: 16px;
    }

    .suggestionsBox .suggestionList > ul > li > ul > li a b {
        display: block;
        padding: 0 0 3px;
        color: @blu;
    }

    .suggestionsBox .suggestionList > ul > li > ul > li a:hover b {
        text-decoration: underline;
    }

    .suggestionsBox .suggestionList > ul > li.more span.count {
        float: left;
        margin: 7px 0;
        font-size: 14px;
    }

    .suggestionsBox .suggestionList > ul > li.more b {
        color: @blu;
    }

    .suggestionsBox .suggestionList a.btn {
        float: right;
    }

    .suggestionsBox .loading-msg-background {
        background-image: url("../../images/ajax-loader.gif");
        background-position: center 0;
        background-repeat: no-repeat;
        height: 32px;
    }

    .suggestionsBox .suggestionList > ul > li > ul > li div {
        font-size: 12px;
        line-height: 16px;
    }

    .suggestionsBox .loading-msg.suggestionList, .suggestionsBox .no-result-msg {
        display: none;
    }
}

@media screen and (min-width: 1000px) and (min-height: 550px) {
    .topBar, .searchBox {
        position: fixed;
    }
}
