/* GENERAL */

html, body {
  height: 100%;
  width: 100%;
}

body {
  .sansSerif();
  .CoHeadlineRegular();
  .baseFont();
  color: @darkergrey;
}

a {
  color: @blu;
  outline: 0;
}

a:hover {
  color: @lightblu;
}

a:active, a:selected, a:visited {
  border: none;
  outline: none;
  utline: 0;
}

a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

.content {
  a:hover {
    text-decoration: none;
  }
}

/* helpers */
.clear {
  clear: both;
  height: 0px;
  width: 100%;
}

@import "../mixins.less";

@import "framework.structure.less";
@import "framework.top.less";
@import "framework.leftsidebar.less";
@import "framework.rightsidebar.less";
@import "framework.footer.less";
@import "framework.print.less";

/* Animation definition for mobile content */

.content-mobile-slide-out-left {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

}

.content-mobile-slide-out-left-ie {
}

@media screen and (max-width: 999px) {
  .content-mobile-slide-out-left {
    .move-content-left();
  }

  .content-mobile-slide-out-left-ie {
    .move-content-left-ie();
  }
}

.content-mobile-slide-out-right {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.content-mobile-slide-out-right-ie {
}

@media screen and (max-width: 999px) {
  .content-mobile-slide-out-right {
    .move-content-right();
  }

  .content-mobile-slide-out-right-ie {
    .move-content-right-ie();
  }
}

.account-mobile-slide-in {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: all .50s ease-in-out;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -ms-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}

.account-mobile-slide-in-ie {
}

@media screen and (max-width: 999px) {
  .account-mobile-slide-in {
    .show-account-panel();
  }

  .account-mobile-slide-in-ie {
    .show-account-panel-ie();
  }
}

.menu-mobile-slide-in {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: all .50s ease-in-out;
  -moz-transition: all .50s ease-in-out;
  -o-transition: all .50s ease-in-out;
  -ms-transition: all .50s ease-in-out;
  transition: all .50s ease-in-out;
}

.menu-mobile-slide-in-ie {
}

@media screen and (max-width: 999px) {
  .menu-mobile-slide-in {
    .show-main-navigation();
  }

  .menu-mobile-slide-in-ie {
    .show-main-navigation-ie();
  }
}