@media print {
  /* Print CSS rules go here */
  /* Note: You need a separate @media screen group for other rules */
  .container-du {
    padding: 0
  }

  .topBar,
  .mainNav,
  .accountPane {
    display: none !important
  }

  .content,
  .contentIn {
    width: auto !important
  }

  .contentIn .btn {
    display: none
  }

  .seperator {
    display: none
  }

  .back-to-home {
    display: none
  }

  #footer .du {
    float: left;
    position: relative;
    margin: 0
  }

  #footer nav {
    display: none
  }

  #footer .copy {
  }
}