/* _________________________________________________________________________________ */
/* _____________________  RIGHT SIDEBAR > PERSONAL AREA ____________________________ */
/* _________________________________________________________________________________ */

.accountPane {
  z-index: 778;
  width: 159px;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  overflow: hidden;
  .posright(0);
  .borderleft();
  &.hidden {
  }
  &.animate {
  }

  .du-app {
    padding: 15px 8px;
    border-top: 1px solid #fefefe;
    border-bottom: 1px solid #d8d8d8;

    h4 {
      .FontCoHeadlineRegular();
      color: @pink;
    }

    a {
      display: block;
      width: 100%;
      margin-top: 10px;

      img {
        width: inherit;
      }
    }
  }
}

.accountPane.userLogged .user-info {
  display: block !important;
  border-bottom: 1px solid #d8d8d8
}

.iconList {
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #d8d8d8;
  padding: 15px 8px 15px;
}

.iconList li {
  padding: 8px 0
}

.iconList li i {
  margin-right: 10px
}

.iconList li a {
  color: #666
}

.iconList li a:hover {
  text-decoration: underline;
  color: @blu;
}

.iconList [class^="icon-"]:before, .iconList [class*=" icon-"]:before {
  font-size: 20px
}

.group.trackTicket {
  width: auto;
  margin-top: 0;
  border-top: 1px solid #fefefe;
  padding: 20px 8px 0
}

.group.trackTicket label {
  top: auto;
  display: block;
  width: 100%;
  margin: 0 0 5px;
  color: @medgrey
}


.group.trackTicket .control {
  width: 70%;
  float: left;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  font-size: 1em
}

.inline-btn .btn, .inline-btn .btn-info-strong {
  min-width: inherit !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-right: 0 !important;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
}

/* LOGGED USER ____________________________ */

.accountPane.userLogged .welcome {
  color: @pink;
  font-size: 1.9em;
  margin: 41px 8px 10px 8px;
  height: 70px;
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  .CoHeadlineRegular();
}
.accountPane.userLogged .welcome span {
  position: absolute;
  bottom: 0;
  .posleft(0);
  height: 52px;
  max-height: 52px;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;

  small {
    font-size: 18px;
    color: @medgrey;
    //letter-spacing: .03em;
  }

}

.accountPane.userLogged .memberType {
  color: @blu;
  font-size: 1em;
  margin: 0 8px 20px 8px;
  .CoHeadlineRegular();
}

.accountPane.userLogged .memberType .graphics {
  background: url(../../images/graphics.png) 0 0 no-repeat;
  width: 143px;
  height: 11px;
  margin: 0 0 8px 0;
  display: block;
}

.accountPane.userLogged .viewProfile,
.accountPane.userLogged .dashboard {
  margin: 0 8px 8px 8px;
  .btn-info-light();
  width: auto;
  float: none;
  text-align: center;
}

.accountPane.userLogged .viewProfile {
  margin-bottom: 20px;
}

/* accordion menu */
.accountPane.userLogged .menuW {
  height: auto;
  position: relative;
  float: none;
  display: block;
}

.accountPane.userLogged .wrapper {
  position: relative;
}

.accountPane.userLogged .menu {
  border-top: 1px solid #e3e3e3;
  position: relative;
}

.accountPane.userLogged .menu li {
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #e3e3e3;
  height: auto;
  overflow: hidden;
}

/*height:38px;*/
.accountPane.userLogged .menu li .open {
  display: block;
  .animated;
}

.accountPane.userLogged .menu h6 a {
  display: block;
  height: 38px;
  line-height: 38px;
  text-indent: 10px;
  color: @medgrey;
  /*text-transform: uppercase;*/
  background: url(../../images/arrow1_down.png) no-repeat;
  font-size: 0.9em;
  .background-position(right, top);

  &.open {
    background-image: url(../../images/arrow1_up.png);
  }
}

.accountPane.userLogged .menu li.open h6 a {
  background: url(../../images/arrow1_up.png) no-repeat top right;
}

.accountPane.userLogged .menu .menu-content, .accountPane.userLogged .user-info {
  display: none;
  overflow: hidden;

  padding: 0 0 0 0;

  .label {
    font-size: 1em;
    margin: 8px 8px 5px 8px;
    .CoHeadlineLightRegular();
  }
  .price {
    .newDuMedium();
    margin: 10px 8px 0 8px;
    font-size: 1.385em;
    .currency {
      font-size: 0.778em;
      .CoHeadlineLightRegular();
    }
  }
  .paynow {
    width: auto;
    float: none;
    text-align: center;
    margin: 20px 8px 10px 8px;
  }
  .viewbills {
    width: auto;
    float: none;
    text-align: center;
    margin: 10px 8px 20px 8px;
  }

  table {
    width: 100%;
    margin: 10px 0 0
  }
  table td {
    padding: 5px 8px;
    .CoHeadlineLightRegular();
  }

  .services {

    //border-top: 1px solid #d8d8d8;
    .services-link {
      display: block;
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 10px;

      &:last-child, &.last-item {
        border-bottom: none;
      }

      &:hover, &.selected {
        background: #fff;
      }
    }

    div.services-link {
      &:hover, &.selected {
        background: transparent;
      }
    }

    .dt {
      font-size: 13px;
      .newDuBold();
      color: @blu;
      padding: 10px 8px 2px 8px;
      display: block;

      [class^="icon-"]:before, [class*=" icon-"]:before {
        font-size: 16px;
        margin-right: 4px;
      }

    }
    .dd {
      font-size: 13px;
      .newDuMedium();
      color: @medgrey;
      padding: 2px 8px 0 8px;
      display: block;
      //text-indent: 20px;
    }

    .cta-block {
      padding: 10px 0;
    }

  }
}

.linked-accounts {
  .services {
    .dd {
      text-indent: 20px;
    }
  }
}

.accountPane.userLogged .iconList {
  padding-top: 15px
}

/* NOT LOGGED USER ____________________________ */

.accountPane.userNotLogged .loginFieldset {
  padding: 15px 8px 10px 8px;
  border-bottom: 1px solid #e3e3e3
}

.accountPane.userNotLogged .group {
  margin-bottom: 0
}

.accountPane.userNotLogged .loginFieldset .help {
  display: none !important
}

.accountPane.userNotLogged .loginFieldset .loginField1, .accountPane.userNotLogged .loginFieldset .loginField2 {
  padding: 0;
  .rounded-corners;
  border: 1px solid #dedede;
  display: block;
  height: 32px;
  text-indent: 10px;
  font-size: 1.0em;
  margin: 0 0 8px 0;
  color: @grey;
  width: 100%;
  .placeholder();
}

.accountPane.userNotLogged .loginFieldset .error .loginField1, .accountPane.userNotLogged .loginFieldset .error .loginField2 {
  border-color: #C00
}

.accountPane.userNotLogged .loginFieldset .loginField1:focus, .accountPane.userNotLogged .loginFieldset .loginField2:focus {
  color: @darkgrey;
  outline: 0;
  border-color: darken(@input-border-color, 15%);
}

.accountPane.userNotLogged .loginFieldset .loginSubmit {
  float: none;
  text-align: center;
  .margin-right(0);
  width: 100%
}

.accountPane .loginFieldset .btn-quickpay {

    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    float: left;
    line-height: 30px;
    height: 32px;
    min-width: 75px;
    font-size: 1em;
    text-align: center;
  
    width: 100%;
    padding: 0 !important;
    font-family: "DuCoHeadlineRegular",Arial,sans-serif;

    border: 1px solid #dcdee1;
    background: #fff;

    color: #c39 !important;
    margin: 5px 0;
    margin-top: 10px;



}

.news-list {
      border-bottom: 1px solid #dadada;

    padding-bottom: 10px;
    font-family: "DuCoHeadlineLightRegular",Arial,sans-serif;
    color: #2c303a !important;
        padding-left: 10px;
    padding-top: 10px;
    .ucNewsList {
      margin-bottom: 5px;
    }
    .ucNewsList.sidebar .news {
        padding: 0 !important;
    }
    .ucNewsList .news {
        margin-bottom: 10px;
    }
    .ucNewsList .news p {
      margin-bottom: 5px;
    
      max-height: 45px;
      overflow: hidden;
      line-height: 15px;
      font-size: 14px;
   
    font-family: 'DuCoHeadlineLightRegular';
  }
   .dashboard {
  margin: 0 8px 8px 0px;
  .btn-info-light();
  width: auto;
  float: none;
  text-align: center;
}
}

.accountPane.userNotLogged .loginFieldset a:hover {
  color: @lightblu;
}

.accountPane.userNotLogged .loginFieldset .pwreminder, .accountPane.userNotLogged .loginFieldset .newuser {
  clear: both;
  color: @blu;
  display: block;
  padding: 10px 0 0;
  text-align: center;
  text-decoration: none;
  line-height: 110%;
}

.accountPane.userNotLogged .loginFieldset .newuser {
  padding-bottom: 10px
}

.accountPane.userNotLogged .why h6 {
  color: @pink;
  .CoHeadlineBold();
  padding: 0 8px 10px 8px;
  font-size: 1.2em;
}

.accountPane.userNotLogged .why ol {
  list-style-type: decimal;
  padding: 0 30px;
}

.accountPane.userNotLogged .why li {
  padding: 0 0 5px 0px;
}

.accountPane.userNotLogged .promo {
  background-image: url(../../images/ph/banner.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 75px;
  display: block;
  .hidden-text;
}

@media only screen and (max-width: 319px) {
  .accountPane {
    display: none;
  }
}

/* to remove on IE smaller than 320 */

@media only screen and (min-width: 320px) {
  /* SLIDING PANEL */
  .accountPane {
    .posright(-280px);
    width: 280px;
    display: block;

    .shadow {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 10px;
      z-index: 9999999;
      .box-shadow-left-only;
    }

    &.userNotLogged {
      .loginFieldset {
        padding-top: 45px;
        display: block;
      }

      .youraccount {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #ededed;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .label {
          display: block;
          background: none;
          text-indent: 10px;
          width: auto;
          .CoHeadlineRegular();
          font-size: 1em;
          line-height: 40px;
          color: @pink;
        }
      }
    }

    &.userLogged {
      .youraccount {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #ededed;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

        .label {
          display: none;
          background: none;
          text-indent: 10px;
          width: auto;
          font-size: 1em;
          line-height: 40px;
          color: @blu;
          .CoHeadlineRegular();
        }

        .link {
          position: absolute;
          color: @blu;
          .posright(10px);
          top: 0;
          color: @blu;
          height: 40px;
          font-size: 0.75em; /*text-transform: uppercase;*/
          .CoHeadlineRegular();
          line-height: 40px;
          background: url(../../images/xlogout.png) no-repeat;
          .background-position(left, 16px);
          .padding-left(13px);
        }
      }

      .menuW {
        height: auto;
        position: relative;
        display: block;
        overflow: hidden;
      }
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 999px) {
  .accountPane {

    /* ensure animation is also on the way back */
    -webkit-transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    -ms-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;

    &.userLogged {
      .welcome {
        margin-left: 30px;
      }

      .memberType {
        margin-left: 30px;
        margin-right: 30px;
      }

      .user-info {
        padding-left: 22px;
        padding-right: 22px;
      }

      .paynow, .viewProfile, .dashboard {
        mmargin-left: 30px;
        mmargin-right: 30px;
      }

      .iconList {
        padding-left: 25px;
        padding-right: 25px
      }

      .menuW {
        .menu {

          .menu-content .services {
            .dd, .dt {
              padding-left: 28px;
              padding-right: 28px;
            }
          }

          .item {

            h6 {
              margin: 0 20px;
            }

            &:first-child {

              .menu-content {
                margin: 0 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 999px) and (max-width: 1169px) {
  .accountPane.userLogged .welcome {
  }

  .accountPane.userLogged .menuW {
    overflow: auto;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1169px) {
  /* BALOON DROPDOWN */
  .accountPane {
    top: 33px;
    .posright(10px);
    width: 161px;
    height: 499px;
    padding-top: 24px;
    padding-bottom: 47px;
    .padding-right(8px);
    .padding-left(5px);
    border: none;
    background-color: transparent;
    .background-image-accountPane();
    background-position: 0 0;
    background-repeat: no-repeat;

    z-index: 9999999;
    display: none;
  }

  .accountPane .shadow {
    display: none;
  }

  .accountPane.userLogged .welcome {
    margin-top: 10px;
    height: 65px;
  }

  .accountPane.userNotLogged .loginFieldset {
    margin-top: 20px;
    padding-top: 15px;
  }

  .accountPane.userNotLogged .youraccount {
    display: none;
  }

  .accountPane.userLogged .youraccount {
    height: 40px;
    border-bottom: none;
    background: none;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .accountPane.userLogged .youraccount .label {
    display: none;
  }

  .accountPane.userLogged .youraccount .link {
    position: relative;
    .posright(auto);
    top: auto;
    color: @blu;
    height: 40px;
    line-height: 40px;
    text-indent: 13px;
    display: block;
    .margin-left(15px);
  }

  .accountPane.userNotLogged .promo {
    position: absolute;
    bottom: 6px;
    .posleft(5px);
    .posright(8px);
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
  }

  .accountPane.userLogged .menuW {
    height: 280px;
  }

  .accountPane.hidden {
    opacity: 0;
    display: block;
  }

  .accountPane.animate {
    opacity: 1;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    transition: all .50s ease-in-out;
  }
}

@media screen and (min-width: 1000px) and (min-height: 550px) {
  .accountPane {
    position: fixed
  }
}

@media screen and (min-width: 1170px) {
  /* FIXED PANEL */
  .accountPane {
    width: 159px;
    top: 0;
    .posright(0);
    bottom: 0;
  }

  .accountPane .shadow {
    display: none;
  }

  .accountPane.userNotLogged .loginFieldset {
    padding-top: 43px;
  }

  .accountPane.userNotLogged .youraccount {
    height: 40px;
    border-bottom: 1px solid #ededed;
  }

  .accountPane.userNotLogged .youraccount .label {
    background: url(../../images/ico_profile.png) no-repeat;
    .background-position(left, center);
    .padding-left(35px);

    display: block;
    .CoHeadlineRegular();
    color: @pink;
    font-size: 1em;
    line-height: 40px;
  }

  .accountPane.userLogged .youraccount {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ededed;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .accountPane.userLogged .youraccount .label {
    background: url(../../images/ico_profile.png) no-repeat 10px center;
    .hidden-text;
    width: 40px;
    height: 40px;
  }

  .accountPane.userLogged .youraccount .link {
    position: absolute;
    color: @blu;
    .posright(10px);
    top: 0;
    color: @blu;
    height: 40px;
    line-height: 40px;
    font-size: 0.75em; /*text-transform: uppercase;*/
  }


}

.community {
  border-top: 1px solid #fefefe;
  padding: 15px 10px;

  img {
    display: inline-block;
    height: 45px;
    width: auto;
  }

  h3 {
    margin: 0 0 5px;
  }

  p {
    margin-top: 5px;
    a {
      .padding-right(10px);
      position: relative;
      display: inline-block;
      font-family: "DuCoHeadlineRegular", Arial, sans-serif;

      &:after {
        font-family: "duicons";
        content: '\e80e';
        position: absolute;
        .posright(0);
        top: 0;
        .transform(rotate(270deg));

        & when (@lang = ar) {
          .transform(rotate(-270deg));
        }
      }
    }
  }

  @media (min-width: @screen-lg) and (max-width: 1169px) {
    display: none;
  }

}