/* _____________________  LEFT SIDEBAR > DEFAULT MAIN NAVIGATION (DESKTOP > 1000) ____________________________ */

.mainNav {
    width: 160px;
    background: @blu;
    position: fixed;
    top: 0;
    .posleft(0);
    bottom: 0;
    padding: 208px 0 86px 0;
    overflow: visible;
    min-height: 240px;
    height: auto;
    z-index: 1001;
    background-color: @blu;
    background-repeat: repeat-y;
    background-position: 0 0;
    //.background-image-mainNav-1024();
        border-right: 1px solid #007aa3;
    .CoHeadlineRegular();

    &.squashed {
        position: absolute;

        .footer {
            position: relative;
        }
    }
    /* div TITLE */
    .currentdiv {
        .CoHeadlineRegular();
        display: block;
        height: 41px;
        line-height: 41px;
        text-align: center;
        background: @darkblu;
        font-size: 1em;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        margin: 0;
        .margin-right(2px);
        /*text-transform: uppercase;*/
        a {
            color: #fff;
            display: block;
        }

        &.sub {
            span {
                .padding-right(17px);
                background-repeat: no-repeat;
                .background-position(right, center);
                background-image: url(../../images/arr_down.png);
            }
        }


        &.open.sub {
            span {
                background-image: url(../../images/arr_up.png);
            }
        }
    }
    /* LOGO */
    .du {
        width: 100%;
        height: 67px;
        margin: 40px 0 60px;
        background: url(../../images/logo_du_big.svg) no-repeat center center;
        position: absolute;
        top: 40px;
        left: 0;
        z-index: 99;
        a {
            display: block;
            width: 100%;
            height: 67px;
            font-size: 0;
            text-indent: -9999em;
            overflow: hidden;
        }
    }
    /* CHAPTER NAVIGATION  */
    .chapterNav {
        /*text-transform: uppercase;*/
        display: none;
        z-index: 99999;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;

        &.open {
            display: block !important;

            .mainItem {
                display: none;
            }

            .current {
                display: block;

                .mainA {
                    display: none;
                }
            }

            .chaptersubNav {
                border-top: 1px solid #007E9E;
                margin-right: 2px;

                .current {
                    display: none !important;
                }

                .subA {
                    display: block;
                    height: 39px;
                    line-height: 39px;
                    /*border-top: 1px solid #007E9E;*/
                    border-bottom: 1px solid #007E9E;
                    text-align: center;
                    font-size: 0.9em;
                    color: #fff;
                    width: 100%;
                    background-color: #0089B7;

                    &:hover {
                        background-color: #009dc5;
                    }
                }
            }
        }
    }
    /* MAIN NAVIGATION */
    .mainNavList {
        border-top: 1px solid #009dc5;
        border-bottom: 1px solid #4dc7e6;
        margin: 0 0 40px 0;

        .mainItem {
           // height: 38px;
            position: relative;
           // .margin-right(2px);
            border-top: 1px solid #4db8db;
            border-bottom: 1px solid #0089b7;
            .CoHeadlineRegular();
            line-height: 20px;
            white-space: normal;
            //vertical-align: bottom;
            padding: 10px 15px;

            .mainA {
                display: block;
                //text-indent: 20px;
                color: #c5e6f8;
                overflow: hidden;
                font-size: 1.2em;
                height: auto;
                -webkit-text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
                -moz-text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
                text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
            }

            &:hover {
                background: #fffffe;

                .mainA {
                    color: @blu;
                }

                .subNavList {
                    display: block;
                }
            }

            &.selected {
                border-bottom: none;
               // height: 39px;
                //line-height: 39px;
                background-color: @lightblu;

                .mainA {
                    color: #f7f8f8;
                }

                &:hover {
                    .mainA {
                        color: @blu;
                    }
                }
            }



            &.withSubmenu:hover {
                background-color: #fff;
                background-repeat: no-repeat;
                .background-position(right, center);
                .main-menu-arrow();
            }


            &.selected.withoutSubmenu:hover {
                background-color: @lightblu;

                .mainA {
                    color: #f8f8f8;
                }
            }
        }
    }
    /* ______________ */
    /* SUB NAVIGATION */
    /* ______________ */
    .subNavList {
        display: none;
        width: 220px;
        position: absolute;
        .posleft(158px);
        top: 0px;
        z-index: 99999999;
        .rounded-corners(7px);
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);


        .subItem {
            //height: 38px;
            //line-height: 38px;
            border-top: 1px solid #4db8db;
            border-bottom: 1px solid #0089b7;
            background: @blu;

 
            padding-top: 10px;
            margin: 0;
            text-indent: 0;
            padding-left: 15px;
            padding-bottom: 10px;
            padding-right: 5px;
 

            &:hover {
                background-color: #fff;

                a {
                    color: @blu;
                }
            }

            .subA {
                display: block;
               // text-indent: 20px;
                color: #c5e6f8;
                font-size: 1.2em;
                height: 100%;
                -webkit-text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
                -moz-text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
                text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
            }


            &.selected {
                border-bottom: none;
                height: 39px;
                line-height: 39px;
                background-color: @lightblu;

                .subA {
                    color: #f7f8f8;
                }

                &:hover {
                    background-color: #fff;

                    .subA {
                        color: @blu;
                    }
                }
            }
        }
        /* subItem */
        /* SUBMENU WITHOUT HIGHLIGHTS */
        &.withoutHighlight {
            .subItem {
                &:first-child {
                    .rounded-corners2(7px, 7px, 0, 0);
                    border-top: none;
                }

                &:last-child {
                    .rounded-corners2(0, 0, 7px, 7px);
                    border-bottom: none;
                }
            }
        }
        /* SUBMENU WITH HIGHLIGHTS */
        &.withHighlight {
            .padding-right(560px);

            .subItem {
                .borderright(@blu);

                &:first-child {
                    .corners1();
                    border-top: none;
                }

                &:last-child {
                    .corners2();
                    border-bottom: none;
                    border-top: none;
                }

                &:nth-last-child(2) {
                    .corners3();
                    border-bottom: none;
                }
                /* IE9 workaround see below*/
                &.highlight {
                    background: #fff;
                    white-space: normal;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    .posright(0);
                    width: 560px;
                    height: 100%;
                    border-bottom: none;
                    border-right: none;
                    border-left: none;

                    .pic {
                        display: block;
                        .floatleft();
                        .padding-left(10px);

                        img {
                            position: relative;
                            top: -30px;
                        }
                    }

                    .txt {
                        display: block;
                        .floatright();
                        width: 243px;
                        line-height: normal !important;
                        padding: 30px 30px 0 10px;
                    }

                    h4.title {
                        margin: 0 0 10px 0;
                        .CoHeadlineBold(1.2);
                        height: 22px;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        a {
                            color: @darkergrey;
                            font-size: 1.7em;
                        }
                    }

                    .intro {
                        display: block; /* Fallback for non-webkit */
                        display: -webkit-box;
                        max-width: 243px;
                        height: 14px*1.3*4; /* Fallback for non-webkit */
                        margin: 0 auto 15px;
                        font-size: 14px;
                        line-height: 1.3em;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        a {
                            color: @medgrey;
                        }
                    }


                    .ctaBuy {
                        .floatleft();
                    }

                    .ctaInfo {
                        .floatleft();
                    }
                }
            }
        }
    }
    /* subNavList */
    /* SEARCH FIELD */
    .searchWrapper {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 99;
        padding: 0 10px;
        display: none;


        .searchFieldset {
            .rounded-corners (5px);
            background: #009cc6;
            height: 33px;
            -webkit-box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
            box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
            margin:0;
        }

        .searchField {
            background: #009cc6;
            float: left;
            border: none;
            margin: 5px 0 5px 5px;
            height: 23px;
            width: 102px;
            color: #fff;
            .newDu();
            font-size: 1.1em;
        }

        .searchSubmit {
            background: url(../../images/ico_search.png);
            height: 33px;
            width: 33px;
            float: right;
            border: none;
            .hidden-text;
            cursor: pointer;
        }
    }


    .footer {
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 99;
        padding: 0;
        .newDu();
        font-size: 0.9em;
        margin: 50px 0 25px 0;
        color: #fff;
        text-align: center;

        a {
            color: #fff;
            margin: 0 3px;
        }

        a:hover {
            text-decoration: underline;
        }

        .socialMedia {
            padding: 30px 0 0;
        }

        .socialMedia a {
            background-position: 50% 50%;
            background-repeat: no-repeat; /*border:1px solid #fff;border-radius:7px;*/
            display: inline-block;
            height: 28px;
            margin: 0 3px 0 0;
            width: 28px;
            padding: 0 !important;
            color:@white;
        }
        
        [class^="icon-"]::before, [class*=" icon-"]::before {color:@white;font-size:16px}

        .socialMedia a:hover, .socialMedia a:active, .socialMedia a:focus {
            opacity: .7; /*border-color:#ccc*/
        }

        .socialMedia a.facebook {
            background-image: url('../../images/ico/facebook.png');
        }

        .socialMedia a.twitter {
            background-image: url('../../images/ico/twitter.png');
        }

        .socialMedia a.youtube {
            background-image: url('../../images/ico/youtube.png');
        }

        .socialMedia a.linkedin {
            background-image: url('../../images/ico/linkedin.png');
        }
        
    }
}



.ie9 .mainNav .subNavList.withHighlight .subItem {
    border-left: none !important;
    border-right: none !important;
}

.ie9 .mainNav .subNavList.withHighlight .subItem:first-child {
    .rounded-corners2(7px, 0, 0, 0);
}

.ie9 .mainNav .subNavList.withHighlight .subItem:last-child {
    .rounded-corners2(0, 7px, 7px, 0);
}

.ie9 .mainNav .subNavList.withHighlight .subItem:nth-last-child(2) {
    .rounded-corners2(0, 0, 0, 7px);
}

.ie9 .mainNav .subNavList.withHighlight .subItem:hover a {
    .borderright(@blu);
}



@media screen and (max-width: 999px) {
    /* 
 	@import "framework_leftsidebar_mobile.less";

	nested import does not work in dotless - replaced with hardcoded include
*/

    /* _____________________  LEFT SIDEBAR > MAIN NAVIGATION ____________________________ */

    .mainNav {
        background: @blu;
        top: 0;
        bottom: 0;
        padding: 0 0 0 0;
        overflow: visible;
        min-height: 161px;
        height: auto;
        z-index: 1001;
        .CoHeadlineRegular();
        .posleft(-280px);
        overflow: visible;
        position: absolute;
        width: 280px;
        /*min-height:1000px;*/
        /*background: @blu url(../../images/menu_bg_320.png) top right repeat-y; 	*/
        .animated;

        & > .mainNavContainer {
            position: relative;
            height: 100vh;
        }

        nav {
            padding-top: 40px;
        }
        /* div TITLE */
        .currentdiv {
            display: block;
            height: 39px;
            line-height: 39px;
            text-align: center;
            background: @darkblu;
            font-size: 0.9em;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 99;
            border-bottom: 1px solid #007e9e;
            margin: 0;
            .margin-right(0);

            a {
                color: #fff;
                display: block;
                background: none !important;
            }

            span {
                .padding-right(17px);
                .background-position(right, center);
                background-repeat: no-repeat;
                background-image: url(../../images/arr_down.png);
            }

            &.open {
                span {
                    background-image: url(../../images/arr_up.png);
                }
            }
        }

        .shadow {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 10px;
            z-index: 9999999;
            .box-shadow-right-only;
        }
        /* LOGO */
        .du {
            display: none;
        }
        /* CHAPTER NAVIGATION  */
        .chapterNav {
            display: none;
            text-align: center;
            background: @darkblu;
            font-size: 0.9em;
            clear: both;
            position: relative;
            top: auto;


            &.open {
                display: block;

                .mainItem {
                    display: block;
                }


                .chaptersubNav {
                    border: none;

                    .subA {
                        background-color: transparent;
                        font-size: 1em;

                        &:hover {
                            background-color: #009DC5;
                        }
                    }
                }
            }


            li {
                a {
                    color: #fff;
                    display: block;
                    height: 39px;
                    line-height: 39px;
                    border-bottom: 1px solid #007b9a;

                    &:hover {
                        background-color: #009DC5;
                    }
                }
            }

            li.current {
                display: none;
            }

            li.sub {
                .mainA {
                    display: none;
                }
            }

            &.open {
                display: block;
            }
        }



        .mainNavListW {
            position: relative;
            padding: 87px 0 0 0;
            clear: both;
        }
        /* MAIN NAVIGATION */
        .mainNavList {
            margin: 0 0 40px 0;
            border-bottom: 0;
            border-top: 0;

            .mainItem {
                position: relative;
                height: auto;
                .margin-right(0);
                border-top: none;
                border-bottom: none;

                &.selected {
                    height: auto;
                }

                .mainA {
                    display: block;
                    text-indent: 30px;
                    color: #fff;
                    .text-shadow;
                    .CoHeadlineBold();
                }




                &.withoutSubmenu {
                    .mainA {
                        height: 39px;
                        line-height: 39px;
                        font-size: 0.9em;
                        background: @darkblu;
                        /*text-transform: uppercase;*/
                        border-top: 1px solid #0082ae;
                        border-bottom: 1px solid #0089b7;

                        &:first-child {
                            border-top: none;
                        }
                    }

                    &.selected {
                        background-color: @lightblu;
                    }
                }

                &.withSubmenu {
                    .mainA {
                        line-height: 28px;
                        height: 28px;
                        background: @darkblu;
                        font-size: 0.9em;
                        /*text-transform: uppercase;*/
                        cursor: text;
                        border-top: 1px solid #0082ae;
                        border-bottom: 1px solid #0082ae;
                    }

                    &:hover {
                        background-color: transparent;

                        .mainA {
                            color: #fff;
                        }
                    }

                    &.selected {
                        background-image: url(../../images/mainA_bg_selected.png);
                    }
                }
            }
        }
        /* ______________ */
        /* SUB NAVIGATION */
        /* ______________ */
        .subNavList {
            display: block;
            width: 100%;
            position: static;
            z-index: 999999;
            border: none;
            padding: 0;
            background: @blu;
            .posleft(0);
            .rounded-corners(0);
            -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            border-bottom: 1px solid #0089b7;


            .subItem {
                background-color: transparent;
                border-top: 1px solid #4db8db;
                border-bottom: 1px solid #0089b7;
                border-right: none;
                height: 38px;
                line-height: 38px;

                &:last-child {
                    border-bottom: 1px solid #0089b7;
                }

                .subA {
                    display: block;
                    text-indent: 40px;
                    color: #c5e6f8;
                    font-size: 1.2em;
                    height: 100%;
                    .text-shadow;
                }

                &:hover {
                    background: #fff;

                    .subA {
                        color: @blu;
                    }
                }

                &.selected {
                    background: @lightblu;
                    border-bottom: 1px solid @lightblu;

                    .subA {
                        color: #fff;
                    }
                }

                &.highlight {
                    display: none;
                }
            }
            /* subItem */
            /* SUBMENU WITHOUT HIGHLIGHTS */
            &.withoutHighlight {
                .subItem {
                    &:first-child {
                        .rounded-corners(0);
                    }

                    &:last-child {
                        .rounded-corners(0);
                    }
                }
            }

            &.withHighlight {
                .padding-right(0);

                .subItem {
                    border-right: none;

                    &:first-child {
                        .rounded-corners(0);
                        border-top: auto;
                    }

                    &:last-child {
                        .rounded-corners(0);
                        border-bottom: auto;
                        border-top: auto;
                    }

                    &:nth-last-child(2) {
                        .rounded-corners(0);
                        border-bottom: auto;
                    }


                    &.highlight {
                        display: none;
                    }
                }
            }
        }
        /* subNavList */
        /* SEARCH FIELD */
        .searchWrapper {
            left: 0;
            right: 0;
            position: absolute;
            z-index: 99;
            padding: 10px;
            top: 0;
            bottom: auto;
            display: block;


            .searchFieldset {
                height: 33px;
                width: 260px;
                background: url(../../images/searchfieldset.png) 0 0 no-repeat;
            }

            .searchField {
                float: left;
                background: #008caf;
                margin: 5px 0 5px 5px;
                height: 23px;
                line-height: 23px;
                width: 222px;
                color: #fff;
                .newDu();
                font-size: 1.1em;
            }

            .searchSubmit {
                background: url(../../images/ico_search.png);
                height: 33px;
                width: 33px;
                float: right;
                border: none;
                .hidden-text;
                cursor: pointer;
                display: block;
            }

            .lang {
                display: block;
                background: url(../../images/arabic2.png) center 15px no-repeat;
                width: 40px;
                height: 40px;
                float: right;

                &.en {
                    background-image: none;
                    color: #fff;
                    width: auto;
                    .CoHeadlineLightRegular();
                    line-height: 40px;
                    float: left;
                }
            }
        }


        .footer {
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            z-index: 99;
            padding: 25px 10px;
            .newDu();
            font-size: 0.9em;
            margin: 0;
            color: #fff;
            text-align: center;

            .divider {
                display: none;
            }

            a {
                color: #fff;
                text-decoration: underline;
                padding: 15px 30px;
            }
        }
        /* latest changes by huzefa */
        .mainNavList .mainItem {
            /*border-bottom: 1px solid #0089b7;*/
            border-top: 1px solid #4db8db;
            height: 39px;
            padding: 0;
        }

        .mainNavList .mainItem:hover .subNavList {
            display: none;
        }

        .mainNavList .mainItem.open {
            height: auto;
        }

        .mainNavList .mainItem.withoutSubmenu.selected .mainA {
            font-size: 1.2em !important;
            background: #44B4DA !important;
        }

        .mainNavList .mainItem.withSubmenu .mainA, .mainNavList .mainItem.withoutSubmenu .mainA {
            font-size: 1.2em;
            height: 39px;
            line-height: 39px;
        }

        .subNavList {
            position: static;
            top: auto;
            left:auto;
            display: none;
        }

        .mainNavList .mainItem.open .subNavList {
            display: block;
        }

        .mainNavList .mainItem.withSubmenu .openClose {
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            background: transparent url('../../images/accordian-control-white.png') no-repeat 50% 15px;
            width: 39px;
            height: 39px;
            border-left: 1px solid #4db8db;
        }

        .mainNavList .mainItem.open .openClose {
            background-position: 50% -68px;
        }

        .subNavList .subItem .subA {
            .CoHeadlineLightRegular();
            line-height:39px !important;
        }

        .footer {
            position: static;
            font-size: 1em;
        }

        .footer a {
            padding: 15px 0;
        }

        .socialMedia a {
            margin: 0 5px;
        }
    }
}


/*@media screen and (min-width: 1000px) {
 	@import "framework_leftsidebar_desktop.less";
}*/

.phase-2 .socialMedia a {background:none !important}
.phase-2 .mainNav .searchWrapper .lang {background:none !important;color:@white;line-height:40px}