@import "../../variables";
@import "../../mixins";
@import "../../mixins_lang";
.container-du-zinger {
    .alert-message {
        margin-top: -50px;
        background-color: #F9EFCB;
        .defaulttextalign();
        height: 50px;
        transition: .3s ease-out;
        transform: translateY(-100%);
        z-index: 2;
        padding: 0 30px;
        @media (max-width: 767px) {
            padding: 0px;
        }
        padding: 0 30px;
        @media screen and (max-width: 550px) {
            height: 50px;
        }
        p {
            .FontCoHeadlineRegular();
            line-height: 50px;
            display: inline-block;
            @media screen and (max-width: 550px) {
                line-height: 18px;
                max-width: 70%;
                padding-top: 5px;
            }
        }
        img {
            width: 25px;
            height: 25px;
            .margin-right(10px);
            @media (max-width: 767px) {
                .margin-left(10px);
            }
            display: inline-block !important;
            @media screen and (max-width: 550px) {
                vertical-align: baseline !important;
            }
        }
        &-close {
            display: inline-block;
            position: absolute;
            .floatright();
            .posright(15px);
            top: 50%;
            transform: translate3d(0%, -50%, 0);
            cursor: pointer;
            img {
                height: 10px;
            }
        }
        &.show {
            transform: translateY(0);
            margin-top: 40px;
            margin-bottom: -40px;
        }
    }
}
