@import "../../variables";
@import "../../mixins";
@import "../../mixins_lang";
.container-du-zinger {
    @media (max-width: 320px) {
        .container-du.mobile-plan-prepaid .card-item .card-content .you-pay h5 {
            font-size: 12px;
        }
    }
    @media (max-width:1024px) {
        #info {
            max-width: 730px !important;
        }
    }
    @media (max-width:1024px) {
        .du-slider .noUi-pips-horizontal {
            margin-top: 2px;
        }
    }
    @media (min-width: 1025px) and (max-width: 1599px) {
        .plan-cards .isotope .card-item.col-md-4 {
            width: 33%;
        }
        .plan-cards .isotope .card-item.col-md-4 {
            width: 33%;
        }
    }
    .sticky-top .headerWrapper .header-content .txt-box h3 {
        .FontCoHeadlineRegular();
        font-size: 18px;
        @media (max-width: 768px) {
            font-size: 14px;
        }
        .off-value {
            .FontCoHeadlineBold();
        }
    }
    .no-cards-message.show-message {
        line-height: 1.2;
    }
    &.container-du.mobile-plan-prepaid .plan-cards {
        @media (max-width: 767px) {
            transition: padding 0.3s ease-in-out;
            &.offer-padding {
                padding-top: 50px;
            }
        }
        .card-item {
            display: none;
        }
        &.loaded {
            .card-item {
                display: inline-block;
            }
        }
    }
    @media (max-width:767px) {
        .sticky-top .headerWrapper .header-content h3.desktop {
            display: none;
        }
        .sticky-top .headerWrapper .header-content h3.mobile {
            .FontCoHeadlineLightRegular();
        }
    }
    @media (max-width:767px) {
        &.container-du.mobile-plan-prepaid .sticky-top .headerWrapper .header-content {
            width: 70%;
        }
    }
    @media (min-width:767px) {
        .sticky-top .headerWrapper .header-content h3.mobile {
            display: none;
        }
    }
    &.container-du.mobile-plan-prepaid .plan-cards .card-item .card-content .you-pay {
        h5 {
            color: #808285;
            position: relative;
            mark.old-price {
                strike {
                    font-weight: 300;
                    font-size: 36px;
                    @media (max-width: 1024px) {
                        font-size: 30px;
                    }
                }
            }
            strong {
                @media (max-width: 1024px) {
                    font-size: 30px;
                }
            }
        }
    }
    .plan-cards .card-item .card-content .notice.discount {
        .FontCoHeadlineRegular();
        font-size: 13px;
        margin: 0 18%;
        height: 32px;
        top: -32px;
        line-height: 32px;
        padding: 0px;
        text-transform: none;
        letter-spacing: 0.5px;
        border-radius: 8px 8px 0 0 !important;
        @media (max-width: 1024px) {
            margin: 0 10%;
        }
        .icon {
            &:before {
                color: #C524AF;
            }
        }
        @media (max-width: 767px) {
            font-size: 15px;
            margin: 0 15%;
        }
    }
    html.appleios .planDetailsPopup .popupBody {
        display: inline-block;
        overflow: hidden;
    }
    @media (max-width:767px) {
        &.container-du.mobile-plan-prepaid .sticky-top.sticky .plan-filters.fullWidthContainer.show-when-sticky {
            position: fixed;
            left: 0px;
            top: 40px;
        }
    }
    &.container-du.mobile-plan-prepaid .plan-cards .no-cards-message.show-message {
        height: auto;
    }
    .sticky-top .plan-sub-filters a {
        padding: 0px;
    }
    .sticky-top .plan-filters .filter-catg .catg-content {
        padding: 0px;
        .du-slider {
            border: 1px solid #0099cc;
            border-radius: 50px;
            padding: 20px 45px !important;
            .half-round.left,
            .half-round.right {
                display: none;
            }
        }
    }
    .du-slider .noUi-horizontal .noUi-handle:before {
        top: 7px;
        left: 9px;
    }
    @media only screen and (max-width: 767px) {
        &.container-du.mobile-plan-prepaid .plan-cards.innerContainer .prepaidItem0 {
            [dir="rtl"] & {
                border-right: none;
                border-left: 1px solid #09c;
            }
        }
    }
    .du-accordion table tr td:last-child {
        [dir="rtl"] & {
            border: 1px solid #ddd;
            border-left: none;
        }
    }
    @media only screen and (max-width: 990px) {
        .wrap-table {
            overflow-x: auto;
        }
    }
    .planDetailsPopup .popupBody {
        display: inline-block;
        .content {
            display: inline-block;
            height: calc(~"100% - 220px");
            width: 100%;
            @media only screen and (max-width: 767px) {
                height: calc(~"100% - 130px");
            }
        }
    }
    #info .popupBody .content {
        -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    &.container-du.mobile-plan-prepaid .zinger .plan-cards.innerContainer>.container {
        padding: 0 0 20px 0;
        margin-bottom: 50px;
    }
    @media only screen and (max-width: 320px) {
        &.container-du.mobile-plan-prepaid #info.planDetailsPopup .activateButton-info {
            min-width: 140px;
        }
    }
    &.container-du.mobile-plan-prepaid .card-item .card-content .you-pay.only-price h5 {
        min-height: 50px;
        mark {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            white-space: nowrap;
        }
    }
    &.container-du.mobile-plan-prepaid .sticky-top .plan-filters .selection {
        margin-top: 0px;
    }
    @media (max-width: 1199px) and (min-width: 1000px) {
        &.container-du.mobile-plan-prepaid .sticky-top .headerWrapper .header-content .txt-box {
            margin: 25px 0 !important;
        }
    }
    #info .footer .activateButton-info {
        display: none !important;
    }
}
