.container-du-zinger {
    .confirmation {
        display: block;
        background-color: white;
        &-header {
            display: block;
            font-size: 21px;
            color: #78be20;
            margin-bottom: 20px;
            text-align: center;
            .FontCoHeadlineRegular();
            @media (max-width: 767px) {
                font-size: 16px;
                font-weight: 500;
            }
        }
        &-text {
            color: #777777;
            text-align: center;
        }
        &-note {
            display: block;
            background-color: #f9f0c9;
            padding: 10px 40px;
            border-radius: 15px;
            max-width: 66%;
            color: #777777;
            margin: 50px auto 15px auto;
            text-align: center;
            @media (max-width: 767px) {
                max-width: initial;
                padding: 10px 20px;
            }
            strong {
                .FontCoHeadlineBold();
            }
        }
        &-button {
            display: block;
            font-size: 14px;
            font-weight: 700;
            color: white;
            background-color: #0099cc;
            padding: 15px 20px;
            border-radius: 100px;
            margin-top: 50px;
            text-align: center;
            &:hover {
                color: white;
            }
        }
        .icon-ok {
            display: inline-block;
            background-color: #78be20;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            position: relative;
            z-index: 2;
            background-image: url('../../../images/green-check.svg');
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            &:before {
                display: none;
            }
        }
        .form-steps {
            position: relative;
            .form-steps-block {
                padding-bottom: 0px;
            }
            &:after {
                position: absolute;
                top: 60%;
                transform: translate3d(0, -50%, 0);
                border-bottom: 1px solid #cccccc;
                opacity: 0.5;
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}
