@import "../../variables";
@import "../../mixins";
@import "../../mixins_lang";
.container-du-zinger {
    .sticky {
        .existing-plan.plan-filters {
            position: fixed;
            z-index: 9;
            top: 40px;
            .posleft(0px);
            background-color: white;
            padding: 15px 0 !important;
            @media screen and (max-height: 550px) and (min-width: 1000px) {
                top: 0px;
            }
            .upgrade {
                display: none;
                &.normal-pos {
                    display: block;
                }
            }
            .existing-plan-info {
                @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
                    .padding-left(160px);
                }
            }
        }
    }
    .existing-plan {
        &.plan-filters {
            font-size: 14px;
            text-align: center;
            padding: 30px 0 !important;
            @media screen and (max-width: 767px) {
                padding: 15px 0 !important;
                background-color: #f7f7f7 !important;
                & + .arrow {
                    display: none !important;
                }
            }
            @media screen and (max-width: 767px) and (orientation: landscape) {
                padding: 5px 0 !important;
            }
            *.hide {
                display: none !important;
            }
            p {
                color: #777777;
                margin-top: 15px;
                margin-bottom: 0px;
                &:first-of-type {
                    margin-top: 0px;
                }
                @media screen and (max-width: 767px) {
                    margin-top: 10px;
                }
            }
            a {
                margin-top: 15px;
                @media screen and (max-width: 767px) {
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
            }
            .existing-plan-info {
                opacity: 0.0;
                transition: opacity 0.3s ease-out;
                &.show {
                    opacity: 1.0;
                }
                .price {
                    .FontCoHeadlineRegular();
                    font-size: 20px;
                    color: black;
                    border: none;
                    margin-bottom: 0px;
                    border: none !important;
                    @media screen and (max-width: 767px) {
                        margin-bottom: 10px;
                    }
                    @media screen and (max-width: 767px) and (orientation:landscape) {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    &.pink {
                        color: #ce2c9a;
                    }
                    strong {
                        .FontCoHeadlineBold();
                    }
                }
                .description {
                    .FontCoHeadlineRegular();
                    font-size: 15px;
                    color: black;
                    @media screen and (min-width: 768px) {
                        margin-top: 5px;
                    }
                    @media screen and (max-width: 767px) {
                        .FontCoHeadlineLightRegular();
                    }
                    @media screen and (max-width: 767px) and (orientation:landscape) {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                    &.lighter {
                        .FontCoHeadlineLightRegular();
                    }
                }
                .upgrade {
                    .FontCoHeadlineRegular();
                    position: absolute;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    bottom: -120px;
                    font-size: 20px;
                    @media screen and (max-width: 767px) {
                        bottom: -75px;
                        font-size: 18px;
                        display: none;
                    }
                    color: black;
                    width: 100%;
                    &.normal-pos {
                        position: relative;
                        transform: none;
                        left: auto;
                        right: auto;
                        bottom: auto;
                    }
                }
                .offer-price {
                    .FontCoHeadlineRegular();
                    font-size: 15px;
                    color: #ce2c9a;
                    position: relative;
                    strong {
                        .FontCoHeadlineBold();
                    }
                    @media screen and (max-width:767px) {
                        margin-top: 30px;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: calc(100% + 40px);
                            height: 1px;
                            position: absolute;
                            .posleft(-20px);
                            bottom: 35px;
                            background-color: #dddddd;
                        }
                    }
                    @media screen and (max-width: 767px) and (orientation:landscape) {
                        margin-top: 10px;
                        &:before {
                            bottom: 20px;
                        }
                    }
                }
                .offer-button {
                    display: inline-block;
                    background-color: #0099cc;
                    color: white;
                    padding: 10px 50px;
                    border-radius: 50px;
                    @media screen and (max-width: 767px) and (orientation: landscape) {
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }

                    &.cancel-button {
                        background-color: #FFF !important;
                        color: grey !important;
                        border: 1px solid !important;

                    }
                }
            }
        }
        &.plan-cards-container {
            position: relative;
            .upgrade-text,
            .existing-plan-text {
                display: none;
                @media screen and (max-width: 767px) {
                    display: inline-block;
                    .FontCoHeadlineRegular();
                    font-size: 17px;
                    color: black;
                    text-align: center;
                    position: absolute;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    width: 100%;
                    top: 25px;
                    z-index: 99;
                }
            }
            @media screen and (max-width: 767px) {
                .existing-plan-text {
                    .FontCoHeadlineLightRegular();
                    font-size: 14px;
                    color: #777777;
                    top: 15px;
                    display: none;
                }
            }
            &.plan-200 {
                @media screen and (max-width: 767px) {
                    .upgrade-text {
                        top: 35px;
                    }
                    .existing-plan-text {
                        display: inline-block;
                    }
                }
            }
            @media screen and (max-width: 767px) {
                background-color: white;
            }
            .plan-cards {
                @media screen and (max-width: 767px) {
                    background-color: white;
                    padding-top: 60px;
                }
                padding-top: 100px;
                &.less-top-padding {
                    padding-top: 50px;
                    @media screen and (max-width: 767px) {
                        padding-top: 55px;
                    }
                }
                &.default-padding {
                    padding-top: 20px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        .xs-hidden {
            display: none;
        }
    }
    @media screen and (max-width: 767px) {
        #content.zinger.bottom-sticky {
            padding-bottom: 180px;
        }
    }
    @media screen and (max-width: 767px) and (orientation:landscape) {
        #content.zinger.bottom-sticky {
            padding-bottom: 120px;
        }
    }
    #bottom-sticky-plan {
        display: none;
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        border-top: solid 1px #dddddd;
    }
    @media screen and (max-width: 767px) {
        #bottom-sticky-plan {
            &.show {
                display: inline-block;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .sticky-top {
            padding-top: 0px;
            border-top: none;
        }
    }
}
