@import "../../variables";
@import "../../mixins";
@import "../../mixins_lang";
.container-du-zinger {
    .form-login,
    .form-register,
    .form-register-next,
    .form-card {
        position: relative;
        @media (max-width: 767px) {
            position: static;
        }
        .form-border {
            @media screen and (max-width: 767px) {
                border: 1px solid #cccccc;
                padding: 35px 0 10px 0;
                margin: 0px;
                border-radius: 5px;
            }
        }
        .resend-password {
            transition: .3s ease-out;
            float: none;
            @media (max-width: 767px) {
                .FontCoHeadlineLightRegular();
            }
        }
        .error {
            input {
                border-bottom: 2px solid #CC0000;
            }
            .resend-password {
                .floatright();
            }
            .form-card-label,
            .form-login-label,
            .form-register-label {
                color: black;
            }
        }
        &-label {
            display: block;
            .FontCoHeadlineLightRegular();
            @media (max-width: 767px) {
                .FontCoHeadlineRegular();
            }
        }
        form {
            @media screen and (min-width: 971px) {
                padding: 50px 0;
            }
        }
        .credit-card-img {
            position: absolute;
            width: 50px !important;
            .posright(20px);
            .posleft(auto);
            bottom: 20px;
            opacity: 0;
            &.show {
                opacity: 1;
            }
            @media (max-width:767px) {
                width: 30px !important;
            }
        }
        input {
            width: 100%;
            border: none;
            border-bottom: 2px solid #0098cb;
            line-height: 2;
            font-size: 16px;
            margin-bottom: 10px;
            position: relative;
            [dir="rtl"] & {
                direction: ltr;
                text-align: right;
            }
        }
        &-error,
        &-error-password {
            color: #CC0000;
            display: block;
            line-height: 1;
        }
        a.button {
            text-align: center;
            line-height: 48px;
            &:hover {
                color: white;
            }
            &.white {
                &:hover {
                    color: #44b4da;
                }
            }
        }
        button {
            font-size: 16px;
            .FontCoHeadlineRegular();
            cursor: pointer;
            transition: .1s linear;
            border: none;
            &:hover {
                background-color: #44b4da;
            }
        }
        a {
            &.forgot-password {
                display: block;
            }
        }
        &::after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
        }
        .outside {
            @media screen and (max-width: 971px) {
                width: 100%;
            }
        }
        .input-wrapper {
            display: inline-block;
            width: 100%;
            height: 100%;
            position: relative;
            .prefix {
                position: absolute;
                left: 0px;
                right: auto;
                top: 0px;
                transform: translate3d(0%, 0%, 0);
                z-index: 12;
                font-size: 16px;
                height: 44px;
                line-height: 44px;
                color: black;
                direction: ltr;
            }
            input {
                .FontCoHeadlineRegular();
                padding-left: 50px;
                direction: ltr;
                text-align: left;
            }
        }
    }
    @media (max-width:767px) {
        .form-register,
        .form-register-next,
        .form-login,
        .form-card {
            &:after {
                display: none;
            }
        }
    }
    .form-login {
        .button {
            @media screen and (min-width: 520px) {
                float: none;
            }
        }
        a.button {
            @media screen and (min-width: 520px) {
                .floatright();
            }
        }
    }
    .form-register,
    .form-register-next,
    .form-card {
        .button {
            @media screen and (min-width: 520px) {
                .floatright();
            }
        }
        a.button {
            @media screen and (min-width: 520px) {
                float: none;
            }
        }
    }
    .form-card {
        .form-credit-card {
            padding: 20px;
            background-color: #F6F6F6;
            border: 1px solid #ddd;
            border-radius: 20px;
            @media screen and (min-width: 971px) {
                margin: 100px 0;
                border-radius: 20px;
            }
            @media (max-width:767px) {
                margin-bottom: 25px;
            }
            .button {
                width: 70%;
                height: 40px;
                margin: 0;
                line-height: 35px;
                margin-top: 10px;
                @media screen and (min-width: 971px) {
                    .floatright();
                }
            }
            .card-flag {
                width: 55px;
                height: 45px;
                margin: 0 auto;
                margin-top: 5px;
            }
            p {
                margin-bottom: 10px;
                line-height: 19px;
                margin-top: 5px;
            }
        }
    }
    .form-confirmation {
        border: 1px solid #ddd;
        border-radius: 20px;
        margin: 40px 0;
        @media screen and (max-width: 767px) {
            padding: 20px;
            border-radius: 0;
            margin: 15px 0;
        }
        .form-plans {
            text-align: center;
            @media screen and (min-width: 767px) {
                padding: 20px;
            }
            p {
                margin-bottom: 0;
            }
            .data,
            .price {
                font-size: 20px;
                .FontCoHeadlineRegular();
                margin: 10px 0;
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                    margin-bottom: 30px;
                    .FontCoHeadlineBold();
                }
            }
            .price {
                color: #cc3399;
            }
            .bold {
                .FontCoHeadlineBold();
            }
        }
        .form-credit-card {
            margin: 0;
            border: none;
            background-color: #ffffff;
            text-align: center;
            @media screen and (min-width: 767px) {
                border-top: 1px solid #ddd;
                background-color: #F6F6F6;
            }
            @media screen and (max-width: 767px) {
                padding: 0;
                text-align: center;
            }
            p {
                @media screen and (max-width: 767px) {
                    text-align: center;
                }
            }
        }
    }
    .hidden {
        display: none;
    }
    .bold {
        .FontCoHeadlineRegular();
    }
    .form-accept {
        text-align: center;
        margin-bottom: 20px;
        display: inline-block;
        margin-bottom: 50px;
        width: 100%;
        input,
        label {
            display: inline-block;
            width: auto;
            font-size: 16px;
        }
        form {
            padding: 0;
            position: relative;
        }
        .text {
            .padding-left(30px);
            .FontCoHeadlineLightRegular();
            a {
                color: #0099cc;
                .FontCoHeadlineLightRegular();
            }
        }
        input[type=checkbox] {
            display: none;
        }
        label {
            input[type="checkbox"]+.checkbox {
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: white;
                border: 1px solid #0099cc;
                position: absolute;
                right: auto;
                left: auto;
                border-radius: 3px;
            }
            &.error {
                input[type="checkbox"]+.checkbox {
                    border: 1px solid #CC0000;
                }
            }
        }
        label {
            input[type="checkbox"]:checked+.checkbox {
                background-image: url('../../../images/check.png');
                background-color: #0099cc;
                background-size: 15px 13px;
                border: none;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 3px;
            }
        }
    }
    .button {
        background-color: #0099cc;
        display: inline-block;
        width: 230px;
        height: 50px;
        border-radius: 140px !important;
        .FontCoHeadlineBold();
        [dir="rtl"] & {
            margin: 10px 0 10px 10px;
        }
        transition: .1s linear;
        color: #ffffff;
        @media (max-width: 767px) {
            width: 100%;
        }
        &:hover {
            background-color: #44b4da;
            color: white;
        }
        &.white {
            background-color: transparent;
            border: 2px solid #0099cc;
            color: #0099cc;
            &:hover {
                border: 2px solid #44b4da;
                color: #0099cc;
            }
            span {
                color: #0099cc;
            }
        }
        &.prev-button {
            .floatleft();
            .FontCoHeadlineRegular();
            font-size: 16px;
            @media (max-width: 767px) {
                display: none;
            }
            .icon-up {
                display: inline-block;
                transform-origin: center;
                transform: rotate(-90deg);
                font-size: 20px;
                [dir="rtl"] & {
                    transform: rotate(90deg);
                }
                &:before {
                    font-size: 26px;
                }
                @media (min-width:768px) {
                    display: none;
                }
            }
        }
        .small {
            display: none;
            font-size: 14px;
            color: white;
        }
        @media (max-width:767px) {
            .small {
                display: inline-block;
            }
            .large {
                display: none;
            }
        }
        &.next {
            @media(max-width: 767px) {
                position: absolute;
                bottom: 0px;
                margin: 0px;
            }
        }
        &.pink {
            background-color: #cc3399;
            &[disabled] {
                backgorund-color: #777;
                opacity: 0.6;
                &:hover {
                    background-color: #cc3399;
                }
            }
            &:hover {
                background-color: lighten(#cc3399, 10%)
            }
        }
    }
    .no-scroll {
        overflow: hidden;
    }
    input {
        -webkit-appearance: none;
        border-radius: 0px;
    }
    .off-value {
        color: #c724b1;
    }
    ////////////////////////////////////////////////////////////////////////
    .zinger-container {
        position: relative;
        min-height: calc(~"100vh - 250px");
        padding-bottom: 50px;
        margin-bottom: 60px;
        @media (max-width: 1024px) {
            min-height: calc(~"100vh - 260px");
        }
        @media (max-width: 767px) {
            min-height: calc(~"100vh - 230px");
            padding-bottom: 110px; // next button height
        }
        .form-steps {
            text-align: center;
            position: relative !important;
            padding: 50px 0 20px 0;
            @media screen and (max-width: 971px) {
                padding-bottom: 10px;
            }
            @media (max-width:768px) {
                margin: 50px 0;
            }
            @media (max-width:767px) {
                margin: 0px;
                padding: 20px 0;
            }
            &-block {
                @media screen and (min-width: 971px) {
                    padding-bottom: 20px;
                }
                p {
                    color: #0099cc;
                    font-weight: 300;
                    margin: 10px 0;
                    @media (max-width: 767px) {
                        .FontCoHeadlineRegular();
                    }
                }
                .number {
                    border: 1px solid #0099cc;
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                    position: relative;
                    margin: 0 auto;
                    transition: all .1s linear;
                    p {
                        position: absolute;
                        top: 48%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 18px;
                        margin: auto;
                    }
                    &.active {
                        background-color: #0099cc;
                        p {
                            color: #ffffff;
                        }
                    }
                }
            }
            &::after {
                @media screen and (min-width: 971px) {
                    position: absolute;
                    content: '';
                    border-bottom: 1px solid #cccccc;
                    left: 0;
                    right: 0;
                }
            }
            .form-steps-img {
                width: 35px;
                height: 35px;
                margin: 0 auto;
            }
            p.form-steps-active {
                color: #78be20;
            }
        }
        .form-info {
            text-align: center;
            max-width: 68%;
            margin: 0 auto;
            @media screen and (max-width: 768px) {
                max-width: initial;
                margin-bottom: 10vh;
            }
            @media screen and (max-width: 767px) {
                margin-bottom: 25px;
            }
            @media screen and (max-width: 971px) {
                padding: 0 20px;
            }
            h1 {
                font-size: 20px;
                margin-bottom: 20px;
                @media screen and (min-width: 971px) {
                    margin: 20px 0;
                }
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }
            h3 {
                font-size: 15px;
            }
        }
        .form-register {
            form {
                @media(min-width: 768px) {
                    padding-top: 80px !important;
                }
            }
        }
        form {
            label {
                display: inline-block;
                .floatleft();
                margin-bottom: 44px;
                position: relative;
                @media (max-width: 767px) {
                    margin-bottom: 24px;
                }
                width: 100%;
                span[class*='-label'] {
                    line-height: 1.2;
                }
                input {
                    height: 44px;
                }
            }
        }
        .buttons-wrapper {
            display: inline-block;
            width: 100%;
            .floatleft();
            position: absolute;
            left: 0px;
            bottom: 0px;
            @media (max-width: 767px) {
                position: static;
            }
            .next-wrapper {
                display: inline-block;
                .floatright();
                button {
                    .floatright();
                    font-size: 16px;
                    .FontCoHeadlineBold();
                    @media (max-width: 767px) {
                        float: none;
                        .FontCoHeadlineRegular();
                    }
                }
                @media (max-width: 767px) {
                    display: inline-block;
                    .floatright();
                    position: absolute;
                    bottom: 0px;
                    .posleft(0px);
                    background-color: #f7f7f7;
                    width: calc(~'100% + 40px');
                    padding: 20px;
                    margin-right: -20px;
                    margin-left: -20px;
                    border-top: solid 1px #dddddd;
                    border-bottom: solid 1px #dddddd;
                    //////
                    position: fixed;
                    left: 0px;
                    width: 100%;
                    margin: 0px;
                    bottom: 0px;
                    z-index: 9;
                }
            }
        }
        .form-login .buttons-wrapper .next-wrapper {
            .floatleft();
        }
        div[class*="col-"],
        div[class*="form-"] {
            position: static;
        }
        div[class*="pull-"],
        div[class*="push-"] {
            position: relative;
        }
    }
    .zinger-container+#footer {
        border-top: 1px solid #dadada !important;
    }
    [class*='-error'] {
        color: #CC0000;
        display: inline-block;
        float: left;
        [dir="rtl"] & {
            float: right;
        }
        line-height: 1;
        @media (max-width:767px) {
            .FontCoHeadlineLightRegular();
        }
    }
    input::-ms-clear {
        display: none;
    }
    .back-to-prepaid {
        display: none;
        position: relative;
        .padding-left(12px);
        i {
            display: inline-block;
            line-height: 1;
            position: absolute;
            left: 1px;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            height: 20px;
            width: 20px;
            [dir="rtl"] & {
                left: auto;
                right: 1px;
                transform: translate3d(50%, -50%, 0);
            }
            &:before {
                transform: rotate(-90deg);
                line-height: 1;
                font-size: 20px;
                [dir="rtl"] & {
                    transform: rotate(90deg);
                }
            }
        }
        @media (max-width: 767px) {
            display: inline-block;
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input {
        .FontCoHeadlineRegular();
    }
    @media (max-width: 767px) {
        .form-zinger {
            padding-bottom: 50px;
        }
    }
    //// RTL cols support  ///////
    [dir="rtl"] & {
        @media (min-width: 768px) {
            .col-sm-offset-2 {
                margin-right: 16.66666667%;
            }
            .col-sm-offset-3 {
                margin-right: 25%;
            }
        }
        @media (min-width: 1000px) {
            .col-md-push-4 {
                right: 33.33333333%;
            } 
        }
        @media (min-width: 768px) {
            .col-sm-push-2 {
                right: 16.66666667%;
            }
            .col-sm-pull-3 {
                left: 25%;
                right: auto;
            }
        } 
        @media (min-width: 768px) {
            .col-sm-offset-4 {
                margin-right: 33.33333333%;
            }
        }
        @media (min-width: 768px) {
            .col-sm-push-4 {
                right: 33.33333333%;
            }
            .col-sm-push-3 {
                left: 25%;
            }
        }
        @media (max-width: 999px) {
            .col-sm-push-3 {
                right: 25%;
            }
        }
        @media (min-width: 1000px) {
            .col-md-push-3 {
                right: 25%;
            }
        }
        @media (max-width: 767px) {
            .col-xs-push-0 {
                left: auto;
                right: auto;
            }
        }
    }
}