@import "../../variables";
@import "../../mixins";
@import "../../mixins_lang";
.container-du-zinger {
    .popup {
        display: inline-block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        .posleft(0px);
        bottom: 0px;
        z-index: 3;
        transition: background-color 0.3s ease-out;
        z-index: -1;
        opacity: 0.0;
        transition: 0.3s ease-out;
        .popup-container {
            display: inline-block;
            margin: 0 auto;
            background-color: white;
            overflow: hidden;
            text-align: center;
            position: absolute;
            width: 100%;
            .posleft(0px);
            bottom: 0px;
            transform: translate3d(0, 100%, 0);
            transition: 0.3s ease-out;
            box-sizing: border-box;
            padding: 40px 0;
            @media (max-width: 767px) {
                padding: 20px 15px;
            }
            @media (max-width: 767px) and (orientation: landscape) {
                padding: 10px 15px;
                height: 100%;
            }
            .close-popup {
                display: inline-block;
                width: auto;
                height: auto;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 6px;
                cursor: pointer;
                z-index: 99999;
                margin-top: 10px;
                @media (max-width: 767px) and (orientation: landscape) {
                    margin-top: 0px;
                }
                i {
                    font-size: 30px;
                    border: solid 1px #0099cc;
                    border-radius: 50%;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background-color: white;
                    background-image: url('../../../images/zinger/close-icon.svg');
                    background-size: 50%;
                    background-position: center;
                    background-repeat: no-repeat;
                    &:before {
                        display: none;
                    }
                }
                svg {
                    position: absolute;
                    width: 50%;
                    height: 50%;
                    left: 50%;
                    top: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    fill: white;
                }
            }
            .buttons-container {
                h3 {
                    color: #333333;
                    font-size: 21px;
                    margin: 30px 20% 60px 20%;
                    .FontCoHeadlineRegular();
                    @media (max-width: 767px) {
                        font-size: calc(50px/3);
                        margin: 30px 0;
                    }
                    @media (max-width: 767px) and (orientation: landscape) {
                        margin: 10px 0;
                    }
                    @media (max-width: 320px) {
                        font-size: calc(50px/3);
                        margin: 20px 0;
                    }
                    strong {
                        .FontCoHeadlineBold();
                    }
                }
                label {
                    display: inline-block;
                    padding: 20px 5%;
                    width: 100%;
                    border: solid 1px #d7d7d7;
                    border-radius: 15px;
                    .floatleft();
                    .defaulttextalign();
                    font-size: 19px;
                    box-sizing: border-box;
                    color: #0099cc;
                    cursor: pointer;
                    position: relative;
                    .FontCoHeadlineRegular();
                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                    @media (max-width: 767px) and ( orientation: landscape) {
                        padding: 5px 5%;
                    }
                    @media (max-width: 360px) {
                        font-size: 13px;
                    }
                    &.active {
                        border: solid 1px #0099cc;
                        .FontCoHeadlineBold();
                    }
                    .price {
                        display: block;
                        font-size: 15px;
                        color: black;
                        margin-bottom: 5px;
                        @media (max-width: 767px) {
                            margin-bottom: 5px;
                        }
                        strike {
                            .FontCoHeadlineLightRegular();
                        }
                    }
                    &:last-of-type {
                        .margin-right(0px);
                    }
                    input {
                        display: none !important;
                        &:checked + i {
                            background-color: #0099cc;
                            background-image: url('../../../images/zinger/blue-check.svg');
                            background-size: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            &:before {
                                display: none;
                            }
                        }
                    }
                    i {
                        border: solid 1px #0099cc;
                        border-radius: 50%;
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        .posright(20px);
                        top: 50%;
                        transform: translate3d(0, -50%, 0);
                        transition: 0.3s ease-out;
                        &:before {
                            display: inline-block;
                            color: white;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate3d(-50%, -50%, 0);
                            font-size: 16px;
                            transition: 0.3s ease-out;
                            opacity: 0;
                        }
                    }
                }
                .cancellation {
                    display: inline-block;
                    margin-top: 7px;
                    color: #777777;
                    .FontCoHeadlineLightRegular();
                    @media (max-width: 767px) {
                        margin-bottom: calc(70px/3);
                    }
                    @media (max-width: 767px) and (orientation: landscape) {
                        margin-bottom: 10px;
                    }
                }
            }
            .continue {
                a {
                    display: inline-block;
                    font-weight: 700;
                    color: white;
                    background-color: #0099cc;
                    font-size: 16px;
                    padding: 20px 5%;
                    text-align: center;
                    border-radius: 30px;
                    letter-spacing: 0.5px;
                    width: 100%;
                    @media (min-width: 768px) {
                        margin-top: 70px;
                    }
                }
            }
        }
        &.active {
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 9999;
            opacity: 1;
            .popup-container {
                transform: translate3d(0, 0, 0);
            }
        }
        &.show-right {
            .popup-container {
                transform: translate3d(100%, 0, 0);
            }
        }
        &.hide-left {
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 0.0;
            .popup-container {
                transform: translate3d(-100%, 0, 0);
            }
        }
        &.hide-bottom {
            background-color: rgba(0, 0, 0, 0.2);
            opacity: 0.0;
            .popup-container {
                transform: translate3d(0%, 100%, 0);
            }
        }
    }
    #phonebalance-subscribe-popup .container {
        h3 {
            margin-top: 20px;
            @media (max-width: 767px) and (orientation: landscape) {
                margin-top: 5px;
            }
        }
        p {
            font-size: 18px;
            @media(max-width: 767px) {
                font-size: 16px;
            }
            @media(max-width: 320px) {
                font-size: 14px;
            }
        }
        strong {
            .FontCoHeadlineBold();
        }
        .price {
            display: block;
            color: #c724b1;
            font-size: 14px;
            margin-top: 10px;
            .FontCoHeadlineRegular();
            strong {
                font-size: 26px;
                font-weight: 300;
                .FontCoHeadlineBold();
                @media (max-width: 767px) {
                    .FontCoHeadlineRegular();
                }
            }
        }
        img {
            width: 80%;
            margin: 20px auto;
            @media (max-width: 767px) and (orientation: landscape) {
                width: auto;
                height: 50vh;
                margin: 10px auto;
            }
        }
    }
    #error-popup {
        h3 {
            color: black;
            margin-bottom: 30px;
            font-weight: 800;
        }
        .try-again {
            display: inline-block;
            font-weight: 700;
            color: white;
            background-color: #0099cc;
            font-size: 16px;
            padding: 18px 5%;
            text-align: center;
            border-radius: 30px;
            letter-spacing: 0.5px;
            width: 100%;
            margin-top: 50px;
        }
    }
    #subscription-offer-popup {
        @media (min-width: 768px) {
            display: none;
        }
        .popup-container {
            padding: 0px;
            .close-popup {
                position: absolute;
                left: 50%;
                top: 20px;
                transform: translate3d(-50%, 0, 0);
            }
            img {
                width: 100%;
            }
            .text {
                position: absolute;
                top: 50%;
                transform: translate3d(0, -40%, 0);
                border-left: 6px solid #c724b1;
                padding: 20px 15px;
                background-color: white;
                width: 60%;
                border-radius: 0 5px 5px 0;
                .defaulttextalign();
                color: #00a9ce;
                font-size: calc(58px/3);
                line-height: 1.3;
                .FontCoHeadlineRegular();
                @media (max-width: 767px) and (orientation: landscape) {
                    top: 30%;
                }
                .off-value {
                    .FontCoHeadlineBold();
                }
                [dir="rtl"] & {
                    border-left: none;
                    border-right: 6px solid #c724b1;
                }
            }
        }
    }
    .popup * {
        box-sizing: border-box;
    }
    #content.zinger {
        background-color: white;
    }
    #activate.planSubscribePopup {
        display: inline-block;
        width: 100%;
        height: 400px;
        .posleft(0px);
        bottom: 0px;
        transform: translate3d(0, 0, 0);
        .close-reveal-modal {
            position: absolute;
            .posleft(50%);
            top: 20%;
        }
    }
}
